@import './src/assets/_config'; // import shared colors etc.


.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;

  .image {
    flex: 1 1 40%;
    margin-right: 46px;
    .illustration {
      display: block;
      margin: 0 auto;
      max-width: 13rem;
      pointer-events: none;
    }
  }

  .text {
    .lead {
      font-weight: 500;
    }
  }

}

.channel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 18px;

  .info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .image {
      --size: 60px;
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      overflow: hidden;
      margin-right: 16px;
      position: relative;
      img {
      @extend %image-center-cover;
      position: absolute;
      top: 0;
      left: 0;
      }
  }
  .name {
      font-size: 16px;
      font-weight: 500;
      margin: 0;
  }
}

.status-wrap {
  text-align: right;
}
.status {
  background: var(--bg);
  border-radius: 4px;
  text-align: center;
  color: var(--text);
  text-transform: uppercase;
  font-weight: 500;
  padding: 7px 18px 7px 10px;
  display: inline-block;
  margin-top: 0;
  position: relative;
  &::before { // status' "arrow" shape
    content: '';
    display: block;
    width: 0;
    height: 0;
    top: 0;
    left: -27px;
    border: 14.5px solid var(--bg);
    border-color: transparent var(--bg) transparent transparent;
    position: absolute;
  }
}
