@import "./src/assets/_config"; // import shared colors etc.

// ------ LAYOUT ------ //

.container-block {
  position: relative;
  //margin-top: $header-main-height;
  padding: 35px;
  display: flex;
  @include break(l) {
    padding: 45px 50px;
  }
}

.column {
  flex: 1 1 50%;
  &:last-of-type {
    margin-left: 35px;
  }
}

.action-buttons {
  padding: 0 35px 35px;
  @include break(l) {
    padding: 0 45px 50px;
  }
}


// ------ UI ------ //

.hero-block { // intro text
  @extend %disable-select;
  margin-top: $header-main-height;
  padding: 42px 35px;
  background: rgba($color-white, 0.6);
  border-bottom: 1px dashed $bg-shadow;
  @include break(l) {
    padding: 54px 50px;
  }
  .title {
    font-size: 24px;
    margin-bottom: 14px;
  }
  p {
    font-size: 13px;
    line-height: 1.45;
    color: mix($text, $text-muted);
    &.widget-help {
      font-size: inherit;
      color: $text-muted;
      margin-bottom: 0;
    }
  }
}

mat-card {
  margin-bottom: 20px;
  .title { // box titles
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 24px;
    small {
      color: $text-muted;
      font-weight: 500;
      margin-left: 6px;
    }
    .mat-button {
      float: right;
      margin: -6px -12px 0 0;
    }
  }
  p:not(.widget-help) {
    line-height: 1.6;
  }
}

.item { // voting/author item
  display: flex;
  .no { // ^'s number
    flex: 0 0 24px;
    width: 24px;
    height: 24px;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    border: 1px solid $bg-shadow;
    border-radius: 50%;
    margin-top: 8px;
  }
  .content {
    flex: 1 1 100px;
    margin-left: 20px;
  }
}


// ------ SPECIFIC ------ //

// Terms & Conditions
.terms {
  ul {
    margin: 16px 0;
    padding: 0 0 0 28px;
    line-height: 1.6;
    color: mix($text, $text-muted);
  }
}