<div class="container-block without-tab-bar">
  <div class="page-intro">
    <h1>New Community Proposal</h1>
    <div class="content">
      <p>
        Submit a proposal on the Particl network for the community to vote on.<br>
        Proposals can include: suggestions for features, community-led initiatives, partnership opportunities, protocol improvement ideas, and much more.
      </p>
      <p class="widget-help">
        Keep in mind that each Proposal fee costs depends on the content size to submit and that voting results do not guarantee implementation from the Particl team.
      </p>
    </div>
  </div><!-- .page-intro -->

  <div class="row" [formGroup]="proposalFormGroup">

    <div class="column">

      <mat-card>
        <div class="title">Proposal details</div>

        <mat-form-field class="full-width">
          <input matInput #title placeholder="Proposal's title" formControlName="title">
          <mat-hint align="end">{{ title.value?.length || 0 }} / 50</mat-hint>
        </mat-form-field>

        <mat-form-field class="full-width">
          <textarea matInput #description rows="25" placeholder="Description" formControlName="description"></textarea>
          <mat-hint align="end">{{ description.value?.length || 0 }} / 2000</mat-hint>
        </mat-form-field>

        <p class="widget-help">
          Objectively describe your proposal in detail; explain what to change, how to do it and why.
        </p>
      </mat-card>

      <!-- <mat-card>
        <div class="title TO_DO">Voting period</div>
        <p>
          Specify when will the proposal be active for voting:
        </p>
        <div class="voting-period">
          <!- TODO: populate the "voting-starts" input with: <current block> + 2000 (~ 3 days in future) ->
          <!- TODO: implement "min" attribe which should be equal to current block (= can't submit new proposal retroactively) ->
          <mat-form-field class="half-width">
            <input matInput type="number" placeholder="Voting starts on block #" formControlName="voting-starts">
          </mat-form-field>
          <mat-form-field class="half-width voting-length" floatPlaceholder="never">
            <mat-select placeholder="Voting period">
              <mat-option value="9500">9500 blocks (~ 2 weeks)</mat-option>
              <mat-option value="20000">20000 blocks (~ 1 month)</mat-option>
              <mat-option value="40000">40000 blocks (~ 2 months)</mat-option>
              <mat-option value="60000">60000 blocks (~ 3 months)</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <p class="widget-help">
          Note: 1 day equals to approx. 670 blocks. Current block: <strong class="TO_DO">XXXXXX</strong>
        </p>
      </mat-card> -->

    </div><!-- .column -->


    <div class="column">

      <mat-card>
        <div class="title">
          Voting options
          <button [disabled]="proposalFormGroup.controls.options['length'] >= 5" (click)="addNewInputField()" mat-button color="basic" class="small">
            <!-- TODO: allow max of 5 options total -->
            <mat-icon fontSet="partIcon" fontIcon="part-circle-plus"></mat-icon>
            Add new option
          </button>
        </div>

        <!-- voting options -->
        <div formArrayName="options">
          <div class="voting item" [formGroupName]="i"
          *ngFor="let option of proposalFormGroup.controls.options['controls']; let i = index">
            <span class="no">{{i+1}}</span>
            <div class="content">
              <mat-form-field class="full-width">
                <input matInput placeholder="Option #{{i+1}}" formControlName="option" maxlength="50">
                <mat-hint align="end">{{ option.value?.option?.length || 0 }} / 50</mat-hint>
              </mat-form-field>
            </div>

            <!-- remove button only visible from 3rd option -->
            <div class="remove-option" *ngIf="i > 1">
              <button (click)="removeInputField(i)" mat-button class="small" color="warn" matTooltip="Remove option" matTooltipPosition="before">
                <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
              </button>
            </div>
          </div>
        </div>
        <!-- voting options -->

        <p class="widget-help">
          Add a minimum of 2 voting options for your proposal. In this case, less is usually more. As such, we recommend a maximum of 5 voting options to be added.
        </p>
      </mat-card>

      <!-- <mat-card [formGroup]="infoFormGroup">
        <div class="title">
          Contact information <small>(optional)</small>
          <button mat-button color="basic" class="small TO_DO">
            <mat-icon fontSet="partIcon" fontIcon="part-person-add"></mat-icon>
            Add contributor
          </button>
        </div>

        <div class="author item TO_DO">
          <span class="no">1</span>
          <div class="content">
            <mat-form-field class="full-width">
              <input matInput placeholder="Your name/nickname" formControlName="nickname">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Your Riot/Discord/Github username or an email address" formControlName="email">
            </mat-form-field>
          </div>
        </div>

        <!- FIXME: when clicked on [Add countributor] button, add these: ->
        <!-div class="author item">
          <span class="no">2</span>
          <div class="content">
            <mat-form-field class="full-width">
              <input matInput placeholder="Contributor's name/nickname" formControlName="?????">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Contibutor's Riot/Discord/Github username or an email address" formControlName="?????">
            </mat-form-field>
          </div>
        </div->

        <p class="widget-help">
          Including your contact information is optional, but it can help when discussing submitted proposals. For example, users might have unanswered questions or improvements regarding your proposal.
        </p>
      </mat-card> -->

      <mat-card class="terms">
        <div class="title">Terms &amp; Conditions</div>
        <ul>
          <li>Proposal fee costs depends on the content size of the Proposal</li>
          <li>Fees are non-refundable</li>
          <li>Fees are distributed to network staking nodes</li>
          <li>Voting results do not represent any form of finality</li>
          <li>Proposals may still be denied even though they were voted in favour of, and vice versa</li>
        </ul>
        <mat-checkbox (change)="isTnCAccepted = !isTnCAccepted">Yes, I understand &amp; agree</mat-checkbox>
      </mat-card>

    </div>


  </div><!-- .container-block -->

</div><!-- .container-block -->



<div class="action-buttons" fxLayout fxLayoutAlign="space-between center">
  <!-- FIXME: this buttons should discard changes and redirect user back to Proposals page -->
  <button mat-button color="basic" (click)="backToProposals()">
    <mat-icon fontSet="partIcon" fontIcon="part-error"></mat-icon>
    Cancel &amp; Discard
  </button>
  <!-- FIXME: button disabled until user checks Terms & Conditions checkbox -->
  <button
    [disabled]="(
      !isTnCAccepted ||
      !proposalFormGroup.valid
    )"
    mat-raised-button
    color="primary"
    (click)="submitProposal()"
    matTooltip="Submit new proposal to Particl users">
    <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
    Submit new Proposal
  </button>
</div>
