@import './src/assets/_config'; // import shared colors etc.
@import './src/app/modals/_confirmations-shared'; // shared stuff for confirmation modals


// ------ LAYOUT ------ //

// ALPHA WARNING
p.alpha {
  margin: -20px -15px 24px !important;
  text-align: left;
  line-height: 1.4;
}
