<div mat-dialog-title>Confirm transaction</div>
<button class="small-close-button pull-right" (click)="dialogClose()">
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>

<div mat-dialog-content class="dialog-content">

  <!-- TODO: show on alpha mainnet only: -->
  <p class="alpha warning" *ngIf="isPrerelease">
    <strong>Warning:</strong> you are about to <strong>spend real PART coins</strong> in this order on development version of Particl Marketplace. Bugs may occur &amp; your payment might get lost &ndash; continue on your own risk!
  </p>

  <!-- Bid confirmation-->
  <div class="tx-confirmation">
    <div class="tx-info">
      <!-- if public -->
      <div class="public">
        <mat-icon class="icon public" fontSet="partIcon" fontIcon="part-cart"></mat-icon>
        <div class="title">You're buying</div>
        <p class="help-text">
          Seller accepted your bid &ndash; pay for your order
        </p>
      </div>
    </div>

    <div class="tx-amount">
      <span  class="big">{{ bidItem?.listing?.totalAmount(country)?.getIntegerPart() }}</span><span class="point">{{ bidItem?.listing?.totalAmount(country)?.dot() }}</span><span class="small">{{ bidItem?.listing?.totalAmount(country)?.getFractionalPart() }}</span>&ensp;
      <span class="currency">PART</span>
      <!-- TODO: until fiat estimations are implemented, hide them -->
      <div class="fiat">&asymp; 3.42 USD</div>
    </div>
    <mat-icon class="icon arrow" fontSet="partIcon" fontIcon="part-arrow-down"></mat-icon>

    <div class="receiver-info">
      <div class="label">{{ bidItem?.listing?.title }}</div>
      <code class="address">{{ bidItem?.OrderItem?.Order?.seller }}</code>
    </div>

    <p class="fee-info">
      <!-- Transaction fee:<span class="amount">11 PART</span><span class="fiat">&asymp; 0.05 USD</span><br> -->
      Listing price:<span class="amount">{{ bidItem?.listing?.basePrice?.getIntegerPart() }}{{ bidItem?.listing?.basePrice?.dot() }}{{ bidItem?.listing?.basePrice?.getFractionalPart() }} PART</span><span class="fiat">&asymp; 0.05 USD</span><br>

      Shipping:<span class="amount">{{ bidItem?.listing?.shippingAmount(country)?.getIntegerPart() }}{{ bidItem?.listing?.shippingAmount(country)?.dot() }}{{ bidItem?.listing?.shippingAmount(country)?.getFractionalPart() }} PART</span><span class="fiat">&asymp; 0.05 USD</span><br>

      Escrow:<span class="amount">{{ bidItem?.listing?.escrowAmount(country)?.getIntegerPart() }}{{ bidItem?.listing?.escrowAmount(country)?.dot() }}{{ bidItem?.listing?.escrowAmount(country)?.getFractionalPart() }} PART</span><span class="fiat">&asymp; 0.05 USD</span><br>

      Total amount:<span class="amount">{{ bidItem?.listing?.totalAmount(country)?.getIntegerPart() }}{{ bidItem?.listing?.totalAmount(country)?.dot() }}{{ bidItem?.listing?.totalAmount(country)?.getFractionalPart() }} PART</span><span class="fiat">&asymp; 3.47 USD</span>
    </p>

    <p class="escrow-info">
      Note: Escrow funds will be returned to you after the order is successfully completed and delivered.
    </p>

  </div>


</div><!-- .dialog-content -->

<mat-dialog-actions fxLayoutAlign="space-between center">
  <button mat-button mat-dialog-close (click)="dialogClose()">
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="confirm()">
    <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
    Confirm &amp; Buy
  </button>
</mat-dialog-actions>
