<mat-tab-group class="payment-method-tabs" (selectedTabChange)="changeTab($event.index)" [selectedIndex]="selectedTab">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon fontSet="partIcon" fontIcon="part-cryptocurrency-particl"></mat-icon>
      Pay with PART
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon fontSet="partIcon" fontIcon="part-cryptocurrency-bitcoin"></mat-icon>
      Pay with BTC/alts
    </ng-template>
  </mat-tab>
</mat-tab-group>

<button class="small-close-button in-tab-bar pull-right" (click)="dialogClose()">
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>


<!-- Pay with Particl -->
<div mat-dialog-content class="dialog-content" *ngIf="tabLabels[selectedTab] === 'pay-with-part'">

  <!-- TODO: show on alpha mainnet only: -->
  <p class="alpha warning" *ngIf="isPrerelease">
    <strong>Warning:</strong> you are about to <strong>spend real PART coins</strong> on this order on an ongoing development version of Particl Marketplace. Bugs may occur &amp; your payment might get lost &ndash; continue on your own risk!
  </p>

  <!-- Bid confirmation-->
  <div class="tx-confirmation">
    <div class="tx-info">
      <!-- if public -->
      <div class="public">
        <mat-icon class="icon public" fontSet="partIcon" fontIcon="part-cart"></mat-icon>
        <div class="title">You're buying</div>
        <p class="help-text">
          Seller accepted your bid &ndash; pay for your order
        </p>
      </div>
    </div>

    <div class="tx-amount">
      <span  class="big">{{ bidItem?.PricingInformation(country)?.total?.particlStringInteger() }}</span><span class="point">{{ bidItem?.PricingInformation(country)?.total?.particlStringSep() }}</span><span class="small">{{ bidItem?.PricingInformation(country)?.total?.particlStringFraction() }}</span>&ensp;
      <span class="currency">PART</span>
      <!-- TODO: until fiat estimations are implemented, hide them -->
      <div class="fiat">&asymp; 3.42 USD</div>
    </div>
    <mat-icon class="icon arrow" fontSet="partIcon" fontIcon="part-arrow-down"></mat-icon>

    <div class="receiver-info">
      <div class="label">{{ bidItem?.ListingItem?.ItemInformation?.title }}</div>
      <code class="address">{{ bidItem?.OrderItem?.Order?.seller }}</code>
    </div>

    <div class="contact-info">
      <div class="subtitle">Shipping contact info</div>
      <p>Seller's shipping method may need you to supply your contact information for successful delivery. If you are comfortable providing this information, please provide it below</p>
      <div class="row" fxLayout fxLayoutGap="20px">
        <div class="half" fxFlex="50%">
          <mat-form-field class="full-width no-top-padding">
            <input type="tel" matInput placeholder="Telephone number" name="phone" [(ngModel)]="contactDetails.phone" #phone="ngModel" maxlength="30">
          </mat-form-field>
        </div>
        <div class="half" fxFlex="50%">
          <mat-form-field class="full-width no-top-padding">
            <input type="email" matInput placeholder="E-mail address" name="email" [(ngModel)]="contactDetails.email" #email="ngModel" email maxlength="255" />
          </mat-form-field>
        </div>
      </div>
    </div>

    <p class="fee-info">
      <!-- Transaction fee:<span class="amount">11 PART</span><span class="fiat">&asymp; 0.05 USD</span><br> -->
      Listing price:<span class="amount">{{ bidItem?.PricingInformation(country)?.base?.particlStringInteger() }}{{ bidItem?.PricingInformation(country)?.base?.particlStringSep() }}{{ bidItem?.PricingInformation(country)?.base?.particlStringFraction() }} PART</span><span class="fiat">&asymp; 0.05 USD</span><br>

      Shipping:<span class="amount">{{ bidItem?.PricingInformation(country)?.shipping?.particlStringInteger() }}{{ bidItem?.PricingInformation(country)?.shipping?.particlStringSep() }}{{ bidItem?.PricingInformation(country)?.shipping?.particlStringFraction() }} PART</span><span class="fiat">&asymp; 0.05 USD</span><br>

      Escrow:<span class="amount">{{ bidItem?.PricingInformation(country)?.escrow?.particlStringInteger() }}{{ bidItem?.PricingInformation(country)?.escrow?.particlStringSep() }}{{ bidItem?.PricingInformation(country)?.escrow?.particlStringFraction() }} PART</span><span class="fiat">&asymp; 0.05 USD</span><br>

      Total amount:<span class="amount">{{ bidItem?.PricingInformation(country)?.total?.particlStringInteger() }}{{ bidItem?.PricingInformation(country)?.total?.particlStringSep() }}{{ bidItem?.PricingInformation(country)?.total?.particlStringFraction() }} PART</span><span class="fiat">&asymp; 3.47 USD</span>
    </p>

    <p class="escrow-info">
      Note: Escrow funds will be returned to you after the order is successfully completed and delivered.
    </p>

  </div>


</div><!-- .dialog-content (pay with PART) -->

<mat-dialog-actions fxLayoutAlign="space-between center">
  <button mat-button mat-dialog-close (click)="dialogClose()">
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="primary" appDebounceClick (debounceClick)="confirm()" [disabled]="processing" *ngIf="tabLabels[selectedTab] === 'pay-with-part'">
    <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
    Confirm &amp; Buy
  </button>
</mat-dialog-actions>


<!-- Pay with BTC/alts -->
<div mat-dialog-content class="dialog-content exchange" *ngIf="tabLabels[selectedTab] === 'pay-with-btc-alts'">
  <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <!-- Overwrite default Stepper icons: https://material.angular.io/components/stepper/overview#overriding-icons -->
    <!--ng-template matStepperIcon="edit">
      <custom-icon>
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-check"></mat-icon>
      </custom-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
      <custom-icon>
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-pen-1"></mat-icon>
      </custom-icon>
    </ng-template-->
    
    <mat-step><!-- [stepControl]="firstFormGroup" -->
      <form><!-- [formGroup]="firstFormGroup" -->
        <ng-template matStepLabel>Currency</ng-template>
        <div class="tx-info">
          <div class="title">Select your currency</div>
          <p class="widget-help">
            Pay your order effortlessly with your favourite cryptocurrencies &ndash; select a coin for payment:
          </p>
        </div>

        <mat-radio-group class="select-coin block-radio" fxLayout="column" fxLayoutGap="10px">
          <mat-radio-button value="btc" checked="checked" color="primary">
            <div class="name">Bitcoin <span class="ticker">(BTC)</span></div>
          </mat-radio-button>
          <mat-radio-button value="eth" color="primary">
            <div class="name">Ethereum <span class="ticker">(ETH)</span></div>
          </mat-radio-button>
          <mat-radio-button value="ltc" color="primary">
            <div class="name">Litecoin <span class="ticker">(LTC)</span></div>
          </mat-radio-button>
          <mat-radio-button value="dcr" color="primary">
            <div class="name">Decred <span class="ticker">(DCR)</span></div>
          </mat-radio-button>
        </mat-radio-group>
        <mat-checkbox>Remember this choice (can be changed later)</mat-checkbox>

        <!-- [01] these `mat-dialog-actions` would be ideal _below_ this whole `.mat-dialog-content` div - that's their proper placement. BUT since they need to be inside of the `mat-step` to work (I assume), I needed to put them here. If you find a way put it back, that would be great :) -->
        <mat-dialog-actions fxLayoutAlign="space-between center">
          <button mat-button mat-dialog-close (click)="dialogClose()">
            <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
            Cancel
          </button>
          <button mat-raised-button color="primary" matStepperNext>
            <mat-icon fontSet="partIcon" fontIcon="part-arrow-right"></mat-icon>
            Next
          </button>
        </mat-dialog-actions>
      </form>
    </mat-step>

    <mat-step><!-- [stepControl]="secondFormGroup" -->
      <form><!-- [formGroup]="secondFormGroup" -->
        <ng-template matStepLabel>Exchange</ng-template>
        <div class="tx-info">
          <div class="title">Choose an exchange</div>
          <p class="widget-help">
            Payment in Bitcoin can be processed on multiple exchanges &ndash; select the one you prefer:
          </p>
        </div>

        <mat-radio-group class="select-exchange block-radio" fxLayout="column" fxLayoutGap="10px">
          <mat-radio-button value="bittrex" checked="checked" color="primary">
            <div class="name">Bittrex <span class="ticker">bittrex.com</span></div>
          </mat-radio-button>
          <mat-radio-button value="hitbtc" color="primary">
            <div class="name">HitBTC <span class="ticker">hitbtc.com</span></div>
          </mat-radio-button>
          <mat-radio-button value="simpleswap" color="primary">
            <div class="name">SimpleSwap <span class="ticker">simpleswap.io</span></div>
          </mat-radio-button>
        </mat-radio-group>
        <mat-checkbox>Remember this choice (can be changed later)</mat-checkbox>

        <mat-dialog-actions fxLayoutAlign="space-between center">
          <button mat-button matStepperPrevious>
            <mat-icon fontSet="partIcon" fontIcon="part-arrow-left"></mat-icon>
            Back
          </button>
          <button mat-raised-button color="primary" matStepperNext>
            <mat-icon fontSet="partIcon" fontIcon="part-arrow-right"></mat-icon>
            Next
          </button>
        </mat-dialog-actions>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Pay</ng-template>
      <div class="tx-info">
        <div class="title">Pay with Bitcoin</div>
        <p class="widget-help">
          Send your BTC to the following address to automatically convert it to PART and pay for your order
        </p>
      </div>
      <div class="tx-amount">
        <span class="big">{{ sendAmount.getIntegerPart() }}</span>
        <span *ngIf="sendAmount.ifDotExist()">
        <span class="point">.</span>
        <span class="small">{{ sendAmount.getFractionalPart() }}</span>&ensp;</span>
        <!-- ..or whatever currency was selected.. -->
        <span class="currency">BTC</span>
      </div>

      <mat-icon class="icon arrow" fontSet="partIcon" fontIcon="part-arrow-down"></mat-icon>

      <!-- FIXME: add also QR code here -->
      <div class="receiver-info">
        <code class="address"> {{ sendAddress }} </code>
      </div>

      <p class="widget-help" *ngIf="this.send.subtractFeeFromAmount">
        Blah blah some more transaction fees for the exchange etc.. FIXME!!
      </p>

      <mat-dialog-actions fxLayoutAlign="space-between center">
        <button mat-button matStepperPrevious>
          <mat-icon fontSet="partIcon" fontIcon="part-arrow-left"></mat-icon>
          Back
        </button>
        <!-- by default, button is disabled as "waiting for payment"; when payment and exchange goes through, it will change to "Paid" and become active - clicking it will close the modal -->
        <button mat-raised-button color="primary" disabled>
          <mat-icon fontSet="partIcon" fontIcon="part-date"></mat-icon>
          Waiting for payment
        </button>
        <!--button mat-raised-button color="primary">
          <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
          Paid
        </button-->
      </mat-dialog-actions>
    </mat-step>

  </mat-horizontal-stepper>
</div><!-- .dialog-content (pay with BTC/alts) -->