.modal.in
.modal-dialog {
    height: 100%;
    margin: 0;
    width: 100%;
}

.modal-content {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 45px;
}

.modal-content
.logo {
    margin: auto;
    max-width: 35%;
    margin: 60px;
}

.close {
    padding: 15px;
}

.modal-footer-info {
    bottom: 0;
    font-weight: bold;
    height: 20px;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
}

.status-text {
    bottom: 0;
    left: 0;
    line-height: .9;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-58%);
    width: 100vw;
}

.inverted-status {
    left: auto;
    right: 0;
}

.percentage-bar {
    background-color: #02e8b0;
    bottom: 0;
    color: #212121;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: width .2s;
}

.inverted-bar {
    background-color: #212121;
    color: #02e8b0;
    right: 0;
}
