@import "./src/assets/_config"; // import shared colors etc.

/* ------------------------------- *\
    Modal header
\* ------------------------------- */
/*
mat-spinner.mat-spinner.mat-progress-spinner.mat-primary {
  padding-left: 46%;
}

mat-spinner.mat-spinner.mat-progress-spinner.mat-primary[_ngcontent-c20]:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 0;
}

mat-spinner.mat-spinner.mat-progress-spinner.mat-primary[_ngcontent-c20] {
  z-index: 555;
  position: relative;
}
*/