<button  md-raised-button class="close_button pull-right" (click)="close()" *ngIf="enableClose">
  <md-icon>close</md-icon>
</button>
<div md-dialog-content class="md-wallet-content">
  <div class="row">
    <img class="logo img-responsive" src="assets/particl-logo-white-bg.svg">
  </div>
  <ng-template #modalContainer></ng-template>
</div>

<div class="modal-footer-info">
  <div class="percentage-bar" [style.width.%]="syncPercentage">
    <div class="statusText">{{syncString}}</div>
  </div>
  <div class="inverted-bar percentage-bar" [style.width.%]="100 - syncPercentage">
    <div class="statusText inverted-status">{{syncString}}</div>
  </div>
</div>
