@import './src/assets/_config'; // import shared colors etc.
@import '../../shared/list-item-details'; // shared styling for list items


.img-wrapper {
  margin: 1em;
  min-width: 64px;
  img {
    width: 100%;
    height: auto;
  }
}
