<app-page-intro childPageAlias="Chat Participants">
  <ng-container page-title>Chat Participants</ng-container>
  <ng-container page-content>
    A list of users that you may have interacted with in the past
  </ng-container>
  <ng-container page-help>
    Each step of the buying process needs to be confirmed in this page (i.e. marking an order as "Shipped").
  </ng-container>
</app-page-intro>


<!-- Orders > Filter -->
<div class="filter">

  <h2 class="section-title">
    Search
  </h2>

  <!-- <mat-form-field class="--boxed" appearance="fill">
    <input matInput type="text" [formControl]="querySearch"
          placeholder="Search Orders" (keyup.escape)="querySearch.setValue('')">
    <button *ngIf="querySearch.value.length > 0" matSuffix mat-button class="small" (click)="querySearch.setValue('')" matTooltip="Clear" matTooltipPosition="after">
      <mat-icon fontIcon="part-clear-all"></mat-icon>
    </button>
    <mat-icon *ngIf="querySearch.value.length === 0" matSuffix fontIcon="part-search"></mat-icon>
  </mat-form-field>

  <h2 class="section-title">
    Filter
  </h2>

  <mat-card class="filter-card">
    <div class="checkbox highlight">
      <mat-checkbox color="primary" [formControl]="queryFilterAttention">Orders requiring action</mat-checkbox>
    </div>
    <div class="checkbox">
      <mat-checkbox color="primary" [formControl]="queryFilterComplete">Show inactive &amp; archived</mat-checkbox>
    </div>

    <mat-divider></mat-divider>

    <mat-form-field class="--plain" appearance="fill">
      <mat-select placeholder="Filter by Market" [formControl]="queryFilterMarket">
        <mat-option value="">All Markets</mat-option>
        <mat-option *ngFor="let market of filterOptionsMarkets | keyvalue" [value]="market.key">
          {{ market.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-radio-group class="radio-group block-radio" [formControl]="queryFilterStatus">
      <mat-radio-button class="filter-option" *ngFor="let statusFilter of filterOptionsStatus" [value]="statusFilter.value" color="accent" [class.empty]="statusFilter.count === 0">
        {{ statusFilter.title }}
        <span class="amount">{{ statusFilter.count }}</span>
      </mat-radio-button>
    </mat-radio-group>
  </mat-card>

  <button mat-button color="basic" class="clear-filters" (click)="clearAllFilters()">
    <mat-icon fontSet="partIcon" fontIcon="part-clear-all"></mat-icon>
    Clear all filters
  </button> -->

</div><!-- .filter -->