
<mat-card>
  <div fxLayoutAlign="space-between stretch">

    <div> Network: {{ network | async }}</div>

    <div>Current Block: {{ lastBlock | async }}</div>

    <div>
      <button class="button" mat-button color="accent" appDebounceClick (debounceClick)="refreshProposals()" [disabled]="!canRefresh">
        <mat-icon fontIcon="part-refresh"></mat-icon>
        Refresh Proposals
      </button>
      <p *appVar="(refreshCountdown$ | async ) as timerString">
        <ng-container *ngIf="timerString && (timerString.length > 0)">Auto-refresh in: {{ timerString }}</ng-container>
      </p>
    </div>

  </div>
</mat-card>