<div mat-dialog-title>Product name <span class="category">in Category, Electronics, TV</span></div>
<button class="small-close_button pull-right" (click)="dialogClose()">
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>

<div mat-dialog-content class="dialog-content" fxLayout="row" fxLayoutGap="40px">
  
  <div class="product-gallery" fxFlex="0 1 350px">
    <div class="featured image">
      <img src="./assets/images/placeholder_4-3.jpg">
    </div>
    <div class="gallery" fxLayout="row" fxLayoutGap="24px">
      <div class="small image" fxFlex="1 1 100px">
        <img src="./assets/images/placeholder_1-1.jpg">
      </div>
      <div class="small image" fxFlex="1 1 100px">
        <img src="./assets/images/placeholder_1-1.jpg">
      </div>
      <div class="small image" fxFlex="1 1 100px">
        <img src="./assets/images/placeholder_1-1.jpg">
      </div>
      <div class="small image" fxFlex="1 1 100px">
        <img src="./assets/images/placeholder_1-1.jpg">
      </div>
      <div class="small image" fxFlex="1 1 100px">
        <img src="./assets/images/placeholder_1-1.jpg">
      </div>
      <div class="small image" fxFlex="1 1 100px">
        <img src="./assets/images/placeholder_1-1.jpg">
      </div>
    </div>
  </div>

  <div class="product-info" fxFlex="1 1 100%">

    <table class="pricing">
      <tr>
        <th class="item price">Price</th>
        <td class="item price">
          <span class="big">2123.</span><span class="small">0000</span>
          <span class="currency">PART</span>
          <span class="fiat">&asymp; 45.15 USD</span>
        </td>
      </tr>
      <tr>
        <th class="shipping price">Shipping</th>
        <td class="shipping price">5.0000 PART</td>
      </tr>
      <tr>
        <th class="escrow price">Escrow</th>
        <td class="escrow price">0.0000 PART</td>
      </tr>
    </table>

    <div class="description">
      <p>
        Concept is bang on, but can we look at a better execution can you make it look like this clipart i found. We are a big name to have in your portfolio I really think this could go viral, but can you change everything?
      </p>
      <p>
        Concept is bang on, but can we look at a better execution can you make it look like this clipart i found. We are a big name to have in your portfolio I really think this could go viral, but can you change everything?
      </p>
      <ul>
        <li>try a more powerful colour</li>
        <li>jazz it up a little</li>
        <li>it seems really high, why did you charge so much</li>
        <li>you will get a lot of free exposure doing this</li>
        <li>I really think this could go viral can you lower the price</li>
      </ul>
    </div>
    
  </div><!-- .product-info -->
</div><!-- .dialog-content -->

<mat-dialog-actions fxLayoutAlign="space-between center">
  <div class="left">
    <button mat-button class="small" matTooltip="Report" matTooltipPosition="above">
      <mat-icon fontSet="partIcon" fontIcon="part-error"></mat-icon>
    </button>
    <div class="date">
      <strong>Date added</strong> 10 Jan, 2018
    </div>
  </div>
  <div class="right">
    <button mat-button class="small" color="warn" matTooltip="Add to Favourites" matTooltipPosition="above">
      <mat-icon fontSet="partIcon" fontIcon="part-heart"></mat-icon>
    </button>
    <button mat-raised-button color="primary">
      <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
      Add to cart
    </button>
  </div>
</mat-dialog-actions>
