@import "./src/assets/_config"; // import shared colors etc.

// ------ GENERAL ------ //

table {
  border-spacing: 0;
  th {
    text-align: left;
    font-weight: 600;
    padding-right: 24px;
    vertical-align: top;
  }
}

// ------ UI ELEMENTS ------ //

.image {
  cursor: pointer;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

button.small .mat-icon {
  margin: 0; // remove margin from buttons with icons only
}


// ------ LAYOUT ------ //

.dialog-content {
  margin: 0 -24px !important;
}

[mat-dialog-title] {
  color: $text;
  .category {
    font-size: 12px;
    font-weight: normal;
    color: $text-muted;
    margin-left: 10px;
  }
}

.product-gallery {
  .featured.image {
    margin-bottom: 24px;
  }
  .gallery {
    overflow-x: auto;
    padding-bottom: 18px;
  }
}

.product-info {
  color: $text-muted;
  line-height: 1.7;
  .description {
    margin: 18px 0;
    &.summary {
      font-weight: 600;
      color: $text;
    }
  }
  .pricing {
    margin: 8px 0 24px;
    .price {
      &.item { // main price
        font-size: 18px;
        color: $text;
      }
      .small {
        font-size: 14px;
      }
      .currency {
        font-size: 14px;
      }
      .fiat {
        font-size: 12px;
        color: $text-muted;
      }
    }
  }
}

mat-dialog-actions {
  .date {
    color: $text-muted;
    display: inline-block;
    margin-left: 8px;
    strong {
      font-weight: 600;
    }
  }
}