@import './src/assets/_config'; // import shared colors etc.

.balance {
  @extend %enable-select;
  display: inline-block;
  padding-top: 7px;
  & > .number {
    color: $text;
  }
  & > .point {
    color: $color;
    margin: 0 2px;
  }
  & > .big {
    font-size: 22px;
    @include break(l) {
      font-size: 28px;
    }
  }
  & > .small {
    font-size: 11px;
    @include break(l) {
      font-size: 15px;
    }
  }
  & > .description {
    color: $text-muted;
    text-transform: uppercase;
    margin-top: 6px;
  }

  // spendable balance in top bar
  &.in-top-bar {
    padding: 0;
    margin-right: 24px;
    line-height: 1.3;
    position: relative;
    top: 6px;
    @include break(l) {
      top: 8px;
    }
    & > .big {
      font-size: 11px;
      @include break(l) {
        font-size: 12px;
      }
    }
    & > .point {
      color: $text;
      margin: 0;
    }
    & > .small {
      @include break(l) {
        font-size: 12px;
      }
    }
    & > .description {
      font-size: 11px;
      margin: 0;
    }
  }

}
