@import './src/assets/_config'; // import shared colors etc.

// ------ Modal ------ //

.dialog-content {
  width: 700px;
  padding: 8px 24px 32px;
  margin: 0 -24px !important;
}

mat-dialog-actions {
  border-top: 1px dashed var(--bg-muted);
  margin: 0 -24px -24px;
  padding: 0 24px;
  .right {
    text-align: right;
  }
}
