<app-page-intro childPageAlias="Sell Listings">
  <ng-container page-title>Your Listings</ng-container>
  <ng-container page-content>
    This is your dashboard for selling your Products on the marketplace and manage their Listings.<br>
    To sell, you will need to create a Product template first, which you can later publish as a Listing to any connected Market.
  </ng-container>
  <ng-container page-help>
  </ng-container>
</app-page-intro>

<!-- Listings > Filter -->
<div class="filter">

  <!--div class="buttons">
    <button mat-raised-button color="primary" routerLink="new-listing" class="full-width">
      <mat-icon fontIcon="part-circle-plus"></mat-icon>
      Add new Product
    </button>
    <button mat-raised-button color="accent" routerLink="import-listings" class="full-width">
      <mat-icon fontIcon="part-image-upload"></mat-icon>
      Import Products
    </button>
  </div--><!-- .buttons -->

  <h2 class="section-title">
    Search &amp; sort
  </h2>

  <mat-card class="filter-card">

    <mat-form-field class="--plain" appearance="fill">
      <input matInput type="text" placeholder="Search listings" [formControl]="searchQuery" (keyup.escape)="searchQuery.setValue('')">
      <button *ngIf="searchQuery.value.length > 0" matSuffix mat-button class="small" (click)="searchQuery.setValue('')" matTooltip="Clear" matTooltipPosition="after">
        <mat-icon fontIcon="part-clear-all"></mat-icon>
      </button>
      <mat-icon *ngIf="!searchQuery.value.length" matSuffix fontIcon="part-search"></mat-icon>
    </mat-form-field>

    <mat-form-field class="--plain" appearance="fill">
      <mat-select placeholder="Sort listings" [formControl]="sortOrder">
        <mat-option *ngFor="let sorting of sortCriteria" [value]="sorting.value">
          {{ sorting.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-card><!-- .filter-card -->

  <h2 class="section-title">
    Filter
  </h2>

  <mat-card class="filter-card">
    <mat-radio-group class="radio-group block-radio" [formControl]="filterStatus">
      <mat-radio-button class="filter-option" *ngFor="let status of filterStatusCriteria" [value]="status.value" color="accent">
        {{ status.title }}
      </mat-radio-button>
    </mat-radio-group>
    <mat-divider></mat-divider>
    <mat-form-field class="--plain" appearance="fill">
      <mat-select placeholder="Filter by Market" [formControl]="filterMarket">
        <mat-option *ngFor="let market of publishedOnMarketCriteria" [value]="market.key">
          {{ market.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Clear Product/Template filter -->
    <!-- @TODO: clear product/template filter on click -->
    <button mat-button class="small clear-specific-filter" color="warn"><!-- *ngIf="+filterBaseTemplateId.value > 0" -->
      <mat-icon fontIcon="part-cross"></mat-icon>
      Clear filtering by Product
    </button>
  </mat-card><!-- .filter-card -->

  <button mat-button color="basic" class="clear-filters" (click)="resetFilters()">
    <mat-icon fontIcon="part-clear-all"></mat-icon>
    Clear all filters
  </button>

</div><!-- .filter -->


<!-- Listings > list -->
<div class="listings section with-filter">

  <ng-container *ngIf="displayedListingIdxs.length > 0; else noListings">
    <ng-container *ngFor="let listingIdx of displayedListingIdxs">
      <mat-accordion>
        <mat-expansion-panel class="listing list-item no-padding" *appVar="allListings[listingIdx] as listing">
          <mat-expansion-panel-header class="header">
            <div class="header-wrapper">
              <div class="photo">
                <img [src]="listing.image">
              </div>
              <div class="meta" fxFlex="1 1 100%">
                <div class="name">{{ listing.title }}</div>
                <span class="published-markets">{{ marketList[listing.marketKey] || '' }}</span>
                <span class="category">{{ listing.categoryName }}</span>
              </div>
              <div class="status-wrap" fxFlex="0 0 140px">
                <div class="status {{ listing.status === 'ACTIVE' ? 'pubished' : 'expired' }}">
                  <span class="dot"></span>
                  <ng-container [ngSwitch]="listing.status">
                    <ng-container *ngSwitchCase="'ACTIVE'">Published</ng-container>
                    <ng-container *ngSwitchCase="'EXPIRED'">Expired</ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
          </mat-expansion-panel-header>

          <div class="status-info">
            <div class="text">
              <h2 class="item-title">{{ listing.title}}</h2>
              <p>{{ listing.summary }}</p>
            </div>
            <p class="item-info">
              Created: {{listing.created | date:'medium'}}<br>
              Updated: {{listing.updated | date:'medium'}}<br>
              Expires: {{listing.expires | date:'medium'}}
            </p>
          </div>

          <div class="detail" fxLayout="row" fxLayoutGap="30px">
            <div class="description" fxFlex="55%">
              <h3 class="item-subtitle">Published on</h3>
              <ul class="listing-info">
                <li>{{ marketList[listing.marketKey] || '' }}</li>
              </ul>
            </div><!-- .description -->
            <div class="pricing-info" fxFlex="45%">
              <h3 class="item-subtitle">Pricing</h3>
              <table class="prices">
                <tfoot>
                  <th></th>
                  <th><span matTooltip="Particl" matTooltipPosition="below">PART</span></th>
                  <!--th><span matTooltip="US Dollar" matTooltipPosition="below">USD</span></th-->
                </tfoot>
                <tbody>
                  <tr>
                    <th>Price per item</th>
                    <td class="amount part">{{ listing.priceBase }}</td>
                    <!--td class="amount fiat">3.5165</td-->
                  </tr>
                  <tr>
                    <th>Local shipping ({{ listing.shippingSource || '' }})</th>
                    <td class="amount part">{{ listing.priceShippingLocal }}</td>
                    <!--td class="amount fiat">0.6518</td-->
                  </tr>
                  <tr>
                    <th>Worldwide shipping</th>
                    <td class="amount part">{{ listing.priceShippingIntl }}</td>
                    <!--td class="amount fiat">0.9410</td-->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <mat-action-row fxLayout fxLayoutAlign="space-between stretch">
            <div class="left">
              <button mat-button matTooltip="Open Product listing details" (click)="navigateToTemplate(listing.idBaseTemplate, listing.marketKey)" class="small">
                <mat-icon fontIcon="part-copy"></mat-icon>
                Open Product Details
              </button>
              <button mat-button matTooltip="Edit product template" routerLink="new-listing" [queryParams]="{templateID: listing.idMarketTemplate}" class="small">
                <mat-icon fontIcon="part-pen-1"></mat-icon>
                Edit Product Template
              </button>
              <button mat-button matTooltip="Open this listing" class="small" (click)="openPreview(listing.listingId)">
                <mat-icon fontIcon="part-zoom-in"></mat-icon>
                Open Listing Details
              </button>
            </div>

          </mat-action-row>
        </mat-expansion-panel><!-- .listing -->
      </mat-accordion>
    </ng-container>
  </ng-container>

  <ng-template #noListings>
    <!-- no listings at all -->
    <div class="no-results" *ngIf="allListings.length === 0">
      <img class="illustration" src="./assets/app-market/illustrations/no-listings.svg" alt="No Listings">
      <p>
        You don't have any Listings yet
      </p>
      <p class="help-text">
        Start selling by clicking on either "Add new Listing" or "Import Listings" button
      </p>
    </div><!-- .no-results -->

    <!-- no listings matching search -->
    <div class="no-results" *ngIf="(allListings.length > 0) && (displayedListingIdxs.length === 0)">
      <img class="illustration" src="./assets/images/illustrations/search.svg" alt="No Listings match the search criteria">
      <p>
        No matching Listings found
      </p>
      <p class="help-text">
        You don't have any Listings matching your search
      </p>
    </div><!-- .no-results -->
  </ng-template>
</div><!-- .listings-list -->


<div class="loading-bar" *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div><!-- .loading-bar -->
