<mat-dialog-title>Accept Order Request</mat-dialog-title>
<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content>
  <div class="row">

    <div class="image">
      <img class="illustration" src="./assets/app-market/illustrations/accept-bid.svg" alt="Accept order">
    </div>

    <div class="text">
      <p class="lead">
        Are you sure you want to accept this order request?
      </p>
      <p class="help-text">
        Before the payment can be made, you need to accept the request made by the Buyer.
      </p>
    </div>

  </div>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    <mat-icon fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="primary" appDebounceClick (debounceClick)="doAction()">
    <mat-icon fontIcon="part-check"></mat-icon>
    Yes, accept order
  </button>
</mat-dialog-actions>
