<div mat-dialog-title>Backup wallet</div>
<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content class="dialog-content modal-content">
  
  <p class="lead">
    Select a location where the backup of the wallet should be made:
  </p>
  <p class="help-text">
    You're backing up your active wallet <code>{{ (walletName | async) }}</code> &ndash; to backup a different wallet, switch to it first
  </p>

  <div class="modal-highlight">
    <p class="alert --info --boxed">
      <span>
        It is strongly recommended to not leave the backup on the same machine as the primary wallet.
        <small>Note that this creates a file named <code>wallet.dat</code> in the selected folder.</small>
      </span>
    </p>
    <div>
      <button mat-raised-button color="primary" (click)="selectBackupPath()">
        <mat-icon fontIcon="part-image-upload"></mat-icon>
        Select Folder
      </button>
      &nbsp;&nbsp;
      <span class="file-path">{{ filePath }}</span>
    </div>
  </div><!-- .modal-highlight -->

</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="dialogClose()">
    <mat-icon fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="doConfirmed()" [disabled]="isActionDisabled">
    <mat-icon fontIcon="part-archive"></mat-icon>
    Backup wallet
  </button>
</mat-dialog-actions>
