@import './src/assets/config'; // import shared colors etc.

mat-dialog-title {
  margin: 0 !important;
}

.mat-dialog-content {
  width: 34rem;
  .alert {
    margin-top: 0;
  }
}

.file-path {
  font-family: var(--font-mono);
}
