<div mat-dialog-title class="title">Address lookup</div>
<div mat-dialog-content>

  <form name="addressLookupfilter">
    <div fxLayout="row" fxLayoutGap="20px">

      <mat-form-field fxFlex="50" class="search-address">
        <input matInput type="text" name="query" placeholder="Filter by label or address..." [(ngModel)]="query">
      </mat-form-field>
      
      <mat-select fxFlex="50" name="filter" [(ngModel)]="filter" class="address-type">
        <mat-option class="capitalize" *ngFor="let addressType of addressTypes" [value]="addressType">
          {{ addressType }}
        </mat-option>
      </mat-select>

    </div>
  </form>

  
  <mat-list class="list-data">

    <mat-list-item class="list-header">
      <div class="address-list-header" fxFlex="row" fxLayoutGap="10px" layout-padding>
        <div fxFlex="1 0 150px">Label</div>
        <div fxFlex="1 1 300px">Address</div>
        <div fxFlex="0 0 70px" class="text-right">Type</div>
      </div>
    </mat-list-item>

    <div *ngFor="let address of page()">
      <mat-divider></mat-divider>
      <mat-list-item class="address-entry" (click)="onSelectAddress(address.getAddress(), address.getLabel())">
        <div class="address-list" fxFlex="row" fxLayoutGap="10px" layout-padding>
          <div fxFlex="1 0 150px" class="label">{{address.getLabel()}}</div>
          <div fxFlex="1 1 300px" class="address">{{address.getAddress()}}</div>
          <div fxFlex="0 0 70px" class="type text-right">{{cheatPublicAddress(address.getAddress())}}</div>
        </div>
      </mat-list-item>
    </div>

  </mat-list>
</div>