<div>
  <div mat-dialog-title class="title">Accept Terms and Condition</div>
  <mat-dialog-content class="modal-content" fxLayout>
    <div class="text" fxFlex="1 1 350px">
      <p class="widget-help">
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.

        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.

        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
        Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.Before paying for this order, your bid needs to be accepted by the Seller.
        After it is accepted, you can pay for the order in Buy &gt; Orders.
      </p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="acceptTerms()">
      Accept
    </button>
  </mat-dialog-actions>
</div>
