<div class="tab-bar">
  <mat-tab-group (selectedTabChange)="changeTab($event.index)" [selectedIndex]="selectedIdx">
    <mat-tab *ngFor="let tab of tabs">
      <ng-template mat-tab-label>
        <mat-icon [fontIcon]="tab.icon"></mat-icon>
        {{ tab.title }}
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>


<ng-container [ngSwitch]="selectedTempl">

  <div *ngSwitchCase="'joined'" class="joined">
    <market-joined-markets></market-joined-markets>
  </div>

  <div *ngSwitchCase="'browser'" class="browser">
    <market-browser></market-browser>
  </div>

</ng-container>
