<div class="container-block without-tab-bar">

  <!-- PR #1267 | PD-483: implement toggle-able page title description: -->
  <div class="page-intro"><!-- [ngClass]="{ 'inactive': !introDisplayed }" -->
    <!--button mat-button class="intro-toggle small"
            (click)="introDisplayed = !introDisplayed"
            matTooltip="{{ (introDisplayed) ? 'Hide intro': 'Show help' }}" matTooltipPosition="before">
      <mat-icon fontSet="partIcon" fontIcon="part-{{ (introDisplayed) ? 'cross': 'circle-question' }}"></mat-icon>
    </button-->
    <h1>Private Markets</h1>
    <div class="content"><!-- *ngIf="introDisplayed" -->
      <p class="lead">
        This is the admin interface for Private Markets. Here you can create and connect to different Private Markets.
      </p>
      <p>
        Private Markets are not publicly accessible &ndash; they're available only to invited members. Any member of Private Market can post Listings and buy Listings for sale. To invite others, share the Market ID.
      </p>
      <!-- TODO: create a page on Wiki & link to it -->
      <button mat-button color="basic" class="small">
        <mat-icon fontSet="partIcon" fontIcon="part-wikipedia"></mat-icon>
        Learn more about Private Markets
      </button>
    </div>
  </div><!-- .page-intro -->

  <!-- Listings > Filter -->
  <div class="filter">

    <div class="main-actions">
      <!-- TODO: scroll to top of page when clicked: -->
      <button mat-raised-button color="primary" (click)="connectMarketDisplayed = !connectMarketDisplayed" class="full-width">
        <mat-icon fontSet="partIcon" fontIcon="part-nodes"></mat-icon>
        Connect new Market
      </button>
      <button mat-raised-button color="accent" (click)="createMarketDisplayed = !createMarketDisplayed" class="full-width">
        <mat-icon fontSet="partIcon" fontIcon="part-circle-plus"></mat-icon>
        Create my Market
      </button>
    </div>

    <div class="section search-sorting">
      <div class="subtitle">Search &amp; sort</div>
      <mat-card class="filter-card">

        <mat-form-field class="icon-input filter-input" floatPlaceholder="never">
          <input matInput type="text" class="header-input" placeholder="Search Markets" [(ngModel)]="filters.search"
                  (keyup)="clearAndLoadPage()" (keyup.enter)="clearAndLoadPage()" (keyup.escape)="filters.search = ''; clearAndLoadPage()">
          <mat-icon *ngIf="filters.search" matTooltip="Clear" fontSet="partIcon" fontIcon="part-clear-all"
                    (click)="filters.search=''; clearAndLoadPage()"></mat-icon>
          <mat-icon *ngIf="!filters.search" matTooltip="Search" fontSet="partIcon" fontIcon="part-search"
                    (click)="clearAndLoadPage()"></mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-select placeholder="Sorting">
            <mat-option *ngFor="let sorting of sortings" [value]="sorting.value">
              {{ sorting.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </mat-card>
    </div>

    <button mat-button color="basic" class="clear-filters" (click)="clear()">
      <mat-icon fontSet="partIcon" fontIcon="part-clear-all"></mat-icon>
      Clear all filters
    </button>

  </div><!-- .filter -->


  <div class="markets section with-filter">

    <div class="connect-create" *ngIf="connectMarketDisplayed">
      <h2 class="subtitle">Connect new Private Market</h2>
      <mat-card>

        <div class="fields" fxLayout fxLayoutGap="24px">
          <div fxFlex="50">
            <h3 class="box-title">Market name</h3>
            <mat-form-field class="full-width no-top-padding" floatPlaceholder="never">
              <input matInput #connectName maxlength="32" placeholder="Choose Market name" [(ngModel)]="connectTo.marketName">
              <mat-hint align="end">{{ connectName.value.length }} / 32</mat-hint>
            </mat-form-field>
            <p class="widget-help">
              Choose your own personal name for this Private Market.
            </p>
          </div>
          <div fxFlex="50">
            <h3 class="box-title">Private Market ID</h3>
            <div class="input">
              <mat-form-field class="full-width no-top-padding" floatPlaceholder="never">
                <input matInput #connectID maxlength="40" placeholder="Enter Private Market ID" [(ngModel)]="connectTo.marketID">
                <mat-hint align="end">{{ connectID.value.length }} / 40</mat-hint>
              </mat-form-field>
              <!-- TODO: implement copy/paste: -->
              <button mat-button class="small" matTooltip="Paste" matTooltipPosition="above">
                <mat-icon fontSet="partIcon" fontIcon="part-past"></mat-icon>
              </button>
            </div>
            <p class="widget-help">
              Market ID is the key to Private Markets. This ID is shared between Private Market's members.
            </p>
          </div>
        </div>

        <div class="buttons">
          <button mat-button color="basic" (click)="connectMarketDisplayed = !connectMarketDisplayed">
            <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
            Cancel & Close
          </button>
          <!-- TODO: implement connecting to PM: -->
          <button mat-raised-button color="primary">
            <mat-icon fontSet="partIcon" fontIcon="part-nodes"></mat-icon>
            Connect to Market
          </button>
        </div><!-- .buttons -->

      </mat-card>
    </div><!-- .connect-create -->

    <div class="connect-create" *ngIf="createMarketDisplayed">
      <h2 class="subtitle">Create new Private Market</h2>
      <mat-card>

        <div class="fields" fxLayout fxLayoutGap="24px">
          <div fxFlex="50">
            <h3 class="box-title">Market name</h3>
            <mat-form-field class="full-width no-top-padding" floatPlaceholder="never">
              <input matInput #createName maxlength="32" placeholder="Choose Market name" [(ngModel)]="createMarket.marketName">
              <mat-hint align="end">{{ createName.value.length }} / 32</mat-hint>
            </mat-form-field>
            <p class="widget-help">
              Choose your own personal name for this Private Market.
            </p>
          </div>
          <div fxFlex="50">
            <h3 class="box-title">Private Market ID</h3>
            <div class="input">
              <mat-form-field class="full-width no-top-padding" floatPlaceholder="never">
                <input matInput #createID maxlength="40" disabled [(ngModel)]="createMarket.marketID">
                <mat-hint align="end">{{ createID.value.length }} / 40</mat-hint>
              </mat-form-field>
              <!-- TODO: implement copy/paste: -->
              <button mat-button class="small" matTooltip="Copy Market ID" matTooltipPosition="above">
                <mat-icon fontSet="partIcon" fontIcon="part-copy"></mat-icon>
              </button>
            </div>
            <p class="widget-help">
              Market ID is the key to Private Markets. Share this ID to invite new members to your Private Market.
            </p>
          </div>
        </div>

        <div class="buttons">
          <button mat-button color="basic" (click)="createMarketDisplayed = !createMarketDisplayed">
            <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
            Cancel
          </button>
          <!-- TODO: implement connecting to PM: -->
          <button mat-raised-button color="accent">
            <mat-icon fontSet="partIcon" fontIcon="part-circle-plus"></mat-icon>
            Create Market
          </button>
        </div><!-- .buttons -->

      </mat-card>
    </div><!-- .connect-create -->

    <!-- TODO: don't show subtitle if no Markets are displayed: -->
    <h2 class="subtitle">Connected Private Markets</h2>

    <mat-card class="market-entry">
      <div class="avatar">
        <!-- TODO: use first 2 letters of Market's name: -->
        <span class="initials">Al</span>
      </div>
      <div class="text">
        <div class="name">Allien's Exclusive Deals</div>
        <div class="info">
          <span class="tag">ID</span>
          <span class="id">3127907a7623734f830e8c69ccee03b693bf993e</span>
        </div>
      </div>
      <div class="buttons">
        <button mat-button class="small" matTooltip="Copy Market's ID">
          <mat-icon fontSet="partIcon" fontIcon="part-copy"></mat-icon>
        </button>
        <button mat-button class="small" color="warn" matTooltip="Disconnect from Market">
          <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
        </button>
      </div>
    </mat-card><!-- .market-entry -->

    <!-- TODO: if no Markets connected: -->
    <div class="no-results">
      <p>
        You haven't connected to any Private Markets yet
      </p>
      <button mat-button color="basic" (click)="connectMarketDisplayed = !connectMarketDisplayed">
        <mat-icon fontSet="partIcon" fontIcon="part-circle-plus"></mat-icon>
        Connect new Private Market
      </button>
    </div><!-- .no-results -->

    <!-- TODO: if no search/filtering results: -->
    <div class="no-results">
      <p>
        No Markets found
      </p>
      <p class="widget-help">
        Try a different search&hellip;
      </p>
    </div><!-- .no-results -->

  </div><!-- .markets -->


</div><!-- .container-block -->


<!-- FIXME: needs implementation -->
<mat-progress-bar mode="indeterminate" *ngIf="isLoading" class="loading-bar"></mat-progress-bar>
