button {
  .mat-icon {
    margin-right: 5px;
    width: auto;
    height: auto;
    font-size: 16px;
    position: relative;
    top: -1px;
  }
}

.modal-header {
  margin: 0 -24px 70px;
  padding: 20px 24px;
  background: $bg-black;
  color: white;
  .modal-title {
    margin: 0 30px 0 70px;
    border-left: 1px solid black;
    box-shadow: -1px 0 lighten($bg-black, 10%);
    padding: 9px 0 11px 25px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    &::before {
      content: "";
      position: absolute;
      left: 41px;
      top: 30px;
      width: 26px;
      height: 26px;
      display: block;
      background: url("/assets/particl-logo-symbol.svg") no-repeat 50% 50%;
      background-size: contain;
    }
  }
}


.container {
  .content {
    max-width: 560px;
    margin: 0 auto;
    .section {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .title {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
    }
    .actions {
      text-align: center;
      margin: 20px 0 30px;
    }
  }
}

p.warning {
  background: rgba($color-alert, 0.1);
  padding: 15px 25px;
  margin: 20px 0;
  border-left: 3px solid $color-alert;
  font-weight: 600;
  .mat-icon {
    color: $color-alert;
    width: auto;
    height: auto;
    margin-right: 10px;
  }
}