.container {
  display: flex;
  .content {
    width: 100%;
    max-width: 560px;
    margin: auto;
    .section {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.subtitle { // "H2" subtitle
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
}

p:not(.widget-help) {
  font-size: 13px;
  &.warning {
    background: rgba($color-alert, 0.1);
    padding: 14px 25px;
    margin: 24px -24px;
    border-left: 3px solid $color-alert;
    font-weight: 600;
    .mat-icon {
      color: $color-alert;
      width: auto;
      height: auto;
      margin-right: 10px;
    }
  }
}

small {
  color: $text-muted;
  font-size: 90%;
}