@import './src/assets/_config'; // import shared colors etc.
@import './src/app/main-market/shared/list-item-details'; // shared styling for list items

.question-answer {
  --list-item-size: 70px; // overwrite default list-item height
  @include break(l) {
    --list-item-size: 80px;
  }
  @include break(xl) {
    --list-item-size: 90px;
  }

  // header / toggle
  .header-wrapper {
    .meta {
      font-size: 11px;
      .name {
        margin-bottom: 2px;
      }
      .origin-market {
        margin-right: 10px;
        border: 1px solid hsla(var(--text-muted-hsl), 0.6);
        padding: 1px 6px;
        border-radius: var(--radius);
      }
    }
  }
  .status { // number of replies in thread
    padding-top: 4px;
    padding-bottom: 4px;
    .mat-icon {
      font-size: 12px;
      position: relative;
      top: 1px;
      margin-right: 3px;
      color: var(--text-muted);
    }
  }

  // detail / content
  .detail {
    padding: 24px 30px;
    section.thread { // question + replies group
      margin-bottom: 40px;
      &:last-of-type {
        margin: 0;
      }
    }
    .item {

      // main/base question
      &.root {
        margin-bottom: 12px;
        p {
          font-size: 15px;
          font-weight: 500;
          color: var(--text);
        }
      }

      // replies to original question
      &.child {
        margin: 0 0 0 10px;
        border-left: 2px solid var(--bg-muted);
        padding: 10px 24px;
      }

      // reply form
      &.reply-form {
        display: block;
        padding: 4px 0 0 10px;
        color: var(--text);
      }

      // seller's replies
      &.seller {
        p {
          font-weight: 500;
          color: var(--text);
        }
        .meta {
          .user {
            color: var(--color-secondary);
            background: hsla(var(--color-secondary-hsl), 0.1);
          }
        }
      }

      // shared stuff
      p {
        margin: 0;
      }
      .meta {
        display: block;
        font-size: 12px;
        margin: 6px 0 0;
        .user {
          font-weight: 500;
          color: var(--color-primary);
          background: hsla(var(--color-primary-hsl), 0.1);
          padding: 3px 6px;
          border-radius: var(--radius);
          font-family: var(--font-mono);
          .mat-icon {
            font-size: 11px;
            margin-right: 6px;
            position: relative;
            top: 1px;
          }
          .id-full {
            display: none;
          }
          &:hover {
            .id-full {
              display: inline-block;
            }
            .id-short {
              display: none;
            }
          }
        }
        .time-date {
          font-size: 11.5px;
          margin-left: 12px;
        }
      }
    } // << .item

  }
}
