/*
    Values shared among widgets
*/
$color: #02E8B0; // primary green-ish color
$color-alert: #EE494D;
$bg-shadow: #E9E9E9; // lines under titles etc.


$text-muted: #7E8790; // grey (for section titles, descriptions etc.)

.header-nav { // section titles
    padding: 0 0 20px; margin: 30px 0 30px;
    border-bottom: 1px solid $bg-shadow;
}

/*
    Shared among widgets
*/

span.point { color: $color; }

md-card.multiple {
    margin-bottom: 20px;
}

p.widget-help {
    color: grey;
    font-size: 11px;
    margin-bottom: 25px;
}