<app-page-intro [childPageAlias]="'shipping-profiles'">
  <ng-container page-title>Shipping profiles</ng-container>
  <ng-container page-content>
    Add, manage and remove your saved Shipping profiles &ndash; your saved physical addresses, which you can use when buying Products on the Marketplace
  </ng-container>
  <ng-container page-help>
    Simply save your home and/or office addresses for example and next time you're shopping, just select your saved Profile (don't worry, profiles are saved only on your device)
  </ng-container>
</app-page-intro>


<!-- Profiles > Filter -->
<div class="filter">

  <div class="buttons">
    <button mat-raised-button color="primary" class="full-width" (click)="openEditShippingProfileModal(-1)">
      <mat-icon fontIcon="part-circle-plus"></mat-icon>
      Add new Shipping Profile
    </button>
  </div><!-- .buttons -->

  <h2 class="section-title">
    Search
  </h2>

  <mat-form-field [disabled]="isLoading" class="--boxed" appearance="fill">
    <input matInput type="text" [formControl]="searchQuery"
          placeholder="Search Orders" (keyup.escape)="searchQuery.setValue('')">
    <button *ngIf="searchQuery.value.length > 0" matSuffix mat-button class="small" (click)="searchQuery.setValue('')" matTooltip="Clear" matTooltipPosition="after">
      <mat-icon fontIcon="part-clear-all"></mat-icon>
    </button>
    <mat-icon *ngIf="searchQuery.value.length === 0" matSuffix fontIcon="part-search"></mat-icon>
  </mat-form-field>

</div><!-- .filter -->


<!-- Orders > list -->
<div class="shipping-profiles section with-filter">

  <div class="profiles-grid">

    <mat-card class="item" *ngFor="let address of displayedAddressList; index as addressIdx; trackBy:trackByAddressFn">
      <button mat-button class="edit-profile tiny icon-only" (click)="openEditShippingProfileModal(addressIdx)" matTooltip="Edit/remove" color="accent">
        <mat-icon fontIcon="part-pen-1"></mat-icon>
      </button>
      <span class="profile-name">{{ address.title }}</span>
      <span class="name">{{ address.firstName }} {{ address.lastName }}</span>
      <span class="address-line">{{ address.addressLine1 }}</span>
      <span class="address-line" *ngIf="address.addressLine2.length > 0">{{ address.addressLine2 }}</span>
      <span class="zip">{{ address.zipCode }}</span>
      <span class="city">{{ address.city }}</span>
      <span class="state" *ngIf="address.state.length > 0">{{ address.state }}</span>
      <span class="country">{{ address.country }}</span>
    </mat-card>

  </div>

  <div class="no-results" *ngIf="!isLoading && displayedAddressList.length === 0">
    <img class="illustration" src="./assets/app-market/illustrations/no-shipping-profiles.svg" alt="No Shipping Profiles found">
    <ng-container *ngIf="searchQuery.value === ''; else noSearchResults">
      <p>
        You don't have any shipping profiles yet
      </p>
      <p class="help-text">
        Go ahead and create your first Shipping profile right away!
      </p>
    </ng-container>

    <ng-template #noSearchResults>
      <p>
        No matching Profiles found
      </p>
      <p class="help-text">
        You don't have any Shipping profiles matching your search
      </p>
    </ng-template>
  </div>

</div><!-- .shipping-profiles -->

<div class="loading-bar">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading" color="accent"></mat-progress-bar>
</div><!-- .loading-bar -->
