<mat-dialog-title>Create a new identity</mat-dialog-title>

<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content>
  <div class="row">

    <div class="image">
      <img class="illustration" src="./assets/app-market/illustrations/confirm-shipped.svg" alt="Complete the identity details">
    </div>

    <div class="text">
      <p class="lead">
        Provide a name for the new identity
      </p>
      <p class="help-text">
        The identity name is simply a means for easy distinction between different identities, and is not transmitted in any way.
      </p>
    </div>

  </div>

  <p class="message --info">
    <strong>Important!</strong>A market may only be associated with a single identity: it will not be possible to add a market to this identity that has been added to another identity.
    The identity may also need funds assigned to it in order to transact on the marketplace.
    <mat-form-field class="full-width --boxed --larger" appearance="fill" color="accent">
      <mat-icon matPrefix fontIcon="part-truck"></mat-icon>
      <input [formControl]="identityName" matInput type="text" placeholder="Name of the new identity">
    </mat-form-field>
  </p>

</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    <mat-icon fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="primary" appDebounceClick (debounceClick)="doAction()" [disabled]="identityName.invalid">
    <mat-icon fontIcon="part-check"></mat-icon>
    Create Identity
  </button>
</mat-dialog-actions>
