<main-layout-default>

  <ng-container ngProjectAs="menu">

    <mat-expansion-panel class="instance-switcher">
      <mat-expansion-panel-header class="switcher-toggle">
        Default wallet<br>
        2,841.5215 PART
      </mat-expansion-panel-header>
      <div class="options">
        <div class="item">Work wallet</div>
        <div class="item">Market what?</div>
      </div>
    </mat-expansion-panel>

    <ng-container *ngFor="let menuItem of menu">
      <a class="menu-item" routerLinkActive="active" [routerLink]="menuItem.path">
        <ng-container *ngIf="menuItem.icon.length > 0">
          <mat-icon class="icon" fontSet="partIcon" [fontIcon]="menuItem.icon"></mat-icon>
        </ng-container>
        <span class="text">{{menuItem.text}}</span>
      </a>
    </ng-container>

  </ng-container>

  <main-topbar></main-topbar>

  <router-outlet></router-outlet>
</main-layout-default>
