<main-layout-default>

  <ng-container ngProjectAs="menu">
    <ng-container *ngFor="let menuGroup of menu">
      <mat-content class="sidebar-section" *ngIf="menuGroup.menuItems?.length === 1">
        <mat-list class="sidebar-item-group">
          <a class="sidebar-item-link"
            routerLinkActive="active" [routerLink]="menuGroup.menuItems[0].path"
          >
            <mat-list-item class="sidebar-item">
              <ng-container *ngIf="menuGroup.menuItems[0].icon.length > 0">
                <mat-icon class="icon" fontSet="partIcon" [fontIcon]="menuGroup.menuItems[0].icon"></mat-icon>
              </ng-container>
              <span class="text">{{menuGroup.menuItems[0].text}}</span>
            </mat-list-item>
          </a>
        </mat-list>
      </mat-content>


      <mat-content class="sidebar-section" *ngIf="menuGroup.menuItems?.length > 1">
        <mat-accordion>
          <mat-expansion-panel #panel1 expanded="true" class="no-padding arrow-colored">
            <mat-expansion-panel-header>{{menuGroup.title}}</mat-expansion-panel-header>
            <mat-content>
              <mat-list class="sidebar-item-group">

                <ng-container *ngFor="let menuItem of menuGroup.menuItems">
                  <a class="sidebar-item-link"
                    routerLinkActive="active" [routerLink]="menuItem.path"
                  >
                    <mat-list-item class="sidebar-item">
                      <ng-container *ngIf="menuItem.icon?.length > 0">
                        <mat-icon class="icon" fontSet="partIcon" [fontIcon]="menuItem.icon"></mat-icon>
                      </ng-container>
                      <span class="text">{{menuItem.text}}</span>
                    </mat-list-item>
                  </a>
                </ng-container>

              </mat-list>
            </mat-content>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-content>

    </ng-container>
  </ng-container>

  <main-topbar></main-topbar>

  <router-outlet></router-outlet>
</main-layout-default>
