/* ------------------------------- *\
    Fonts
\* ------------------------------- */

// ------ DEFAULT FONT ------ //

@font-face {
  font-family: 'Inter_UI';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Inter-UI-Regular.woff2') format('woff2'), url('assets/fonts/Inter-UI-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Inter_UI';
  font-style: italic;
  font-weight: 400;
  src: url('assets/fonts/Inter-UI-Italic.woff2') format('woff2'), url('assets/fonts/Inter-UI-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Inter_UI';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/Inter-UI-Medium.woff2') format('woff2'), url('assets/fonts/Inter-UI-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Inter_UI';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/Inter-UI-Bold.woff2') format('woff2'), url('assets/fonts/Inter-UI-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Inter_UI';
  font-style: normal;
  font-weight: 900;
  src: url('assets/fonts/Inter-UI-Black.woff2') format('woff2'), url('assets/fonts/Inter-UI-Black.woff') format('woff');
}


// ------ ICONS ------ //

@font-face {
  font-family: 'part';
  src: url('assets/fonts/part.woff2') format('woff2'), url('assets/fonts/part.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.part-icon {
  & {
    display: inline-block;
    font: normal normal normal 14px/1 'part';
    font-size: inherit;
    speak: none;
    text-transform: none;
    /* Better Font Rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     */
  }
}

.part-add-account::before {
  content: '\ea01';
}

.part-airplane::before {
  content: '\ea03';
}

.part-alert::before {
  content: '\ea02';
}

.part-anon::before {
  content: '\ea05';
}

.part-archive::before {
  content: '\ea04';
}

.part-arrow-down::before {
  content: '\ea06';
}

.part-arrow-left::before {
  content: '\ea08';
}

.part-arrow-right::before {
  content: '\ea07';
}

.part-arrow-up::before {
  content: '\ea09';
}

.part-attach::before {
  content: '\ea0a';
}

.part-bag-buy::before {
  content: '\ea0b';
}

.part-bag-sell::before {
  content: '\ea0c';
}

.part-bag::before {
  content: '\ea0d';
}

.part-bitcointalk::before {
  content: '\ea0e';
}

.part-blind::before {
  content: '\ea0f';
}

.part-bug::before {
  content: '\ea10';
}

.part-cart::before {
  content: '\ea11';
}

.part-chat-discussion::before {
  content: '\ea12';
}

.part-chat::before {
  content: '\ea13';
}

.part-check-in-a-box::before {
  content: '\ea14';
}

.part-check::before {
  content: '\ea15';
}

.part-circle-alert::before {
  content: '\ea16';
}

.part-circle-check::before {
  content: '\ea17';
}

.part-circle-info-2::before {
  content: '\ea18';
}

.part-circle-info::before {
  content: '\ea19';
}

.part-circle-minus::before {
  content: '\ea1a';
}

.part-circle-plus::before {
  content: '\ea1b';
}

.part-circle-question::before {
  content: '\ea1c';
}

.part-circle-remove::before {
  content: '\ea1d';
}

.part-circle-user-2::before {
  content: '\ea1e';
}

.part-circle-user::before {
  content: '\ea1f';
}

.part-clear-all::before {
  content: '\ea20';
}

.part-cog::before {
  content: '\ea21';
}

.part-console-window::before {
  content: '\ea22';
}

.part-console::before {
  content: '\ea23';
}

.part-copy::before {
  content: '\ea24';
}

.part-cross::before {
  content: '\ea25';
}

.part-cryptocurrency-bitcoin::before {
  content: '\ea26';
}

.part-cryptocurrency-particl::before {
  content: '\ea27';
}

.part-currency-dollar::before {
  content: '\ea28';
}

.part-currency-euro::before {
  content: '\ea29';
}

.part-currency-pound::before {
  content: '\ea2a';
}

.part-currency-yen::before {
  content: '\ea2b';
}

.part-dapps::before {
  content: '\ea2c';
}

.part-date::before {
  content: '\ea2d';
}

.part-discord::before {
  content: '\ea2e';
}

.part-display::before {
  content: '\ea30';
}

.part-document::before {
  content: '\ea2f';
}

.part-error::before {
  content: '\ea31';
}

.part-facebook::before {
  content: '\ea32';
}

.part-filter-2::before {
  content: '\ea33';
}

.part-filter::before {
  content: '\ea34';
}

.part-flag::before {
  content: '\ea35';
}

.part-flash::before {
  content: '\ea36';
}

.part-github::before {
  content: '\ea37';
}

.part-globe::before {
  content: '\ea38';
}

.part-google::before {
  content: '\ea39';
}

.part-hamburger::before {
  content: '\ea3a';
}

.part-handshake::before {
  content: '\ea3b';
}

.part-heart-outline-add::before {
  content: '\ea3c';
}

.part-heart-outline-remove::before {
  content: '\ea3d';
}

.part-heart-outline::before {
  content: '\ea3e';
}

.part-heart::before {
  content: '\ea3f';
}

.part-image-upload::before {
  content: '\ea40';
}

.part-info::before {
  content: '\ea41';
}

.part-label::before {
  content: '\ea42';
}

.part-lightbulb::before {
  content: '\ea43';
}

.part-lightning::before {
  content: '\ea44';
}

.part-listings::before {
  content: '\ea45';
}

.part-lock-open::before {
  content: '\ea46';
}

.part-lock::before {
  content: '\ea47';
}

.part-mastodon::before {
  content: '\ea48';
}

.part-medium::before {
  content: '\ea49';
}

.part-minus::before {
  content: '\ea4a';
}

.part-next-double::before {
  content: '\ea4b';
}

.part-next-single::before {
  content: '\ea4c';
}

.part-nodes::before {
  content: '\ea4d';
}

.part-notification-bell::before {
  content: '\ea4e';
}

.part-notification-speaker::before {
  content: '\ea4f';
}

.part-overview::before {
  content: '\ea50';
}

.part-past::before {
  content: '\ea51';
}

.part-pen-1::before {
  content: '\ea52';
}

.part-pen-2::before {
  content: '\ea53';
}

.part-people::before {
  content: '\ea54';
}

.part-person-add::before {
  content: '\ea55';
}

.part-person-check::before {
  content: '\ea56';
}

.part-person-edit::before {
  content: '\ea57';
}

.part-person-heart::before {
  content: '\ea58';
}

.part-person-remove::before {
  content: '\ea59';
}

.part-person::before {
  content: '\ea5a';
}

.part-plus::before {
  content: '\ea5b';
}

.part-preferences::before {
  content: '\ea5c';
}

.part-previous-double::before {
  content: '\ea5d';
}

.part-previous-single::before {
  content: '\ea5e';
}

.part-print::before {
  content: '\ea5f';
}

.part-proposals::before {
  content: '\ea60';
}

.part-public::before {
  content: '\ea61';
}

.part-qr::before {
  content: '\ea62';
}

.part-receive::before {
  content: '\ea63';
}

.part-reddit::before {
  content: '\ea64';
}

.part-refresh::before {
  content: '\ea65';
}

.part-riot::before {
  content: '\ea66';
}

.part-rocket::before {
  content: '\ea67';
}

.part-search::before {
  content: '\ea68';
}

.part-select::before {
  content: '\ea69';
}

.part-send::before {
  content: '\ea6a';
}

.part-ship::before {
  content: '\ea6b';
}

.part-small-cross::before {
  content: '\ea6c';
}

.part-small-minus::before {
  content: '\ea6d';
}

.part-small-plus::before {
  content: '\ea6e';
}

.part-smiley::before {
  content: '\ea6f';
}

.part-snowflake::before {
  content: '\ea70';
}

.part-stake::before {
  content: '\ea71';
}

.part-support-help::before {
  content: '\ea72';
}

.part-swap::before {
  content: '\ea73';
}

.part-telegram::before {
  content: '\ea74';
}

.part-thumb-down::before {
  content: '\ea75';
}

.part-thumb-up::before {
  content: '\ea76';
}

.part-tool::before {
  content: '\ea77';
}

.part-transfer::before {
  content: '\ea78';
}

.part-triangle-down::before {
  content: '\ea79';
}

.part-triangle-left::before {
  content: '\ea7a';
}

.part-triangle-right::before {
  content: '\ea7b';
}

.part-triangle-up::before {
  content: '\ea7c';
}

.part-truck::before {
  content: '\ea7d';
}

.part-twitter::before {
  content: '\ea7e';
}

.part-wikipedia::before {
  content: '\ea7f';
}

.part-youtube::before {
  content: '\ea80';
}

.part-zoom-in::before {
  content: '\ea81';
}

.part-zoom-out::before {
  content: '\ea82';
}
