/* ------------------------------- *\
    Fonts
\* ------------------------------- */

// ------ ICONS ------ //

@font-face {
   font-family: 'part';
   src: url('assets/fonts/part.eot');
   src: url('assets/fonts/part.eot') format('embedded-opentype'),
        url('assets/fonts/part.woff2') format('woff2'),
        url('assets/fonts/part.woff') format('woff'),
        url('assets/fonts/part.ttf') format('truetype'),
        url('assets/fonts/part.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}


// ------ DEFAULT FONT ------ //

@font-face {
   font-family: 'Inter_UI';
   font-style: normal;
   font-weight: 400;
   src: url("assets/fonts/Inter-UI-Regular.woff2") format("woff2"),
        url("assets/fonts/Inter-UI-Regular.woff") format("woff");
}
@font-face {
   font-family: 'Inter_UI';
   font-style: italic;
   font-weight: 400;
   src: url("assets/fonts/Inter-UI-Italic.woff2") format("woff2"),
        url("assets/fonts/Inter-UI-Italic.woff") format("woff");
}
@font-face {
   font-family: 'Inter_UI';
   font-style: normal;
   font-weight: 500;
   src: url("assets/fonts/Inter-UI-Medium.woff2") format("woff2"),
        url("assets/fonts/Inter-UI-Medium.woff") format("woff");
}
@font-face {
   font-family: 'Inter_UI';
   font-style: normal;
   font-weight: 700;
   src: url("assets/fonts/Inter-UI-Bold.woff2") format("woff2"),
        url("assets/fonts/Inter-UI-Bold.woff") format("woff");
}
@font-face {
   font-family: 'Inter_UI';
   font-style: normal;
   font-weight: 900;
   src: url("assets/fonts/Inter-UI-Black.woff2") format("woff2"),
        url("assets/fonts/Inter-UI-Black.woff") format("woff");
}