/*

    _  _ ____ ___     ____ ____ _  _ ___  ____ _  _ ____ _  _ ___ ____
    |\/| |__|  |      |    |  | |\/| |__] |  | |\ | |___ |\ |  |  [__
___ |  | |  |  |  .   |___ |__| |  | |    |__| | \| |___ | \|  |  ___]

Customizations and modifiers for default Material components

  TOC:

    1. Buttons & Indicators
      1.1. Buttons
      1.2. Icons
      1.3. Progress bars
      1.4. Sliders (range)
      1.5. Paginator
      1.6. Tooltips
      1.7. Spinners

    2. Layout
      2.1. Cards
      2.2. Tabs
      2.3. Expansion panels
      2.4. Stepper
      2.5. Lists
      2.6. Modals
      2.7. Scrollbars
      2.8. Sidenav (main menu)
      2.9. Menus (contextual)
      2.10. Divider
      2.11. Toolbars
      2.12. Tree browser

    3. Forms
      3.1. Inputs
      3.2. Verification
      3.3. Selects
      3.4. Select/Autocomplete
      3.5. Radios
      3.6. Checkboxes
      3.7. Toggle Buttons
    
    4. Plug-ins
      4.1. Lightbox gallery

*/


/* ------------------------------- *\
    1. BUTTONS & INDICATORS
\* ------------------------------- */

// ------ 1.1. BUTTONS ------ //

button,
.mat-button,
.mat-raised-button {
  font-family: var(--font) !important;
  font-weight: 600;
  .mat-icon {
    margin-right: 5px;
    position: relative;
    top: -1px;
  }
  &.large { // smaller buttons
    min-width: auto;
    line-height: 42px;
    padding: 0 24px;
    font-size: 15px;
    font-weight: 500;
  }
  &.small { // smaller buttons
    min-width: auto;
    line-height: 29px;
    padding: 0 12px;
    font-size: 12px;
    font-weight: 500;
  }
  &.tiny {
    min-width: auto;
    font-size: 12px;
    line-height: 28px;
    padding: 0 8px;
  }
  &.full-width {
    width: 100%;
  }
  &.icon-only {
    .mat-icon {
      margin: 0;
    }
  }
  &.not-round {
    border-radius: 0;
  }
  &.--no-ripple {
    .mat-button-ripple,
    .mat-button-focus-overlay {
      display: none;
    }
  }
}


// ------ 1.2. ICONS ------ //

mat-icon.mat-icon {
  width: auto !important;
  height: auto !important;
  font-size: 16px;
  &.material-icons {
    font-family: "part" !important; // overwrite Material icons by ours by default
    font-weight: 400 !important;
    line-height: 1;
  }
}


// ------ 1.3. PROGRESS BARS ------ //
/*
.mat-progress-bar {
}
*/

// ------ 1.4. SLIDERS (RANGE) ------ //

.mat-slider-thumb-label-text {
  font-weight: 700 !important;
  font-family: var(--font) !important;
}


// ------ 1.5. PAGINATOR ------ //

.mat-paginator {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none !important;
  font-family: var(--font) !important;
  .mat-icon-button {
    @extend %tfx;
    &:hover {
      color: var(--text);
    }
    &[disabled] {
      @extend %lighter;
    }
  }
}


// ------ 1.6. TOOLTIPS ------ //

mat-tooltip-component .mat-tooltip {
  font-family: var(--font);
  font-size: 11.5px;
  font-weight: 500;
  line-height: 1.4;
  background: hsla(var(--bg-black-hsl), 0.775);
  padding: 5px 10px;
  // Multi-line tooltip
  // -- usage: <div matTooltip="First line &#13; Second line" matTooltipClass="multi-line">
  &.multi-line {
    white-space: pre-line;
  }
}


// ------ 1.7. SPINNERS ------ //

.mat-progress-spinner {
  --spinner-size: 100px; // default
  --stroke-width: 10%; // default
  width: var(--spinner-size) !important;
  height: var(--spinner-size) !important;
  & > svg {
    width: var(--spinner-size) !important;
    height: var(--spinner-size) !important;
    & > circle {
      stroke-width: var(--stroke-width) !important;
    }
  }
  &.tiny {
    --spinner-size: 16px;
    --stroke-width: 15%;
  }
  &.small {
    --spinner-size: 42px;
    --stroke-width: 10%;
  }
}

/* ------------------------------- *\
    2. LAYOUT
\* ------------------------------- */

// ------ 2.1. CARDS ------ //

mat-card.mat-card {
  font-family: var(--font);
  box-shadow: 0 1px 0 var(--bg-muted), 0 1px 10px -4px hsla(var(--text-hsl), 0.3) !important;
  padding: 24px;
  .mat-card-header {
    .mat-card-header-text {
      margin: 0;
    }
  }
  &.not-rounded {
    border-radius: 0;
  }
  &.no-padding {
    padding: 0;
  }
}


// ------ 2.2. TABS ------ //

mat-tab-group.mat-tab-group {
  font-family: var(--font);
  .mat-tab-label {
    font-family: var(--font);
    font-weight: 500;
    &.mat-tab-label-active { // keep active tabs black (not grey)
      opacity: 1;
      .mat-icon {
        opacity: 0.9;
      }
      .notification {
        background-color: var(--color-primary);
      }
    }
    .mat-icon {
      @extend %tfx;
      font-size: 14px;
      margin-right: 9px;
      opacity: 0.5;
    }
  }
  .notification { // notification tags in tabs - e.g. Orders [3]
    @extend %notification;
    background-color: hsla(var(--text-muted-hsl), 0.5);
    margin-left: 0.4rem;
    color: var(--color-white);
  }
}


// ------ 2.3. EXPANSION PANELS ------ //

mat-expansion-panel.mat-expansion-panel {
  @extend %mat-card;
  margin: 0 0 4px;
  overflow: hidden;
  padding: 0;
  border-radius: 0;
  & > .mat-expansion-panel-header {
    font-family: var(--font);
    font-size: 100%;
    &:hover {
      background: inherit !important; // disable darker bg on hover by default
    }
    .mat-expansion-panel-header-title {
      text-transform: uppercase;
      font-family: var(--font);
    }
    & > .mat-expansion-indicator {
      @extend %tfx;
      position: relative;
      top: -3px;
    }
  }
  .mat-expansion-panel-content {
    font: inherit !important;
    font-family: var(--font);
  }
  &.mat-expanded { // while expanded..
    & > .mat-expansion-panel-header {
      & > .mat-expansion-indicator {
        top: 3px;
      }
    }
  }
  // sidebar/instance switcher
  &.instance-switcher {
    .mat-expansion-indicator {
      right: 16px;
    }
    &.mat-expanded {
      background: hsla(var(--bg-sidebar-darker-hsl), 0.4) !important;
    }
  }
  // sidebar/menu: no padding for panel's content (used in the sidebar)
  &.no-padding {
    .mat-expansion-panel-body {
      padding: 0;
    }
  }
  // sidebar/menu: color panel's arrow
  &.arrow-colored {
    .mat-expansion-indicator::after {
      @extend %tfx;
      color: var(--text-muted);
    }
    // when expanded..
    &.mat-expanded {
      .mat-expansion-indicator::after {
        color: var(--color-primary);
      }
    }
  }
}


// ------ 2.4. STEPPER ------ //

.mat-stepper-horizontal {
  font-family: var(--font) !important;
  .mat-step-label {
    min-width: auto;
    font-size: 15px;
  }
  .mat-step-label-selected {
    font-weight: 500;
  }
  .mat-step-icon {
    .mat-icon {
      font-size: 12px;
    }
  }
  // buy/cart-shipping: remove white background
  &.no-bg {
    background: none !important;
  }
  // sell > import listings (custom layout)
  &.--stepper-above-page-title {
    .mat-horizontal-stepper-header-container {
      margin: calc(-1 * var(--paddingV)) calc(-1 * var(--paddingH)) 0;
      padding: 0 calc(var(--paddingH) - 24px);
      border-bottom: 1px dashed var(--bg-muted);
    }
    .mat-horizontal-content-container {
      padding: var(--paddingV) 0 0;
      overflow: visible;
    }
  }
}


// ------ 2.5. LISTS ------ //

.mat-list {
  mat-list-item.mat-list-item {
    padding: 0;
    font-family: var(--font);
  }
  // sidebar/menu: smaller vertical padding of child lists
  &.sidebar-item-group {
    .mat-list-item {
      height: 42px;
      .mat-list-item-content {
        padding: 0 24px;
      }
    }
  }
}

.mat-nav-list {
  // MP Listings: category filter
  &.category-items {
    .mat-list-item {
      .mat-list-item-content {
        padding: 6px 26px 6px 36px !important;
        font-size: 13px;
        color: var(--text-muted);
      }
    }
  }
}

.list-data {
  .mat-list-item {
    font-size: 14px;
    word-wrap: break-word;
    line-height: 22px;
  }
  .mat-subheader {
    padding-left: 0;
    padding-right: 0;
  }
  .mat-divider {
    margin: 15px 0;
  }
}


// ------ 2.6. MODALS ------ //

.cdk-overlay-container { // needs high specificity to override default Mat styling
  .mat-dialog-container {
    position: relative;
    max-width: 1000px;
    padding: 18px 24px 24px 24px;
    .modal-close { // new modal close button (use with `mat-button color="warn"`
      @extend %tfx;
      position: absolute;
      right: 16px; // align with modal's content padding
      top: 11px;
      z-index: 10;
      color: var(--bg-muted) !important;
      min-width: 36px;
      padding: 0;
      border-radius: 50%;
      overflow: hidden;
      .mat-icon {
        font-size: 16px;
        line-height: 1.4;
        margin: 0;
      }
      &:hover,
      &:focus {
        color: var(--color-alert) !important;
      }
    }
  }
}

mat-dialog-title,
.mat-dialog-title {
  display: block;
  font-family: var(--font) !important;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 18px;
  padding-right: 50px;
  &.text-center {
    padding: 0;
  }
}

mat-dialog-content.mat-dialog-content {
  line-height: 1.5;
  margin: 0 -24px;
  &.--muted {
    background: var(--bg);
    border-top: 1px solid var(--bg-muted);
    border-bottom: 1px solid var(--bg-muted);
  }
  // TODO @Allien: is the spinner here needed anymore? (in Sync modal only?)
  .mat-progress-spinner { // loading spinners
    width: 100px;
    height: 100px;
    padding: 0 !important;
    position: absolute;
    left: calc((100% - 100px) / 2);
    top: calc((100% - 100px) / 2);
    z-index: 10;
    background: hsla(var(--color-white-hsl), 0.9);
    box-shadow: 0 0 70px var(--bg-muted);
    border-radius: 50%;
    svg {
      width: 70px !important;
      height: 70px !important;
      transform-origin: 50px 35px;
    }
  }
}

mat-dialog-actions.mat-dialog-actions {
  //border-top: 1px solid var(--bg-muted);
  margin: 0 -24px -24px;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: auto; // fix default (?) styling
}


// ------ 2.7. SCOLLBARS ------ //

/* pseudo elements
::-webkit-scrollbar              {}
::-webkit-scrollbar-button       {}
::-webkit-scrollbar-track        {}
::-webkit-scrollbar-track-piece  {}
::-webkit-scrollbar-thumb        {}
::-webkit-scrollbar-corner       {}
::-webkit-resizer                {}
*/

::-webkit-scrollbar-track {
  background: var(--bg);
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  background: hsla(var(--bg-black-hsl), 0.3);
  &:hover {
    background: hsla(var(--bg-black-hsl), 0.35);
  }
}
.mat-drawer-container {
  background: var(--bg);
}


// ------ 2.8. SIDENAV ------ //

.mat-sidenav {
  border: 0 !important;
  &.sidebar { // app's sidebar, dark main menu
    .mat-drawer-inner-container {
      display: flex;
      flex-direction: row;
    }
    .mat-divider {
      border-top: 1px solid hsl(192, 11%, 9%);
      border-bottom: 1px solid hsl(0, 0%, 20%);
    }
  }
}

.mat-sidenav-container {
  &.always-scroll { // show scrollbar always, so content doesn't jump when it expands outside of viewport
    .mat-drawer-content {
      overflow-y: scroll;
    }
  }
}


// ------ 2.9. MENUS (CONTEXTUAL) ------ //

.mat-menu-panel {
  .heading { // heading for contextual menus (explaining the options)
    padding: 8px 16px;
    .title {
      margin: 0;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 100%;
    }
    .help-text {
      margin: 6px 0 4px;
    }
  }
  .mat-menu-item {
    &.mat-menu-item-submenu-trigger { // option with submenu
      font-weight: 500;
    }
    .right { // align items to right (prices etc.)
      float: right;
    }
    .muted {
      color: var(--text-muted);
    }
  }
  &.--smaller { // smaller line height for menu items
    .mat-menu-item {
      height: 36px;
      line-height: 36px;
      span {
        font-size: 13px;
        font-weight: 500;
      }
    }
  }
  &.--with-images { // menu options with images (e.g. Logos in Market selector)
    .image {
      width: 24px;
      height: 24px;
      vertical-align: middle;
      border-radius: 50%;
      margin: 0 7px 0 -3px;
    }
  }
}


// ------ 2.10. DIVIDER ------ //

.mat-divider {
  &.thicker {
    --thickness: 2px;
    &.mat-divider-horizontal {
      border-top-width: var(--thickness);
    }
    &.mat-divider-vertical {
      border-right-width: var(--thickness);
    }
  }
  &.dashed {
    &.mat-divider-horizontal {
      border-top-style: dashed;
    }
    &.mat-divider-vertical {
      border-right-style: dashed;
    }
  }
  &.lighter {
    opacity: 0.67;
  }
}


// ------ 2.11. TOOLBAR ------ //

mat-toolbar.mat-toolbar {
  font-family: var(--font);
}


// ------ 2.12. TREE BROWSER ------ //

tree-select {
  .mat-input-element {
    cursor: pointer;
    text-overflow: ellipsis;
  }
}

mat-tree.mat-tree {
  font-family: var(--font);
  .mat-checkbox-checked {
    color: var(--color-secondary);
    font-weight: 500;
  }
  .mat-checkbox-indeterminate { // some children checked, some not
    color: var(--text);
  }
  // Market > Category/country filters: items clickable on their full width
  &.--full-width-labels {
    .mat-checkbox-layout {
      display: block;
    }
    .mat-checkbox-inner-container {
      margin-right: 4px;
    }
  }
}



/* ------------------------------- *\
    3. FORMS
\* ------------------------------- */

// New customized "filled" inputs/selects etc.
label {
  cursor: text;
  .label {
    @extend %box-title;
    padding: 16px 0 1px;
    margin: 0 0 -0.6em 0;
    position: relative;
    z-index: 2; // make sure label is on top (e.g. when character counter is present)
  }
  .label-desc {
    color: var(--text-muted);
    margin: 14px 0 0;
    padding: 0 16px;
  }
  & > .label {
    padding: 15px 16px 0;
  }
  &.--larger {
    & > .label {
      padding: 21px 24px 0;
    }
    & > .label-desc {
      padding: 0 24px;
      margin: 10px 0 0;
    }
  }
}
.mat-form-field[appearance="fill"] {
  --field-boxed-paddingV: 16px;
  display: block;
  .mat-form-field-flex {
    padding: 0 16px;
    background: var(--color-white);
    align-items: center;
  }
  .mat-form-field-wrapper { // remove unnecessary paddings and fix positions for aux stuff
    padding-bottom: 0;
    .mat-form-field-underline {
      bottom: 0;
    }
  }
  .mat-form-field-infix {
    padding: 0;
    border-top: 0;
  }
  .mat-form-field-subscript-wrapper {
    overflow: visible;
    top: 12px; // move it above the field
    .mat-hint {
      position: relative;
      top: 0;
      right: 6px;
      bottom: auto;
    }
  }
  &.mat-form-field-disabled {
    .mat-form-field-flex {
      background: var(--color-white);
      color: var(--text-muted);
    }
  }
  // Prefixes & suffixes
  [matPrefix],
  [matSuffix] {
    &:not(button) {
      color: var(--text-muted); // mute text's color
    }
    &.mat-icon {
      font-size: 16px; // 1.25em
      color: var(--text-muted);
      position: relative;
      top: -1px; // -0.1em
    }
  }
  [matPrefix] {
    margin-right: 8px;
  }
  [matSuffix] {
    margin-left: 8px;
  }
  button[matSuffix],
  button[matPrefix] { // show/hide password button (taken from Encrypt wallet .--larger field)
    padding: 8px;
    .mat-icon {
      margin: 0;
      font-size: 16px;
    }
  }
  button[matPrefix] {
    margin-left: -8px;
  }
  button[matSuffix] {
    margin-right: -8px;
  }

  &.--larger {
    .label { // manually added labels, e.g. on Send page
      padding: 22px 0 0;
    }
    .mat-form-field-flex {
      padding: 0 24px;
    }
    .mat-form-field-subscript-wrapper {
      top: 15px; // move it above the field
      .mat-hint {
        right: 14px;
      }
    }
  }
  &.--smaller {
    .mat-form-field-flex {
      padding: 0 12px;
    }
  }
  
  // Boxed, standalone variant (common)
  &.--boxed {
    box-shadow: 0 1px 10px -4px hsla(var(--text-hsl), 0.3);
    border-radius: var(--radius) var(--radius) 0 0;
    margin-bottom: 16px;
  }

  // Plain variant, used inside of MatCards
  &.--plain {
    margin-bottom: 0;
    border-radius: 0;
    .mat-form-field-flex {
      background: transparent;
    }
  }

  // --- INPUTS ---

  &.mat-form-field-type-mat-input {
    .mat-input-element {
      padding: var(--field-boxed-paddingV) 0;
      margin: 0;
    }
    // Send: Larger padding around input
    &.--larger,
    &.--largest {
      font-size: 15px;
      .mat-form-field-flex {
        padding: 0 24px;
      }
      .mat-input-element {
        padding: calc(1.4 * var(--field-boxed-paddingV)) 0;
      }
      .mat-hint {
        bottom: 52px;
        right: 14px;
      }
    }
    &.--largest {
      font-size: 18px;
    }
  } // << INPUTS


  // --- SELECTS ---

  &.mat-form-field-type-mat-select {
    .mat-form-field-infix {
      padding: var(--field-boxed-paddingV) 0;
    }
    .mat-form-field-wrapper {
      .mat-select-arrow-wrapper {
        transform: none;
      }
    }

    &.--larger {
      font-size: 15px;
      .mat-form-field-infix {
        padding: calc(1.4 * var(--field-boxed-paddingV)) 0;
        .mat-select-value {
          position: relative;
          top: 1px;
        }
      }
    }
    &.--smaller {
      .mat-form-field-infix {
        padding: calc(0.7 * var(--field-boxed-paddingV)) 0;
        min-width: 120px;
        width: auto;
      }
    }

    // Boxed, standalone variant
    &.--boxed {
      .mat-form-field-infix {
        padding: var(--field-boxed-paddingV) 0;
      }
      .mat-select-value {
        font-weight: 500;
      }
      .mat-form-field-wrapper { // remove unnecessary paddings and fix positions for aux stuff
        .mat-form-field-subscript-wrapper {
          top: 100%;
        }
      }
    }
  } // << SELECTS


  // --- TEXTAREAS ---

  &.textarea { // TODO: any better way to select a Textarea?
    .label {
      margin: 0 0 12px; // push textarea lower, so it doesn't overlap with the .label
    }
    .mat-form-field-flex {
      padding: 0 2px 4px 16px; // lower padding, so that scrollbar is on the edge
      .mat-input-element {
        padding-top: 0;
        padding-right: var(--field-boxed-paddingV);
        width: calc(100% - var(--field-boxed-paddingV));
      }
    }
    &.--larger {
      .mat-form-field-flex {
        padding: 0 6px 10px 24px;
      }
    }
  }
  // << TEXTAREAS



}

// ------ 3.1. INPUTS ------ //

.mat-form-field {
  font-family: var(--font) !important;
  line-height: normal;
  .mat-form-field-label {
    overflow: visible; // fix cropped labels
  }
  .mat-input-element {
    height: 100%; // fix cropped text in inputs
  }
  textarea.mat-input-element {
    line-height: 1.45;
  }
  &.larger { // larger inputs
    font-size: 14px;
  }
  &.auto-width {
    .mat-form-field-infix {
      width: auto;
    }
  }
  &.full-width {
    width: 100%;
    .mat-form-field-infix {
      width: 100%;
    }
  }
  &.no-top-padding { // remove top space reserved for floating placeholders (if disabled)
    .mat-input-infix {
      border-top: 0;
    }
  }
  &.no-bottom-padding {
    .mat-form-field-wrapper {
      margin-bottom: -1.25em; // offset bottom padding
    }
  }
}


// ------ 3.2. VERIFICATION ------ //

input {
  &[type='text'] {
    border: 0;
  }
  // visual verification
  &.verify-sucess {
    color: var(--color-primary) !important;
  }
  &.verify-error,
  &.verify-error::placeholder {
    color: var(--color-alert);
    border-color: var(--color-alert);
  }
}


// ------ 3.3. SELECTS ------ //

.mat-select {
  font-family: var(--font) !important;
  .mat-select-trigger {
    height: 1.2em; // fix overflow:hidden for our custom font
  }
}
mat-option.mat-option {
  --height: 36px;
  font-family: var(--font) !important;
  line-height: var(--height);
  height: var(--height);
  .mat-option-text {
    font-size: 13px;
  }
  &.mat-selected {
    color: var(--text) !important;
    font-weight: 500;
  }
  &.--larger {
    .mat-option-text {
      font-size: 15px;
    }
  }
}
.mat-select-panel {
  background: var(--color-white);
}

// TODO @Allien: remove/replace
.underlining-select {
  border-bottom: 0.2px solid hsla(var(--text-hsl), 0.6);
  line-height: 1.6em;
}


// ------ 3.4. SELECT/AUTOCOMPLETE ------ //

.mat-autocomplete-panel {
  min-width: 280px !important; // prevent cropped text in select's options
  max-height: 420px !important; // let's make it a bit higher
}

// ------ 3.5. RADIOS ------ //

.mat-radio-button {
  font-family: var(--font) !important;
  &.mat-radio-checked {
    font-weight: 500;
  }
  &.larger {
    font-size: 115%;
  }
}

.mat-list-radio {
  .mat-radio-button {
    margin-bottom: 12px;
  }
  h5 {
    margin-top: 0;
  }
}

.mat-radio-group {
  font-family: var(--font);
  // send: full-width clickable radios
  &.block-radio {
    .mat-radio-button {
      display: block;
    }
    .mat-radio-button .mat-radio-label,
    .mat-radio-button .mat-radio-label-content {
      width: 100%;
    }
  }
}


// ------ 3.6. CHECKBOXES ------ //

.mat-checkbox {
  font-family: var(--font) !important;
  &.align-top { // settings: don't center checkbox vertically
    .mat-checkbox-inner-container {
      margin: 0 12px 0 0;
      top: 5px;
    }
  }
  &.wrap { // Settings: wrap long checkbox labels
    .mat-checkbox-layout {
      white-space: normal;
    }
  }
}

.checkbox-group { // Material doesn't have this natively, so we bring out own
  &.full-width {
    .mat-checkbox-layout {
      display: block;
    }
  }
  &.with-hover {
    .mat-checkbox:hover {
      .mat-checkbox-layout {
        background: var(--bg-hover);
      }
    }
  }
  &.padded {
    .mat-checkbox-layout {
      padding: 3px 24px;
    }
  }
}


// ------ 3.7. TOGGLE BUTTONS ------ //

.mat-button-toggle {
  &.mat-button-toggle-appearance-standard {
    &.mat-button-toggle-standalone {
      &.filter-button { // modified appearance to basic mat-buttons (used in Reported listing only filter)
        background: transparent;
        border: 0;
        .mat-button-toggle-label-content {
          line-height: 36px;
        }
        &:hover,
        &:focus {
          background: hsla(var(--text-hsl), .04);
        }
        &.mat-button-toggle-checked {
          background: hsla(var(--color-info-hsl), 0.1);
          color: var(--color-info);
        }
      }
    }
  }
}



/* ------------------------------- *\
    4. PLUG-INS
\* ------------------------------- */

// ------ 4.1. LIGHTBOX GALLERY ------ //

lightbox#lightbox-lightbox {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  border-radius: 0;
  gallery {
    background: hsla(var(--bg-sidebar-darker-hsl), 0.95);
    .g-counter {
      border-radius: var(--radius);
    }
  }
}
