<app-header>
  <mat-tab-group class="demo-tab-group" (selectChange)="changeTab($event.index)">
    <mat-tab label="Main">
      <div *ngIf="tabLabels[selectedTab] == 'main'" fxLayout="row" fxLayoutGap="10px" class="container-block">

        <mat-list>
          <mat-list-item>
            <div class="input-label col-xs-4">Start Particl on system login</div>
            <mat-checkbox [(ngModel)]="settings.main.autostart"></mat-checkbox>

          </mat-list-item>
          <mat-list-item>
            <div class="input-label col-xs-4">Detach databases at shutdown</div>
            <mat-checkbox [(ngModel)]="settings.main.detachDatabases"></mat-checkbox>
          </mat-list-item>

          <mat-list-item>
            <div>Pay transaction fee</div>

            <div>
              <div class="input-comment row">
                <p>Optionnal transaction fee per kB that helps make sure your transactions
                  are processed quickly. <br/> Most transactions are 1kB. Fee 0.01 recommended.</p>
              </div>

              <div>
                <input type="text" [(ngModel)]="settings.main.feeAmount">
                <div>
                  <mat-form-field>
                    <mat-select [(ngModel)]="settings.main.feeCurrency">
                      <mat-option value="part">
                        PART
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-list-item>

          <mat-list-item>
            <div>Pay transaction fee</div>
            <div>

              <div>
                <p>Optionnal transaction fee per kB that helps make sure your transactions are processed quickly.
                  Most transactions are 1kB. Fee 0.01 recommended.</p>
              </div>

              <div>
                <mat-form-field class="example-full-width">
                  <input matInput type="text" [(ngModel)]="settings.main.feeAmount">
                </mat-form-field>

                <mat-form-field>
                  <mat-select [(ngModel)]="settings.main.feeCurrency">
                    <mat-option value="part">
                      PART
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="input-label col-xs-4">Enable staking</div>
            <mat-checkbox [(ngModel)]="settings.main.stake"></mat-checkbox>
          </mat-list-item>

          <mat-list-item>
            <div class="input-label col-xs-4">Reserve</div>
            <div class="col-xs-8">
              <div class="input-comment row">
                <p>Reserved amount does not participate in staking and is therefore spendable at any time.</p>
              </div>

              <div class="row col-xs-6">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" [(ngModel)]="settings.main.reserveAmount">
                </mat-form-field>

                <div class="col-xs-6">
                  <mat-form-field>
                    <mat-select [(ngModel)]="settings.main.reserveCurrency">
                      <mat-option value="part">
                        PART
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-list-item>

          <mat-list-item>
            <div class="input-label col-xs-4">Minimum stake interval</div>
            <mat-form-field class="example-full-width">
              <input matInput type="text" [(ngModel)]="settings.main.stakeInterval">
            </mat-form-field>
          </mat-list-item>

          <mat-list-item>
            <div class="input-label col-xs-4">Minimum ring size</div>
            <mat-form-field class="example-full-width">
              <input matInput type="text" [(ngModel)]="settings.main.minRing">
            </mat-form-field>

          </mat-list-item>

          <mat-list-item>
            <div class="input-label col-xs-4">Maximum ring size</div>
            <mat-form-field class="example-full-width">
              <input matInput type="text" [(ngModel)]="settings.main.maxRing">
            </mat-form-field>

          </mat-list-item>

          <mat-list-item>
            <div class="input-label col-xs-4">Automatically select ring size</div>
            <mat-checkbox [(ngModel)]="settings.main.autoRing"></mat-checkbox>
          </mat-list-item>

          <mat-list-item>
            <div class="input-label col-xs-4">Enable secure messaging</div>
            <mat-checkbox [(ngModel)]="settings.main.secureMessaging"></mat-checkbox>
          </mat-list-item>

          <mat-list-item>
            <div class="input-label col-xs-4">Thin mode (requires restart)</div>
            <mat-checkbox [(ngModel)]="settings.main.thin"></mat-checkbox>
          </mat-list-item>

          <mat-list-item>
            <div class="input-label col-xs-4">Thin full index</div>
            <mat-checkbox [(ngModel)]="settings.main.thinFullIndex"></mat-checkbox>
          </mat-list-item>

          <mat-list-item>
            <div class="input-label col-xs-4">Thin index window</div>
            <mat-form-field class="example-full-width">
              <input matInput type="text" [(ngModel)]="settings.main.thinIndexWindow">
            </mat-form-field>

          </mat-list-item>
        </mat-list>
      </div>
    </mat-tab>

    <mat-tab label="Network">
      <div *ngIf="tabLabels[selectedTab] == 'network'" class="container-block">
        <div class="card row">
          <div class="input-label col-xs-4">Map port using UPNP</div>
          <mat-checkbox [(ngModel)]="settings.network.upnp"></mat-checkbox>
        </div>

        <div class="card row">
          <div class="input-label col-xs-4">Connect through Socks proxy</div>
          <mat-checkbox [(ngModel)]="settings.network.proxy"></mat-checkbox>
        </div>

        <div class="card row">
          <div class="input-label col-xs-4">Proxy IP</div>

          <mat-form-field class="example-full-width">
            <input matInput type="text" id="ip" [(ngModel)]="settings.network.proxyIP">
          </mat-form-field>
        </div>

        <div class="card row">
          <div class="input-label col-xs-4">Port</div>

          <mat-form-field class="example-full-width">
            <input matInput type="text" id="port" [(ngModel)]="settings.network.proxyPort">
          </mat-form-field>

        </div>

        <div class="card row">
          <div class="input-label col-xs-4">Socket version</div>
          <div class="col-xs-4">
            <mat-form-field>
              <mat-select [(ngModel)]="settings.network.socketVersion">
                <mat-option value="4">4</mat-option>
                <mat-option value="5">5</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Window">
      <div *ngIf="tabLabels[selectedTab] == 'window'" class="container-block">
        <div class="card row">
          <div class="input-label col-xs-4">Minimize to the tray instead of the taskbar</div>
          <mat-checkbox [(ngModel)]="settings.window.tray"></mat-checkbox>
        </div>

        <div class="card row">
          <div class="input-label col-xs-4">Minimize on close</div>
          <mat-checkbox [(ngModel)]="settings.window.minimize"></mat-checkbox>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Display">
      <div *ngIf="tabLabels[selectedTab] == 'display'" class="container-block">
        <div class="card row">
          <div class="input-label col-xs-4">User interface language</div>
          <div class="col-xs-4">
            <mat-form-field>
              <mat-select [(ngModel)]="settings.display.language">
                <mat-option value="default">(default)</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="card row">
          <div class="input-label col-xs-4">Unit to show amounts in</div>
          <div class="col-xs-4">
            <mat-form-field>
              <mat-select [(ngModel)]="settings.display.units">
                <mat-option value="part">PART</mat-option>
                <mat-option value="usd">USD</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="card row">
          <div class="input-label col-xs-4">Rows per page</div>
          <div class="col-xs-4">
            <mat-form-field>
              <mat-select [(ngModel)]="settings.display.rows">
                <mat-option [value]="20">20</mat-option>
                <mat-option [value]="50">50</mat-option>
                <mat-option [value]="100">100</mat-option>
                <mat-option [value]="500">500</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="card row">
          <div class="input-label col-xs-4">Display addresses in transaction list</div>
          <mat-checkbox [(ngModel)]="settings.display.addresses"></mat-checkbox>
        </div>

        <div class="card row">
          <div class="input-label col-xs-4">Events</div>

          <div class="col-xs-8">
            <table class="table">
              <tr>
                <th></th>
                <th>Visible</th>
                <th>Notifications</th>
              </tr>
              <tr>
                <td>Incoming message</td>
                <td></td>
                <td>
                  <mat-checkbox [(ngModel)]="settings.display.notify.message"></mat-checkbox>
                </td>
              </tr>
              <tr>
                <td>Sent to</td>
                <td>
                  <mat-checkbox [(ngModel)]="settings.display.show.sentTo"></mat-checkbox>
                </td>
                <td>
                  <mat-checkbox [(ngModel)]="settings.display.notify.sentTo"></mat-checkbox>
                </td>
              </tr>
              <tr>
                <td>Received with</td>
                <td>
                  <mat-checkbox [(ngModel)]="settings.display.show.receivedWith"></mat-checkbox>
                </td>
                <td>
                  <mat-checkbox [(ngModel)]="settings.display.notify.receivedWith"></mat-checkbox>
                </td>
              </tr>
              <tr>
                <td>Received from</td>
                <td>
                  <mat-checkbox [(ngModel)]="settings.display.show.receivedFrom"></mat-checkbox>
                </td>
                <td>
                  <mat-checkbox [(ngModel)]="settings.display.notify.receivedFrom"></mat-checkbox>
                </td>
              </tr>
              <tr>
                <td>Payment to yourself</td>
                <td>
                  <mat-checkbox [(ngModel)]="settings.display.show.selfPayment"></mat-checkbox>
                </td>
                <td>
                  <mat-checkbox [(ngModel)]="settings.display.notify.selfPayment"></mat-checkbox>
                </td>
              </tr>
              <tr>
                <td>Received PART</td>
                <td>
                  <mat-checkbox [(ngModel)]="settings.display.show.partReceived"></mat-checkbox>
                </td>
                <td>
                  <mat-checkbox [(ngModel)]="settings.display.notify.partReceived"></mat-checkbox>
                </td>
              </tr>
              <tr>
                <td>Sent PART</td>
                <td>
                  <mat-checkbox [(ngModel)]="settings.display.show.partSent"></mat-checkbox>
                </td>
                <td>
                  <mat-checkbox [(ngModel)]="settings.display.notify.partSent"></mat-checkbox>
                </td>
              </tr>
              <tr>
                <td>Other</td>
                <td>
                  <mat-checkbox [(ngModel)]="settings.display.show.other"></mat-checkbox>
                </td>
                <td>
                  <mat-checkbox [(ngModel)]="settings.display.notify.other"></mat-checkbox>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Help">
      No content
    </mat-tab>

    <mat-tab label="I2P">
      <div>
        <div class="card">
          I2P (coming soon)
        </div>
      </div>
    </mat-tab>

    <mat-tab label="TOR">
      <div class="container-block">
        <div class="card">
          TOR (coming soon)
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</app-header>

<div class="pull-right" *ngIf="tabLabels[selectedTab] !== 'help'">
  <button (click)="cancel()" mat-raised-button color="warn">Cancel</button>
  <button (click)="apply()" mat-raised-button>Apply</button>
  <button class="validate" (click)="validate()" mat-raised-button color="primary">OK</button>
</div>
