@import "./src/assets/_config"; // import shared colors etc.

// ------ UI ------ //

hr.divider {
  border: none;
  border-top: 1px solid mix($bg, $bg-shadow);
  margin: 24px -24px;
}

table.table {
  width: 100%;
  th {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: normal;
    color: $text-muted;
    padding: 5px 0;
  }
  td {
    @extend %tfx;
    border-top: 1px solid $bg-shadow;
    padding: 5px 0;
    &.center {
      text-align: center;
    }
  }
  tr:hover {
    td {
      background: $bg;
    }
  }
}

.card {
  margin-bottom: 16px;
  .section {
    & > .title {
      @extend %box-title;
      margin-top: 0;
    }
    a {
      color: darken($color, 5%);
      text-decoration: none;
      &:hover {
        color: $color;
        text-decoration: underline;
      }
    }
  }
}


// ------ FORMS ------ //

.option { // main description of setting option
  @extend %box-item-title;
  margin: 0 0 3px;
  font-weight: 500;
  line-height: 1.5;
}

.desc { // help text for ^
  @extend %help-text;
  margin: 0;
}


// ------ LAYOUT ------ //

.tab-group {
  position: fixed;
  left: $sidebar-width;
  right: 0;
  z-index: 100;
  margin-top: 64px;
  background: rgba($bg, 0.95);
}

.container-block {
  $padding: 35px;
  padding: ($header-main-height + $tab-bar-height) $padding $padding;
  @include break(l) {
    $padding: 45px;
    padding: ($header-main-height + $tab-bar-height) $padding $padding;
  }
}

.subtitle { // section titles
  @extend %subtitle;
}

.actions { // buttons (cancel/apply/save)
  text-align: right;
  margin-top: 16px;
  button {
    margin: 0 0 0 10px;
  }
}