@import "./src/assets/_config"; // import shared colors etc.

.container-block {
  padding-top: 0; // offset title's margin
}

.header-nav { // section titles
  @extend %subtitle;
  list-style-type: none;
}

.card {
  margin-bottom: 16px;
}

.item { // setting item
  margin-bottom: 16px;
}


.checkbox {
  .option { // main description of setting option
    margin: 0;
  }
  .desc { // help text for ^
    margin: 0;
  }
}
.mat-checkbox-layout {
  white-space: normal;
}