@import "./src/assets/_config"; // import shared colors etc.

// ------ UI ------ //

hr.divider {
  border: none;
  border-top: 1px solid mix($bg, $bg-shadow);
  margin: 24px -24px;
  &.transparent {
    border: none;
  }
}

.card {
  margin-bottom: 16px;
  .section {
    & > .title {
      @extend %box-title;
      margin-top: 0;
    }
    a {
      color: darken($color, 5%);
      text-decoration: none;
      &:hover {
        color: $color;
        text-decoration: underline;
      }
    }
  }
}


// ------ FORMS ------ //

.option { // main description of setting option
  @extend %box-item-title;
  margin: 0 0 3px;
  font-weight: 500;
  line-height: 1.5;
  .tag {
    border: 1px solid rgba($text-muted, 0.65);
    border-radius: 4px;
    font-size: 0.6rem;
    color: $text-muted;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 6px;
    margin-left: 5px;
    position: relative;
    top: -1px;
  }
}

.desc { // help text for ^
  @extend %help-text;
  margin: 0;
}

mat-slider {
  width: 100%;
}

// ------ LAYOUT ------ //

.tab-group {
  position: fixed;
  top: 0;
  left: $sidebar-width;
  right: 0;
  z-index: 100;
  margin-top: 64px;
  background: rgba($bg, 0.95);
}

.container-block {
  $padding: 35px;
  padding: ($header-main-height + $tab-bar-height) $padding $padding;
  @include break(l) {
    $padding: 45px;
    padding: ($header-main-height + $tab-bar-height) $padding $padding;
  }
}

.subtitle { // section titles
  @extend %subtitle;
  margin-top: 35px;
}

.actions { // buttons (cancel/apply/save)
  margin-top: 16px;
  display: flex;
  align-content: space-between;
  .left {
    flex: 1 1 50%;
    button {
      margin: 0 10px 0 0;
    }
  }
  .right {
    flex: 1 1 50%;
    text-align: right;
    button {
      margin: 0 0 0 10px;
    }
  }
}
