@import './src/assets/config'; // import shared colors etc.

// ------ UI ------ //

.subtitle {
  @extend %subtitle;
  &:first-of-type {
    margin-top: 0;
  }
}

hr.divider {
  margin: 24px -24px;
  border: 0;
  border-bottom: 1px solid $bg-shadow;
}

// ------ LAYOUT ------ //


.mat-card {
  margin-bottom: 16px;
  .section {
    & > .title {
      @extend %box-title;
      margin-top: 0;
    }
    /*
    a {
      color: darken($color, 5%);
      text-decoration: none;
      &:hover {
        color: $color;
        text-decoration: underline;
      }
    }
    */
  }
}

.actions { // buttons (cancel/apply/save)
  margin-top: 16px;
  display: flex;
  align-content: space-between;
  .left {
    flex: 1 1 50%;
    button {
      margin: 0 10px 0 0;
    }
  }
  .right {
    flex: 1 1 50%;
    text-align: right;
    button {
      margin: 0 0 0 10px;
    }
  }
}


// ------ FORMS ------ //

.option { // main description of setting option
  @extend %box-title;
  margin: 0 0 3px;
  font-weight: 500;
  text-transform: none;
  line-height: 1.5;
  .tag {
    border: 1px solid rgba($text-muted, 0.65);
    border-radius: 4px;
    font-size: 0.6rem;
    color: $text-muted;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 6px;
    margin-left: 5px;
    position: relative;
    top: -1px;
  }
}

.desc { // help text for ^
  @extend %help-text;
  margin: 0;
}

mat-slider {
  width: 100%;
}

.mat-form-field {
  & + .mat-form-field {
    margin-left: 12px;
  }
}
