@import './src/assets/_config'; // import shared colors etc.

// ------ LAYOUT ------ //

.row {
  position: relative;
  display: flex;
}

.column {
  flex: 1 1 50%;
  &:last-of-type {
    margin-left: 35px;
  }
}

.action-buttons {
  padding: 0 $padding $padding;
  @include break(l) {
    padding: 0 45px $padding-l;
  }
}


// ------ UI ------ //

.hero-block { // intro text
  margin-top: $header-main-height;
  padding: 42px $padding;
  background: rgba($color-white, 0.6);
  border-bottom: 1px dashed $bg-shadow;
  @include break(l) {
    padding: 54px $padding-l;
  }
  .title {
    font-size: 24px;
    margin-bottom: 14px;
  }
  p {
    font-size: 13px;
    line-height: 1.45;
    color: mix($text, $text-muted);
    &.widget-help {
      font-size: inherit;
      color: $text-muted;
      margin-bottom: 0;
    }
  }
}

mat-card {
  margin-bottom: 20px;
  .title { // box titles
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 24px;
    small {
      color: $text-muted;
      font-weight: 500;
      margin-left: 6px;
    }
    .mat-button {
      float: right;
      margin: -6px -12px 0 0;
    }
  }
  p:not(.widget-help) {
    line-height: 1.6;
  }
}

.item { // voting/author item
  display: flex;
  .no { // ^'s number
    flex: 0 0 24px;
    width: 24px;
    height: 24px;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    border: 2px solid $bg-shadow;
    border-radius: 50%;
    margin-top: 8px;
  }
  .content {
    flex: 1 1 100px;
    margin-left: 20px;
  }
  .remove-option {
    flex: 0 0 40px;
    margin-left: 12px;
    padding-top: 8px;
    .mat-icon {
      margin-right: 0;
    }
  }
  &.voting { // voting option colors
    &:nth-of-type(2) > .no {
      border-color: $color;
    }
    &:nth-of-type(3) > .no {
      border-color: $color-alert;
    }
    &:nth-of-type(4) > .no {
      border-color: $color-info;
    }
    &:nth-of-type(5) > .no {
      border-color: $color-warning;
    }
    &:nth-of-type(6) > .no {
      border-color: mix($color-alert, $color-info);
    }
  }
}


// ------ SPECIFIC ------ //

// Voting period
.voting-period {
  display: flex;
  align-items: center;
  .half-width {
    flex: 1 1 50%;
    &:first-child {
      margin-right: 3%;
    }
  }
}

// Terms & Conditions
.terms {
  ul {
    margin: 16px 0;
    padding: 0 0 0 28px;
    line-height: 1.6;
    color: mix($text, $text-muted);
  }
}
