@import './src/assets/_config'; // import shared colors etc.


.header-main {
  border-bottom: 1px solid var(--bg-muted);
  padding: 0 var(--paddingH);
  font-family: var(--font);
  font-size: 15px;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 100;
  @include break(xl) {
    font-size: 16px;
  }
  .title {
    font-weight: 600;
    display: inline-block;
  }
}
