@import './src/assets/_config'; // import shared colors etc.

.mat-dialog-content {
  width: 450px;
  padding: 24px;
  margin-bottom: -24px !important; // offset missing mat-dialog-actions
  @include break(l) {
    width: 500px;
  }
  @include break(xl) {
    width: 550px;
  }
  p.lead {
    margin: 0;
  }
}

section {
  margin-top: 32px;

  &.cart-items {
    .mat-card {
      padding: 0;
    }
    .item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 12px 20px;
      .photo {
        --photo-size: 42px;
        flex: 0 0 var(--photo-size);
        height: var(--photo-size);
        border-radius: 50%;
        overflow: hidden;
        margin-right: 14px;
        img {
          @extend %image-center-cover;
        }
      }
      .title {
        font-weight: 500;
        font-size: 15px;
      }
    }
    .mat-divider {
      opacity: 0.5;
      &:last-child {
        display: none;
      }
    }
  }
  
  &.shipping {
    .shipping-address {
      color: var(--text-muted);
      font-size: 15px;
      text-align: center;
      p {
        margin: 0 0 3px;
        line-height: 1.35;
        &.name {
          color: var(--text);
          font-weight: 500;
        }
      }
    }
  }

} // section


.no-results { // in this case used instead of "mat-action-buttons
  margin-top: 30px;
}
