<div class="containerX">
  <h2 md-dialog-title>
    {{singleAddress.label}}
  </h2>
  <div>
    <div>
      <label>Address</label>
      <div>
        <div>
          <div *ngFor="let word of showAddress(singleAddress.address)">
            {{ word }}
          </div>
        </div>
      </div>
    </div>

    <div>
      <div #qrCode class="card qr">
        <qr-code [level]="'H'"
          value="particl:{{ singleAddress.address }}">
        </qr-code>
      </div>
    </div>
  </div>
  <md-dialog-actions fxLayoutAlign="end center">
    <button md-button md-dialog-close>Ok</button>
  </md-dialog-actions>
</div>
