@import './src/assets/config'; // import shared colors etc.
@import './src/app/main-market/shared/list-item-details'; // shared styling for list items

.action-buttons {
  margin-top: var(--paddingV);
}


// ------ 1) SELECT IMPORT ------ //

.select-import {
  --filter-width: 300px;
}

.import-card {
  margin-bottom: 24px;
  padding: 0;
  .text {
    padding: 4px 24px;
    a {
      color: var(--color-secondary);
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
    details {
      background: var(--bg);
      border-radius: var(--radius);
      margin-bottom: 16px;
      summary {
        @extend %tfx;
        cursor: pointer;
        outline: none;
        padding: 8px 16px;
        &::-webkit-details-marker {
          color: var(--text-muted);
        }
        &:hover,
        &:focus {
          color: var(--text);
        }
      }
      .details {
        @extend %enable-select;
        padding: 1px 16px 4px;
        p {
          margin-top: 0;
          strong {
            font-weight: 500;
          }
        }
      }
    }
  }
  label {
    display: block;
    .help-text {
      margin: 16px 0 0;
      padding: 0 24px;
    }
  }
  .message {
    margin: 0;
  }
}


// ------ 2) REVIEW IMPORT DATA ------ //

.imported-template {
  --list-item-size: 60px;
  @include break(xl) {
    --list-item-size: 70px;
  }
  .header-wrapper {
    .meta {
      .name {
        margin: 0;
        @include break(xl) {
          font-size: 16px;
        }
      }
    }
    .publish-toggle {
      margin-left: 24px;
      font-weight: 500;
    }
  }
}


