<div class="container-block without-tab-bar">

  <mat-horizontal-stepper [@.disabled]="true" [linear]="true" class="no-bg --stepper-above-page-title" #stepper>
    <!-- Overwrite default Stepper icons: https://material.angular.io/components/stepper/overview#overriding-icons -->
    <ng-template matStepperIcon="edit">
      <custom-icon>
        <mat-icon fontIcon="part-check"></mat-icon>
      </custom-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
      <custom-icon>
        <mat-icon fontIcon="part-pen-1"></mat-icon>
      </custom-icon>
    </ng-template>


    <!-- ======= 1. SELECT IMPORT ======= -->
    
    <mat-step [completed]="stepper.selectedIndex >= 1">
      <app-page-intro>
        <ng-container page-title>Import Listings</ng-container>
        <ng-container page-content>
          Already selling elsewhere? Do you want to import dozens of Listings at once? We've got you covered!<br>
          Choose your preferred Product import method below, specify import settings and continue to the next step
        </ng-container>
        <ng-container page-help>
        </ng-container>
      </app-page-intro>

      <ng-template matStepLabel>Select Import</ng-template>
      <div class="stepper-content select-import">

        <div class="filter">
          <h2 class="section-title">Select import source</h2>
          <div class="radio-switcher">
            <label *ngFor="let source of import_sources">
              <input type="radio" name="option" [value]="source.value">
              <div class="switcher-option">
                <mat-icon [fontIcon]="source.icon"></mat-icon>
                <span class="name">{{ source.title }}</span>
              </div>
            </label>
          </div><!-- .radio-switcher -->
        </div><!-- .filter-->

        <!-- a) IMPORT FROM CSV -->
        <div class="import-config with-filter">
          <h2 class="section-title">Import from CSV file</h2>

          <mat-card class="import-card">
            <div class="text">
              <p>
                CSV (comma separated values) file is an universal way of importing your Products &ndash; you can download our <a href="./assets/templates/csv_template.csv" download>CSV example template</a> as a starting point
              </p>
              <details class="help-text">
                <summary>CSV column definitions</summary>
                <div class="details">
                  <p>
                    These columns should be defined in your CSV import file &ndash; if any columns will be missing, you would have to fill them in in the next step manually.
                  </p>
                  <ul>
                    <li><strong>title</strong>: Product's title (Listing name)</li>
                    <li><strong>short_description</strong>: short sentence highlighting Product's key features</li>
                    <li><strong>long_description</strong>: general description of the Product</li>
                    <li><strong>base_price</strong>: price per Product (priced in PART)</li>
                    <li><strong>category</strong>: Product's category matching available Open Marketplace categories</li>
                    <li><strong>images</strong>: URLs to images of the Product (multiple images separated by comma and space)</li>
                    <li><strong>domestic_shipping_price</strong>: price (in PART) for shipping the Product inside your country (specified later)</li>
                    <li><strong>international_shipping_price</strong>: price for shipping the Product worldwide (outside your country)</li>
                  </ul>
                </div>
              </details>
            </div><!-- .text -->
            <mat-divider></mat-divider>
            <label class="--larger">
              <h3 class="label">Select CSV import file</h3>
              <mat-form-field appearance="fill" class="--plain --larger">
                <input matInput type="text" placeholder="Select your .csv file" />
              </mat-form-field>
            </label>
            <label class="--larger">
              <h3 class="label">CSV separator</h3>
              <p class="help-text">
                Character used to separate values (usually comma or semicolon)
              </p>
              <mat-form-field appearance="fill" class="--plain --larger">
                <input matInput type="text" placeholder="CSV delimiter" />
              </mat-form-field>
            </label>
            <p class="message --warning">Some import error occured, oops</p>
          </mat-card>

          <div class="action-buttons" fxLayoutAlign="end center" fxLayoutGap="8px">
            <button mat-raised-button color="primary" (click)="importLoad()">
              <mat-icon fontIcon="part-next-single"></mat-icon>
              Process CSV import
            </button>
          </div>
        </div><!-- .import-config -->

        <!-- b) IMPORT FROM WOOCOMMERCE -->
        <div class="import-config with-filter">
          <h2 class="section-title">Import from WooCommerce</h2>

          <mat-card class="import-card">
            <div class="text">
              <p>
                WooCommerce is a popular e-commerce solution for WordPress &ndash; easily import your WooCommerce Products here
              </p>
              <details class="help-text">
                <summary>How to get WooCommerce export file?</summary>
                <div class="details">
                  <p>
                    In WooCommerce admin, go to Products > All Products, click <strong>Export</strong> next to page's title. Leave pre-filled settings and click <strong>Generate CSV</strong>
                  </p>
                </div>
              </details>
            </div><!-- .text -->
            <mat-divider></mat-divider>
            <label class="--larger">
              <h3 class="label">Select WooCommerce export file</h3>
              <mat-form-field appearance="fill" class="--plain --larger">
                <input matInput type="text" placeholder="Select WooCommerce .csv file" />
              </mat-form-field>
            </label>
            <label class="--larger">
              <h3 class="label">PART/fiat currency conversion</h3>
              <p class="help-text">
                Set manual conversion rate &ndash; if you're selling for USD on your shop and PART/USD price is $5, enter "5"
              </p>
              <mat-form-field appearance="fill" class="--plain --larger">
                <input matInput type="number" min="0" placeholder="Choose static PART rate" />
              </mat-form-field>
            </label>
            <p class="message --warning">Some import error occured, oops</p>
          </mat-card>

          <div class="action-buttons" fxLayoutAlign="end center" fxLayoutGap="8px">
            <button mat-raised-button color="primary" (click)="importLoad()">
              <mat-icon fontIcon="part-next-single"></mat-icon>
              Process WooCommerce import
            </button>
          </div>
        </div><!-- .import-config -->

      </div><!-- .select-import.stepper-content -->
    </mat-step>


    <!-- ======= 2. REVIEW IMPORT DATA ======= -->
    
    <mat-step [completed]="stepper.selectedIndex >= 2">
      <ng-template matStepLabel>Review Import Data</ng-template>
      <div class="stepper-content review-import-data">

        <mat-accordion><!-- *ngIf="listings.length > 0" -->
          <h2 class="section-title"><!--{{listings.length}}--> Products found for import</h2>
          <p class="info">
            Based on your product file, we've found these Products for import. Review and update their missing information, if any.
          </p>
          <app-import-listing *ngFor="let listing of listings" [listing]="listing" (onChange)="clearEstimate()"></app-import-listing>
        </mat-accordion> 

        <div class="action-buttons" fxLayoutAlign="space-between center" fxLayoutGap="8px">
          <button mat-button matStepperPrevious>
            <mat-icon fontIcon="part-previous-single"></mat-icon>
            Back
          </button>
          <button mat-raised-button color="primary" [disabled]="!canShip" (click)="nextStep()">
            <mat-icon fontIcon="part-next-single"></mat-icon>
            Continue
          </button>
        </div>

      </div><!-- .review-import-data.stepper-content -->
    </mat-step>


    <!-- ======= 3. SHIPPING & EXPIRATION ======= -->
    
    <mat-step [completed]="stepper.selectedIndex >= 3">
      <ng-template matStepLabel>Shipping & Expiration</ng-template>
      <div class="stepper-content shipping-expiration">

        <h2 class="section-title">Shipping &amp; Listing expiration</h2>
        <mat-card>
          <h3 class="box-title">Shipping</h3>
          <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="30px">
      
            <mat-select-search
              fxFlex="1 1 30%"
              class="full-width"
              [showValueOf]="'name'"
              [placeHolder]="'Shipping from (your country)'"
              [isRequired]="'true'"
              [isLexigraphicalOrder]="true"
              [defaultSelectedValue]="selectedCountry"
              (onChange)="onCountryChange($event)">
            </mat-select-search><!-- [options]="countryList.getList()" -->
            <div class="desc" fxFlex="1 1 70%">
              <p>
                Select your country, from which you will ship your products.
              </p>
              <p class="widget-help">
                Domestic shipping rate will apply for selected country. For all other countries, international shipping rates will be applied.
              </p>
            </div><!-- .desc -->
      
          </div>
      
          <h3 class="box-title">Listing expiration &amp; fees</h3>
          <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="30px">
      
            <mat-form-field class="full-width" fxFlex="1 1 30%">
              <mat-label>Select expiry time</mat-label>
              <mat-select [(value)]="selectedExpiration" (selectionChange)="clearEstimate()">
                <mat-option>None</mat-option>
                <mat-option [disabled]="expire?.isDisabled" *ngFor="let expire of expiredList" [value]="expire.value">
                  {{ expire.title }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="desc" fxFlex="1 1 70%">
              <p>
                How long should the imported Listings be published on the Open Marketplace?
              </p>
              <p class="widget-help">
                Listing(s) publishing fee increases linearly for each published day. After this period, Listings will expire and you will need to re-publish them again.
              </p>
            </div><!-- .desc -->
      
          </div>
        </mat-card>
      
      
        <div class="action-buttons" fxLayout fxLayoutGap="30px" fxLayoutAlign="space-between center">
          <button mat-button matStepperPrevious>
            <mat-icon fontIcon="part-previous-single"></mat-icon>
            Back
          </button>
          <button mat-raised-button color="primary" [disabled]="!canEstimate" (click)="estimateFee()">
            <mat-icon fontIcon="part-next-single"></mat-icon>
            Continue
          </button>
        </div><!-- .action-buttons -->

      </div><!-- .shipping-expiration.stepper-content -->
    </mat-step>


    <!-- ======= 4. CONFIRM & PUBLISH ======= -->
    
    <mat-step [completed]="stepper.selectedIndex >= 4">
      <ng-template matStepLabel>Confirm & Publish</ng-template>
      <div class="stepper-content confirm-publish">

        <p class="info" *ngIf="!!currentestimateFee">
          Publishing fee for {{ filterListingsByPublished.length }} Listings / {{ selectedExpiration }} day(s):
          <strong>
            {{ currentestimateFee.particlsString() }}
          </strong>
          <span class="currency"> PART</span>
        </p>

        <table mat-table class="table-full-width"><!-- [dataSource]="filterListingsByPublished" -->
          <!-- Title Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Listing title</th>
            <td mat-cell *matCellDef="let listing">
              {{listing.title}}
              <p class="error" *ngIf="listing.validationError">{{ listing.validationError }}</p>
            </td>
          </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="basePrice">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let listing"> {{listing.basePrice | partoshiAmount}} </td>
          </ng-container>

          <!-- Shipping Column -->
          <ng-container matColumnDef="domesticShippingPrice">
            <th mat-header-cell *matHeaderCellDef>Domestic Shipping</th>
            <td mat-cell *matCellDef="let listing"> {{listing.domesticShippingPrice | partoshiAmount}} </td>
          </ng-container>

          <!-- Intl Shipping Column -->
          <ng-container matColumnDef="internationalShippingPrice">
            <th mat-header-cell *matHeaderCellDef>International Shipping</th>
            <td mat-cell *matCellDef="let listing"> {{listing.internationalShippingPrice | partoshiAmount}} </td>
          </ng-container>

          <!-- Fee Column -->
          <ng-container matColumnDef="fee">
            <th mat-header-cell *matHeaderCellDef>Publishing fee</th>
            <td mat-cell *matCellDef="let listing"> {{listing.fee | particlAmount}} </td>
          </ng-container>
        
          <tr mat-header-row></tr><!-- *matHeaderRowDef="['title', 'basePrice', 'domesticShippingPrice', 'internationalShippingPrice', 'fee']" -->
          <tr mat-row ></tr><!-- *matRowDef="let row; columns: ['title', 'basePrice', 'domesticShippingPrice', 'internationalShippingPrice', 'fee'];" -->
        </table>

        <div class="action-buttons" fxLayoutAlign="space-between center" fxLayoutGap="8px">
          <button mat-button matStepperPrevious>
            <mat-icon fontIcon="part-previous-single"></mat-icon>
            Back
          </button>
          <button mat-raised-button color="primary" (click)="publishListing()">
            <mat-icon fontIcon="part-check"></mat-icon>
            Publish imported Listings
          </button>
        </div>

      </div><!-- .confirm-publish.stepper-content -->
    </mat-step>

  </mat-horizontal-stepper>
</div><!-- .container-block -->
