<h2 class="section-title"> Transactions </h2>
<p class="desc">Configuration related to the generation of transactions on the wallet.</p>
<mat-card>
    <ng-template #transactionSettings></ng-template>
</mat-card>



<h2 class="section-title"> Wallet Actions </h2>
<p class="desc">General actions related to your wallet. Please note that some have potential to cause adverse effects on the current wallet if performed incorrectly; please exercise caution when making use of these settings.</p>
<mat-card>
    <ng-template #actionSettings></ng-template>
</mat-card>
