@import './src/assets/_config'; // import shared colors etc.
@import './src/app/main-market/shared/list-item-details'; // shared styling for list items


.section-title {
  &:first-of-type { // make the first title inline-block, so Refresh button can stick to its side
    display: inline-block;
  }
  & + .mat-button { // refresh button
    margin-left: 4px;
  }
}

.question-answer {
  --list-item-size: min-content; // scale dynamicly based on content's size
  font-size: 13px;
  line-height: 1.65;
  @include break(xl) {
    font-size: 15px;
  }
  .header {
    height: min-content;
  }
  .question {
    padding: 16px 0 16px 24px;
    @include break(xl) {
      padding: 24px 0 24px 30px;
    }
    .text {
      color: var(--text);
      line-height: 1.4;
      margin: 0 !important;
    }
  }
  .status { // number of replies in thread
    padding-top: 4px;
    padding-bottom: 4px;
    .mat-icon {
      font-size: 12px;
      position: relative;
      top: 1px;
      margin-right: 3px;
      color: var(--text-muted);
      &.part-check {
        color: var(--color-primary);
      }
    }
  }
  .detail {
    padding: 24px;
    @include break(xl) {
      padding: 24px 24px 32px;
    }
  }
}

.item { // message in a thread (both Q's and A's)
  p {
    font-size: 13px;
  }
  &.question {
    p {
      font-size: 15px;
    }
  }
  &.seller {
    p {
      font-weight: 500;
      color: var(--text);
    }
    .user {
      color: var(--color-secondary);
      background: hsla(var(--color-secondary-hsl), 0.1);
    }
  }
}

.meta {
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
  @include break(xl) {
    font-size: 13px;
  }
  .user {
    font-weight: 500;
    color: var(--color-primary);
    background: hsla(var(--color-primary-hsl), 0.1);
    padding: 3px 6px;
    border-radius: var(--radius);
    font-family: var(--font-mono);
    .mat-icon {
      font-size: 11px;
      margin-right: 6px;
      position: relative;
      top: 1px;
    }
    .id-full {
      display: none;
    }
    &:hover {
      .id-full {
        display: inline-block;
      }
      .id-short {
        display: none;
      }
    }
  }
  .time-date {
    font-size: 11.5px;
    margin-left: 12px;
    color: var(--text-muted);
    @include break(xl) {
      font-size: 12.5px;
    }
  }
}

// replies to original question
.answer {
  margin: 0 0 24px 24px;
  p {
    margin: 0;
  }
}

// reply form
.reply-form {
  display: block;
  color: var(--text);
  margin: 0 -24px -24px;
  border-top: 1px dashed var(--bg-muted);
  @include break(xl) {
    margin: 32px -24px -32px;
  }
  &.new-question { // in Listing detail modal
    margin: 0;
    border: 0;
  }
}
