<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h4>Confirm your wallet recovery phrase</h4>
      <div>
        Lorem ipsum
      </div>
    </div>
  </div>
</div>

<hr style="margin-top: 40px;">
<app-passphrase></app-passphrase>
<hr>

<div class="buttons">
  <div class="row col-xs-4 col-xs-offset-4">
    <div class="col-xs-6">
      <button class="control" style="width: 100%;" (click)="back()">back</button>
    </div>
    <div class="col-xs-6">
      <button class="control" style="width: 100%;" (click)="next()">next step</button>
    </div>
  </div>
</div>
