@import "./src/assets/_config"; // import shared colors etc.


.icon {
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 7px;
  margin: 0 0 0 2px;
  font-size: 14px;
  color: $text;
  cursor: pointer;
  // favourites
  &.fav {
    &:hover,
    &.active {
      color: $color-alert;
    }
  }
}