<md-card>
  <md-card-content>
    <app-header>
      <div [fxLayout]="'row'">
        <div fxFlex="80%">
          <md-tab-group (selectChange)="changeTab($event.index)">
            <md-tab>
              <ng-template md-tab-label>
                Public
              </ng-template>
            </md-tab>
            <md-tab>
              <ng-template md-tab-label>
                Private
              </ng-template>
            </md-tab>
          </md-tab-group>
        </div>
        <md-form-field>
          <input mdInput type="text" id="searchbar" [(ngModel)]="query" placeholder="Search receive">
          <md-icon>search</md-icon>
        </md-form-field>
      </div>
    </app-header>

    <div class="containerX" >
      <div fxLayout="row" class="coloredContainerX box">
        <div fxFlex="80%">

          <md-list class="list-data" *ngIf="inSearchMode() === false">
            <div md-subheader class="address-title">Unused address</div>
            <md-list-item>
              <div fxFlex="'row'" fxLayoutGap="10px" layout-padding>
                <div fxFlex="15%" class="address-id"> /{{ getUnusedAddress().id }}</div>
                <div fxFlex="20%" class="address-label"> {{ getUnusedAddress().label }}</div>
                <div fxFlex="50%" class="address">
                  {{ getUnusedAddress().address }}
                  <div class="total"><span>Total received: </span>
                    <span>+{{ getUnusedAddress().balance }}</span>
                  </div>
                </div>
                <div fxFlex="15%" fxFlex="'row'" fxLayoutAlign="end center">
                  <div fxFlex="20%" ngxClipboard [cbContent]="getUnusedAddress().address" class=" nc-icon nc-copy-2">
                  </div>
                  <div fxFlex="20%" class="nc-icon nc-a-check"></div>
                  <div fxFlex="20%" class="nc-icon nc-barcode-qr"
                       (click)="selectAddress(addresses[getAddressType()][0])"></div>
                </div>
              </div>
            </md-list-item>
            <md-divider></md-divider>
          </md-list>

          <md-list class="list-data" *ngIf="inSearchMode() === false">
            <div md-subheader class="address-title">Previous addresses</div>
            <div *ngFor="let address of getSinglePage()">
              <md-list-item>
                <div fxFlex="'row'" fxLayoutGap="10px" layout-padding>
                  <div fxFlex="15%" class="address-id"> /{{ address.id }}</div>
                  <div fxFlex="20%" class="address-label"> {{ address.label }}</div>
                  <div fxFlex="50%" class="address">
                    {{ address.address }}
                    <div class="total"><span>Total received: </span>
                      <span>+{{  address.balance }}</span>
                    </div>
                  </div>
                  <div fxFlex="15%" fxFlex="'row'" fxLayoutAlign="end center">
                    <div fxFlex="20%" ngxClipboard [cbContent]="address.address" class=" nc-icon nc-copy-2">
                    </div>
                    <div fxFlex="20%" class="nc-icon nc-a-check"></div>
                    <div fxFlex="20%" class="nc-icon nc-barcode-qr" (click)="selectAddress(address)"></div>
                  </div>
                </div>
              </md-list-item>
              <md-divider></md-divider>
            </div>
          </md-list>

          <!--<div class="address-title">Previous addresses</div>-->
          <!--<div class="card row"-->
          <!--*ngFor="let address of getSinglePage()">-->
          <!--<div class="col-xs-1 address-id vertical-center">-->
          <!--/{{ address.id }}-->
          <!--</div>-->
          <!--<div class="col-xs-3 address-label vertical-center">-->
          <!--{{ address.label }}-->
          <!--</div>-->
          <!--<div class="col-xs-6">-->
          <!--<div class="address">-->
          <!--{{ address.address }}-->
          <!--</div>-->
          <!--<div class="total">-->
          <!--<span>Total received: </span>-->
          <!--<span>+{{ address.balance }}</span>-->
          <!--</div>-->
          <!--</div>-->
          <!--<div class="col-xs-2 row address-options vertical-center">-->
          <!--<div ngxClipboard [cbContent]="address.address" class="col-xs-4 nc-icon nc-copy-2"></div>-->
          <!--<div class="col-xs-4 nc-icon nc-a-check"></div>-->
          <!--<div class="col-xs-4 nc-icon nc-barcode-qr" (click)="selectAddress(address);"></div>-->
          <!--</div>-->
          <!--</div>-->

          <pagination
            [boundaryLinks]="true"
            (pageChanged)="pageChanged($event)"
            [totalItems]="getTotalCountForPagination()"
            [maxSize]="5" [rotate]="false"
            [(ngModel)]="page"
            class="pagination-sm center"
            previousText="&lsaquo;" nextText="&rsaquo;"
            firstText="&laquo;" lastText="&raquo;"
            [itemsPerPage]="MAX_ADDRESSES_PER_PAGE">
          </pagination>
        </div>

        <div fxFlex="20%">

          <div #qrCode class="card qr">
            <qr-code [size]="getQrSize()" [level]="'H'"
                     [value]="selected.address">
            </qr-code>
          </div>

          <div class="card address-details">
            <div class="details-title">
              {{ getAddressType() }} address
            </div>
            <div class="details-label">
              {{ selected.label }}
            </div>
            <div class="details-address row">
              <div *ngFor="let word of selected.readable" class="address-word col-xs-3">
                {{ word }}
              </div>
            </div>
            <button (click)="openNewAddress()">new {{ getAddressType() }} address</button>
          </div>

        </div>
      </div>
    </div>
  </md-card-content>
</md-card>
