@import "./src/assets/_config"; // import shared colors etc.

/* ------------------------------- *\
    Search Addresses
\* ------------------------------- */

.search-address {
  margin-top: 9px;
  .mat-input-element {
    width: calc(100% - 50px);
    height: 20px;
    margin-left: 0;
    padding-right: 50px;
  }
  .mat-icon {
    top: 1px;
    right: 18px;
  }
}

/* ------------------------------- *\
    QR code & address details
\* ------------------------------- */

.qr-card {
  padding: 24px 10px;
}

.address-details {
  text-align: center;
  margin-top: 15px;
  .details-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
  }
  .details-label {
    font-weight: bold;
    text-transform: uppercase;
    color: #515153;
    margin: 10px 0 25px;
  }
  .details-address {
    font-family: monospace;
    margin: 0 25px 20px;
  }
}

/* ------------------------------- *\
    Address list
\* ------------------------------- */

.address-title { // section title
  font-weight: normal;
  text-transform: uppercase;
  color: $text-muted;
}

.address-info { // address "card"
  margin-bottom: 12px;
  .address-id {
    color: #7b8891;
  }
  .address-label {
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .address {
    overflow: hidden;
    text-overflow: ellipsis;
    background: transparent;
    transition: background .3s;
    .total {
      font-size: 0.8em;
      margin-top: 5px;
      .received-amount {
        color: $color;
      }
    }
  }

}
