<app-header>
  <div [fxLayout]="'row'" fxLayout.lg="row" fxlayout.lt-sm="column" fxLayout.sm="column" fxlayout.lt-xs="column"
       fxLayout.xs="column">
    <div fxFlex="80%">
      <md-tab-group (selectChange)="changeTab($event.index)">
        <md-tab>
          <ng-template md-tab-label>
            Public
          </ng-template>
        </md-tab>
        <md-tab>
          <ng-template md-tab-label>
            Private
          </ng-template>
        </md-tab>
      </md-tab-group>
    </div>
    <md-form-field class="icon-input" fxFlex.lt-sm="100%" fxFlex.sm="100%" (click)="selectInput()">
      <input mdInput type="text" class="header-input" id="searchbar" [(ngModel)]="query" placeholder="Search receive">
      <md-icon>search</md-icon>
    </md-form-field>
  </div>
</app-header>

<div class="container-block">
  <div fxLayout.lt-md="row" fxLayout.md="row" fxFlex="100%" fxLayout.lg="row" fxlayout.lt-sm="row"
       fxlayout.lt-xs="row" class="coloredContainerX box">
    <div fxFlex="80%" *ngIf="getUnusedAddress()">

      <md-list class="list-data" *ngIf="inSearchMode() === false">
        <div md-subheader class="address-title">Unused address</div>
        <md-list-item>
          <div xLayout.lt-md="column" fxLayout.md="column" fxFlex="100%" fxLayout.lg="row" fxlayout.lt-sm="column"
               fxLayout.sm="column" fxlayout.lt-xs="column" fxLayout.xs="column" fxLayoutGap="10px" layout-padding>
            <div fxFlex="15%" class="address-id"> /{{ getUnusedAddress().id }}</div>
            <div fxFlex="20%" class="address-label"> {{ getUnusedAddress().label }}</div>
            <div fxFlex="50%" class="address">
              {{ getUnusedAddress().address }}
              <div class="total"><span>Total received: </span>
                <span>+{{ getUnusedAddress().balance }}</span>
              </div>
            </div>
            <div fxFlex="15%" fxLayoutAlign="end center">
                  <span fxFlex="20%" fxFlex.md="100%" fxFlex.sm="33.33%">
                    <md-icon class="cursor-pointer" mdTooltip="Copy" ngxClipboard
                             [cbContent]="getUnusedAddress().address" fontSet="ncIcon" fontIcon="nc-copy-2"></md-icon>
                    <!--<md-icon class="cursor-pointer" mdTooltip="Copy" ngxClipboard-->
                    <!--[cbContent]="getUnusedAddress().address">-->
                    <!--content_copy-->
                    <!--</md-icon>-->
                  </span>
              <div fxFlex="20%" fxFlex.md="100%" fxFlex.sm="33.33%">
                <md-icon fontSet="ncIcon" fontIcon="nc-a-check"></md-icon>
              </div>
              <span fxFlex="20%" fxFlex.md="100%" fxFlex.sm="33.33%">
                  <i class="material-icons cursor-pointer nc-icon nc-barcode-qr" mdTooltip="Select Address"
                     (click)="selectAddress(addresses[getAddressType()][0])"></i>
                    </span>
            </div>
          </div>
        </md-list-item>
        <md-divider></md-divider>
      </md-list>

      <md-list *ngIf="getSinglePage().length" class="list-data">
        <div md-subheader class="address-title">Previous addresses</div>
        <div *ngFor="let address of getSinglePage()">
          <md-list-item>
            <div fxLayout.lt-md="column" fxLayout.md="column" fxFlex="100%" fxLayout.lg="row" fxlayout.lt-sm="column"
                 fxLayout.sm="column" fxlayout.lt-xs="column" fxLayout.xs="column" fxLayoutGap="10px"
                 layout-padding>
              <div fxFlex="15%" class="address-id"> /{{ address.id }}</div>
              <div fxFlex="20%" class="address-label"> {{ address.label }}</div>
              <div fxFlex="50%" class="address">
                {{ address.address }}
                <div class="total"><span>Total received: </span>
                  <span>+{{  address.balance }}</span>
                </div>
              </div>
              <div fxFlex="15%" fxLayoutAlign="end center">
                <span fxFlex="20%" fxFlex.md="100%" fxFlex.sm="33.33%">
                  <md-icon fontSet="ncIcon" fontIcon="nc-copy-2" class="cursor-pointer" mdTooltip="Copy" ngxClipboard
                           [cbContent]="address.address"></md-icon>
                </span>

                <span fxFlex="20%" fxFlex.md="100%" fxFlex.sm="33.33%">
                  <md-icon fontSet="ncIcon" fontIcon="nc-a-check" class="cursor-pointer" ngxClipboard></md-icon>
                </span>
                <span fxFlex="20%" fxFlex.md="100%" fxFlex.sm="33.33%">
                  <md-icon class="material-icons cursor-pointer nc-icon nc-barcode-qr" mdTooltip="Select Address"
                           (click)="selectAddress(address)"></md-icon>
                  </span>
              </div>
            </div>
          </md-list-item>
          <md-divider></md-divider>
        </div>
      </md-list>

      <!-- use two paginator for reset pagination after tab change. -->
      <div class="receive-pagination">
        <md-paginator
          *ngIf="type == 'private'"
          [length]="getTotalCountForPagination()"
          [pageSize]="MAX_ADDRESSES_PER_PAGE"
          (page)="pageChanged($event)">
        </md-paginator>

        <md-paginator
          *ngIf="type == 'public'"
          [length]="getTotalCountForPagination()"
          [pageSize]="MAX_ADDRESSES_PER_PAGE"
          (page)="pageChanged($event)">
        </md-paginator>
      </div>
    </div>

    <div fxFlex="20%" *ngIf="selected">

      <div #qrCode class="card qr qrcode">
        <qr-code [size]="getQrSize()" [level]="'H'"
                 value="particl:{{ selected.address }}">
        </qr-code>
      </div>

      <div class="card address-details">
        <div class="details-title">
          {{ getAddressType() }} address
        </div>
        <div class="details-label">
          {{ selected.label }}
        </div>
        <div class="details-address" fxLayout="row" layout-padding fxLayoutGap="10px">
          <div *ngFor="let word of selected.readable" class="address-word" fxFlex="28%">
            {{ word }}
          </div>
        </div>
        <button (click)="openNewAddress()">new {{ getAddressType() }} address</button>
      </div>

    </div>
  </div>
</div>
