.header {
    position: relative;
}

.header-option {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.header-option:hover {
    color: black;
    cursor: pointer;
}

.header-option-container {
    border-left: 2px solid #efefef;
    height: 60%;
    padding-top: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header-input {
    background-color: transparent;
    border: none;
    margin-left: 20px;
}

.header-input:focus {
    outline: none;
}

.card {
    background-color: white;
    border-bottom: 1px solid #e9e9e9;
    padding: 20px;
}

.card.row {
    margin-bottom: 20px;
}

.card.row:last-child {
    margin-bottom: 0;
}

.qr {
    margin-top: 60px;
}

.receive {
    margin: 0 30px 0 40px;
}

.receive-right {
    margin-top: 59px;
}

.address-title {
    color: #7b8891;
    margin: 20px 0;
    text-transform: uppercase;
}

.address-id {
    color: #7b8891;
}

.address-label {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}

.address {
    background: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background .3s;
}

.address.copied {
    background: yellow;
    transition: background 0s;
}

.total {
    font-size: 0.8em;
}

.total > span:nth-child(2) {
    color: #03e8b0;
}

.address-options {
    display: inline-block;
    float: none;
    text-align: center;
    vertical-align: middle;
}

.address-options > div {
    cursor: pointer;
}

.card.row > .vertical-center {
    margin-top: 8px;
}

.address-options > div:nth-child(2) {
    color: #03e8b0;
}

[class^='col-'] {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
}

.address-details {
    margin-top: 30px;
    text-align: center;
}

.details-title {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

.details-label {
    color: #515153;
    font-weight: bold;
    margin: 20px 0;
    text-transform: uppercase;
}

button {
    background-color: #03e8b0;
    border: none;
    border-bottom: 1px solid #07b98d;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    margin: 15px 5px 20px 5px;
    padding: 8px 30px;
    text-transform: uppercase;
}

.page-buttons {
    margin: 30px 0;
    text-align: right;
    user-select: none;
}
.page-button:last-child {
    margin-right: 0;
}

.page-button {
    background-color: white;
    border-bottom: 1px solid #ddd;
    color: #777;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
    padding: 8px 14px;
}

.page-button-green {
    background-color: #03e8b0;
    border-bottom: 1px solid #07b98d;
    border-color: #03e8b0;
    color: #fff;
    cursor: default;
    margin-right: 10px;
    padding: 8px 14px;
}

.page-button-green {
  margin-right: 10px;
  padding: 8px 14px;
  cursor: default;
  background-color: #03e8b0;
  border-color: #03e8b0;
  border-bottom: 1px solid #07B98D;
  color: #fff;
}
