<div mat-dialog-title>Report Listing</div>
<button class="small-close-button pull-right" (click)="dialogClose()">
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>


<div mat-dialog-content class="dialog-content">
  <div class="tx-confirmation">

    <div class="tx-info">
      <div class="public">
        <mat-icon class="icon report" fontSet="partIcon" fontIcon="part-flag"></mat-icon>
        <div class="title">Reporting Listing</div>
        <p class="widget-help">
          Users have the ability to self-govern the Marketplace and remove illegal and other inappropriate Listings. By reporting this Listing, you vote (with the weight of your coins) to take it down from the Marketplace.
        </p>
      </div>
    </div><!-- .tx-info -->

    <div class="tx-amount">
      <span class="big">{{ title }}</span>
    </div>

    <mat-icon class="icon arrow" fontSet="partIcon" fontIcon="part-arrow-down"></mat-icon>

    <div class="receiver-info">
      <div class="label">Inappropriate, take down!</div>
    </div>

  </div><!-- TX confirmation -->
</div><!-- .dialog-content -->


<mat-dialog-actions fxLayoutAlign="space-between center">

  <button type="button" mat-button mat-dialog-close>
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    Cancel
  </button>

  <button mat-raised-button color="warn" (click)="flag()">
    <mat-icon fontSet="partIcon" fontIcon="part-flag"></mat-icon>
    Yes, Report
  </button>

</mat-dialog-actions>
