@import './src/assets/_config'; // import shared colors etc.

// ------ UI ------ //

.subtitle { // section titles
  @extend %subtitle;
  .tag {
    font-size: 9px;
    border: 1px solid rgba($text-muted, 0.7);
    border-radius: 2px;
    margin-left: 6px;
    padding: 1px 4px;
    position: relative;
    top: -1px;
  }
}

.card {
  padding: 0;
  margin-bottom: 16px;
}


// ------ LAYOUT ------ //

.container-block {
  margin-top: $header-main-height;
  padding-top: 0;
}

.section {
  
  // vertical list
  &.list {
    .item {
      display: flex;
      align-items: stretch;
      border-top: 1px dashed mix($bg, $bg-shadow);
      padding: 20px 26px 20px 6px;
      &:first-of-type {
        border: 0;
      }
      .icon {
        flex: 0 0 75px;
      }
      .text {
        flex: 1 1 100%;
      }
    }
  }

  // block grid
  &.grid {
    display: flex;
    flex-wrap: wrap;
    .item {
      flex: 1 1 calc(25% - 1px);
      display: block;
      padding: 26px 0;
      text-align: center;
      border-right: 1px dashed mix($bg, $bg-shadow);
      border-bottom: 1px dashed mix($bg, $bg-shadow);
      &:nth-of-type(4n) {
        border-right: 0;
      }
      &:nth-last-of-type(1),
      &:nth-last-of-type(2),
      &:nth-last-of-type(3),
      &:nth-last-of-type(4) {
        border-bottom: 0;
      }
      .text .title {
        font-size: 11px;
      }
      .icon {
        margin: auto auto 5px;
        .mat-icon {
          font-size: 18px;
        }
      }
    }
  }

  // link item (shared)
  .item {
    @extend %tfx;
    text-decoration: none;
    color: $text;
    &:hover,
    &:focus {
      background: rgba($color, 0.015);
      .icon .mat-icon {
        color: $color;
      }
    }
    .icon {
      margin: auto;
      text-align: center;
      .mat-icon {
        @extend %tfx;
        font-size: 20px;
        color: $text-muted;
      }
    }
    .text {
      .title {
        @extend %box-title;
      }
      .desc {
        color: $text-muted;
        margin: 6px 0 0;
      }
    }
  }

}
