<div mat-dialog-title class="title">Cancel Bid</div>


<mat-dialog-content class="modal-content" fxLayout>

  <div class="image" fxFlex="0 0 120px">
    <img src="./assets/images/market/reject-bid.svg">
  </div>

  <div class="text" fxFlex="1 1 350px">
    <p class="lead">
      Please confirm that this bid should be cancelled
    </p>

    <p class="widget-help">
      Cancelling this bid will unlock any locked funds associated with the bid.
    </p>
  </div>

</mat-dialog-content>


<mat-dialog-actions fxLayoutAlign="space-between center">
  <button mat-button mat-dialog-close>
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    Close
  </button>
  <button mat-raised-button color="warn" appDebounceClick (debounceClick)="confirm()" [disabled]="processing">
    <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
    Cancel Bid
  </button>
</mat-dialog-actions>
