<div class="container-block without-tab-bar">

  <app-page-intro>
    <ng-container page-title>Create new Market</ng-container>
    <ng-container page-content>
      Create your Market and sell your Products on your own terms.
    </ng-container>
    <ng-container page-help>
      Choose between many Market types, whether you want a publicly available or private Market and if you want to be sole Seller on it (Storefront) or allow anyone to sell (Community Markets).
    </ng-container>
  </app-page-intro>

</div><!-- .container-block -->