<div class="container-block without-tab-bar">

  <app-page-intro>
    <ng-container page-title>Create new Market</ng-container>
    <ng-container page-content>
      Create your Market and sell your Products on your own terms.
    </ng-container>
    <ng-container page-help>
      Choose between many Market types, whether you want a publicly available or private Market and if you want to be sole Seller on it (Storefront) or allow anyone to sell (Community Markets).
    </ng-container>
  </app-page-intro>

  <mat-horizontal-stepper #createMarket class="create-market no-bg">
    <ng-template matStepperIcon="edit">
      <custom-icon>
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-check"></mat-icon>
      </custom-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
      <custom-icon>
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-pen-1"></mat-icon>
      </custom-icon>
    </ng-template>
    
    <!-- // -------------- 1. MARKET DETAILS -------------- // -->

    <mat-step [stepControl]="marketDetailsFormGroup">
      <form [formGroup]="marketDetailsFormGroup" class="market-form">
        <ng-template matStepLabel>Market details</ng-template>

        <h2 class="subtitle">Market details</h2>
        <mat-card class="market-details">

          <mat-form-field class="full-width larger">
            <input matInput placeholder="Market name" #name formControlName="firstCtrl" maxlength="35" required>
            <mat-hint align="end">{{ name.value?.length || 0 }}/35</mat-hint>
          </mat-form-field>

          <mat-form-field class="full-width larger">
            <textarea matInput #description rows="4" placeholder="Market description" #description
                      formControlName="firstCtrl" maxlength="150" required></textarea>
            <mat-hint align="start">Describe your Market in short, so that users will know what they'll find there</mat-hint>
            <mat-hint align="end">{{ description.value?.length || 0 }}/150</mat-hint>
          </mat-form-field>

          <div class="market-image" fxLayout>
            <div id="drag-n-drop" class="drag-n-drop" fxFlex="130px">
              <input class="hide-file" type="file" accept="image/*" multiple="true" id="fileInput">
              <button mat-button color="primary" (click)="uploadPicture()" class="small">
                Upload a logo
              </button>
              <p>or drag'n'drop</p>
            </div>
            <div class="desc" fxFlex="0 1 100%">
              <p>Upload your Market logo/photo for customized branding</p>
              <ul>
                <li>Square format only</li>
                <li>Recommended resolution 300 × 300 px</li>
                <li>Max size 2 MB</li>
              </ul>
            </div>
          </div>

        </mat-card><!-- market details -->

        <h2 class="subtitle">Market type</h2>
        <mat-card fxLayout fxLayoutGap="30px" class="market-type">
          <div class="half" fxFlex="50%">
            <mat-radio-button name="market-type" value="storefront" class="larger" color="primary">
              Storefront
            </mat-radio-button>
            <p class="widget-help">
              With Storefront, only you (and those you appoint) are in control of the Market &ndash; nobody else can sell on it
            </p>
          </div>
          <mat-divider [vertical]="true" fxFlex="0 0 4px" class="thicker lighter dashed"></mat-divider>
          <div class="half" fxFlex="50%">
            <mat-radio-button name="market-type" value="community-market" class="larger" color="primary">
              Community Market
            </mat-radio-button>
            <p class="widget-help">
              Community Markets give all rights and permissions to all its members &ndash; everybody on the Market can sell on it
            </p>
          </div>
        </mat-card><!-- market type -->

        <div class="actions" fxLayoutAlign="end center">
          <button mat-raised-button matStepperNext color="primary">
            <mat-icon class="icon" fontSet="partIcon" fontIcon="part-arrow-right"></mat-icon>
            Continue to Confirmation
          </button>
        </div>

      </form><!-- .market-form -->
    </mat-step><!-- step 1 -->



    <!-- // -------------- 2. CONFIRM & CREATE -------------- // -->

    <mat-step [stepControl]="summaryFormGroup">
      <form [formGroup]="summaryFormGroup" class="market-form">
        <ng-template matStepLabel>Confirm &amp; Create Market</ng-template>

        <h2 class="subtitle">Market preview &ndash; Looking good!</h2>
        
        <!-- TODO: include "Market listing item" as it will be seen in Market browser, for preview; only remove/disable bottom action buttons -->
        <mat-expansion-panel class="market list-item no-padding">
          <mat-expansion-panel-header class="header">
            <div class="header-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
              <div class="photo" fxFlex="0 0 90px">
                <img src="/assets/images/placeholder_1-1.jpg">
              </div>
              <div class="info" fxFlex="1 1 100%">
                <div class="title">
                  <span class="name">Joined Market title</span>
                </div>
                <div class="desc">
                  <span class="tag">Community Market</span>
                </div>
              </div><!-- .meta -->
            </div>
          </mat-expansion-panel-header>
    
          <div class="details">
            <div class="subtitle">Market summary</div>
            <p class="desc">
              This is a summary/description of a joined Market. It shouldn't be very long, so it fits on this line here, so let's limit the characters in Market creation..
            </p>
          </div>
    
          <!--mat-action-row class="action-buttons" fxLayout fxLayoutAlign="space-between stretch">
            <div class="left">
              <button mat-button color="warn" class="small" matTooltip="Disconnect from this Market">
                <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
                Leave
              </button>
              <button mat-button color="basic" class="small icon-only"
                      [matMenuTriggerFor]="report" matTooltip="Report inappropriate Market">
                <mat-icon fontSet="partIcon" fontIcon="part-flag"></mat-icon>
              </button>
              <button mat-button color="basic" class="small">
                <mat-icon fontSet="partIcon" fontIcon="part-copy"></mat-icon>
                Copy Market ID
              </button>
              <button mat-button color="basic" class="small icon-only"
                      [matMenuTriggerFor]="promote" matTooltip="Promote in Market browser">
                <mat-icon fontSet="partIcon" fontIcon="part-notification-speaker"></mat-icon>
              </button>
            </div>
            <div class="right">
              <button mat-raised-button color="primary">
                <mat-icon fontSet="partIcon" fontIcon="part-bag"></mat-icon>
                Browse Market
              </button>
            </div>
          </mat-action-row-->
        </mat-expansion-panel><!-- .market -->


        <h2 class="subtitle">Optional steps</h2>

        <mat-expansion-panel class="promote list-item no-padding">
          <mat-expansion-panel-header class="header">
            <mat-icon fontSet="partIcon" fontIcon="part-notification-speaker"></mat-icon>
            Promote in Market browser
          </mat-expansion-panel-header>
          <div class="details" fxLayout fxLayoutGap="30px">
            <div class="desc" fxFlex="60%">
              <p>
                Markets <strong>are not</strong> listed in the Market browser by default.
              </p>
              <p>
                You can promote your Market to publish it to Market browser for a few days and onboard more potential Buyers.
              </p>
              <p class="widget-help">
                This fee goes back to the stakers on Particl network for their support.
              </p>
            </div>
            <div class="form" fxFlex="40%">
              <div class="subtitle">Days to promote</div>
              <mat-form-field class="full-width">
                <mat-label>Select duration</mat-label>
                <mat-select [(value)]="promoDuration">
                  <mat-option>Select duration</mat-option>
                  <mat-option value="1 day">1 day</mat-option>
                  <mat-option value="3 days">3 days</mat-option>
                  <mat-option value="5 days">5 days</mat-option>
                  <mat-option value="7 days">1 week</mat-option>
                </mat-select>
              </mat-form-field>
              <table class="full-width">
                <tr>
                  <th>Promo duration</th>
                  <td>{{ promoDuration }}</td>
                </tr>
                <tr>
                  <th>Total promo fee</th>
                  <!-- FIXME: implement dynamic fee -->
                  <td>2.1428 PART</td>
                </tr>
              </table>
            </div>
          </div>
        </mat-expansion-panel><!-- .promote -->


        <div class="actions" fxLayoutAlign="space-between center">
          <button mat-button matStepperPrevious>
            <mat-icon class="icon" fontSet="partIcon" fontIcon="part-arrow-left"></mat-icon>
            Back to editing
          </button>
          <button mat-raised-button matStepperNext color="primary">
            <mat-icon class="icon" fontSet="partIcon" fontIcon="part-check"></mat-icon>
            Confirm &amp; Create Market
          </button>
        </div>

      </form>
    </mat-step><!-- step 2 -->


  </mat-horizontal-stepper><!-- .create-market -->
</div><!-- .container-block -->