<div class="container-block without-tab-bar">

  <app-page-intro>
    <ng-container page-title>Create new Market</ng-container>
    <ng-container page-content>
      Create your Market and sell your Products on your own terms.
    </ng-container>
    <ng-container page-help>
      Choose between many Market types, whether you want a publicly available or private Market and if you want to be sole Seller on it (Storefront) or allow anyone to sell (Community Markets).
    </ng-container>
  </app-page-intro>


  <mat-horizontal-stepper #createMarket class="create-market no-bg">
    <ng-template matStepperIcon="edit">
      <custom-icon>
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-check"></mat-icon>
      </custom-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
      <custom-icon>
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-pen-1"></mat-icon>
      </custom-icon>
    </ng-template>
    
    <mat-step [stepControl]="marketDetailsFormGroup">
      <form [formGroup]="marketDetailsFormGroup">
        <ng-template matStepLabel>Market details</ng-template>
        <mat-form-field>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Confirm &amp; Create Market</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>


</div><!-- .container-block -->