<ng-container [formGroup]="batchPublishForm">
  <mat-dialog-title>

    <div fxLayout fxLayoutAlign="space-between center">
      Batch Publish Listings
      <div class="selected-identity" fxLayout fxLayoutAlign="flex-start center"
        matTooltip="Your active Identity which will publish the Listing" matTooltipPosition="before">
        <div class="avatar">{{ currentIdentity.image }}</div>
        <div class="text">
          <div class="identity-name">{{ currentIdentity.name }}</div>
          <div class="available-balance">Publishing balance: {{ currentBalance }}</div>
        </div>
      </div>
    </div>

    <div class="publish-options row" fxLayout fxLayoutAlign="space-between center">

      <section class="select-market" fxFlex="30">
        <label class="--larger">
          <h3 class="label">Publish to</h3>
          <mat-form-field class="--plain --larger" appearance="fill">
            <mat-icon matPrefix fontIcon="part-shop"></mat-icon>
            <mat-select placeholder="Select Market" formControlName="selectedMarket">
              <mat-option *ngFor="let market of availableMarkets" [value]="market.id" class="--larger">
                <img *ngIf="market.image?.length > 0" class="image" width="25" height="25" [src]="market.image">
                {{ market.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </label>
      </section><!-- .select-market -->

      <section class="duration" fxFlex="25">
          <label class="--larger">
            <h3 class="label">Publish duration</h3>
            <mat-form-field class="--plain --larger" appearance="fill">
              <mat-icon matPrefix fontIcon="part-date"></mat-icon>
              <mat-select placeholder="Select duration" formControlName="selectedDuration">
                <mat-option *ngFor="let duration of publishDurations" [value]="duration.value" class="--larger">
                  {{ duration.title }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </label>
      </section><!-- .duration -->

      <section class="pricing" fxFlex="15">
        <label class="--larger">
          <h3 class="label">Price % Change</h3>
          <mat-form-field class="--plain --larger" appearance="fill">
            <input formControlName="pricePercentageChange" placeholder="Adjust price by %" matInput type="number" min="0" step="1" />
          </mat-form-field>
        </label>
      </section>


      <section class="select-preset" fxFlex="25">
        <label class="--larger">
          <h3 class="label">Select&hellip;</h3>
          <mat-form-field class="--plain --larger" appearance="fill">
            <mat-icon matPrefix fontIcon="part-check-2"></mat-icon>
            <mat-select placeholder="Select Products" [formControl]="presetControl">
              <mat-option *ngFor="let preset of productPresets" [value]="preset.value" class="">
                {{ preset.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </label>
      </section><!-- .select-preset -->

    </div><!-- .row -->

  </mat-dialog-title>

  <button mat-button color="warn" class="modal-close" tabindex="-1" (click)="actionCloseModal()"
    [disabled]="isProcessingControl.value">
    <mat-icon fontIcon="part-cross"></mat-icon>
  </button>

  <mat-dialog-content class="--muted">

    <p class="introduction help-text">
      Batch Publish will process your Products and publish them to a selected Market. You won’t have an option to
      customize Listing’s description, images etc.<br>
      If you want to adjust your Listings per chosen Markets, don’t Batch Publish and instead Publish them one by one.
    </p>

    <div *ngIf="+batchPublishForm.get('selectedMarket').value > 0">
      <label>
        <h3 class="label">Filter visible items by existing market:</h3>
        <mat-form-field class="--plain --larger" appearance="fill">
          <mat-icon matPrefix fontIcon="part-shop"></mat-icon>
          <mat-select formControlName="filterItemsByMarket">
            <mat-option *ngFor="let market of filterMarkets" [value]="market.id" class="--larger">
              {{ market.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </label>
    </div>

    <section class="available-products" formArrayName="availableProducts">

      <ng-container *ngIf="+batchPublishForm.get('selectedMarket').value > 0">
        <ng-container *ngFor="let product of formAvailableProducts.controls; index as formProductIdx">
          <ng-container *appVar="availableProducts[formProductIdx] as productInfo">
            <mat-expansion-panel class="" *ngIf="productInfo.isVisible" [formArrayName]="formProductIdx" hideToggle="true" expanded="true" disabled="true">
              <mat-expansion-panel-header class="header product">
                <div class="header-wrapper" fxLayout="row" fxLayoutAlign="space-between center">

                  <div class="photo">
                    <img [src]="productInfo.image">
                  </div>
                  <div class="meta">
                    <div class="title">{{ productInfo.name }}</div>
                    <div class="publish-status" *ngIf="isSelectedForPublish(formProductIdx)">
                      <ng-container *ngIf="product.errors && product.hasError('productCategorySelected')">
                        <mat-icon fontIcon="part-circle-info"></mat-icon>
                        Please select a category before publishing
                      </ng-container>
                      <ng-container *ngIf="product.errors && product.hasError('productPricing')">
                        <mat-icon fontIcon="part-circle-info"></mat-icon>
                        Invalid pricing values
                      </ng-container>
                      <ng-container *ngIf="product.dirty && product.valid && isProcessingControl.value">
                        <mat-icon fontIcon="part-cog" class="loading-progress"></mat-icon>
                        Publishing in progress
                      </ng-container>
                      <ng-container *ngIf="product.valid && !isProcessingControl.value && !specificErrorMessages.has(formProductIdx)">
                        <mat-icon fontIcon="part-check"></mat-icon>
                        Ready for publishing
                      </ng-container>
                      <ng-container *ngIf="!product.dirty && specificErrorMessages.has(formProductIdx)">
                        <mat-icon fontIcon="part-alert"></mat-icon>
                        {{ specificErrorMessages.get(formProductIdx) }}
                      </ng-container>
                    </div>
                    <div class="publish-status" *ngIf="!isSelectedForPublish(formProductIdx)">
                      <ng-container *ngIf="publishingInfo.successProducts.includes(formProductIdx)">
                        <mat-icon fontIcon="part-circle-check"></mat-icon>
                        Successfully published
                      </ng-container>
                    </div>
                  </div><!-- .meta -->

                  <div class="category-select" matTooltip="Select category" matTooltipPosition="before">
                    <tree-select #categorySelector [data$]="categories$" [singleSelection]="true" [isParentNodesSelectable]="false"
                      placeholderLabel="Select a category" prefixIcon="part-filter"
                      (onClosed)="setProductCategory(formProductIdx, $event[0])">
                    </tree-select>
                  </div>
                  <div class="publish-checkbox">
                    <mat-checkbox [formControlName]="0">Publish</mat-checkbox>
                  </div>
                </div>
              </mat-expansion-panel-header>

              <div class="details">
                <div class="header-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
                  <h5 class="section-title">
                    Pricing changes
                  </h5>
                  <mat-radio-group class="radio-group block-radio" [formControlName]="5" (change)="setProductPricingStatus(formProductIdx, $event.value)">
                    <mat-radio-button class="filter-option" *ngFor="let option of productPriceChangeOptions" value="{{ option.value }}" color="accent">
                      {{ option.label }}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>

                <table class="pricing-table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Item Price</th>
                      <th>Shipping (Local)</th>
                      <th>Shipping (International)</th>
                    </tr>
                  </thead>
                <tbody>
                  <tr>
                    <th>
                      Current Value
                      <small>The current, saved value for this item</small>
                    </th>
                    <td>
                      <span class="part price">
                        {{ productInfo.currentPriceBase }}
                        <small class="currency">PART</small>
                      </span>
                    </td>

                    <td>
                      <span class="part price">
                        {{ productInfo.currentPriceShippingLocal }}
                        <small class="currency">PART</small>
                      </span>
                    </td>

                    <td>
                      <span class="part price">
                        {{ productInfo.currentPriceShippingIntl }}
                        <small class="currency">PART</small>
                      </span>

                    </td>
                  </tr>
                  <tr>
                    <th>
                      New Value
                      <small>The new price for the item</small>
                    </th>

                    <td>
                        <mat-form-field class="--plain" appearance="fill">
                          <input [formControlName]="2" placeholder="Item Price" matInput />
                        </mat-form-field>
                        <span class="part price"><small class="currency">PART</small></span>
                    </td>

                    <td>
                        <mat-form-field class="--plain" appearance="fill">
                          <input [formControlName]="3" placeholder="Item Shipping (Local) Price" matInput />
                        </mat-form-field>
                        <span class="part price"><small class="currency">PART</small></span>
                    </td>

                    <td>
                        <mat-form-field class="--plain" appearance="fill">
                          <input [formControlName]="4" placeholder="Item Shipping (International) Price" matInput />
                        </mat-form-field>
                        <span class="part price"><small class="currency">PART</small></span>
                    </td>
                  </tr>
                </tbody>
                </table>

              </div>
            </mat-expansion-panel>
          </ng-container>
        </ng-container>
      </ng-container>

      <div class="no-results --horizontal --smaller" *ngIf="!(+batchPublishForm.get('selectedMarket').value > 0)">
        <img class="illustration" src="./assets/app-market/illustrations/batch-publish.svg" alt="Select Market first">
        <div class="text">
          <p>
            Select Market for Publishing
          </p>
          <p class="help-text">
            Please select a Market where you want to Publish your Products first
          </p>
        </div>
      </div><!-- .no-results -->

    </section><!-- .available-products -->

  </mat-dialog-content>
</ng-container>


<mat-dialog-actions>

  <mat-progress-bar *ngIf="isProcessingControl.value" mode="determinate" [value]="publishingInfo.progressPercent"
    color="accent" class="publish-progress"></mat-progress-bar>

    <div class="row">
      <div class="right">
        <button mat-button color="basic" (click)="actionCloseModal()" [disabled]="isProcessingControl.value">
          <mat-icon fontIcon="part-cross"></mat-icon>
          Cancel &amp; close
        </button>
      </div>
      <div class="left">
        <button mat-raised-button color="primary" [disabled]="isProcessingControl.value || batchPublishForm.invalid"
          (click)="actionBatchPublish()">
          <mat-icon fontIcon="part-check"></mat-icon>
          <ng-container *ngIf="isProcessingControl.value; else buttonTextDoPublish">Publishing selected Products&hellip;
          </ng-container>
          <ng-template #buttonTextDoPublish>Publish selected Products</ng-template>
        </button>
      </div>
    </div><!-- .row -->

</mat-dialog-actions>