@import './src/assets/_config'; // import shared colors etc.

mat-dialog-title {
  margin: -8px 0 15px;
  .selected-identity {
    font-size: 15px;
    line-height: 1.4;
    .avatar {
      --avatar-size: 36px;
      background: var(--color-primary);
      color: var(--color-white);
      width: var(--avatar-size);
      height: var(--avatar-size);
      line-height: var(--avatar-size);
      text-align: center;
      border-radius: 50%;
      font-size: 20px;
      margin: 0 12px 0 0;
    }
    .identity-name {
      font-size: 16px;
    }
    .available-balance {
      font-size: 13px;
      color: var(--text-muted);
      font-weight: 400;
    }
  }
  .pricing {
    // margin-right: 24px;
    .shipping-checkbox {
      font-size: 13px;
      color: var(--text-muted);
      font-weight: 400;
    }
  }
}

.mat-dialog-content {
  height: calc(85vh - 200px); // offset higher mat-dialog-title & -actions
  // width: 52rem;
  margin: 0 -24px !important;
  padding: calc(var(--paddingV) - 8px) var(--paddingH);
  .introduction {
    margin-top: 0;
  }
}

.mat-option {
  img.image {
    // photos in Market switcher
    --size: 24px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: relative;
    top: 7px;
    margin-right: 4px;
  }
}

.publish-options {
  margin: 0 -74px -16px -24px;
  line-height: 1.1;
  /*
  .duration {
    .estimate-fee {
      padding: 0 0 16px;
    }
    .estimated-fee {
      font-size: 13px;
      font-weight: 400;
      line-height: 1.4;
      color: var(--text-muted);
      margin: 0 0 0 12px;
      .fee {
        font-weight: 500;
        color: var(--text);
      }
    }
  }
  */
}

.available-products {
  margin-top: 30px;

  .mat-expansion-panel {
    margin-bottom: 1em;
  }

  .mat-expansion-panel-header[aria-disabled='true'] {
    color: var(--text);
  }

  .product {
    --photo-size: 70px;
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: var(--card-spacing);
    .photo {
      flex: 0 0 var(--photo-size);
      height: var(--photo-size);
      margin-right: 20px;
      img {
        @extend %image-center-cover;
      }
    }
    .meta {
      flex: 1 1 100%;
      .title {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 1px;
        flex-grow: 1;
      }
      .publish-status {
        color: var(--text-muted);
        .mat-icon {
          font-size: 14px;
          position: relative;
          top: 2px;
          margin-right: 2px;
          &.part-check,
          &.part-circle-check {
            color: var(--color-primary);
          }
          &.part-circle-info {
            color: var(--color-info);
          }
          &.part-cross,
          &.part-alert {
            color: var(--color-alert);
          }
          &.loading-progress {
            animation: loading-rotate linear 2s infinite;
            color: hsla(var(--text-muted-hsl), 0.7);
          }
        }
      }
    }
    .category-select {
      flex: 0 0 250px;
    }
    .publish-checkbox {
      margin: 0 24px 0 20px;
    }
  }

  .details {
    .header-wrapper {
      .section-title {
        margin-top: 1em;
        margin-bottom: 1em;
      }

      .mat-radio-button {
        display: inline-block;
        margin: 1em;
      }
    }

    table.pricing-table {
      width: 100%;
      margin-top: 1em;

      thead {
        th {
          color: var(--text-muted);
          font-weight: 500;
          padding: 0 12px 12px;
          vertical-align: bottom;
          &:first-child {
            padding-left: 24px;
          }
          &:last-child {
            padding-right: 24px;
          }
        }
      }
      tbody {
        tr {
          & > * {
            &:first-child {
              padding-left: 24px;
            }
            &:last-child {
              padding-right: 24px;
            }
          }
          th {
            font-weight: 500;
            small {
              color: var(--text-muted);
              font-size: 90%;
              font-weight: 400;
              display: block;
            }
          }
          th,
          td {
            // border-top: 1px solid var(--bg-muted);
            padding-left: 12px;
            padding-right: 12px;
            max-width: 150px; // space out cells ~evenly
          }
          &.help-text {
            td {
              vertical-align: top;
            }
          }
        }
      }
      strong {
        font-weight: 500;
      }
      .price {
        &.part {
          display: block;
          text-align: center;
          font-size: 90%;
        }
      }
      small.currency {
        font-size: 80%;
        margin-left: 0.3rem;
      }

      mat-form-field {
        text-align: center;
      }
    }
  }
} // .available-products

@keyframes loading-rotate {
  to {
    transform: rotate(360deg);
  }
}

.mat-dialog-actions {
  display: block;
  .publish-progress {
    // mat-progress-bar
    --actions-paddingH: 16px;
    margin: -12px calc(-1 * var(--actions-paddingH)) 13px;
    width: calc(100% + 2 * var(--actions-paddingH));
    height: 5px;
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
