<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side" opened="true" disableClose="true" class="sidebar">
    <div class="sidebar-menu">
      <div class="logo">
        <img src="./assets/particl-logo{{ (testnet | async) ? '-testnet' : ''}}.svg" alt="Particl">
      </div>

      <mat-divider></mat-divider>


      <div class="menu-links">
        <ng-content select="menu"></ng-content>
      </div><!-- .menu-links -->


      <footer class="footer">
        <mat-content class="errors-notifications">
          <mat-list class="notification sidebar-item-group">
            <mat-list-item class="info sidebar-item">
              <main-countdown-timer></main-countdown-timer>
            </mat-list-item>

          </mat-list>
        </mat-content>
        <main-version></main-version>
      </footer><!-- .pin-to-bottom -->
    </div>

  </mat-sidenav><!-- .sidebar -->

  <ng-content></ng-content>

</mat-sidenav-container>
