@import './src/assets/_config'; // import shared colors etc.

// ------ GENERAL SIDEBAR (except instance switcher + menu items) ------ //

.sidebar { // AKA .mat-sidenav
  background-color: var(--bg-black);

  .sidebar-menu {
    width: var(--sidebar-width);
    display: flex;
    flex-direction: column;
  }

  .logo {
    width: 130px;
    display: block;
    margin: 35px auto;
  }

  .menu-links {
    flex: 1 1 100%;
    overflow-y: auto;
    margin-bottom: -1px;
    &::-webkit-scrollbar-thumb {
      background: hsla(var(--bg-muted-hsl), 0.25);
    }
    &::-webkit-scrollbar-track {
      background: var(--bg-black);
    }
  }

  // widgets stuck to the bottom (sidebar's footer)
  .footer {
    @extend %menu-divider;
    flex: 1 1 10px;
  }

}
