@import './src/assets/_config'; // import shared colors etc.

// Stats overview
.balances-overview {
  margin: calc(-1 * var(--paddingV)) calc(-1 * var(--paddingH)) var(--paddingV);
  padding: 22px var(--paddingH);
  display: flex;
  align-items: center;
  justify-content: space-between;
  .divider {
    width: 1px;
    height: 3.5rem;
    background: var(--bg-muted);
    &.--blank {
      background: transparent;
    }
  }
  // stats
  .item {
    width: 20%;
    &.active-identity {
      .value {
        font-size: 16px;
        margin-bottom: 3px;
      }
    }
    .value {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 2px;
      @include break(l) {
      }
      small {
        font-size: 15px;
        font-weight: 400;
        color: var(--text-muted);
      }
    }
    .key {
      color: var(--text-muted);
    }
  }
}

.latest-activity {
  .item {
    @extend %tfx;
    cursor: pointer;
    .icon {
      position: relative;
      margin-bottom: 16px;
    }
    .badge {
      --badge-size: 24px;
      position: absolute;
      left: 12px;
      width: var(--badge-size);
      height: var(--badge-size);
      line-height: var(--badge-size);
      text-align: center;
      color: var(--color-white);
      font-weight: 600;
      background: var(--bg-muted);
      border-radius: 50%;
    }
    .mat-icon {
      font-size: 24px;
      margin-top: 12px;
      color: var(--text-muted);
    }
    .title {
      font-weight: 500;
      font-size: 15px;
      color: var(--text-muted);
    }
    .help-text {
      margin-top: 8px;
    }
    &.active {
      .mat-icon,
      .title {
        color: var(--text);
      }
      &.buyer {
        .badge {
          background: var(--color-primary);
        }
      }
      &.seller {
        .badge {
          background: var(--color-secondary);
        }
      }
    }
  }
}
