<div class="overview container-block without-tab-bar">

  <!-- FIXME @dev: implement these, pretty please :) -->
  <mat-card class="stats-overview">

    <div class="stat item">
      <!-- number of available listings on all connected markets -->
      <div class="value">513</div>
      <div class="key">Total<br>Listings</div>
    </div>

    <div class="divider"></div>

    <div class="stat item">
      <!-- all Buy orders in progress (for this wallet) -->
      <div class="value">2</div>
      <div class="key">Buy<br>Orders</div>
    </div>

    <div class="divider"></div>

    <div class="stat item">
      <!-- all Sell orders in progress (for this wallet) -->
      <div class="value">5</div>
      <div class="key">Sell<br>Orders</div>
    </div>

    <div class="divider"></div>
    
    <div class="stat item">
      <!-- all user's Listings currently available on Market -->
      <div class="value">1</div>
      <div class="key">Active<br>Listings</div>
    </div>

    <div class="divider"></div>

    <table class="balances item">
      <tr>
        <th>Spendable Anon</th>
        <td>190<small>.5173</small></td>
      </tr>
      <tr>
        <th>Locked in Escrow</th>
        <td>15<small>.4137</small></td>
      </tr>
      <tr>
        <th>Total Balance</th>
        <td>270<small>.6513</small></td>
      </tr>
    </table>

  </mat-card><!-- .stats-overview -->



  <h2 class="section-title">
    Latest Buyer Activity
  </h2>
  
  <!-- if number of new items = 0, add class `--no-new` to expansion panel + make it [disabled] -->
  <mat-expansion-panel class="activity-group --buyer no-padding">
    <mat-expansion-panel-header class="header">
      <div class="header-content">
        <div class="icon">
          <div class="notifications">2</div>
          <mat-icon fontIcon="part-hamburger"></mat-icon>
        </div>
        <div class="title">Orders requiring attention</div>
        <div class="desc">Updated orders that need payment or delivery confirmation</div>
      </div>
    </mat-expansion-panel-header>
    <div class="content">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>ORDER COMPONENT</mat-expansion-panel-header>
          ...
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>ORDER COMPONENT</mat-expansion-panel-header>
          ...
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-expansion-panel><!-- .activity-group -->

  <!-- if number of new items = 0, add class `--no-new` to expansion panel + make it [disabled] -->
  <mat-expansion-panel class="activity-group --buyer no-padding">
    <mat-expansion-panel-header class="header">
      <div class="header-content">
        <div class="icon">
          <div class="notifications">23</div>
          <mat-icon fontIcon="part-chat-discussion"></mat-icon>
        </div>
        <div class="title">New replies to questions</div>
        <div class="desc">Seller responded to question you asked on their Listing</div>
      </div>
    </mat-expansion-panel-header>
    <div class="content">
      <mat-accordion>
        <app-question-answer-item type="reply"></app-question-answer-item>
        <app-question-answer-item type="reply"></app-question-answer-item>
        <app-question-answer-item type="reply"></app-question-answer-item>
      </mat-accordion>
    </div>
  </mat-expansion-panel><!-- .activity-group -->



  <h2 class="section-title">
    Latest Seller Activity
  </h2>

  <!-- if number of new items = 0, add class `--no-new` to expansion panel + make it [disabled] -->
  <mat-expansion-panel class="activity-group --seller no-padding">
    <mat-expansion-panel-header class="header">
      <div class="header-content">
        <div class="icon">
          <div class="notifications">2</div>
          <mat-icon fontIcon="part-hamburger"></mat-icon>
        </div>
        <div class="title">New bids on Listings</div>
        <div class="desc">Buyer wants to buy your Product &ndash; approve or reject their bid</div>
      </div>
    </mat-expansion-panel-header>
    <div class="content">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>ORDER COMPONENT</mat-expansion-panel-header>
          ...
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>ORDER COMPONENT</mat-expansion-panel-header>
          ...
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-expansion-panel><!-- .activity-group -->

  <!-- if number of new items = 0, add class `--no-new` to expansion panel + make it [disabled] -->
  <mat-expansion-panel class="activity-group --seller no-padding --no-new" disabled>
    <mat-expansion-panel-header class="header">
      <div class="header-content">
        <div class="icon">
          <div class="notifications">0</div>
          <mat-icon fontIcon="part-hamburger"></mat-icon>
        </div>
        <div class="title">Orders requiring attention</div>
        <div class="desc">Updated orders that need payment or need to be shipped</div>
      </div>
    </mat-expansion-panel-header>
    <div class="content">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>ORDER COMPONENT</mat-expansion-panel-header>
          ...
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-expansion-panel><!-- .activity-group -->

  <!-- if number of new items = 0, add class `--no-new` to expansion panel + make it [disabled] -->
  <mat-expansion-panel class="activity-group --seller no-padding">
    <mat-expansion-panel-header class="header">
      <div class="header-content">
        <div class="icon">
          <div class="notifications">8</div>
          <mat-icon fontIcon="part-chat"></mat-icon>
        </div>
        <div class="title">New questions on Listings</div>
        <div class="desc">Buyer asked a question about your Listing</div>
      </div>
    </mat-expansion-panel-header>
    <div class="content">
      <mat-accordion>
        <app-question-answer-item type="question"></app-question-answer-item>
        <app-question-answer-item type="question"></app-question-answer-item>
        <app-question-answer-item type="question"></app-question-answer-item>
      </mat-accordion>
    </div>
  </mat-expansion-panel><!-- .activity-group -->

  <!-- if number of new items = 0, add class `--no-new` to expansion panel + make it [disabled] -->
  <mat-expansion-panel class="activity-group --seller no-padding">
    <mat-expansion-panel-header class="header">
      <div class="header-content">
        <div class="icon">
          <div class="notifications">12</div>
          <mat-icon fontIcon="part-bag"></mat-icon>
        </div>
        <div class="title">Expired Listings</div>
        <div class="desc">These Listings were taken off the Market &ndash; relist them if needed</div>
      </div>
    </mat-expansion-panel-header>
    <div class="content">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>LISTING COMPONENT</mat-expansion-panel-header>
          ...
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>LISTING COMPONENT</mat-expansion-panel-header>
          ...
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>LISTING COMPONENT</mat-expansion-panel-header>
          ...
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>LISTING COMPONENT</mat-expansion-panel-header>
          ...
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>LISTING COMPONENT</mat-expansion-panel-header>
          ...
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>LISTING COMPONENT</mat-expansion-panel-header>
          ...
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-expansion-panel><!-- .activity-group -->


</div><!-- .container-block -->
