@import './src/assets/_config'; // import shared colors etc.

// Stats overview
.stats-overview {
  margin: calc(-1 * var(--paddingV)) calc(-1 * var(--paddingH)) var(--paddingV);
  padding: 18px var(--paddingH);
  display: flex;
  align-items: center;
  justify-content: space-between;
  .divider {
    width: 1px;
    height: 4rem;
    background: var(--bg-muted);
  }
  // stats
  .stat {
    display: flex;
    align-items: center;
    .value {
      font-size: 26px;
      margin-right: 0.9rem;
      @include break(l) {
        font-size: 28px;
        margin-right: 1.1rem;
      }
    }
    .key {
      color: var(--text-muted);
    }
  }
  // balances
  .balances {
    width: 25%;
    th,
    td {
      margin: 0;
      padding: 0;
    }
    th {
      text-align: left;
      color: var(--text-muted);
      font-weight: 400;
    }
    td {
      text-align: right;
      font-weight: 500;
      font-family: var(--font-mono);
      small {
        color: var(--text-muted);
        font-weight: 400;
      }
    }
  }
}


// Latest activities
.activity-group {
  .header {
    max-height: 60px;
    min-height: 60px;
    .header-content {
      width: 100%;
      display: flex;
      align-items: center;
    }

    .icon {
      padding: 22px 32px;
      margin: 0 24px 0 -24px;
      border-right: 1px solid hsla(var(--bg-muted-hsl), 0.7);
    }
    .mat-icon {
      display: block;
    }
    .notifications { // notification # badge
      @extend %tfx;
      text-align: center;
      font-weight: 600;
      color: var(--color-white);
      font-size: 11px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      line-height: 20px;
      position: absolute;
      transform: translate(10px, -10px);
    }
    .title { // activity name
      width: 35%;
      font-size: 15px;
      font-weight: 500;
    }
    .desc {
      width: 55%;
      color: var(--text-muted);
    }
  } // << .header

  // Buyer-specific actions
  &.--buyer {
    .notifications {
      background: var(--color-primary);
    }
    &:hover,
    &:focus {
      .notifications {
        box-shadow: 0 0 0 3px hsla(var(--color-primary-hsl), 0.25);
      }
    }
  }

  // Seller-specific actions
  &.--seller {
    .notifications {
      background: var(--color-secondary);
    }
    &:hover,
    &:focus {
      .notifications {
        box-shadow: 0 0 0 3px hsla(var(--color-secondary-hsl), 0.25);
      }
    }
  }

  // Community & Misc actions
  &.--community {
    .notifications {
      background: var(--color-tertiary);
    }
    &:hover,
    &:focus {
      .notifications {
        box-shadow: 0 0 0 3px hsla(var(--color-tertiary-hsl), 0.25);
      }
    }
  }

  // items without new notifications
  &.--no-new {
    .mat-icon {
      color: hsla(var(--text-muted-hsl), 0.5);
    }
    .notifications {
      display: none;
    }
    .title {
      color: var(--text-muted);
    }
  }

} // << .activity-group
