@import './src/assets/_config'; // import shared colors etc.

// Stats overview
.balances-overview {
  margin: calc(-1 * var(--paddingV)) calc(-1 * var(--paddingH)) var(--paddingV);
  padding: 22px var(--paddingH);
  display: flex;
  align-items: center;
  justify-content: space-between;
  .divider {
    width: 1px;
    height: 3.5rem;
    background: var(--bg-muted);
    &.--blank {
      background: transparent;
    }
  }
  // stats
  .item {
    width: 20%;
    &.active-identity {
      .value {
        font-size: 16px;
        margin-bottom: 3px;
      }
    }
    .value {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 2px;
      small {
        font-size: 15px;
        font-weight: 400;
        color: var(--text-muted);
      }
      .mat-progress-spinner { // pending funds indicator
        display: inline-block;
        position: relative;
        top: 1px;
        margin-right: 4px;
      }
    }
    .key {
      color: var(--text-muted);
      .mat-icon {
        font-size: 12px;
        margin-right: 6px;
        position: relative;
        top: 1px;
      }
    }
  }
}

.page-intro {
  display: none;
  @include break(l) {
    @include gradient(var(--color-white), var(--bg));
    display: block;
    text-align: center;
    padding: calc(1.5 * var(--paddingV)) var(--paddingH);
    margin: calc(-1 * var(--paddingV)) calc(-1 * var(--paddingH)) 0;
  }
  .lead {
    color: var(--text-muted);
    max-width: 500px;
    margin: 0 auto;
  }
}

.latest-activity {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  .item {
    @extend %tfx;
    flex: 1 1 25%;
    margin-right: 30px;
    @include break(l) {
      padding: 24px 30px 30px;
    }
    &:last-of-type {
      margin-right: 0;
    }
    .icon {
      position: relative;
      margin-bottom: 16px;
      @include break(l) {
        margin-bottom: 20px;
      }
    }
    .badge {
      --badge-size: 24px;
      position: absolute;
      left: 12px;
      width: var(--badge-size);
      height: var(--badge-size);
      line-height: var(--badge-size);
      text-align: center;
      color: var(--color-white);
      font-weight: 600;
      background: var(--bg-muted);
      border-radius: 50%;
    }
    .mat-icon {
      font-size: 24px;
      margin-top: 12px;
      color: var(--text-muted);
    }
    .title {
      font-weight: 500;
      font-size: 15px;
      color: var(--text-muted);
      @include break(l) {
        font-size: 16px;
      }
    }
    .help-text {
      margin-top: 8px;
      @include break(l) {
        margin-top: 10px;
        font-size: 13px;
      }
    }
    &.active {
      cursor: pointer;
      &:hover,
      &:focus {
        box-shadow: 0 1px 0 var(--bg-muted), 0 1px 10px -1px hsla(var(--text-hsl), 0.3) !important;
      }
      .mat-icon,
      .title {
        color: var(--text);
      }
      &.buyer {
        .badge {
          background: var(--color-primary);
        }
      }
      &.seller {
        .badge {
          background: var(--color-secondary);
        }
      }
    }
  }
}
