<div class="overview container-block without-tab-bar">
  <app-page-intro childPageAlias="Active">
    <ng-container page-title>Active Proposals</ng-container>
    <ng-container page-content>
      View all proposals that are either currently being voted on, or are to be voted on in the near future.
    </ng-container>
    <ng-container page-help>
    </ng-container>
  </app-page-intro>


  <div>
    <governance-status-bar></governance-status-bar>
  </div>

  <!-- Filters -->
  <div class="filter">

    <h2 class="section-title">
      Search
    </h2>

    <mat-form-field class="--boxed" appearance="fill">
      <input matInput type="text" [formControl]="querySearch"
            placeholder="Search Proposals" (keyup.escape)="querySearch.setValue('')">
      <button *ngIf="querySearch.value.length > 0" matSuffix mat-button class="small" (click)="querySearch.setValue('')" matTooltip="Clear" matTooltipPosition="after">
        <mat-icon fontIcon="part-clear-all"></mat-icon>
      </button>
      <mat-icon *ngIf="querySearch.value.length === 0" matSuffix fontIcon="part-search"></mat-icon>
    </mat-form-field>

    <h2 class="section-title">
      Filter
    </h2>

    <mat-card class="filter-card">
      <mat-radio-group class="radio-group block-radio" [formControl]="queryFilterStatus">
        <mat-radio-button class="filter-option" *ngFor="let statusFilter of filterOptionsStatus" [value]="statusFilter.value" color="accent">
          {{ statusFilter.title }}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card>

    <button mat-button color="basic" class="clear-filters" (click)="clearAllFilters()">
      <mat-icon fontSet="partIcon" fontIcon="part-clear-all"></mat-icon>
      Clear all filters
    </button>

  </div><!-- .filter -->


  <div class="section with-filter" *appVar="(proposals | async) as filteredProposals">

    <ng-container *ngIf="(isBlockchainSynced | async); else unsynced">
      <ng-container *ngIf="filteredProposals && (filteredProposals.length > 0); else noItems">
        <mat-accordion>
          <ng-container *ngFor="let proposal of filteredProposals">

            <mat-expansion-panel class="proposal list-item no-padding">
              <mat-expansion-panel-header class="header">
                <div class="header-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
                  <div class="id">
                    {{ proposal.proposalId }}
                  </div>
                  <div class="meta" fxFlex="1 1 100%">
                    <div class="name">{{ proposal.name }}</div>
                    <div class="desc">
                      <a [href]="proposal.infoUrls.ccs" target="_blank" *ngIf="proposal.infoUrls?.ccs?.length > 0" class="link tag ccs" >View on CCS website</a>
                      <a [href]="proposal.infoUrls.github" target="_blank" *ngIf="proposal.infoUrls?.github?.length > 0" class="link tag github" >View on Github</a>
                    </div>
                  </div><!-- .meta -->
                  <div class="status-wrap" fxFlex="0 0 140px">
                    <div class="status" [class.active]="blockCounter > proposal.blockStart">
                      <span class="dot"></span>
                      {{ (proposal.blockStart === 0) || (proposal.blockStart > blockCounter) ? 'Pending' : 'Active' }}
                    </div>
                    <table>
                      <tr>
                        <th class="title">
                          Block Start
                        </th>
                        <td class="value">
                          {{ proposal.blockStart > 0 ? proposal.blockStart : 'N/A' }}
                        </td>
                      </tr>
                      <tr>
                        <th class="title">
                          Block End
                        </th>
                        <td class="value">
                          {{ proposal.blockEnd > 0 ? proposal.blockEnd : 'N/A' }}
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <div class="details">

                  <ng-container *ngIf="(proposal.blockStart !== 0) && (proposal.blockStart <= blockCounter); else pendingProposal">

                    <ng-container *ngIf="proposal.blockEnd <= blockCounter; else titleProposalCurrent">
                      <p>Voting on this proposal has ended and the results displayed below are final</p>
                    </ng-container>
                    <ng-template #titleProposalCurrent>
                      <p>Voting is still in progress, with {{ proposal.blockEnd - blockCounter }} blocks remaining</p>
                    </ng-template>

                    <div fxLayoutAlign="space-between stretch">
                      <div>graph 1 here</div>
                      <div>graph 2 here</div>
                    </div>

                  </ng-container>

                  <ng-template #pendingProposal>
                    <p>Voting on this proposal has not yet started.</p>
                    <p>There is still time to review this proposal and discuss the proposal in further detail before voting begins.</p>
                    <p>
                      Further information on how to vote for the proposal (when voting begins) can be found here:
                      <button mat-button color="basic" [routerLink]="['../overview']" class="small">
                        <mat-icon fontIcon="part-overview"></mat-icon>
                        Overview
                      </button>
                    </p>
                  </ng-template>
                </div>
              </ng-template>
            </mat-expansion-panel>

          </ng-container>
        </mat-accordion>
      </ng-container>
    </ng-container>
  </div>

</div>


<ng-template #unsynced>
  <div class="no-results">
    <img class="illustration" src="./assets/app-market/illustrations/no-orders.svg" alt="Blockchain is busy syncing">
    <p>
      Blockchain Syncing
    </p>
    <p class="help-text">
      Whether a proposal is active or not, along with various actions and information, relies on a fully sync'ed node. Please wait while this node completes syncing.
    </p>
  </div>
</ng-template>

<ng-template #noItems>
  <div class="no-results">
    <img class="illustration" src="./assets/app-market/illustrations/no-orders.svg" alt="No Proposals">
    <p>
      No Proposals Listed
    </p>
    <p class="help-text">
      Looks like there are no currently active proposals.
    </p>
  </div>
</ng-template>
