@import './src/assets/_config'; // import shared colors etc.

// Category tree overlay (styled from Autocomplete)
.category-overlay {
  max-height: 550px;
  width: 340px;
  overflow: auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  position: relative;
  margin-top: 5px;
}
