<ng-container [formGroup]="addressForm">
<div class="row" fxLayout>
  <label class="--larger" fxFlex="40">
    <h3 class="label">First name</h3>
    <mat-form-field appearance="fill" class="--plain --larger">
      <input matInput type="text" placeholder="Your first name" formControlName="firstName"/>
    </mat-form-field>
  </label>
  <label class="--larger" fxFlex="60">
    <h3 class="label">Last name</h3>
    <mat-form-field appearance="fill" class="--plain --larger">
      <input matInput type="text" placeholder="Your last name(s)" formControlName="lastName"/>
    </mat-form-field>
  </label>
</div>
<div class="row" fxLayout>
  <label class="--larger" fxFlex="40">
    <h3 class="label">Address</h3>
    <mat-form-field appearance="fill" class="--plain --larger">
      <input matInput type="text" placeholder="Address line 1" formControlName="addressLine1"/>
    </mat-form-field>
  </label>
  <label class="--larger" fxFlex="60">
    <h3 class="label">&nbsp;</h3>
    <mat-form-field appearance="fill" class="--plain --larger">
      <input matInput type="text" placeholder="Address line 2 (if applicable)" formControlName="addressLine2"/>
    </mat-form-field>
  </label>
</div>
<div class="row" fxLayout>
  <label class="--larger" fxFlex="40">
    <h3 class="label">Postal code</h3>
    <mat-form-field appearance="fill" class="--plain --larger">
      <input matInput type="text" placeholder="ZIP code" formControlName="zipCode"/>
    </mat-form-field>
  </label>
  <label class="--larger" fxFlex="60">
    <h3 class="label">City</h3>
    <mat-form-field appearance="fill" class="--plain --larger">
      <input matInput type="text" placeholder="City" formControlName="city"/>
    </mat-form-field>
  </label>
</div>
<div class="row" fxLayout fxLayoutAlign="stretch flex-end">
  <label class="--larger" fxFlex="40">
    <h3 class="label">State</h3>
    <mat-form-field appearance="fill" class="--plain --larger">
      <input matInput type="text" placeholder="State" formControlName="state"/>
    </mat-form-field>
  </label>
  <label class="--larger" fxFlex="60">
    <h3 class="label">Country</h3>
    <tree-select
      [data$]="regionList$"
      [singleSelection]="true"
      [initialSelection]="[addressForm.get('countryCode').value]"
      placeholderLabel="Select your country"
      [labelStyles]="['--plain', '--larger']"
      (onClosed)="addressForm.get('countryCode').setValue($event[0] || '')">
    </tree-select>
  </label>
</div>
</ng-container>
