@import "./src/assets/_config"; // import shared colors etc.

// ------ GENERAL ------ //

.mat-icon {
  width: auto;
  height: auto;
  font-size: 14px;
}

// ------ LAYOUT ------ //





// ------ FILTER ------ //
// TODO: share these styles with History (same code)

.section {
  .subtitle { // title
    @extend %subtitle;
    margin: 24px 0 14px;
    &.first {
      margin-top: 0;
    }
  }
}
 
.filter-card {
  @extend %disable-select;
  padding: 0;
  margin-bottom: 16px;

  // search & sorting
  .search-sorting & {
    padding: 10px 20px;
    .filter-input {
      width: 100%;
    }
    .icon-input {
      .mat-icon {
        top: 5px;
        right: 2px;
        font-size: 14px;
      }
    }
  }

  // radio buttons
  .radio-group {
    width: calc(100% - 32px);
    padding: 8px 16px;
    display: block;
    .filter-option {
      width: 100%;
      margin: 5px 0;
      font-family: $font;
    }
    .amount {
      font-weight: 600;
      text-align: center;
      background: $bg-shadow;
      border-radius: $radius;
      float: right;
      display: inline-block;
      width: 20px;
      padding: 0 5px;
    }
  }
 
}

// ------ LISTS (listings & orders) ------ //

.list {
  .item {
    font-size: 12px;
    padding: 0 24px 0 0;
    .photo {
      margin-right: 24px;
      img {
        width: 100%;
        display: block;
      }
    }
    .meta {
      color: $text-muted;
      font-size: 11px;
      line-height: 1.8;
      .name {
        color: $text;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 5px;
      }
    }
    table.prices {
      color: $text-muted;
      th {
        text-align: right;
        font-weight: 600;
        padding-right: 7px;
      }
    }
  }
}

// ------ LISTINGS ------ //

.listing {
  .action-buttons {
    .mat-icon {
      cursor: pointer;
    }
  }
}


// ------ ORDERS ------ //

.order {
  .status {
    background: $bg-shadow;
    text-align: center;
    color: white;
    margin-bottom: 12px;
    padding: 6px 15px;
    border-radius: 4px;
    font-weight: 700;
    &.pending {
      background: $bg-shadow;
    }
    &.listed {
      background: $color;
    }
    &.escrow {
      background: $color-warning;
    }
    &.shipped {
      background: darken($color, 15%);
    }
    &.sold {
      background: $bg-shadow;
    }
    &.expired {
      background: $color-alert;
    }
  }
}