@import "./src/assets/_config"; // import shared colors etc.
@import "./src/app/market/_listing"; // listing styles
@import "./src/app/wallet/shared/_filter-sorting"; // filtering & sorting

// ------ GENERAL ------ //

.mat-icon {
  font-size: 14px;
}

// ------ LAYOUT ------ //
