<app-header class="disable-select">
  <mat-tab-group (selectChange)="changeTab($event.index)">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-listings"></mat-icon>
        Listings
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-hamburger"></mat-icon>
        Orders
      </ng-template>
    </mat-tab>
    <!--mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-circle-plus"></mat-icon>
        Sell item
      </ng-template>
    </mat-tab-->
  </mat-tab-group>
</app-header>


<!-- =========== LISTINGS =========== -->

<div fxLayout="row" fxLayoutGap="30px" class="container-block" *ngIf="tabLabels[selectedTab] == 'listings'">

  <!-- Listings > Filter -->
  <div class="filter" fxFlex="0 0 230px">

    <div class="sell-item">
      <button mat-raised-button color="primary" (click)="addItem()" class="full-width"
              matTooltip="Enter a new item for sale" matTooltipPosition="above">
        <mat-icon fontSet="partIcon" fontIcon="part-circle-plus"></mat-icon>
        Add new listing
      </button>
    </div>

    <div class="section search-sorting">
      <div class="subtitle">Search &amp; sort</div>
      <mat-card class="filter-card">
        <mat-form-field class="icon-input filter-input" floatPlaceholder="never">
          <input matInput type="text" class="header-input" placeholder="Search listings" [(ngModel)]="filters.search"
                 (keyup)="loadPage()" (keyup.enter)="loadPage()" (keyup.escape)="filters.search = ''; loadPage()">
          <mat-icon *ngIf="filters.search" matTooltip="Clear" fontSet="partIcon" fontIcon="part-clear-all"
                    (click)="filters.search=''; loadPage()"></mat-icon>
          <mat-icon *ngIf="!filters.search" matTooltip="Search" fontSet="partIcon" fontIcon="part-search"
                    (click)="loadPage()"></mat-icon>
        </mat-form-field>
        <!--mat-form-field class="sort-by filter-input" floatPlaceholder="never">
          <mat-select placeholder="Sort listings">
            <mat-option *ngFor="let sorting of listing_sortings" [value]="sorting.value">
              {{ sorting.title }}
            </mat-option>
          </mat-select>
        </mat-form-field -->
      </mat-card>
    </div>

    <!--div class="section filter-by-type TO_DO">
      <div class="subtitle">Filter by status</div>
      <mat-card class="filter-card">
        <mat-radio-group class="radio-group block-radio">
          <mat-radio-button class="filter-option" *ngFor="let status of listing_filtering" value="{{ status.value }}">
            {{ status.title }}
            <span class="amount">{{ status.amount }}</span>
          </mat-radio-button>
        </mat-radio-group>
      </mat-card>
    </div--><!-- .filter-by-type -->

    <button mat-button color="warn" class="clear-filters" (click)="clear()">
      <mat-icon fontSet="partIcon" fontIcon="part-clear-all"></mat-icon>
      Clear all filters
    </button>

  </div><!-- .filter -->

   <!-- Listings > list -->
  <div class="listings section" fxFlex="1 1 100%">

    <div class="no-results" *ngIf="listings?.length === 0">
      You don't have any market listings yet
    </div>
    <!--div class="subtitle first">Published listings</div-->

    <mat-accordion>
      <mat-expansion-panel class="listing list-item no-padding" *ngFor="let listing of listings">
        <mat-expansion-panel-header class="header">
          <div class="header-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="photo" fxFlex="0 0 110px">
              <img src="{{ listing.featuredImage?.dataId || './assets/images/placeholder_1-1.jpg'}}">
            </div>
            <div class="meta" fxFlex="1 1 100%">
              <div class="name">{{ listing.title }}</div>
              <div class="categories">{{ listing.category.name }}</div>
              <div class="date">
                <!--span class="hash" matTooltip="Order hash">AGR</span-->
                Added {{ listing.createdAt }} &bull; <span class="TO_DO">Expires 2018-02-13</span>
              </div>
            </div>
            <div *ngFor="let status of getStatus(listing.status)">
              <div class="status {{ status.class }}" fxFlex="0 0 140px"><span>&bull;</span>{{ status.status }}</div>
            </div>
          </div>
        </mat-expansion-panel-header>

        <!--div class="status-info">
          <p>{{ listing.status_info }}</p>
        </div-->

        <div class="detail" fxLayout="row" fxLayoutGap="30px">
          <div class="description" fxFlex="65%">
            <div class="title">Listing description</div>
            <p>
              {{ listing.longDescription }}
            </p>
          </div><!-- .description -->
          <div class="info" fxFlex="35%">
            <div class="title">Price</div>
            <table class="prices">
              <!--tr><th>Quantity</th><td>2</td></tr-->
              <tr>
                <th>Price per item</th>
                <td>{{ listing.basePrice.getIntegerPart() }}.
                  <small>{{ listing.basePrice.getFractionalPart() }}</small>
                  PART
                </td>
              </tr>
              <!--tr><th>Total price</th><td>46.<small>257</small> PART</td></tr-->
            </table>
          </div>
        </div>

        <mat-action-row fxLayout fxLayoutAlign="space-between stretch">
          <div class="left">
            <button mat-button color="warn" matTooltip="Delete listing" (click)="confirmDeleteListing(listing)"
                    class="small">
              <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
            </button>
            <button mat-button matTooltip="Clone listing" (click)="addItem(listing.id, true)" class="small">
              <mat-icon fontSet="partIcon" fontIcon="part-copy"></mat-icon>
            </button>
            <button mat-button matTooltip="Edit listing details" (click)="addItem(listing.id)" class="small">
              <mat-icon fontSet="partIcon" fontIcon="part-pen-1"></mat-icon>
              Edit listing
            </button>
          </div>
          <div class="right" *ngFor="let status of getStatus(listing.status)">
            <button mat-raised-button color="{{ status.action_color }}" matTooltip="{{ status.action_tooltip }}" (click)="action(listing)" [disabled]="status.action_disabled">
              <!-- listing.action_disabled -->
              <mat-icon fontSet="partIcon" fontIcon="{{ status.action_icon }}"></mat-icon>
              {{ status.action_button }}
            </button>
          </div>
        </mat-action-row>
      </mat-expansion-panel><!-- .listing -->
    </mat-accordion>

    <!--div class="subtitle">Unpublished listings (templates)</div-->

  </div><!-- .listings-list -->
</div><!-- .container-block -->


<!-- =========== ORDERS =========== -->

<div class="container-block disable-select" *ngIf="tabLabels[selectedTab] == 'orders'">
  <app-orders type="sell" fxLayout fxLayoutGap="30px"></app-orders>
</div><!-- "Orders" tab -->
