@import './src/assets/_config'; // import shared colors etc.


// ------ UI ELEMENTS ------ //

// Step progress (in sidebar)
.progress {
  padding: 18px 8px 8px 20px;
  .step {
    margin-bottom: 16px;
    position: relative;
    @include break(l) {
      margin-bottom: 20px;
    }
    .dot {
      display: inline-block;
      border: 3px solid hsla(var(--bg-hsl), 0.15);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: relative;
      top: 2px;
      z-index: 10;
    }
    .desc {
      display: inline-block;
      font-size: 13px;
      margin-left: 18px;
      color: var(--text-muted);
      @include break(l) {
        font-size: 15px;
      }
    }
    &:not(.last):after { // lines connecting numbers
      content: '';
      display: block;
      background: hsla(var(--bg-hsl), 0.1);
      width: 2px;
      position: absolute;
      top: 16px;
      bottom: -18px;
      left: 6px;
      z-index: 1;
      @include break(l) {
        bottom: -22px;
      }
    }
    &.active { // active steps
      .dot {
        background: transparent;
        border: 3px solid var(--color-primary);
        width: 8px;
        height: 8px;
        &::after {
          content: '';
          display: block;
          border: 1.5px solid var(--color-primary);
          width: 9px;
          height: 9px;
          border-radius: 50%;
          animation: pulse-fade infinite 1s;
          position: absolute;
          top: -2px;
          left: -2px;
        }
      }
      .desc {
        color: var(--bg);
        font-weight: 500;
      }
    }
    &.done { // finished steps
      &:after {
        background: hsla(var(--color-primary-hsl), 0.35);
      }
      .dot {
        border-color: hsla(var(--color-primary-hsl), 0.35);
      }
      .desc {
        font-weight: 400;
        color: hsla(var(--bg-hsl), 0.75);
      }
    }
  }
}


// ------ LAYOUT ------ //

.installer {
  @extend %disable-select;
  height: 100vh;
  & > .content {
    background: var(--bg);
    height: 100vh;
    .header-main {
      border-bottom: 1px solid var(--bg-muted);
      background: var(--color-white);
      padding: 0 var(--paddingH);
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
      position: sticky;
      top: 0;
      z-index: 100;
      @include break(xl) {
        font-size: 16px;
      }
    }
  }
}

.container-flex-stretched {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  min-height: calc(100% - var(--header-main-height) - 2 * var(--paddingV)); // fill the remaining vertical space
  app-page-intro {
    flex: 0 1 1%;
  }
  .container-flex {
    flex: 1 1 100%;
    & > .content-wrapper {
      margin: auto;
    }
    .mat-card {
      .highlight {
        background: hsla(var(--bg-hsl), 0.5);
        padding: 24px;
        margin: 24px -24px;
        border-top: 1px dashed hsla(var(--bg-muted-hsl), 0.7);
        border-bottom: 1px dashed hsla(var(--bg-muted-hsl), 0.7);
        .mat-form-field {
          margin-bottom: 0.75rem;
          &:last-of-type {
            margin: 0;
          }
        }
        .message { // info/error messages
          margin: -4px 0 16px;
        }
      }
      .message {
        background: transparent;
        padding: 0 24px 0 28px;
        &::before {
          top: 9px;
          left: 0;
        }
      }
    }
  }
  .action-buttons {
    flex: 0 1 1%;
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0;
  }
}


/* ------------------------------- *\
    Create/restore
\* ------------------------------- */

.create-or-restore {
  .content-wrapper {
    display: flex;
    align-items: stretch;
    max-width: 60rem;
    padding-bottom: 5rem; // offset page-title for vertical centering
    .half {
      flex: 1 1 50%;
      text-align: center;
      margin: 0;
      padding: 36px 46px;
      .illustration {
        width: 100%;
        max-height: 145px;
        margin-bottom: 15px;
      }
      .box-title {
        margin: 14px 0 12px;
      }
      .choice-desc {
        margin: 8px 0 26px;
        color: var(--text-muted);
      }
      &:last-of-type {
        margin-left: 30px;
      }
    }
  }
}



/* ------------------------------- *\
    Name wallet
\* ------------------------------- */

.name-your-wallet {
  .container-flex {
    padding-bottom: 3rem; // offset page-title for vertical centering
  }
}


/* ------------------------------- *\
    Encrypt wallet
\* ------------------------------- */

.encrypt-wallet {
  .container-flex {
    @include break(l) {
      padding-bottom: 5rem; // offset page-title for vertical centering
    }
  }
}

// Loading (after wallet encryption)
.preparing-wallet {
  text-align: center;
  display: flex;
  padding: 0 45px;
  height: calc(100vh - var(--header-main-height));
  position: relative;
  & > .center {
    margin: auto;
    .loading-spinner {
      margin: auto;
    }
  }
  p.lead {
    font-size: 17px;
  }
}


/* ------------------------------------ *\
    Recovery Phrase, Verify & Password
\* ------------------------------------ */

.mnemonic-and-password {
  .container-flex {
    @include break(l) {
      padding-bottom: 5rem; // offset page-title for vertical centering
    }
    p.message {
      margin: 16px 0 18px;
    }

    // Mnemonic save/show
    .mnemonic-save {
      max-width: 60rem;
      .dos-donts { // DO's & DONT's
        margin-bottom: 30px;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            margin-top: 6px;
            padding-left: 26px;
            line-height: 1.4;
            color: var(--text-muted);
            position: relative;
          }
          .mat-icon {
            position: absolute;
            top: 3px;
            left: 2px;
            font-size: 14px;
            &.part-check {
              color: var(--color-success);
            }
            &.part-cross {
              color: var(--color-alert);
            }
          }
          strong {
            font-weight: 500;
            color: var(--text);
          }
        }
      }
      .mnemonic { // expansion panel with seed
        .toggle {
          min-height: 64px;
          max-height: 64px;
          .box-title {
            margin: 0;
          }
          small {
            @extend %tfx;
            color: var(--text-muted);
          }
        }
        &.mat-expanded {
          small { opacity: 0; }
        }
      }
    }
    // Mnemonic verify/enter
    .mnemonic-enter {
      max-width: 60rem;
      .mnemonic-verify {
        & + .recovery-password {
          margin-top: 30px;
        }
      }
    }

    // Recovery password
    .recovery-password {
      max-width: 30rem;
      margin: auto;
      p.message {
        margin-bottom: 0;
      }
    }

  }

  .restore-checkbox {
    margin-top: 24px;
    color: var(--text-muted);
  }
} // << .mnemonic-and-password


/* ------------------------------- *\
    Wallet is ready!
\* ------------------------------- */

.wallet-ready.container-flex {
  padding: var(--padding);
  height: calc(100vh - var(--header-main-height) - 2 * var(--paddingV)); // fill remaining vertical space
  text-align: center;
  .content-wrapper {
    max-width: 35rem;
    margin: auto;
    padding: 32px 24px;
    p.message {
      padding: 56px 24px 16px;
      margin: 32px -24px;
      &::before {
        font-size: 2.1em;
        position: absolute;
        top: 1.2em;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    .action-buttons {
      margin: 24px 0 0;
      text-align: center;
    }
  }
}


// Animations
@keyframes pulse-fade { // current step @ progress
  to {
    transform: scale(2.1);
    opacity: 0;
  }
}
