<div class="passphrase">
  <div class="subtitle">Your Recovery Phrase</div>

  <div fxLayoutWrap fxLayoutGap="3.66%" class="word-list">
    <div fxFlex="13%" *ngFor="let k of Arr(24).fill(); let i = index">
      <mat-form-field>
        <input
          #phrase
          matInput
          class="enable-select"
          [appFocusElement]="i === focused"
          [(ngModel)]="words[i]" type="text" name="recovery"
          [readonly]="readOnly"
          [disabled]="isDisabled || (partialDisable && validateWord(words[i], i) && canEdit(i))"
          [class.verify-error]="words[i].length > 1 && !validateWord(words[i], i)"
          (keyup)="checkFocus($event, i)" (paste)="splitAndFill(i)"
          (blur)="onBlur(i)" (focus)="focused = i" />
      </mat-form-field>
    </div>
  </div><!-- .word-list -->

  <div class="actions" fxLayoutAlign="center center" *ngIf="!isDisabled && !partialDisable">

    <button mat-button *ngIf="generate" (click)="copyToClipBoard()" ngxClipboard [cbContent]="words.join(' ')" class="copy">
      <mat-icon fontSet="partIcon" fontIcon="part-copy"></mat-icon>
      Copy to Clipboard
    </button>

    <button mat-button *ngIf="!generate" class="paste" (click)="pasteContent()">
      <mat-icon fontSet="partIcon" fontIcon="part-past"></mat-icon>
      Paste
    </button>

  </div><!-- .actions -->
</div><!-- .passphrase -->