<div fxLayout="column" fxLayoutWrap fxLayoutAlign="center center">
  <div class="container form_block" fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%">
    <div fxFlex="30%">
      <label class="wallet-name-label">YOUR 24 WORD RECOVERY PHRASE</label>
    </div>
    <div fxFlex="70%" class="containerX" fxFlex.sm="100%" fxFlex.xs="100%">
      <div fxLayout="row wrap">
        <div fxFlex="16.66%" *ngFor="let k of Arr(24).fill(); let i = index">
          <md-form-field class="row_input_gap">
            <input
              mdInput
              [appFocusElement]="i === focused"
              [(ngModel)]="words[i]" type="text" name="recovery"
              [readonly]="readOnly"
              [disabled]="isDisabled || (partialDisable && validateWord(words[i], i) && canEdit(i))"
              (keypress)="checkFocus($event, i)" (input)="splitAndFill(i)"/>
          </md-form-field>
        </div>
      </div>
      <div fxLayoutAlign="end center" *ngIf="!isDisabled && !partialDisable">
        <md-icon *ngIf="!isClipboard" class="cursor-pointer icon" mdTooltip="Copy" fontSet="ncIcon" fontIcon="nc-copy-2"
                 (click)="copyToClipBoard()" ngxClipboard
                 [cbContent]="words.join(' ')"></md-icon>

        <md-icon class="cursor-pointer icon" *ngIf="isClipboard" mdTooltip="Paste" fontSet="faIcon" fontIcon="fa-clipboard"></md-icon>
      </div>
    </div>
  </div>
</div>
<hr class="hr-light">
