@import './src/assets/_config'; // import shared colors etc.

// ------ MENU ITEM (Single) ------ //

a.menu-item {
  @extend %tfx;
  padding: 13px 20px;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  &.active {
    .icon { // highlight active menu item
      color: var(--color-primary) !important;
    }
  }
  .icon {
    @extend %tfx;
    margin: 0 16px 0 0;
    color: hsla(var(--bg-hsl), 0.2);
  }
  .text {
    font-size: 11.5px;
    font-weight: 500;
    color: var(--color-white);
  }
  .tag { // order notifications
    @extend %tfx;
    position: absolute;
    right: 20px;
    top: 10px;
    opacity: 0.6;
  }
  &:hover,
  &:focus {
    background: hsla(var(--bg-sidebar-darker-hsl), 0.5);
    .icon {
      color: hsla(var(--bg-hsl), 0.35);
    }
  }
}
