<table>
  <tr *ngIf="displayHeader">
    <th *ngIf="displayCategory">category</th>
    <th *ngIf="displayDate">date</th>
    <th *ngIf="displaySenderAddress">address</th>
    <th *ngIf="displayTxId">txid</th>
    <th *ngIf="displayAmount">amount</th>
    <th *ngIf="displayBlockIndex">blockindex</th>
    <th *ngIf="displayConfirmations">confirmations</th>
  </tr>
  <tr *ngFor="let tx of txService.txs">
    <td *ngIf="displayCategory">{{ tx.category }}</td>
  	<td *ngIf="displayDate">{{ tx.getDate() }}</td>
    <td *ngIf="displaySenderAddress">{{ tx.address }}</td>
    <td *ngIf="displayTxId">{{ tx.txid }}</td>
    <td *ngIf="displayAmount">{{ tx.amount }}</td>
    <td *ngIf="displayBlockIndex">{{ tx.blockindex }}</td>
    <td *ngIf="displayConfirmations">{{ tx.confirmations }}</td>
  </tr>
</table>
<br />

<pagination *ngIf="displayPagination" [boundaryLinks]="true" (pageChanged)="pageChanged($event)" [totalItems]="txService.txCount" [(ngModel)]="txService.currentPage" class="pagination-sm"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" itemsPerPage="3" ></pagination>
