<!-- <div class="tx-table table-responsive"> -->
<div class="table-container">
  <table>
    <tr *ngIf="displayHeader">
      <th *ngIf="displayCategory">category</th>
      <th *ngIf="displayDate">date</th>
      <th *ngIf="displaySenderAddress">address</th>
      <th *ngIf="displayTxId">txid</th>
      <th *ngIf="displayAmount">amount</th>
      <th *ngIf="displayBlockIndex">blockindex</th>
      <th *ngIf="displayConfirmations">confirmations</th>
    </tr>
    <tr *ngFor="let tx of txService.txs">
      <td *ngIf="displayCategory">

        <!-- if stake -->
        <button *ngIf="tx.category == 'stake'" type="button" class="btn btn-default btn-round category-button">
          STAKE
          <span class="icon glyphicon glyphicon-plus-sign green icon-sign"></span>
        </button>

        <!-- if orphaned stake -->
        <button *ngIf="tx.category == 'orphaned_stake'" type="button" class="btn btn-default btn-round category-button">
          ORPHAN
          <span class="icon glyphicon glyphicon-remove red icon-sign"></span>
        </button>

        <!-- if send -->
        <button *ngIf="tx.category == 'send'" type="button" class="btn btn-default btn-round category-button">
          SEND
          <span class="icon glyphicon glyphicon-arrow-right red icon-sign"></span>
        </button>

        <!-- if received -->
        <button *ngIf="tx.category == 'received'" type="button" class="btn btn-default btn-round category-button">
          RECEIVED
          <span class="icon glyphicon glyphicon-arrow-left green icon-sign"></span>
        </button>

      </td>
      <td *ngIf="displaySenderAddress">
        <span *ngIf="displayInternalHeader" class="bold">ADDRESS</span> {{ tx.address }}
      </td>
      <td *ngIf="displayDate">
        <span *ngIf="displayInternalHeader" class="bold">DATE</span> {{ tx.getDate() }}
      </td>
      <td *ngIf="displayTxId">
        <span *ngIf="displayInternalHeader" class="bold">TXID</span> {{ tx.txid }}
      </td>
      <td *ngIf="displayBlockIndex">
        <span *ngIf="displayInternalHeader" class="bold">BLOCKINDEX</span> {{ tx.blockindex }}
      </td>
      <td *ngIf="displayConfirmations">
        <span *ngIf="displayInternalHeader" class="bold">CONFIRMATIONS</span> {{ tx.confirmations }}
      </td>
      <td *ngIf="displayAmount">
        <span *ngIf="displayInternalHeader" class="bold">AMOUNT </span> {{ tx.amount }} PART
      </td>
    </tr>
  </table>
</div>

<pagination *ngIf="displayPagination" [boundaryLinks]="true" (pageChanged)="pageChanged($event)" [totalItems]="txService.txCount" [maxSize]="5" [rotate]="false" [(ngModel)]="txService.currentPage" class="pagination-sm center"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" itemsPerPage="{{txService.MAX_TXS_PER_PAGE}}" ></pagination>
