.tx-table {
	margin-left: 2%;
}

.btn-round-lg{
	border-radius: 22.5px;
}
.btn-round{
	border-radius: 17px;
}
.btn-round-sm{
	border-radius: 15px;
}
.btn-round-xs{
	border-radius: 11px;
	padding-left: 10px;
	padding-right: 10px;
}

.category-button {
	padding: 10px;
}

.category-button > .icon-sign {
	margin-left: 5px;
}


/* 
	General items 
	TODO: these are also duplicated in other classes; better put all of these in one.

*/

.red {
	color: red;
}

.green {
	color: green;
}

.center {
	margin: 0px auto;
	display: table;
}


table {

    /* border-collapse: collapse; */

    /* Space between rows */
    border-collapse: separate;
	border-spacing: 0px 0.5em;

    width: 100%;
}

th {
    text-align: center;
    padding-top: 11px;
	padding-bottom: 11px;
	background-color: #02E8B0;
	color: white;
	text-transform: uppercase;
}

tr {
	margin-bottom: 10px;
	padding-bottom: 25px;
}
td {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;

	border-bottom-style: solid;
    border-bottom: 2px solid #e3e3e3;
	/*
    border-top-style: solid;
	border-top: 1px solid #b6b6bc;
	*/
}

.bold{
	font-weight: 700;
}