@import './src/assets/_config'; // import shared colors etc.
@import '../../shared/order-modals'; // shared styles for order modals (accept, reject, confirms etc.)

mat-dialog-title {
  margin: -8px 0 10px;
  .selected-identity {
    font-size: 15px;
    line-height: 1.4;
    .avatar {
      --avatar-size: 36px;
      background: var(--color-primary);
      color: var(--color-white);
      width: var(--avatar-size);
      height: var(--avatar-size);
      line-height: var(--avatar-size);
      text-align: center;
      border-radius: 50%;
      font-size: 20px;
      margin: 0 12px 0 0;
    }
    .identity-name {
      font-size: 16px;
    }
    .available-balance {
      font-size: 13px;
      color: var(--text-muted);
      font-weight: 400;
    }
  }
}

.mat-dialog-content {
  padding: 24px;
}
