<mat-dialog-title fxLayout fxLayoutAlign="space-between center">
  Market Governance
  <div class="selected-identity" fxLayout fxLayoutAlign="flex-start center" matTooltip="Your active Identity&#13;voting on the Market" matTooltipPosition="after" matTooltipClass="multi-line">
    <div class="avatar">{{ currentIdentity.image }}</div>
    <div class="text">
      <div class="identity-name">{{ currentIdentity.name }}</div>
      <div class="available-balance">Voting balance: {{ currentBalance }}</div>
    </div>
  </div>
</mat-dialog-title>


<!-- Has not been flagged yet-->
<ng-container *ngIf="proposalHash.length === 0 else flaggedMarketView">

  <mat-dialog-content class="--muted">
    <div class="no-results --smaller" *ngIf="isLoading">
      <img class="illustration" src="./assets/images/illustrations/loading_animated.svg" alt="Retrieving market's governance details">
      <p>
        Loading Market details
      </p>
      <p class="help-text">
        Retrieving market's governance details &ndash; please wait a bit
      </p>
    </div>

    <div class="row" *ngIf="!isLoading">
      <div class="image">
        <img class="illustration" src="./assets/app-market/illustrations/market-governance.svg" alt="Flag this Market">
      </div>
      <div class="text">
        <p class="lead">
          Do you really want to flag this Market?
        </p>
        <p class="help-text">
          This will vote with your coin weight (not spending them) to indicate that you find this Market inappropriate and would like to take it down.
        </p>
        <p class="help-text">
          Other uses can vote as well &ndash; the whole community can determine the result.
        </p>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>
      <mat-icon fontIcon="part-cross"></mat-icon>
      Cancel
    </button>
    <button mat-raised-button color="warn" *ngIf="!isLoading" appDebounceClick (debounceClick)="doAction(GovernanceActions.FLAG)">
      <mat-icon fontIcon="part-flag"></mat-icon>
      Flag this market
    </button>
  </mat-dialog-actions>

</ng-container>


<ng-template #flaggedMarketView>

  <mat-dialog-content class="--muted">
    <div class="row">
      <div class="image">
        <img class="illustration" src="./assets/app-market/illustrations/market-governance.svg" alt="Vote on this Market">
      </div>
      <div class="text">
        <p class="lead" *ngIf="+voteCastId < 0">
          Do you really want to flag this Market?
        </p>
        <p class="lead" *ngIf="+voteCastId >= 0">
          <span *ngIf="+voteCastId === +voteRemoveId">You already voted to take this Market down</span>
          <span *ngIf="+voteCastId === +voteKeepId">You already voted to keep this Market online</span>
        </p>
        <p class="help-text">
          Somebody already flagged this Market as inappropriate. You can vote to take it down or keep it online.
        </p>
        <p class="help-text">
          Your vote is proportional to the amount of PART coins you own.
        </p>
      </div>

    </div>
  </mat-dialog-content>


  <mat-dialog-actions>

    <div class="left">
      <button mat-button mat-dialog-close>
        <mat-icon fontIcon="part-cross"></mat-icon>
        Cancel
      </button>
    </div>

    <div class="right">
      <button mat-raised-button color="primary" *ngIf="(voteCastId === -1) || (voteCastId === voteRemoveId)" appDebounceClick (debounceClick)="doAction(GovernanceActions.VOTE_KEEP)">
        <mat-icon fontIcon="part-thumb-up"></mat-icon>
        Keep Market
      </button>
      <button mat-raised-button color="warn" *ngIf="(voteCastId === -1) || (voteCastId === voteKeepId)" appDebounceClick (debounceClick)="doAction(GovernanceActions.VOTE_REMOVE)">
        <mat-icon fontIcon="part-thumb-down"></mat-icon>
        Remove Market
      </button>
    </div>

  </mat-dialog-actions>

</ng-template>
