@import './src/assets/_config'; // import shared colors etc.
@import './src/app/modals/_confirmations-shared'; // shared stuff for confirmation modals
@import './src/app/wallet/shared/_filter-sorting'; // filtering & sorting
@import './src/app/market/_lists-shared';
@import './src/app/market/_order'; // order styles


.mat-stepper-horizontal {
  margin: -16px -24px 0;
}


.mat-card {
  text-align: center;
  margin: 14px auto 12px;
  width: 400px;
  position: relative;
  header {
    .title {
      img.coin {
        position: relative;
        top: 5px;
        margin: 0 2px 0 4px;
      }
    }
    .widget-help {
      margin-bottom: 20px;
    }
  }
  // Loading bar in card (getting exchange bot info)
  .mat-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5px;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }
}

.option.mat-radio-button { // radio group option (with hover effect and all)
  @extend %tfx;
  padding: 0 24px;
  text-align: left;
  line-height: 1.8;
  &:hover,
  &:focus {
    background: $bg;
  }
  .mat-radio-label {
    padding: 10px 24px;
  }
}


// ---- Step 1: Currency ---- //

.amount-to-receive {
  .text {
    text-align: right;
  }
  .part-amount {
    text-align: left;
    .mat-form-field {
      width: 100px;
    }
  }
}

.select-currency {
  margin: 6px -24px 0;
  .option {
    img.coin {
      float: left;
      width: 30px;
      height: 30px;
      margin: 7px 12px 7px 6px;
    }
    .name {
      display: inline-block;
      padding: 8px 0;
      font-size: 125%;
      font-weight: 600;
    }
    .desc {
      @extend %lighter;
      display: inline-block;
      margin-left: 6px;
    }
  }
}


// ---- Step 2: Exchange ---- //

$spinner-size: 16px;

table.amounts-overview {
  width: 100%;
  font-size: 115%;
  line-height: 1.4;
  th {
    width: 50%;
    text-align: right;
    padding: 2px 10px 0 0;
  }
  td {
    text-align: left;
  }
  .mat-progress-spinner {
    display: inline-block;
    position: relative;
    top: 3px;
  }
  img.coin {
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
    margin: 0 1px 0 3px;
  }
}

.bot-offers {
  margin: 6px -24px 0;
  .option {
    img.image {
      float: left;
      width: 50px;
      height: 50px;
      margin: 7px 6px;
      border-radius: 50%;
      overflow: hidden;
    }
    .text {
      margin-left: 68px;
      padding: 13px 24px 12px 0;
      line-height: 1.45;
    }
    .name {
      font-size: 115%;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .desc {
      @extend %lighter;
      display: inline-block;
      font-size: 95%;
    }
    .rate {
      @extend %lighter;
      display: inline-block;
      margin-left: 6px;
      font-size: 95%;
      font-weight: 400;
    }
  }
}


// ---- Step 3: Pay ---- //

.receiver-info {
  qrcode {
    display: inline-block;
    margin: 0 auto;
  }
  .address {
    @extend %enable-select;
    margin: 24px 0 12px;
  }
}


// ---- Step 4-5: Status, Summary ---- //

table.exchange-details {
  th {
    @extend %lighter;
    width: 23%;
    padding-right: 12px;
    font-weight: 500;
    text-align: right;
    vertical-align: middle;
  }
  input.value {
    width: calc(100% - 12px);
    padding: 3px 6px;
    border-radius: $radius;
    outline: none;
    font-family: $font;
    &.highlight {
      font-weight: 500;
    }
    &:focus {
      background: $bg;
    }
  }
}

.mat-card {
  &.wider {
    width: 700px;
  }
  .mat-divider {
    @extend %lighter;
    margin: 8px -24px;
    position: static;
    width: auto;
  }
  p.info {
    margin: 18px -24px;
    .mat-spinner {
      display: inline-block;
      position: relative;
      top: 3px;
      margin-right: 6px;
    }
  }
}
