<mat-horizontal-stepper [@.disabled]="true" class="no-bg container-block" #stepper>
  <!-- Overwrite default Stepper icons: https://material.angular.io/components/stepper/overview#overriding-icons -->
  <ng-template matStepperIcon="edit">
    <custom-icon>
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-check"></mat-icon>
    </custom-icon>
  </ng-template>
  <ng-template matStepperIcon="done">
    <custom-icon>
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-pen-1"></mat-icon>
    </custom-icon>
  </ng-template>


  <!-- =========== YOUR CART =========== -->

  <mat-step [completed]="stepper.selectedIndex >= 1" [stepControl]="cartFormGroup">
    <form [formGroup]="cartFormGroup" class="cart">
      <ng-template matStepLabel>Your cart</ng-template>

      <div class="no-results" [hidden]="cart?.shoppingCartItems.length != 0">
        <p>
          Oh no, your cart is empty! Let's fix this:<br>
          <button mat-button (click)="goToListings()">
            <mat-icon class="icon" fontSet="partIcon" fontIcon="part-search"></mat-icon>
            Browse listings for sale
          </button>
        </p>
      </div>

      <div [hidden]="cart?.countOfItems === 0">
        <table class="cart-items">

          <thead>
          <!-- @TODO if quantity required then add this label before total  -->
          <!-- <th>Quantity</th> -->
          <tr>
            <th>Items</th>
            <th>Price</th>
            <th *ngIf="listCache?.selectedCountry">Shipping Price</th>
            <th class="text-right">Total</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <!-- TODO: make component -->
          <tr *ngFor="let listing of cart?.listings"
              [ngClass]="{expired: checkExpired(listing)}">
            <td class="item" fxLayout="row" fxLayoutGap="10px" fxLayoutAling="start center"
                (click)="openListing(listing)">
              <div class="image" fxFlex="0 0 75px">
                <img src="{{listing.imageCollection?.featuredImage?.thumbnail}}">
              </div>
              <div class="info" fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="center start">
                <div class="title">
                  {{listing.title}}
                </div>
                <!-- errors, e.g. expired items in cart -->
                <div class="error message" *ngIf="listing.errorMessage">
                  <mat-icon fontSet="partIcon" fontIcon="part-alert"></mat-icon>
                  {{listing.errorMessage}}
                </div>
                <!-- expires soon warning -->
                <div class="warning message" *ngIf="listing.isAboutToExpire">
                  <mat-icon fontSet="partIcon" fontIcon="part-circle-alert"></mat-icon>
                  Listing expires in {{listing.expireIn}}
                </div>
                <div class="category" *ngIf="!listing.errorMessage && !listing?.isAboutToExpire">
                  {{listing.category.name}}
                </div>
              </div>
            </td>
            <td class="price cell">
              {{listing.basePrice?.getIntegerPart()}}{{listing.basePrice?.dot()}}<small>{{listing.basePrice?.getFractionalPart()}}</small>
              PART
            </td>
            <td *ngIf="listCache?.selectedCountry" class="price cell">
              {{ listing.shippingAmount(listCache?.selectedCountry?.iso)?.getIntegerPart()}}{{listing.shippingAmount(listCache?.selectedCountry?.iso)?.dot()}}<small>{{listing.shippingAmount(listCache?.selectedCountry?.iso)?.getFractionalPart()}}</small>
              PART
            </td>
            <!--<td class="quantity cell">1 &times;</td>-->

            <!-- @TODO if quantity required then we can uncomment the code   -->
            <!--  <td class="quantity cell to-do">
               <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                 <button mat-button class="small">-</button>
                 <mat-form-field class="auto-width">
                   <input matInput type="number" value="1" min="1" formControlName="firstCtrl">
                 </mat-form-field>
                 <button mat-button class="small">+</button>
               </div>
             </td> -->
            <td *ngIf="!listCache?.selectedCountry" class="total cell">
              {{listing.basePrice?.getIntegerPart()}}{{listing.basePrice?.dot()}}<small>{{listing.basePrice?.getFractionalPart()}}</small>
              PART
            </td>
            <td *ngIf="listCache?.selectedCountry" class="total cell">
              {{ listing.total(listCache?.selectedCountry?.iso)?.getIntegerPart()}}{{listing.total(listCache?.selectedCountry?.iso)?.dot()}}<small>{{listing.total(listCache?.selectedCountry?.iso)?.getFractionalPart()}}</small>
              PART
            </td>
            <td class="remove">
              <button mat-button color="warn" class="small" matTooltip="Remove from cart" matTooltipPosition="above"
                      (click)="removeFromCart(listing?.id)">
                <mat-icon class="icon" fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="order-detail"
             fxLayout fxLayoutAlign="space-between start">
          <div class="subtotal-notice" fxFlex="0 1 500px">
            {{ listCache?.selectedCountry ? (
              "Subtotal doesn't include escrow costs. You can review these in the summary before placing your order."
            ) : (
              "Subtotal doesn't include shipping and escrow costs. You can review these in the summary before placing your order."
            )}}
          </div>
          <table class="subtotals" fxFlex="0 0 250px">
            <tr>
              <td class="desc total">Subtotal</td>
              <td *ngIf="!listCache?.selectedCountry" class="value total">
                {{cart?.subTotal.amount}} PART
              </td>
              <td *ngIf="listCache?.selectedCountry" class="value total">
                {{cart?.getSubTotalWithShippingTotal(listCache?.selectedCountry?.iso)?.amount}} PART
              </td>
            </tr>
            <!--tr><td class="desc to-do">Shipping total</td><td class="value">2.<small>153</small> PART</td></tr>
            <tr><td class="desc to-do">Escrow (?)</td><td class="value">170 PART</td></tr>
            <tr><td class="desc total to-do">Total</td><td class="value total">342.<small>153</small> PART</td></tr-->
          </table>
        </div><!-- .order-detail -->

        <div class="action-buttons" fxLayoutAlign="space-between center" fxLayoutGap="8px">
          <button mat-button (click)="clearCart()">
            <mat-icon class="icon" fontSet="partIcon" fontIcon="part-clear-all"></mat-icon>
            Clear cart
          </button>
          <button mat-raised-button color="primary" matStepperNext [disabled]="!cartFormGroup.valid">
            <mat-icon class="icon" fontSet="partIcon" fontIcon="part-next-single"></mat-icon>
            Continue to shipping
          </button>
        </div>
      </div>
    </form>
  </mat-step>

  <!-- =========== SHIPPING DETAILS =========== -->
  <mat-step [completed]="cache.selectedIndex >=2" [stepControl]="shippingFormGroup" [disabled]="!cartFormGroup.valid">

    <form [formGroup]="shippingFormGroup" class="shipping">
      <ng-template matStepLabel>Shipping details</ng-template>
      <div fxLayout="row" fxLayoutGap="30px">

        <!--Hide shipping profile -->
        <div class="shipping-profile" fxFlex>
          <mat-card>
            <div class="title">Choose shipping profile</div>
            <mat-form-field class="full-width">
              <mat-select matNativeControl [(value)]="selectedAddress" [(ngModel)]="selectedAddress" name="selectedAddress"  [ngModelOptions]="{standalone: true}"
                          (selectionChange)="select(selectedAddress)"
                          placeholder="Select saved shipping address profile"
                          [disabled]="!profile?.shippingAddresses || profile?.shippingAddresses.length === 0">
                <mat-option *ngFor="let address of profile?.shippingAddresses"
                            [value]="address" >
                  {{address.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p class="widget-help">
              To save time, you can save your frequently used shipping addresses as your personal shipping profiles. You can create as many profiles as you need (e.g. home address, office address, etc.).
              <br><br>
              To create a new shipping profile, fill out the form on the right and check "Save shipping profile".
            </p>
            <button mat-button color="basic" class="small" [disabled]="!profile?.shippingAddresses || profile?.shippingAddresses.length === 0 || (!selectedAddress?.id)" (click)="clearForm()" matTooltip="When you want to enter shipping details manually instead">
              <mat-icon class="icon" fontSet="partIcon" fontIcon="part-refresh"></mat-icon>
              Unselect Shipping profile
            </button>
          </mat-card>
        </div>
        <!-- .shipping-profile -->


        <div class="shipping-info" fxFlex>
          <mat-card>
            <div class="title">Enter shipping address</div>
            <div class="row" fxLayout fxLayoutGap="30px">
              <!-- FIXME: First and Last name should be required as well (waiting for dapp shell integration) -->
              <mat-form-field class="full-width" fxFlex>
                <input matInput formControlName="firstName" placeholder="First name">
              </mat-form-field>
              <mat-form-field class="full-width" fxFlex>
                <input matInput formControlName="lastName" placeholder="Last name">
              </mat-form-field>
            </div>
            <mat-form-field class="full-width">
              <input matInput formControlName="addressLine1" placeholder="Address line 1">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput formControlName="addressLine2" placeholder="Address line 2">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput formControlName="city" placeholder="City">
            </mat-form-field>
            <div class="row" fxLayout fxLayoutGap="30px">
              <mat-form-field class="full-width" fxFlex>
                <input matInput formControlName="zipCode" placeholder="ZIP / Postal code">
              </mat-form-field>
              <mat-form-field class="full-width" fxFlex>
                <input matInput formControlName="state" placeholder="State">
              </mat-form-field>
            </div>

            <!-- <mat-form-field class="full-width">
              <mat-select formControlName="country" placeholder="Country">
                <mat-option *ngFor="let country of countryList.getList()" value="{{country.iso}}">{{country.name}}
                </mat-option>
              </mat-select>
            </mat-form-field> -->

            <!-- mat-select-search -->
            <mat-select-search
              [options]= "countryList.getList()"
              [showValueOf]="'name'"
              [placeHolder]="'Select Country'"
              [isRequired]="'true'"
              [defaultSelectedValue]="selectedCountry"
              [isLexigraphicalOrder]="true"
              (onChange)="onCountryChange($event)">
            </mat-select-search>
            <!-- mat-select-search -->

            <!--Hide shipping profile -->
            <div class="sub-section" fxLayout fxLayoutGap="30px" fxLayoutAlign="center center">
              <mat-checkbox formControlName="newShipping" fxFlex>{{ selectedAddress?.id ? 'Update' : 'Save' }} shipping profile
              </mat-checkbox>
              <mat-form-field class="full-width" fxFlex>
                <input matInput formControlName="title" placeholder="Shipping profile name">
              </mat-form-field>
            </div>

          </mat-card>
        </div><!-- .shipping-info -->

      </div>

      <div class="action-buttons" fxLayoutAlign="space-between center" fxLayoutGap="8px">
        <button mat-button matStepperPrevious>
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-previous-single"></mat-icon>
          Back to cart
        </button>
        <button mat-raised-button color="primary" [disabled]="!shippingFormGroup.valid" matStepperNext (click)="moveToConfirmation()">
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-next-single"></mat-icon>
          Continue to confirmation
        </button>
      </div>
    </form>
  </mat-step>


  <!-- =========== CONFIRM & PLACE ORDER =========== -->

  <mat-step [stepControl]="confirmation" [disabled]="!shippingFormGroup.valid">
    <form class="confirmation">
      <ng-template matStepLabel>Confirm & Place order</ng-template>
      <table class="cart-items summary">
        <thead>
        <tr>
          <th>Items</th>
          <th>Price</th>
          <th>Shipping</th><!--<th>Quantity</th>-->
          <th class="text-right">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let listing of cart?.listings">
          <td class="item" fxLayout="row" fxLayoutGap="10px" fxLayoutAling="start center"
              (click)="openListing(listing)">
            <div class="image" fxFlex="0 0 75px">
              <img src="{{listing.imageCollection?.featuredImage?.thumbnail}}">
            </div>
            <div class="info" fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="center start">
              <div class="title">
                {{listing.title}}
              </div>
              <div class="category">
                {{listing.category.name}}
              </div>
            </div>
          </td>
          <td class="price cell">
            {{listing.basePrice?.getIntegerPart()}}{{listing.basePrice?.dot()}}<small>{{listing.basePrice?.getFractionalPart()}}</small>
            PART
          </td>
          <td class="shipping cell">{{listing?.shippingAmount(country)?.getIntegerPart()}}{{listing?.shippingAmount(country)?.dot()}}<small>{{listing?.shippingAmount(country)?.getFractionalPart()}}</small>
            PART
          </td>
          <!--<td class="quantity cell">1 &times;</td>-->
          <td class="total cell">{{listing?.total(country)?.getIntegerPart()}}{{listing?.total(country)?.dot()}}<small>{{listing?.total(country)?.getFractionalPart()}}</small>
            PART
          </td>
        </tr>
        </tbody>
      </table>

      <div class="order-detail" fxLayout fxLayoutAlign="space-between start" fxLayoutGap="35px">
        <div class="shipping-overview" fxFlex="1 1 100%">
          <div class="title">Shipping address</div>
          <app-shipping-address [shippingAddress]="shippingFormGroup.value"></app-shipping-address>
        </div>
        <table class="subtotals" fxFlex="0 0 250px">
          <tr>
            <td class="desc">Subtotal</td>
            <td class="value">{{cart?.subTotal.getAmountAsString()}} PART</td>
          </tr>
          <tr>
            <td class="desc">Shipping total</td>
            <td class="value">{{cart?.getShippingTotal(country).getAmountAsString()}} PART</td>
          </tr>
          <tr>
            <td class="desc">Escrow</td>
            <td class="value">{{cart?.getEscrowTotal(country).getAmountAsString()}} PART</td>
          </tr>
          <tr>
            <td class="desc total">Total</td>
            <td class="value total">{{cart?.getTotal(country).getAmountAsString()}} PART</td>
          </tr>
        </table>

      </div><!-- .order-detail -->

      <div class="action-buttons" fxLayoutAlign="space-between center" fxLayoutGap="8px">
        <button mat-button matStepperPrevious (click)="backToShippingDetails()">
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-previous-single"></mat-icon>
          Back to shipping
        </button>
        <button mat-raised-button color="primary" (click)="placeOrderModal()"><!-- placeOrder() moved to the modal -->
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-next-single"></mat-icon>
          Place order
        </button>
      </div>
    </form>
  </mat-step>


</mat-horizontal-stepper>
