@import './src/assets/_config'; // import shared colors etc.
@import './src/app/market/_order'; // order styles
@import './src/app/wallet/shared/_filter-sorting'; // filtering & sorting

// ------ UI ELEMENTS ------ //

table {
  width: 100%;
  border-collapse: collapse;
  thead {
    th {
      text-align: left;
      text-transform: uppercase;
      font-weight: normal;
      color: $text-muted;
      font-size: 11px;
      padding-bottom: 12px;
    }
  }
}

.mat-card { // @ Shipping step
  & > .title { // TODO: replace with %placeholders when Settings is merged
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    margin: -4px 0 16px !important;
  }
}

custom-icon { // overwrite of Material Stepper's step icons
  .mat-icon {
    font-size: 13px;
    line-height: 1.6;
    text-align: center;
  }
}


// ------ LAYOUT ------ //

.container-block {
  padding: 15px 15px 0;
  .no-results {
    margin-top: 16px;
  }
}

.sub-section { // lower-priority content in cards
  background: mix($color-white, $bg);
  border-top: 1px dashed darken($bg, 7%);
  margin: 24px -24px -24px !important;
  padding: 12px 24px;
}

table.cart-items {
  margin-top: 16px;
  border-bottom: 1px solid lighten($bg-shadow, 7%);
  thead th {
    &.text-right {
      text-align: right;
    }
  }
  tbody {
    background: $color-white;
    td {
      border-top: 1px solid lighten($bg-shadow, 7%);
    }
  }
  .cell {
    padding-right: 25px;
    min-width: 90px;
    color: $text-muted;
  }
  .image {
    padding: 14px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .info {
    padding-right: 30px;
    .title {
      font-weight: 500;
      font-size: 14px;
    }
    .category {
      margin-top: 5px;
      font-size: 11px;
      color: $text-muted;
    }
  }
  .quantity {
    min-width: 30px;
    max-width: 30px;
  }
  .total {
    min-width: 90px;
    padding-right: 0;
    text-align: right;
  }
  .remove {
    padding: 14px;
    min-width: 20px;
    max-width: 20px;
  }
}

.order-detail { // subtotals & more below the cart table
  background: mix($color-white, $bg);
  border-bottom: 1px solid $bg-shadow;
  color: $text-muted;
  line-height: 1.8;
  padding: 24px 30px;
  .title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    color: $text;
  }
  .shipping-overview {
    p {
      margin: 6px 0 0;
    }
  }
  table.subtotals {
    .value {
      text-align: right;
    }
    .total {
      color: $text;
      font-weight: 500;
    }
  }
}

.action-buttons {
  margin: 36px 5px 20px;
}


// ------ SHIPPING ------ //

.shipping {
  margin-top: 16px;
}


// ------ SUMMARY (Confirmation & Payment) ------ //

table.summary {
  border-collapse: collapse;
  thead th,
  .total {
    padding-right: 25px;
  }
}

.exItems {
  background-color: red; 
}

