@import './src/assets/_config'; // import shared colors etc.


.console-modal {
  width: auto;
  margin: -14px -24px -24px;
  padding: 0;
  app-page-intro {
    padding: var(--paddingV) var(--paddingH) 0;
    display: block;
  }

  // command input & button
  .command-actions {
    padding: 1px 16px 1px 4px;
    border-top: 1px solid var(--bg-muted);
    .command-input {
      font-family: var(--font-mono) !important;
    }
  }
}

.warn-text {
  color: var(--color-alert);
}

.console-modal-form {
  height: 70vh;
  width: 950px;
  font-family: var(--font);
  overflow-y: scroll;
  background: var(--bg);
}

.content-modal {
  @extend %enable-select;
  max-height: none !important;
  margin: 0 var(--paddingH) 32px;
  padding: 16px 20px;
  background: var(--color-white);
  border-bottom: 1px solid var(--bg-muted);
  box-shadow: 0 1px 10px hsla(var(--bg-muted-hsl), 0.6);
  border-radius: var(--radius);
  font-size: 11px;
  // user input commands
  &.input {
    margin-bottom: 0;
    border-bottom: none;
    font-size: 15px;
    background: none;
    box-shadow: none;
    padding: 0 0 10px;
    .time {
      font-family: var(--font-mono);
      font-size: 12px;
      color: var(--text-muted);
      text-align: right;
    }
    .command {
      font-weight: 500;
    }
  }
}

.text-format {
  line-height: 1.3;
  white-space: pre-wrap; // wrap long output lines
  margin: 0;
}
