@import './src/assets/_config'; // import shared colors etc.

.page-intro {
  //@extend %tfx;
  @include gradient(rgba($color-white, 0.7), $bg);
  margin: (-$padding) (-$padding) 0;
  padding: $padding;
  @include break(l) {
    margin: (-$padding-l) (-$padding-l) 0;
    padding: $padding-l;
  }

  // collapsed (hidden) state styles
  &.collapsed {
    padding: ($padding - 10px) $padding;
    @include break(l) {
      padding: ($padding-l - 10px) $padding-l;
    }
    h1 {
      font-size: 1.55em;
    }
  }

  // toggle button
  .intro-toggle {
    @extend %tfx;
    float: right;
    margin-right: -12px;
    opacity: 0.5;
    &:hover,
    &:focus {
      opacity: 1;
    }
    .mat-icon {
      margin: 0;
    }
  }

  // page heading (always visible)
  h1 {
    //@extend %tfx;
    margin: 0;
  }

  // content with help text (toggle-able)
  .content {
    margin-top: 16px;
    &.hide-info {
      display: none;
    }
    p {
      line-height: 1.5;
    }
  }
  .widget-help {
    margin-bottom: 0;
  }
}
