<div class="page-intro" [ngClass]="{ 'collapsed': !this.showPageContent }">
  
  <button mat-button *ngIf="this.showPageContent && hasPageContent" color="basic" class="intro-toggle small" (click)="toggleInfo()" matTooltip="Hide help" matTooltipPosition="before">
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
  </button>

  <button mat-button *ngIf="!this.showPageContent && hasPageContent" color="accent" class="intro-toggle small" (click)="toggleInfo()" matTooltip="Show help" matTooltipPosition="before">
    <mat-icon fontSet="partIcon" fontIcon="part-circle-question"></mat-icon>
  </button>

  <h1><ng-content select="[page-title]"></ng-content></h1>
  <div class="content" #pageContent>
    <p><ng-content select="[page-content]"></ng-content></p>
    <p class="info" #pageInfo>
      <ng-content select="[page-info]"></ng-content>
    </p>
    <p class="widget-help">
      <ng-content select="[page-help]"></ng-content>
    </p>
  </div>
</div> <!-- .page-intro -->