@import "./src/assets/_config"; // import shared colors etc.

/* ------------------------------- *\
    UI Elements
\* ------------------------------- */


// ------ DIVIDER ------ //

.mat-divider { // section divider
  border-bottom: 1px solid #333;
  border-top: 1px solid #15191A;
}


// ------ SUBMENUS (Accordion) ------ //

.mat-expansion-panel {
  border-bottom: 1px solid #15191A;
  box-shadow: 0 1px 0 #333 !important;
  background: $bg-black;
  .mat-expansion-indicator::after {
    color: $text-muted;
  }
  // when expanded..
  &.mat-expanded {
    .mat-expansion-indicator::after {
      color: $color;
    }
  }
  // submenu toggle
  .mat-expansion-panel-header {
    font-family: $font;
    font-size: 11.5px;
    color: #646869;
    text-transform: uppercase;
    padding: 0 24px 0 38px;
  }
  // accordion menu
  .mat-expansion-panel-body {
    // (not working) padding: 0;
    margin: 0 -24px;
  }
}
/*
.mat-expansion-indicator::after { // arrow
  color: $color;
}
*/

// ------ MENU ITEM (Single) ------ //

.mat-list {
  .mat-list-item { 
    padding: 0 24px;
    &:hover {
      background: darken($bg-black, 1.5%);
      .mat-icon {
        color: lighten(#4B4A4F, 10%);
      }
    }
    .mat-list-item-content {
      height: auto !important;
    }
  }
  .mat-icon { // all icons in menu
    margin: 8px 10px 0 0;
    color: #4B4A4F;
  }
  .menu-item { // menu-item (name only)
    font-family: $font;
    font-size: 11.5px;
    font-weight: 600;
    color: white;
  }
}

// FIXME: coloring of active item's icon isn't working
.active > md-list-item > div > md-icon {
  color: $color !important;
}


/* ------------------------------- *\
    LAYOUT
\* ------------------------------- */

// ------ SIDEBAR ------ //

.sidebar { // AKA .mat-sidenav
  @extend %disable-select;
  width: 250px;
  background-color: $bg-black;
  color: white;
  .mat-toolbar {
    background: transparent;
  }

  .logo {
    display: block;
    background: url("../../../assets/particl-logo.svg") no-repeat 0 0;
    background-size: 144px 60px;
    height: 60px;
    width: 144px;
    margin: 30px auto;
  }

  // submenu content
  .sidesubmenu {
    padding-top: 0;
    a {
      text-decoration: none;
      outline: none;
    }
    .mat-list-item-content {
      text-transform: uppercase;
      min-height: 40px;
    }
    // daemon/wallet error messages
    &.error {
      .mat-list-item:hover {
        background: none;
        .mat-icon {
          color: $color-alert;
        }
      }
      .mat-list-item-content {
        color: white;
        font-size: 11px;
        padding: 24px 16px;
      }
      .mat-icon {
        color: $color-alert;
        margin: 0 14px 0 0;
      }
    }
  }

  // widgets stuck to the bottom (sidebar's footer)
  .pin-to-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

}


// ------ SYNC PROGRESS BAR ------ //

.sync-bar {
  .mat-progress-bar-buffer {
    background: lighten($bg-black, 15%);
  }
  .mat-progress-bar-fill::after {
    background-color: $color;
  }
}
.sync-progress {
  padding: 0 20px;
}
