@import "./src/assets/_config"; // import shared colors etc.

/* ------------------------------- *\
    UI Elements
\* ------------------------------- */


// ------ DIVIDER ------ //

.mat-divider { // section divider
  border-bottom: 1px solid lighten($bg-black, 5%);
  border-top: 1px solid darken($bg-black, 5%);
}


// ------ SECTIONS & ITEM GROUPS ------ //

.sidebar-section {
  .sidebar-item-group {
    padding-top: 0;
  }
}


// ------ SUBMENUS (Accordion) ------ //

.mat-expansion-panel {
  border-bottom: 1px solid darken($bg-black, 5%);
  box-shadow: 0 1px 0 lighten($bg-black, 5%) !important;
  background: $bg-black;
  margin: 8px 0 0 !important;
  // submenu toggle
  .mat-expansion-panel-header {
    @extend %tfx;
    font-family: $font;
    font-size: 11.5px;
    color: lighten($text-muted, 5%);
    text-transform: uppercase;
    min-height: 32px !important;
    max-height: 32px !important;
    padding: 0 32px;
    &:hover {
      color: lighten($text-muted, 20%);
    }
  }
}


// ------ MENU ITEM (Single) ------ //

.sidebar-item {
  @extend %tfx;
  padding: 0 24px;
  .icon {
    @extend %tfx;
    margin: 0 16px 0 0;
    color: lighten($bg-black, 15%);
  }
  .text {
    font-family: $font;
    font-size: 11.5px;
    font-weight: 600;
    color: white;
  }
  .tag {
    @extend %tag;
    background: lighten($bg-black, 15%);;
    margin-left: auto;
    font-size: 70%;
  }
  &:hover {
    background: darken($bg-black, 1.5%);
    .icon {
      color: lighten($bg-black, 30%);
    }
    .tag {
      background-color: lighten($bg-black, 20%);
    }
  }
}

a.sidebar-item-link {
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  &.active .sidebar-item {
    .icon { // highlight active menu item
      color: $color !important;
    }
    .tag {
      //background: $color !important;
    }
  }
}



// ------ ERROR & INFO MESSAGES ------ //

.notification {
  margin-bottom: 6px;
  .sidebar-item {
    margin: 4px 0;
    .icon {
      margin: 0 14px 0 0;
    }
    .text {
      color: white;
      font-size: 11px;
      line-height: 1.5;
      padding: 0;
      display: inline-block;
    }
    &:hover {
      background: none;
    }
  }
  &.error {
    .icon,
    &:hover .icon {
      color: $color-alert;
    }
  }
  &.info {
    .icon,
    &:hover .icon {
      color: $color-info;
    }
  }
}

/* ------------------------------- *\
    LAYOUT
\* ------------------------------- */

// ------ SIDEBAR ------ //

.sidebar { // AKA .mat-sidenav
  @extend %disable-select;
  width: $sidebar-width;
  background-color: $bg-black;
  color: white;

  .logo {
    display: block;
    height: 50px;
    width: 130px;
    margin: 35px auto;
    img {
      width: 100%;
    }
  }

  // widgets stuck to the bottom (sidebar's footer)
  .pin-to-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    // Versions
    .client-version {
      @extend %enable-select;
      padding: 0 24px;
      display: block;
      font-size: 11px;
      line-height: 1.6;
      color: $text-muted;
      .version {
        color: lighten($text-muted, 15%);
        margin-left: 2px;
      }
    }

  }

}


// ------ SYNC PROGRESS BAR ------ //

.sync-bar {
  .mat-progress-bar-fill::after {
    background-color: $color;
  }
}
.sync-progress {
  padding: 0 20px;
}


/* ----------------------------------- *\
    Page header (with status icons)
\* ----------------------------------- */

.header-main {
  @extend %disable-select;
  border-bottom: 1px solid $bg-shadow;
  background: #fff;
  width: calc(100% - #{$sidebar-width} - #{$scrollbar-width});
  padding-left: 35px;
  padding-right: 26px;
  font-family: $font;
  font-size: 15px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: $sidebar-width;
  right: 0;
  z-index: 100;
  @include break(l) {
    padding: 0 calc(50px - #{$scrollbar-width}) 0 50px;
  }
  .title {
    font-weight: 700;
  }
  .right {
    text-align: right;
  }
}
