@import './src/assets/_config'; // import shared colors etc.

/* -------------- FILTER SIDEBAR -------------- */

.row {
  display: flex;
  .filter {
    top: calc(var(--header-main-height) + var(--paddingV) + 1px);
    align-self: flex-start; // needed for position:sticky
    height: auto;
    margin-right: 35px;
    .clear-seller-filter {
      padding: 6px 12px;
      width: 100%;
    }
    // Filter buttons at the bottom
    .filter-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .filter-button {
        line-height: 36px;
        &.refresh {
          position: relative;
          &.new-listings-available { // when new ones are available
            .dot { // notification dot
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background: var(--color-primary);
              position: absolute;
              bottom: 10px;
              right: 23px;
              &::before {
                content: "";
                display: block;
                width: 6px;
                height: 6px;
                border: 2px solid hsla(var(--color-primary-hsl), 0.4);
                border-radius: 50%;
                position: relative;
                top: -2px;
                left: -2px;
                animation: dot-pulse infinite 1.2s;
              }
            }
          }
        }
        &.flagged {
          .mat-icon {
            margin: 0;
          }
        }
      }
    }
  }
}

.mat-option {
  img.image { // photos in Market switcher
    --size: 24px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: relative;
    top: 7px;
    margin-right: 4px;
  }
}

@keyframes dot-pulse {
  0% {
    transform: scale(0.8);
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: scale(1.45);
    opacity: 0;
  }
}


/* -------------- CONTENT AREA / LAYOUT -------------- */

.container-block {
  --grid-columns: 3;
  --grid-gutter: 3%;
  @include break(l) {
    --grid-columns: 4;
  }
  @include break-from(1700px) {
    --grid-columns: 5;
    --grid-gutter: 1.75%;
  }
  @include break-from(2000px) {
    --grid-columns: 6;
  }
  @include break-from(2300px) {
    --grid-columns: 7;
    --grid-gutter: 2%;
  }
}

.grid-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin: 0 calc(-1 * var(--grid-gutter)) 0 0;
  width: calc(100% + var(--grid-gutter));
  .no-results {
    width: 100%;
    margin-right: var(--grid-gutter);
  }
}


/* -------------- LISTING ITEM -------------- */

mat-card.listing {
  --card-padding: 16px;
  // container width / no. of columns - (grid gutter + card's side padding):
  flex: 0 0 calc((100% / var(--grid-columns) - var(--grid-gutter)) - 2 * var(--card-padding));
  padding: var(--card-padding);
  margin: 0 var(--grid-gutter) var(--grid-gutter) 0;
  border-radius: 0;
  .mat-card-image {
    height: 0;
    overflow: hidden;
    padding-top: calc(100% + 32px); // locking 1:1 aspect ratio + offsetting side paddings for a perfect square
    margin: calc(-1 * var(--card-padding)) calc(-1 * var(--card-padding)) 0;
    position: relative;
    cursor: pointer;
    .img {
      position: absolute; // fill in available space (= square container)
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; // let image cover its container..
      object-position: center; // ..and center it
    }
  }
  .mat-card-header {
    display: block;
    height: 77px;
    padding-top: var(--card-padding);
    cursor: pointer;
    .mat-card-title,
    .mat-card-subtitle {
      line-height: 1.35;
      margin: 0 0 8px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .mat-card-title {
      font-size: 15px;
    }
    .mat-card-subtitle {
      font-size: 11.5px;
      color: var(--text-muted);
    }
  }
  .mat-card-actions {
    margin-bottom: calc(-1 * var(--card-padding));
    .mat-button {
      margin: 0;
      font-size: 13px;
      &.add-to-cart {
        &:hover,
        &:focus {
          .part-cart-plus {
            display: inline-block;
          }
          .part-cart {
            display: none;
          }
        }
        .part-cart-plus {
          display: none;
        }
      }
      &.more-options {
        .mat-icon {
          font-size: 13px;
          color: var(--text-muted);
        }
      }
      small {
        font-weight: 400;
      }
      .part-cryptocurrency-particl {
        font-size: 11px;
        position: relative;
        top: -1px;
        margin: 0 0 0 3px;
      }
    }
  }
}
