@import './src/assets/_config'; // import shared colors etc.


/* -------------- CONTROL BAR -------------- */

.control-bar {
  padding: 0 calc(var(--paddingH) - 16px); // offset inputs' side padding

  /*
  // Search
  .search-listings {
    //margin-bottom: -2px; // offset default border-bottom
  }
  */

  // Filter buttons
  .filter-buttons {
    flex: 0 1 150px;
    display: flex;
    padding-left: 8px;
    border-left: 1px solid var(--bg-muted);
    justify-content: flex-end;
    align-items: center;
    .filter-button {
      line-height: 36px;
      .mat-icon {
        margin: 0;
      }
      &.flagged {
        &.mat-button-toggle-checked {
          background: hsla(var(--color-info-hsl), 0.1);
          color: var(--color-info);
        }
      }
    }
  }

} // << .control-bar


/* -------------- CONTENT AREA / LAYOUT -------------- */

.container-block {
  --grid-columns: 4;
  --grid-gutter: 2%;
  @include break(l) {
    --grid-columns: 5;
  }
  @include break-from(1700px) {
    --grid-columns: 6;
    --grid-gutter: 1.75%;
  }
  @include break-from(2000px) {
    --grid-columns: 7;
  }
  @include break-from(2300px) {
    --grid-columns: 8;
    --grid-gutter: 1.5%;
  }
}

.grid-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin: 0 calc(-1 * var(--grid-gutter)) 0 0;
  width: calc(100% + var(--grid-gutter));
  .no-results {
    width: 100%;
    margin-right: var(--grid-gutter);
  }
}



/* -------------- LISTING ITEM -------------- */

mat-card.listing {
  --card-padding: 16px;
  // container width / no. of columns - (grid gutter + card's side padding):
  flex: 0 0 calc((100% / var(--grid-columns) - var(--grid-gutter)) - 2 * var(--card-padding));
  padding: var(--card-padding);
  margin: 0 var(--grid-gutter) 32px 0;
  border-radius: 0;
  .mat-card-image {
    height: 0;
    overflow: hidden;
    padding-top: calc(100% + 32px); // locking 1:1 aspect ratio + offsetting side paddings for a perfect square
    margin: calc(-1 * var(--card-padding)) calc(-1 * var(--card-padding)) 0;
    position: relative;
    cursor: pointer;
    .img {
      position: absolute; // fill in available space (= square container)
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; // let image cover its container..
      object-position: center; // ..and center it
    }
  }
  .mat-card-header {
    display: block;
    height: 77px;
    padding-top: var(--card-padding);
    cursor: pointer;
    .mat-card-title,
    .mat-card-subtitle {
      line-height: 1.35;
      margin: 0 0 8px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .mat-card-title {
      font-size: 15px;
    }
    .mat-card-subtitle {
      font-size: 11.5px;
      color: var(--text-muted);
    }
  }
  .mat-card-actions {
    margin-bottom: calc(-1 * var(--card-padding));
    .mat-button {
      margin: 0;
      font-size: 13px;
      &.add-to-cart {
        &:hover,
        &:focus {
          .part-cart-plus {
            display: inline-block;
          }
          .part-cart {
            display: none;
          }
        }
        .part-cart-plus {
          display: none;
        }
      }
      &.more-options {
        .mat-icon {
          font-size: 13px;
          color: var(--text-muted);
        }
      }
      small {
        font-weight: 400;
      }
      .part-cryptocurrency-particl {
        font-size: 11px;
        position: relative;
        top: -1px;
        margin: 0 0 0 3px;
      }
    }
  }
}
