@import './src/assets/_config'; // import shared colors etc.

.sidebar {
  background-color: var(--bg-black);

  // App bar
  multiwallet-sidebar {
    transform: translateX(calc(-1 * var(--multiwallet-width)));
    animation: slide-in 0.6s 1; // make it slide-in on launch
    animation-delay: 1s;
    animation-fill-mode: forwards; // stay on the last "frame"
  }

}

@keyframes slide-in {
  0% {
    transform: translateX(calc(-1 * var(--multiwallet-width)));
  }
  100% {
    transform: translateX(0);
  }
}
