@import './src/assets/_config'; // import shared colors etc.
@import './src/app/modals/_confirmations-shared'; // shared stuff for confirmation modals
@import './src/app/wallet/shared/_filter-sorting'; // filtering & sorting
@import './src/app/market/_lists-shared';
@import './src/app/market/_order'; // order styles


.tx-confirmation {
  text-align: center;
}

.receiver-info {
  qrcode {
    display: inline-block;
    margin: 0 auto 12px;
  }
  .address {
    @extend %enable-select;
  }
}

.exchange { // EX history item
  .header {
    $photo-size: 90px;
    min-height: $photo-size !important;
    max-height: $photo-size !important;
    padding: 0 24px 0 0;
    .photo {
      min-height: $photo-size;
      max-height: $photo-size;
    }
  }
  .name { // "X" was exchanged for "Y"
    .coin {
      position: relative;
      top: 3px;
      width: 16px;
      margin-right: 2px;
      & + .coin {
        margin-left: 6px;
      }
    }
  }
  button.exchange-status { // status message/refresh button
    display: inline-block;
    font-weight: 400;
    font-size: 100%;
    text-transform: uppercase;
    line-height: 1.6;
    border: 1px solid;
    border-radius: $radius;
    margin: 0 10px 0 0;
    padding: 1px 9px;
    .icon {
      position: relative;
      top: 0;
      font-size: 12px;
      margin-right: 2px;
    }
  }
  .loading-spinner {
    display: inline-block;
    position: relative;
    top: 4px;
    margin-right: 8px;
  }
  .bot-name {
    display: inline-block;
  }
  .detail { // expanded item details
    padding: 18px 30px;
    table.exchange-details {
      .direction-img { // "illustration" with coin and arrow
        vertical-align: middle;
        padding-right: 17px;
        width: 55px;
        img.coin {
          width: 26px;
          position: relative;
          top: 2px;
          margin-right: 5px;
        }
        .mat-icon {
          margin-right: 5px;
          position: relative;
          top: -2px;
        }
      }
      th {
        width: 25%;
        padding-right: 12px;
        font-weight: 500;
        vertical-align: middle;
      }
    }
    .exchange-actions {
      text-align: right;
    }
    input.value {
      width: calc(100% - 12px);
      padding: 3px 6px;
      border-radius: $radius;
      outline: none;
      font-family: $font;
      &.highlight {
        font-weight: 500;
      }
      &:focus {
        background: $bg;
      }
    }
    .mat-divider {
      margin: 16px -30px;
    }
  }
}

.rate {
  font-size: 10px;
}

.currencies {
  text-align: left;
  margin: 0 auto;
  max-width: 300px;
}

.offers {
  text-align: left;
  margin: 0 auto;
  max-width: 400px;
}

.exchange-loading-status {
  width: 100%;
  text-align: center;
}