@import './src/assets/_config'; // import shared colors etc.

/* --- ↓↓↓ --------- following code to become shared/orders-overview component --------- ↓↓↓ --- */



/* --- ↑↑↑ ----------- above code to become shared/orders-overview component ----------- ↑↑↑ --- */




/* --- ↓↓↓ --- following code to become shared/orders-overview/order-item component --- ↓↓↓ --- */

@import './src/app/main-market/shared/order+listing-list-item'; // import shared colors etc.

// ------ ORDER ITEM ------ //

.order {
  // --- Header ---
  .qty {
    color: var(--text-muted);
    font-weight: 400;
    margin-left: 6px;
  }
  .hash { // order hash-ID
    font-size: 90%;
    font-family: var(--font-mono);
    font-weight: 600;
    color: var(--color-white);
    line-height: 1.4;
    text-transform: uppercase;
    background: var(--text-muted);
    border-radius: 4px;
    display: inline-block;
    padding: 1px 8px;
    margin-right: 10px;
    &.id { // order sequence-ID
      margin: 0 -5px 0 0;
      background: var(--bg);
      color: var(--text-muted);
      padding: 1px 12px 1px 8px;
      font-weight: 400;
    }
  }
  .origin-market {
    display: inline-block;
  }
  // --- Content ---
  .status-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px;
    .text { // order no., status text
      .item-title {
        font-size: 20px;
        color: var(--text);
        font-weight: 500;
        margin: 0 0 12px;
      }
    }
    .order-info { // ID, order created/updated
      @extend %enable-select;
      text-align: right;
      margin: 0 0 0 30px;
      flex: 0 0 180px;
      font-size: 11px;
      line-height: 1.6;
    }
  }
  // --- Buttons ---
  .action-buttons {
    .single .mat-icon {
      margin: 0;
    }
  }
}


// ------ PROGRESS GRAPH ------ //

$dot-size: 11px;

%progress-dot { // progress step indicator "dot"
  width: $dot-size;
  height: $dot-size;
  border-radius: 50%;
  display: inline-block;
}

@mixin progress-line($color) { // "done" progress between two Order steps
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50.5%;
  width: 100%;
  height: 1px;
  display: block;
  background: $color;
  box-shadow: 0 0 1px 0 $color;
}

// Display progress (steps) of Order and in which stage it is
.progress-graph {
  margin: 4px 0 -11px;
  .step {
    text-align: center;
    // finished step
    &.done {
      position: relative;
      &::after { // draw the progress line to next step (which has to be either finished as well or active)
        @include progress-line(var(--color-primary));
      }
      .dot {
        background: var(--color-primary);
      }
    }
    // current, active step
    &.active {
      .dot {
        background: var(--color-primary);
        position: relative;
        &::before { // highlight current "dot" to indicate active step
          @extend %progress-dot;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          transform: scale(1.7);
          background: hsla(var(--color-primary-hsl), 0.35);
        }
      }
      .value {
        font-weight: 500;
      }
      &.completed { // when Order is done, no need to highlight "Completed" step anymore
        .dot {
          &::before {
            content: none;
          }
        }
      }
    }
    // upcoming steps
    &.upcoming {
      .value {
        color: var(--text-muted);
      }
    }
    // rejected bid scenario
    &.rejected {
      &.bidding {
        position: relative;
        &::after { // recolor the progress bar from "bid => rejected" to red
          @include progress-line(var(--color-alert));
        }
      }
      .dot { // recolor the "dot" to red as well, no need to indicate active step (as with Completed step)
        background: var(--color-alert);
      }
    }
    .value { // name of step
      font-size: 90%;
      margin-bottom: 2px;
    }
    .dot { // step indicator "dot"
      @extend %progress-dot;
      background: var(--bg-muted);
    }
  }
  & + .detail {
    padding: 30px 30px 24px;
  }
}


/* --- ↑↑↑ ----- above code to become shared/orders-overview/order-item component ----- ↑↑↑ --- */
