<div class="tab-bar">
  <mat-tab-group (selectedTabChange)="changeTab($event.index)" [selectedIndex]="selectedTab">
    <mat-tab *ngFor="let tab of tabs">
      <ng-template mat-tab-label>
        <mat-icon [fontIcon]="tab.icon"></mat-icon>
        {{ tab.title }}
        <span class="notification" *ngIf="tab.notificationValue !== null">{{ tab.notificationValue }}</span>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>


<ng-container [ngSwitch]="selectedTempl">

  <div *ngSwitchCase="'orders'" class="orders container-block" >
    <market-buy-orders></market-buy-orders>
  </div>

  <div *ngSwitchCase="'comments'" class="questions container-block" >
    <market-buy-comments></market-buy-comments>
  </div>

</ng-container>
