<app-header>
  <div class="tab-bar">
    <mat-tab-group (selectedTabChange)="changeTab($event.index)" [selectedIndex]="selectedTab">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon fontIcon="part-cart-2"></mat-icon>
          Your cart
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon fontIcon="part-recipe"></mat-icon>
          Buy Orders
          <!-- FIXME @dev:
          <span class="tag" *ngIf="orderCount > 0">{{ orderCount }}</span-->
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon fontIcon="part-chat-discussion"></mat-icon>
          Questions
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon fontIcon="part-heart-outline"></mat-icon>
          Favourites
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-header>



<!-- =========== CART =========== -->

<div class="your-cart" *ngIf="tabLabels[selectedTab] == 'cart'">
  <app-checkout-process (onOrderPlaced)="changeTab($event)"></app-checkout-process>
</div><!-- "Your cart" tab -->



<!-- =========== ORDERS =========== -->

<div class="orders container-block" *ngIf="tabLabels[selectedTab] == 'orders'">
  <app-buy-orders-page type="buy"></app-buy-orders-page>
</div><!-- "Orders" tab -->



<!-- =========== QUESTIONS =========== -->

<div class="questions container-block" *ngIf="tabLabels[selectedTab] == 'questions'">
  <app-buy-questions></app-buy-questions>
</div><!-- "Questions" tab -->



<!-- =========== FAVORITES =========== -->

<div class="favorites container-block"
     *ngIf="tabLabels[selectedTab] == 'favourites'">

  <app-page-intro [childPageAlias]="tabLabels[selectedTab]">
    <ng-container page-title>Your Favourites</ng-container>
    <ng-container page-content>
      Save your favourite Listings to easily access them later on.
    </ng-container>
    <ng-container page-help>
      Note that marketplace Listings have a limited lifetime (they expire after some time), so make sure to check back here often as they might not be available on the marketplace anymore.
    </ng-container>
  </app-page-intro>

  <div class="no-results" *ngIf="favorites === undefined || favorites?.length == 0">
    <img class="illustration" src="./assets/app-market/illustrations/no-favorites.svg" alt="No favorites yet">
    <p>
      You don't have any favourites yet
    </p>
    <p class="help-text">
      To add an item to favourites, click on the <mat-icon fontIcon="part-heart-outline-add"></mat-icon> icon
    </p>
  </div><!-- .no-results -->

  <div *ngIf="favorites !== undefined && favorites.length != 0" class="grid-container">
    <ng-container *ngFor="let favorite of favorites">

      <mat-card class="listing">
        <app-listing-item [listing]="favorite"></app-listing-item>
      </mat-card>

    </ng-container>
  </div>

</div><!-- "Favorites" tab -->
