<app-header>
  <div class="tab-bar">
    <mat-tab-group (selectedTabChange)="changeTab($event.index)" [selectedIndex]="selectedTab">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon fontIcon="part-cart-2"></mat-icon>
          Your cart
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon fontIcon="part-recipe"></mat-icon>
          Buy Orders
          <!-- FIXME @dev:
          <span class="tag" *ngIf="orderCount > 0">{{ orderCount }}</span-->
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon fontIcon="part-heart-outline"></mat-icon>
          Favourites
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-header>



<!-- =========== CART =========== -->

<div class="your-cart" *ngIf="tabLabels[selectedTab] == 'cart'">
  <app-checkout-process (onOrderPlaced)="changeTab($event)"></app-checkout-process>
</div><!-- "Your cart" tab -->



<!-- =========== ORDERS =========== -->

<div class="orders container-block" *ngIf="tabLabels[selectedTab] == 'orders'">
  <app-page-intro [childPageAlias]="tabLabels[selectedTab]">
    <ng-container page-title>Buy Orders</ng-container>
    <ng-container page-content>
      This is where you manage the orders you're in the process of buying from other vendors on the marketplace.
    </ng-container>
    <ng-container page-info *ngIf="hasEncryptedWallet">
      As this is an encrypted wallet, your wallet will need to be unlocked in order to process bid update messages!
    </ng-container>
    <ng-container page-help>
      Each step of the purchasing process needs to be confirmed in this page (i.e. marking an order as "Delivered").
    </ng-container>
  </app-page-intro>

  <!--app-orders type="buy"></app-orders-->





  <!-- ------ ↓↓↓ ----------- following code to become shared/orders-overview component ----------- ↓↓↓ ------ -->

  <!-- Orders > Filter -->
  <div class="filter">

    <h2 class="section-title">Search</h2>

    <mat-form-field class="--boxed" appearance="fill">
      <input matInput type="text" [formControl]="searchQuery"
            placeholder="Search Orders" (keyup.escape)="searchQuery.setValue('')">
      <button *ngIf="searchQuery.value.length > 0" matSuffix mat-button class="small" (click)="searchQuery.setValue('')" matTooltip="Clear" matTooltipPosition="after">
        <mat-icon fontIcon="part-clear-all"></mat-icon>
      </button>
      <mat-icon *ngIf="searchQuery.value.length === 0" matSuffix fontIcon="part-search"></mat-icon>
    </mat-form-field>

    <h2 class="section-title">Filter</h2>

    <mat-card class="filter-card">
      <div class="checkbox highlight">
        <mat-checkbox color="primary">Orders requiring action</mat-checkbox><!-- [(ngModel)]="additionalFilter.requiredAttention" (change)="loadOrders()" -->
      </div>
      <div class="checkbox">
        <!-- TODO: change here - instead of "hide completed", we'll do this: hide Completed and Rejected by default, show them when this is checked: -->
        <mat-checkbox color="primary">Show inactive &amp; archived</mat-checkbox><!-- [(ngModel)]="additionalFilter.hideCompleted" (change)="loadOrders()" -->
      </div>

      <mat-divider></mat-divider>

      <mat-radio-group class="radio-group block-radio"><!-- [(ngModel)]="filters.status" (change)="loadOrders()" -->
        <mat-radio-button class="filter-option" *ngFor="let status of statusFilters" value="{{ status.value }}" color="accent" [ngClass]="{ 'empty': status.count === '0' }">
          {{ status.title }}
          <span class="amount">{{ status.count }}</span>
        </mat-radio-button>
      </mat-radio-group>
    </mat-card>

    <button mat-button color="basic" class="clear-filters" (click)="clearAllFilters()">
      <mat-icon fontSet="partIcon" fontIcon="part-clear-all"></mat-icon>
      Clear all filters
    </button>

  </div><!-- .filter -->


  <!-- Orders > list -->
  <div class="orders section with-filter">

    <!--app-order-item *ngFor="let order of orders" [order]="order" (onOrderUpdated)="orderItemUpdated($event)"></app-order-item-->
    <app-order-list-item></app-order-list-item>

    <!-- *ngIf="orders?.length === 0" -->
    <div class="no-results">
      <img class="illustration" src="./assets/images/illustrations/no-orders.svg" alt="No Orders found">
      <p>
        You don't have any market orders yet
      </p>
      <p class="help-text">
        Visit the Marketplace and start buying or selling today!
      </p>
    </div>

    <!-- when searching/filtering: -->
    <div class="no-results">
      <img class="illustration" src="./assets/images/illustrations/no-orders.svg" alt="No Orders found">
      <p>
        No Orders found
      </p>
      <p class="help-text">
        You don't have any Orders matching your search/filter
      </p>
    </div>

  </div><!-- .orders.list -->


  <!-- ------ ↑↑↑ ------------- above code to become shared/orders-overview component ------------- ↑↑↑ ------ -->





</div><!-- "Orders" tab -->



<!-- =========== FAVORITES =========== -->

<div class="favorites container-block"
     *ngIf="tabLabels[selectedTab] == 'favourites'">

  <app-page-intro [childPageAlias]="tabLabels[selectedTab]">
    <ng-container page-title>Your Favourites</ng-container>
    <ng-container page-content>
      Save your favourite Listings to easily access them later on.
    </ng-container>
    <ng-container page-help>
      Note that marketplace Listings have a limited lifetime (they expire after some time), so make sure to check back here often as they might not be available on the marketplace anymore.
    </ng-container>
  </app-page-intro>

  <div class="no-results" *ngIf="favorites === undefined || favorites?.length == 0">
    <img class="illustration" src="./assets/images/illustrations/no-favorites.svg" alt="No favorites yet">
    <p>
      You don't have any favourites yet
    </p>
    <p class="help-text">
      To add an item to favourites, click on the <mat-icon fontIcon="part-heart-outline-add"></mat-icon> icon
    </p>
  </div><!-- .no-results -->

  <div *ngIf="favorites !== undefined && favorites.length != 0" class="grid-container">
    <ng-container *ngFor="let favorite of favorites">

      <mat-card class="listing">
        <app-listing-item [listing]="favorite"></app-listing-item>
      </mat-card>

    </ng-container>
  </div>

</div><!-- "Favorites" tab -->
