<div mat-dialog-title>Bot details</div>

<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content class="dialog-content">
  <div class="row">

    <div class="image">
      <img src="./assets/images/placeholder_4-3.jpg" class="img">
    </div><!-- .image -->
    
    <div class="info">
      <h2 class="name">This is Bot's name</h2>
      <div class="meta">
        <div class="type">Exchange</div>
      </div>
      <p class="desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ratione in numquam, aliquam iusto asperiores nisi modi dolores facilis sint, illum hic mollitia dolorum.
      </p>

      <div class="details">
        <h3 class="item-subtitle">Details</h3>
        <table>
          <tr>
            <th class="title">
              <mat-icon fontIcon="part-globe"></mat-icon>
              Homepage
            </th>
            <td class="value"><a href="https://particl.io" target="_blank" matTooltip="Link opens in new browser tab" matTooltipPosition="after">particl-community.com/exchange-bot</a></td>
          </tr>
          <tr>
            <th class="title">
              <mat-icon fontIcon="part-qr"></mat-icon>
              Address
            </th>
            <td class="value"><div class="address">paqiHKdyc2rAak1tp3Z8EeeFNH154XrTC6</div></td>
          </tr>
        </table>
      </div><!-- .details -->

      <div class="author">
        <h3 class="item-subtitle">Author</h3>
        <table>
          <tr>
            <th class="title">
              <mat-icon fontIcon="part-circle-user"></mat-icon>
              Name/nick
            </th>
            <td class="value">BotCreator the Great</td>
          </tr>
          <tr>
            <th class="title">
              <mat-icon fontIcon="part-language"></mat-icon>
              Contact
            </th>
            <td class="value">
              <strong>Email:</strong> botcreator@particl-community.com<br>
              <strong>Riot:</strong> botcreator@matrix.org
            </td>
          </tr>
        </table>
      </div><!-- .author -->

    </div><!-- .info -->

  </div><!-- .row -->
</mat-dialog-content>


<mat-dialog-actions fxLayoutAlign="space-between center">
  <button mat-button mat-dialog-close>
    <mat-icon fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <div class="right">
    <button mat-raised-button color="primary">
      <mat-icon fontIcon="part-check"></mat-icon>
      Enable Bot
    </button>
  </div>
</mat-dialog-actions>
