#firsttime {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

#intro {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#buttons {
  width: 100%;
  padding: 40px 0 40px 0;
  border-top: 1px solid #e4e7ec;
  border-bottom: 1px solid #e4e7ec;
  text-align: center;
}

button {
  background-color: #02e8b0;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
  border: none;
  margin: 30px;
}
