<table>
  <tr>
    <th>time</th>
    <th>address</th>
    <th>txid</th>
    <th>amount</th>
     <th>blockindex</th>
    <th>confirmations</th>
    <th>category</th>
  </tr>
  <tr *ngFor="let tx of tx_service.txs">
  	<td>{{ tx.getDate() }}</td>
    <td>{{ tx.address }}</td>
    <td>{{ tx.txid }}</td>
    <td>{{ tx.amount }}</td>
    <td>{{ tx.blockindex }}</td>
    <td>{{ tx.confirmations }}</td>
    <td>{{ tx.category }}</td>
  </tr>
</table>
<br />
<table *ngIf="display_pagination">
  <tr >
  	<th *ngFor="let i of tx_service.page_array" 
  		[ngStyle]="{'background-color': (tx_service.page == +i)? 'green' : 'red'}"
  		(click) = "switchPage(i)">
  		{{ +i + 1 }}
  	</th>
  </tr>
</table>

