<mat-dialog-title>Confirm order delivery</mat-dialog-title>
<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content>
  <div class="row">

    <div class="image">
      <img class="illustration" src="./assets/app-market/illustrations/confirm-delivery.svg" alt="Confirm delivery">
    </div>

    <div class="text">
      <p class="lead">
        Mark as delivered and complete this Order?
      </p>
      <p class="message --info">
        <strong>Warning!</strong> Only confirm the delivery if you have received the item in real life &ndash; this Order involves real PART coins!
      </p>
      <p class="help-text">
        Confirming successful delivery will finalize this Order and release your funds locked in Escrow.
      </p>
    </div>

    <p class="message --info">
      Leave an optional confirmation of delivery message for the seller
      <mat-form-field class="full-width --boxed --larger" appearance="fill" color="accent">
        <mat-icon matPrefix fontIcon="part-check"></mat-icon>
        <input [formControl]="reviewMemo" matInput type="text" placeholder="Optional review message">
      </mat-form-field>
    </p>
  </div>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    <mat-icon fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="primary" appDebounceClick (debounceClick)="doAction()">
    <mat-icon fontIcon="part-check"></mat-icon>
    Yes, I received the Order
  </button>
</mat-dialog-actions>
