@import "./src/assets/_config"; // import shared colors etc.

@import "../shared/_modal-layout"; // shared layout for modals (dialog titles etc.)

.center {
  text-align: center;
}

.margin-top-100px {
	margin-top: 100px;
}

.syncing-blocks h4 {
  font-weight: 700;
  font-size: 14px;
}
  
.alert {
  color: #f44336;
}
