@import "./src/assets/_config"; // import shared colors etc.

@import "../shared/_modal-layout"; // shared layout for modals (dialog titles etc.)

 
.alert {
  color: $color-alert;
}


.sync-stats {
  .item {
    text-align: center;
    margin-bottom: 45px;
    &.big {
      .value {
        font-size: 30px;
      }
    }
    &.small {
      .value {
        font-size: 16px;
      }
    }
    .description {
      text-transform: uppercase;
      color: $text-muted;
      margin-top: 5px;
    }
  }
}
