@import './src/assets/_config'; // import shared colors etc.

// ------ SIDEBAR MENU ITEMS ------ //

/*
  Styles for menu items/links are moved to `/src/styles.scss` (section 2.7)
*/

.divider {
  border-top: 1px solid var(--bg-sidebar-lighter);
  box-shadow: 0 1px 0 var(--bg-sidebar-darker) inset;
}