<mat-dialog-title>Confirm payment</mat-dialog-title>

<button mat-button color="warn" class="modal-close" mat-dialog-close><!-- tabindex="-1" -->
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content>

  <!-- TODO: show on alpha mainnet only | do we really need it when we have the banner on top of Market? -->
  <p class="message --warning">
    <strong>Warning:</strong> you are about to spend real PART coins on an ongoing development version of Particl Marketplace &ndash; things might break!
  </p>

  <!-- Bid confirmation-->
  <div class="tx-confirmation">
    <div class="tx-info">
      <!-- if public -->
      <div class="public">
        <mat-icon class="icon public" fontIcon="part-cart-2"></mat-icon>
        <div class="title">You're buying</div>
        <p class="help-text">
          Seller accepted your bid &ndash; pay for your Order and&nbsp;Escrow deposit
        </p>
      </div>
    </div>

    <div class="tx-amount">
      <span class="big">132</span><span class="point">.</span><span class="small">865416</span>&ensp;
      <span class="currency">PART</span>
      <!-- TODO: until fiat estimations are implemented, hide them -->
      <div class="fiat">&asymp; 3.42 USD</div>
    </div>

    <mat-icon class="arrow-icon" fontIcon="part-arrow-down"></mat-icon>

    <div class="receiver-info">
      <div class="label"><span class="qty">1&times;</span> Listing name of item being bought</div>
      <code class="address">Pf94seller'sAddress842NFFS32d1f</code>
    </div>

    <div class="contact-info">
      <h3 class="box-title --larger">Shipping contact info</h3>
      <p class="help-text">Seller's shipping method may require your contact information for successful delivery &ndash; you can optionally provide it below:</p>
      <div class="row" fxLayout fxLayoutGap="20px">
        <label fxFlex="50%">
          <mat-form-field class="--boxed full-width" appearance="fill">
            <span matPrefix>Tel:</span>
            <input type="tel" matInput placeholder="Telephone number" name="phone" maxlength="30">
          </mat-form-field>
        </label>
        <label fxFlex="50%">
          <mat-form-field class="--boxed full-width" appearance="fill">
            <span matPrefix>E-mail:</span>
            <input type="email" matInput placeholder="E-mail address" name="email" email maxlength="255" />
          </mat-form-field>
        </label>
      </div>
    </div>

    <p class="fee-info">
      <!-- Not needed, since we have the pricing breakdown in Order detail already..
      Listing price:<span class="amount">{{ bidItem?.PricingInformation(country)?.base?.particlStringInteger() }}{{ bidItem?.PricingInformation(country)?.base?.particlStringSep() }}{{ bidItem?.PricingInformation(country)?.base?.particlStringFraction() }} PART</span><span class="fiat">&asymp; 0.05 USD</span><br>

      Shipping:<span class="amount">{{ bidItem?.PricingInformation(country)?.shipping?.particlStringInteger() }}{{ bidItem?.PricingInformation(country)?.shipping?.particlStringSep() }}{{ bidItem?.PricingInformation(country)?.shipping?.particlStringFraction() }} PART</span><span class="fiat">&asymp; 0.05 USD</span><br>

      Escrow:<span class="amount">{{ bidItem?.PricingInformation(country)?.escrow?.particlStringInteger() }}{{ bidItem?.PricingInformation(country)?.escrow?.particlStringSep() }}{{ bidItem?.PricingInformation(country)?.escrow?.particlStringFraction() }} PART</span><span class="fiat">&asymp; 0.05 USD</span><br>

      Total amount:<span class="amount">{{ bidItem?.PricingInformation(country)?.total?.particlStringInteger() }}{{ bidItem?.PricingInformation(country)?.total?.particlStringSep() }}{{ bidItem?.PricingInformation(country)?.total?.particlStringFraction() }} PART</span><span class="fiat">&asymp; 3.47 USD</span-->
      Transaction fee:
      <span class="amount">0.05121 PART</span>
      <span class="fiat">&asymp; 2.52 USD</span>
    </p>

  </div><!-- .tx-confirmation -->
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="dialogClose()">
    <mat-icon fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="primary" appDebounceClick (debounceClick)="confirm()" [disabled]="processing">
    <mat-icon fontIcon="part-check"></mat-icon>
    Confirm &amp; Pay
  </button>
</mat-dialog-actions>
