<mat-dialog-title>Request Escrow Finalization</mat-dialog-title>

<button mat-button color="warn" class="modal-close" mat-dialog-close><!-- tabindex="-1" -->
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content>
  <p class="message --warning" *ngIf="!(isTestnet | async)">
    <strong>Warning:</strong> you are about to spend real PART coins on an ongoing development version of Particl Marketplace &ndash; things might break!
  </p>

  <!-- Bid confirmation-->
  <div class="tx-confirmation">
    <div class="tx-info">
      <!-- if public -->
      <div class="public">
        <mat-icon class="icon public" fontIcon="part-cart-2"></mat-icon>
        <div class="title">You're buying</div>
        <p class="help-text">
          Seller accepted your bid &ndash; request escrow for your Item and Escrow deposit
        </p>
      </div>
    </div>

    <div class="tx-amount">
      <span class="big">{{ itemPricing.whole }}</span><span class="point">{{ itemPricing.sep }}</span><span class="small">{{ itemPricing.fraction }}</span>&ensp;
      <span class="currency">PART</span>
      <!-- TODO: until fiat estimations are implemented, hide them -->
      <div class="fiat">&asymp; 3.42 USD</div>
    </div>

    <mat-icon class="arrow-icon" fontIcon="part-arrow-down"></mat-icon>

    <div class="receiver-info">
      <div class="label"><span class="qty">1&times;</span> {{ listingTitle }}</div>
      <code class="address">{{ orderHash }}</code>
    </div>

    <div class="contact-info">
      <h3 class="box-title --larger">Shipping contact info</h3>
      <p class="help-text">Seller's shipping method may require your contact information for successful delivery &ndash; you can optionally provide it below:</p>
      <div class="row" fxLayout fxLayoutGap="20px">
        <label fxFlex="50%">
          <mat-form-field class="--boxed full-width" appearance="fill">
            <span matPrefix>Tel:</span>
            <input type="tel" matInput [formControl]="inputContactPhone" placeholder="Telephone number" name="phone">
          </mat-form-field>
        </label>
        <label fxFlex="50%">
          <mat-form-field class="--boxed full-width" appearance="fill">
            <span matPrefix>E-mail:</span>
            <input type="email" matInput [formControl]="inputContactEmail" placeholder="E-mail address" name="email" />
          </mat-form-field>
        </label>
      </div>
    </div>

  </div><!-- .tx-confirmation -->
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    <mat-icon fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="primary" appDebounceClick (debounceClick)="doAction()">
    <mat-icon fontIcon="part-check"></mat-icon>
    Confirm &amp; Pay
  </button>
</mat-dialog-actions>
