<mat-dialog-title>Cancel Order</mat-dialog-title>
<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content>
  <div class="row">

    <div class="image">
      <img class="illustration" src="./assets/app-market/illustrations/reject-cancel-bid.svg" alt="Cancel bid">
    </div>

    <div class="text">
      <p class="lead">
        Are you sure you want to cancel this order?
      </p>
      <p class="help-text">
        Changed your mind and don't want to fulfil this order anymore? Cancelling the order will unlock any locked or reserved funds associated with it.
      </p>
    </div>

  </div>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    <mat-icon fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="warn" appDebounceClick (debounceClick)="doAction()">
    <mat-icon fontIcon="part-circle-remove"></mat-icon>
    Yes, cancel order
  </button>
</mat-dialog-actions>
