<mat-tab-group class="payment-method-tabs" (selectedTabChange)="changeTab($event.index)" [selectedIndex]="selectedTab">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon fontSet="partIcon" fontIcon="part-cryptocurrency-particl"></mat-icon>
      Pay with PART
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon fontSet="partIcon" fontIcon="part-cryptocurrency-bitcoin"></mat-icon>
      Pay with BTC/alts
    </ng-template>
  </mat-tab>
</mat-tab-group>

<button class="small-close-button in-tab-bar pull-right" (click)="dialogClose()">
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>


<!-- Pay with Particl -->
<div mat-dialog-content class="dialog-content" *ngIf="tabLabels[selectedTab] === 'pay-with-part'">

  <!--TX confirmation-->
  <div class="tx-confirmation">
    <div class="tx-info">
      <!-- if public -->
      <div class="public" *ngIf="transactionType === 'part'">
        <mat-icon class="icon public" fontSet="partIcon" fontIcon="part-public"></mat-icon>
        <div class="title">Public transaction</div>
        <p class="widget-help">
          Sender, Receiver & transaction amount will be publicly visible on the blockchain
        </p>
      </div>
      <!-- if blind / anon-->
      <div class="blind" *ngIf="transactionType === 'blind'">
        <mat-icon class="icon public" fontSet="partIcon" fontIcon="part-blind"></mat-icon>
        <div class="title">Blind transaction</div>
        <p class="widget-help">
          Sender & Receiver will be publicly visible on the blockchain, but the transaction amount will be hidden
        </p>
      </div>
      <div class="anon" *ngIf="transactionType === 'anon'">
        <mat-icon class="icon public" fontSet="partIcon" fontIcon="part-anon"></mat-icon>
        <div class="title">Anon transaction</div>
        <p class="widget-help">
          Sender, Receiver & transaction amount will be hidden on the blockchain for highest privacy
        </p>
      </div>
    </div>

    <div class="tx-amount">
      <span class="big">{{ sendAmount.getIntegerPart() }}</span>
      <span *ngIf="sendAmount.ifDotExist()">
      <span class="point">.</span>
      <span class="small">{{ sendAmount.getFractionalPart() }}</span>&ensp;</span>
      <span class="currency">PART</span>
      <!-- TODO: until fiat estimations are implemented, hide them -->
      <div class="fiat">&asymp; 3.42 USD</div>
    </div>

    <mat-icon class="icon arrow" fontSet="partIcon" fontIcon="part-arrow-down"></mat-icon>

    <div class="receiver-info">
      <!--if address saved in Address Book, display its label. if not, hide it -->
      <div class="label" *ngIf="receiverName !== ''">{{ receiverName }}</div>
      <div class="label" *ngIf="!sendAddress">Balance Transfer</div>
      <code class="address"> {{ sendAddress }} </code>
    </div>

    <p class="widget-help" *ngIf="this.send.subtractFeeFromAmount">
      The transaction fee will be subtracted from the amount requested.
    </p>

    <p class="fee-info" *ngIf="!this.estimateError">
      Transaction fee:<span class="amount">{{ transactionAmount.getFee() }} PART</span><span class="fiat">&asymp; 0.05 USD</span><br>
      Total amount:<span
      class="amount">{{ transactionAmount.getAmountWithFee(sendAmount.getAmount(), !send.subtractFeeFromAmount ) }} PART</span><span class="fiat">&asymp; 3.47 USD</span>
    </p>
    <p class="fee-info" *ngIf="this.estimateError">
      Could not accurately estimate this transaction fee. Please try again
    </p>
  </div><!-- TX confirmation -->

</div><!-- .dialog-content (pay with PART) -->

<mat-dialog-actions fxLayoutAlign="space-between center" *ngIf="tabLabels[selectedTab] === 'pay-with-part'">
  <button mat-button mat-dialog-close (click)="dialogClose()">
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="confirm()" >
    <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
    Confirm &amp; Send
  </button>
</mat-dialog-actions>


<!-- Pay with BTC/alts -->
<div mat-dialog-content class="dialog-content exchange" *ngIf="tabLabels[selectedTab] === 'pay-with-btc-alts'">
  <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <!-- Overwrite default Stepper icons: https://material.angular.io/components/stepper/overview#overriding-icons -->
    <!--ng-template matStepperIcon="edit">
      <custom-icon>
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-check"></mat-icon>
      </custom-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
      <custom-icon>
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-pen-1"></mat-icon>
      </custom-icon>
    </ng-template-->

    <mat-step><!-- [stepControl]="firstFormGroup" -->
      <form><!-- [formGroup]="firstFormGroup" -->
        <ng-template matStepLabel>Currency</ng-template>
        <div class="title">Select your currency</div>
        <p class="widget-help">
          Pay your order effortlessly with your favourite cryptocurrencies &ndash; select a coin for payment:
        </p>
        <mat-dialog-actions fxLayoutAlign="space-between center">
          <button mat-button mat-dialog-close (click)="dialogClose()">
            <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
            Cancel
          </button>
          <button mat-raised-button color="primary" matStepperNext>
            <mat-icon fontSet="partIcon" fontIcon="part-arrow-right"></mat-icon>
            Next
          </button>
        </mat-dialog-actions>
      </form>
    </mat-step>

    <mat-step><!-- [stepControl]="secondFormGroup" -->
      <form><!-- [formGroup]="secondFormGroup" -->
        <ng-template matStepLabel>Exchange</ng-template>
        <div class="title">Choose an exchange</div>
        <p class="widget-help">
          Payment in Bitcoin can be processed on multiple exchanges &ndash; select the one you prefer:
        </p>
        <mat-dialog-actions fxLayoutAlign="space-between center">
          <button mat-button matStepperPrevious>
            <mat-icon fontSet="partIcon" fontIcon="part-arrow-left"></mat-icon>
            Back
          </button>
          <button mat-raised-button color="primary" matStepperNext>
            <mat-icon fontSet="partIcon" fontIcon="part-arrow-right"></mat-icon>
            Next
          </button>
        </mat-dialog-actions>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Pay</ng-template>
      <div class="title">Pay with Bitcoin</div>
      <p class="widget-help">
        Send your BTC to the following address to automatically convert it to PART and pay for your order
      </p>
      <mat-dialog-actions fxLayoutAlign="space-between center">
        <button mat-button matStepperPrevious>
          <mat-icon fontSet="partIcon" fontIcon="part-arrow-left"></mat-icon>
          Back
        </button>
        <!-- by default, button is disabled as "waiting for payment"; when payment and exchange goes through, it will change to "Paid" and become active - clicking it will close the modal -->
        <button mat-raised-button color="primary" disabled>
          <mat-icon fontSet="partIcon" fontIcon="part-date"></mat-icon>
          Waiting for payment
        </button>
        <!--button mat-raised-button color="primary">
          <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
          Paid
        </button-->
      </mat-dialog-actions>
    </mat-step>

  </mat-horizontal-stepper>
</div><!-- .dialog-content (pay with BTC/alts) -->
