<div class="loading transactions">
  <div class="item" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <div fxFlex="0 0 150px"><span class="date placeholder"></span></div>
    <div fxFlex="1 0 175px"><span class="type placeholder"></span></div>
    <div class="text-right" fxFlex="1 0 155px"><span class="value placeholder"></span></div>
  </div>
  <div class="item" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <div fxFlex="0 0 150px"><span class="date placeholder"></span></div>
    <div fxFlex="1 0 175px"><span class="type placeholder"></span></div>
    <div class="text-right" fxFlex="1 0 155px"><span class="value placeholder"></span></div>
  </div>
  <div class="item" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <div fxFlex="0 0 150px"><span class="date placeholder"></span></div>
    <div fxFlex="1 0 175px"><span class="type placeholder"></span></div>
    <div class="text-right" fxFlex="1 0 155px"><span class="value placeholder"></span></div>
  </div>
  <div class="item" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <div fxFlex="0 0 150px"><span class="date placeholder"></span></div>
    <div fxFlex="1 0 175px"><span class="type placeholder"></span></div>
    <div class="text-right" fxFlex="1 0 155px"><span class="value placeholder"></span></div>
  </div>
  <div class="item" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <div fxFlex="0 0 150px"><span class="date placeholder"></span></div>
    <div fxFlex="1 0 175px"><span class="type placeholder"></span></div>
    <div class="text-right" fxFlex="1 0 155px"><span class="value placeholder"></span></div>
  </div>
</div>
