@import './src/assets/_config'; // import shared colors etc.
@import './src/app/wallet/shared/_filter-sorting'; // filtering & sorting

// ------ UI ELEMENTS ------ //

.no-results {
  width: 100%;
  margin: 24px 0 0;
  padding: 50px 0;
}

