@import './src/assets/_config'; // import shared colors etc.


// ------ LAYOUT ------ //

.modal-content {
  width: 32rem;
}

// darker field with input & warning
.enter-password {
  background: var(--bg);
  padding: 6px 24px 24px;
  margin: 24px -24px 8px;
  border-top: 1px dashed var(--bg-muted);
  border-bottom: 1px dashed var(--bg-muted);

  // boxed password input
  .password-field {
    margin: 0;
  }

  p.warning {
    margin: 0 -24px;
  }

  // show/hide password button
  button[matSuffix] {
    padding: 8px 12px;
    margin-right: -12px;
    .mat-icon {
      margin: 0;
    }
  }

}
