@import './src/assets/_config'; // import shared colors etc.


// ------ LAYOUT ------ //

.modal-content {
  width: 32rem;
  .modal-highlight {
    padding: 6px 24px 24px;
  }
}

.password-field {
  button[matSuffix] { // show/hide password button
    padding: 8px 12px;
    margin-right: -12px;
    .mat-icon {
      margin: 0;
    }
  }
}
