<div class="address-table table-responsive">
<table>
  <tr *ngIf="displayHeader">
    <th *ngIf="displayLabel">label</th>
    <th *ngIf="displayType">type</th>
    <th *ngIf="displayAddress">address</th>
    <th *ngIf="displayPurpose">purpose</th>
  </tr>
  <tr >
    <td *ngIf="displayLabel">label</td>
    <td *ngIf="displayType">type</td>
    <td *ngIf="displayAddress">address</td>
    <td *ngIf="displayPurpose">purpose</td>
  </tr>
</table>
</div>

<!--
<pagination *ngIf="displayPagination" [boundaryLinks]="true" (pageChanged)="pageChanged($event)" [totalItems]="txService.txCount" [maxSize]="5" [rotate]="false" [(ngModel)]="txService.currentPage" class="pagination-sm center"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" itemsPerPage="{{txService.MAX_TXS_PER_PAGE}}" ></pagination> -->
        
