<div class="address-table table-responsive">
<table>
  <tr *ngIf="displayHeader">
    <th *ngIf="displayLabel">label</th>
    <th *ngIf="displayType">type</th>
    <th *ngIf="displayAddress">address</th>
    <th *ngIf="displayPurpose">purpose</th>
  </tr>
  <tr *ngFor="let address of addressService.addresses">
    <td *ngIf="displayLabel">{{address.label}}</td>
    <td *ngIf="displayType">{{address.type}}</td>
    <td *ngIf="displayAddress">{{address.address}}</td>
    <td *ngIf="displayPurpose">{{address.purpose}}</td>
  </tr>
</table>
</div>


<pagination *ngIf="displayPagination" [boundaryLinks]="true" (pageChanged)="pageChanged($event)" [totalItems]="addressService.addressCount" [maxSize]="5" [rotate]="false" [(ngModel)]="addressService.currentPage" class="pagination-sm center"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" itemsPerPage="{{addressService.MAX_ADDRESSES_PER_PAGE}}" ></pagination>
        
