.tx-table {
	margin-left: 2%;
}

table {

    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: center;
    padding-top: 11px;
	padding-bottom: 11px;
	background-color: #02E8B0;
	color: white;
	text-transform: uppercase;
}

tr {
	margin-bottom: 10px;
	padding-bottom: 25px;
}
td {
	text-align: center;
	padding: 10px;
	background-color: white;
	border-bottom-style: solid;
	border-top-style: solid;
	border-top: 1px solid #b6b6bc;
    border-bottom: 2px solid #e3e3e3;
}


.green {
	color: green;
}

.center {
	margin: 0px auto;
	display: table;
}