<div class="address-table table-responsive">
<table>
  <tr *ngIf="displayHeader">
    <th *ngIf="displayLabel">label</th>
    <th *ngIf="displayType">type</th>
    <th *ngIf="displayAddress">address</th>
    <th *ngIf="displayPurpose">purpose</th>
  </tr>
  <tr *ngFor="let address of addressService.addresses">
    <td *ngIf="displayLabel" class="bold paddingLeft10"> {{address.label}}</td>
    <td *ngIf="displayType">
      <span *ngIf="displayInternalHeader" class="bold">TYPE</span> {{address.type}}
    </td>
    <td *ngIf="displayAddress">
      <span *ngIf="displayInternalHeader" class="bold">ADDRESS</span> {{address.address}}
    </td>
    <td *ngIf="displayPublicKey">
      <span *ngIf="displayInternalHeader" class="bold">PUBLIC KEY</span> {{address.publicKey}}
    </td>
    <td *ngIf="displayPurpose">
      <span *ngIf="displayInternalHeader" class="bold">PURPOSE</span> {{address.purpose}}
    </td>
    <td *ngIf="displayToolsMenu" class="addressMenu">
      <span class="bold headerDivider center">
        <span class="marginMenu">
        <!-- we can use ngx-clipboard -->
          <span ngxClipboard [cbContent]="address.address">
            <span class="icon glyphicon glyphicon-copy"></span>
          </span>
          <span >
            <!-- Open the modal for signing and verifying messages by address -->
            <span class="icon glyphicon glyphicon-lock "></span>
          </span>
          <span (click)="addressService.deleteAddress(address.address)">
            <span class="icon glyphicon glyphicon-trash red"></span>
          </span>
        </span>
      </span>
    </td>
    <td *ngIf="displayQrMenu" class="qrMenu">
      <span class="bold headerDivider center">
        <span class="marginMenu">
          <span class="icon glyphicon glyphicon-qrcode"></span>
        </span>
      </span>
    </td>
  </tr>
</table>
</div>


<pagination *ngIf="displayPagination" [boundaryLinks]="true" (pageChanged)="pageChanged($event)" [totalItems]="addressService.addressCount" [maxSize]="5" [rotate]="false" [(ngModel)]="addressService.currentPage" class="pagination-sm center"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" itemsPerPage="{{addressService.MAX_ADDRESSES_PER_PAGE}}" ></pagination>
        
