
<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>

<mat-dialog-content>
  <div class="product-summary" fxLayout="row">

    <div class="product-gallery">
      <div class="gallery-carousel">
        <img *ngIf="details.images.hasNoImages" [src]="details.images.images[0].data.src">
        <!-- https://github.com/MurhafSousli/ngx-gallery/wiki/Gallery-API -->
        <gallery
          *ngIf="!details.images.hasNoImages"
          gallerize
          [gestures]="false"

          [style.height.px]="350"
          [style.width.px]="430"
          [items]="details.images.images"

          slidingDirection="vertical"
          [autoPlay]="true"
          [playerInterval]="10000"
          [counter]="false"
          [nav]="true"
          [thumb]="details.images.images.length > 1"
          thumbPosition="right"
          [thumbWidth]="40"
          [thumbHeight]="40">
        </gallery>
      </div>
    </div><!-- .product-gallery -->

    <div class="product-info">
      <h1>{{ details.title }}</h1>
      <p class="short-desc">
        {{ details.summary }}
      </p>
      <p class="expires-soon" *ngIf="itemExpiry.isSoon">
        <span matTooltip="Last chance to buy this Listing before it becomes unavailable" matTooltipPosition="after">
          <mat-icon fontIcon="part-circle-info"></mat-icon>
          Expires in: {{ expiryTimer }}
        </span>
      </p>
      <p class="expires-soon" *ngIf="itemExpiry.hasExpired">
        <span matTooltip="Item is no longer available" matTooltipPosition="after">
          <mat-icon fontIcon="part-circle-info"></mat-icon>
          Expired
        </span>
      </p>

      <div class="pricing">
        <div class="item price">
          <div class="title">Price</div>
          <div class="value">
            <span class="big">{{ details.price.base }}</span>
            <span class="currency">PART</span>
          </div>
          <div class="value fiat">
            <span class="fiat">~ 0.41 xx EUR</span>
          </div>
        </div>
        <div class="item shipping">
          <!-- Shipping destination not selected -->
          <ng-container *ngIf="details.shipping.selectedDestination.length === 0; else shippingDestSet">
            <div class="title">Shipping</div>
            <div class="value">
              <span class="big">{{ details.price.shipping.local }}&ndash;{{ details.price.shipping.intl }}</span>
              <span class="currency">PART</span>
            </div>
          </ng-container>

          <!-- Shipping destination known -->
          <ng-template #shippingDestSet>
            <div class="title">Shipping to {{ details.shipping.selectedDestination }}</div>
            <div class="value">
              <!-- can be shipped -->
              <ng-container *ngIf="details.shipping.canShip">
                <span class="big">{{ details.price.shipping.actual }}</span>
                <span class="currency">PART</span>
              </ng-container>
              <!-- shipping to destination not available -->
              <ng-container *ngIf="!details.shipping.canShip">
                <span class="not-available" matTooltip="Seller does not ship to this destination">
                  Not available
                </span>
              </ng-container>
            </div>
          </ng-template>

          <div class="value fiat">
            <span class="fiat">~ 0.41 xx EUR</span>
          </div>
        </div>

      </div><!-- .pricing -->

      <table class="meta">
        <tr>
          <th class="title">
            <mat-icon fontIcon="part-filter"></mat-icon>
            Category
          </th>
          <td class="value">
            {{ details.category }}
          </td>
        </tr>
        <!--tr>
          <th class="title">
            <mat-icon fontIcon="part-stock"></mat-icon>
            In stock
          </th>
          <td class="value">
            N/A &times;
          </td>
        </tr-->
        <tr>
          <th class="title">
            <mat-icon fontIcon="part-globe"></mat-icon>
            Sold from
          </th>
          <td class="value">
            {{ details.shipping.source }}
          </td>
        </tr>
        <tr>
          <th class="title">
            <mat-icon fontIcon="part-date"></mat-icon>
            Added / Expires
          </th>
          <td class="value">
            {{ details.created | date:'medium' }}<br>
            <span *ngIf="itemExpiry.timestamp > 0">{{ itemExpiry.timestamp | date:'medium' }}</span><span *ngIf="itemExpiry.timestamp === 0">N/A</span>
          </td>
        </tr>
      </table>

    </div><!-- .product-info -->
  </div><!-- .product-summary -->

  <div class="product-details">
    <mat-tab-group class="listing-tabs" color="accent" #tabSwitcher [selectedIndex]="initialTab === 'chat' ? 2 : 0" >
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon fontIcon="part-attach"></mat-icon>
          Product details
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon fontIcon="part-truck"></mat-icon>
          Shipping &amp; Escrow
        </ng-template>
      </mat-tab>
      <mat-tab *ngIf="showComments">
        <ng-template mat-tab-label>
          <mat-icon fontIcon="part-chat-discussion"></mat-icon>
          Questions &amp; Answers
        </ng-template>
      </mat-tab>
    </mat-tab-group><!-- .listing-tabs -->

    <div class="tab-content details" *ngIf="tabSwitcher.selectedIndex === 0">
      <h2 class="section-title">Product info</h2>
      <mat-card>
        <p class="lead description">{{ details.summary }}</p>
        <p class="detailed description">{{ details.description }}</p>
      </mat-card>

      <ng-container *ngIf="details.images.images.length > 1">
        <h2 class="section-title">Product gallery</h2>
        <div class="gallery" gallerize>
          <ng-container *ngFor="let image of details.images.images">
            <div class="image">
              <img [src]="image.data.thumb" [attr.imageSrc]="image.data.src" >
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div><!-- .tab-content.details -->

    <div class="tab-content shipping" *ngIf="tabSwitcher.selectedIndex === 1">
      <h2 class="section-title">Pricing details</h2>
      <mat-card>
        <table class="shipping-escrow">
          <thead>
            <tr>
              <th>Shipping to</th>
              <th>Shipping</th>
              <th>Escrow</th>
              <th>Total needed for order</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>
                {{ details.shipping.source }}
                <small>Local shipping</small>
                <!--small>Shipping carrier</small-->
              </th>
              <!-- domestic shipping -->
              <td>
                <span class="part price">
                  <strong>{{ details.price.shipping.local }}</strong>
                  <small class="currency">PART</small>
                </span>
                <span class="fiat price">
                  &asymp; 0.41 <small class="currency">EUR</small>
                </span>
              </td>
              <!-- domestic escrow -->
              <td>
                <span class="part price">
                  <strong>{{ details.price.escrow.local }}</strong>
                  <small class="currency">PART</small>
                </span>
                <span class="fiat price">
                  &asymp; 0.41 <small class="currency">EUR</small>
                </span>
              </td>
              <!-- domestic total -->
              <td>
                <span class="part price">
                  <strong>{{details.price.total.local }}</strong>
                  <small class="currency">PART</small>
                </span>
                <span class="fiat price">
                  &asymp; 0.41 <small class="currency">EUR</small>
                </span>
              </td>
            </tr>
            <tr>
              <th>
                Worldwide
                <small>See below for details</small>
                <!--small>Shipping carrier</small-->
              </th>
              <!-- international shipping -->
              <td>
                <span class="part price">
                  <strong>{{ details.price.shipping.intl }}</strong>
                  <small class="currency">PART</small>
                </span>
                <span class="fiat price">
                  &asymp; 0.41 <small class="currency">EUR</small>
                </span>
              </td>
              <!-- international escrow -->
              <td>
                <span class="part price">
                  <strong>{{ details.price.escrow.intl }}</strong>
                  <small class="currency">PART</small>
                </span>
                <span class="fiat price">
                  &asymp; 0.41 <small class="currency">EUR</small>
                </span>
              </td>
              <!-- international total -->
              <td>
                <span class="part price">
                  <strong>{{ details.price.total.intl }}</strong>
                  <small class="currency">PART</small>
                </span>
                <span class="fiat price">
                  &asymp; 0.41 <small class="currency">EUR</small>
                </span>
              </td>
            </tr>
            <tr class="help-text">
              <td></td>
              <td>
                Shipping price for 1 item
              </td>
              <td>
                Security deposit (100% of order value) needed for this trade &ndash; it will be refunded after order is completed and delivered
              </td>
              <td>
                Amount of funds needed in total for this trade (incl. the refundable escrow)
              </td>
            </tr>
          </tbody>
        </table><!-- .shipping-escrow -->
      </mat-card>

      <h2 class="section-title">Shipping to</h2>
      <mat-card>
        <p class="text-muted">Seller restricted shipping of this Product only to these countries:</p>
        <p *ngIf="details.shipping.destinations.length > 0">{{ details.shipping.destinations.join(', ') }}</p>
        <p *ngIf="details.shipping.destinations.length === 0">Worldwide (shipping anywhere)</p>
      </mat-card>
    </div><!-- .tab-content.shipping-->

    <div class="tab-content questions-answers" *ngIf="showComments && tabSwitcher.selectedIndex === 2">

      <market-listing-comments [listingHash]="details.hash" [marketReceiveAddress]="details.marketAddress" [listingSellerAddress]="details.seller"></market-listing-comments>

    </div><!-- .tab-content.questions-answers -->

  </div><!-- .product-details -->
</mat-dialog-content>


<mat-dialog-actions>

  <div class="left">

    <ng-container *ngIf="displayActions.governance && !itemExpiry.hasExpired">

      <button mat-button class="small icon-only"
              [color]="details.governance.proposalHash.length > 0 ? 'warn' : 'basic'" appDebounceClick (debounceClick)="actionFlagItem()"
              [matTooltip]="details.governance.proposalHash.length > 0 ? 'Item has been reported' : 'Report'"
              matTooltipPosition="above">
        <mat-icon fontSet="partIcon" fontIcon="part-flag" [class.active]="details.governance.proposalHash.length > 0"></mat-icon>
      </button>

      <div class="reporting" *ngIf="details.governance.proposalHash.length > 0">
        <!-- Reported, not voted yet by user -->
        <div *ngIf="details.governance.voteCast < 0">
          <span class="title"><strong>Item reported</strong> as inappropriate, please vote:</span>
          <button mat-button class="small" color="primary" appDebounceClick (debounceClick)="actionVoteItem('KEEP')" matTooltip="Item is fine and should stay on Market">
            <mat-icon fontIcon="part-thumb-up"></mat-icon>
            Keep it
          </button>
          <button mat-button class="small" color="warn" appDebounceClick (debounceClick)="actionVoteItem('REMOVE')" matTooltip="Item is inappropriate/illegal and should be removed from Market">
            <mat-icon fontIcon="part-thumb-down"></mat-icon>
            Remove it
          </button>
        </div>
        <!-- Reported & voted already -->
        <div *ngIf="details.governance.voteCast >= 0" class="voted">
          <p *ngIf="details.governance.voteCast === details.governance.voteOptionRemove">
            <button mat-button class="small icon-only" color="primary" appDebounceClick (debounceClick)="actionVoteItem('KEEP')"
              matTooltip="I've changed my mind, the item is fine and should stay on Market">
              <mat-icon fontIcon="part-thumb-up"></mat-icon>
            </button>
            I've changed my mind, the item is fine and should stay on Market
          </p>
          <p *ngIf="details.governance.voteCast === details.governance.voteOptionKeep">
            <button mat-button class="small icon-only" color="warn" appDebounceClick (debounceClick)="actionVoteItem('REMOVE')"
              matTooltip="I've changed my mind, the item is inappropriate/illegal and should be removed from Market">
              <mat-icon fontIcon="part-thumb-down"></mat-icon>
            </button>
            I've changed my mind, the item is inappropriate/illegal and should be removed from Market
          </p>
        </div>
      </div><!-- .reporting -->

    </ng-container>

  </div>

  <div class="right" fxLayout fxLayoutAlign="end center">
    <button *ngIf="displayActions.fav" class="favorite" mat-button
          [color]="details.favouriteId > 0 ? 'warn' : 'basic'" appDebounceClick (debounceClick)="actionToggleFavItem()"
          [matTooltip]="details.favouriteId > 0 ? 'Remove from Favorites' : 'Add to Favorites'" matTooltipPosition="above">
      <mat-icon class="fav icon" fontSet="partIcon"
            [fontIcon]="details.favouriteId > 0 ? 'part-heart' : 'part-heart-outline'"
            [ngClass.active]="details.favouriteId > 0"></mat-icon>
      <ng-container *ngIf="+details.favouriteId > 0; else favouriteSaveLabel">Saved</ng-container><ng-template #favouriteSaveLabel>Save</ng-template>
    </button>

    <ng-container *ngIf="displayActions.cart">
      <!-- if mine, show message instead of "add to cart" button -->
      <button mat-button disabled *ngIf="details.isOwner">
        <mat-icon fontIcon="part-circle-info"></mat-icon>
        This is your own listing
      </button>

      <!-- @TODO: can we disable the button and switch label to "Added to Cart" after it has been added to cart? -->
      <button mat-raised-button *ngIf="!details.isOwner" [disabled]="itemExpiry.hasExpired" appDebounceClick (debounceClick)="actionAddItemToCart()" color="primary">
        <mat-icon fontIcon="part-cart"></mat-icon>
        Add to Cart
      </button>
    </ng-container>
  </div>

</mat-dialog-actions>
