@import './src/assets/_config'; // import shared colors etc.

// ------ VERSIONS ------ //

.client-version {
  @extend %enable-select;
  margin: 0 0 14px;
  padding: 14px 24px 0;
  display: block;
  font-size: 11.5px;
  line-height: 1.6;
  color: var(--text-muted);
  .version {
    @extend %tfx;
    color: hsla(var(--color-white-hsl), 0.5);
    margin-left: 2px;
    &:hover {
      color: var(--color-white);
    }

    .selectable {
      @extend %enable-select;
    }

    // version check indicator
    .dot {
      @extend %tfx;
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      position: relative;
      top: -1px;
      margin: 0 5px 0 2px;
      background: hsla(var(--text-muted-hsl), 0.8);
    }
    &.current {
      &:hover {
        .dot {
          background: var(--color-primary);
        }
      }
    }
    &.outdated {
      font-weight: 700;
      color: var(--color-white);
      .dot {
        background: var(--color-warning);
        &::after {
          content: '';
          animation: pulse-fade 1s infinite;
          width: 6px;
          height: 6px;
          display: block;
          border-radius: 50%;
          border: 1.5px solid var(--color-warning);
          position: absolute;
          top: -2px;
          left: -2px;
        }
      }
    }
    &.unknown {
      color: var(--color-white);
      .dot {
        background: var(--color-alert);
        &::after {
          content: '';
          animation: pulse-fade 1s infinite;
          width: 6px;
          height: 6px;
          display: block;
          border-radius: 50%;
          border: 1.5px solid var(--color-alert);
          position: absolute;
          top: -2px;
          left: -2px;
        }
      }
    }
  }
}
