<app-header class="disable-select">
  <mat-tab-group (selectChange)="changeTab($event.index)">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-attach"></mat-icon>
        Your cart
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-add-account"></mat-icon>
        Orders
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-heart"></mat-icon>
        Favourites
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</app-header>


<!-- =========== CART =========== -->

<div class="your-cart container-block disable-select" *ngIf="tabLabels[selectedTab] == 'cart'">
  <mat-horizontal-stepper linear class="no-bg">
    <!-- Overwrite default Stepper icons: https://material.angular.io/components/stepper/overview#overriding-icons -->
    <ng-template matStepperIcon="edit">
      <custom-icon><mat-icon class="icon" fontSet="partIcon" fontIcon="part-check"></mat-icon></custom-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
      <custom-icon><mat-icon class="icon" fontSet="partIcon" fontIcon="part-pen-1"></mat-icon></custom-icon>
    </ng-template>

    <!-- Your cart -->
    <mat-step [stepControl]="cartFormGroup">
      <form [formGroup]="cartFormGroup" class="cart">
        <ng-template matStepLabel>Your cart</ng-template>

        <div class="no-results" [hidden]="cart.length != 0">
          <p>
            Oh no, your cart is empty! Let's fix this:<br>
            <button mat-button color="primary" (click)="goToListings()">
              <mat-icon class="icon" fontSet="partIcon" fontIcon="part-search"></mat-icon>
              Browse listings for sale
            </button>
          </p>
        </div>

        <div [hidden]="cart.length == 0">
          <table class="cart-items">

            <thead>
              <tr><th>Items</th><th>Price</th><th>Shipping</th><th>Quantity</th><th class="text-right">Total</th><th></th></tr>
            </thead>

            <tbody>
              <tr *ngFor="let listing of cart">
                <td class="item" fxLayout="row" fxLayoutGap="10px" fxLayoutAling="start center">
                  <div class="image" fxFlex="0 0 115px">
                    <img src="data:image/gif;base64,{{getImage(listing)}}">
                  </div>
                  <div class="info" fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="center start">
                    <div class="title">
                      {{listing.ItemInformation.title}}
                    </div>
                    <div class="category">
                      {{listing.ItemInformation.ItemCategory.name}}
                    </div>
                  </div>
                </td>
                <td class="price cell">
                  {{getPrice(listing).int}}.<small>{{getPrice(listing).cents}}</small> PART
                </td>
                <!-- cannot determine if user is domestic or international -->
                <!-- TODO: swap shipping address selection and cart -->
                <td class="shipping cell TO_DO">2.<small>4203</small> PART</td>
                <td class="quantity cell TO_DO">
                  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <!--button mat-button class="small">-</button-->
                    <mat-form-field class="auto-width">
                      <input matInput type="number" value="1" min="1" formControlName="firstCtrl" required>
                    </mat-form-field>
                    <!--button mat-button class="small">+</button-->
                  </div>
                </td>
                <td class="total cell TO_DO">202.<small>4203</small> PART</td>
                <td class="remove">
                  <button mat-button color="warn" class="small" matTooltip="Remove from cart" matTooltipPosition="above" (click)="removeFromCart(listing.id)">
                    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>

          </table>

          <div class="order-detail"
               fxLayout fxLayoutAlign="end center">
            <table class="subtotals" fxFlex="0 0 250px">
              <tr><td class="desc">Subtotal</td><td class="value">
                {{getSubTotal().toFixed(8)}} PART
              </td></tr>
              <tr><td class="desc TO_DO">Shipping total</td><td class="value">2.<small>153</small> PART</td></tr>
              <tr><td class="desc TO_DO">Escrow (?)</td><td class="value">170 PART</td></tr>
              <tr><td class="desc total TO_DO">Total</td><td class="value total">342.<small>153</small> PART</td></tr>
            </table>
          </div><!-- .order-detail -->

          <div class="action-buttons" fxLayoutAlign="space-between center" fxLayoutGap="8px">
            <button mat-button class="TO_DO">
              <mat-icon class="icon" fontSet="partIcon" fontIcon="part-clear-all"></mat-icon>
              Clear cart
            </button>
            <button mat-raised-button color="primary" matStepperNext>
              <mat-icon class="icon" fontSet="partIcon" fontIcon="part-next-single"></mat-icon>
              Continue to shipping
            </button>
          </div>
        </div>
      </form>
    </mat-step>

    <!-- Shipping details -->
    <mat-step [stepControl]="shippingFormGroup">
      <form [formGroup]="shippingFormGroup" class="shipping">
        <ng-template matStepLabel>Shipping details</ng-template>
        <div fxLayout="row" fxLayoutGap="30px">
          <div class="shipping-profile" fxFlex>
            <mat-card>
              <div class="title">Choose shipping profile</div>
              <mat-form-field class="full-width">
                <mat-select placeholder="Select saved shipping address profile"
                disabled="{{ !profile.ShippingAddresses || profile.ShippingAddresses.length === 0 }}">
                  <mat-option *ngFor="let address of profile.ShippingAddresses"
                  [value]="address.title" (click)="fillAddress(address)">
                    {{address.title}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <p class="widget-help">
                To save time, you can save your frequently used shipping addresses as your personal shipping profiles. You can create as much profiles as you need (e.g. home address, office address etc.).
              </p>
              <p class="widget-help">
                To create a new shipping profile, fill out the form on the right and check "Save shipping profile".
              </p>
            </mat-card>
          </div><!-- .shipping-profile -->

          <div class="shipping-info" fxFlex>
            <mat-card>
              <div class="title">Or enter new shipping address</div>
              <div class="row" fxLayout fxLayoutGap="30px">
                <!-- FIXME: First and Last name should be required as well (waiting for dapp shell integration) -->
                <mat-form-field class="full-width" fxFlex>
                  <input matInput placeholder="First name">
                </mat-form-field>
                <mat-form-field class="full-width" fxFlex>
                  <input matInput placeholder="Last name">
                </mat-form-field>
              </div>
              <mat-form-field class="full-width">
                <input matInput formControlName="addressLine1" placeholder="Address line 1">
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput formControlName="addressLine2" placeholder="Address line 2">
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput formControlName="city" placeholder="City">
              </mat-form-field>
              <div class="row" fxLayout fxLayoutGap="30px">
                <mat-form-field class="full-width" fxFlex>
                  <input matInput formControlName="zipCode" placeholder="ZIP / Postal code">
                </mat-form-field>
                <mat-form-field class="full-width" fxFlex>
                  <input matInput formControlName="state" placeholder="State">
                </mat-form-field>
              </div>
              <mat-form-field class="full-width">
                <mat-select formControlName="countryCode" placeholder="Country">
                  <mat-option value="US">United States of America</mat-option>
                  <mat-option value="FR">France</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="sub-section" fxLayout fxLayoutGap="30px" fxLayoutAlign="center center">
                <mat-checkbox formControlName="save" fxFlex>Save as shipping profile</mat-checkbox>
                <mat-form-field class="full-width" fxFlex>
                  <input matInput formControlName="title" placeholder="Shipping profile name">
                </mat-form-field>
              </div>
            </mat-card>
          </div><!-- .shipping-info -->

        </div>

        <div class="action-buttons" fxLayoutAlign="space-between center" fxLayoutGap="8px">
          <button mat-button matStepperPrevious>
            <mat-icon class="icon" fontSet="partIcon" fontIcon="part-previous-single"></mat-icon>
            Back to cart
          </button>
          <button mat-raised-button color="primary" matStepperNext (click)="updateShippingProfile()">
            <mat-icon class="icon" fontSet="partIcon" fontIcon="part-next-single"></mat-icon>
            Continue to checkout
          </button>
        </div>
      </form>
    </mat-step>

    <!-- Confirmation/Payment -->
    <mat-step>
      <form class="confirmation">
        <ng-template matStepLabel>Confirm & Payment</ng-template>
        <table class="cart-items summary">
          <thead>
            <tr><th>Items</th><th>Price</th><th>Shipping</th><th>Quantity</th><th class="text-right">Total</th></tr>
          </thead>
          <tbody>
            <tr>
              <td class="item" fxLayout="row" fxLayoutGap="10px" fxLayoutAling="start center">
                <div class="image" fxFlex="0 0 115px">
                  <img src="./assets/images/placeholder_1-1.jpg">
                </div>
                <div class="info" fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="center start">
                  <div class="title">Product name</div>
                  <div class="category">Category, Name, Electronics</div>
                </div>
              </td>
              <td class="price cell">200.<small>4203</small> PART</td>
              <td class="shipping cell">2.<small>4203</small> PART</td>
              <td class="quantity cell">1 &times;</td>
              <td class="total cell">404.<small>8406</small> PART</td>
            </tr>
            <tr>
              <td class="item" fxLayout="row" fxLayoutGap="10px" fxLayoutAling="start center">
                <div class="image" fxFlex="0 0 115px">
                  <img src="./assets/images/placeholder_1-1.jpg">
                </div>
                <div class="info" fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="center start">
                  <div class="title">This product name is quite longer than usual, but still looks pretty much OK</div>
                  <div class="category">Category, Name, Electronics</div>
                </div>
              </td>
              <td class="price cell">200.<small>4203</small> PART</td>
              <td class="shipping cell">2.<small>4203</small> PART</td>
              <td class="quantity cell">2 &times;</td>
              <td class="total cell">202.<small>4203</small> PART</td>
            </tr>
          </tbody>
        </table>

        <div class="order-detail" fxLayout fxLayoutAlign="space-between start" fxLayoutGap="20px">

          <div class="order-narration TO_DO" fxFlex="0 0 250px">
            <div class="title">Note to seller</div>
            <mat-form-field class="full-width" floatPlaceholder="never">
              <input type="text" matInput placeholder="Narration (optional)" maxlength="24">
              <mat-hint align="end">0 / 24</mat-hint>
            </mat-form-field>
          </div>

          <div class="shipping-overview" fxFlex="0 0 250px">
            <div class="title">Shipping address</div>
            <p class="address">First Lastname<br>Address, City, State<br>ZIP/Postal code, Country</p>
          </div>

          <table class="subtotals" fxFlex="0 0 250px">
            <tr><td class="desc">Subtotal</td><td class="value">170 PART</td></tr>
            <tr><td class="desc">Shipping total</td><td class="value">2.<small>153</small> PART</td></tr>
            <tr><td class="desc">Escrow (?)</td><td class="value">170 PART</td></tr>
            <tr><td class="desc total">Total</td><td class="value total">342.<small>153</small> PART</td></tr>
          </table>

        </div><!-- .order-detail -->

        <div class="action-buttons" fxLayoutAlign="space-between center" fxLayoutGap="8px">
          <button mat-button matStepperPrevious>
            <mat-icon class="icon" fontSet="partIcon" fontIcon="part-previous-single"></mat-icon>
            Back to shipping
          </button>
          <!-- TODO: after clicking the "confirm" button, payment confirmation modal should pop out with all the details -->
          <button mat-raised-button color="primary" class="TO_DO">
            <mat-icon class="icon" fontSet="partIcon" fontIcon="part-next-single"></mat-icon>
            Confirm & Pay
          </button>
        </div>
      </form>
    </mat-step>


  </mat-horizontal-stepper>
</div><!-- "Your cart" tab -->


<!-- =========== ORDERS =========== -->

<div class="container-block disable-select" fxLayout fxLayoutGap="30px" *ngIf="tabLabels[selectedTab] == 'orders'">

  <!-- Orders > Filter -->
  <div class="filter" fxFlex="0 0 230px">

    <div class="section search-sorting">
      <div class="subtitle first">Search &amp; sort</div>
      <mat-card class="filter-card">
        <mat-form-field class="icon-input filter-input" floatPlaceholder="never">
          <input matInput type="text" class="header-input" placeholder="Search orders" [(ngModel)]="filters.search" (keyup.enter)="filter()" (keyup.escape)="filters.search = ''; filter()">
          <mat-icon *ngIf="filters.search" matTooltip="Clear" fontSet="partIcon" fontIcon="part-clear-all" (click)="filters.search=''; filter()"></mat-icon>
          <mat-icon *ngIf="!filters.search" matTooltip="Search" fontSet="partIcon" fontIcon="part-search" (click)="filter()"></mat-icon>
        </mat-form-field>
        <mat-form-field class="sort-by filter-input" floatPlaceholder="never">
          <mat-select placeholder="Sort orders">
            <mat-option *ngFor="let sorting of order_sortings" [value]="sorting.value">
              {{ sorting.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
    </div>

    <div class="section filter-by-type">
      <div class="subtitle">Filter by status</div>
      <mat-card class="filter-card">
        <mat-radio-group class="radio-group block-radio">
          <mat-radio-button class="filter-option" *ngFor="let status of order_filtering" value="{{ status.value }}">
            {{ status.title }}
            <!-- FIXME: show amount (below) only if higher than 1 -->
            <span class="amount">{{ status.amount }}</span>
          </mat-radio-button>
        </mat-radio-group>
      </mat-card>
    </div><!-- .filter-by-type -->

    <button mat-button color="warn" class="clear-filters" (click)="clear()">
      <mat-icon fontSet="partIcon" fontIcon="part-clear-all"></mat-icon>
      Clear all filters
    </button>

  </div><!-- .filter -->

  <!-- Orders > list -->
  <div class="orders list section" fxFlex="1 1 100%">

    <div class="no-results">
      You don't have any market orders yet
    </div>

    <mat-expansion-panel class="order item no-padding" *ngFor="let order of orders">
      <mat-expansion-panel-header class="header">
        <div class="header-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="photo" fxFlex="0 0 80px">
            <img src="./assets/images/placeholder_1-1.jpg">
          </div>
          <div class="meta" fxFlex="1 1 100%">
            <div class="name">{{ order.name }}</div>
            <div class="date">
              <!-- TODO: 3-letter "hash" as semi-unique order ID (generated randomly or e.g. by first letters of TXID) + randomized background color based on the hash -->
              <span class="hash {{ order.hash_bg }}" matTooltip="Order hash">{{ order.hash }}</span>
              Added 2018-02-19 &bull; Updated 2018-02-13
            </div>
          </div>
          <div class="status {{ order.status }}" fxFlex="0 0 120px"><span>&bull;</span>{{ order.status }}</div>
        </div>
      </mat-expansion-panel-header>

      <div class="status-info">
        <p>{{ order.status_info }}</p>
      </div>

      <div class="detail" fxLayout="row" fxLayoutGap="30px">
        <div class="buyer-info" fxFlex="27%">
          <div class="title">Shipping address</div>
          <p>Mr. Longname Buyer<br>Particl Avenue X/144<br>5RFG4 United Cryptocity<br>Universe</p>
        </div><!-- .buyer-info -->
        <div class="info" fxFlex="35%">
          <div class="title">Price & Qty</div>
          <table class="prices">
            <tr><th>Quantity</th><td>2</td></tr>
            <tr><th>Price per item</th><td>23.<small>1285</small> PART</td></tr>
            <tr><th>Total price</th><td>46.<small>257</small> PART</td></tr>
          </table>
        </div>
        <div class="order-history" fxFlex="32%">
          <div class="title">Order history</div>
          <table>
            <!--tr><td class="date">2018-02-24</td><td class="status shipped">Sold</td></tr-->
            <!--tr><td class="date">2018-02-14</td><td class="status shipped">Shipped</td></tr-->
            <tr><td class="date">2018-02-11</td><td class="status escrow">In escrow</td></tr>
            <tr><td class="date">2018-02-10</td><td class="status bidding">Bidding</td></tr>
          </table>
        </div>
      </div>

      <mat-action-row fxLayout fxLayoutAlign="space-between stretch">
        <div class="left">
          <button mat-button color="warn" matTooltip="Reject & cancel order" class="small">
            <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
          </button>
          <button mat-button matTooltip="Edit order" class="small">
            <mat-icon fontSet="partIcon" fontIcon="part-pen-1"></mat-icon>
            Edit
          </button>
          <!-- TODO: link to TX ID on block explorer (if payment was made already) -->
          <button mat-button matTooltip="View payment ID" class="small">
            <mat-icon fontSet="partIcon" fontIcon="part-stake"></mat-icon>
          </button>
          <!-- TODO: shortcut to e2e message to buyer -->
          <button mat-button class="small">
            <mat-icon fontSet="partIcon" fontIcon="part-person-edit"></mat-icon>
            Contact buyer
          </button>
        </div>
        <div class="right">
          <!-- TODO: after clicking, show confirmation modal with more info: -->
          <button mat-raised-button color="primary" matTooltip="{{ order.action_tooltip }}" [disabled]="order.action_disabled">
            <mat-icon fontSet="partIcon" fontIcon="{{ order.action_icon }}"></mat-icon>
            {{ order.action_button }}
          </button>
        </div>
      </mat-action-row>
    </mat-expansion-panel><!-- .order -->

  </div><!-- .orders.list -->
</div><!-- "Orders" tab -->


<!-- =========== FAVOURITES =========== -->

<div class="favourites container-block disable-select" *ngIf="tabLabels[selectedTab] == 'favourites'" fxLayout="row wrap" fxLayoutAlign="start start">
  <div class="no-results">
    <p>
      You don't have any favourite listings yet
    </p>
  </div>
  <ng-container *ngFor="let l of listings">
    <mat-card class="listing" fxFlex="0 0 calc(100% / 4 - 30px)">
      <app-preview-listing [listing]="l"></app-preview-listing>
    </mat-card>
  </ng-container>
</div><!-- "Favourites" tab -->
