<app-header>
  <div class="tab-bar">
    <mat-tab-group (selectedTabChange)="changeTab($event.index)" [selectedIndex]="selectedTab">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-cart"></mat-icon>
          Your cart
          <!-- TODO? add current number of items in cart: -->
          <!--span class="tag to-do">2</span-->
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-hamburger"></mat-icon>
          Orders
          <!--app-order-count [type]="'buy'" class="tag"></app-order-count-->
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-heart-outline"></mat-icon>
          Favourites
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-header>


<!-- =========== CART =========== -->

<div class="your-cart with-tab-bar" *ngIf="tabLabels[selectedTab] == 'cart'">
  <app-checkout-process (onOrderPlaced)="changeTab($event)"></app-checkout-process>
</div><!-- "Your cart" tab -->


<!-- =========== ORDERS =========== -->

<div class="container-block with-tab-bar" *ngIf="tabLabels[selectedTab] == 'orders'">

  <div class="page-intro">
    <h1>Buy Orders</h1>
    <div class="content">
      <p>
        This is where you manage the orders you're in the process of buying from other vendors on the marketplace.
      </p>
      <p class="widget-help">
        Each step of the purchasing process needs to be confirmed in this page (i.e. marking an order as "Delivered").
      </p>
    </div>
  </div><!-- .page-intro -->
  
  <app-orders type="buy"></app-orders>
</div><!-- "Orders" tab -->


<!-- =========== FAVORITES =========== -->

<div class="favourites container-block with-tab-bar"
     *ngIf="tabLabels[selectedTab] == 'favourites'">

  <div class="page-intro">
    <h1>Your Favourites</h1>
    <div class="content">
      <p>
        Save your favourite listings to easily access them later on.
      </p>
      <p class="widget-help">
        Note that marketplace listings have a limited lifetime (they expire after some time), so make sure to check back here often as they might not be available on the marketplace anymore.
      </p>
    </div>
  </div><!-- .page-intro -->

  <div class="no-results" *ngIf="favorites === undefined || favorites?.length == 0">
    <p>
      You don't have any favourite listings yet
    </p>
    <p class="widget-help">
      To add an item to favourites, click on the <mat-icon class="icon" fontSet="partIcon" fontIcon="part-heart-outline-add"></mat-icon> icon
    </p>
  </div>

  <div *ngIf="favorites !== undefined && favorites.length != 0" class="grid-container">
    <ng-container *ngFor="let favorite of favorites">

      <mat-card class="listing">
        <app-listing-item [listing]="favorite"></app-listing-item>
      </mat-card>

    </ng-container>
  </div>

</div><!-- "Favourites" tab -->
