<app-header>
  <div class="tab-bar">
    <mat-tab-group (selectedTabChange)="changeTab($event.index)" [selectedIndex]="selectedTab">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-cart"></mat-icon>
          Your cart
          <!-- TODO? add current number of items in cart: -->
          <!--span class="tag TO_DO">2</span-->
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-hamburger"></mat-icon>
          Orders
          <!--app-order-count [type]="'buy'" class="tag"></app-order-count-->
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-heart-outline"></mat-icon>
          Favourites
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-header>


<!-- =========== CART =========== -->

<div class="your-cart with-tab-bar" *ngIf="tabLabels[selectedTab] == 'cart'">
  <app-checkout-process (onOrderPlaced)="changeTab($event)"></app-checkout-process>
</div><!-- "Your cart" tab -->


<!-- =========== ORDERS =========== -->

<div class="container-block with-tab-bar" *ngIf="tabLabels[selectedTab] == 'orders'">
  <app-orders type="buy"></app-orders>
</div><!-- "Orders" tab -->


<!-- =========== FAVORITES =========== -->

<div class="favourites container-block with-tab-bar"
     *ngIf="tabLabels[selectedTab] == 'favourites'">

  <div class="no-results" *ngIf="favorites === undefined || favorites?.length == 0">
    <p>
      You don't have any favourite listings yet
    </p>
    <p class="widget-help">
      To add an item to favourites, click on the <mat-icon class="icon" fontSet="partIcon" fontIcon="part-heart-outline-add"></mat-icon> icon
    </p>
  </div>

  <div *ngIf="favorites !== undefined && favorites.length != 0" fxLayout="row wrap" fxLayoutAlign="start start">
    <ng-container *ngFor="let favorite of favorites">
      <mat-card class="listing" fxFlex="0 0 calc(100% / 4 - 30px)">
        <app-listing-item [listing]="favorite"></app-listing-item>
      </mat-card>
    </ng-container>
  </div>

</div><!-- "Favourites" tab -->
