@import "./src/assets/_config"; // import shared colors etc.
@import "./src/app/wallet/shared/_filter-sorting"; // filtering & sorting

$fixed-sidebar-width: 230px;
$sidebar-margin: 35px;

// ------ LAYOUT ------ //

.container-block {
  position: relative;
  padding: 35px;
  display: flex;
  @include break(l) {
    padding: 45px 50px;
  }
}

.sidebar {
  width: $fixed-sidebar-width;
  position: fixed;
  /*
  flex: 0 0 230px;
  @include break(l) {
    flex: 0 0 270px;
  }
  */
  .new-proposal {
    margin-bottom: 25px;
  }
  .only-official { // filter > show only official proposals
    margin: 6px 0;
    display: inline-block;
  }
}

.content {
  width: 100%;
  max-width: calc(100% - (#{$fixed-sidebar-width} + #{$sidebar-margin}));
  margin-left: $fixed-sidebar-width + $sidebar-margin;
  /*
  flex: 1 1 100%;
  margin-left: 35px;
  @include break(l) {
    margin-left: 55px;
  }
  */
}

.loading-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 800;
  height: 7px;
}
