@import './src/assets/_config'; // import shared colors etc.
@import './src/app/wallet/shared/_filter-sorting'; // filtering & sorting


// ------ LAYOUT ------ //

.filter {
  .new-proposal {
    margin-bottom: 25px;
  }
  .only-official { // filter > show only official proposals
    margin: 6px 0;
    display: inline-block;
  }
}

.loading-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 800;
  height: 7px;
}
