
  <mat-tab-group (selectChange)="changeTab($event.index)" style="margin-top: 60px;">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-listings"></mat-icon>
        test1
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-hamburger"></mat-icon>
        test2
      </ng-template>
    </mat-tab>
  </mat-tab-group>

<!--mat-progress-bar mode="indeterminate" *ngIf="isLoading" class="loading-bar"></mat-progress-bar-->


<div fxLayout="row" fxLayoutGap="30px" class="container-block">

  <!-- Listings > Filter -->
  <div class="filter" fxFlex="0 0 230px">

    <div class="sell-item">
      <button mat-raised-button color="primary" (click)="addProposal()" class="full-width"
              matTooltip="Enter a new item for sale" matTooltipPosition="above">
        <mat-icon fontSet="partIcon" fontIcon="part-circle-plus"></mat-icon>
        Add new Proposal
      </button>
    </div>

 </div><!-- .container-block -->
</div>

<!--mat-progress-bar mode="indeterminate" class="loading-bar"></mat-progress-bar-->
