<div class="installer">

  <div class="sidebar">
    <img class="logo" src="./assets/particl-logo-vertical.svg">
    <div class="progress">
      <div class="step first" [ngClass]="{'active': step === 0, 'done': step > 0}">
        <div class="number">1</div>
        <div class="desc">Create/restore</div>
      </div>
      <div class="step" [ngClass]="{'active': step === 1, 'done': step > 1}">
        <div class="number">2</div>
        <div class="desc">Name wallet</div>
      </div>
      <div class="step" [ngClass]="{'active': step === 2, 'done': step > 2}">
        <div class="number">3</div>
        <div class="desc">Recovery Phrase</div>
      </div>
      <div class="step" [ngClass]="{'active': step === 4, 'done': step > 4}">
        <div class="number">4</div>
        <div class="desc">Recovery Password</div>
      </div>
      <div class="step" [ngClass]="{'active': step === 5, 'done': step > 5}">
        <div class="number">5</div>
        <div class="desc">Encrypt wallet</div>
      </div>
      <div class="step" [ngClass]="{'active': step === 6, 'done': step > 6}">
        <div class="number">6</div>
        <div class="desc">Basic settings</div>
      </div>
      <div class="step last" [ngClass]="{'active': step === 7}">
        <div class="number">7</div>
        <div class="desc">Summary</div>
      </div>
    </div>
  </div>

  <div class="content">


<!-- STEP 0: Choose action -->
<ng-template [ngIf]="step === 0">
  <div class="title">Create or restore wallet</div>
  <div class="container-block">
    <p>
      In order to connect to Particl network, you need to have a wallet. If you're using Particl for the first time, create a new wallet or restore existing wallet (using your Recovery Passphrase) if you have one already. You can create as many wallets as you need.
    </p>
    <p class="widget-help" *ngIf="!isCrypted">
      It is recommended to
      <button mat-button color="basic" class="small" (click)="initialize(0);">
        <mat-icon fontSet="partIcon" fontIcon="part-lock"></mat-icon>
        Encrypt wallet
      </button>
      before creating or restoring a wallet, in order to not leave any possible key fragments lying around.
    </p>
    <div class="huge action-buttons">
      <mat-card class="create half">
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-add-account"></mat-icon>
        <div class="choice-title">Create wallet</div>
        <p class="choice-desc">
          You don't have a&nbsp;wallet yet and/or you want to create a&nbsp;new one
        </p>
        <button mat-raised-button color="primary" (click)="initialize(1);">
          <mat-icon fontSet="partIcon" fontIcon="part-add-account"></mat-icon>
          Create new wallet
        </button>
      </mat-card>
      <mat-card class="restore half">
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-refresh"></mat-icon>
        <div class="choice-title">Restore wallet</div>
        <p class="choice-desc">
          If you already have existing wallet seed (Recovery Phrase) that you would like to restore
        </p>
        <button mat-raised-button color="accent" (click)="initialize(2);">
          <mat-icon fontSet="partIcon" fontIcon="part-refresh"></mat-icon>
          Restore wallet
        </button>
      </mat-card>
    </div><!-- .huge.action-buttons -->
  </div><!-- .container-block -->
</ng-template><!-- step 0 -->


<!-- STEP 1: Create/restore wallet -->
<ng-template [ngIf]="step === 1">
  <form #nameForm="ngForm" (ngSubmit)="nextStep()">

    <div class="title">Name your wallet</div>
    <div class="container-block">
      <p>
        Naming your wallets is useful, when you want to use multiple wallets &ndash; this helps you to separate e.g. your personal and market funds.<br>
        Short and descriptive names work the best!
      </p>
      <mat-card class="wallet-name">
        <p class="warning" *ngIf="validation.errors && (validation.dirty || validation.touched)">
          Wallet name is required
        </p><!-- validation errors -->
        <div class="box-title">Choose wallet name</div>
        <mat-form-field>
          <input matInput #nameField #validation="ngModel" [(ngModel)]="name" name="name" placeholder="Wallet name (required)" required maxlength="32" [class.verify-error]="validation.errors && (validation.dirty || validation.touched)"/>
        </mat-form-field> 
        <p class="widget-help">
          Wallet name should contain only letters, numbers, spaces (<code> </code>), dashes (<code>-</code>) and underscores (<code>_</code>).
        </p>     
      </mat-card>
    </div><!-- .container-block -->
    
    <div class="action-buttons" fxLayoutAlign="space-between center">
      <button mat-button (click)="prevStep()">
        <mat-icon fontSet="partIcon" fontIcon="part-previous-single"></mat-icon>
        Back
      </button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!nameForm.form.valid">
        <mat-icon fontSet="partIcon" fontIcon="part-next-single"></mat-icon>
        Continue
      </button>
    </div><!-- .action-buttons -->
  </form>
</ng-template><!-- step 1 -->


<!-- STEP 2-3 (Create): Recovery Phrase -->
<ng-template [ngIf]="[2,3,4].indexOf(step) != -1 && !isRestore">

  <div class="title" *ngIf="step === 2">Recovery Phrase</div>
  <div class="title" *ngIf="step === 3">Confirm Recovery Phrase</div>
  <div class="title" *ngIf="step === 4">Choose a Recovery Password <small>(optional)</small></div>
  <div class="container-block">

    <div *ngIf="step === 2">
      <p>
        Recovery Phrase (sometimes also called "wallet seed") is a backup key to your coins. Anyone with access to these 24 words can recover your wallet, so make sure they are safe and ideally backed-up on multiple locations.
      </p>
      <p class="widget-help">
        You can further increase security of your Recovery Phrase in the next step.
      </p>
    </div>

    <div *ngIf="step === 3">
      <p>
        Confirm that you backed up your Recovery Phrase by filling in the missing words:
      </p>
      <p class="widget-help">
        If you're not absolutely sure, that you have all Recovery Passphrase words correctly saved, you can always go one step back and automatically generate new words.
      </p>
    </div>

    <!-- Passphrase (step 2-3) -->
    <ng-template [ngIf]="[2,3].indexOf(step) != -1">
      <mat-card class="action-card">
        <app-passphrase
          #passphraseComponent
          [readOnly]="step === 2"
          [words]="words"
          [partialDisable]="step === 3"
          [generate]="true">
        </app-passphrase>
        <p class="warning bottom" *ngIf="step === 2">
          It's only up to you to keep these words safe! If you lose them (or someone steals them),<br>
          Particl can't help you recover your funds! You have been warned.
        </p>
      </mat-card>
    </ng-template>

    <!-- Recovery Password (step 4) -->
    <div *ngIf="step === 4">
      <p>
        You can further increase your wallet protection by setting a Recovery Password.<br>
        It will be needed together with Recovery Phrase to access your coins.
      </p>
      <p class="widget-help">
        Note that you can safely skip this step, but it is recommended to choose a Recovery Password as it keeps your coins safer.
      </p>
      <mat-card class="action-card">
        <div class="box-title">Choose Recovery Password</div>
        <!-- Password -->
        <app-password
          #passwordElement
          label="Recovery Password (optional)"
          [emitPassword]="true"
          [showPass]="toggleShowPass"
          (passwordEmitter)="passwordFromEmitter($event)"
          (showPasswordToggle)="showPasswordToggle($event)"
          [showStakeOnly]="false">
        </app-password>
        <!-- Password comfirmation -->
        <app-password
          #passwordElementVerify
          label="Verify Password"
          [emitPassword]="true"
          [showPass]="toggleShowPass"
          [showPassword]="true"
          (passwordEmitter)="passwordFromEmitter($event, true)"
          [showStakeOnly]="false">
        </app-password>
        <p class="warning bottom">
          If you set up a Recovery Password, be sure to keep it safe along with your Recovery Phrase. If you forget any of these, you won't be able to access your coins!
        </p>
      </mat-card><!-- .action-card -->
    </div>
    
  </div><!-- .container-block -->

  <p *ngIf="!!errorString" [@slideDown] class="warning">
    {{ errorString }}
  </p>
  <div class="action-buttons" fxLayoutAlign="space-between center">
    <button mat-button (click)="prevStep()">
      <mat-icon fontSet="partIcon" fontIcon="part-previous-single"></mat-icon>
      Back
    </button>
    <button mat-raised-button color="primary" (click)="nextStep()" [disabled]="!validate()"> <!-- TODO: Move sendPassword to .ts   -->
      <mat-icon fontSet="partIcon" fontIcon="part-next-single"></mat-icon>
      Continue
    </button>
  </div>

</ng-template><!-- Step 2,3 & 4 -->


<!-- STEP 2-4 (Restore) -->
<ng-template [ngIf]="step === 4 && isRestore">
  <div class="title">Restore existing wallet</div>
  <div class="container-block">

    <div class="recovery-phrase">
      <app-passphrase
        #passphraseComponent
        [words]="words"
        [generate]="false">
      </app-passphrase>
      <p *ngIf="!!errorString" [@slideDown] class="warning">
        {{ errorString }}
      </p>
    </div><!-- .recovery-phrase -->

    <div class="recovery-password">
      <div class="subtitle">Recovery Password</div>
      <p>
        If you set up a Recovery Password during wallet creation as well, enter it below:
      </p>
      <app-password
        #passwordRestoreElement
        label="Recovery Password (optional)"
        [showStakeOnly]="false"
        [emitPassword]="true"
        (passwordEmitter)="passwordFromEmitter($event);nextStep()">
      </app-password>
    </div><!-- .recovery-password -->

  </div>
  <div class="action-buttons" fxLayoutAlign="space-between center">
    <button mat-button (click)="prevStep();initialize(2)">
      <mat-icon fontSet="partIcon" fontIcon="part-previous-single"></mat-icon>
      Back
    </button>
    <button mat-raised-button color="primary" (click)="restoreWallet()" [disabled]="countWords(getCountOfWordsEntered())">
      <mat-icon fontSet="partIcon" fontIcon="part-next-single"></mat-icon>
      Continue
    </button>
  </div>

</ng-template><!-- Step 2,3 & 4 -->


<!-- STEP 5: Gratz -->
<ng-template [ngIf]="step === 5">
  <div class="title">Your wallet is ready</div>
  <div class="container-block">
    <p>
      Congratulations &ndash; your new wallet was created successfully!
    </p>
    <p class="info">
      Please ensure that your Recovery Phrase (and Recovery Password if you've set it up) is written down and stored in a secure location!
    </p>
    <p>
      You can now safely close this wizard and start experiencing Particl!
    </p>
  </div>
  <div class="action-buttons" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" mat-dialog-close>
      <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
      Close
    </button>
  </div>
</ng-template>


<!-- STEP 6 -->
<ng-template [ngIf]="step === 6">
  <app-unlockwallet (unlockEmitter)="importMnemonicSeed($event)" [autoClose]="false">
  </app-unlockwallet>
</ng-template>


  </div><!-- .content -->
</div><!-- .installer -->