@import './src/assets/_config'; // import shared colors etc.

.container-block {
  position: absolute; // fill the whole height (ignore top notification if present)
  top: var(--header-main-height);
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.no-results {
  margin: auto;
  padding: 0;
  border: 0;
  background: none;
}
