@import './src/assets/_config'; // import shared colors etc.
@import './src/app/main-market/shared/list-item-details'; // shared styling for list items

// ------ LISTING ITEM ------ //

.product {
  .header {
    .meta {
      .name {
        margin-bottom: 2px;
        @include break(l) {
          margin-bottom: 3px;
        }
      }
    }
  }
  .detail {
    border-top: 1px dashed var(--bg-muted);
    padding: var(--paddingV) var(--paddingH);
    .item-subtitle {
      margin-top: 0;
    }
    .pricing {
      th,
      td {
        display: block;
        text-align: left;
        @include break(l) {
          display: table-cell;
        }
      }
    }
  }
  .action-buttons {
    justify-content: space-between;
  }
}
