<app-page-intro childPageAlias="Sell Templates">
  <ng-container page-title>Your Inventory &amp; Products</ng-container>
  <ng-container page-content>
    This is your dashboard for selling your Products on the marketplace and manage their Listings.<br>
    To sell, you will need to create a Product template first, which you can later publish as a Listing to any connected Market.
  </ng-container>
  <ng-container page-help>
  </ng-container>
</app-page-intro>

<!-- Listings > Filter -->
<div class="filter">

  <div class="buttons">
    <button mat-raised-button color="primary" routerLink="new-listing" class="full-width">
      <mat-icon fontIcon="part-circle-plus"></mat-icon>
      Add new Product
    </button>
    <button mat-raised-button color="accent" routerLink="import-listings" class="full-width">
      <mat-icon fontIcon="part-image-upload"></mat-icon>
      Import Products
    </button>
  </div><!-- .buttons -->

  <h2 class="section-title">
    Search &amp; sort
  </h2>

  <mat-card class="filter-card">

    <mat-form-field class="--plain" appearance="fill">
      <input matInput type="text" placeholder="Search products" [formControl]="searchQuery" (keyup.escape)="searchQuery.setValue('')">
      <button *ngIf="searchQuery.value.length > 0" matSuffix mat-button class="small" (click)="searchQuery.setValue('')" matTooltip="Clear" matTooltipPosition="after">
        <mat-icon fontIcon="part-clear-all"></mat-icon>
      </button>
      <mat-icon *ngIf="!searchQuery.value.length" matSuffix fontIcon="part-search"></mat-icon>
    </mat-form-field>

    <mat-form-field class="--plain" appearance="fill">
      <mat-select placeholder="Sort products" [formControl]="sortOrder">
        <mat-option *ngFor="let sorting of sortCriteria" [value]="sorting.value">
          {{ sorting.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-card><!-- .filter-card -->

  <h2 class="section-title">
    Filter
  </h2>

  <mat-card class="filter-card">
    <mat-radio-group class="radio-group block-radio" [formControl]="filterStatus">
      <mat-radio-button class="filter-option" *ngFor="let status of filterStatusCriteria" [value]="status.value" color="accent">
        {{ status.title }}
      </mat-radio-button>
    </mat-radio-group>
  </mat-card><!-- .filter-card -->

  <button mat-button color="basic" class="clear-filters" (click)="resetFilters()">
    <mat-icon fontIcon="part-clear-all"></mat-icon>
    Clear all filters
  </button>

</div><!-- .filter -->


<!-- Listings > list -->
<div class="listings section with-filter" *appVar="(savedTemplate$ | async) as allTemplates">

  <div class="list-items-header">
    <div class="left">
      <h2 class="section-title" *ngIf="!batchEditingActive">8 Products in Inventory</h2>
      <!-- @TODO: implement number of currently selected products (or remove altogether) -->
      <h2 class="section-title" *ngIf="batchEditingActive">0 Products selected</h2>
    </div>
    <div class="right">
      <button mat-button class="tiny" (click)="batchEditingActive = !batchEditingActive" *ngIf="!batchEditingActive" [matMenuTriggerFor]="batchActions">
        <mat-icon fontIcon="part-check-2"></mat-icon>
        Batch editing
      </button>
      <div class="action-options" *ngIf="batchEditingActive">
        <mat-form-field class="--plain --smaller" appearance="fill">
          <mat-select placeholder="Select…">
            <mat-option *ngFor="let select of batchSelectCriteria" [value]="select.value">
              {{ select.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button class="tiny" matTooltip="Select action for all selected Products" matTooltipPosition="above" color="accent">
          <mat-icon fontIcon="part-more-horizontal"></mat-icon>
          Batch Action&hellip;
        </button>
        <button mat-button class="tiny icon-only" (click)="batchEditingActive = !batchEditingActive" matTooltip="Cancel batch editing" matTooltipPosition="above">
          <mat-icon fontIcon="part-cross"></mat-icon>
        </button>
      </div><!-- if batchEditingActive-->
    </div>
  </div><!-- .list-item-actions -->

  <!-- Menu with options for batch actions -->
  <!-- @FIXME: doesn't wanna show up for some reason.. -->
  <mat-menu #batchActions="matMenu">
    <button mat-menu-item>
      <mat-icon fontIcon="part-rocket"></mat-icon>
      <span>Publish selected</span>
    </button>
    <button mat-menu-item>
      <mat-icon fontIcon="part-copy"></mat-icon>
      <span>Clone selected</span>
    </button>
    <button mat-menu-item>
      <mat-icon fontIcon="part-circle-remove" color="warn"></mat-icon>
      <span>Delete selected</span>
    </button>
  </mat-menu>



  <mat-expansion-panel class="product list-item no-padding">
    <mat-expansion-panel-header class="header">
      <div class="header-wrapper">
        <div class="photo">
          <img src="./assets/images/placeholder_4-3.jpg">
        </div>
        <div class="meta" fxFlex="1 1 100%">
          <div class="name">Product title or whatever (2 for 1!)</div>
          <span class="help-text">Product's Summary goes here; oh how nice!</span>
        </div>
        <div class="status-wrap" fxFlex="0 0 140px">
          <!-- @TODO status classes:
            - `published` if all market-templates live
            - `expiring` if at least one is close to expiry
            - `expired` if at least one already expired -->
          <div class="status expired --rounded">
            <span class="dot"></span>
            <!-- @TODO: active = published listings/products; total = sum of all listings/products -->
            <span class="active">1</span><span class="total">/2</span>
          </div>
        </div>
        <mat-checkbox class="batch-select" matTooltip="Select Product" *ngIf="batchEditingActive" (click)="$event.stopPropagation()"></mat-checkbox>
      </div>
    </mat-expansion-panel-header>
    <div class="detail">
      <div class="row" fxLayout fxLayoutGap="35px" fxLayoutAlign="space-between flex-start">
        <div class="product-details" fxFlex="37">
          <h3 class="item-subtitle">Gallery</h3>
          <div class="gallery">
            <!-- @TODO: list small thumbnails for Product's gallery for quick preview -->
            <div class="image">
              <img src="./assets/images/placeholder_3-4.jpg">
            </div>
            <div class="image">
              <img src="./assets/images/placeholder_4-3.jpg">
            </div>
            <div class="image">
              <img src="./assets/images/placeholder_1-1.jpg">
            </div>
            <div class="image">
              <img src="./assets/images/placeholder_3-4.jpg">
            </div>
            <div class="image">
              <img src="./assets/images/placeholder_4-3.jpg">
            </div>
          </div>
        </div><!-- .product-details -->
        <div class="inventory-stats" fxFlex="18">
          <h3 class="item-subtitle">Inventory</h3>
          <table class="inventory">
            <!-- @TODO: until we have quantities, keep the infinity symbol -->
            <tr><th>&infin;</th><td>In stock</td></tr>
            <tr><th>&infin;</th><td>Published</td></tr>
            <tr><th>1</th><td>In Orders</td></tr>
            <tr><th>0</th><td>Sold</td></tr>
          </table>
        </div><!-- .inventory-stats -->
        <div class="pricing" fxFlex="45">
          <h3 class="item-subtitle">Pricing</h3>
          <table class="prices">
            <tr>
              <th>Product</th><td>0<small>.4323</small> PART <span class="fiat">(&asymp; 51<small>.00</small> EUR)</span></td>
            </tr>
            <tr>
              <th>Shipping</th>
              <td>
                Local in CZ &ndash; 0<small>.0142</small> PART <span class="fiat">(&asymp; 2<small>.50</small> EUR)</span><br>
                Worldwide &ndash; 0<small>.1562</small> PART <span class="fiat">(&asymp; 5<small>.46</small> EUR)</span>
              </td>
            </tr>
          </table>
        </div><!-- .pricing -->
      </div><!-- .row -->
      <!--details>
        <summary>Show Product description</summary>
        <p class="details">
          -- product description goes here -- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa eius tempora modi error doloribus enim harum necessitatibus minima.
          
          Nobis fugiat vel suscipit reiciendis perferendis ut explicabo veniam facilis. Perferendis incidunt saepe, odit repudiandae fugit cupiditate sequi molestiae laborum quos fugiat vitae illo autem quisquam dolorem nostrum voluptatem placeat veritatis dolores nisi accusantium! Placeat dicta libero ab a, voluptatem eum sit nobis odit ea quibusdam neque ipsam, ex suscipit. Quaerat laborum modi illum ducimus quidem voluptatum animi consequuntur maxime odio, sapiente excepturi facere temporibus vero quas quam assumenda id nam nostrum omnis cum repellendus. Molestias ratione excepturi enim, deserunt dolores assumenda optio temporibus ex omnis, quae facilis recusandae.
          
          - consequatur pariatur, veniam asperiores, nostrum qui voluptatem
          - explicabo voluptatum error saepe consectetur
          - facere
          - nesciunt dicta alias minima molestias
          - 100% officia vitae?
        </p>
      </details-->
    </div><!-- .detail -->
    <section class="market-templates-list">
      <table class="market-templates">
        <tr>
          <th>Status</th>
          <th>Published on</th>
          <th class="category">Category</th>
          <th class="price">Price</th>
          <th class="actions">Actions</th>
        </tr>
        <tr>
          <td>
            <!-- @TODO: status classes: `unpublished | published | expiring | expired` (expiring = expires in <24h) -->
            <!-- for expiring, show "Expires in XX:XX:XX" in tooltip -->
            <span class="status published --plain" matTooltip="Live Listing" matTooltipPosition="before">
              <span class="dot"></span>
            </span>
            <span class="template-name">Allien's Chilli Peppers (200 g)</span>
          </td>
          <td>Particl Open Marketplace</td>
          <td class="category">Food & Nutrition</td>
          <td class="price">12.6851 PART</td>
          <td class="actions">
            <button mat-button class="tiny icon-only" matTooltip="Edit">
              <mat-icon fontIcon="part-pen-1"></mat-icon>
            </button>
            <button mat-button class="tiny icon-only" matTooltip="Clone">
              <mat-icon fontIcon="part-copy"></mat-icon>
            </button>
            <button mat-button class="tiny icon-only" matTooltip="Publish">
              <mat-icon fontIcon="part-rocket"></mat-icon>
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <span class="status expired --plain" matTooltip="Expired Listing" matTooltipPosition="before">
              <span class="dot"></span>
            </span>
            <span class="template-name">Allien's Sweet Peppers (200 g)</span>
          </td>
          <td>Sneaky Market</td>
          <td class="category">Spicy Stuff</td>
          <td class="price">11.4510 PART</td>
          <td class="actions">
            <button mat-button class="tiny icon-only" matTooltip="Edit">
              <mat-icon fontIcon="part-pen-1"></mat-icon>
            </button>
            <button mat-button class="tiny icon-only" matTooltip="Clone">
              <mat-icon fontIcon="part-copy"></mat-icon>
            </button>
            <button mat-button class="tiny icon-only" matTooltip="Publish">
              <mat-icon fontIcon="part-rocket"></mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </section><!-- .market-templates-list -->
    <mat-action-row class="action-buttons">
      <div class="left">
        <button mat-button class="small" matTooltip="Delete Product" color="warn">
          <mat-icon fontIcon="part-cross"></mat-icon>
          Delete
        </button>
        <!-- @TODO: trigger modal with "edit template" component + append "(Copy)" to product's title input? -->
        <button mat-button class="small icon-only" matTooltip="Clone Product">
          <mat-icon fontIcon="part-copy"></mat-icon>
        </button>
        <!-- @TODO: trigger modal with "edit template" component -->
        <button mat-button class="small" matTooltip="Update Product">
          <mat-icon fontIcon="part-pen-1"></mat-icon>
          Edit
        </button>
        <!-- @TODO: redirect to Listings tab and filter out Listings based on this Product -->
        <button mat-button class="small" matTooltip="Show current Listings of this Product">
          <mat-icon fontIcon="part-zoom-in"></mat-icon>
          Show Listings
        </button>
      </div>
      <div class="right">
        <button mat-raised-button color="primary">
          <mat-icon fontIcon="part-rocket"></mat-icon>
          Publish on Market
        </button>
      </div>
    </mat-action-row>
  </mat-expansion-panel><!-- .product -->



  <!-- infiniteScroll
  [infiniteScrollContainer]="pagination.infinityScrollSelector"
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  [fromRoot]="true"
  (scrolled)="loadNextPage()" -->

  <ng-container *ngIf="allTemplates.length > 0; else noTemplates">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let templ of allTemplates; trackBy:trackBySavedTemplates" class="listing list-item no-padding">
        <mat-expansion-panel-header class="header">
          <div class="header-wrapper">
            <div class="photo">
              <img [src]="templ.images[0]?.thumbnailUrl" default="./assets/images/placeholder_4-3.jpg">
            </div>
            <div class="meta" fxFlex="1 1 100%">
              <div class="name">{{templ.information.title}}</div>
              <!-- TODO: if published on 1 market, display it's name; if on multiple display "X Markets" (as shown below) -->
              <span class="published-markets">2 Markets<!--{{ listing?.market }}--></span>
              <span class="category">{{ templ.status !== TEMPLATE_STATUS.UNPUBLISHED ? 'Some category' : ''}}<!--{{ listing?.category.name }}--></span>
            </div>
            <div class="status-wrap" fxFlex="0 0 140px">
              <div class="status {{ templ.status }}">
                <span class="dot"></span>
                <ng-container [ngSwitch]="templ.status">
                  <ng-container *ngSwitchCase="TEMPLATE_STATUS.UNPUBLISHED">Unpublished</ng-container>
                  <ng-container *ngSwitchCase="TEMPLATE_STATUS.PENDING">Pending</ng-container>
                  <ng-container *ngSwitchCase="TEMPLATE_STATUS.PUBLISHED">Published</ng-container>
                  <ng-container *ngSwitchCase="TEMPLATE_STATUS.EXPIRED">Expired</ng-container>
                </ng-container>
              </div>
            </div>
            <mat-checkbox class="batch-select" matTooltip="Select Product" *ngIf="batchEditingActive" (click)="$event.stopPropagation()"></mat-checkbox>
          </div>
        </mat-expansion-panel-header>

        <div class="status-info">
          <div class="text">
            <h2 class="item-title">{{templ.information.title}}</h2>
            <p>{{templ.information.summary}}</p>
          </div>
          <p class="item-info">
            Category: {{ templ.status !== TEMPLATE_STATUS.UNPUBLISHED ? 'Some category' : ''}}<!--{{ listing?.category.name }}--><br>
            Created: {{templ.created | date:'medium'}}<br>
            Updated: {{templ.updated | date:'medium'}}<br>
            Expires: 2020-05-11 15:86<!--{{ listing?.expiredAt }}-->
          </p>
        </div>

        <div class="detail" fxLayout="row" fxLayoutGap="30px">
          <div class="description" fxFlex="55%">
            <h3 class="item-subtitle">Published on</h3>
            <ul class="listing-info">
              <li>Particl Open Marketplace</li>
              <li>Sneaky Market</li>
            </ul>
          </div><!-- .description -->
          <div class="pricing-info" fxFlex="45%">
            <h3 class="item-subtitle">Pricing</h3>
            <table class="prices">
              <tfoot>
                <th></th>
                <th><span matTooltip="Particl" matTooltipPosition="below">PART</span></th>
                <!--th><span matTooltip="US Dollar" matTooltipPosition="below">USD</span></th-->
              </tfoot>
              <tbody>
                <tr>
                  <th>Price per item</th>
                  <td class="amount part">{{templ.price.basePrice.particlsString()}}</td>
                  <!--td class="amount fiat">3.5165</td-->
                </tr>
                <tr>
                  <th>Local shipping ({{templ.location.countryCode || ''}})</th>
                  <td class="amount part">{{templ.price.shippingLocal.particlsString()}}</td>
                  <!--td class="amount fiat">0.6518</td-->
                </tr>
                <tr>
                  <th>Worldwide shipping</th>
                  <td class="amount part">{{templ.price.shippingInternational.particlsString()}}</td>
                  <!--td class="amount fiat">0.9410</td-->
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <mat-action-row fxLayout fxLayoutAlign="space-between stretch">
          <div class="left">
            <button mat-button *ngIf="templ.status === TEMPLATE_STATUS.UNPUBLISHED" color="warn" matTooltip="Delete listing" (click)="deleteTemplate(templ.id)" class="small">
              <mat-icon fontIcon="part-cross"></mat-icon>
            </button>
            <button mat-button matTooltip="Clone listing" (click)="cloneListing(templ.id)" class="small">
              <mat-icon fontIcon="part-copy"></mat-icon>
            </button>
            <button mat-button *ngIf="templ.status === TEMPLATE_STATUS.UNPUBLISHED" matTooltip="Edit listing details" routerLink="new-listing" [queryParams]="{templateID: templ.id}" class="small">
              <mat-icon fontIcon="part-pen-1"></mat-icon>
              Edit
            </button>
            <button mat-button matTooltip="Open this listing" class="small" (click)="openPreview(templ.id)">
              <mat-icon fontIcon="part-zoom-in"></mat-icon>
              Open
            </button>
          </div>

        </mat-action-row>
      </mat-expansion-panel><!-- .listing -->
    </mat-accordion>
  </ng-container>

  <ng-template #noTemplates>
    <!-- no listings at all -->
    <div class="no-results" *ngIf="!doTemplatesExist">
      <img class="illustration" src="./assets/app-market/illustrations/no-listings.svg" alt="No Products">
      <p>
        You don't have any Products yet
      </p>
      <p class="help-text">
        Start selling by clicking on either "Add new Product" or "Import Products" button
      </p>
    </div><!-- .no-results -->

    <!-- no listings matching search -->
    <div class="no-results" *ngIf="doTemplatesExist">
      <img class="illustration" src="./assets/images/illustrations/search.svg" alt="No Products found">
      <p>
        No matching Products found
      </p>
      <p class="help-text">
        You don't have any Products matching your search
      </p>
    </div><!-- .no-results -->
  </ng-template>
</div><!-- .listings-list -->


<div class="loading-bar" *ngIf="isLoadingMore">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div><!-- .loading-bar -->
