<app-page-intro childPageAlias="Sell Templates">
  <ng-container page-title>Your Products &amp; Listings</ng-container>
  <ng-container page-content>
    This is your dashboard for selling your Products on the marketplace and manage their Listings.<br>
    To sell, you will need to create a Product template first, which you can later publish as a Listing to any connected Market.
  </ng-container>
  <ng-container page-help>
  </ng-container>
</app-page-intro>

<!-- Listings > Filter -->
<div class="filter">

  <div class="buttons">
    <button mat-raised-button color="primary" routerLink="new-listing" class="full-width">
      <mat-icon fontIcon="part-circle-plus"></mat-icon>
      Add new Product
    </button>
    <button mat-raised-button color="accent" routerLink="import-listings" class="full-width">
      <mat-icon fontIcon="part-image-upload"></mat-icon>
      Import Products
    </button>
  </div><!-- .buttons -->

  <h2 class="section-title">
    Search &amp; sort
  </h2>

  <mat-card class="filter-card">

    <mat-form-field class="--plain" appearance="fill">
      <input matInput type="text" placeholder="Search listings" [formControl]="searchQuery" (keyup.escape)="searchQuery.setValue('')">
      <button *ngIf="searchQuery.value.length > 0" matSuffix mat-button class="small" (click)="searchQuery.setValue('')" matTooltip="Clear" matTooltipPosition="after">
        <mat-icon fontIcon="part-clear-all"></mat-icon>
      </button>
      <mat-icon *ngIf="!searchQuery.value.length" matSuffix fontIcon="part-search"></mat-icon>
    </mat-form-field>

    <mat-form-field class="--plain" appearance="fill">
      <mat-select placeholder="Sort listings" [formControl]="sortOrder">
        <mat-option *ngFor="let sorting of sortCriteria" [value]="sorting.value">
          {{ sorting.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-card><!-- .filter-card -->

  <h2 class="section-title">
    Filter
  </h2>

  <mat-card class="filter-card">
    <mat-radio-group class="radio-group block-radio" [formControl]="filterStatus">
      <mat-radio-button class="filter-option" *ngFor="let status of filterStatusCriteria" [value]="status.value" color="accent">
        {{ status.title }}
      </mat-radio-button>
    </mat-radio-group>
    <!-- <mat-divider></mat-divider> -->
  </mat-card><!-- .filter-card -->

  <button mat-button color="basic" class="clear-filters" (click)="resetFilters()">
    <mat-icon fontIcon="part-clear-all"></mat-icon>
    Clear all filters
  </button>

</div><!-- .filter -->


<!-- Listings > list -->
<div class="listings section with-filter" *appVar="(savedTemplate$ | async) as allTemplates">

  <div class="list-items-header">
    <div class="left">
      <h2 class="section-title" *ngIf="!batchEditingActive">8 Products in Inventory</h2>
      <!-- @TODO: implement number of currently selected products (or remove altogether) -->
      <h2 class="section-title" *ngIf="batchEditingActive">0 Products selected</h2>
    </div>
    <div class="right">
      <button mat-button class="tiny icon-only" (click)="batchEditingActive = !batchEditingActive" *ngIf="!batchEditingActive" matTooltip="Batch editing" matTooltipPosition="before">
        <mat-icon fontIcon="part-check-2"></mat-icon>
      </button>
      <div class="action-options" *ngIf="batchEditingActive">
        <mat-form-field class="--plain --smaller" appearance="fill">
          <mat-select placeholder="Select…">
            <mat-option *ngFor="let select of batchSelectCriteria" [value]="select.value">
              {{ select.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button class="tiny" matTooltip="Select action for all selected Products" matTooltipPosition="above" color="accent">
          <mat-icon fontIcon="part-more-horizontal"></mat-icon>
          Batch Action&hellip;
        </button>
        <button mat-button class="tiny icon-only" (click)="batchEditingActive = !batchEditingActive" matTooltip="Cancel batch editing" matTooltipPosition="above" color="warn">
          <mat-icon fontIcon="part-cross"></mat-icon>
        </button>
      </div><!-- if batchEditingActive-->
    </div>
  </div><!-- .list-item-actions -->

  <!-- infiniteScroll
  [infiniteScrollContainer]="pagination.infinityScrollSelector"
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  [fromRoot]="true"
  (scrolled)="loadNextPage()" -->

  <ng-container *ngIf="allTemplates.length > 0; else noTemplates">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let templ of allTemplates; trackBy:trackBySavedTemplates" class="listing list-item no-padding">
        <mat-expansion-panel-header class="header">
          <div class="header-wrapper">
            <div class="photo">
              <img [src]="templ.images[0]?.thumbnailUrl" default="./assets/images/placeholder_4-3.jpg">
            </div>
            <div class="meta" fxFlex="1 1 100%">
              <div class="name">{{templ.information.title}}</div>
              <!-- TODO: if published on 1 market, display it's name; if on multiple display "X Markets" (as shown below) -->
              <span class="published-markets">2 Markets<!--{{ listing?.market }}--></span>
              <span class="category">{{ templ.status !== TEMPLATE_STATUS.UNPUBLISHED ? 'Some category' : ''}}<!--{{ listing?.category.name }}--></span>
            </div>
            <div class="status-wrap" fxFlex="0 0 140px">
              <div class="status {{ templ.status }}">
                <span class="dot"></span>
                <ng-container [ngSwitch]="templ.status">
                  <ng-container *ngSwitchCase="TEMPLATE_STATUS.UNPUBLISHED">Unpublished</ng-container>
                  <ng-container *ngSwitchCase="TEMPLATE_STATUS.PENDING">Pending</ng-container>
                  <ng-container *ngSwitchCase="TEMPLATE_STATUS.PUBLISHED">Published</ng-container>
                  <ng-container *ngSwitchCase="TEMPLATE_STATUS.EXPIRED">Expired</ng-container>
                </ng-container>
              </div>
            </div>
            <mat-checkbox class="batch-select" matTooltip="Select Product" *ngIf="batchEditingActive" (click)="$event.stopPropagation()"></mat-checkbox>
          </div>
        </mat-expansion-panel-header>

        <div class="status-info">
          <div class="text">
            <h2 class="item-title">{{templ.information.title}}</h2>
            <p>{{templ.information.summary}}</p>
          </div>
          <p class="item-info">
            Category: {{ templ.status !== TEMPLATE_STATUS.UNPUBLISHED ? 'Some category' : ''}}<!--{{ listing?.category.name }}--><br>
            Created: {{templ.created | date:'medium'}}<br>
            Updated: {{templ.updated | date:'medium'}}<br>
            Expires: 2020-05-11 15:86<!--{{ listing?.expiredAt }}-->
          </p>
        </div>

        <div class="detail" fxLayout="row" fxLayoutGap="30px">
          <div class="description" fxFlex="55%">
            <h3 class="item-subtitle">Published on</h3>
            <ul class="listing-info">
              <li>Particl Open Marketplace</li>
              <li>Sneaky Market</li>
            </ul>
          </div><!-- .description -->
          <div class="pricing-info" fxFlex="45%">
            <h3 class="item-subtitle">Pricing</h3>
            <table class="prices">
              <tfoot>
                <th></th>
                <th><span matTooltip="Particl" matTooltipPosition="below">PART</span></th>
                <!--th><span matTooltip="US Dollar" matTooltipPosition="below">USD</span></th-->
              </tfoot>
              <tbody>
                <tr>
                  <th>Price per item</th>
                  <td class="amount part">{{templ.price.basePrice.particlsString()}}</td>
                  <!--td class="amount fiat">3.5165</td-->
                </tr>
                <tr>
                  <th>Local shipping ({{templ.location.countryCode || ''}})</th>
                  <td class="amount part">{{templ.price.shippingLocal.particlsString()}}</td>
                  <!--td class="amount fiat">0.6518</td-->
                </tr>
                <tr>
                  <th>Worldwide shipping</th>
                  <td class="amount part">{{templ.price.shippingInternational.particlsString()}}</td>
                  <!--td class="amount fiat">0.9410</td-->
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <mat-action-row fxLayout fxLayoutAlign="space-between stretch">
          <div class="left">
            <button mat-button *ngIf="templ.status === TEMPLATE_STATUS.UNPUBLISHED" color="warn" matTooltip="Delete listing" (click)="deleteTemplate(templ.id)" class="small">
              <mat-icon fontIcon="part-cross"></mat-icon>
            </button>
            <button mat-button matTooltip="Clone listing" (click)="cloneListing(templ.id)" class="small">
              <mat-icon fontIcon="part-copy"></mat-icon>
            </button>
            <button mat-button *ngIf="templ.status === TEMPLATE_STATUS.UNPUBLISHED" matTooltip="Edit listing details" routerLink="new-listing" [queryParams]="{templateID: templ.id}" class="small">
              <mat-icon fontIcon="part-pen-1"></mat-icon>
              Edit
            </button>
            <button mat-button matTooltip="Open this listing" class="small" (click)="openPreview(templ.id)">
              <mat-icon fontIcon="part-zoom-in"></mat-icon>
              Open
            </button>
          </div>

        </mat-action-row>
      </mat-expansion-panel><!-- .listing -->
    </mat-accordion>
  </ng-container>

  <ng-template #noTemplates>
    <!-- no listings at all -->
    <div class="no-results" *ngIf="!doTemplatesExist">
      <img class="illustration" src="./assets/app-market/illustrations/no-listings.svg" alt="No Listings">
      <p>
        You don't have any Listings yet
      </p>
      <p class="help-text">
        Start selling by clicking on either "Add new Listing" or "Import Listings" button
      </p>
    </div><!-- .no-results -->

    <!-- no listings matching search -->
    <div class="no-results" *ngIf="doTemplatesExist">
      <img class="illustration" src="./assets/images/illustrations/search.svg" alt="No Listings found">
      <p>
        No matching Listings found
      </p>
      <p class="help-text">
        You don't have any Listings matching your search
      </p>
    </div><!-- .no-results -->
  </ng-template>
</div><!-- .listings-list -->


<div class="loading-bar" *ngIf="isLoadingMore">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div><!-- .loading-bar -->
