<div *ngIf="type === 'place'">
  <div mat-dialog-title class="title">Place order</div>

  <mat-dialog-content class="modal-content">
    <p class="alpha warning" *ngIf="isPrerelease">
      <strong>Warning:</strong> you are about to <strong>bid on a real listing</strong> on development version of Particl Marketplace. You will need to <strong>spend real PART coins</strong> when Seller accepts your bid afterwards! Bugs may occur &amp; your payment might get lost &ndash; continue on your own risk!
    </p>
    <div class="row" fxLayout>
      <div class="image" fxFlex="0 0 120px">
        <img src="./assets/icons/SVG/market/place-bid.svg">
      </div>
      <div class="text" fxFlex="1 1 350px">
        <p class="lead">
          Are you sure you want to place this bid?
        </p>
        <p class="widget-help">
          Before paying for this order, your bid needs to be accepted by the Seller.
          After it is accepted, you can pay for the order in Buy &gt; Orders.
        </p>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions fxLayoutAlign="end center">
    <button type="button" mat-button mat-dialog-close>
      <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
      No, cancel
    </button>
    <button mat-raised-button color="primary" (click)="placeOrder()">
      <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
      Yes, place order
    </button>
  </mat-dialog-actions>
</div>



<div *ngIf="type === 'accept'">
  <div mat-dialog-title class="title">Accept Bid</div>

  <mat-dialog-content class="modal-content">
    <p class="alpha warning" *ngIf="isPrerelease">
      <strong>Warning:</strong> you are about to accept a bid <strong>and lock real PART coins in escrow</strong> on development version of Particl Marketplace. Bugs may occur &amp; your payment might get lost &ndash; continue on your own risk! You also <strong>must ship the item</strong> you're selling when Buyer pays for it!
    </p>
    <div class="row" fxLayout>
      <div class="image" fxFlex="0 0 120px">
        <img src="./assets/icons/SVG/market/accept-bid.svg">
      </div>
      <div class="text" fxFlex="1 1 350px">
        <p class="lead">
          Are you sure you want to accept this bid?
        </p>
        <p class="widget-help">
          Before the payment can be made, you need to accept the bid made by the Buyer.
        </p>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions fxLayoutAlign="end center">
    <button type="button" mat-button mat-dialog-close>
      <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
      No, cancel
    </button>
    <button mat-raised-button color="primary" (click)="placeOrder()">
      <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
      Yes, accept bid
    </button>
  </mat-dialog-actions>
</div>



<div *ngIf="type === 'reject'">
  <div mat-dialog-title class="title">Reject Bid</div>

  <mat-dialog-content class="modal-content">
    <div class="row" fxLayout>
      <div class="image" fxFlex="0 0 120px">
        <img src="./assets/icons/SVG/market/reject-bid.svg">
      </div>
      <div class="text" fxFlex="1 1 350px">
        <p class="lead">
          Are you sure you want to reject this bid?
        </p>
        <p class="widget-help">
          Before the payment can be made, you need to accept the bid made by the Buyer.<br>
          By rejecting this bid, the Buyer will not be able to purchase your item.
        </p>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions fxLayoutAlign="end center">
    <button type="button" mat-button mat-dialog-close>
      <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
      No, cancel
    </button>
    <button mat-raised-button color="warn" (click)="placeOrder()">
      <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
      Yes, reject bid
    </button>
  </mat-dialog-actions>
</div>



<div *ngIf="type === 'escrow'">
  <div mat-dialog-title class="title">Confirm order delivery</div>

  <mat-dialog-content class="modal-content">
    <p class="alpha warning" *ngIf="isPrerelease">
      <strong>Warning:</strong> only confirm the delivery if you really received the item in real life. Real PART coins will be unlocked from escrow after this confirmation. If you confirm delivery and didn't receive the item, you will lose money!
    </p>
    <div class="row" fxLayout>
      <div class="image" fxFlex="0 0 135px">
        <img src="./assets/icons/SVG/market/delivered.svg">
      </div>
      <div class="text" fxFlex="1 1 350px">
        <p class="lead">
          Are you sure your received your order?
        </p>
        <p class="widget-help">
          Confirming successful delivery will finalize the order and release your funds locked in escrow.
        </p>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions fxLayoutAlign="end center">
    <button type="button" mat-button mat-dialog-close>
      <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
      No, cancel
    </button>
    <button mat-raised-button color="primary" (click)="placeOrder()">
      <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
      Yes, I received the order
    </button>
  </mat-dialog-actions>
</div>
