<form [formGroup]="stateForm">
  <mat-form-field class="full-width">
    <input
      type="text"
      (focus)="_selectAllContent($event)"
      (blur)="onBlur($event)"
      matInput placeholder="{{placeHolder}}"
      formControlName="stateGroup"
      [matAutocomplete]="autoGroup"
      #textInput
      [required]="isRequired">
    <mat-autocomplete
    #autoGroup="matAutocomplete"
    (optionSelected)="onSelectionChanged($event)"
    [displayWith]="displayFn.bind(this)">
      <mat-option *ngIf="defaultOption">{{defaultOption}}</mat-option>
      <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.name">
        <mat-option *ngFor="let option of group.list" [value]="option" matTooltip="{{option.name}}">
          {{option.name}}
        </mat-option>
      </mat-optgroup>
      <mat-option *ngIf="!((stateGroupOptions | async).length || defaultOption)" disabled>Not found
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>