<div class="container-block"><!-- [formGroup]="itemFormGroup" -->

  <app-page-intro>
    <ng-container page-title>Add new Listing for sale</ng-container>
    <ng-container page-content>
      Publish a new Product for sale on Particl Open Marketplace and/or any other Markets you've joined.
    </ng-container>
    <ng-container page-help>
      To join or create new Markets, go to "Manage Markets" page.
    </ng-container>
  </app-page-intro>

  <div class="row" fxLayout="row" fxLayoutGap="30px">

    <div class="left column" fxFlex="50">

      <h2 class="section-title">Product details</h2>
      <mat-card class="details no-padding">

        <label>
          <mat-form-field appearance="fill" class="--plain --larger">
            <h3 class="label">Product name</h3>
            <input matInput placeholder="Short and descriptive" #title><!-- formControlName="title" -->
            <mat-hint align="end">{{ title.value?.length || 0 }}/50</mat-hint>
          </mat-form-field>
        </label>

        <app-category-tree
          class="category-overlay"
          *ngIf="readyCategorySelect && _rootCategoryList?.subCategoryList && _rootCategoryList?.subCategoryList.length"
          (onChange)="onCategoryChange($event)"
          [options]="_rootCategoryList?.subCategoryList"
          [selected]="selectedCategory">
        </app-category-tree>

        <label>
          <mat-form-field appearance="fill" class="textarea --plain --larger">
            <h3 class="label">Summary</h3>
            <textarea matInput #summary rows="3" placeholder="Short Product summary"></textarea><!-- formControlName="shortDescription" -->
            <mat-hint align="end">{{ summary.value?.length || 0 }}/200</mat-hint>
          </mat-form-field>
        </label>

        <label>
          <mat-form-field appearance="fill" class="textarea --plain --larger">
            <h3 class="label">Full description</h3>
            <textarea matInput #description rows="12" placeholder="In-depth description of your Product"></textarea><!-- formControlName="longDescription" -->
            <mat-hint align="end">{{ description.value?.length || 0 }}/1000</mat-hint>
          </mat-form-field>
        </label>

      </mat-card><!-- .details -->


      <h2 class="section-title">Publish to</h2>
      <mat-card class="publish-to">
        <p class="help-text">
          Select at least 1 Market where the Product will be published. You can publish to as many Markets you want, but there's a listing fee for each of them.
        </p>
        <div class="scrollable checkbox-group full-width with-hover padded">
          <!-- TODO: list connected Markets - Particl Open Marketplace first, the rest alphabetically -->
          <mat-checkbox checked="checked">Particl Open Marketplace (default)</mat-checkbox>
          <mat-checkbox>Allien's Exquisite Spices</mat-checkbox>
          <mat-checkbox>BIO FOODS</mat-checkbox>
          <mat-checkbox>Ceci n'est pas un Commerce</mat-checkbox>
          <mat-checkbox>Decentralizement</mat-checkbox>
          <mat-checkbox>Hardware Crypto Secrets</mat-checkbox>
          <mat-checkbox>Particl Community Market</mat-checkbox>
          <mat-checkbox>Running out of Fantasy</mat-checkbox>
          <mat-checkbox>Yet another Market Name</mat-checkbox>
        </div>
        <p class="help-text">
          Product will be published to: <strong>2 Markets</strong>
        </p>
      </mat-card><!-- .pricing -->

    </div><!-- .left -->


    <div class="right column" fxFlex="50">

      <h2 class="section-title">Product gallery</h2>
      <mat-card class="photos">
        <div id="drag-n-drop" class="drag-n-drop">
          <input class="file-input" type="file" accept="image/*" multiple="true" id="fileInput">
          <button mat-button color="primary" (click)="uploadPicture()">
            <mat-icon fontIcon="part-select"></mat-icon>
            Upload a photo
          </button>
          <p>or drag'n'drop it here</p>
        </div>
        <p class="help-text">
          Upload photos of your Product (first photo will be set as main, featured image). Be sure to upload high quality &amp; focused images in good lighting where possible. Max file size per image is 2 MB.
        </p>
        <div class="gallery" fxLayout="row wrap">

          <div *ngFor="let image of images"
              class="photo-wrapper" fxFlex="0 0 123px" fxLayoutAlign="center center">
            <div class="photo" fxFLex>
              <img src="{{ image.thumbnail }}">
              <div class="icons">
                <mat-icon class="delete" fontIcon="part-cross" matTooltip="Remove image" (click)="removeExistingImage(image)">
                </mat-icon>
                <!--mat-icon class="featured" fontIcon="part-check" matTooltip="Set as featured" (click)="featurePicture(i)">
                </mat-icon-->
              </div>
            </div>
          </div>

          <div *ngFor="let picture of picturesToUpload ; index as i" class="photo-wrapper" fxFlex="0 0 123px" fxLayoutAlign="center center">
            <!-- TODO: maybe not gif, but removing is 'unsafe' -->
            <div class="photo" fxFLex>
              <img src="{{ picture }}">
              <div class="icons">
                <mat-icon class="delete" fontIcon="part-cross" matTooltip="Remove image" (click)="removePicture(i)">
                </mat-icon>
                <!-- TODO: Fix set as featured img -->
                <!-- <mat-icon class="featured" fontIcon="part-check" matTooltip="Set as featured" (click)="featurePicture(i)">
                </mat-icon> -->
              </div>
            </div>
          </div>

        </div><!-- .gallery -->
      </mat-card><!-- .photos -->


      <h2 class="section-title">Pricing <!--&amp; Quantity--></h2>
      <mat-card class="pricing no-padding">

        <div class="row"><!-- fxLayout fxLayoutAlign="stretch end" -->
          <div class="half"><!-- fxFlex="49%" -->
            <label class="--larger">
              <h3 class="label">Product price</h3>
              <mat-form-field appearance="fill" class="--plain --larger">
                <span matPrefix>PART</span>
                <!-- min price: or do we want to support free listings? not sure.. [allien] -->
                <input matInput type="number" min="0.00000001" (paste)="numericValidator($event)" (keypress)="numericValidator($event)" placeholder="price per 1 item"><!-- formControlName="basePrice" -->
              </mat-form-field>
            </label>
          </div>
          <!--div class="asymp" fxFlex="2%">
            <span>&asymp;</span>
          </div>
          <div class="half" fxFlex="49%">
            <label class="--larger">
              <h3 class="label">&nbsp;</h3>
              <mat-form-field appearance="fill" class="--plain --larger">
                <span matPrefix>USD</span>
                <input matInput type="number" min="0.00000001" (paste)="numericValidator($event)" (keypress)="numericValidator($event)" placeholder="price per 1 item">
              </mat-form-field>
            </label>
          </div-->
        </div>
        
        <label class="--larger">
          <h3 class="label">Quantity</h3>
          <mat-form-field appearance="fill" class="--plain --larger">
            <span matPrefix>Items in stock:</span>
            <input matInput type="number" placeholder="How many are you selling" min="1"><!-- formControlName="quantity" -->
          </mat-form-field>
        </label>

      </mat-card><!-- .pricing -->


      <h2 class="section-title">Shipping</h2>
      <mat-card class="shipping no-padding">

        <label class="--larger">
          <h3 class="label">Shipping from</h3>
          <p class="label-desc">From which country will you be selling and shipping your item</p>
          <mat-select-search
            class="full-width"
            [showValueOf]="'name'"
            [placeHolder]="'Shipping from (your country)'"
            [isRequired]="'true'"
            [defaultSelectedValue]="selectedCountry"
            [isLexigraphicalOrder]="true"
            (onChange)="onCountryChange($event)"><!-- [options]="countryList.getList()" -->
          </mat-select-search>
        </label>

        <mat-divider></mat-divider>

        <label class="--larger">
          <h3 class="label">Local shipping</h3>
          <p class="label-desc">Shipping price when sending the item inside your country</p>
        </label>
        <div class="row"><!-- fxLayout fxLayoutAlign="stretch end" -->
          <div class="half"><!-- fxFlex="49%" -->
            <mat-form-field appearance="fill" class="--plain --larger">
              <span matPrefix>PART</span>
              <input matInput min="0" (paste)="numericValidator($event)" (keypress)="numericValidator($event)" placeholder="shipping price" type="number"><!-- formControlName="domesticShippingPrice" -->
            </mat-form-field>
          </div>
          <!--div class="asymp" fxFlex="2%">
            <span>&asymp;</span>
          </div>
          <div class="half" fxFlex="49%">
            <label class="--larger">
              <mat-form-field appearance="fill" class="--plain --larger">
                <span matPrefix>USD</span>
                <input matInput min="0" (paste)="numericValidator($event)" (keypress)="numericValidator($event)" placeholder="shipping price" type="number">
              </mat-form-field>
            </label>
          </div-->
        </div>

        <label class="--larger">
          <h3 class="label">International shipping</h3>
          <p class="label-desc">Shipping price for sending the item worldwide</p>
        </label>
        <div class="row"><!-- fxLayout fxLayoutAlign="stretch end" -->
          <div class="half"><!-- fxFlex="49%" -->
            <mat-form-field appearance="fill" class="--plain --larger">
              <span matPrefix>PART</span>
              <input matInput min="0" (paste)="numericValidator($event)" (keypress)="numericValidator($event)" placeholder="shipping price" type="number"><!-- formControlName="internationalShippingPrice" -->
            </mat-form-field>
          </div>
          <!--div class="asymp" fxFlex="2%">
            <span>&asymp;</span>
          </div>
          <div class="half" fxFlex="49%">
            <label class="--larger">
              <mat-form-field appearance="fill" class="--plain --larger">
                <span matPrefix>USD</span>
              <input matInput min="0" (paste)="numericValidator($event)" (keypress)="numericValidator($event)" placeholder="shipping price" type="number">
              </mat-form-field>
            </label>
          </div-->
        </div>

      </mat-card><!-- .shipping -->

    </div><!-- .right -->
  </div><!-- .row -->

  <p class="message --warning" *ngIf="!canPublish">
    <strong>Error:</strong> maximum Listing size exceeded &ndash; try to reduce image or text sizes
  </p>

  <div class="action-buttons" fxLayout fxLayoutAlign="space-between center">
    <div class="left">
      <button mat-button routerLink="" color="warn"><!-- (click)="backToSell()" -->
        <mat-icon fontIcon="part-cross"></mat-icon>
        Back to Listings
      </button>
    </div>
    <div class="right">
      <button [disabled]="!itemFormGroup?.valid" mat-button matTooltip="Save template changes" (click)="saveTemplate()">
        <mat-icon fontIcon="part-date"></mat-icon>
        {{ isExistingTemplate() ? 'Update' : 'Save' }}
      </button>

      <button [disabled]="!itemFormGroup?.valid" mat-raised-button color="primary" (click)="saveAndPublish()" *ngIf="!['awaiting', 'published'].includes(preloadedTemplate?.status)">
        <mat-icon fontIcon="part-check"></mat-icon>
        {{ isExistingTemplate() ? 'Update & Publish' : 'Save & Publish' }}
      </button>
    </div>
  </div><!-- .action-buttons -->

</div>
