<div class="container-block">

  <app-page-intro>
    <ng-container page-title>Add new Listing</ng-container>
    <ng-container page-content>
      Publish a new Product for sale on Particl Open Marketplace or any other Markets you've joined.
    </ng-container>
    <ng-container page-help>
      To join or create new Markets, go to "Manage Markets" page.
    </ng-container>
  </app-page-intro>

  <market-sell-template-form *ngIf="isFormReady"
    [listingTemplate]="savedTemplate"
    [regions$]="regionList$"
    (isValid)="updateFormValidity($event)"
    (onImageImportError)="actionImageImportError($event)"
    (onRequestImageRemoval)="actionImageRemovalRequest($event)"
  ></market-sell-template-form>

  <p class="message --warning" *ngIf="errorMessage.length > 0">
    <strong>Error:</strong> {{ errorMessage }}
  </p>


  <div class="action-buttons" fxLayout fxLayoutAlign="space-between center">
    <div class="left">
      <button mat-button [routerLink]="['../']" [queryParams]="{selectedSellTab: 'templates'}" color="warn">
        <mat-icon fontIcon="part-cross"></mat-icon>
        Back to Listings
      </button>
    </div>
    <div class="right" *ngIf="(saveButtonText.length > 0) && (publishButtonText.length > 0)">
      <button [disabled]="!canActionForm" mat-button matTooltip="Save template changes" appDebounceClick (debounceClick)="saveTemplate()">
        <mat-icon fontIcon="part-date"></mat-icon>
        {{ saveButtonText }}
      </button>

      <button [disabled]="!canActionForm" mat-raised-button color="primary" appDebounceClick (debounceClick)="publishTemplate()">
        <mat-icon fontIcon="part-check"></mat-icon>
        {{ publishButtonText }}
      </button>
    </div>
  </div><!-- .action-buttons -->

</div>
