<div mat-dialog-title *ngIf="!estimateError">Choose Listing expiration</div>
<div mat-dialog-title *ngIf="estimateError">Fee Estimate Error</div>
<button class="small-close-button pull-right" (click)="dialogClose()">
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>

<div mat-dialog-content class="dialog-content" *ngIf="!estimateError">

  <p class="lead">
    For how long would you like to publish your Listing?
  </p>

  <div class="row" fxLayout fxLayoutAlign="center center">
    <mat-form-field class="full-width" fxFlex="50%">
      <mat-label>Select expiry time</mat-label>
      <mat-select [(value)]="expiration" (selectionChange)="loadTransactionFee()">
        <mat-option>None</mat-option>
        <mat-option [disabled]="expire?.isDisabled" *ngFor="let expire of expiredList" [value]="expire.value">
          {{ expire.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="est-fee" fxFlex="50%">
      <span *ngIf="expiration && !txError">Approximate listing fee:
        <br>
      </span>
      <span *ngIf="expiration && !txError">{{ txFee }} PART</span>
      <span class="small" *ngIf="expiration && txError"> {{ txError }}</span>
    </div>
  </div>
  <p class="widget-help">
    Each Listing is published to Market for a limited time. This helps fight spam and outdated Listings. Fees are proportional to duration.
  </p>

</div><!-- .dialog-content -->

<div mat-dialog-content class="dialog-content" *ngIf="estimateError">
  <p class="warning">
    There was an error fetching the fee estimate, please check that:
  </p>
  <ul class="checks">
    <li>You have a <strong>spendable Public balance</strong></li>
    <li>You have a network connection</li>
    <li>The daemon is running</li>
    <li>You have peers connected</li>
    <li>Your wallet is unlocked</li>
  </ul>
</div><!-- .dialog-content -->

<mat-dialog-actions fxLayoutAlign="space-between center">
  <button mat-button mat-dialog-close (click)="dialogClose()">
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button [disabled]="!expiration || (txError.length > 0 )" mat-raised-button color="primary" mat-dialog-close (click)="confirm()">
    <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
    Confirm &amp; Publish
  </button>
</mat-dialog-actions>
