@import './src/assets/_config'; // import shared colors etc.
@import '../shared/filter-sorting'; // filtering & sorting

// ------ UI ELEMENTS ------ //

mat-card.address-entry {
  display: flex;
  align-items: center;
  margin-bottom: var(--card-spacing);
  padding: 0;
  border-radius: 0;
  &:hover {
    .address-actions {
      opacity: 1;
    }
  }
  .address-name {
    @extend %tfx;
    cursor: pointer;
    flex: 1 0 calc(100% - 180px);
    padding: 0 0 0 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    &:hover {
      box-shadow: 4px 0 var(--color-primary) inset;
    }
    .label {
      font-size: 14px;
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: -1px 16px 0 0;
      display: block;
    }
    .address-string {
      font-family: var(--font-mono);
      color: var(--text-muted);
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 350px;
      margin: 1px 0 0;
      @include break(l) {
        max-width: 450px;
      }
    }
  }
  .address-actions { // copy, verify, delete
    @extend %tfx;
    opacity: 0;
    margin: 0 8px 0 14px;
  }
}


