<div class="item">

  <div class="image">
    <img src="{{listing?.imageCollection?.featuredImage?.medium}}" (click)="openListing()">
    <div class="icons">
      <!--mat-icon class="icon preview" fontSet="partIcon" fontIcon="part-zoom-in" matTooltip="Preview"
                matTooltipPosition="above" (click)="openListing()"></mat-icon-->
      <app-favorite [listing]="listing" [detail]="false"></app-favorite>
      <app-report *ngIf="!listing?.isMine" [listing]="listing" [from]="'listing'"></app-report>
    </div>
  </div>

  <div class="info">
    <div class="title">{{ listing?.title }}</div>
    <div class="category">{{listing?.category?.name}}</div>
  </div>


  <div class="price-cart">

    <!-- price section with shipping and total price  -->
    <div *ngIf="listingCacheService?.selectedCountry" class="price" fxFlex>
      {{ listing?.total(listingCacheService.selectedCountry?.iso)?.getAmountAsString() }}
      <mat-icon fontSet="partIcon" fontIcon="part-cryptocurrency-particl"></mat-icon>
    </div>

    <!-- price section without shipping and total price  -->
    <div *ngIf="!listingCacheService?.selectedCountry" class="price" fxFlex>
      <!-- {{ listing?.basePrice?.getAmountAsString() }} -->
      <span class="number big">{{ listing?.basePrice?.getIntegerPart() }}</span>
      <span class="point big">{{ listing?.basePrice?.dot() }}</span>
      <span class="number small">{{ listing?.basePrice?.getFractionalPart() || '' }}</span>
      <mat-icon fontSet="partIcon" fontIcon="part-cryptocurrency-particl"></mat-icon>
    </div>


    <app-add-to-cart [listing]="listing" [detail]="false"></app-add-to-cart>

  </div><!-- .price-cart -->

</div>
