<div class="item">

  <div class="image">
    <img src="{{listing?.imageCollection?.featuredImage?.thumbnail}}" (click)="openListing()">
    <div class="icons">
      <mat-icon class="icon preview" fontSet="partIcon" fontIcon="part-zoom-bold-in" matTooltip="Preview"
                matTooltipPosition="above" (click)="openListing()"></mat-icon>
      <app-favorite [listing]="listing" [detail]="false"></app-favorite>
    </div>
  </div>

  <div class="info">
    <div class="title">{{ listing?.title }}</div>
    <div class="category">{{listing?.category?.name}}</div>
  </div>

  <div class="price-cart" fxLayout="row" fxLayoutAlign="space-between center">

    <!-- price section with shipping and total price  -->
    <div *ngIf="listingCacheService?.selectedCountry" class="price" fxFlex>
      <table class="subtotals" fxFlex="0 0 250px">
        <tr>
          <td class="desc">Price</td>
          <td class="value">
            {{ listing?.object?.PaymentInformation?.ItemPrice?.basePrice?.toFixed(8) }} PART
          </td>
        </tr>
        <tr>
          <td class="desc">Shipping Price</td>
          <td class="value">{{
            listing.country === listingCacheService.selectedCountry ? (
              listing?.domesticShippingPrice?.getAmount().toFixed(8)
            ) : (
              listing?.internationalShippingPrice?.getAmount().toFixed(8)
            )
          }} PART</td>
        </tr>
        <tr>
          <td class="desc">Total</td>
          <td class="value">{{
            listing.country === listingCacheService.selectedCountry ? (
              listing?.domesticTotal?.getAmount().toFixed(8)
            ) : (
              listing?.internationalTotal?.getAmount().toFixed(8)
            )
          }} PART</td>
        </tr>
      </table>
    </div>
    <!-- price section with shipping and total price  -->

    <!-- price section without shipping and total price  -->
    <div *ngIf="!listingCacheService?.selectedCountry" class="price" fxFlex>
      {{
        listing?.object?.PaymentInformation?.ItemPrice?.basePrice?.toFixed(8)
      }}
    </div>
    <!-- price section without shipping and total price  -->

    <app-add-to-cart [listing]="listing" [detail]="false"></app-add-to-cart>
  </div>
</div>
