<div class="item">

  <div class="image">
    <!-- TODO: this is a default placeholder image (show if no other image is available) -->
    <img src="{{getThumbnail()}}" (click)="openListing()">
    <div class="icons">
      <mat-icon class="icon preview" fontSet="partIcon" fontIcon="part-zoom-bold-in" matTooltip="Preview"
                matTooltipPosition="above" (click)="openListing()"></mat-icon>
      <app-favorite [listing]="listing"></app-favorite>
    </div>
  </div>

  <div class="info">
    <div class="title">{{ listing.title }}</div>
    <div class="category">{{listing.category?.name}}</div>
  </div>

  <div class="price-cart" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="price" fxFlex>{{listing.object.PaymentInformation.ItemPrice?.basePrice?.toFixed(8)}}</div>
    <button *ngIf="!listing.object.ListingItemTemplate.hash" class="to-cart small" mat-button color="primary" fxFlex (click)="addToCart(listing.id)">
      Add to cart
    </button>
  </div>

</div>
