@import './src/assets/_config'; // import shared colors etc.

.item {
  &:hover {
    .image .icons {
      opacity: 1;
    }
  }
}

.image {
  margin: -24px -16px 16px;
  position: relative;
  img {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
    height: 259px;
    object-fit: contain;
    object-position: center;
  }
  .icons {
    @extend %tfx;
    opacity: 0;
    position: absolute;
    top: 8px;
    right: 8px;
    .icon {
      @extend %tfx;
      background: $color-white;
      border-radius: 50%;
      display: inline-block;
      padding: 7px;
      margin: 0 0 0 2px;
      font-size: 14px;
      cursor: pointer;
      &.preview,
      &.flag {
        &:hover {
          color: $color;
        }
      }
      &.fav {
        &:hover {
          color: $color-alert;
        }
      }
    }
  }
}

.info {
  margin-bottom: 10px;
  .title {
    font-weight: bold;
    margin-bottom: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .category {
    font-size: 11px;
    color: $text-muted;
  }
}

.price-cart {
  .price {
    font-weight: 600;
  }
  button.to-cart {
    padding: 0;
  }
}
