<mat-dialog-title>Cancel bid</mat-dialog-title>

<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content>
  <div class="row">

    <div class="image">
      <img class="illustration" src="./assets/app-market/illustrations/reject-cancel-bid.svg" alt="Delete product">
    </div>

    <div class="text">
      <p class="lead">
        Are you certain you want to delete this item?
      </p>
      <p class="help-text">
        This will remove this item and it will no longer be available to publish
      </p>
    </div>

  </div>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    <mat-icon fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="warn" (click)="confirmDelete()">
    <mat-icon fontIcon="part-circle-remove"></mat-icon>
    Yes, delete this item
  </button>
</mat-dialog-actions>
