@import './src/assets/_config'; // import shared colors etc.
@import './src/app/market/_lists-shared'; // shared stuff for listings & orders

// ------ LISTINGS ------ //

.listing {
  .header {
    min-height: 110px !important;
    max-height: 110px !important;
    padding: 0 24px 0 0;
  }
}

.list-item {
  .header-wrapper {
    .photo { // crop listing's image to square
      min-height: 110px;
      max-height: 110px;
      height: 110px;
    }
    .meta .name {
      font-size: 16px;
    }
  }
}
