@import './src/assets/_config'; // import shared colors etc.

// ------ LISTS (shared for listings & orders) ------ //


.list-item { // Listing/Order
  font-size: 12px;
  padding: 0;
  margin-bottom: 6px !important;
  .header-wrapper {
    width: 100%;
    padding-right: 24px;
    .photo {
      margin-right: 24px;
      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
      }
    }
    .meta {
      color: $text-muted;
      font-size: 11px;
      line-height: 1.8;
      .name {
        color: $text;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.4;
        margin-bottom: 5px;
      }
    }
  }
  .status-info {
    border-top: 1px solid $bg-shadow;
    padding: 20px 30px;
    font-size: 13px;
    font-family: $font;
    color: $text-muted;
    p {
      margin: 0;
    }
  }
  .detail {
    font-size: 13px;
    font-family: $font;
    color: $text-muted;
    padding: 24px 30px;
    border-top: 1px dashed $bg-shadow;
    .title {
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 500;
      color: $text;
      margin-bottom: 10px;
    }
    .description {
      p {
        white-space: pre-line;
        word-wrap: break-word;
      }
    }
    table.prices {
      color: $text-muted;
      border-collapse: collapse;
      th {
        text-align: right;
        font-weight: 600;
        padding-right: 7px;
      }
    }
  }
  mat-action-row {
    padding: 16px 18px;
    .left {
      margin-top: 3px;
      button {
        margin: 0 4px 0 0;
      }
    }
  }
  .status {
    background: mix($bg, $bg-shadow, 85%);
    border-radius: 4px;
    text-align: center;
    color: $text;
    text-transform: uppercase;
    font-weight: 500;
    padding: 6px 15px;
    margin-top: 0;
    .dot { // status indicator
      display: inline-block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      position: relative;
      top: -1px;
      margin-right: 8px;
    }
    // listings
    &.unpublished .dot {
      background: $bg-shadow;
    }
    &.pending .dot {
      background: $color-warning;
    }
    &.published .dot {
      background: mix($color, $color-success);
    }
    &.expired .dot {
      background: $color-alert;
    }
    // orders
    &.bidding .dot {
      background: $color-warning;
    }
    &.awaiting .dot {
      background: mix($color-warning, $color-alert, 60%);
    }
    &.escrow .dot {
      background: $color-alert;
    }
    &.shipping .dot {
      background: mix($color, $color-success);
    }
    &.complete {
      color: rgba($text, 0.5);
      .dot {
        background: rgba($color-info, 0.5);
      }
    }
    &.rejected {
      color: rgba($text, 0.5);
      .dot {
        background: $bg-shadow;
      }
    }
    // animated notifications in Order statuses
    &.sell.bidding,
    &.buy.awaiting,
    &.sell.escrow,
    &.buy.shipping {
      // + in Listing statuses..
      // @TODO we can use blink animation for own expired listing in future.
      // &.expired
      // {
      .dot::after {
        content: '';
        animation: pulse-fade 1s infinite;
        width: 7px;
        height: 7px;
        display: block;
        border-radius: 50%;
        border: 2px solid $bg-shadow;
        position: absolute;
        top: -2px;
        left: -2px;
      }
    }
    &.sell.bidding .dot::after {
      border-color: $color-warning;
    }
    &.buy.awaiting .dot::after {
      border-color: mix($color-warning, $color-alert, 60%);
    }
    &.sell.escrow .dot::after {
      border-color: $color-alert;
    }
    &.buy.shipping .dot::after {
      border-color: mix($color, $color-success);
    }
    &.expired .dot::after {
      border-color: $color-alert;
    }
  }
}
