@import './src/assets/_config'; // import shared colors etc.
@import './src/app/market/_lists-shared'; // shared stuff for listings & orders

// ------ ORDERS ------ //

.list-item {
  .header-wrapper {
    .photo { // crop orders's image to square
      min-height: 80px;
      max-height: 80px;
      height: 80px;
    }
  }
}

.order {
  .header {
    min-height: 80px !important;
    max-height: 80px !important;
    padding: 0 24px 0 0;
  }
  .hash { // order 'ID'
    font-family: monospace;
    font-weight: 600;
    color: $color-white;
    line-height: 1.3;
    border-radius: 4px;
    display: none; // TODO: when implemented, change to 'inline-block'
    padding: 0 6px;
    margin-right: 8px;
    // blues
    &.bg1 {
      background: darken($color-info, 25%);
    }
    &.bg2 {
      background: darken($color-info, 15%);
    }
    &.bg3 {
      background: $color-info;
    }
    &.bg4 {
      background: lighten($color-info, 15%);
    }
    // greens
    &.bg5 {
      background: darken($color-success, 10%);
    }
    &.bg6 {
      background: $color-success;
    }
    &.bg7 {
      background: lighten($color-success, 15%);
    }
    &.bg8 {
      background: lighten($color-success, 30%);
    }
    // reds
    &.bg9 {
      background: darken($color-alert, 30%);
    }
    &.bg10 {
      background: darken($color-alert, 17%);
    }
    &.bg11 {
      background: lighten($color-alert, 2%);
    }
    &.bg12 {
      background: lighten($color-alert, 15%);
    }
    // yellows
    &.bg13 {
      background: darken(mix($color-warning, $color-alert), 25%);
    }
    &.bg14 {
      background: darken(mix($color-warning, $color-alert), 15%);
    }
    &.bg15 {
      background: darken(mix($color-warning, $color-alert), 5%);
    }
    &.bg16 {
      background: lighten(mix($color-warning, $color-alert), 10%);
    }
  }
  .additional-shipping-info {
    margin-top: 8px;
    .title {
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 500;
      color: $text;
    }
    .more-info {
      @extend %enable-select;
      margin-left: 10px;
      color: darken($color, 7%);
      background: rgba($color, 0.1);
      padding: 3px 8px;
      border-radius: $radius;
    }
  }
  .action-buttons {
    .single .mat-icon {
      margin: 0;
    }
  }
}
