@import './src/assets/_config'; // import shared colors etc.
@import './src/app/market/_lists-shared'; // shared stuff for listings & orders

// ------ ORDERS ------ //

.list-item {
  .header-wrapper {
    .photo { // crop orders's image to square
      min-height: 80px;
      max-height: 80px;
      height: 80px;
    }
  }
}

.order {
  .header {
    min-height: 80px !important;
    max-height: 80px !important;
    padding: 0 24px 0 0;
  }
  .hash { // order 'ID'
    font-family: monospace;
    font-weight: 600;
    color: $color-white;
    line-height: 1.3;
    text-transform: uppercase;
    background: $text-muted;
    border-radius: 4px;
    display: inline-block;
    padding: 0 6px;
    margin-right: 8px;
  }
  .date {
    display: inline-block;
  }
  .additional-shipping-info {
    margin-top: 8px;
    .title {
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 500;
      color: $text;
    }
    .more-info {
      @extend %enable-select;
      margin-left: 10px;
      color: darken($color, 7%);
      background: rgba($color, 0.1);
      padding: 3px 8px;
      border-radius: $radius;
    }
  }
  .action-buttons {
    .single .mat-icon {
      margin: 0;
    }
  }
}
