<mat-dialog-title>Leave Market</mat-dialog-title>
<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content class="--muted">
  <div class="row">

    <div class="image">
      <img class="illustration" src="./assets/app-market/illustrations/leave-market.svg" alt="Leave market">
    </div>

    <div class="text">
      <p class="lead">
        Are you sure you want to leave<br>
        {{ marketName }} Market?
      </p>
      <p class="help-text">
        You won't be able to browse this Market's Listings and interact with Orders until you rejoin this Market later.
      </p>
    </div>

  </div>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    <mat-icon fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="warn" appDebounceClick (debounceClick)="doAction()">
    <mat-icon fontIcon="part-error"></mat-icon>
    Yes, leave Market
  </button>
</mat-dialog-actions>
