<!-- Small sidebar for Multiwallet, Settings etc. -->
<div class="mini-sidebar-menu">

  <div class="multiwallet">

    <button *ngFor="let wallet of list" mat-raised-button color="primary" (click)="switchToWallet(wallet)" [ngClass]="{'active': isWalletActive(wallet) }" matTooltip="{{wallet.displayname.toUpperCase()}}" matTooltipPosition="after">
      <!-- If this is market wallet, show "market icon"; if not, show first letter of wallet's name: -->
      <span *ngIf="!wallet.isMarketEnabled">{{wallet.displayname.toUpperCase()[0]}}</span>
      <mat-icon fontSet="partIcon" fontIcon="part-cart" *ngIf="wallet.isMarketEnabled"></mat-icon>
    </button>

    <button mat-raised-button color="primary" routerLink="/installer/create" routerLinkActive="active" matTooltip="Add new wallet" matTooltipPosition="after">
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-small-plus"></mat-icon>
    </button>

  </div><!-- .multiwallet -->

  <div class="buttons">

    <a mat-button class="help-support" routerLinkActive="active" routerLink="wallet/help" matTooltip="Help & Support" matTooltipPosition="after">
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-circle-question"></mat-icon>
    </a>

    <a mat-button class="report-bug" href="https://github.com/particl/particl-desktop/issues" target="_blank" matTooltip="Report bug" matTooltipPosition="after">
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-bug"></mat-icon>
    </a>
  </div><!-- .buttons -->

</div><!-- .mini-sidebar-menu -->
