<ng-container>
  <ng-container *ngIf="isLoading">
    <!-- Placeholder for loading items -->
    <main-loading-placeholder></main-loading-placeholder>
  </ng-container>

  <ng-container *ngIf="(txns.length === 0) && !isLoading">
    <div class="no-results">
      <img class="illustration" src="./assets/app-wallet/illustrations/no-transactions.svg" alt="No transactions yet">
      <p>
        No transactions yet
      </p>
      <p class="help-text">
        Generate your first address on the Receive page and get your first coins!
      </p>
    </div>
  </ng-container>
</ng-container>


<ng-container *ngFor="let txn of txns; trackBy: txTrackByFn">
  <mat-expansion-panel class="history-list no-padding" [expanded]="txn.txid === expandedTxId">

    <mat-expansion-panel-header (click)="showTransactionDetail(txn)">
      <mat-panel-title class="tx-overview">

        <!-- Date -->
        <div class="date">
          {{ txn.formattedTime }}
        </div>

        <!-- Confirmations -->
        <div *ngIf="(txn.confirmations <= 12)" class="confirmations" [ngClass]="styleConfimations(txn.confirmations)">
          <div class="confirmation-tag" matTooltip="Unconfirmed transaction" matTooltipPosition="before">
            <mat-icon fontIcon="part-date" class="confirmations"></mat-icon>
            {{ txn.confirmations }}/12
          </div>
        </div>

        <!-- Category icon -->
        <div class="type">

            <ng-container *ngIf="txn.addressType === TypeOfAddress.MULTISIG">
              <span class="tx-type sent">
                <mat-icon fontIcon="part-lock-open" color="warn"></mat-icon>
                <span class="name">Multisig escrow</span>
                <mat-icon class="narration" *ngIf="txn.narration.length > 0" fontIcon="part-pen-1"
                          matTooltip="{{txn.narration}}" matTooltipPosition="after"></mat-icon>
              </span>
            </ng-container>

            <ng-container *ngIf="txn.addressType !== TypeOfAddress.MULTISIG" [ngSwitch]="txn.category">

              <span *ngSwitchCase="'stake'" class="tx-type staked">
                <mat-icon fontIcon="part-stake"></mat-icon>
                <span class="name">Staked</span>
              </span>

              <span *ngSwitchCase="'orphaned_stake'" class="tx-type orphan">
                <mat-icon fontIcon="part-alert" color="warn"></mat-icon>
                <span class="name">Orphaned Stake</span>
              </span>

              <span *ngSwitchCase="'send'" class="tx-type sent">
                <mat-icon fontIcon="part-send" color="warn"></mat-icon>
                <span class="name">Sent</span>
                <mat-icon class="narration" *ngIf="txn.narration.length > 0" fontIcon="part-pen-1"
                          matTooltip="{{txn.narration}}" matTooltipPosition="after"></mat-icon>
              </span>

              <span *ngSwitchCase="'unknown'" class="tx-type sent">
                <mat-icon fontIcon="part-lock-open" color="warn"></mat-icon>
                <span class="name">Blinded escrow</span>
                <mat-icon class="narration" *ngIf="txn.narration.length > 0" fontIcon="part-pen-1"
                          matTooltip="{{txn.narration}}" matTooltipPosition="after"></mat-icon>
              </span>

              <span *ngSwitchCase="'receive'" class="tx-type received">
                <mat-icon fontIcon="part-receive" color="primary"></mat-icon>
                <span class="name">Received</span>
                <mat-icon class="narration" *ngIf="txn.narration.length > 0" fontIcon="part-pen-1"
                          matTooltip="{{txn.narration}}" matTooltipPosition="after"></mat-icon>
              </span>

              <ng-container *ngSwitchCase="'internal_transfer'">
                <span *ngIf="!txn.isListingFee" class="tx-type received">
                  <mat-icon fontIcon="part-transfer" color="primary"></mat-icon>
                  <ng-container>
                    <span *ngIf="txn.transferType === TypeOfTransfer.PUBLIC" class="name">Converted &rarr; Public</span>
                    <span *ngIf="txn.transferType === TypeOfTransfer.BLIND" class="name">Converted &rarr; Blind</span>
                    <span *ngIf="txn.transferType === TypeOfTransfer.ANON" class="name">Converted &rarr; Anon</span>
                    <span *ngIf="txn.transferType === TypeOfTransfer.SPLIT" class="name">Converted &rarr; TX Split</span>
                  </ng-container>
                </span>

                <span *ngIf="txn.isListingFee" class="tx-type listing-fee">
                  <mat-icon fontIcon="part-bag-buy"></mat-icon>
                  <span class="name">Publishing fee</span>
                </span>
              </ng-container>

            </ng-container>

        </div>

        <!-- Amount -->
        <div class="tx-value">

          <span class="amount" *ngIf="!txn.requires_unlock"
                [ngClass]="{'positive': (+txn.amount) > 0, 'negative': (+txn.amount) < 0 }">
            <span class="big number">{{ txn.amountWhole }}</span><!-- inline element comment hack
            --><span class="point" *ngIf="txn.amountFraction.length > 0">{{ '.' }}</span><!--
            --><small class="small number">{{ txn.amountFraction }}</small>
            <!--span class="currency">PART</span-->
          </span>

          <span class="amount" *ngIf="txn.requires_unlock">
            <mat-icon fontIcon="part-anon" matTooltip="Unlock wallet to see private transaction details" matTooltipPosition="before"></mat-icon>
          </span>

        </div><!-- .tx-value -->

      </mat-panel-title><!-- .tx-overview -->
    </mat-expansion-panel-header>


    <div class="container history-container">

      <!-- TX description -->
      <div class="tx-description">

        <span>
          <ng-container *ngIf="txn.addressType === TypeOfAddress.MULTISIG">
            <span>
              Smart contract transaction generated by actions on the Market (paying for orders etc.)
            </span>
          </ng-container>

          <ng-container *ngIf="txn.addressType !== TypeOfAddress.MULTISIG" [ngSwitch]="txn.category">

            <span *ngSwitchCase="'stake'">
              Your staking reward for securing the network &ndash; good job, you deserve it!
            </span>
            <span *ngSwitchCase="'orphaned_stake'">
              Your potential staking reward was claimed by another node &ndash; don't worry, this happens sometimes &ndash; make sure your internet connection is stable and you're staking ideally 24/7
            </span>
            <span *ngSwitchCase="'send'">
              Sent transaction to 3rd-party address
            </span>
            <span *ngSwitchCase="'receive'">
              Transaction you received from 3rd party
            </span>
            <ng-container *ngSwitchCase="'internal_transfer'">
              <span *ngIf="!txn.isListingFee">
                Payment within your own wallet &ndash; converting between your Public and Private balances / preparing outputs while bidding on Market listings
              </span>
              <span *ngIf="txn.isListingFee">
                Publishing fee for either posting a listing on the Market or voting on Proposals
              </span>
            </ng-container>

          </ng-container>
        </span>
      </div>

      <div class="tx-details" fxLayout="row wrap">

        <div fxFlex="1 1 calc(100% - 260px)" fxLayout="column">
          <!-- To/from (detail) -->
          <!-- TODO: show for all EXCEPT for 'listing_fee' -->
          <div class="tx-detail-item" fxFlex>
            <span fxFlex="0 0 80px">To/from:</span>
            <input disabled fxFlex="1 1 calc(100% - 80px)" value="{{ txn.address }}" class="to-from-address input">
          </div>
          <!-- TX ID (detail) -->
          <div class="tx-detail-item" fxFlex>
            <span fxFlex="0 0 80px">TXID:</span>
            <a fxFlex="1 1 calc(100% - 80px)" class="tx-detail-link"
                href="https://explorer{{(isTestnet | async) ? '-testnet' : ''}}.particl.io/tx/{{txn.txid}}"
                target="_blank" matTooltip="Show on Block Explorer">
              {{txn.txid}}</a>
          </div>
        </div>

        <div fxFlex="0 0 260px" fxLayout="column">
          <!-- TX fee (detail) -->
          <div class="tx-detail-item text-right" fxFlex>
            <span>Fee:</span>
            <span class="value">{{txn.fee}} PART</span>
          </div>
          <!-- Net amount (detail) -->
          <div class="tx-detail-item text-right" fxFlex>
            <ng-container *ngIf="txn.category === 'internal_transfer' && !txn.isListingFee; else totalamount">
              <span >Transferred amount:</span>
            </ng-container>
            <ng-template #totalamount>
              <span>Total amount:</span>
            </ng-template>

            <span class="value">{{ txn.netAmount}} PART</span>

          </div>
        </div>

        <!-- Narration -->
        <div class="tx-detail-item" fxFlex="1 1 100%" *ngIf="txn.narration.length > 0">
          <span fxFlex="0 0 80px">Narration:</span>
          <input disabled fxFlex="1 1 calc(100% - 80px)" value="{{txn.narration}}" class="narration input">
        </div>

      </div><!-- .tx-details -->

    </div><!-- .history_cointainer -->
  </mat-expansion-panel>
</ng-container>


<app-paginator
  #paginator
  *ngIf="showPagination && txns.length > 0"
  [length]="totalTransactionCount"
  [pageSize]="TxCountPerPage"
  [pageSizeOptions]="PageSizeOptions"
  (page)="pageChanged($event)">
</app-paginator>
