<div class="cart-info" routerLinkActive="active" routerLink="market/buy"
     matTooltip="View cart" matTooltipPosition="before">
  <mat-icon fontSet="partIcon" fontIcon="part-cart"></mat-icon>
  <strong class="tag">{{ cart?.countOfItems }}</strong>
  <!-- cart total without shipping price -->
  <span *ngIf="cart?.countOfItems > 0 && !listCache?.selectedCountry" class="amount">({{cart?.subTotal.getAmountAsString()}} PART)</span>

  <!-- cart total with shipping price -->
  <span *ngIf="cart?.countOfItems > 0 && listCache?.selectedCountry" class="amount">({{
      cart?.getSubTotalWithShippingTotal(listCache?.selectedCountry?.iso)?.getAmount()
    }} PART)</span>
</div>
