@import './src/assets/_config'; // import shared colors etc.

.cart-info {
  display: inline-block;
  margin-right: 24px;
  cursor: pointer;
  outline: none;
  &:hover {
    .mat-icon {
      color: darken($color, 1.5%);
    }
  }
  @include break(l) {
    margin-right: 36px;
  }
  .mat-icon {
    @extend %tfx;
    margin-right: 8px;
    position: relative;
    top: 2px;
  }
  .tag { // number of items in cart
    font-weight: 500;
  }
  .amount { // PART value in cart
    color: $text-muted;
    font-size: 13px;
    font-weight: 400;
    margin-left: 8px;
  }
}
