@import "./src/assets/_config"; // import shared colors etc.

.cart-info {
  display: inline-block;
  margin-right: 24px;
  cursor: pointer;
  outline: none;
  @include break(l) {
    margin-right: 36px;
  }
  .mat-icon {
    margin-right: 4px;
    position: relative;
    top: 2px;
  }
  .amount {
    color: $text-muted;
  }
}