<app-header class="disable-select"></app-header>

<div fxLayout="row" fxLayoutGap="30px" class="container-block">

  <div class="filter" fxFlex="0 0 200px">

    <div class="section filter-by-type">
      <div class="subtitle">Filter by type</div>
      <mat-card class="filter-card">
        <mat-selection-list #filterList dense class="filter-list no-padding"
          [(ngModel)]="filter" name="filterList" ngDefaultControl>
          <mat-list-option class="filter-option" value="{{ option.value }}"
                           *ngFor="let option of filterOptions">
            {{ option.title }}
          </mat-list-option>
        </mat-selection-list>
      </mat-card>
    </div>

    <p class="widget-help">
      Transaction filter gives you the most granular control over displayed transactions.
    </p>

    <div class="section filter-by-narration">
      <div class="subtitle">Filter by narrations</div>
      <mat-card class="filter-card">
        <mat-radio-group class="radio-group" [(ngModel)]="narration">
          <mat-radio-button class="filter-option" value="{{ choice.value }}"
                            *ngFor="let choice of narrationChoices">
            {{ choice.title }}
          </mat-radio-button>
        </mat-radio-group>
      </mat-card>
    </div>

    <button mat-button color="warn" class="clear-filters" (click)="clear()">
      <mat-icon fontSet="partIcon" fontIcon="part-simple-remove"></mat-icon>
      Clear all filters
    </button>

  </div>


  <div class="tx-list" fxFlex="1 1 100%">
    <transaction-table
      [display]="{'header': false, 'internalHeader': true, 'pagination': true, 'category': true, 'expand': true}">
    </transaction-table>
  </div><!-- .tx-list -->

</div>
