<app-header class="disable-select"></app-header>

<div fxLayout="row" fxLayoutGap="30px" class="container-block">

  <div class="filter" fxFlex="0 0 200px">

    <div class="section filter-by-type">
      <div class="subtitle">Filter by type</div>
      <mat-card class="filter-card">
        <mat-selection-list #types dense class="filter-list no-padding">
          <mat-list-option class="filter-option"
          *ngFor="let filter of type_filter" [value]="filter">
            {{ filter }}
          </mat-list-option>
        </mat-selection-list>
      </mat-card><!-- .filter-type -->
    </div><!-- .filter-by-type -->

    <p class="widget-help">
      Transaction filter gives you the most granular control over displayed transactions.
    </p>

    <div class="section filter-by-narration">
      <div class="subtitle">Filter by narrations</div>
      <mat-card class="filter-card">
        <mat-radio-group class="radio-group">
          <!-- TODO: unselect them by default (no idea where to define it, tbh): -->
          <mat-radio-button class="filter-option"
          *ngFor="let filter of narration_filter" [value]="narration">
            {{ filter }}
          </mat-radio-button>
        </mat-radio-group>
      </mat-card><!-- .filter-type -->
    </div><!-- .filter-by-narration -->

    <button mat-button color="warn" class="clear-filters">
      <mat-icon fontSet="partIcon" fontIcon="part-simple-remove"></mat-icon>
      Clear all filters
    </button>

  </div><!-- .filter -->


  <div class="tx-list" fxFlex="1 1 100%">
    <transaction-table
      [display]="{'header': false, 'internalHeader': true, 'pagination': true, 'category': true, 'expand': true}">
    </transaction-table>
  </div><!-- .tx-list -->

</div>
