<app-header class="disable-select">
  <div class="container-fluid">
    <mat-tab-group>

      <mat-tab *ngFor="let category of categories" (click)="dump()">
        <ng-template mat-tab-label>
          {{ category.title }}
        </ng-template>
      </mat-tab>

    </mat-tab-group>
  </div>
</app-header>

<div fxLayout="row" fxLayoutGap="30px" class="container-block">

  <div class="filter" fxFlex="0 0 230px">

    <div class="section search-sorting">
      <div class="subtitle">Search &amp; sort</div>
      <mat-card class="filter-card">

        <mat-form-field class="icon-input filter-input"
          (click)="selectInput()" floatPlaceholder="never">
          <input matInput type="text" class="header-input"
            placeholder="Search transactions">
          <mat-icon fontSet="partIcon" fontIcon="part-zoom-bold"></mat-icon>
        </mat-form-field>

        <mat-form-field class="sort-by filter-input" floatPlaceholder="never">
          <mat-select placeholder="Sort results">
            <mat-option *ngFor="let sorting of sortings" [value]="sorting">
              {{ sorting.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </mat-card>
    </div>

    <p class="widget-help">
      Transaction filter gives you the most granular control over displayed transactions.
    </p>

    <div class="section filter-by-type">
      <div class="subtitle">Filter by type</div>
      <mat-card class="filter-card">
        <mat-radio-group class="radio-group" [(ngModel)]="type" (change)="dump()">

          <mat-radio-button class="filter-option" value="{{ type.value }}"
            *ngFor="let type of types">
            {{ type.title }}
          </mat-radio-button>

        </mat-radio-group>
      </mat-card>
    </div>

    <button mat-button color="warn" class="clear-filters" (click)="clear()">
      <mat-icon fontSet="partIcon" fontIcon="part-simple-remove"></mat-icon>
      Clear all filters
    </button>

  </div>

  <div class="tx-list" fxFlex="1 1 100%">
    <transaction-table #transactions
      [display]="{'header': false, 'internalHeader': true, 'pagination': true, 'category': true, 'expand': true}">
    </transaction-table>
  </div><!-- .tx-list -->

</div>
