<mat-dialog-title>Join Existing Market</mat-dialog-title>
<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content class="--muted">
  <div class="row">

    <form class="market-form" [formGroup]="marketForm">

      <h2 class="section-title">
        Market details
      </h2>

      <mat-card class="market-details no-padding">

        <label>
          <mat-form-field class="--larger --plain" appearance="fill">
            <h3 class="label">Market name</h3>
            <input matInput #name placeholder="Choose a name for your Market" formControlName="name">
            <mat-hint align="end">{{ name.value.length }}/{{ MAX_NAME }}</mat-hint>
          </mat-form-field>
        </label>

        <label>
          <mat-form-field class="--larger --plain" appearance="fill">
            <h3 class="label">Market description</h3>
            <textarea matInput rows="4" #description formControlName="summary" placeholder="Describe your Market in short, so that users will know what they'll find there"></textarea>
            <mat-hint align="end">{{ description.value.length }}/{{ MAX_SUMMARY }}</mat-hint>
          </mat-form-field>
        </label>

        <div class="market-image" fxLayout>

          <div #dropArea>
            <!-- No image selected: -->
            <div *ngIf="formImageControl.value.length === 0" class="drag-n-drop image" fxFlex="130px">
              <input class="hide-file" type="file" accept="image/*" #fileInputSelector>
              <button mat-button color="accent" (click)="addImage()" class="small">
                Add custom logo
              </button>
              <p>or drag'n'drop</p>
            </div>
            <!-- Image already uploaded: -->
            <div *ngIf="formImageControl.value.length > 0" class="photo-wrapper image" fxFlex="130px">
              <img [src]="formImageControl.value">
              <div class="icons">
                <button mat-button class="tiny icon-only" color="warn" matTooltip="Remove image" (click)="formImageControl.setValue('')">
                  <mat-icon fontIcon="part-cross"></mat-icon>
                </button>
              </div>
            </div>
          </div>

          <div class="desc" fxFlex="0 1 100%">
            <h3 class="box-title">Market logo/image</h3>
            <p>Add a Market logo/photo for customized branding</p>
            <ul>
              <li>Square format only</li>
              <li>Recommended resolution 300 × 300 px</li>
              <li>Max size 2 MB</li>
            </ul>
          </div>

        </div><!-- .market-image -->

      </mat-card><!-- market details -->

      <!-- @TODO: The market type and the ID/key input should probably be first in this modal, followed by name and then all the optional inputs (description, image, region, etc) -->

      <h2 class="section-title">
        Market ID and Keys
      </h2>

      <mat-card class="market-ids no-padding">

        <label class="--larger">
          <h3 class="label">Market ID</h3>
          <mat-form-field class="--larger --plain" appearance="fill">
            <mat-icon matPrefix fontIcon="part-shop"></mat-icon>
            <input matInput placeholder="Market ID of the market to be joined" formControlName="keyReceive">
          </mat-form-field>
        </label>

        <label class="--larger">
          <h3 class="label">Access/Publish key</h3>
          <mat-form-field class="--larger --plain" appearance="fill">
            <mat-icon matPrefix fontIcon="part-lock-open"></mat-icon>
            <input matInput placeholder="Market Key of the market to be joined" formControlName="keyPublish">
          </mat-form-field>
        </label>

      </mat-card><!-- .market-ids -->


      <h2 class="section-title">
        Market Region <small class="tag">Optional</small>
      </h2>

      <mat-form-field class="--boxed --larger" appearance="fill">
        <mat-icon matPrefix fontIcon="part-globe"></mat-icon>
        <mat-select placeholder="Filter by Market" formControlName="region">
          <mat-option *ngFor="let option of optionsMarketRegions" [value]="option.value">
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </form>

  </div>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    <mat-icon fontIcon="part-cross"></mat-icon>
    Cancel &amp; Close
  </button>
  <button mat-raised-button color="primary" [disabled]="marketForm.invalid || marketForm.disabled" appDebounceClick (debounceClick)="doAction()">
    <mat-icon fontIcon="part-circle-plus"></mat-icon>
    Join this Market
  </button>
</mat-dialog-actions>
