<mat-dialog-title>Join Existing Market</mat-dialog-title>
<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content>
  <div class="row">

    <form class="market-form" [formGroup]="marketForm">

      <h2 class="section-title">
        Market details
      </h2>

      <mat-card class="market-details">

        <label>
          <mat-form-field class="--larger --plain" appearance="fill">
            <h3 class="label">Market name</h3>
            <input matInput #name placeholder="Choose a name for your Market" formControlName="name">
            <mat-hint align="end">{{ name.value.length }}/{{ MAX_NAME }}</mat-hint>
          </mat-form-field>
        </label>

        <label>
          <mat-form-field class="--larger --plain" appearance="fill">
            <h3 class="label">Market description</h3>
            <textarea matInput rows="4" #description formControlName="summary" placeholder="Describe your Market in short, so that users will know what they'll find there"></textarea>
            <mat-hint align="end">{{ description.value.length }}/{{ MAX_SUMMARY }}</mat-hint>
          </mat-form-field>
        </label>

        <div class="market-image" fxLayout>
          <div #dropArea class="drag-n-drop" fxFlex="130px">
            <input class="hide-file" type="file" accept="image/*" #fileInputSelector>
            <button mat-button color="accent" (click)="addImage()" class="small">
              Add a personalized logo
            </button>
            <p>or drag'n'drop here</p>
          </div>
          <div class="desc" fxFlex="0 1 100%">
            <h3 class="box-title">Market logo/image</h3>
            <p>Add a Market logo/photo for customized branding</p>
            <ul>
              <li>Square format only</li>
              <li>Recommended resolution 300 × 300 px</li>
              <li>Max size 2 MB</li>
            </ul>
          </div>

          <div class="gallery">

            <div class="photo-wrapper" *ngIf="formImageControl.value.length > 0">
              <img [src]="formImageControl.value">
              <div class="icons">
                <mat-icon class="delete" fontIcon="part-cross" matTooltip="Remove image" (click)="formImageControl.setValue('')">
                </mat-icon>
              </div>
            </div>
          </div><!-- .gallery -->
        </div>

      </mat-card><!-- market details -->

      <!-- @TODO: The market type and the ID/key input should probably be first in this modal -->
      <!-- @TODO: The market type selection maybe requires some additional text around it, to indicate the dangers of selecting the wrong type of market :) -->
      <!-- @TODO: The help text below, for each option, definitely needs some re-working! -->
      <h2 class="section-title">
        Market type
      </h2>

      <mat-card fxLayout fxLayoutGap="30px" class="market-type">
        <mat-radio-group name="marketType" formControlName="marketType">
          <div>
            <mat-radio-button name="market-type" [value]="marketTypeOptions.STOREFRONT" class="larger" color="accent">
              Storefront
            </mat-radio-button>
            <p class="help-text">
              Use this option if you only have the market ID and you know that you will not be able to publish product listings to the market.
            </p>
          </div>
          <mat-divider [vertical]="true" fxFlex="0 0 4px" class="thicker lighter dashed"></mat-divider>
          <div>
            <mat-radio-button name="market-type" [value]="marketTypeOptions.STOREFRONT_ADMIN" class="larger" color="accent">
              Storefront Admin
            </mat-radio-button>
            <p class="help-text">
              The market ID and publish key differs. NB! Ensure that the publish key (if obtained) is correct - inputting an invalid publish key will prevent your published product listings from being received by buyers
            </p>
          </div>
          <mat-divider [vertical]="true" fxFlex="0 0 4px" class="thicker lighter dashed"></mat-divider>
          <div>
            <mat-radio-button name="market-type" [value]="marketTypeOptions.MARKETPLACE" class="larger" color="accent">
              Community Market
            </mat-radio-button>
            <p class="help-text">
              Anybody can publish product listings to this market -OR- you have both the market ID and the publish key and they are the same
            </p>
          </div>
        </mat-radio-group>
      </mat-card><!-- market type -->

      <h2 class="section-title">
        Market ID and possible publish key
      </h2>

      <mat-card class="market-type">
        <label>
          <mat-form-field class="--larger --plain" appearance="fill">
            <h3 class="label">Market ID</h3>
            <input matInput placeholder="Market ID of the market to be joined" formControlName="keyReceive">
          </mat-form-field>
        </label>

        <label *ngIf="formMarketTypeControl.value !== marketTypeOptions.MARKETPLACE">
          <mat-form-field class="--larger --plain" appearance="fill">
            <h3 class="label">Publish key</h3>
            <input matInput placeholder="Optional key allowing products listings to be created" formControlName="keyPublish">
          </mat-form-field>
        </label>

        <p>marketType Value is: {{ formMarketTypeControl.value }}</p>
      </mat-card><!-- market type -->


      <h2 class="section-title">
        Optional Market Region
      </h2>

      <mat-card fxLayout fxLayoutGap="30px" class="market-type">
        <mat-select placeholder="Filter by Market" formControlName="region">
          <mat-option *ngFor="let option of optionsMarketRegions" [value]="option.value">
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-card><!-- market region -->

    </form>

  </div>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    <mat-icon fontIcon="part-cross"></mat-icon>
    Close
  </button>
  <button mat-raised-button color="warn" [disabled]="marketForm.invalid || isProcessing" appDebounceClick (debounceClick)="doAction()">
    <mat-icon fontIcon="part-circle-plus"></mat-icon>
    Join Existing Market
  </button>
</mat-dialog-actions>
