<mat-dialog-title>Confirm transaction</mat-dialog-title>

<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content>

  <!--TX confirmation-->
  <div class="tx-confirmation">
    <div class="tx-info">
      <!-- if public -->
      <div class="public" *ngIf="txType === 'part'">
        <mat-icon fontIcon="part-public"></mat-icon>
        <div class="title">Public transaction</div>
        <p class="help-text">
          Sender, Receiver & transaction amount will be publicly visible on the blockchain
        </p>
      </div>
      <!-- if blind / anon-->
      <div class="blind" *ngIf="txType === 'blind'">
        <mat-icon fontIcon="part-blind"></mat-icon>
        <div class="title">Blind transaction</div>
        <p class="help-text">
          Sender & Receiver will be publicly visible on the blockchain, but the transaction amount will be hidden
        </p>
      </div>
      <div class="anon" *ngIf="txType === 'anon'">
        <mat-icon fontIcon="part-anon"></mat-icon>
        <div class="title">Anon transaction</div>
        <p class="help-text">
          Sender, Receiver & transaction amount will be hidden on the blockchain for highest privacy
        </p>
      </div>
    </div><!-- .tx-info -->

    <div class="tx-amount">
      <span class="big">{{ requestedWhole }}</span>
      <ng-container *ngIf="requestedFraction.length > 0">
        <span class="point">.</span>
        <span class="small">{{ requestedFraction }}</span>&ensp;
      </ng-container>
      <span class="currency">PART</span>
    </div>

    <mat-icon class="arrow-icon" fontIcon="part-arrow-down"></mat-icon>

    <div class="receiver-info">
      <div class="label" *ngIf="receiverName !== ''">{{ receiverName }}</div>
      <div class="label" *ngIf="!targetAddress">Converting balance</div>
      <code class="address" *ngIf="targetAddress" [ngClass]="txType">{{ targetAddress }}</code>
    </div>

    <p class="widget-help" *ngIf="isSubtractingFee">
      The transaction fee will be subtracted from the amount requested.
    </p>

    <p class="fee-info">
      Transaction fee:<span class="amount">{{ txFee }} PART</span><span class="fiat">&asymp; 0.05 USD</span><br>
      Total amount:<span
      class="amount">{{ totalAmount }} PART</span><span class="fiat">&asymp; 3.47 USD</span>
    </p>
  </div><!-- TX confirmation -->

</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    <mat-icon fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="primary" [ngClass]="txType" mat-dialog-close (click)="confirm()">
    <mat-icon fontIcon="part-check"></mat-icon>
    Confirm &amp; Send
  </button>
</mat-dialog-actions>
