@import './src/assets/_config'; // import shared colors etc.

.mat-dialog-title {
  margin-bottom: 2rem;
}

.modal-content {
  max-width: 700px;
}

.row {
  padding: 24px 0 6px;
  .text {
    flex: 1 1 100%;
  }
  .illustration {
    flex: 0 0 15rem;
    padding-left: 0.5rem;
    img {
      display: block;
      max-width: 100%;
    }
  }
}

.subtitle {
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  margin: 26px 0 10px;
}

table.sync-progress {
  width: 100%;
  margin-bottom: 24px;
  th,
  td {
    padding: 1px 0;
    font-size: 15px;
  }
  th {
    width: 160px;
    color: var(--text-muted);
    text-align: right;
    font-weight: 400;
    padding-right: 12px;
  }
  td {
    font-weight: 500;
  }
}
