<mat-dialog-title>Syncing with network</mat-dialog-title>
<button mat-button color="warn" class="modal-close" mat-dialog-close>
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>

<mat-dialog-content>

  <p *ngIf="(totalConnections | async) < 1" class="message --warning">
    Warning: No peers connected &ndash; please check your internet connection
  </p>

  <div class="row" fxLayout fxLayoutGap="20px">

    <div class="illustration">
      <img src="./assets/images/illustrations/blockchain-sync_animated.svg" alt="Blockchain syncing">
    </div>

    <div class="text">
      <table class="sync-progress">
        <tr>
          <th>Blocks to sync</th>
          <td>{{ remainderBlocks }}</td>
        </tr>
        <tr>
          <th>Complete</th>
          <td>{{ syncPercentage }}&nbsp;&#37;</td>
        </tr>
        <tr>
          <th>Estimated time left</th>
          <td>{{ estimatedTimeLeft }}</td>
        </tr>
      </table>

      <ng-container *ngIf="syncPercentage < 100">
        <p>
          Please wait for Particl blockchain to finish syncing with the network. Until then, you won't be able to spend PART and see your latest transactions and current balance.
        </p>
        <p class="help-text">
          If you want to determine how long this process may take and what you can do to ensure a snappy user experience, head over to the Particl Academy - Installation FAQ.
        </p>
      </ng-container>

      <ng-container *ngIf="syncPercentage == 100">
        <p class="lead">
          Blockchain sync is now completed!
        </p>
        <p class="help-text">
          You can safely close this window and dive into the Particl experience!
        </p>
      </ng-container>

    </div><!-- .text -->

  </div><!-- .row -->

</mat-dialog-content>
