<md-card>
  <md-card-content>
    <app-header>
      <div class="container-fluid header">
        <div [fxLayout]="'row'">
          <div fxFlex="80%">
            <md-tab-group (selectChange)="changeTab($event.index)">
              <md-tab *ngFor="let tab of tabsTtitles">
                <ng-template md-tab-label>
                  <strong class="capitalize"> {{tab}} </strong>
                </ng-template>
              </md-tab>
            </md-tab-group>
          </div>
          <div fxFlex="20%">
            <form class="header-form pull-right">
              <input type="text" placeholder="Search history">
              <button class="btn" type="submit" name="button">
                <span class="fa fa-search"></span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </app-header>
<div class="container-fluid">
  <transaction-table
    [display]="{'header': false, 'internalHeader': true, 'pagination': true, 'category': false, 'expand': true}">
  </transaction-table>
</div>
  </md-card-content>
</md-card>
