<div class="header">
  <div class="container-fluid verical-align">
    <ul>
      <li>All
      <li class="active">Send
      <li>Receive
      <li>Stake
    </ul>
    <form class="pull-right">
      <input type="text" placeholder="Search history">
      <button class="btn" type="submit" name="button">
        <span class="fa fa-search"></span>
      </button>
    </form>
  </div>
</div>
<div class="container-fluid">
  <app-transaction-table
    [displayHeader]="false"
    [displayInternalHeader]="true"
    [displayPagination]="false"
    [displayCategory]="true"
    [displaySenderAddress]="true"
    [displayDate]="true"
    [displayConfirmations]="true"
    [displayAmount]="true">
  </app-transaction-table>
  <!-- <table class="transaction-table">
    <tr *ngFor="let num of [0, 1, 2, 3, 4]">
      <td>
        <button class="btn btn-default text-uppercase">Send <span class="fa fa-arrow-right"></span></button>
      </td>
      <td>
        <strong class="text-uppercase">Address</strong> {{ num }}
      </td>
      <td>
        <span class="fa fa-clock-o"></span> {{ num }}
      </td>
      <td>
        <strong class="text-uppercase">Confirmations</strong> {{ num }} <span class="fa fa-clock-o"></span>
      </td>
      <td>
        <strong class="text-uppercase">Amount</strong> {{ num }} PART
      </td>
    </tr>
  </table> -->
  <!-- <div class="transaction-list">
    <div *ngFor="let num of [0, 1, 2, 3, 4]" class="transaction-item">
      {{ num }}
    </div>
  </div> -->
</div>
