<mat-dialog-title>Cold staking Zap</mat-dialog-title>

<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content class="--muted">

  <p class="lead">
    Zapping will fast-forward the cold staking progress instantly to 100%
  </p>
  <p>
    Be warned, that this decreases your financial privacy, as it bundles all your remaining coins into one big transaction. It is advised to zap only the small remaining part of your coins (last ~10 %) &ndash; those that take ages to get processed.
  </p>
  <p class="alert --boxed --info">
    <span>Zapping transaction(s) will consume <strong>{{ fee }} PART</strong> fee in the process.</span>
  </p>
  <p class="help-text">
    Staked coins won't be affected. If the outputs you want to move are in your staked balance, you must wait for them to mature.
  </p>

</mat-dialog-content>


<mat-dialog-actions>

  <button mat-button mat-dialog-close>
    <mat-icon fontIcon="part-cross"></mat-icon>
    Cancel
  </button>

  <button mat-raised-button color="accent" (click)="zap()" [disabled]="fee <= 0">
    <mat-icon fontIcon="part-lightning"></mat-icon>
    Zap to 100%
  </button>

</mat-dialog-actions>
