<mat-dialog-title>Cold staking Zap</mat-dialog-title>

<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content class="--muted">

  <p class="lead">
    Zapping will move any non-coldstaking unspent outputs in the wallet to coldstaking scripts in one or more transactions.
  </p>
  <p>
    Input selection strategy:
    <div class="select">
      <input type="range" id="selection_type" name="selection_type"
             min="1" max="2" (input)="selectModeChanged($event)" [value]="this.select_mode" [disabled]="is_zapping==true">
      <label for="selection_type"><span *ngIf="this.select_mode==1">Better staking</span><span *ngIf="this.select_mode==2">Better privacy</span></label>
    <br/>
    Up to {{ this.max_select }} inputs will be selected per transaction or until the output value is over {{ this.max_value }} PART.<br/>
    <b *ngIf="this.select_mode==1">
      Any inputs will be joined together for larger transaction outputs more likely to stake.</b>
    <b *ngIf="this.select_mode==2">
      Only inputs already linked in the chain will be joined together.</b>
    </div>
    <div>
      <input type="range" id="seconds_delay" name="seconds_delay" class="seconds_delay"
             min="1" max="3600" (input)="delayForChanged($event)" [value]="this.delay_for" [disabled]="is_zapping==true"><br/>
      <label for="seconds_delay">Seconds to wait between multiple transactions</label>
      <br/> Delay for around {{ this.delay_for }} seconds between transactions.
    </div>
    <p class="help-text">
      Recently staked coins won't be affected. If the outputs you want to move are in your staked balance, you must wait for them to mature.</p>
    <p class="help-text">
      Wallet must be unlocked until all transactions have been sent.</p>
    <p>
      Processed {{ this.outputs_current }} of {{ this.outputs_start }} outputs, {{ this.value_current.particlsString() }} PART.</p>
    <p *ngIf="this.txns_created>0">
      Created {{ this.txns_created }} txns, next tx at {{ this.next_tx_at }}.</p>
    <p *ngIf="this.str_error!=''">
      <b>Error: {{ this.str_error }}.</b></p>
    <p *ngIf="this.str_message!=''">
      <b>Message: {{ this.str_message }}.</b></p>

</mat-dialog-content>


<mat-dialog-actions>

  <button mat-button mat-dialog-close>
    <mat-icon fontIcon="part-cross"></mat-icon>
    Cancel
  </button>

  <button *ngIf="this.is_zapping==false" mat-raised-button color="accent" (click)="zap()">
    <mat-icon fontIcon="part-lightning"></mat-icon>
    Start Zapping
  </button>
  <button *ngIf="this.is_zapping==true" mat-raised-button color="accent" (click)="stopZapping()">
    <mat-icon fontIcon="part-lightning"></mat-icon>
    Stop Zapping
  </button>

</mat-dialog-actions>
