@import './src/assets/_config'; // import shared colors etc.
@import '../coldstake-modals-shared'; // shared styles for coldstake modals


.mat-dialog-content {
  width: 950px;
  max-height: none;
  height: calc(100vh - 360px);
  background: var(--bg);
  overflow-y: scroll; // always show vertical scrollbar, so content doesn't jump
}

.zap-option {
  @extend %tfx;
  padding: 8px 24px;
  margin: 0 -24px !important;
  font-family: var(--font);
  &:hover {
    background: var(--bg-hover);
  }
  &.mat-radio-checked {
    .name {
      font-weight: 700;
    }
    .desc {
      font-weight: 400;
    }
  }
  .name {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 2px;
    padding-left: 4px;
  }
  .desc {
    color: var(--text-muted);
    font-size: 12px;
    font-weight: 400;
    padding-left: 4px;
  }
}

mat-slider {
  width: 100%;
}

.dot {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--bg);
  margin: 14px 8px 0 var(--content-paddingH);
  margin-right: 12px;
  background: var(--color-alert);
  position: relative;
  &::before {
    // pulsating notification "dot"
    content: '';
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid hsla(var(--color-alert-hsl), 0.7);
    position: absolute;
    animation: infinite pulse 1.5s;
  }

  mat-icon {
    margin-left: 3px;
    margin-top: 3px;
    background: var(--bg);
    color: var(--color-alert);
    border-radius: 50%;
    padding: 1px;
  }
}

.txn-time {
  background: var(--bg);
  color: var(--color-info);
  margin-right: 1em;
}

.processing {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 2em;
  color: var(--text-muted) !important;

  table {
    width: auto;
    margin-right: 0;
    margin-left: auto;
    text-align: right;

    .processing-label {
      text-align: left;
      padding-right: 6px;
    }
  }
}

// pulsating "dot" animation
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.7);
    opacity: 0;
  }
}
