@import './src/assets/_config'; // import shared colors etc.


.section { // overview section titles
  .subtitle {
    @extend %subtitle;
  }
}

// FIXME @Allienworks: are these still nedeed?
.list { // overview of listings/orders
  .total {
    .value {
      font-size: 22px;
      margin: 2px 0 8px;
    }
  }
  .breakdown {
    .item {
      line-height: 1.5;
      margin: 6px 0;
    }
    .value {
      display: inline-block;
      width: 30px;
      margin-right: 12px;
      background: var(--bg-muted);
      border-radius: var(--radius);
      text-align: center;
      font-weight: 600;
    }
  }
  .desc {
    display: inline-block;
    text-transform: uppercase;
    color: var(--text-muted);
  }
  &.listings { // specifics for listings overview
    border-right: 1px solid var(--bg-muted);
    padding-right: 32px;
    margin-right: 32px;
  }
}
