<h4 mat-dialog-title>Confirm transaction</h4>

<div mat-dialog-content>
  {{dialogContent}}
</div>

<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-raised-button mat-dialog-close (click)="dialogClose()">
    <mat-icon fontSet="partIcon" fontIcon="part-simple-remove"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="confirm()">
    <mat-icon fontSet="partIcon" fontIcon="part-next-single-right"></mat-icon>
    Confirm
  </button>
</mat-dialog-actions>
