<app-table>
  <tr *ngIf="displayHeader">
    <th *ngIf="displayLabel">Label</th>
    <th *ngIf="displayAddress">Address</th>
    <th *ngIf="displayPublicKey">Public Key</th>
    <th *ngIf="displayType">Type</th>
    <th *ngIf="displayPurpose">Purpose</th>
    <th *ngIf="displayToolsMenu">Tools</th>
    <th *ngIf="displayQrMenu">QR Code</th>
  </tr>
  <tr *ngFor="let address of addressService.addresses">
    <td *ngIf="displayLabel" class="text-left">
      <span class="inline-header">{{ address.label }}</span>
    </td>
    <td *ngIf="displayAddress" class="text-left">
      <span class="inline-header">Address</span>
      <span>{{ address.address }}</span>
    </td>
    <td *ngIf="displayPublicKey">
      <span class="inline-header">Public Key</span>
      <span>{{ address.publicKey }}</span>
    </td>
    <td *ngIf="displayType">
      <span class="inline-header">Type</span>
      <span class="text-uppercase">{{ address.type }}</span>
    </td>
    <td *ngIf="displayToolsMenu" class="divider text-center">
      <div class="inline-toolbar tools-menu">
        <!-- we can use ngx-clipboard -->
        <span ngxClipboard [cbContent]="address.address" class="nc-icon nc-copy-2"></span>
        <!-- Open the modal for signing and verifying messages by address -->
        <span class="icon nc-icon nc-a-check"></span>
        <span (click)="addressService.deleteAddress(address.address)" class="nc-icon nc-circle-remove color-red"></span>
      </div>
    </td>
    <td *ngIf="displayQrMenu" class="divider text-center">
      <div class="inline-toolbar qrcode-menu">
        <span class="nc-icon nc-barcode-qr"></span>
      </div>
    </td>
  </tr>
</app-table>

<pagination *ngIf="displayPagination" [boundaryLinks]="true" (pageChanged)="pageChanged($event)" [totalItems]="addressService.addressCount" [maxSize]="5" [rotate]="false" [(ngModel)]="addressService.currentPage" class="pagination-sm center"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [itemsPerPage]="addressService.MAX_ADDRESSES_PER_PAGE" ></pagination>
