<div class="containerX">
  <div fxLayout="'row'" class="coloredContainerX box">
    <div class="grid-row grid-header" *ngIf="displayHeader">
      <md-list class="list-data" fxFlex="100%">
        <div *ngFor="let address of getSinglePage()">
          <md-list-item>
          </md-list-item>
        </div>
      </md-list>
      <div *ngIf="displayLabel">Label</div>
      <div *ngIf="displayAddress">Address</div>
      <div *ngIf="displayPublicKey">Public Key</div>
      <div *ngIf="displayType">Type</div>
      <div *ngIf="displayPurpose">Purpose</div>
      <div *ngIf="displayToolsMenu">Tools</div>
      <div *ngIf="displayQrMenu">QR Code</div>
    </div>

    <md-list class="list-data" fxFlex="100%">
      <div *ngFor="let address of getSinglePage()">
        <md-list-item>
          <div fxLayout.lt-md="column" fxLayout.md="column" fxFlex="100%" fxLayout.lg="row" fxlayout.lt-sm="column"
               fxlayout.lt-xs="column" fxLayoutGap="10px" layout-padding>
            <div fxFlex="20%" class="title cursor-pointer" *ngIf="displayLabel" (click)="editLabel(address.address)"> {{
              address.label }}
            </div>
            <div fxFlex="50%" class="address">
              <span class="title" *ngIf="displayAddress">Address: </span>
              {{ address.address }}
            </div>

            <div fxFlex="25%" class="grid-cell" *ngIf="displayPublicKey">
              <span class="title">Public Key</span>
              {{ address.publicKey }}
            </div>

            <div fxFlex="25%" clas="grid-cell" *ngIf="displayType">
              <span class="title">Type</span>
              <span class="text-uppercase">{{ address.type }}</span>
            </div>

            <div fxlayout.sm="row" fxlayout.lt-sm="row" fxlayout.lt-xs="column" fxFlex="15%" fxFlex.md="50%"
                 fxFlex.sm="50%" fxFlex.xs="100%" fxLayoutAlign="end center" *ngIf="displayToolsMenu"
                 class="md-left-border">
              <div fxFlex="100%" class="" fxLayoutAlign="end center">
                <span fxFlex="20%" fxFlex.md="33.33%" fxFlex.sm="33.33%"
                      fxFlex.xs="33.33%">
                  <md-icon fontSet="ncIcon" fontIcon="nc-copy-2" class="cursor-pointer" mdTooltip="Copy" ngxClipboard
                          [cbContent]="address.address">
                  </md-icon>
                </span>
                <span fxFlex="20%" fxFlex.md="33.33%" fxFlex.sm="33.33%" fxFlex.xs="33.33%">
                  <md-icon fontSet="ncIcon" fontIcon="nc-a-check" class="cursor-pointer"
                           mdTooltip="Verify message" ngxClipboard>
                  </md-icon>
                </span>
                <span fxFlex="20%" fxFlex.md="33.33%" fxFlex.sm="33.33%" fxFlex.xs="33.33%">
                  <md-icon color="warn" fontSet="ncIcon" fontIcon="nc-circle-remove"
                           (click)="deleteAddress(address.label, address.address)"
                           mdTooltip="Delete">
                  </md-icon>
                </span>
              </div>
            </div>
            <div fxlayout.sm="row" fxlayout.lt-sm="row" fxlayout.lt-xs="column" fxFlex="10%" fxFlex.md="50%"
                 fxFlex.sm="50%" fxFlex.xs="100%" *ngIf="!displayQrMenu" fxLayoutAlign="end center"
                 class="md-left-border">
              <div class="grid-cell divider text-center">
                <div class="inline-toolbar qrcode-menu" fxFlex="100%" fxLayoutAlign.md="center end"
                     fxLayoutAlign.lt-md="center end" fxLayoutAlign.lt-sm="center end" fxLayoutAlign="end center"
                     (click)="openQrCodeModal(address)">
                  <i class="fa fa-qrcode fa-3x" aria-hidden="true"></i>
                  <!--<span class="nc-icon nc-barcode-qr fa-5x"></span>-->
                </div>
              </div>
            </div>
          </div>
        </md-list-item>
        <md-divider></md-divider>
      </div>
    </md-list>
  </div>
</div>
<pagination *ngIf="displayPagination"
            [boundaryLinks]="true"
            [totalItems]="getTotalAddressCount()"
            [maxSize]="5"
            [rotate]="false"
            [(ngModel)]="currentPage"
            class="pagination-sm center" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
            lastText="&raquo;"
            [itemsPerPage]="getMaxAddressesPerPage()">
</pagination>
