@import "./src/assets/_config"; // import shared colors etc.

md-card.address-entry {
  margin-bottom: 12px;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
}

/*
app-header {
  li.add-address .icon {
    font-size: 28px;
    margin-right: 5px;
  }
}
*/

.address {
  .title {
    color: $text-muted;
    font-weight: normal;
    @media (max-width: 960px) {
      display: none;
    }
  }
}

.address-actions { // copy, verify, delete & QR
  @media (max-width: 960px) {
    margin-top: 7px;
  }
  .mat-icon {
    width: auto;
    height: auto;
    font-size: 14px;
    @media (max-width: 960px) {
      font-size: 16px;
    }
  }
  .qrcode-menu {
    margin-left: 20px;
    @media (max-width: 960px) {
      margin: 0;
    }
    .fa-qrcode {
      font-size: 37px;
      margin: -10px 0;
      @media (max-width: 960px) {
        font-size: 23px;
        margin: 0;
      }
    }
  }
}


/*
#qr-modal {
  position: absolute;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

#qr-modal.hide {
  width: 0!important;
  height: 0!important;
  display: none;
}

.qr-modal-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 600px;
  padding: 30px;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
}

.modal-content-header {
  font-size: 1.2em;
}

.modal-label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7em;
  margin-bottom: 10px;
}

#qr-modal .row {
  margin-bottom: 30px;
}

.margin-top-5px {
  margin-top: 5px;
}

.single-address{
  word-break: break-all;
}

.label-address{
  display: block;
}

#qr-modal .modal-content-header {
  font-weight: 600;
}
*/