<h2 mat-dialog-title>Revert Cold Staking</h2>

<mat-dialog-content>
  <p>
    Reverting will cancel Cold Staking and move your funds back to your wallet from your staking device.
  </p>
  <p>
    Alternatively, you can just disable Cold Staking activation. That will stop sending staked coins to your staking device. Coins already there will stay there.
  </p>
  <p class="warning">
    <mat-icon fontSet="partIcon" fontIcon="part-alert"></mat-icon>
    Reverting transaction(s) will consume <strong>{{ fee }} PART fee</strong> in the process.
  </p>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button mat-dialog-close>
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-button color="warn" (click)="disableColdstaking()">
    <mat-icon fontSet="partIcon" fontIcon="part-error"></mat-icon>
    Disable Cold Staking
  </button>
  <button mat-raised-button color="warn" (click)="revertColdstaking()">
    <mat-icon fontSet="partIcon" fontIcon="part-refresh"></mat-icon>
    Revert Cold Staking
  </button>
</mat-dialog-actions>
