@import './src/assets/_config'; // import shared colors etc.
@import './src/app/main-market/shared/market-list-item'; // shared market item (in lists)


// alert for "scan for listings" in newly connected markets
div.alert {
  &.--sticky-bottom {
    position: sticky;
    bottom: 0;
    margin-bottom: 0 !important;
  }
}
