<div mat-dialog-title class="modal-text-align">Are you sure you want to delete?</div>
<button class="small-close_button pull-right" (click)="dialogClose()">
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>

<div mat-dialog-content class="dialog-content">
  {{dialogContent}}
</div>

<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button mat-dialog-close (click)="dialogClose()">Cancel</button>
  <button mat-raised-button color="warn" mat-dialog-close (click)="onConfirmDelete()">Yes, delete</button>
</mat-dialog-actions>
