<div class="container-block address-book">

  <app-header>
    <div fxLayout="row">
      <div fxFlex="75">
        <button md-button color="primary" (click)="openNewAddress()" class="add-address">
          <md-icon>add_circle</md-icon>
          <span>Save Address</span>
        </button>
      </div>
      <md-form-field class="icon-input" fxFlex>
        <input mdInput type="text" [(ngModel)]="query" [ngModelOptions]="{standalone: true}" placeholder="Search Addresses">
        <md-icon>search</md-icon>
      </md-form-field>
    </div>
  </app-header>

  <div class="container-fluid">
    <address-table
      [query]="query"
      [displayHeader]="false"
      [displayInternalHeader]="true"
      [displayPagination]="true"
      [displayLabel]="true"
      [displayAddress]="true"
      [displayPurpose]="true"
      [displayToolsMenu]="true"
      [displayQrMenu]="false"
      (editLabelEmitter)="editLabel($event)">
    </address-table>
  </div>

</div>
