<div class="container-block address-book disable-select">

  <app-header>
    <div fxLayout="row">
      <div fxFlex="75" fxFlex.lt-md="60" fxFlex.lt-sm="100">
        <button md-button color="primary" (click)="openNewAddress()" class="add-address">
          <md-icon fontSet="partIcon" fontIcon="part-circle-add-2"></md-icon>
          <span>Add new address</span>
        </button>
      </div>
      <md-form-field class="icon-input search-address" fxFlex="25" fxFlex.lt-md="40" fxFlex.lt-sm="100">
        <input mdInput type="text" [(ngModel)]="query" [ngModelOptions]="{standalone: true}" placeholder="Search Addresses">
        <md-icon fontSet="partIcon" fontIcon="part-zoom-bold" fxHide.lt-md></md-icon>
      </md-form-field>
    </div>
  </app-header>

  <div class="container-fluid">
    <address-table
      [query]="query"
      [displayHeader]="false"
      [displayInternalHeader]="true"
      [displayPagination]="true"
      [displayLabel]="true"
      [displayAddress]="true"
      [displayPurpose]="true"
      [displayToolsMenu]="true"
      [displayQrMenu]="false"
      (editLabelEmitter)="editLabel($event)">
    </address-table>
  </div>

</div>
