<!-- Placeholder for loading items -->
<app-loading-placeholder *ngIf="!txService.txs.length && txService.loading"></app-loading-placeholder>

<div class="no-results" *ngIf="txService.txs.length === 0 && !txService.loading">
  <p>
    No transactions yet
  </p>
</div>

<div class="grid-row grid-header" *ngIf="display.header">
  <div class="cell-date" *ngIf="display.date">date</div>
  <div class="cell-category" *ngIf="display.category">category</div>
  <div class="cell-senderAddress" *ngIf="display.senderAddress">address</div>
  <div class="cell-txid" *ngIf="display.txid">txid</div>
  <div class="cell-blockIndex" *ngIf="display.blockIndex">blockindex</div>
  <div class="cell-confirmations" *ngIf="display.confirmations">confirmations</div>
  <div class="cell-amount" *ngIf="display.amount">amount</div>
</div>

<ng-container *ngFor="let tx of txService.txs">
  <mat-expansion-panel class="history-list no-padding" [expanded]="checkExpandDetails(tx)">

    <mat-expansion-panel-header (click)="showExpandedTransactionDetail(tx)">
      <mat-panel-title class="tx-overview" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">

        <!-- Date -->
        <div fxFlex="0 0 135px" *ngIf="display.date" class="date">
          {{ tx.getDate() }}
        </div>

        <!-- Confirmations -->
        <div fxFlex="0 0 70px" *ngIf="display.confirmations && tx.getConfirmationCount() <= 12" class="confirmations" [ngClass]="styleConfimations(tx.getConfirmationCount())">
          <div class="confirmation-tag" matTooltip="Unconfirmed transaction" matTooltipPosition="before">
            <mat-icon fontSet="partIcon" fontIcon="part-date" class="confirmations"></mat-icon>
            {{ tx.getConfirmationCount() }}/12
          </div>
        </div>

        <!-- Category icon -->
        <div fxFlex="1 0 175px" *ngIf="display.category" class="type"
                          [ngSwitch]="tx.getCategory()">
          <span *ngSwitchCase="'stake'" class="tx-type staked">
            <mat-icon fontSet="partIcon" fontIcon="part-stake"></mat-icon>
            <span class="name">Staked</span>
          </span>
          <span *ngSwitchCase="'orphaned_stake'" class="tx-type orphan">
            <mat-icon fontSet="partIcon" fontIcon="part-alert" color="warn"></mat-icon>
            <span class="name">Orphaned Stake</span>
          </span>
          <span *ngSwitchCase="'send'" class="tx-type sent">
            <mat-icon fontSet="partIcon" fontIcon="part-send" color="warn"></mat-icon>
            <span class="name">Sent</span>
            <mat-icon class="narration" *ngIf="tx.getNarration()" fontSet="partIcon" fontIcon="part-pen-1"
                      matTooltip="{{tx.getNarration()}}" matTooltipPosition="after"></mat-icon>
          </span>
          <span *ngSwitchCase="'multisig'" class="tx-type sent">
            <mat-icon fontSet="partIcon" fontIcon="part-lock-open" color="warn"></mat-icon>
            <span class="name">Multisig / escrow</span>
            <mat-icon class="narration" *ngIf="tx.getNarration()" fontSet="partIcon" fontIcon="part-pen-1"
                      matTooltip="{{tx.getNarration()}}" matTooltipPosition="after"></mat-icon>
          </span>
          <span *ngSwitchCase="'receive'" class="tx-type received">
            <mat-icon fontSet="partIcon" fontIcon="part-receive" color="primary"></mat-icon>
            <span class="name">Received</span>
            <mat-icon class="narration" *ngIf="tx.getNarration()" fontSet="partIcon" fontIcon="part-pen-1"
                      matTooltip="{{tx.getNarration()}}" matTooltipPosition="after"></mat-icon>
          </span>
          <span *ngSwitchCase="'internal_transfer'" class="tx-type received">
            <mat-icon fontSet="partIcon" fontIcon="part-transfer" color="primary"></mat-icon>
            <span class="name">Balance transfer</span>
          </span>
          <span *ngSwitchCase="'listing_fee'" class="tx-type listing-fee">
            <mat-icon fontSet="partIcon" fontIcon="part-bag-buy"></mat-icon>
            <span class="name">Publishing fee</span>
          </span>
        </div>

        <!-- Amount -->
        <div fxFlex="1 0 155px" *ngIf="display.amount" class="tx-value">
          <span class="amount" *ngIf="!tx.requires_unlock"
                [ngClass]="{'positive': tx.getAmountObject().getAmount() > 0, 'negative': tx.getAmountObject().getAmount() < 0 }">
            <span class="big number">{{ tx.getAmountObject().getIntegerPartAsString() }}</span><!-- inline element comment hack
            --><span class="point">{{ tx.getAmountObject().dot() }}</span><!--
            --><small class="small number">{{ tx.getAmountObject().getFractionalPart() || '' }}</small>
            <span class="currency">PART</span>
          </span>
          <span class="amount" *ngIf="tx.requires_unlock">
            <mat-icon fontSet="partIcon" fontIcon="part-anon" matTooltip="Unlock wallet to see private transaction details" matTooltipPosition="before"></mat-icon>
          </span>
        </div><!-- .tx-value -->

      </mat-panel-title><!-- .tx-overview -->
    </mat-expansion-panel-header>


    <div class="container history-container">

      <!-- TX description -->
      <div class="tx-description">
        <span [ngSwitch]="tx.getCategory()">
          <span *ngSwitchCase="'stake'">
            Your staking reward for securing the network &ndash; good job, you deserve it!
          </span>
          <span *ngSwitchCase="'orphaned_stake'">
            Your potential staking reward was claimed by another node &ndash; don't worry, this happens sometimes &ndash; make sure your internet connection is stable and you're staking ideally 24/7
          </span>
          <span *ngSwitchCase="'send'">
            Sent transaction to 3rd-party address
          </span>
          <span *ngSwitchCase="'multisig'">
            Smart contract transaction generated by actions on the Market (paying for orders etc.)
          </span>
          <span *ngSwitchCase="'receive'">
            Transaction you received from 3rd party
          </span>
          <span *ngSwitchCase="'internal_transfer'">
            Payment within your own wallet &ndash; converting between your Public and Private balances / preparing outputs while bidding on Market listings
          </span>
          <span *ngSwitchCase="'listing_fee'">
            Publishing fee for either posting a listing on the Market or voting on Proposals
          </span>
        </span>
      </div>

      <div class="tx-details" fxLayout="row wrap">

        <div fxFlex="1 1 calc(100% - 260px)" fxLayout="column">
          <!-- To/from (detail) -->
          <!-- TODO: show for all EXCEPT for 'listing_fee' -->
          <div class="tx-detail-item" fxFlex>
            <span fxFlex="0 0 80px">To/from:</span>
            <input disabled fxFlex="1 1 calc(100% - 80px)" value="{{ tx.getAddress() }}" class="to-from-address input">
          </div>
          <!-- TX ID (detail) -->
          <div class="tx-detail-item" fxFlex>
            <span fxFlex="0 0 80px">TXID:</span>
            <a fxFlex="1 1 calc(100% - 80px)" class="tx-detail-link"
                href="https://explorer{{txService.testnet ? '-testnet' : ''}}.particl.io/tx/{{tx.txid}}"
                target="_blank" matTooltip="Show on Block Explorer">
              {{tx.txid}}</a>
          </div>
        </div>
  
        <div fxFlex="0 0 260px" fxLayout="column">
          <!-- TX fee (detail) -->
          <div class="tx-detail-item text-right" fxFlex>
            <span>Fee:</span>
            <span class="value">{{tx.fee ? tx.fee : 0}} PART</span>
          </div>
          <!-- Net amount (detail) -->
          <div class="tx-detail-item text-right" fxFlex>
            <span>Net amount:</span>
            <span class="value">{{ tx.getNetAmount()}} PART</span>
          </div>
        </div>
  
        <!-- Narration -->
        <div class="tx-detail-item" fxFlex="1 1 100%" *ngIf="tx.getNarration()">
          <span fxFlex="0 0 80px">Narration:</span>
          <input disabled fxFlex="1 1 calc(100% - 80px)" value="{{tx.getNarration()}}" class="narration input">
        </div>

      </div><!-- .tx-details -->

    </div><!-- .history_cointainer -->
  </mat-expansion-panel>
</ng-container>


<app-paginator
  #paginator
  *ngIf="display.pagination && txService.txs.length > 0"
  [length]="txService.txCount"
  [pageSize]="txService.MAX_TXS_PER_PAGE"
  [pageSizeOptions]="txService.PAGE_SIZE_OPTIONS"
  (page)="pageChanged($event)">
</app-paginator>
