@import './src/assets/_config'; // import shared colors etc.

.mat-expansion-panel-header {
  min-height: 67px !important;

  // TX date/time
  .date {
    color: $text-muted;
  }

  // confirmations
  .confirmations {
    // color: $text-muted;
    .confirmation-tag {
      border-radius: $radius;
      font-size: 12px;
      display: inline-block;
      padding: 5px 10px;
    }
    .confirmations { // icon
      margin-right: 3px;
      font-size: 12px;
      position: relative;
      top: 1px;
    }
    &.confirm-none { // unconfirmed TXs
      color: mix($color-alert, $color-warning, 100%);
      .confirmation-tag {
        background: rgba(mix($color-alert, $color-warning, 100%), 0.15);
      }
    }
    &.confirm-1 { // 1-4 confirmations
      color: mix($color-alert, $color-warning, 66%);
      .confirmation-tag {
        background: rgba(mix($color-alert, $color-warning, 66%), 0.15);
      }
    }
    &.confirm-2 { // 5-8 conf.
      color: mix($color-alert, $color-warning, 33%);
      .confirmation-tag {
        background: rgba(mix($color-alert, $color-warning, 33%), 0.15);
      }
    }
    &.confirm-3 { // 9-12 conf.
      color: mix($color-alert, $color-warning, 0%);
      .confirmation-tag {
        background: rgba(mix($color-alert, $color-warning, 0%), 0.15);
      }
    }
    &.confirm-ok {
      color: lighten($text-muted, 20%);
    }
  }

  // TX icon
  .type {
    .mat-icon {
      font-size: 14px;
      position: absolute;
      // narration icon
      &.narration {
        margin: 0 0 0 2px;
        font-size: 12px;
        color: lighten($text-muted, 20%) !important;
        padding: 3px;
        top: 1px;
      }
    }
    .tx-type {
      .name {
        font-weight: 500;
        margin-left: 26px;
      }
      &.staked {
        .mat-icon {
          color: $color-warning;
        }
      }
      &.orphan {
        .mat-icon {
          color: mix($bg-shadow, $text-muted);
        }
      }
      &.sent {
        .mat-icon {
          color: $color-alert;
        }
      }
      &.received {
        .mat-icon {
          color: $color;
        }
      }
    }
  }

  // TX amount
  .tx-value {
    text-align: right;
    display: block;
    .amount {
      .big {
        font-weight: bold;
      }
      .point,
      .small {
        color: $text-muted;
      }
    }
    .negative {
      color: $color-alert;
      .point,
      .small {
        color: mix($color-white, $color-alert, 30%);
      }
    }
  }
}

// detail item of TX info
.tx-detail-item {
  padding: 5px 0;
  color: $text-muted;
  font-size: 13px;
  font-family: $font;
  // shared across inputs
  .input {
    border: 0;
    outline: 0;
    padding: 0 5px;
    &.narration {
      padding: 0;
      background: none;
      color: $text;
    }
  }
  // to/from address
  .to-from-address {
    width: 100%;
    font-family: monospace;
    color: lighten($text, 10%);
    background: lighten($bg-shadow, 10%);
    border-radius: 4px;
  }
  // explorer link
  .tx-detail-link {
    width: 100%;
    color: $text-muted;
    font-family: monospace;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    &:hover {
      color: $color;
    }
  }
}
