<mat-dialog-title>Edit Market categories<br><small class="small">{{ marketName }}</small></mat-dialog-title>

<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>



<mat-dialog-content class="--muted">

  <h2 class="section-title">Add new root category</h2>

  <mat-form-field class="--boxed" appearance="fill">
    <input matInput type="text" #rootCategoryName placeholder="Name of new root category">
    <button matSuffix mat-button class="small" matTooltip="Add category" matTooltipPosition="after"
        [disabled]="!isEditable || rootCategoryName.value === ''" appDebounceClick (debounceClick)="createRootCategory(rootCategoryName.value)">
      <mat-icon fontIcon="part-circle-plus"></mat-icon>
    </button>
  </mat-form-field>

  <h2 class="section-title">Manage existing categories</h2>

  <div>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

      <!-- LEAF NODE -->

      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <div class="category" [ngClass]="{ 'first-level': node.level === BASE_LEVEL }">
          <div class="name">
            {{node.name}}
          </div>
          <button *ngIf="node.level < (MAX_DEPTH - 1)" mat-button class="add-new control tiny" matTooltip="Add sub-category here"
            [disabled]="!isEditable" appDebounceClick (debounceClick)="insertSubCategory(node)">
            <mat-icon fontIcon="part-small-plus"></mat-icon>
            Add
          </button>
          <button mat-button class="remove control tiny" color="warn" matTooltip="Remove category"
            [disabled]="!isEditable" appDebounceClick (debounceClick)="removeCategory(node)">
            <mat-icon fontIcon="part-circle-remove"></mat-icon>
            Remove
          </button>
        </div>
      </mat-tree-node>


      <!-- CATEGORY CAPTURE -->

      <mat-tree-node *matTreeNodeDef="let node; when: isNewItem" matTreeNodePadding>
        <mat-form-field class="add-new-form category --plain" appearance="fill">
          <mat-icon matPrefix fontIcon="part-filter"></mat-icon>
          <input matInput type="text" #subcategoryName placeholder="Name of new sub-category">
          <button matSuffix mat-button class="tiny icon-only" color="primary" matTooltip="Create sub-category" matTooltipPosition="after" [disabled]="!isEditable || (subcategoryName.value === '')" appDebounceClick (debounceClick)="createSubCategory(node, subcategoryName.value)">
            <mat-icon fontIcon="part-check"></mat-icon>
          </button>
          <button matSuffix mat-button class="tiny icon-only" matTooltip="Cancel" matTooltipPosition="after"
            [disabled]="!isEditable" appDebounceClick (debounceClick)="cancelCategoryInsert()">
            <mat-icon fontIcon="part-cross"></mat-icon>
          </button>
        </mat-form-field>
      </mat-tree-node>


      <!-- PARENT NODE -->

      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <div class="category" [ngClass]="{ 'first-level': node.level === BASE_LEVEL }">
          <div class="name">
            {{node.name}}
            <button mat-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name" class="toggle tiny icon-only">
              <mat-icon fontIcon="{{treeControl.isExpanded(node) ? 'part-triangle-down' : 'part-triangle-left'}}"></mat-icon>
            </button>
          </div>
          <button *ngIf="node.level < (MAX_DEPTH - 1)" mat-button class="add-new control tiny" matTooltip="Add sub-category here"
            [disabled]="!isEditable" appDebounceClick (debounceClick)="insertSubCategory(node)">
            <mat-icon fontIcon="part-small-plus"></mat-icon>
            Add
          </button>
        </div>
      </mat-tree-node>

    </mat-tree>
  </div>

</mat-dialog-content>



<mat-dialog-actions>
  <div class="left"></div>
  <div class="right">
    <button mat-button mat-dialog-close>
      <mat-icon fontIcon="part-cross"></mat-icon>
      Close
    </button>
  </div>
</mat-dialog-actions>
