<div class="address-info" fxLayout>

  <div class="sidebar" fxFlex="0 0 180px">
    <div #qrCode class="qrcode">
      <qrcode size="180" [level]="'H'" qrdata="particl:{{ address?.address }}">
      </qrcode>
    </div>
  </div>


  <div class="address-details" fxFlex="1 1 480px">


    <!-- Address type (public/private)-->
    <div class="address-type">
      <ng-container *ngIf="addressType === 'public'">
        <mat-icon fontIcon="part-public"></mat-icon>
        Public address
      </ng-container>
      <ng-container *ngIf="addressType === 'private'">
        <mat-icon fontIcon="part-anon"></mat-icon>
        Private address
      </ng-container>

      {{ address?.owned === 'true' ? '#' + (address?.id + 1) : "" }}
    </div>


    <!-- Address label -->
    <div class="address-label">

      <mat-form-field class="icon-input label-input full-width">
        <input matInput
          class="label"
          type="text"
          [ngClass]="{'no-label': address?.label === ''}"
          [disabled]="!isEditing"
          [(ngModel)]="newLabel"
          (keyup.enter)="updateLabel()">
        <mat-hint class="small" align="start" *ngIf="isEditing"> <small>Use the green icon (or press <kbd>Enter</kbd>) to save label changes</small> </mat-hint>
      </mat-form-field>

      <button mat-button class="small" *ngIf="isEditing" (click)="updateLabel()" color="primary" matTooltip="Save label [Enter]" matTooltipPosition="after">
        <mat-icon fontIcon="part-circle-check"></mat-icon>
      </button>

      <button mat-button class="small" *ngIf="!isEditing" (click)="toggleEdit()" matTooltip="Edit label" matTooltipPosition="after">
        <mat-icon fontIcon="part-pen-1"></mat-icon>
      </button>

    </div><!-- .address-label -->


    <!-- Address string -->
    <div class="address address-string" [ngClass]="{ 'private' : addressType === 'private' }" fxLayout="row wrap" fxLayoutAlign="start center" matTooltip="Click to copy" matTooltipPosition="after" ngxClipboard [cbContent]="address?.address || ''" (click)="copyToClipBoard()">
      <div *ngFor="let word of addressParts" class="address-word" fxFlex="11.111">
        {{ word }}
      </div>
    </div>


    <!-- if PUBLIC + MY address: -->
    <p class="widget-help">
      {{ widgetHelpText }}
    </p>

  </div><!-- .main -->
</div><!-- .address-info -->
