<div class="staking-info section">
  <header>
    <div class="subtitle">Staking stats</div>
  </header>

  <mat-card>
    <table class="staking-overview" cellspacing="0">
      <tr>
        <th>Next reward</th>
        <td>~{{ expectedtime.getShortReadableDuration() }}</td>
      </tr>
      <tr>
        <th>Your Stake weight</th>
        <td>{{ ownPercentageOfActiveStakingSupply.getIntegerPart() }}.<small>{{ ownPercentageOfActiveStakingSupply.getFractionalPart() }}</small>&nbsp;%</td>
      </tr>
      <tr>
        <th>Stake percentage</th>
        <td>{{ curStakeReward.getIntegerPart() }}&nbsp;%</td>
      </tr>
    </table>
  </mat-card>

</div><!-- .staking-info -->
