<div class="staking-info section">

  <header>
    <div class="subtitle">Staking stats</div>
  </header>

  <mat-card class="staking-overview">

    <div class="row">
      <div class="key">Next reward</div>
      <div class="value">~{{ expectedtime.getShortReadableDuration() }}</div>
    </div>

    <mat-divider></mat-divider>

    <div class="row">
      <div class="key">Your Stake weight</div>
      <div class="value">{{ ownPercentageOfActiveStakingSupply.getIntegerPart() }}.<small>{{ ownPercentageOfActiveStakingSupply.getFractionalPart() }}</small>&nbsp;%</div>
    </div>

    <mat-divider></mat-divider>

    <div class="row">
      <div class="key">Stake percentage</div>
      <div class="value">{{ curStakeReward.getIntegerPart() }}&nbsp;%</div>
    </div>

  </mat-card><!-- .staking-overview -->

</div><!-- .staking-info -->
