<app-header class="disable-select">
  <div class="control-bar" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">

    <!-- Search-->
    <div class="icon-input search-listings" fxFlex="0 0 250px">
      <input type="text" class="header-input" id="searchbar" placeholder="Search items for sale.."
             [(ngModel)]="filters.search" (keyup)="clearAndLoadPage()" (keyup.enter)="clearAndLoadPage()"
             (keyup.escape)="filters.search = ''; clearAndLoadPage()">
      <mat-icon fontSet="partIcon" fontIcon="part-search"></mat-icon>
    </div>

    <!-- Filtering -->
    <div class="filtering" fxFlex="1 1 100%">
      <!-- removed multiple as I guess currently the api returning data on the basis of only one selected country -->
      <mat-select placeholder="All countries" class="filter country" (change)="clearAndLoadPage()" [(ngModel)]="filters.country">
        <mat-option>All countries</mat-option>
        <mat-option *ngFor="let country of countryList?.countries" [value]="country.iso">{{ country.name }}
        </mat-option>
      </mat-select>

      <mat-select placeholder="All categories" (change)="clearAndLoadPage()" [(ngModel)]="filters.category"  class="filter category">
        <mat-option>All categories</mat-option>
        <mat-option *ngFor="let category of categoryList" [value]="category.id"><span class="lvl-{{ category.level }}">{{ category.name }}</span></mat-option>
      </mat-select>
    </div>

    <!-- Sorting -->
    <!--mat-select placeholder="Sort by" class="filter sorting TO_DO" fxFlex="0 1 300px">
      <mat-option>Default</mat-option>
      <mat-option *ngFor="let sorting of sortings" [value]="sorting.value">
        {{ sorting.viewValue }}
      </mat-option>
    </mat-select-->

    <!-- Sorting -->
    <!--div class="display" fxFlex="0 1 80px" fxLayout="row" fxLayoutGap="15px">
      FIXME: add ".active" class to currently selected view + needs to implement functionality
      <mat-icon class="icon active" fontSet="partIcon" fontIcon="part-overview" matTooltip="Grid view"></mat-icon>
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-hamburger" matTooltip="List view"></mat-icon>
    </div-->

  </div><!-- .control-bar -->
</app-header>


<div class="container-block" fxLayout="row">

  <!-- div class="sidebar" fxFlex="25%">

    <div class="subtitle first">Categories</div>

    <mat-expansion-panel *ngFor="let category of _rootCategoryList.subCategoryList" class="category-filter no-padding">
      <mat-expansion-panel-header class="category-filter-header">
        <span class="title">{{category.name}}</span>
      </mat-expansion-panel-header>
      <mat-nav-list class="category-items">
        <a mat-list-item *ngFor="let subcategory of category.subCategoryList" class="category-item" >{{subcategory.name}}</a>
      </mat-nav-list>
    </mat-expansion-panel>

    <div class="subtitle">Filter by price range</div>
    <mat-card>
      price filter
    </mat-card>

  </div--><!-- .sidebar -->


  <div class="content disable-select" fxLayout="row wrap" fxLayoutAlign="start start"
       infiniteScroll
       [infiniteScrollContainer]="pagination.infinityScrollSelector"
       [fromRoot]="true"
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="50"
       (scrolledUp)="loadPreviousPage()"
       (scrolled)="loadNextPage()">

    <button mat-button class="previous-page" fxFlex="100%" (click)="loadPreviousPage()"
            *ngIf="pages[0] && pages[0].pageNumber !== 1">
      <mat-icon fontSet="partIcon" fontIcon="part-previous-single"></mat-icon>
      Load previous page
    </button>

    <!-- FIXME: can we display this only on initial loading? (not when we're loading previous pages when being e.g. on page 3) -->
    <div class="loading-container" *ngIf="isLoading">
      <div class="loading-info">
        <div class="loading-image">
          <img src="./assets/particl-logo-symbol.svg">
        </div>
        <p class="title">
          Hang on, we're loading the listings
        </p>
        <p class="widget-help">
          This might take a while
        </p>
      </div>
    </div><!-- .loading-container -->

    <div class="no-results" [hidden]="pages[0]?.listings.length !== 0">
      <p>
        Sorry, no matching listings found
      </p>
    </div>
    <ng-container *ngFor="let page of pages">
      <ng-container *ngFor="let item of page.listings">
        <mat-card class="listing" fxFlex="0 0 calc(100% / 4 - 30px)">
          <app-listing-item [listing]="item"></app-listing-item>
        </mat-card>
      </ng-container>
    </ng-container>

    <div class="no-results" [hidden]="!noMoreListings">
      <p>
        Sorry, that's all folks!
      </p>
    </div>
  </div><!-- .content -->


</div><!-- .container-block -->

<mat-progress-bar mode="indeterminate" *ngIf="isLoading" class="loading-bar"></mat-progress-bar>
