<!-- Do not remove the below class it is using for test case -->
<app-header class="test-case-container">
  <div class="control-bar" fxLayout="row" fxLayoutAlign="space-between center">

    <!-- Search-->
    <div class="icon-input search-listings" fxFlex="1 1 25%">
      <input type="text" class="header-input" id="searchbar" placeholder="Search items for sale.."
             [(ngModel)]="filters.search" (keyup)="clearAndLoadPage()" (keyup.enter)="clearAndLoadPage()"
             (keyup.escape)="filters.search = ''; clearAndLoadPage()">
      <mat-icon fontSet="partIcon" fontIcon="part-search"></mat-icon>
    </div>

    <!-- Filtering -->
    <div class="filter-by seller-country" fxFlex="1 1 25%">
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-filter" fxFlex="0 0 16px" matTooltip="Filter by seller country & categories" matTooltipPosition="below"></mat-icon>
      <mat-select-search
        [options]="countryList?.countries"
        [defaultOption]="'All seller countries'"
        [isLexigraphicalOrder]="true"
        [showValueOf]="'name'"
        (onChange)="onCountryChange($event)">
      </mat-select-search>
    </div>

    <div class="filter-by category" fxFlex="1 1 25%">
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-label" fxFlex="0 0 16px" matTooltip="Filter by categories" matTooltipPosition="below"></mat-icon>
      <mat-otpgroup-select-search
        [options]="_rootCategoryList?.subCategoryList"
        [defaultOption]="'All categories'"
        (change)="onCategoryChange($event)">
      </mat-otpgroup-select-search>
    </div>

    <div class="filter-by buyer-country" fxFlex="1 1 25%">
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-globe" fxFlex="0 0 16px" matTooltip="Select your country to calculate exact shipping & escrow prices" matTooltipPosition="below"></mat-icon>
      <mat-select-search
        fxFlex="1 1 100%"
        [options]="countryList?.countries"
        [defaultOption]="'Your country'"
        [isLexigraphicalOrder]="true"
        [showValueOf]="'name'"
        [defaultSelectedValue]="this.selectedCountry"
        (onChange)="changeLocation($event)">
      </mat-select-search>
    </div>

    <div class="filter-by buttons" fxFlex="0 1 120px">

      <button mat-button class="refresh-listings" [ngClass]="{'new-listings-available': newListArrived}" (click)="clearAndLoadPage()" matTooltip="{{ newListArrived ? 'New listings available' : 'Refresh listings'}}">
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-refresh"></mat-icon>
      </button>

      <mat-button-toggle type="checkbox" value="reported-only" class="reported-only filter-button icon-only" matTooltip="Show reported listings only" (change)="toggleFlag($event)">
        <mat-icon fontSet="partIcon" fontIcon="part-flag"></mat-icon>
      </mat-button-toggle>

    </div> <!-- .buttons -->

  </div> <!-- .control-bar -->
</app-header>


<div class="container-block with-tab-bar" fxLayout="row">

  <!-- div class="sidebar" fxFlex="25%">

    <div class="subtitle first">Categories</div>

    <mat-expansion-panel *ngFor="let category of _rootCategoryList.subCategoryList" class="category-filter no-padding">
      <mat-expansion-panel-header class="category-filter-header">
        <span class="title">{{category.name}}</span>
      </mat-expansion-panel-header>
      <mat-nav-list class="category-items">
        <a mat-list-item *ngFor="let subcategory of category.subCategoryList" class="category-item" >{{subcategory.name}}</a>
      </mat-nav-list>
    </mat-expansion-panel>

    <div class="subtitle">Filter by price range</div>
    <mat-card>
      price filter
    </mat-card>

  </div--><!-- .sidebar -->

  <!-- Do not remove the below class it is using for test case -->
  <div class="content grid-container test-case-container"
       infiniteScroll
       [infiniteScrollContainer]="pagination.infinityScrollSelector"
       [fromRoot]="true"
       [infiniteScrollDistance]="3"
       [infiniteScrollThrottle]="150"
       (scrolledUp)="loadPreviousPage()"
       (scrolled)="loadNextPage()">

    <button mat-button class="previous-page" fxFlex="100%" (click)="loadPreviousPage()"
            *ngIf="pages[0] && pages[0].pageNumber !== 0">
      <mat-icon fontSet="partIcon" fontIcon="part-previous-single"></mat-icon>
      Load previous page
    </button>

    <div class="loading-container" *ngIf="isLoadingBig">
      <div class="loading-info">
        <div class="loading-image">
          <img src="./assets/particl-logo-symbol.svg">
        </div>
        <p class="title">
          Hang on, we're loading the listings
        </p>
        <p class="widget-help">
          This might take a while
        </p>
      </div>
    </div><!-- .loading-container -->

    <div class="no-results" [hidden]="pages[0]?.listings.length !== 0">
      <p>
        Sorry, no matching listings found
      </p>
    </div>

    <ng-container *ngFor="let page of pages">
      <ng-container *ngFor="let item of page.listings">

        <mat-card class="listing">
          <app-listing-item [listing]="item"></app-listing-item>
        </mat-card>

      </ng-container>
    </ng-container>

    <div class="no-results" [hidden]="!noMoreListings">
      <p>
        That's all folks!
      </p>
    </div>
  </div><!-- .content -->


</div><!-- .container-block -->

<mat-progress-bar mode="indeterminate" *ngIf="isLoading" class="loading-bar"></mat-progress-bar>
