@import './src/assets/_config'; // import shared colors etc.
@import './src/app/market/_product-card'; // listing item card preview


// ------ UI ELEMENTS ------ //

/*
.subtitle { // title
  @extend %subtitle;
  margin: 24px 0 14px;
  &.first {
    margin-top: 0;
  }
}
*/

.container-block {
  .content {
    width: 100%;
    mat-card.listing {
      overflow: hidden;
    }
  }
}

// ------ CONTROL BAR (top) ------ //

.control-bar {
  padding: 0 16px 0 $padding; // offset filtering of reported items
  // search
  .search-listings {
    padding-right: 24px;
    position: relative;
    input {
      padding: 17px 26px 17px 0;
      width: calc(100% - 26px);
      background: none;
      outline: none;
      font-family: $font;
    }
    .mat-icon {
      top: 18px;
      right: 24px;
      font-size: 14px;
    }
  }
  .icon {
    color: $text-muted;
  }
  .filter-by {
    display: flex;
    align-items: center;
    border-left: 1px solid $bg-shadow;
    padding: 0 18px;
    .icon {
      margin-right: 12px;
    }
    // buttons only (filter Reported, Refresh listings)
    &.buttons {
      height: 53px;
      padding: 0 0 0 12px;
      display: flex;
      align-items: center;
      border-bottom: 0;
      button {
        min-width: 0;
        padding: 0 12px;
        &.new-listings-available {
          .mat-icon {
            animation: 2s ease infinite green-pulse;
          }
        }
        .mat-icon {
          margin: 0;
        }
      }
      // Reported toggle
      mat-button-toggle.reported-only {
        border: none;
        &:hover {
          background: rgba($bg-shadow, 0.25);
        }
        &.mat-button-toggle-checked {
          color: $color-alert;
          background: rgba($color-alert, 0.1) !important;
          &:hover {
            background: rgba($color-alert, 0.15) !important;
          }
        }
      }
    }
  }
}

@keyframes green-pulse {
  0% {
    color: $text-muted;
  }
  50% {
    color: $color;
  }
}

// ------ SIDEBAR (left) ------ //
/*
.category-filter { // category expansion panel
  margin-bottom: 4px !important;
  &.mat-expanded {
    .category-filter-header .title {
      color: $color;
    }
  }
  .category-filter-header {
    .title {
      font-weight: 500;
      font-size: 13px;
      text-transform: uppercase;
    }
  }
  .category-items {
    padding: 0 0 12px !important;
    .category-item {
      height: auto;
    }
  }
}
*/

// ------ CONTENT (right) ------ //

.no-results {
  width: 100%;
  margin: 24px 0 0;
  padding: 50px 0;
}

button.previous-page {
  margin: -10px 0 24px 30px;
}


// ------ LOADING (bottom) ------ //

.loading-bar {
  position: fixed;
  bottom: 0;
  height: 8px;
}
