<!-- Do not remove the below class it is using for test case -->
<app-header class="test-case-container">
  <div class="control-bar" fxLayout="row" fxLayoutAlign="space-between center">

    <!-- Search-->
    <div class="icon-input search-listings" fxFlex="1 1 25%">
      <input type="text" class="header-input" id="searchbar" placeholder="Search items for sale.."
             [(ngModel)]="filters.search" (keyup)="clearAndLoadPage()" (keyup.enter)="clearAndLoadPage()"
             (keyup.escape)="filters.search = ''; clearAndLoadPage()">
      <mat-icon fontSet="partIcon" fontIcon="part-search"></mat-icon>
    </div>

    <!-- Filtering -->
    <div class="filter-by category" fxFlex="1 1 25%">
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-label" fxFlex="0 0 16px" matTooltip="Filter by categories" matTooltipPosition="below"></mat-icon>
      <app-category-tree
        *ngIf="_rootCategoryList?.subCategoryList && _rootCategoryList?.subCategoryList.length"
        (onChange)="onCategoryChange($event)"
        [options]="_rootCategoryList?.subCategoryList"
        [selected]="selectedCategory">
      </app-category-tree>
    </div>

    <div class="filter-by seller-country" fxFlex="1 1 25%">
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-filter" fxFlex="0 0 16px" matTooltip="Filter by seller country & categories" matTooltipPosition="below"></mat-icon>
      <mat-select-search
        [options]="countryList?.countries"
        [defaultOption]="'All seller countries'"
        [isLexigraphicalOrder]="true"
        [showValueOf]="'name'"
        (onChange)="onCountryChange($event)">
      </mat-select-search>
    </div>

    <div class="filter-by buyer-country" fxFlex="1 1 25%">
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-globe" fxFlex="0 0 16px" matTooltip="Select your country to calculate exact shipping & escrow prices" matTooltipPosition="below"></mat-icon>
      <mat-select-search
        fxFlex="1 1 100%"
        [options]="countryList?.countries"
        [defaultOption]="'Your country'"
        [isLexigraphicalOrder]="true"
        [showValueOf]="'name'"
        [defaultSelectedValue]="this.selectedCountry"
        (onChange)="changeLocation($event)">
      </mat-select-search>
    </div>

    <div class="filter-by buttons" fxFlex="0 1 120px">

      <button mat-button class="refresh-listings" [ngClass]="{'new-listings-available': (newListArrived && !flagged)}" (click)="clearAndLoadPage()" matTooltip="{{ (newListArrived && !flagged) ? 'New listings available' : 'Refresh listings'}}">
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-refresh"></mat-icon>
      </button>

      <mat-button-toggle type="checkbox" value="reported-only" class="reported-only filter-button icon-only" matTooltip="{{ flagged ? 'Show available listings' : 'Show reported listings only'}}" (change)="toggleFlag($event)">
        <mat-icon fontSet="partIcon" fontIcon="part-flag"></mat-icon>
      </mat-button-toggle>

    </div> <!-- .buttons -->

  </div> <!-- .control-bar -->
</app-header>


<div class="container-block with-control-bar">
  <app-page-intro>
    <ng-container page-title>Particl Open Marketplace</ng-container>
    <ng-container page-content>
      Here you will find all publicly available Listings for sale. This is also where your own Listings for sale will appear.<br>
      Keep in mind, that you can buy Listings here only with your private Anon balance.
    </ng-container>
    <ng-container page-help>
      You can check your current Anon balance in top bar next to your Cart overview. If you need more Anon funds, convert it on Send / Convert &rarr; Convert page.
    </ng-container>
  </app-page-intro>

  <!-- Do not remove the below class it is using for test case -->
  <div class="content grid-container test-case-container"
       infiniteScroll
       [infiniteScrollContainer]="pagination.infinityScrollSelector"
       [fromRoot]="true"
       [infiniteScrollDistance]="3"
       [infiniteScrollThrottle]="150"
       (scrolledUp)="loadPreviousPage()"
       (scrolled)="loadNextPage()">

    <button mat-button class="previous-page" fxFlex="100%" (click)="loadPreviousPage()"
            *ngIf="pages[0] && pages[0].pageNumber !== 0">
      <mat-icon fontSet="partIcon" fontIcon="part-previous-single"></mat-icon>
      Load previous page
    </button>

    <div class="loading-container" *ngIf="isLoadingBig">
      <div class="loading-info">
        <div class="loading-image">
          <img src="./assets/particl-logo-symbol.svg">
        </div>
        <p class="title">
          Hang on, we're loading the listings
        </p>
        <p class="widget-help">
          This might take a while
        </p>
      </div>
    </div><!-- .loading-container -->

    <ng-container *ngFor="let page of pages;let pageIdx = index;">
      <ng-container *ngFor="let item of page.listings">

        <mat-card class="listing">
          <app-listing-item [listing]="item" (reportListingComplete)="refreshListingsFrom(pageIdx)"></app-listing-item>
        </mat-card>

      </ng-container>
    </ng-container>

    <div class="no-results" *ngIf="hasEmptySearch">
      <p>
        Sorry, no matching listings found
      </p>
    </div>

    <div class="no-results" *ngIf="isInitialState">
      <p>
        It seems that there are either no listings on the marketplace or they are not yet loaded. Please wait a few minutes and try to refresh the page.
        <br>
        <button mat-button class="refresh-listings" [ngClass]="{'new-listings-available': (newListArrived && !flagged)}" (click)="clearAndLoadPage()">
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-refresh"></mat-icon>
          Refresh Page
        </button>
      </p>
    </div>

    <div class="no-results" *ngIf="pages[0]?.listings.length !== 0">
      <p>
        That's all folks!
      </p>
    </div>
  </div><!-- .content -->


</div><!-- .container-block -->

<mat-progress-bar mode="indeterminate" *ngIf="isLoading" class="loading-bar"></mat-progress-bar>
