<main-layout-default>
  <ng-container ngProjectAs="menu">

    <mat-expansion-panel class="instance-switcher no-padding arrow-colored">
      <mat-expansion-panel-header class="switcher-toggle">
        <div class="item" *appVar="(selectedWallet$ | async) as currentWallet">
          <div class="icon">{{ currentWallet.icon }}</div>
          <div class="text">
            <div class="name">{{ currentWallet.displayName }}</div>
            <div class="value">{{ currentWalletBalance$ | async}} PART</div>
          </div>
        </div>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="options">
          <a class="item" *ngFor="let wallet of otherWallets$ | async;trackBy:trackByAllWalletsFn" (click)="switchWallet(wallet)" (keyup.enter)="switchWallet(wallet)" tabindex="0">
            <div class="icon">{{ wallet.icon }}</div>
            <div class="text">
              <div class="name">{{ wallet.displayName }}</div>
              <div class="value">Switch Wallet</div>
            </div>
          </a>
        </div>
      </ng-template>
    </mat-expansion-panel>

    <div class="menu-items">
      <ng-container *ngFor="let menuItem of menu; trackBy:trackByMenuFn">
          <a class="menu-item" routerLinkActive="active" [routerLink]="menuItem.path">
            <ng-container *ngIf="menuItem.icon.length > 0">
              <mat-icon [fontIcon]="menuItem.icon"></mat-icon>
            </ng-container>
            <span class="text">{{ menuItem.text }}</span>
          </a>
      </ng-container>
    </div>

  </ng-container>

  <ng-container ngProjectAs="app-version">
    <mat-content class="client-version">
      <div class="app item">
        <!-- App name -->
        Governance
        <span class="version">{{ clientVersion | async }}</span>
      </div>
    </mat-content>
  </ng-container>


  <main-topbar></main-topbar>

  <router-outlet></router-outlet>
</main-layout-default>
