<div mat-dialog-title class="title">Unlock your wallet</div>
<mat-dialog-content class="modal-content">
  <p>
    Please enter your password to unlock your wallet
  </p>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end center">
  <app-password
    label="Enter your password"
    buttonText="Unlock wallet"
    (unlockEmitter)="unlock($event)"
    [unlockTimeout]="timeout"
    [showStakeOnly]="showStakeOnly"
    [stakeOnly]="stakeOnly"
    [emitUnlock]="true">
  </app-password>
</mat-dialog-actions>