<div class="modal-header">
  <div class="modal-title">
    Unlock Wallet
  </div>
</div>

<div class="container">
  <div class="content">
    <div class="title">Unlock your wallet</div>
    <p>
      Please enter your password to unlock your wallet
    </p>

    <app-password
      buttonText="Unlock wallet"
      (unlockEmitter)="unlock($event)"
      [unlockTimeout]="timeout"
      [showStakeOnly]="showStakeOnly"
      [emitUnlock]="true">
    </app-password>

  </div><!-- .content -->
</div><!-- .container -->