<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h4>Please enter your <b>24 word recovery phrase</b> and <b>password</b> below.</h4>
    </div>
  </div>
</div>

<hr style="margin-top: 100px;">

<div class="container">
  <div class="col-md-3 text-right">
    <label>YOUR 24 WORD RECOVERY PHRASE</label>
  </div>
  <div class="col-md-9">
    <div class="col-md-2">
      <input type="text" name="recovery" class="form-control recovery-word">
      <input type="text" name="recovery" class="form-control recovery-word">
      <input type="text" name="recovery" class="form-control recovery-word">
      <input type="text" name="recovery" class="form-control recovery-word">
    </div>
    <div class="col-md-2">
      <input type="text" name="recovery" class="form-control recovery-word">
      <input type="text" name="recovery" class="form-control recovery-word">
      <input type="text" name="recovery" class="form-control recovery-word">
      <input type="text" name="recovery" class="form-control recovery-word">
    </div>
    <div class="col-md-2">
      <input type="text" name="recovery" class="form-control recovery-word">
      <input type="text" name="recovery" class="form-control recovery-word">
      <input type="text" name="recovery" class="form-control recovery-word">
      <input type="text" name="recovery" class="form-control recovery-word">
    </div>
    <div class="col-md-2">
      <input type="text" name="recovery" class="form-control recovery-word">
      <input type="text" name="recovery" class="form-control recovery-word">
      <input type="text" name="recovery" class="form-control recovery-word">
      <input type="text" name="recovery" class="form-control recovery-word">
    </div>
    <div class="col-md-2">
      <input type="text" name="recovery" class="form-control recovery-word">
      <input type="text" name="recovery" class="form-control recovery-word">
      <input type="text" name="recovery" class="form-control recovery-word">
      <input type="text" name="recovery" class="form-control recovery-word">
    </div>
    <div class="col-md-2">
      <input type="text" name="recovery" class="form-control recovery-word">
      <input type="text" name="recovery" class="form-control recovery-word">
      <input type="text" name="recovery" class="form-control recovery-word">
      <input type="text" name="recovery" class="form-control recovery-word">
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="col-md-3 text-right">
    <label>YOUR WALLET PASSWORD</label>
  </div>
  <div class="col-md-7">
    <div class="col-md-12">
      <input type="password" name="password" class="form-control password"/>
      <br>
      <input type="checkbox" name="showpass" value="password" id="show-wallet-password"/>
      <label class="password-label" for="show-wallet-password">SHOW PASSWORD</label>
    </div>
  </div>
  <div class="col-md-2">
    <button type="button" class="control">RESTORE WALLET</button>
  </div>
</div>
<hr>
