<h3 class="balance ">
  OVERVIEW
</h3>
<hr />
<div class="overview">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 balance">
    	<app-balance typeOfBalance="TOTAL BALANCE"></app-balance>
    </div>
    <div class="col-md-2 balance">
    	<app-balance typeOfBalance="PUBLIC BALANCE"></app-balance>
    </div>
    <div class="col-md-2 balance">
    	<app-balance typeOfBalance="PRIVATE BALANCE"></app-balance>
    </div>
    <div class="col-md-2 balance">
    	<app-balance typeOfBalance="STAKE"></app-balance>
    </div>
  </div>
 </div>
<br />
<hr />
<br />
<div class="col-md-6">
    <div class="transactionHeader">
        <span>RECENT TRANSACTIONS</span>
        <span class="icon glyphicon glyphicon-cog headerMenu green"></span>
        <hr />
    </div>
	<transaction-table [displayHeader]=false [displayInternalHeader]=true [displayPagination]=false></transaction-table>
</div>
</div>
