.reserved-area {
    background-color: #f7f7f7;
    border-color: #ebebeb;
    border-style: dashed;
    border-width: 2px;
    height: 250px;
    margin-bottom: 15px;
}

.balance-bg {
    background: #fff;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 30px;
    padding-top: 20px;
}
