$color: #02E8B0; // primary green-ish color
$color-alert: #EE494D;
$bg-shadow: #E9E9E9; // lines under titles etc.

$text-muted: #7E8790; // grey (for section titles, descriptions etc.)

.header-nav { // section titles
    padding: 0 0 20px; margin: 30px 0 30px;
    border-bottom: 1px solid $bg-shadow;
}

.balance-overview { // list of balances
    padding: 24px 50px;
    .balance-item {
        border-right: 1px solid $bg-shadow;
        &:last-of-type {
            border: none; margin: none;
        }
    }
}

.overview-content { // area with widgets
    padding: 10px 50px;
}

span.point { color: $color; }

md-card.multiple {
    margin-bottom: 20px;
}

.cold-staking {
    .staking-node {
        padding: 24px 24px 30px;
        /*.cs-icon { // snowflake
            font-size: 40px;
            color: $bg-shadow;
            position: relative;
            top: 9px;
            width: auto;
            height: auto;
            margin: -11px 15px 0 0;
        }*/
        .title {
            display: inline-block;
            text-transform: uppercase;
            font-weight: bold;
            & > .active { color: $color; }
            & > .inactive { color: $text-muted; }
        }
        .status {
            display: block;
        }
        button {
            font-size: 12px;
            text-transform: uppercase;
            min-width: 0;
            padding: 0 10px;
            margin-right: 20px;
            border: 1px solid transparent;
            top: -1px;
            &.secondary {
                border-color: $bg-shadow;
            }
        }
    }
}

p.widget-help {
    color: grey;
    font-size: 11px;
    margin-bottom: 25px;
}