<md-card>
  <div class="container" [fxLayout]="'row'">
    <div fxFlex [fxLayout]="'row'">
      <div class="one   flexitem " fxFlex>
        <app-balance type="total_balance"></app-balance>
      </div>
      <div class="two flexitem " fxFlex>
        <app-balance type="balance"></app-balance>
      </div>
      <div class="three flexitem " fxFlex>
        <app-balance type="blind_balance"></app-balance>
      </div>
      <div class="four flexitem " fxFlex>
        <app-balance type="anon_balance"></app-balance>
      </div>
      <div class="five flexitem " fxFlex>
        <app-balance type="staked_balance"></app-balance>
      </div>
    </div>
  </div>
</md-card>

<md-card>
  <div class="container" [fxLayout]="'row'">
    <div fxFlex [fxLayout]="'row'">
      <div class="one   flexitem " fxFlex="50%">
        <app-header>
          <ul class="header-nav">
            <li>Recent Transactions</li>
          </ul>
          <ul class="header-nav pull-right">
            <!-- <li><a href="javascript:void(0)"><span class="icon fa fa-cog color-green"></span></a></li> -->
          </ul>
        </app-header>
        <transaction-table
          [display]="{'txDisplayAmount': 5, 'header': false, 'internalHeader': true, 'category': false, 'confirmations': false}">
        </transaction-table>
      </div>
      <div class="flexitem" fxFlex="50%">
        <app-header>
          <ul class="header-nav">
            <li>Widget Section 2</li>
          </ul>
          <ul class="header-nav pull-right">
            <!-- <li><a href="javascript:void(0)"><span class="icon fa fa-cog color-green"></span></a></li> -->
          </ul>
        </app-header>
        <div class=" text-center">
          <app-stakinginfo></app-stakinginfo>
        </div>
        <div class="reserved-area">
        </div>

        <app-header>
          <ul class="header-nav">
            <li>Widget Section 3</li>
          </ul>
          <ul class="header-nav pull-right">
            <!-- <li><a href="javascript:void(0)"><span class="icon fa fa-cog color-green"></span></a></li> -->
          </ul>
        </app-header>
        <div class="reserved-area">
        </div>

      </div>
    </div>
  </div>
</md-card>