.overview {
	background-color: #FBFBFB;
}

.balance {
	margin-left: 2%;
}

.transactionHeader {
	margin-left: 2%;
	font-size: 17px;
	color: #B5BAC0;
	font-weight: 400;
}

.headerMenu {
	float: right;
	margin-right: 30px;

}

.green {
	color: #02E8B0;
}