.reserved-area {
    height: 250px;
    border-style: dashed;
    border-width: 2px;
    border-color: #EBEBEB;
    background-color: #F7F7F7;
    margin-bottom: 15px;
}

.balance-bg {
    background:#fff;
    padding-bottom:30px;
	padding-top:20px;
    border-bottom:1px solid #EAEAEA;
}

.padding-25 {
	padding:25px;
}