<h3 class="box-title">{{import.description}}</h3>

<div class="row" fxLayout fxLayoutAlign="space-between start" fxLayoutGap="30px">

  <mat-form-field class="full-width" [formGroup]="import.form" fxFlex="1 1 30%">
    <ngx-mat-file-input formControlName="file" placeholder="CSV file to import" accept=".csv" (change)="emitClear()"></ngx-mat-file-input>
  </mat-form-field>

  <div class="desc" fxFlex="1 1 70%">
    <p>
      Load your CSV product export file<br>
      <a href="./assets/templates/csv_template.csv" download>Download example CSV</a>
    </p>
  </div>

</div>

<div class="row" fxLayout fxLayoutAlign="space-between start" fxLayoutGap="30px">

  <mat-form-field class="full-width" [formGroup]="import.form" fxFlex="1 1 30%">
    <input matInput type="text" formControlName="delimiter" placeholder="CSV file delimiter">
  </mat-form-field>

  <div class="desc" fxFlex="1 1 70%">
    <p>
      Delimiter for your CSV product export file
    </p>
  </div>
</div>

<p>
  These columns must be defined in your CSV file for successful import:
</p>

<ul class="enable-select">
  <li><code>title</code> &ndash; Product's title (Listing name)</li>
  <li><code>short_description</code> &ndash; short sentence highlighting Product's key features</li>
  <li><code>long_description</code> &ndash; general description of the Product</li>
  <li><code>base_price</code> &ndash; price per Product (priced in PART)</li>
  <li><code>category</code> &ndash; Product's category matching available Open Marketplace categories</li>
  <li><code>images</code> &ndash; URLs to images of the Product (multiple images separated by comma and space)</li>
  <li><code>domestic_shipping_price</code> &ndash; price (in PART) for shipping the Product inside your country (specified later)</li>
  <li><code>international_shipping_price</code> &ndash; price for shipping the Product worldwide (outside your country)</li>
</ul>

<p class="widget-help">
  If you're not sure about specific values for your Products, you can leave them empty and manually fill them in next step of the import.
</p>
