@import "./src/assets/_config"; // import shared colors etc.

// TODO: move to %placeholders
.subtitle {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  margin: 5px 0 15px;
}

.word-list {
  margin-right: -3.25%; // offset flex wrap layout
}

.mat-form-field {
  width: 100%;
  font-family: $font;
}

.mat-icon {
  padding: 5px;
}
