<div mat-dialog-title class="title">Unlock your wallet</div>

<mat-dialog-content class="modal-content">
  <p class="lead">
    Please enter your password to unlock the wallet:
  </p>
  <app-password
    label="Enter your password"
    buttonText="Unlock wallet"
    (unlockEmitter)="unlock($event)"
    [unlockTimeout]="timeout"
    [showStakeOnly]="showStakeOnly"
    [stakeOnly]="stakeOnly"
    [showEditableTimeout]="showEditableTimeout"
    [emitUnlock]="true">
  </app-password>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end center">
  <button type="button" mat-button mat-dialog-close>
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
</mat-dialog-actions>
