<div mat-dialog-title class="title">Insufficient funds</div>

<mat-dialog-content class="modal-content" *ngIf="!hasEnoughPending">

  <p class="lead">
    You don't have enough Anon (private) funds for this order.
  </p>
  <p>
    To place the order, you will need more Anon balance &ndash; you can either Convert some of your other balances (Public or Blind) or use our in-wallet Exchange (to swap BTC or other coins for Anon PART).
  </p>

  <table class="info">
    <tr><th>Required for order:</th><td>{{ cartTotal.particlsString() }} PART</td></tr>
    <tr><th>Your current Anon balance:</th><td>{{ availableBalance.particlsString() }} PART</td></tr>
    <tr><th>Your pending Anon balance:</th><td>{{ pendingBalance.particlsString() }} PART</td></tr>
    <tr><th>Recommended Anon balance:</th><td><strong>{{ this.total.particlsString() }} PART</strong></td></tr>
  </table>

  <p class="widget-help">
    If using the exchange option please make sure that the offered amount is enough to cover the total, as actual exchange amounts can vary due to rate changes.
  </p>

</mat-dialog-content>


<mat-dialog-actions fxLayoutAlign="space-between center" *ngIf="!hasEnoughPending">

  <div class="left">
    <button type="button" mat-button mat-dialog-close>
      <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
      Cancel
    </button>
  </div>

  <div class="right">
    <button mat-raised-button color="accent" (click)="goto('send')" matTooltip="{{ hasEnoughPublic ? 'Convert Public/Blind to Anon PART' : 'Not enough public funds' }}"
            matTooltipPosition="below" [disabled]="!hasEnoughPublic">
      <mat-icon fontSet="partIcon" fontIcon="part-swap"></mat-icon>
      Convert PART
    </button>
    <button mat-raised-button color="primary" (click)="goto('exchange')" matTooltip="{{ hasExchangeBot ? 'Exchange BTC/altcoins for Anon PART' : 'No exchange bots enabled' }}"
            matTooltipPosition="below" [disabled]="!hasExchangeBot">
      <mat-icon fontSet="partIcon" fontIcon="part-transfer"></mat-icon>
      Exchange BTC/alts
    </button>
  </div>

</mat-dialog-actions>

<mat-dialog-content class="modal-content" *ngIf="hasEnoughPending">

  <p class="lead">
    You currently have enough pending anon funds, please wait a while for them to confirm and then try again.
  </p>
  
  <table class="info">
    <tr><th>Required for order:</th><td>{{ cartTotal.particlsString() }} PART</td></tr>
    <tr><th>Your current Anon balance:</th><td>{{ availableBalance.particlsString() }} PART</td></tr>
    <tr><th>Your pending Anon balance:</th><td>{{ pendingBalance.particlsString() }} PART</td></tr>
  </table>

</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="space-between center" *ngIf="hasEnoughPending">

  <div class="left">
  </div>

  <div class="right">
    <button mat-raised-button color="primary" mat-dialog-close>
      <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
      Ok
    </button>
  </div>

</mat-dialog-actions>