<div class="terms">

  <div class="mini-sidebar"></div>

  <div class="sidebar">
    <div class="logo">
      <img src="./assets/particl-logo{{testnet ? '-testnet' : ''}}.svg" alt="Particl">
    </div>

    <mat-divider></mat-divider>

    <div class="progress">
      <div class="step last active">
        <div class="number">1</div>
        <div class="desc">Startup Error</div>
      </div>
    </div>
  </div>

  <div class="content">
    <mat-toolbar class="header-main">
      Could not continue with the application startup
    </mat-toolbar><!-- .header-main -->

    <div class="container-block">
      <div class="page-intro">
        <h1>An error occurred</h1>
        <div class="content">
          <p>
            Please ensure that your Particl Core version is at least using protocol version 90008
          </p>
        </div>
      </div><!-- .page-intro -->

      <div class="terms-text">
        <p> We've detected that the Particl Core version currently running does not meet the minimum version requirement of v0.18.0.6</p>
        <p> if you are running the the core version manually, please update it before trying again. Alternatively, you may close this application and relaunch it in order to retry the automatic download and start.</p>
      </div>
    </div>

    <div class="action-buttons" fxLayoutAlign="space-between center">
      <div class="right">
        <button mat-button color="warn" matTooltip="Particl Desktop will be closed" (click)="quitApp()">
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-cross"></mat-icon>
          Decline &amp; Close
        </button>
      </div>
    </div>
  <!-- .content -->
  </div>
</div>
<!-- .terms -->
