<app-page-intro [childPageAlias]="'market-buy-favourites'">
  <ng-container page-title>Your Favourites</ng-container>
  <ng-container page-content>
    Save your favourite Listings to easily access them later on.
  </ng-container>
  <ng-container page-help>
    Note that marketplace Listings have a limited lifetime (they expire after some time), so make sure to check back here often as they might not be available on the marketplace anymore.
  </ng-container>
</app-page-intro>

<div class="no-results" *ngIf="favorites === undefined || favorites?.length == 0">
  <img class="illustration" src="./assets/app-market/illustrations/no-favorites.svg" alt="No favorites yet">
  <p>
    You don't have any favourites yet
  </p>
  <p class="help-text">
    To add an item to favourites, click on the <mat-icon fontIcon="part-heart-outline-add"></mat-icon> icon
  </p>
</div><!-- .no-results -->

<div *ngIf="favorites !== undefined && favorites.length != 0" class="grid-container">
  <ng-container *ngFor="let favorite of favorites">

    <mat-card class="listing">
      <app-listing-item [listing]="favorite"></app-listing-item>
    </mat-card>

  </ng-container>
</div>
