@import "./src/assets/config"; // import shared colors etc.

// ------ LAYOUT ------ //

.installer {
  display: flex;
  height: 100vh;
  .sidebar {
    flex: 0 0 170px;
    background: url("/assets/splash-bg.png") no-repeat bottom left $bg-black;
    background-size: 300px;
    color: $bg;
    padding: 30px;
    .logo {
      display: block;
      width: 120px;
      margin: 20px auto 50px;
    }
    .title {
      text-align: center;
    }
  }
  .content {
    flex: 1 1 100%;
  }
}
