<div mat-dialog-title *ngIf="isSigning">Sign message</div>
<div mat-dialog-title *ngIf="!isSigning">Verify message</div>

<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<form [formGroup]="addressForm">
  <div mat-dialog-content class="modal-content">

    <ng-container *ngIf="isSigning">
      <p class="lead">
        You can sign messages/agreements with your address to prove you can receive Particl sent to them.
      </p>
      <p class="widget-help">
        Be careful not to sign anything vague or random, as phishing attacks may try to trick you into signing your identity over to them. Only sign fully-detailed statements you agree to.
      </p>
    </ng-container>

    <ng-container *ngIf="!isSigning">
      <p class="lead">
        Enter the receiver's message (ensure you copy line breaks, spaces, tabs etc. exactly) and signature below to verify the message.
      </p>
      <p class="widget-help">
        Be careful not to read more into the signature than what is in the signed message itself, to avoid being tricked by a man-in-the-middle attack. Note that this only proves the signing party receives with the address, it cannot prove sendership of any transaction!
      </p>
    </ng-container>

    <div class="modal-highlight">
      <mat-form-field appearance="fill" class="--boxed" matTooltip="Address" matTooltipPosition="before">
        <mat-icon matPrefix fontIcon="part-qr"></mat-icon>
        <input matInput
          type="text"
          formControlName="address"
        >
      </mat-form-field>
      <p class="message --warning" *ngIf="message.invalid && (message.dirty || message.touched)">
        A message is required
      </p>
      <mat-form-field appearance="fill" class="textarea --boxed" matTooltip="Message" matTooltipPosition="before">
        <mat-icon matPrefix fontIcon="part-chat"></mat-icon>
        <textarea matInput
          formControlName="message"
          rows="3"
          placeholder="Enter message to sign/verify"
          #messageInput
          required
        ></textarea>
      </mat-form-field>
      <p class="message --warning" *ngIf="signature.invalid && (signature.dirty || signature.touched)">
        A signature is required
      </p>
      <mat-form-field appearance="fill" class="--boxed" matTooltip="Signature" matTooltipPosition="before">
        <mat-icon matPrefix fontIcon="part-pen-2"></mat-icon>
        <input matInput
          formControlName="signature"
          [placeholder]="signMessagePlaceholder"
          #signatureInput
        >
      </mat-form-field>
    </div><!-- .highlight -->

  </div><!-- .dialog-content -->


  <mat-dialog-actions fxLayoutAlign="space-between center">
    <div class="left">

      <button mat-button type="button" (click)="resetForm()">
        <mat-icon fontIcon="part-clear-all"></mat-icon>
        Clear all
      </button>

    </div>
    <div class="right">

      <button mat-button matTooltip="Copy" (click)="copyToClipBoard()" ngxClipboard [cbContent]="signature.value" *ngIf="isSigning" [disabled]="!addressForm.valid || isProcessing">
        <mat-icon class="cursor-pointer" fontIcon="part-copy"></mat-icon>
        Copy signature
      </button>

      <button mat-raised-button color="primary" class="capitalize" [disabled]="!addressForm.valid || isProcessing" (click)="onFormSubmit()">
        <mat-icon [fontIcon]="isSigning ? 'part-pen-2' : 'part-check'"></mat-icon>
        {{ actionButtonText }}
      </button>

    </div>
  </mat-dialog-actions>

</form>
