@import './src/assets/_config'; // import shared colors etc.

.dialog-content {
  width: 750px;
  p.lead {
    margin-top: 0;
  }
}

.mat-form-field {
  margin-bottom: 6px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
