@import './src/assets/_config'; // import shared colors etc.

.wallet-switcher {
  max-width: 540px;
  margin: 15px auto 45px;
  padding: 0;

  .wallet-list {
    padding: 0;

    .wallet-item {
      @extend %tfx;
      cursor: pointer;
      &:hover,
      &:focus {
        background: mix($bg, $color-white);
      }
      .mat-icon {
        font-size: 20px;
        color: $text-muted;
      }
      .name {
        font-weight: 500;
      }
      .details {
        font-size: 13px;
        color: $text-muted;
      }
      &.active-wallet {
        background: rgba($color, 0.05);
        .mat-icon,
        .details {
          color: $color;
          font-weight: 500;
        }
      }
      &:last-of-type {
        .mat-divider { // remove divider on last's item
          display: none;
        }
      }
    }

  }
}

