@import "./src/assets/_config"; // import shared colors etc.

.title {
  font-family: $font;
  font-weight: 600;
}

.search-address {
  margin-top: 12px;
}

.mat-list {
  .mat-list-item {
    &:not(.list-header):hover {
      background: rgba($color, 0.04);
      .address {
        color: darken($color, 5%);
      }
    }
    .mat-list-item-content {
      font-family: $font;
      font-size: 13px;
      height: 20px;
    }
  }
  .mat-divider {
    margin: 0;
  }
}

.address-entry {
  cursor: pointer;
  font-size: 13px;
  .label {
    font-weight: 600;
    text-transform: uppercase;
  }
  .address {
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: monospace;
    color: $text-muted;
    background: transparent;
    transition: background .3s;
  }
}
