<div md-dialog-title class="title">Address lookup</div>
<div md-dialog-content>

  <form name="addressLookupfilter">
    <div fxLayout="row" fxLayoutGap="20px">

      <md-form-field fxFlex="50" class="search-address">
        <input mdInput type="text" name="query" placeholder="Filter by label or address..." [(ngModel)]="query">
      </md-form-field>
      
      <md-select fxFlex="50" name="filter" [(ngModel)]="filter" class="address-type">
        <md-option class="capitalize" *ngFor="let addressType of addressTypes" [value]="addressType">
          {{ addressType }}
        </md-option>
      </md-select>

    </div>
  </form>

  
  <md-list class="list-data">

    <md-list-item class="list-header">
      <div fxFlex="row" fxLayoutGap="10px" layout-padding>
        <div fxFlex="20%">Label</div>
        <div fxFlex="70%">Address</div>
        <div fxFlex="10%">Type</div>
      </div>
    </md-list-item>

    <div *ngFor="let address of page()">
      <md-divider></md-divider>
      <md-list-item class="address-entry" (click)="onSelectAddress(address.getAddress(), address.getLabel())">
        <div fxFlex="row" fxLayoutGap="10px" layout-padding>
          <div fxFlex="20%" class="label">{{address.getLabel()}}</div>
          <div fxFlex="70%" class="address">{{address.getAddress()}}</div>
          <div fxFlex="10%" class="type">{{cheatPublicAddress(address.getAddress())}}</div>
        </div>
      </md-list-item>
    </div>

  </md-list>
</div>