@import './src/assets/_config'; // import shared colors etc.


.staking-overview { // listing of staking stats
  width: 100%;
  padding: 0;
  margin: 0 0 8px;
  @include break(xl) {
    font-size: 14px;
  }
  .row {
    display: flex;
    .key {
      color: var(--text-muted);
      flex: auto;
      padding: 10px 5px 10px 16px;
      @include break(xl) {
        padding: 14px 5px 14px 20px;
      }
    }
    .value {
      text-align: right;
      font-weight: 500;
      flex: auto;
      padding: 10px 16px 10px 5px;
      @include break(xl) {
        padding: 14px 20px 14px 5px;
      }
    }
  }
}
