<!-- Orders > Filter -->
<div class="filter">

  <div class="section search-sorting">
    <div class="subtitle first">Search &amp; sort</div>
    <mat-card class="filter-card">
      <mat-form-field class="icon-input filter-input" floatPlaceholder="never">
        <input matInput type="text" class="header-input" placeholder="Search orders" [(ngModel)]="filters.search"
            (keyup)="loadOrders()" (keyup.enter)="loadOrders()" (keyup.escape)="filters.search = ''; loadOrders()">
        <mat-icon *ngIf="filters.search" matTooltip="Clear" fontSet="partIcon" fontIcon="part-clear-all"
                  (click)="filters.search=''; loadOrders()"></mat-icon>
        <mat-icon *ngIf="!filters.search" matTooltip="Search" fontSet="partIcon" fontIcon="part-search"
                  (click)="loadOrders()"></mat-icon>
      </mat-form-field>

      <!--  <mat-form-field class="sort-by filter-input" floatPlaceholder="never">
        <mat-select placeholder="Sort orders" [(ngModel)]="filters.sort" (selectionChange)="filter()">
          <mat-option *ngFor="let sorting of order_sortings" [value]="sorting.value">
            {{ sorting.title }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
    </mat-card>
  </div>

  <div class="section filter-by-group">
    <div class="subtitle">Filter</div>
    <mat-card class="filter-card">
      <div class="checkbox highlight">
        <mat-checkbox [(ngModel)]="additionalFilter.requiredAttention" (change)="loadOrders()" color="primary">Orders requiring attention</mat-checkbox>
      </div>
      <div class="checkbox">
        <mat-checkbox [(ngModel)]="additionalFilter.hideCompleted" (change)="loadOrders()" color="primary">Hide completed</mat-checkbox>
      </div>
      <!-- <div class="checkbox">
        <mat-checkbox matTooltip="Hide orders not updated in last 30 days">Hide old orders</mat-checkbox>
      </div> -->
    </mat-card>
  </div><!-- .filter-by-type -->

  <div class="section filter-by-type">
    <div class="subtitle">Filter by status</div>
    <mat-card class="filter-card">
      <mat-radio-group class="radio-group block-radio" [(ngModel)]="filters.status" (change)="loadOrders()">
        <mat-radio-button class="filter-option" *ngFor="let status of order_filters?.order_filtering" value="{{ status.value }}" [disabled]="status.amount === 0" color="primary">
          {{ status.title }}
          <!-- FIXME: show amount (below) only if higher than 1 -->
          <span class="amount">{{ status.amount }}</span>
        </mat-radio-button>
      </mat-radio-group>
    </mat-card>
  </div><!-- .filter-by-type -->

  <button mat-button color="basic" class="clear-filters" (click)="clear()">
    <mat-icon fontSet="partIcon" fontIcon="part-clear-all"></mat-icon>
    Clear all filters
  </button>

</div><!-- .filter -->


<!-- Orders > list -->
<div class="orders section with-filter">

  <div class="no-results" *ngIf="orders?.length === 0">
    <p>
      You don't have any market orders yet
    </p>
  </div>

  <app-order-item *ngFor="let order of orders" [order]="order"></app-order-item>

</div><!-- .orders.list -->
