<!-- Orders > Filter -->
<div class="filter" fxFlex="0 0 230px">

  <div class="section search-sorting TO_DO">
    <div class="subtitle first">Search &amp; sort</div>
    <mat-card class="filter-card">
      <mat-form-field class="icon-input filter-input" floatPlaceholder="never">
        <input matInput type="text" class="header-input" placeholder="Search orders" [(ngModel)]="filters.search"
               (keyup.enter)="loadPage()" (keyup.escape)="filters.search = ''; loadPage()">
        <mat-icon *ngIf="filters.search" matTooltip="Clear" fontSet="partIcon" fontIcon="part-clear-all"
                  (click)="filters.search=''; loadPage()"></mat-icon>
        <mat-icon *ngIf="!filters.search" matTooltip="Search" fontSet="partIcon" fontIcon="part-search"
                  (click)="loadPage()"></mat-icon>
      </mat-form-field>
      <mat-form-field class="sort-by filter-input" floatPlaceholder="never">
        <mat-select placeholder="Sort orders">
          <mat-option *ngFor="let sorting of order_sortings" [value]="sorting.value">
            {{ sorting.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
  </div>

  <div class="section filter-by-type TO_DO">
    <div class="subtitle">Filter by status</div>
    <mat-card class="filter-card">
      <mat-radio-group class="radio-group block-radio">
        <mat-radio-button class="filter-option" *ngFor="let status of order_filtering" value="{{ status.value }}">
          {{ status.title }}
          <!-- FIXME: show amount (below) only if higher than 1 -->
          <span class="amount">{{ status.amount }}</span>
        </mat-radio-button>
      </mat-radio-group>
    </mat-card>
  </div><!-- .filter-by-type -->

  <button mat-button color="warn" class="clear-filters" (click)="clear()">
    <mat-icon fontSet="partIcon" fontIcon="part-clear-all"></mat-icon>
    Clear all filters
  </button>

</div><!-- .filter -->


<!-- Orders > list -->
<div class="orders section" fxFlex="1 1 100%">

  <div class="no-results" *ngIf="orders?.ordersCount === 0">
    You don't have any market orders yet
  </div>

  <app-order-item *ngFor="let order of orders?.orderItems" [order]="order"></app-order-item>

</div><!-- .orders.list -->
