<!-- Orders > Filter -->
<div class="filter">

  <div class="section search-sorting">
    <div class="subtitle first">Search &amp; sort</div>
    <mat-card class="filter-card">
      <mat-form-field class="icon-input filter-input" floatPlaceholder="never">
        <input matInput type="text" class="header-input" placeholder="Search orders" [(ngModel)]="filters.search"
            (keyup.enter)="loadOrders()" (keyup.escape)="filters.search = '' ">
        <mat-icon *ngIf="filters.search" matTooltip="Clear" fontSet="partIcon" fontIcon="part-clear-all"
                  (click)="filters.search=''; loadOrders()"></mat-icon>
        <mat-icon *ngIf="!filters.search" matTooltip="Search" fontSet="partIcon" fontIcon="part-search"
                  (click)="loadOrders()"></mat-icon>
      </mat-form-field>
    </mat-card>
  </div>

  <div class="section filter-by-group">
    <div class="subtitle">Filter</div>
    <mat-card class="filter-card">
      <div class="checkbox highlight">
        <mat-checkbox [(ngModel)]="additionalFilter.requiredAttention" (change)="loadOrders()" color="primary">Orders requiring attention</mat-checkbox>
      </div>
      <div class="checkbox">
        <mat-checkbox [(ngModel)]="additionalFilter.hideCompleted" (change)="loadOrders()" color="primary">Hide completed</mat-checkbox>
      </div>
    </mat-card>
  </div><!-- .filter-by-type -->

  <div class="section filter-by-type">
    <div class="subtitle">Filter by status</div>
    <mat-card class="filter-card">
      <mat-radio-group class="radio-group block-radio" [(ngModel)]="filters.status" (change)="loadOrders()">
        <mat-radio-button class="filter-option" *ngFor="let status of order_filters?.filters" value="{{ status.value }}" [disabled]="status.count === 0" color="primary">
          {{ status.title }}
          <span class="amount">{{ status.count }}</span>
        </mat-radio-button>
      </mat-radio-group>
    </mat-card>
  </div><!-- .filter-by-type -->

  <button mat-button color="basic" class="clear-filters" (click)="clearAllFilters()">
    <mat-icon fontSet="partIcon" fontIcon="part-clear-all"></mat-icon>
    Clear all filters
  </button>

</div><!-- .filter -->


<!-- Orders > list -->
<div class="orders section with-filter" (onOrderUpdated)="orderItemUpdated($event)">

  <div class="no-results" *ngIf="orders?.length === 0">
    <p>
      You don't have any market orders yet
    </p>
  </div>

  <app-order-item *ngFor="let order of orders" [order]="order"></app-order-item>

</div><!-- .orders.list -->
