<div mat-dialog-title class="title">Particl Marketplace alpha disclaimer</div>

<mat-dialog-content class="modal-content">
  <p class="lead">
    <strong>Warning!</strong> This Alpha version of the Open Marketplace runs on mainnet, meaning that it uses real PART coins, not testnet coins, to execute transactions.
  </p>
  <p class="warning">
    It currently does not contain all the security, privacy, and utility features intended for its official release, and unforeseen bugs or stability issues may still arise and result in a permanent loss of personal funds.
  </p>
  <p>
    For these reasons, the Open Marketplace should only be used for testing purposes, <strong>at your own risks</strong>, and with full knowledge of its current limitations. Neither the Particl Foundation nor the developers working on the Particl Project will be held accountable for any financial loss or any form of privacy and security breach.
  </p>
  <h2>Keep in mind</h2>
  <ul>
    <li>To reduce these risks, consider creating a new wallet with a small amount of PART for testing the Marketplace</li>
    <li>All marketplace transactions are executed over mainnet and are real &ndash; Buyers are paying with real money, Sellers should send out the goods!</li>
    <li>The marketplace is not yet 100% private</li>
    <li>Bugs may occur</li>
    <li>Some of your coins might get lost</li>
  </ul>
  <p class="warning">
    <strong>By using Particl Marketplace alpha on mainnet, you understand all these risks and agree them.</strong>
  </p>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end center">
  <button type="button" mat-button mat-dialog-close color="warn">
    <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
    I understand
  </button>
</mat-dialog-actions>
