<div mat-dialog-title>Edit Shipping profile</div>

<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content class="dialog-content">

  <label class="--larger">
    <h3 class="label">Shipping profile name</h3>
    <mat-form-field appearance="fill" class="--plain --larger">
      <input matInput type="text"
      placeholder="Label this Shipping profile (visible only to you)"/>
    </mat-form-field>
  </label>

  <app-shipping-profile-address></app-shipping-profile-address>

</mat-dialog-content>


<mat-dialog-actions fxLayoutAlign="space-between center">
  <button mat-button mat-dialog-close (click)="dialogClose()">
    <mat-icon fontIcon="part-cross"></mat-icon>
    Cancel &amp; Close
  </button>
  <!-- @TODO: implement saving -->
  <button mat-raised-button color="primary" mat-dialog-close>
    <mat-icon fontIcon="part-check"></mat-icon>
    Save Profile
  </button>
</mat-dialog-actions>
