<!--div mat-dialog-title>
  {{data?.listing?.title}}
  <span class="category">
    in {{data?.listing?.category.name}}
  </span>
</div-->

<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>

<div mat-dialog-content class="dialog-content">
  <div class="product-summary" fxLayout="row">

    <div class="product-gallery">
      <div class="gallery-carousel">
        <img
          [src]="data?.listing?.imageCollection?.featuredImage?.thumbnail"><!-- *ngIf="images.length === 0" -->

        <!-- TODO: can we push the thumbnails in gallery to right side (instead of below)? -->
        <!--gallery
          *ngIf="images.length > 0"
          gallerize
          [gestures]="false"
          [style.height.px]="380"
          [style.width.px]="450"
          [thumbWidth]= "80"
          [thumbHeight]="80"
          [loadingMode]="'indeterminate'"
          [thumb]="images.length > 1"
          [items]="images">
        </gallery-->
      </div>
    </div><!-- .product-gallery -->

    <div class="product-info">
      <h1>{{ data?.listing?.title }}</h1>
      <p class="short-desc">
        {{ data?.listing?.shortDescription }}
      </p>
      <p class="expires-soon" *ngIf="data?.listing?.isAboutToExpire">
        <span matTooltip="Last chance to buy this Listing before it becomes unavailable" matTooltipPosition="after">
          <mat-icon fontIcon="part-circle-info"></mat-icon>
          Expires in {{ data?.listing?.expireIn }}
        </span>
      </p>

      <div class="pricing">
        <div class="item price">
          <div class="title">Price</div>
          <div class="value">
            <span class="big">{{ data?.listing?.basePrice }}</span>
            <span class="currency">PART</span>
          </div>
          <div class="value fiat">
            <span class="fiat">~ {{price?.usd}} xx EUR</span>
          </div>
        </div>
        <div class="item shipping">
          <!-- TODO: Shipping price
            a) if destination country set: display what's below, ie. price for that country (local or intl)
            b) if country isn't set: display title as "Shipping" only, price will be a range (local - intl), as we currently have it in 2.3.0
          -->
          <div class="title">Shipping to {{ data?.listing?.buyersCountry }}</div>
          <div class="value">
            <span class="big">{{ data?.listing?.internationalShippingPrice }}</span>
            <span class="currency">PART</span>
          </div>
          <div class="value fiat">
            <span class="fiat">~ {{price?.usd}} xx EUR</span>
          </div>
        </div>
        <!-- we can hide this for now or leave it here with "N/A" instead of the proper value for the time being (just to tease for future updates ;) -->
        <div class="item in-stock">
          <div class="title">In stock</div>
          <div class="value">
            <span class="big">{{ data?.listing?.inStock }}</span>
            <span class="currency">&times;</span>
          </div>
        </div>
      </div><!-- .pricing -->

      <table class="meta">
        <tr>
          <th class="title">
            <mat-icon fontIcon="part-filter"></mat-icon>
            Category
          </th>
          <td class="value">
            {{ data?.listing?.category.name }}
          </td>
        </tr>
        <tr>
          <th class="title">
            <mat-icon fontIcon="part-globe"></mat-icon>
            Sold from
          </th>
          <td class="value">
            {{ countryListService?.getCountryByRegion(data?.listing?.country)?.name }}
            ({{ data?.listing?.country }})
          </td>
        </tr>
        <tr>
          <th class="title">
            <mat-icon fontIcon="part-date"></mat-icon>
            Added / Expires
          </th>
          <td class="value">
            {{ data?.listing?.createdAt }} / {{ data?.listing?.expiredTime }}
          </td>
        </tr>
      </table>

    </div><!-- .product-info -->
  </div><!-- .product-summary -->

  <div class="product-details">
    <mat-tab-group class="listing-tabs" (selectedTabChange)="changeTab($event.index)" color="accent">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon fontIcon="part-attach"></mat-icon>
          Product details
        </ng-template>
      </mat-tab>
      <!--mat-tab label="Details"></mat-tab-->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon fontIcon="part-truck"></mat-icon>
          Shipping &amp; Escrow
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon fontIcon="part-chat-discussion"></mat-icon>
          Questions &amp; Answers
        </ng-template>
      </mat-tab><!-- *ngIf="!data.buyPage" -->
    </mat-tab-group><!-- .listing-tabs -->

    <div class="tab-content details" *ngIf="tabLabels[selectedTab] == 'details'">
      <h2 class="section-title">Product info</h2>
      <mat-card>
        <p class="lead description">{{ data?.listing?.shortDescription }}</p>
        <p class="detailed description">{{ data?.listing?.longDescription }}</p>
      </mat-card>
      <!-- TODO: only if Listing contains multiple images, show them here. on click, trigger the fullscreen gallery if possible: -->
      <ng-container>
        <h2 class="section-title">Product gallery</h2>
        <div class="gallery">
          <ng-container *ngFor="let image of data.listing.imageCollection.images">
            <div class="image">
              <img src="{{ image }}">
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div><!-- .tab-content.details -->

    <div class="tab-content shipping" *ngIf="tabLabels[selectedTab] == 'shipping'">
      <h2 class="section-title">Pricing details</h2>
      <mat-card>
        <table class="shipping-escrow">
          <thead>
            <tr>
              <th>Shipping to</th>
              <th>Shipping</th>
              <th>Escrow</th>
              <th>Total needed for order</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>
                {{ countryListService?.getCountryByRegion(data?.listing?.country)?.name }}
                <small>Shipping carrier</small>
              </th>
              <!-- domestic shipping -->
              <td>
                <span class="part price">
                  <strong>{{ data?.listing?.domesticShippingPrice }}</strong>
                  <small class="currency">PART</small>
                </span>
                <span class="fiat price">
                  &asymp; 0.41 <small class="currency">EUR</small>
                </span>
              </td>
              <!-- domestic escrow -->
              <td>
                <span class="part price">
                  <strong>{{ data?.listing?.escrowPriceDomestic }}</strong>
                  <small class="currency">PART</small>
                </span>
                <span class="fiat price">
                  &asymp; 0.41 <small class="currency">EUR</small>
                </span>
              </td>
              <!-- domestic total -->
              <td>
                <span class="part price">
                  <strong>{{data?.listing?.totalAmountDomestic }}</strong>
                  <small class="currency">PART</small>
                </span>
                <span class="fiat price">
                  &asymp; 0.41 <small class="currency">EUR</small>
                </span>
              </td>
            </tr>
            <tr>
              <th>
                Worldwide
                <small>Shipping carrier</small>
              </th>
              <!-- international shipping -->
              <td>
                <span class="part price">
                  <strong>{{ data?.listing?.internationalShippingPrice }}</strong>
                  <small class="currency">PART</small>
                </span>
                <span class="fiat price">
                  &asymp; 0.41 <small class="currency">EUR</small>
                </span>
              </td>
              <!-- international escrow -->
              <td>
                <span class="part price">
                  <strong>{{ data?.listing?.escrowPriceInternational }}</strong>
                  <small class="currency">PART</small>
                </span>
                <span class="fiat price">
                  &asymp; 0.41 <small class="currency">EUR</small>
                </span>
              </td>
              <!-- international total -->
              <td>
                <span class="part price">
                  <strong>{{data?.listing?.totalAmountInternaltional }}</strong>
                  <small class="currency">PART</small>
                </span>
                <span class="fiat price">
                  &asymp; 0.41 <small class="currency">EUR</small>
                </span>
              </td>
            </tr>
            <tr class="help-text">
              <td></td>
              <td>
                Shipping price for 1 item
              </td>
              <td>
                Security deposit (100% of order value) needed for this trade &ndash; it will be refunded after order is completed and delivered
              </td>
              <td>
                Amount of funds needed in total for this trade (incl. the refundable escrow)
              </td>
            </tr>
          </tbody>
        </table><!-- .shipping-escrow -->
      </mat-card>
    </div><!-- .tab-content.shipping-->

    <div class="tab-content questions-answers" *ngIf="tabLabels[selectedTab] == 'questions'">
      <h2 class="section-title">Questions &amp; answers</h2>

      <mat-expansion-panel class="question-answer list-item no-padding">
        <mat-expansion-panel-header class="header">
          <div class="header-wrapper">
            <div class="meta" fxFlex="1 1 100%">
              <div class="question">
                Root Question content goes here, if it's too long, we can crop it no problem. It's just for the users to see a short preview of the question..
              </div>
            </div>
            <div class="status-wrap" fxFlex="0 0 100px">
              <div class="status" matTooltip="Messages in thread" matTooltipPosition="before">
                <!-- TODO: if Seller hasn't yet replied: -->
                <mat-icon fontIcon="part-chat"></mat-icon>
                <!-- TODO: else if Seller has replied: -->
                <mat-icon fontIcon="part-check"></mat-icon>
                2
              </div>
            </div>
          </div>
        </mat-expansion-panel-header>
        <div class="detail">
          <!-- FIXME: why doesn't this show up?! -->
          <app-question-answer-thread></app-question-answer-thread>
          <app-question-answer-thread></app-question-answer-thread>
        </div><!-- .detail -->
      </mat-expansion-panel><!-- .question-answer -->

      <div class="no-results --smaller --horizontal">
        <img class="illustration" src="./assets/images/illustrations/no-questions.svg" alt="No Questions asked yet">
        <div class="text">
          <p>
            No Questions asked yet
          </p>
          <p class="help-text">
            Are you missing details from Product's description or do you have some question for the Seller? Ask your questions below:
          </p>
        </div>
      </div><!-- .no-results -->

      <h2 class="section-title">Ask a new question</h2>
      <!-- TODO: last item is always the reply form -->
      <label class="item reply-form">
        <!-- coloring based on user's side (primary for buyers, accent for sellers) -->
        <mat-form-field appearance="fill" class="post-reply --boxed --larger" color="primary">
          <mat-icon matPrefix fontIcon="part-language"></mat-icon>
          <input matInput type="text" placeholder="Ask a question…">
          <button matSuffix mat-button class="small" matTooltip="Reply" color="primary" matTooltipPosition="before">
            <mat-icon fontIcon="part-arrow-right"></mat-icon>
          </button>
        </mat-form-field>
      </label>
      
    </div><!-- .tab-content.questions-answers -->

  </div><!-- .product-details -->
</div><!-- .dialog-content -->


<mat-dialog-actions fxLayoutAlign="space-between center" *ngIf="!data.buyPage">

  <div class="left">

    <app-report *ngIf="!data?.listing?.isFlagged && !data?.listing?.isMine" [listing]="data?.listing" [from]="'preview'" (complete)="reportListingFinished()"></app-report>

    <div class="reporting" *ngIf="data?.listing?.isFlagged">
      <!-- Reported, not voted yet by user -->
      <div *ngIf="!data?.listing?.VoteDetails">
        <span class="title"><strong>Item reported</strong> as inappropriate, please vote:</span>
        <button mat-button class="small" color="primary" (click)="voteForListing(data?.listing?.keepItem)" matTooltip="Item is fine and should stay on Market">
          <mat-icon fontIcon="part-thumb-up"></mat-icon>
          Keep it
        </button>
        <button mat-button class="small" color="warn" (click)="voteForListing(data?.listing?.removeItem)" matTooltip="Item is inappropriate/illegal and should be removed from Market">
          <mat-icon fontIcon="part-thumb-down"></mat-icon>
          Remove it
        </button>
      </div>
      <!-- Reported & voted already -->
      <div *ngIf="data?.listing?.VoteDetails" class="voted">
        <p *ngIf="data?.listing?.VoteDetails?.isReported">
          <button mat-button class="small icon-only" color="primary" (click)="voteForListing(data?.listing?.keepItem)"
            matTooltip="I've changed my mind, the item is fine and should stay on Market">
            <mat-icon fontIcon="part-thumb-up"></mat-icon>
          </button>
          I've changed my mind, the item is fine and should stay on Market
        </p>
        <p *ngIf="!data?.listing?.VoteDetails?.isReported">
          <button mat-button class="small icon-only" color="warn" (click)="voteForListing(data?.listing?.removeItem)"
            matTooltip="I've changed my mind, the item is inappropriate/illegal and should be removed from Market">
            <mat-icon fontIcon="part-thumb-down"></mat-icon>
          </button>
          I've changed my mind, the item is inappropriate/illegal and should be removed from Market
        </p>
      </div>
    </div><!-- .reporting -->

  </div>

  <div class="right" fxLayout fxLayoutAlign="end center">
    <app-favorite [listing]="data?.listing" [detail]="true"></app-favorite>
    <app-add-to-cart [listing]="data?.listing" [detail]="true" (onAdded)="dialogClose()"></app-add-to-cart>

    <!-- if mine, show message instead of "add to cart" button -->
    <button mat-button disabled *ngIf="data?.listing?.isMine">
      <mat-icon fontIcon="part-circle-info"></mat-icon>
      This is your own listing
    </button>
  </div>

</mat-dialog-actions>
