<div class="container-block with-tab-bar">
  <app-page-intro [childPageAlias]="pageDetails.title">
    <ng-container page-title>{{ pageDetails.title }}</ng-container>
    <ng-container page-content>
      {{ pageDetails.description }}
    </ng-container>
    <ng-container page-help>
      {{ pageDetails.help }}
    </ng-container>
  </app-page-intro>

  <ng-container *ngTemplateOutlet="content"></ng-container>
</div>


<ng-template #content>

  <div class="container">
    <div class="sidebar">
      <div class="buttons">
        <button mat-button appDebounceClick (debounceClick)="actionShowTerms()">
          <mat-icon fontIcon="part-document"></mat-icon>
          Terms and Conditions
        </button>
      </div>

    </div><!-- .sidebar -->


    <div class="content row">
      <div class="third">

        <h2 class="section-title"> Particl Desktop Configuration </h2>

        <mat-card>
          <ng-container *ngFor="let setting of settings; index as settingIdx; trackBy: trackBySettingFn">
            <div class="item" [ngSwitch]="setting.type">

              <ng-container *ngSwitchCase="'select'">
                <label>
                  <h4 class="option">
                    {{ setting.title }}
                    <span class="tag --smaller" *ngFor="let tag of setting.tags">{{ tag }}</span>
                    <span class="tag --smaller --alert" *ngIf="setting.restartRequired">Requires restart</span>
                  </h4>
                  <p class="desc">{{ setting.description }}</p>
                  <p class="warning" *ngIf="setting.errorMsg">{{setting.errorMsg}}</p>
                  <mat-form-field class="full-width --larger --plain" appearance="fill" [color]="setting.errorMsg ? 'warn' : 'primary'">
                    <mat-select [disabled]="setting.isDisabled" [(ngModel)]="setting.currentValue" (selectionChange)="settingChangedValue(settingIdx)">
                      <mat-option *ngFor="let option of setting.options" [value]="option.value" [disabled]="option.isDisabled">
                        {{ option.text }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </label>
              </ng-container>


              <ng-container *ngSwitchCase="'label'">
                <label>
                  <h4 class="option">
                    {{ setting.title }}
                    <span class="tag --smaller" *ngFor="let tag of setting.tags">{{ tag }}</span>
                  </h4>
                  <p class="desc">{{ setting.description }}</p>
                  <mat-form-field class="full-width --larger --plain" appearance="fill" color="primary">
                    <input matInput [value]="setting.currentValue" disabled="true">
                  </mat-form-field>
                </label>
              </ng-container>
            </div>
          </ng-container>
        </mat-card>


        <mat-card>
          <div class="item">
            <div class="checkbox label">
              <mat-checkbox class="align-top wrap" [formControl]="controlToggleUpdates">
                <h4 class="option">
                  Check for Updates
                </h4>
                <p class="desc">Enable Particl Desktop updatee checks</p>
              </mat-checkbox>
            </div>
          </div>
        </mat-card>


        <mat-card>
            <div class="item">
              <div class="label">
                <h4 class="option">
                  Allowed URL Domains
                </h4>
                <p class="desc">
                  Permission needs to be granted to user-provided URL domains in order for Particl Desktop to trust that the domain can be navigated to. The domains listed here provide a confirmation Particl Desktop can safely attempt to navigate to a particular domain in your browser.
                </p>
                <p class="desc">
                  <b>Only the domain name is required, and not a full URL.</b>
                </p>

                <div class="item">
                  <div class="label">
                    <h4 class="option sub-heading">
                      Allowed Domains
                    </h4>
                    <p class="desc sub-heading" *ngIf="customURLS.length === 0">
                      No domains have been added yet.
                    </p>

                    <div class="row" *ngFor="let url of customURLS; let i=index">
                      <div fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="space-between center">
                        <p class="desc sub-heading wrap">{{ url }}</p>
                        <button mat-button color="warn" appDebounceClick (debounceClick)="actionRemoveURL(i)" [disabled]="controlCustomUrlAdd.disabled">
                          <mat-icon fontIcon="part-cross"></mat-icon>
                        </button>
                      </div>
                    </div>


                    <h4 class="option sub-heading">
                      Add New Domain
                    </h4>

                    <div class="row domain-input">
                      <div fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="space-between center">
                        <mat-form-field class="full-width --larger --plain" appearance="fill" color="primary">
                          <input  matInput
                                  [formControl]="controlCustomUrlAdd"
                                  placeholder="Example: https://particl.io"/>
                        </mat-form-field>
                        <button mat-button color="primary" [disabled]="controlCustomUrlAdd.disabled || controlCustomUrlAdd.invalid" appDebounceClick (debounceClick)="actionAddURL()">
                          <mat-icon fontIcon="part-plus"></mat-icon>
                          Add Allowed Domain
                        </button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

        </mat-card>

      </div><!-- .third -->
    </div><!-- .row -->
  </div><!-- .container -->

</ng-template>
