<div class="address-book container-block without-tab-bar">

  <app-page-intro>
    <ng-container page-title>Address Book</ng-container>
    <ng-container page-content>
      Address Book is your personal collection of saved addresses belonging to other parties.
    </ng-container>
    <ng-container page-help>
      Note that it is recommended that you mostly save Private addresses (if possible).<br>
      Re-using the same Public addresses increases transaction traceability, which results in loss of privacy both for you and the other party.
    </ng-container>
  </app-page-intro>


  <div class="filter">

    <div class="buttons">
      <button mat-raised-button color="primary" [disabled]="isLoading" (click)="addNewAddress()" class="full-width"
              matTooltip="Save new address to your Address book" matTooltipPosition="above">
        <mat-icon fontIcon="part-circle-plus"></mat-icon>
        Add new address
      </button>
    </div><!-- .buttons -->

    <h2 class="section-title">
      Search
    </h2>

    <mat-form-field class="--boxed" appearance="fill">
      <input matInput type="text" [formControl]="searchQuery"
            placeholder="Search Addresses" (keyup.escape)="searchQuery.setValue('')">
      <button *ngIf="searchQuery.value.length > 0" matSuffix mat-button class="small" (click)="searchQuery.setValue('')" matTooltip="Clear" matTooltipPosition="after">
        <mat-icon fontIcon="part-clear-all"></mat-icon>
      </button>
      <mat-icon *ngIf="searchQuery.value.length === 0" matSuffix fontIcon="part-search"></mat-icon>
    </mat-form-field>

    <h2 class="section-title">
      Filter by type
    </h2>

    <mat-form-field class="filter-type --boxed" appearance="fill">
      <mat-select placeholder="All types" name="type" (selectionChange)="filterQuery.setValue($event.value)" value="all">
        <mat-option *ngFor="let filter of tableFilters;trackBy:trackByFiltersFn" [value]="filter.value">
          {{ filter.text }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div><!-- .filter -->


  <div class="addresses section with-filter">

    <ng-container *ngTemplateOutlet="isLoading ? loading : (pageFilters.resultsTotalCount > 0 ? content : emptyList)"></ng-container>

    <ng-template #loading>
      <main-loading-placeholder></main-loading-placeholder>
    </ng-template>

    <ng-template #emptyList>
      <div class="no-results">
        <img class="illustration" src="./assets/app-wallet/illustrations/no-contacts.svg" alt="No contacts yet">
        <p>
          No addresses saved yet
        </p>
        <p class="help-text">
          Click the "Add new address" button to save a new contact
        </p>
      </div>
    </ng-template>


    <ng-template #content>
      <ng-container *ngFor="let address of displayedResults;trackBy:displayedAddressTrackFn">
        <mat-card class="address-entry">

          <!-- label & address string -->
          <div class="address-name" (click)="openQrCodeModal(address)">
            <span class="label">{{ address.label || '(No label)' }}</span>
            <span class="address-string">{{ address.address }}</span>
          </div>

          <!-- Actions/controls -->
          <div class="address-actions">
            <button mat-button class="tiny icon-only" matTooltip="Copy address" ngxClipboard [cbContent]="address.address" (click)="copyToClipBoard()">
              <mat-icon fontIcon="part-copy"></mat-icon>
            </button>
            <button mat-button class="tiny icon-only" (click)="openSignatureModal(address)" matTooltip="Verify message" ngxClipboard>
              <mat-icon fontIcon="part-person-check"></mat-icon>
            </button>
            <button mat-button class="tiny icon-only" color="warn" appDebounceClick (debounceClick)="deleteAddress(address)" matTooltip="Remove address">
              <mat-icon fontIcon="part-circle-remove"></mat-icon>
            </button>
          </div>

        </mat-card>
      </ng-container>

      <app-paginator
        *ngIf="pageFilters.resultsTotalCount > 0"
        #paginator
        [length]="pageFilters.resultsTotalCount"
        [pageSize]="pageFilters.pageSize"
        [pageSizeOptions]="pageFilters.pageSizes"
        (page)="paginatorChangeHandler($event)">
      </app-paginator>

    </ng-template>

  </div><!-- addresses -->

</div>
