@import "./src/assets/_config"; // import shared colors etc.

// ------ LAYOUT ------ //

.tab-bar {
  margin-top: $header-main-height;
}

.container-flex {
  display: flex;
  $padding: 35px;
  $padding-bottom: $padding + 45px; // offset "show older addys" button from bottom
  padding: $padding $padding $padding-bottom;
  height: calc(100vh - #{$header-main-height} - #{$tab-bar-height} - #{$padding} - #{$padding-bottom});
  position: relative;
  @include break(l) {
    $padding: 45px;
    $padding-bottom: $padding + 45px; // offset "show older addys" button from bottom
    padding: $padding 50px $padding-bottom;
    height: calc(100vh - #{$header-main-height} - #{$tab-bar-height} - #{$padding} - #{$padding-bottom});
  }
}

.container-block {
  padding: 35px;
  @include break(l) {
    padding: 45px 50px;
  }
}

// fresh unused receive address
mat-card.receive-address {
  width: 720px;
  margin: auto;
  padding: 24px 0 0;

  .address-info {
    padding: 0 24px;
  }

  .main {
    padding-left: 35px;

    .address-type {
      text-transform: uppercase;
      color: $text-muted;
      .mat-icon {
        margin-right: 4px;
        position: relative;
        top: 3px;
        color: lighten($text-muted, 20%);
      }
    }

    .address-label {
      font-size: 24px;
      text-transform: none;
      margin: 16px 0 10px;
      text-overflow: none;
      overflow: visible;
      .label {
        display: inline-block;
        max-width: 390px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      button {
        position: relative;
        top: -10px;
      }
    }

    .address-string {
      @extend %enable-select;
      font-size: 15px;
      line-height: 1.45;
      color: darken($color, 7%);
      background: rgba($color, 0.04);
      padding: 7px 14px;
      margin-bottom: 18px;
      cursor: pointer;
    }

    p.widget-help {
      margin-bottom: 0;
    }

  }

  .buttons {
    width: 100%;
    margin: 24px 0 0;
    padding: 14px;
    border-top: 1px dashed $bg-shadow;
    .right {
      text-align: right;
      button {
        margin-left: 8px;
      }
    }
  }

}

// show old addresses
.show-old {
  text-align: center;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}







/* ------------------------------- *\
    Search Addresses
\* ------------------------------- */

.search-address {
  margin-top: 9px;
  .mat-input-element {
    width: calc(100% - 50px);
    height: 20px;
    margin-left: 0;
    padding-right: 50px;
  }
  .mat-icon {
    top: 4px;
    right: 18px;
    font-size: 14px;
  }
}


/* ------------------------------- *\ 
    Address list 
\* ------------------------------- */ 

.address-title { // section title (used/unused)
  @extend %subtitle;
}

.address-info { // address "card"
  margin-bottom: 12px;
  .address-id {
    color: $text-muted;
  }
  .address-label {
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .address {
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: monospace;
    color: $text-muted;
    background: transparent;
    transition: background .3s;
  }
}
