<app-header>
  <div class="tab-bar">
    <mat-tab-group (selectedTabChange)="changeTab($event.index)">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon fontSet="partIcon" fontIcon="part-public"></mat-icon>
          Public address
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon fontSet="partIcon" fontIcon="part-anon"></mat-icon>
          Private address
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-header>


<!-- ====== FRESH RECEIVE ADDRESS ====== -->

<div  class="container-flex with-tab-bar">

  <mat-card class="receive-address">
    <div class="address-details">
      <detail-address [selected]="selected" [type]="type" (rpcLabelUpdate)="rpcLabelUpdate($event)"></detail-address>
    </div>
    <div class="buttons" fxLayout fxLayoutAlign="space-between center">
      <div class="left" fxFlex="30%">
        <button mat-button color="primary" matTooltip="Generate fresh address" (click)="generateAddress()">
          <mat-icon fontSet="partIcon" fontIcon="part-plus"></mat-icon>
          New {{ getAddressType() }} address
        </button>
      </div>
      <div class="right" fxFlex="70%">
        <a mat-button matTooltip="Display address' public information on Block Explorer" href="https://explorer{{testnet ? '-testnet' : ''}}.particl.io/address/{{selected?.address}}" target="_blank">
          <mat-icon fontSet="partIcon" fontIcon="part-info"></mat-icon>
          Show on Explorer
        </a>
        <button mat-raised-button color="primary" ngxClipboard [cbContent]="selected?.address" (click)="copyToClipBoard()">
          <mat-icon fontSet="partIcon" fontIcon="part-copy"></mat-icon>
          Copy address
        </button>
      </div>
    </div><!-- .buttons -->

  </mat-card><!-- .receive-address -->


  <div class="show-old">
    <button mat-button class="small" (click)="toggleAddresses()" matTooltip="Display and filter your previously used addresses" [disabled]="(getSinglePage().length === 0)">
      <mat-icon fontSet="partIcon" fontIcon="part-triangle-down" *ngIf="!showOldAddress"></mat-icon>
      <mat-icon fontSet="partIcon" fontIcon="part-triangle-up" *ngIf="showOldAddress"></mat-icon>
      {{ showOldAddress? "Hide older addresses" : "Show older addresses" }}
    </button>
  </div>

</div>


<!-- ====== OLD, USED ADDRESS ====== -->

<div #scroll class="previous-addresses container-block" *ngIf="showOldAddress">

  <!-- Sorting, filtering -->
  <div class="filter">

    <div class="section search-sorting">
      <div class="subtitle">Search addresses</div>
      <mat-card class="filter-card">
        <mat-form-field class="icon-input search-address">
          <input matInput type="text" [(ngModel)]="query" [ngModelOptions]="{standalone: true}"
                placeholder="Search Addresses" (keyup.escape)="query = ''">
          <mat-icon *ngIf="query" (click)="query=''" matTooltip="Clear" fontSet="partIcon"
                    fontIcon="part-clear-all"></mat-icon>
          <mat-icon *ngIf="!query" fontSet="partIcon" fontIcon="part-search" matTooltip="Search For Address" matTooltipPosition="before"></mat-icon>
        </mat-form-field>
      </mat-card>

      <p class="widget-help">
        These are your previously used addresses. It is recommended not to reuse your old addresses &ndash; to increase your privacy, you should use a new address for each transaction.
      </p>
    </div><!-- .search-sorting -->

  </div><!-- .filter -->


  <!-- Address list -->
  <div class="with-filter" *ngIf="unUsedAddress">

    <div class="no-results" *ngIf="(getSinglePage().length === 0) && (inSearchMode() === true)">
      No addresses found
    </div>

    <div *ngIf="getSinglePage().length" class="list-data">
      <div class="address-title">Used addresses</div>
      <div *ngFor="let address of getSinglePage()">

        <mat-card class="address-info">

          <div class="address-name cursor-pointer" (click)="openNewAddress(address)">
            <div class="address-id">
              /{{ address?.id || '' }}
            </div>
            <span class="address-label" [ngClass]="{'no-label': address.label === '(No label)'}">
              {{ address?.label || '' }}
            </span>
            <span class="address">
              {{ address?.address || '' }}
            </span>
          </div><!-- .address-name -->

          <div class="address-actions" fxFlex="0 0 50px" fxLayoutAlign="end center">
            <!-- Copy address -->
            <span fxFlex="50%">
              <mat-icon fontSet="partIcon" fontIcon="part-copy" class="cursor-pointer"
                        matTooltip="Copy address" (click)="copyToClipBoard()"
                        ngxClipboard [cbContent]="address.address"></mat-icon>
            </span>
            <!-- Sign/Verify public address only  -->
            <span fxFlex="50%" *ngIf="type == 'public'">
              <mat-icon fontSet="partIcon" fontIcon="part-person-check" matTooltip="Sign / Verify message"
                        (click)="openSignatureModal(address.address)" class="cursor-pointer" ngxClipboard></mat-icon>
            </span>
          </div><!-- .address-actions -->

        </mat-card>
      </div>
    </div><!-- .list-data -->

    <!-- use two paginator for reset pagination after tab change. -->
    <div class="receive-pagination">
      <app-paginator
        *ngIf="getSinglePage().length > 0"
        #paginator
        [length]="getTotalCountForPagination()"
        [pageSize]="MAX_ADDRESSES_PER_PAGE"
        [pageSizeOptions]="PAGE_SIZE_OPTIONS"
        (page)="pageChanged($event)">
      </app-paginator>
    </div>
  </div>
</div>
