@import './src/assets/_config'; // import shared colors etc.
@import './src/app/market/_lists-shared';
@import './src/app/market/_order'; // order styles

h3 {
  text-align: center;
}

.title {
  margin-top: 14px;
  &:first-of-type {
    margin-top: 0;
  }
}

table.contact-info {
  th {
    text-align: right;
    vertical-align: top;
    padding-right: 7px;
  }
  td {
    word-break: break-word;
  }
}

.additional-extra-info {
  @extend %enable-select;
  // color: darken($color, 7%);
  // background: rgba($color, 0.1);
  padding: 3px 8px;
  border-radius: $radius;
}
