.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.logo {
  display: inline-block;
  background-image: url("../assets/particl-logo.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 120px 50px;
  height: 50px;
  width: 120px;
}

/deep/ .verify-sucess {
  color: #4F8A10;
  background-color: #DFF2BF !important;
}
