.center-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
 }

.logo {
    background-image: url('../assets/particl-logo.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 120px 50px;
    display: inline-block;
    height: 50px;
    width: 120px;
  }

sidebar[position='left'] {
    & {
        background-color: #222828;
        padding-left: 20px;
        padding-right: 20px;
  }

    .full-width {
        margin-left: -20px;
        margin-right: -20px;
  }

    hr {
        @extend .full-width;
        border-bottom: 1px solid #272b2b;
        border-top: 1px solid #191d1f;
        margin-bottom: 0;
        margin-top: 0;
        padding: 0;
      }

    .header {
        & {
            @extend .full-width;
            height: 100px;
            text-align: center;
            transform-style: preserve-3d;
        }

        .logo {
            @extend .center-vertical;
          }

        .toggle-pinned {
            color: #595d5e;
            cursor: pointer;
            position: absolute;
            right: 20px;
            top: 10px;
          }
        }

    .menu {
        .item {
            color: #fff;
            display: block;
            font-size: 11px;
            font-weight: bold;
            margin-left: -20px;
            margin-right: -20px;
            padding: 15px 20px;
            text-decoration: none;
            text-transform: uppercase;
        }

        .icon {
            color: #595d5e;
            padding: 0 10px;
        }

        .category {
            & {
                @extend .item;
                color: #595d5e;
              }

            .icon {
                color: #00e8af;
                float: right;
                padding: 0 0 0 10px;
                transition: all .2s ease;
        }

            .icon.collapsed {
                transform: rotate(90deg);
              }
          }

        .item.active .icon {
            color: #00e8af;
        }
      }

    &.docked {
        .header {
            & {
                text-align: right;
            }

            .logo {
                margin-right: 10px;
                width: 50px;
            }

            .toggle-pinned {
                display: none;
            }
        }

        .menu {
            .icon, .category .icon {
                float: right;
                padding: 0 10px;
            }
          }
        }
      }

sidebar[position='top'] {
    & {
        background-color: #fff;
        border-bottom: 1px solid #f2f2f2;
        box-shadow: 0 0 1px #f2f2f2;
        padding: 0 15px;
        transform-style: preserve-3d;
  }

    .header {
        & {
            color: #000;
            font-size: 12px;
            position: relative;
            text-transform: uppercase;
            top: 50%;
            transform: translateY(-50%);
        }

        a {
            color: inherit;
            text-decoration: none;
          }

        .icon {
            vertical-align: middle;
          }

        * + * {
            margin-left: 10px;
          }

        .toggle-menu {
            cursor: pointer;
          }
    }
}
