<sidebar-container>

  <sidebar position="left" [isDocked]="true" [isPinned]="true" [isOpen]="true"
    (mouseenter)="!window.isXS && !sidebarLeft.isOpen && sidebarLeft.toggleOpen(true)"
    (mouseleave)="!window.isXS && !sidebarLeft.isPinned && sidebarLeft.toggleOpen(false)"
    #sidebarLeft>

    <div class="header">
      <span *ngIf="!window.isXS" class="toggle-pinned fa"
        [ngClass]="{'fa-dot-circle-o': sidebarLeft.isPinned, 'fa-circle': !sidebarLeft.isPinned}"
        (click)="sidebarLeft.togglePinned()">
      </span>
      <span class="logo"></span>
    </div>
    <hr>
    <accordion class="menu">
      <accordion-group [isCollapsed]="false">
        <a class="item" routerLinkActive="active" routerLink="/overview">
          <span class="icon fa fa-th"></span>
          Overview
        </a>
      </accordion-group>
      <accordion-group #walletGroup [isCollapsed]="false">
        <accordion-heading>
          <a class="category" routerLink="#" (click)="walletGroup.toggleCollapse()">
            Wallet
            <span class="icon fa" [ngClass]="{'fa-chevron-left': walletGroup.isCollapsed, 'fa-chevron-down': !walletGroup.isCollapsed}"></span>
          </a>
        </accordion-heading>
        <hr>
        <a class="item" routerLinkActive="active" routerLink="#">
          <span class="icon fa fa-arrow-left"></span>
          Receive
        </a>
        <a class="item" routerLinkActive="active" routerLink="/send">
          <span class="icon fa fa-arrow-right"></span>
          Send
        </a>
        <a class="item" routerLink="#">
          <span class="icon fa fa-history"></span>
          History
        </a>
        <a class="item" routerLinkActive="active" routerLink="#">
          <span class="icon fa fa-address-book"></span>
          Address Book
        </a>
      </accordion-group>
      <accordion-group #settingsGroup [isCollapsed]="false">
        <accordion-heading>
          <a class="category" routerLink="#" (click)="settingsGroup.toggleCollapse()">
            Settings
            <span class="icon fa" [ngClass]="{'fa-chevron-left': settingsGroup.isCollapsed, 'fa-chevron-down': !settingsGroup.isCollapsed}"></span>
          </a>
        </accordion-heading>
        <hr>
        <a class="item" routerLinkActive="active" routerLink="#">
          <span class="icon fa fa-cog"></span>
          Settings
        </a>
      </accordion-group>
    </accordion>

  </sidebar>

  <sidebar position="right" [isPinned]="true" #sidebarRight></sidebar>

  <sidebar position="top" [isDocked]="true" #sidebarTop>
    <div class="header pull-left">
      <span *ngIf="window.isXS" class="toggle-menu icon fa fa-bars fa-2x"
        (click)="sidebarLeft.toggleOpen(); sidebarLeft.togglePinned(sidebarLeft.isOpen)">
      </span>
      <strong>{{ title }}</strong>
    </div>
    <div class="header pull-right">
      <span class="icon fa fa-signal"></span>
      <span class="icon fa fa-lock"></span>
    </div>
  </sidebar>

  <sidebar position="bottom" #sidebarBottom></sidebar>

  <router-outlet></router-outlet>

  <!-- <app-overview></app-overview> -->
  <!-- <app-addresses></app-addresses> -->

</sidebar-container>

<template [ngIf]="false"><!-- TODO: Only write modal if required... -->
  <fullmodal  [showCloseButton]="false"
              [isOpen]="false"
              [closeOnEscape]="false">
    <div class="col-xs-12 text-center">
      <b>Welcome</b>, please select one of the options below.
    </div>
    <hr style="margin-top: 100px;">

    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12 text-right">
          <button class="control">Create new wallet</button>
        </div>
        <div class="col-sm-6 col-xs-12 text-left">
          <button class="control">Restore wallet</button>
        </div>
      </div>
    </div>
  </fullmodal>
</template>


<!--RECOVERY MODAL -->
<template [ngIf]="true"><!-- TODO: Only write modal if required... -->
  <fullmodal #testModal1 [showCloseButton]="true"
              [isOpen]="false"
              [closeOnEscape]="true">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h4>Please enter your <b>24 word recovery phrase</b> and <b>password</b> below.</h4>
        </div>
      </div>
    </div>

    <hr style="margin-top: 100px;">

    <div class="container">
      <div class="col-md-3 text-right">
        <label>YOUR 24 WORD RECOVERY PHRASE</label>
      </div>
      <div class="col-md-9">
        <div class="col-md-2">
          <input type="text" name="recovery" class="form-control recovery-word">
          <input type="text" name="recovery" class="form-control recovery-word">
          <input type="text" name="recovery" class="form-control recovery-word">
          <input type="text" name="recovery" class="form-control recovery-word">
        </div>
        <div class="col-md-2">
          <input type="text" name="recovery" class="form-control recovery-word">
          <input type="text" name="recovery" class="form-control recovery-word">
          <input type="text" name="recovery" class="form-control recovery-word">
          <input type="text" name="recovery" class="form-control recovery-word">
        </div>
        <div class="col-md-2">
          <input type="text" name="recovery" class="form-control recovery-word">
          <input type="text" name="recovery" class="form-control recovery-word">
          <input type="text" name="recovery" class="form-control recovery-word">
          <input type="text" name="recovery" class="form-control recovery-word">
        </div>
        <div class="col-md-2">
          <input type="text" name="recovery" class="form-control recovery-word">
          <input type="text" name="recovery" class="form-control recovery-word">
          <input type="text" name="recovery" class="form-control recovery-word">
          <input type="text" name="recovery" class="form-control recovery-word">
        </div>
        <div class="col-md-2">
          <input type="text" name="recovery" class="form-control recovery-word">
          <input type="text" name="recovery" class="form-control recovery-word">
          <input type="text" name="recovery" class="form-control recovery-word">
          <input type="text" name="recovery" class="form-control recovery-word">
        </div>
        <div class="col-md-2">
          <input type="text" name="recovery" class="form-control recovery-word">
          <input type="text" name="recovery" class="form-control recovery-word">
          <input type="text" name="recovery" class="form-control recovery-word">
          <input type="text" name="recovery" class="form-control recovery-word">
        </div>
      </div>
    </div>

    <hr>

    <div class="container">
      <div class="col-md-3 text-right">
        <label>YOUR WALLET PASSWORD</label>
      </div>
      <div class="col-md-7">
        <div class="col-md-12">
          <input type="password" name="password" class="form-control password"/>
          <br>
          <input type="checkbox" name="showpass" value="password" id="show-wallet-password"/>
          <label class="password-label" for="show-wallet-password">SHOW PASSWORD</label>
        </div>
      </div>
      <div class="col-md-2">
        <button type="button" class="control">RESTORE WALLET</button>
      </div>
    </div>
    <hr>
  </fullmodal>
  <button (click)="testModal1.open()">Open Recovery</button>
</template>

<!-- PASSWORD MODAL -->
<template [ngIf]="true"><!-- TODO: Only write modal if required... -->
  <fullmodal #testModal2 [showCloseButton]="true"
              [isOpen]="false"
              [closeOnEscape]="true">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h4>Please enter <b>your password</b> to unlock your wallet.</h4>
        </div>
      </div>
    </div>

    <hr style="margin-top: 100px;">

    <div class="container">
      <div class="col-md-3 text-right">
        <label>YOUR WALLET PASSWORD</label>
      </div>
      <div class="col-md-7">
        <div class="col-md-12">
          <input type="password" name="password" class="form-control" style="width: 100%;"/>
          <br>
          <input type="checkbox" name="showpass" value="password" id="wallet-password"/>
          <label for="wallet-password">SHOW PASSWORD</label>
        </div>
      </div>
      <div class="col-md-2">
        <button type="button" class="control">UNLOCK WALLET</button>
      </div>
    </div>
    <hr>
  </fullmodal>
  <button (click)="testModal2.open()">Open Pass</button>
</template>


<template [ngIf]="true"><!-- TODO: Only write modal if required... -->
  <fullmodal  [showCloseButton]="true"
              [isOpen]="true"
              [closeOnEscape]="true">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          The displayed information may be out of date. Your wallet automatically synchronizes with the Particl network after a connection is established,
          but this process has not completed yet. This means that recent transactions will not be visible, and the balance may not be up-to-date until this
          process has completed. <b>Spending Particl may not be possible during that phase!</b><!-- TODO: Red bold text (Information / Alert / Warning class?) -->
        </div>
      </div>
    </div>

    <hr style="margin-top: 100px;">

    <div class="container">
      <div class="row text-center">
        <div class="col-md-3 col-xs-6">
          <h3>Amount of blocks left</h3>
          <br />
          22816
        </div>
        <div class="col-md-3 col-xs-6">
          <h3>Last block time</h3>
          <br />
          Mon. Sep. 24 21:40:46 2012
        </div>
        <div class="col-md-3 col-xs-6">
          <h3>Progress increase per hour</h3>
          <br />
          2.18%
        </div>
        <div class="col-md-3 col-xs-6">
          <h3>Estimated time left until synced</h3>
          <br />
          44 hour(s)
        </div>
      </div>
    </div>
  </fullmodal>
</template>
