@import "./src/assets/_config"; // import shared colors etc.

@import "./src/app/layouts/side-nav/side-nav.component"; // import sidebar (partially)

// ----------- GENERAL ----------- //


body {
    display: none;
}

.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* duplicate with ./src/assets/themes.scss */
/deep/ input {
  &.verify-sucess {
    color: darken($color, 7%) !important; // #57a800
    background-color: rgba($color, 0.07) !important; // #edfad7
  }
  &.verify-error {
    color: darken($color-alert, 5%);
    background: rgba($color-alert, 0.1) !important;
  }
}

