@import "./src/assets/_config"; // import shared colors etc.
// @import 'node_modules/ng-gallery/styles/ng-gallery';

// ------ GENERAL ------ //

table {
  border-spacing: 0;
  th {
    text-align: left;
    font-weight: 600;
    padding-right: 24px;
    vertical-align: top;
  }
}

// ------ UI ELEMENTS ------ //

.image {
  cursor: pointer;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

button.small .mat-icon {
  margin: 0; // remove margin from buttons with icons only
}

// Info/alert messages
.message {
  &.info {
    padding: 16px 0;
    background: $bg;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    &:before {
      content: none;
    }
  }
  .mat-icon {
    margin-right: 6px;
    position: relative;
    top: 3px;
    color: $color;
  }
}

// ------ LAYOUT ------ //

.dialog-content {
  margin: 0 -24px !important;
}

[mat-dialog-title] {
  color: $text;
  .category {
    font-size: 12px;
    font-weight: normal;
    color: $text-muted;
    margin-left: 10px;
  }
}

// Listing governance voting
.report-voting {
  background: $bg;
  padding: 20px 24px 10px;
  margin: 0 -24px 24px;
  text-align: center;
  .title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
  }
  p {
    color: $text-muted;
  }
  .mat-button {
    .mat-icon {
      margin-right: 5px;
    }
  }
}

.product-gallery {
  .featured.image {
    margin-bottom: 24px;
  }
  .gallery {
    overflow-x: auto;
    padding-bottom: 18px;
  }
}

.product-info {
  color: $text-muted;
  line-height: 1.7;
  .description {
    margin: 18px 0;
    &.summary {
      font-weight: 600;
      color: $text;
      font-size: 14px;
    }
    &.detailed {
      p {
        white-space: pre-line;
        margin-top: -20px;
      }
    }
  }
  .pricing {
    margin: 8px 0 24px;
    .price {
      &.item { // main price
        font-size: 18px;
        color: $text;
      }
      .small {
        font-size: 14px;
      }
      .currency {
        font-size: 14px;
      }
      .fiat {
        font-size: 12px;
        color: $text-muted;
      }
    }
  }
}

mat-dialog-actions {
  app-favorite { // add/remove from favs icon
    margin-right: 6px;
  }
  .date {
    color: $text-muted;
    display: inline-block;
    margin-left: 8px;
    strong {
      font-weight: 600;
    }
  }
}
