@import './src/assets/_config'; // import shared colors etc.

.fiat {
  display: none; // hidden until implemented
}


// ------ GENERAL ------ //

table {
  border-spacing: 0;
  th {
    text-align: left;
    font-weight: 600;
    padding-right: 24px;
    vertical-align: top;
  }
}

// ------ UI ELEMENTS ------ //

.image {
  cursor: pointer;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

button.small .mat-icon {
  margin: 0; // remove margin from buttons with icons only
}

// Info/alert messages
.message {
  &.info {
    padding: 16px 0;
    background: $bg;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    &:before {
      content: none;
    }
  }
  .mat-icon {
    margin-right: 6px;
    position: relative;
    top: 3px;
    color: $color;
  }
}

// ------ LAYOUT ------ //

.dialog-content {
  margin: 0 -24px !important;
  width: 950px;
}

[mat-dialog-title] {
  color: $text;
  .category {
    font-size: 12px;
    font-weight: normal;
    color: $text-muted;
    margin-left: 10px;
  }
}

.product-gallery {
  .gallery-carousel {
    position: sticky;
    top: 0;
    img { // single product image
      width: 100%;
      height: auto;
    }
  }
  gallery { // multiple product images in gallery
    background: none;
  }
}

:host {
  ::ng-deep {
    image-item {
      & > div {
        background-size: contain; // so all images fit whole
        background-repeat: no-repeat;
      }
    }
    gallery-nav { // recolor the nav arrows to grey
      .g-nav-next,
      .g-nav-prev {
        filter: invert(10%);
      }
    }
  }
}

.product-info {
  color: $text-muted;
  line-height: 1.7;
  margin-right: -24px;

  // Price info
  .pricing {
    position: sticky;
    top: 0;
    z-index: 10;
    background: $color-white;
    border-bottom: 1px solid $bg-shadow;
    width: 100%;
    padding: 0 40px 20px;
    .item {
      .title {
        @extend %subtitle;
        margin: 0;
        padding-bottom: 4px;
        border-bottom: 0;
      }
      .value {
        &.part {
          font-size: 16px;
          font-weight: 500;
          color: $text;
          line-height: 1.2;
        }
        .currency {
          font-size: 80%;
          font-weight: 400;
        }
        .mat-icon {
          font-size: 14px;
          position: relative;
          top: 2px;
          margin-right: 2px;
        }
      }
    }
  }

  // Text description
  .description {
    margin: 18px 0;
    word-wrap: break-word;
    width: 438px;
    &.summary {
      font-weight: 600;
      color: $text;
      font-size: 14px;
      margin: 0;
      padding: 2px 40px;
      background: $bg;
    }
    &.detailed {
      margin: 24px 40px 40px;
      p {
        white-space: pre-line;
        margin-top: -20px;
      }
    }
  }

  // Shipping & escrow
  table.shipping-escrow {
    width: 100%;
    padding-left: 28px;
    thead {
      th {
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 6px 12px;
      }
    }
    tbody {
      tr {
        th {
          font-weight: 400;
        }
        th,
        td {
          @extend %tfx;
          border-top: 1px solid $bg-shadow;
          padding: 6px 12px;
        }
        &:hover {
          th,
          td {
            background: mix($bg, $color-white);
          }
        }
      }
    }
    strong {
      color: $text;
      font-weight: 500;
    }
    .price {
      &.part {
        display: block;
      }
    }
    small.currency {
      font-size: 90%;
    }
  }

}

mat-dialog-actions {
  .date {
    color: $text-muted;
    display: inline-block;
    margin-left: 8px;
    strong {
      font-weight: 500;
    }
  }

  // Listing governance
  .reporting {
    color: $text-muted;
    display: inline-block;
    .title {
      margin-right: 6px;
    }
    .voted-icon {
      margin-right: 4px;
      position: relative;
      top: 2px;
      font-size: 14px;
      line-height: 0;
    }
    button {
      margin: 0;
      .mat-icon {
        margin-right: 4px;
      }
    }
  }

  app-favorite { // add/remove from favs icon
    margin-right: 6px;
  }
}
