<div mat-dialog-title>
  {{data?.listing?.title}}
  <span class="category">
    in {{data?.listing?.category.name}}
  </span>
</div>

<button class="small-close_button pull-right" (click)="dialogClose()">
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>

<div mat-dialog-content class="dialog-content" fxLayout="row" fxLayoutGap="40px">
  <div class="gallery" fxLayout="row" fxLayoutGap="24px" *ngIf="data?.listing?.isFlagged">
    <app-report [listing]="data?.listing" [from]="'listing'"></app-report>
    <div class="small image" fxFlex="1 1 100px">
      This item has been flagged
      Vote blah blah to keep or report it 
      <div *ngIf="data?.listing?.VoteDetails"> 
        <p *ngIf="data?.listing?.VoteDetails?.isReported">you have reported the listing </p>
        <p *ngIf="!data?.listing?.VoteDetails?.isReported" >you have already voted the listing</p>
      </div>
      <div *ngIf="!data?.listing?.VoteDetails">
        <button class="to-cart small" mat-button color="primary" *ngFor="let option of data?.listing?.Proposal?.ProposalOptions" (click)="voteForListing(option.optionId)">
          {{ option.description }}
        </button>
      </div>
    </div>
  </div>

  <div class="product-gallery" fxFlex="0 1 350px">
    <div class="featured image">
      <img src="{{data?.listing?.imageCollection?.previewImage?.medium}}">
    </div>
    <div class="gallery" fxLayout="row" fxLayoutGap="24px">
      <!-- TODO: s/small/medium -->
      <div class="small image" fxFlex="1 1 100px" *ngFor="let img of data?.listing?.imageCollection?.images" (click)="data?.listing?.imageCollection.setPreviewImage(img)">
        <img src="{{img.thumbnail}}">
      </div>
    </div>
  </div>

  <div class="product-info" fxFlex="1 1 100%">

    <table class="pricing">
      <tr>
        <th class="item price">Price</th>
        <td class="item price">
          <span class="big">{{ data?.listing?.basePrice.getIntegerPart() }}</span><span class="big">{{ data?.listing?.basePrice.dot() }}</span><span class="small">{{ data?.listing?.basePrice.getFractionalPart() }}</span>
          <span class="currency">PART</span>
          <!--span class="fiat">&asymp; {{price?.usd}} USD</span-->
        </td>
      </tr>
      <tr>
        <th class="shipping price">Shipping</th>
        <td class="shipping price">
          International &ndash; {{ data?.listing?.internationalShippingPrice.getAmount() }} PART<br>
          Local in {{ data?.listing?.country }} &ndash; {{ data?.listing?.domesticShippingPrice.getAmount() }} PART
        </td>
      </tr>

      <tr *ngIf="listingServiceCache?.selectedCountry">
        <th class="escrow price">Escrow</th>
        <td class="escrow price">{{ data?.listing?.escrowAmount(listingServiceCache.selectedCountry?.iso)?.getAmount() }} PART</td>
      </tr>
    </table>

    <p class="info message" *ngIf="data?.listing?.isMine">
      <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
      This is your own listing
    </p>
    <div class="summary description">
      <p>
        {{ data?.listing?.shortDescription }}
      </p>
    </div>
    <div class="detailed description">
      <p>
        {{ data?.listing?.longDescription }}
      </p>
    </div>

  </div><!-- .product-info -->
</div><!-- .dialog-content -->

<mat-dialog-actions fxLayoutAlign="space-between center">
  <div class="left">
    <app-report *ngIf="!data?.listing?.isFlagged && !data?.listing?.isMine" [listing]="data?.listing" [from]="'preview'"></app-report>
    <div class="date">
      <strong>Date added</strong> {{ data?.listing?.createdAt }}
    </div>
  </div>
  <div class="right" fxLayout fxLayoutAlign="end center">
    <app-favorite [listing]="data?.listing" [detail]="true"></app-favorite>
    <app-add-to-cart [listing]="data?.listing" [detail]="true" (onAdded)="dialogClose()"></app-add-to-cart>
  </div>
</mat-dialog-actions>
