<!--div mat-dialog-title>
  {{data?.listing?.title}}
  <span class="category">
    in {{data?.listing?.category.name}}
  </span>
</div-->

<button class="small-close-button pull-right" (click)="dialogClose()">
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>

<div mat-dialog-content class="dialog-content">
  <div class="product-summary" fxLayout="row">

    <div class="product-gallery" fxFlex="1 1 450px">
      <div class="gallery-carousel">
        <img
          *ngIf="data?.listing?.imageCollection?.imageItems?.length === 0"
          [src]="data?.listing?.imageCollection?.featuredImage?.thumbnail">

        <gallery
          *ngIf="data?.listing?.imageCollection?.imageItems?.length"
          gallerize
          [gestures]="false"
          [style.height.px]="380"
          [style.width.px]="450"
          [thumbWidth]= "80"
          [thumbHeight]="80"
          [thumb]="data?.listing?.imageCollection?.imageItems?.length > 1"
          [items]="data?.listing?.imageCollection?.imageItems">
        </gallery>
      </div>
    </div><!-- .product-gallery -->

    <div class="product-info" fxFlex="1 1 100%">

      <h1>{{ data?.listing?.title }}</h1>

      <div class="pricing">
        <div class="item price">
          <div class="title">Price</div>
          <div class="value part">
            <span class="big">{{ data?.listing?.basePrice.getIntegerPart() }}</span><span class="big">{{ data?.listing?.basePrice.dot() }}</span><span class="small">{{ data?.listing?.basePrice.getFractionalPart() }}</span>
            <span class="currency">PART</span>
          </div>
          <div class="value fiat">
            <span class="fiat">~ {{price?.usd}} xx EUR</span>
          </div>
        </div>
      </div><!-- .pricing -->

      <div class="summary description">
        <p>
          {{ data?.listing?.shortDescription }}
        </p>
      </div>

      <table class="meta">
        <tr>
          <th class="title">
            <mat-icon fontSet="partIcon" fontIcon="part-truck"></mat-icon>
            Shipping
          </th>
          <td class="value">
            {{ data?.listing?.domesticShippingPrice.getAmount() }} &ndash; {{ data?.listing?.internationalShippingPrice.getAmount() }} <small>PART</small>
          </td>
        </tr>
        <tr>
          <th class="title">
            <mat-icon fontSet="partIcon" fontIcon="part-label"></mat-icon>
            Category
          </th>
          <td class="value">
            {{ data?.listing?.category.name }}
          </td>
        </tr>
        <tr>
          <th class="title">
            <mat-icon fontSet="partIcon" fontIcon="part-globe"></mat-icon>
            Sold from
          </th>
          <td class="value">
            {{ countryListService?.getCountryByRegion(data?.listing?.country)?.name }}
            ({{ data?.listing?.country }})
          </td>
        </tr>
        <tr>
          <th class="title">
            <mat-icon fontSet="partIcon" fontIcon="part-date"></mat-icon>
            Date added
          </th>
          <td class="value">
            {{ data?.listing?.createdAt }}
          </td>
        </tr>
      </table>

    </div><!-- .product-info -->
  </div><!-- .product-summary -->

  <div class="product-details">
    <mat-tab-group class="listing-tabs" (selectChange)="changeTab($event.index)">
      <mat-tab label="Details"></mat-tab>
      <mat-tab label="Shipping &amp; Escrow"></mat-tab>
      <mat-tab label="Comments"></mat-tab>
    </mat-tab-group><!-- .listing-tabs -->

    <div class="tab-content details" *ngIf="tabLabels[selectedTab] == 'details'">
      <div class="detailed description">
        <p>{{ data?.listing?.longDescription }}</p>
      </div>
    </div><!-- .tab-content.details -->

    <div class="tab-content shipping" *ngIf="tabLabels[selectedTab] == 'shipping'">
      <table class="shipping-escrow">
        <thead>
          <tr>
            <th></th>
            <th>Worldwide</th>
            <th [matTooltip]="countryListService?.getCountryByRegion(data?.listing?.country)?.name">
              Local in {{ data?.listing?.country }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><strong>Shipping</strong></th>
            <td>
              <span class="part price">
                <strong>{{ data?.listing?.internationalShippingPrice.getAmount() }}</strong> <small class="currency">PART</small>
              </span>
              <span class="fiat price">
                &asymp; 0.41 <small class="currency">EUR</small>
              </span>
            </td>
            <td>
              <span class="part price">
                <strong>{{ data?.listing?.domesticShippingPrice.getAmount() }}</strong> <small class="currency">PART</small>
              </span>
              <span class="fiat price">
                &asymp; 0.41 <small class="currency">EUR</small>
              </span>
            </td>
          </tr>
          <tr>
            <th>
              <strong>Escrow</strong><br>
              (refunded upon delivery)
            </th>
            <td>
              <span class="part price">
                <strong>{{ data?.listing?.escrowPriceInternational?.getAmount() }}</strong> <small class="currency">PART</small>
              </span>
              <span class="fiat price">
                &asymp; 0.41 <small class="currency">EUR</small>
              </span>
            </td>
            <td>
              <!-- FIXME: "escrow for local (not international)" needs to be implemented: -->
              <span class="part price">
                <strong>{{ data?.listing?.escrowPriceDomestic?.getAmount() }}</strong> <small class="currency">PART</small>
              </span>
              <span class="fiat price">
                &asymp; 0.41 <small class="currency">EUR</small>
              </span>
            </td>
          </tr>
          <tr>
            <th>
              <strong>Total needed for order</strong><br>
              (incl. refundable Escrow)
            </th>
            <!-- TODO: price + shipping + escrow -->
            <td>
              <span class="part price">
                <strong>{{data?.listing?.totalAmountInternaltional?.getAmount()}}</strong> <small class="currency">PART</small>
              </span>
              <span class="fiat price">
                &asymp; 0.41 <small class="currency">EUR</small>
              </span>
            </td>
            <td>
              <span class="part price">
                <strong>{{data?.listing?.totalAmountDomestic?.getAmount()}}</strong> <small class="currency">PART</small>
              </span>
              <span class="fiat price">
                &asymp; 0.41 <small class="currency">EUR</small>
              </span>
            </td>
          </tr>
        </tbody>
      </table><!-- .shipping-escrow -->
    </div>
    
    <div class="tab-content comments" *ngIf="tabLabels[selectedTab] == 'comments'">
      Comments
    </div>
  </div><!-- .product-details -->

</div><!-- .dialog-content -->


<mat-dialog-actions fxLayoutAlign="space-between center">

  <div class="left">

    <app-report *ngIf="!data?.listing?.isFlagged && !data?.listing?.isMine" [listing]="data?.listing" [from]="'preview'"></app-report>

    <div class="reporting" *ngIf="data?.listing?.isFlagged">
      <!-- Reported, not voted yet by user -->
      <div *ngIf="!data?.listing?.VoteDetails">
        <span class="title"><strong>Item reported</strong> as inappropriate, please vote:</span>
        <button mat-button class="small" color="primary" (click)="voteForListing(data?.listing?.keepItem)" matTooltip="Item is fine and should stay on Market">
          <mat-icon fontSet="partIcon" fontIcon="part-thumb-up"></mat-icon>
        </button>
        <button mat-button class="small" color="warn" (click)="voteForListing(data?.listing?.removeItem)" matTooltip="Item is inappropriate/illegal and should be removed from Market">
          <mat-icon fontSet="partIcon" fontIcon="part-thumb-down"></mat-icon>
        </button>
      </div>
      <!-- Reported & voted already -->
      <div *ngIf="data?.listing?.VoteDetails" class="voted">
        <p *ngIf="data?.listing?.VoteDetails?.isReported">
          <mat-icon fontSet="partIcon" fontIcon="part-flag" class="voted-icon"></mat-icon>
          Thanks for flagging this item as inappropriate
        </p>
        <p *ngIf="!data?.listing?.VoteDetails?.isReported">
          <mat-icon fontSet="partIcon" fontIcon="part-check-in-a-box" class="voted-icon"></mat-icon>
          Thanks for voting on this item
        </p>
      </div>
    </div><!-- .reporting -->

  </div>

  <div class="right" fxLayout fxLayoutAlign="end center">
    <app-favorite [listing]="data?.listing" [detail]="true"></app-favorite>
    <app-add-to-cart [listing]="data?.listing" [detail]="true" (onAdded)="dialogClose()"></app-add-to-cart>

    <!-- if mine, show message instead of "add to cart" button -->
    <button mat-button disabled *ngIf="data?.listing?.isMine">
      <mat-icon fontSet="partIcon" fontIcon="part-circle-info"></mat-icon>
      This is your own listing
    </button>
  </div>

</mat-dialog-actions>
