<div mat-dialog-title>
  {{data?.listing?.title}}
  <span class="category">
    in {{data?.listing?.category.name}}
  </span>
</div>

<button class="small-close_button pull-right" (click)="dialogClose()">
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>

<div mat-dialog-content class="dialog-content">

  <div class="report-voting" *ngIf="data?.listing?.isFlagged">
    <div class="text">
      <div class="title">This item has been flagged</div>
      <div *ngIf="data?.listing?.VoteDetails"> 
        <p *ngIf="data?.listing?.VoteDetails?.isReported">You have reported this listing as inappropriate. Voting is enabled for other Particl users for whether to keep it or remove it from the Marketplace.</p>
        <p *ngIf="!data?.listing?.VoteDetails?.isReported">You have already voted on this item &ndash; thanks for participating in community governance!</p>
      </div>
      <div *ngIf="!data?.listing?.VoteDetails">
        <p>A Particl user thinks this item is inappropriate. Please vote on whether this item should be kept online or taken down:</p>

        <button mat-button class="small" color="primary" (click)="voteForListing(data?.listing?.keepItem)">
          <mat-icon fontSet="partIcon" fontIcon="part-thumb-up"></mat-icon>
          It's OK, keep it
        </button>
        <button mat-button class="small" color="warn" (click)="voteForListing(data?.listing?.removeItem)">
          <mat-icon fontSet="partIcon" fontIcon="part-thumb-down"></mat-icon>
          Remove item
        </button>
      </div>
    </div>
  </div><!-- .report-voting -->


  <div class="product" fxLayout="row">

    <div class="product-gallery" fxFlex="1 1 450px">
      <div class="gallery-carousel">
        <img
          *ngIf="data?.listing?.imageCollection?.imageItems?.length === 0"
          [src]="data?.listing?.imageCollection?.featuredImage?.thumbnail">

        <gallery
          *ngIf="data?.listing?.imageCollection?.imageItems?.length"
          gallerize
          [style.height.px]="435"
          [style.width.px]="450"
          [thumbWidth]= "80"
          [thumbHeight]="80"
          [thumb]="data?.listing?.imageCollection?.imageItems?.length > 1"
          [items]="data?.listing?.imageCollection?.imageItems">
        </gallery>
      </div>
    </div><!-- .product-gallery -->

    <div class="product-info" fxFlex="1 1 100%">

      <table class="pricing">
        <tr>
          <th class="item price">Price</th>
          <td class="item price">
            <span class="big">{{ data?.listing?.basePrice.getIntegerPart() }}</span><span class="big">{{ data?.listing?.basePrice.dot() }}</span><span class="small">{{ data?.listing?.basePrice.getFractionalPart() }}</span>
            <span class="currency">PART</span>
            <!--span class="fiat">&asymp; {{price?.usd}} USD</span-->
          </td>
        </tr>
        <tr>
          <th class="shipping price">Shipping</th>
          <td class="shipping price">
            International &ndash; {{ data?.listing?.internationalShippingPrice.getAmount() }} PART<br>
            Local in {{ data?.listing?.country }} &ndash; {{ data?.listing?.domesticShippingPrice.getAmount() }} PART
          </td>
        </tr>

        <tr *ngIf="listingServiceCache?.selectedCountry">
          <th class="escrow price">Escrow</th>
          <td class="escrow price">{{ data?.listing?.escrowAmount(listingServiceCache.selectedCountry?.iso)?.getAmount() }} PART</td>
        </tr>
      </table>

      <div class="summary description">
        <p>
          {{ data?.listing?.shortDescription }}
        </p>
      </div>
      <div class="detailed description">
        <p>
          {{ data?.listing?.longDescription }}
        </p>
      </div>

    </div><!-- .product-info -->
  </div><!-- .product -->
</div><!-- .dialog-content -->


<mat-dialog-actions fxLayoutAlign="space-between center">

  <div class="left">
    <app-report *ngIf="!data?.listing?.isFlagged && !data?.listing?.isMine" [listing]="data?.listing" [from]="'preview'"></app-report>
    <div class="date">
      <strong>Date added</strong> {{ data?.listing?.createdAt }}
    </div>
  </div>

  <div class="right" fxLayout fxLayoutAlign="end center">
    <app-favorite [listing]="data?.listing" [detail]="true"></app-favorite>
    <app-add-to-cart [listing]="data?.listing" [detail]="true" (onAdded)="dialogClose()"></app-add-to-cart>

    <!-- if mine, show message instead of "add to cart" button -->
    <button mat-button disabled *ngIf="data?.listing?.isMine">
      <mat-icon fontSet="partIcon" fontIcon="part-circle-info"></mat-icon>
      This is your own listing
    </button>
  </div>

</mat-dialog-actions>
