<h2>Settings component</h2>

<div *ngIf="startedStatus !== StartedStatus.STARTED" class="notification" fxLayout fxLayoutAlign="space-between center">
  <div class="text">
    <ng-template [ngIf]="startedStatus === StartedStatus.PENDING">
      <mat-icon fontIcon="part-circle-info"></mat-icon>
      The Particl Marketplace is starting up
    </ng-template>
    <ng-template [ngIf]="startedStatus !== StartedStatus.PENDING">
      <mat-icon fontIcon="part-alert"></mat-icon>
      The Particl Marketplace failed to start correctly! Perhaps a setting needs to be adjusted?
    </ng-template>
  </div>
  <button *ngIf="startedStatus !== StartedStatus.PENDING" class="button" mat-button color="warn" (click)="restartMarketplace()">
    <mat-icon fontIcon="part-alert"></mat-icon>
    Restart The Particl Marketplace
  </button>
</div>

<h2> rest of the settings content would go here</h2>
