<div class="container-block with-tab-bar">
  <app-page-intro [childPageAlias]="pageDetails.title">
    <ng-container page-title>{{ pageDetails.title }}</ng-container>
    <ng-container page-content>
      {{ pageDetails.description }}
    </ng-container>
    <ng-container page-help>
      {{ pageDetails.help }}
    </ng-container>
  </app-page-intro>


  <ng-container *ngIf="startedStatus !== STARTEDSTATUS.STARTED">
    <!-- Market is starting -->
    <div class="alert --boxed --info" *ngIf="startedStatus === STARTEDSTATUS.PENDING">
      <span>
        The Particl Marketplace is starting up&hellip;
      </span>
    </div>
    <!-- Market failed to start -->
    <div class="alert --boxed --warning" *ngIf="startedStatus !== STARTEDSTATUS.PENDING">
      <span>
        The Particl Marketplace failed to start correctly!<br>
        If you changed some settings recently, try reverting them back.<br>
        Alternatively, if this is not a result of any recent changes (or for more information on what these settings do), the <a mat-button class="tiny" href="https://academy.particl.io/" target="_blank" color="accent">Particl Academy</a> may be a useful resource to troubleshooting marketplace startup issues.
      </span>
      <div class="action-button">
        <button class="button" mat-button color="warn" (click)="restartMarketplace()">
          <mat-icon fontIcon="part-refresh"></mat-icon>
          Restart The Marketplace
        </button>
      </div>
    </div>
  </ng-container>


  <ng-container *ngTemplateOutlet="content"></ng-container>
</div>


<ng-template #content>

  <div class="container">

    <div class="sidebar">

      <div class="radio-switcher">
        <label *ngFor="let menu of settingsMenu; index as menuIdx; trackBy: trackBySettingMenuFn">
          <input type="radio" name="option" (change)="changeSelectedMenu(menuIdx)" [checked]="menuIdx === currentMenuIdx">
          <div class="switcher-option">
            <mat-icon [fontIcon]="menu.icon"></mat-icon>
            <span class="name">{{ menu.label }}</span>
          </div>
        </label>
      </div>

      <div class="buttons">
        <button mat-button
          [disabled]="startedStatus !== STARTEDSTATUS.STARTED"
          (click)="launchMarketConsole()">
          <mat-icon fontIcon="part-console-window"></mat-icon>
          Open Marketplace Console
        </button>

        <button mat-button [disabled]="!isSmsgRecanButtonEnabled" (click)="rescanSmsgMessages()">
          <mat-icon fontIcon="part-search"></mat-icon>
          Force Scan for Marketplace Messages
        </button>
      </div>

    </div><!-- .sidebar -->

    <div class="content row">
      <div class="third">
        <div #settingPageCategory></div>
      </div><!-- .third -->
    </div><!-- .row -->

  </div><!-- .container -->

</ng-template>
