@import './src/assets/_config'; // import shared colors etc.

/* ------------------------------- *\
    UI Elements
\* ------------------------------- */


// Inherit Global settings' styles (no need to duplicate them)
@import '../../main-extra/global-settings/global-settings.component.scss';

.alert {
  margin: 0 0 42px;
}

// ------ ALERTS/NOTIFICATIONS ------ //
/* @TODO Allien: redundant? probably old alert regarding MP not starting correctly?

.notification {
  background: hsla(var(--color-info-hsl), 0.03);
  box-shadow: 0 2px 20px -16px inset;
  border-bottom: 1px solid var(--bg-muted);
  padding: 8px calc(var(--paddingH) - 16px) 8px var(--paddingH);
  font-size: 13px;
  .text {
    font-weight: 500;
    margin: 0;
    padding-left: 24px;
    .mat-icon {
      position: absolute;
      left: var(--paddingH);
      color: var(--color-info);
    }
  }
  .button {
    font-size: inherit;
  }
}
*/

.buttons { // "Market console" button
  margin-top: 24px;
}