@import "./src/assets/config"; // import shared colors etc.

// Inherit Global settings' styles (no need to duplicate them)
@import "../../main-extra/global-settings/global-settings.component.scss";

.container-block {
  --settings-sidebar-width: 270px;
  min-height: calc(
    100vh - var(--header-main-height) - 2 * var(--paddingV)
  ); // fill 100% of remaining vertical space
  @include break(l) {
    --settings-sidebar-width: 300px;
  }
  @include break(xl) {
    --settings-sidebar-width: 350px;
  }
}

.alert {
  margin: 0 0 42px;
}

.buttons {
  // "Market console" button
  margin-top: 24px;

  button {
    margin-bottom: 12px;
  }
}

.content mat-card {
  margin-bottom: 0;
}
