@import './src/assets/_config'; // import shared colors etc.

// small sidebar for multiwallet, settings etc.
.mini-sidebar-menu {
  $spacing: 14px;
  display: flex;
  flex-direction: column;
  background: darken($bg-black, 5%);
  height: 100vh;
  width: $multiwallet-width;
  color: $color-white;

  // app selection
  .app-bar {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    direction: rtl; // hack for moving scrollbar to left
    &::-webkit-scrollbar-thumb {
      background: darken($bg-black, 10%);
      border-radius: 4px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
  .app {
    @extend %tfx;
    @extend %lighter;
    flex: 0 1 auto;
    padding: $spacing 0;
    width: 100%;
    min-width: auto;
    text-align: center;
    line-height: 1.3;
    border-radius: 0;
    .title {
      font-size: 11px;
      margin-top: 4px;
    }
    &:hover,
    &:focus {
      @extend %reset;
    }
    &.--active { // active/selected app tab
      @extend %reset;
      background: $bg-black;
    }
  }

  // bottom app-wide buttons (settings, bugs, ..)
  .buttons {
    flex: 0 1 1px;
    padding: 10px;
    .mat-button {
      width: 34px;
      min-width: 0;
      margin: 3px 0;
      padding: 0;
      text-align: center;
      line-height: 28px;
      opacity: 0.25;
      &:hover,
      &:focus {
        opacity: 1;
        color: $color-white;
      }
      &.active {
        opacity: 1;
        &.help-support {
          color: $secondary;
        }
      }
    }
  }

}

.mat-button,
.mat-raised-button {
  .mat-icon {
    margin: 0;
  }
}
