<!-- Small sidebar for App Modules quicklinks, Settings etc. -->
<div class="mini-sidebar-menu">
  <div class="app-bar">

    <ng-container *ngFor="let app of apps">
      <button mat-button [ngClass]="app.class" routerLinkActive="--active" [routerLink]="app.route">
        <mat-icon [fontIcon]="app.icon"></mat-icon>
        <div class="title">{{ app.title }}</div>
      </button>
    </ng-container>
  </div><!-- .app-bar -->


  <div class="buttons">

    <a mat-button class="main-menu" routerLinkActive="active" routerLink="extra/welcome" matTooltip="Main Menu" matTooltipPosition="after">
      <mat-icon fontIcon="part-hamburger"></mat-icon>
    </a>

    <a mat-button class="help-support" routerLinkActive="active" routerLink="extra/help" matTooltip="Help & Support" matTooltipPosition="after">
      <mat-icon fontIcon="part-circle-question"></mat-icon>
    </a>

    <a mat-button class="settings" routerLinkActive="active" routerLink="extra/settings" matTooltip="Particl Desktop Settings" matTooltipPosition="after">
      <mat-icon fontIcon="part-cog"></mat-icon>
    </a>

    <a mat-button class="console" matTooltip="Open Console" matTooltipPosition="after" (click)="openConsoleWindow()" (keyup.enter)="openConsoleWindow()" [disabled]="!(isCoreStarted$ | async)">
      <mat-icon fontIcon="part-console-window"></mat-icon>
    </a>

  </div><!-- .buttons -->
</div><!-- .mini-sidebar-menu -->
