<!-- dialog -->
<div class="dialog-percentage-bar" *ngIf="initialized && !sidebar">
  <span class="percentage-bar-text">{{syncString }}</span>
  <md-progress-bar
    class="dialog-percentage-bar"
    [color]="'primary'"
    [bufferValue]="syncPercentage"
    [mode]="'determinate'"
    [value]="syncPercentage">
  </md-progress-bar>
</div>

<!-- side bar -->
<div class="sidebar-percentage-bar" *ngIf="initialized && sidebar && !(syncPercentage === 100)">
  <md-progress-bar
    class="sidebar-percentage-bar"
    [color]="'primary'"
    [bufferValue]="syncPercentage"
    [mode]="'determinate'"
    [value]="syncPercentage">
  </md-progress-bar>
</div>
