@import "./src/assets/_config"; // import shared colors etc.

.icon {
  cursor: pointer;
  padding: 1px;
  .mat-icon {
    width: auto;
    height: auto;
  }

  // Peers
  &.status {
    cursor: default;
  }

  // Staking icon
  &.staking {
    font-size: 0.8em;
  }
}


.blue {
  color: $color-info;
}