<span class="cursor-pointer" mdTooltip="{{'Peers: '+ peerListCount}}">
    <img src="assets/icons/network/connect_{{ getIconNumber() }}.png"/>
</span>

<span
  class="cursor-pointer icon"
  mdTooltip="{{encryptionStatus}}"
  placement="left"
  container="body"
  (click)="toggle()"
  [class.pointer]="">
    <img src="assets/icons/lock/lock{{ getIconEncryption() }}.png"/>
</span>

<span
  class="icon cursor-pointer blue"
  mdTooltip="Cold"
  placement="left"
  container="body"
  (click)="openColdStakeModal()"
  [class.pointer]="">
    <md-icon fontSet="faIcon" fontIcon="fa-snowflake-o"></md-icon>
  <!-- <i class="fa fa-key red" aria-hidden="true"></i> -->
</span>
