<ng-template #networkTooltip>
  <b>Peers:</b> {{ peerListCount }}
</ng-template>

<ng-template #encryptionTooltip>
  <b>{{ encryptionStatus }}</b>
</ng-template>

<ng-template #coldStakeTooltip>
  <b>Cold</b>
</ng-template>

<span
  [tooltip]="networkTooltip"
  placement="left"
  container="body"
  class="icon">
    <img src="assets/icons/network/connect_{{ getIconNumber() }}.png" />
</span>

<span
  class="icon"
  [tooltip]="encryptionTooltip"
  placement="left"
  container="body"
  (click)="toggle()"
  [class.pointer]="">
    <img src="assets/icons/lock/lock{{ getIconEncryption() }}.png" />
</span>

<span
  class="icon"
  [tooltip]="coldStakeTooltip"
  placement="left"
  container="body"
  (click)="openColdStakeModal()"
  [class.pointer]="">
    <i class="fa fa-snowflake-o blue" aria-hidden="true"></i>
    <!-- <i class="fa fa-key red" aria-hidden="true"></i> -->
</span>
