<h2 class="section-title">Import from CSV file</h2>

<mat-card class="import-card" [formGroup]="csvInputForm">

  <div class="text">
    <p>
      CSV (comma separated values) file is an universal way of importing your Products &ndash; you can download our <a appDebounceClick (debounceClick)="actionCopyExample()">CSV example template</a> as a starting point
    </p>
    <details open>
      <summary>CSV column definitions</summary>
      <div class="details">
        <p>
          These columns should be defined in your CSV import file &ndash; if any columns will be missing, you would have to fill them in in the next step manually.
        </p>
        <ul>
          <li *ngFor="let field of CSV_FIELDS">
            <strong>{{field.field}}</strong>: {{field.description}}
          </li>
        </ul>
      </div>
    </details>
  </div><!-- .text -->

  <mat-divider></mat-divider>

  <label class="--larger">
    <h3 class="label">Select CSV import file</h3>
    <!--mat-form-field appearance="fill" class="--plain --larger"-->
      <input class="file-input" type="file" accept=".csv" #fileInputSelector />
    <!--/mat-form-field-->
  </label>

  <mat-divider></mat-divider>

  <label class="--larger">
    <h3 class="label">CSV separator</h3>
    <p class="help-text">
      Character used to separate values (usually comma or semicolon or even a pipe character)
    </p>
    <mat-form-field appearance="fill" class="--plain --larger">
      <input matInput type="text" placeholder="CSV delimiter" formControlName="separator" />
    </mat-form-field>
  </label>

  <label class="--larger">
    <h3 class="label">CSV text quotation character</h3>
    <p class="help-text">
      Character typically used to distinguish text that may include the separator character as part of the text
    </p>
    <mat-form-field appearance="fill" class="--plain --larger">
      <input matInput type="text" placeholder="CSV text quotation character" formControlName="quote" />
    </mat-form-field>
  </label>

</mat-card>


<div class="action-buttons" fxLayoutAlign="end center">
  <button mat-raised-button color="primary" [disabled]="isProcessing || csvInputForm.invalid" appDebounceClick (debounceClick)="processFile()">
    <mat-icon fontIcon="part-next-single"></mat-icon>
    Process CSV import
  </button>
</div>
