@import './src/assets/_config'; // import shared colors etc.

.import-card {
  margin-bottom: 24px;
  padding: 0;
  .text {
    padding: 6px 24px;
    a {
      color: var(--color-secondary);
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
    strong {
      color: var(--text);
      font-weight: 500;
    }
  }
  .file-input {
    margin: 24px calc(var(--formfield-large-multi) * var(--formfield-paddingH));
    display: block;
    outline: none;
  }
  label {
    display: block;
    .help-text {
      margin: 16px 0 0;
      padding: 0 calc(var(--formfield-large-multi) * var(--formfield-paddingH));
    }
  }
  .message {
    margin: 0;
  }
}
