  <div class="seller-overview TO_DO">
      <app-header>
        <ul class="header-nav">
          <li>Seller overview</li>
          <!--li class="buttons">
            <mat-icon class="icon" fontSet="partIcon" fontIcon="part-cog" matTooltip="Edit widget"></mat-icon>
            <mat-icon class="icon move" fontSet="partIcon" fontIcon="part-hamburger" matTooltip="Move widget"></mat-icon>
          </li-->
        </ul>
      </app-header>
      <mat-card fxLayout>
        <div class="list listings" fxFlex="1 1 50%" fxLayout>
          <div class="total" fxFlex="1 1 40%">
            <div class="value">{{statics?.totalList}}</div>
            <div class="desc">Total<br>listings</div>
          </div>
          <div class="breakdown" fxFlex="1 1 60%">
            <div class="item"><div class="value">{{statics?.publishCount}}</div><div class="desc">Published</div></div>
            <div class="item"><div class="value">{{statics?.expiredCount}}</div><div class="desc">Expired</div></div>
            <div class="item"><div class="value">{{statics?.unpublishCount}}</div><div class="desc">Unpublished</div></div>
          </div>
        </div><!-- .list.listings -->
        <div class="list orders" fxFlex="1 1 50%" fxLayout>
          <div class="total" fxFlex="1 1 40%">
            <div class="value">12</div>
            <div class="desc">Sell<br>orders</div>
          </div>
          <div class="breakdown" fxFlex="1 1 60%">
            <div class="item"><div class="value">8</div><div class="desc">Bidding</div></div>
            <div class="item"><div class="value">1</div><div class="desc">In escrow</div></div>
            <div class="item"><div class="value">3</div><div class="desc">Shipped</div></div>
          </div>
        </div><!-- .list.orders -->
      </mat-card>
    </div><!-- .seller-overview -->