@import "./src/assets/_config"; // import shared colors etc.


// ------ UI ELEMENTS ------ //

.subtitle { // title
  @extend %subtitle;
  margin: 24px 0 14px;
  &.first {
    margin-top: 0;
  }
}

.mat-icon {
  width: auto;
  height: auto;
  font-size: 16px;
}


// ------ CONTROL BAR (top) ------ //

.control-bar {
  padding: 0 28px 0 35px;
  border-bottom: 1px solid $bg-shadow;
  // search
  .search-listings {
    padding-right: 24px;
    border-right: 1px solid $bg-shadow;
    .mat-icon {
      top: 6px;
      font-size: 14px;
    }
  }
  // filtering
  .filtering {
    .filter {
      width: 120px;
      margin-right: 24px;
    }
  }
  // sorting
  .sorting {
    width: 120px;
  }
  // display
  .display {
    .mat-icon {
      cursor: pointer;
      &.active {
        color: $color;
      }
    }
  }
}


// ------ SIDEBAR (left) ------ //

.category-filter { // category expansion panel
  margin-bottom: 4px !important;
  .category-filter-header {
    .title {
      font-weight: 500;
      font-size: 13px;
      text-transform: uppercase;
    }
  }
  .category-items {
    padding: 0 0 12px !important;
    .category-item {
      height: auto;
    }
  }
}


// ------ CONTENT (right) ------ //

.listing { // item
  margin: 0 0 30px 30px;
  padding: 24px 16px 12px;
}