@import 'widgets/shared/shared.scss';

.balance-overview { // list of balances
  @extend %disable-select;
  padding: 24px 35px;
  .balance-item {
    border-right: 1px solid $bg-shadow;
    &:last-of-type {
      border: none;
      margin: none;
    }
  }
}

.overview-content { // area with widgets
  padding: 0 35px;
}

