<mat-card class="balance-overview">
  <div class="total balance-item">
    <app-balance type="total_balance"></app-balance>
  </div>
  <div class="public balance-item">
    <app-balance type="balance"></app-balance>
  </div>
  <div class="blind balance-item">
    <app-balance type="blind_balance"></app-balance>
  </div>
  <div class="anon balance-item">
    <app-balance type="anon_balance"></app-balance>
  </div>
  <div class="stake balance-item">
    <app-balance type="staked_balance"></app-balance>
  </div>
</mat-card>


<div class="overview">
  <div class="overview-content">

    <div class="recent-transactions">
      <app-header>
        <ul class="header-nav">
          <li>Recent Transactions</li>
        </ul>
      </app-header>
      <transaction-table
        [display]="{'txDisplayAmount': 5, 'header': false, 'internalHeader': true, 'category': true, 'confirmations': true}">
      </transaction-table>
    </div><!-- .recent-transactions -->

  </div><!-- .overview-content -->


  <div class="overview-sidebar">

    <app-coldstake></app-coldstake>
    <app-stakinginfo></app-stakinginfo>

  </div><!-- .overview-sidebar -->
</div><!-- .overview-content -->
