<mat-card class="balance-overview not-rounded">
  <div class="balance-item">
    <app-balance type="total_balance"></app-balance>
  </div>
  <div class="balance-item">
    <app-balance type="balance"></app-balance>
  </div>
  <div class="balance-item">
    <app-balance type="blind_balance"></app-balance>
  </div>
  <div class="balance-item" *ngIf="testnet">
    <app-balance type="anon_balance"></app-balance>
  </div>
  <table class="balances by-status" cellspacing="0">
    <tr>
      <th>Spendable</th>
      <td><app-balance type="actual_balance" [inSidebar]="true"></app-balance></td>
    </tr>
    <tr>
      <th>Locked</th>
      <td><app-balance type="locked_balance" [inSidebar]="true"></app-balance></td>
    </tr>
    <tr>
      <th>Staking</th>
      <td><app-balance type="staked_balance" [inSidebar]="true"></app-balance></td>
    </tr>
  </table>
</mat-card>


<div class="overview">
  <div class="overview-content">
    <!-- @TODO comment out the code for widget for total listing, sell orders -->
    <!--div class="seller-overview section">
      <header>
        <div class="subtitle">Seller overview</div>
      </header>
      <mat-card fxLayout>
        <div class="list listings" fxFlex="1 1 50%" fxLayout>
          <div class="total" fxFlex="1 1 40%">
            <div class="value">3</div>
            <div class="desc">Total<br>listings</div>
          </div>
          <div class="breakdown" fxFlex="1 1 60%">
            <div class="item"><div class="value">2</div><div class="desc">Published</div></div>
            <div class="item"><div class="value">1</div><div class="desc">Expired</div></div>
            <div class="item"><div class="value">0</div><div class="desc">Unpublished</div></div>
          </div>
        </div>
        <div class="list orders" fxFlex="1 1 50%" fxLayout>
          <div class="total" fxFlex="1 1 40%">
            <div class="value">12</div>
            <div class="desc">Sell<br>orders</div>
          </div>
          <div class="breakdown" fxFlex="1 1 60%">
            <div class="item"><div class="value">8</div><div class="desc">Bidding</div></div>
            <div class="item"><div class="value">1</div><div class="desc">In escrow</div></div>
            <div class="item"><div class="value">3</div><div class="desc">Shipped</div></div>
          </div>
        </div>
      </mat-card>
    </div><!-- .seller-overview -->

    <div class="recent-transactions section">
      <header>
        <div class="subtitle">Recent Transactions</div>
        <!-- TODO: uncomment when widget management is ready -->
        <!--div class="buttons">
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-cog" matTooltip="Edit widget"></mat-icon>
          <mat-icon class="icon move" fontSet="partIcon" fontIcon="part-hamburger" matTooltip="Move widget"></mat-icon>
        </div-->
      </header>
      <transaction-table
        [display]="{'txDisplayAmount': 5, 'header': false, 'internalHeader': true, 'category': true, 'confirmations': true}">
      </transaction-table>
    </div><!-- .recent-transactions -->

  </div><!-- .overview-content -->


  <div class="overview-sidebar">
    <!-- @TODO comment out the code for widget for total buy orders -->
    <!--div class="buy-orders section">
      <header>
        <div class="subtitle">Your buy orders</div>
      </header>
      <mat-card class="list orders" fxLayout>
        <div class="total" fxFlex="1 1 40%">
          <div class="value">5</div>
          <div class="desc">Buy<br>orders</div>
        </div>
        <div class="breakdown" fxFlex="1 1 60%">
          <div class="item"><div class="value">3</div><div class="desc">Bidding</div></div>
          <div class="item"><div class="value">0</div><div class="desc">In escrow</div></div>
          <div class="item"><div class="value">2</div><div class="desc">Shipped</div></div>
        </div>
      </mat-card>
    </div><!-- .buy-orders -->

    <app-coldstake></app-coldstake>
    <app-stakinginfo></app-stakinginfo>

    <!-- TODO: uncomment when widget management is ready -->
    <!--div class="action-buttons">
      <button mat-button (click)="openWidgetManager()">
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-cog"></mat-icon>
        Manage widgets
      </button>
    </div--><!-- .action-buttons -->

  </div><!-- .overview-sidebar -->
</div><!-- .overview-content -->
