@import './src/assets/_config'; // import shared colors etc.
@import './src/app/wallet/shared/_filter-sorting'; // filtering & sorting

// ------ UI ELEMENTS ------ //

.no-results {
  width: 100%;
  margin: 24px 0 0;
  padding: 50px 0;
}

/*
.loading-bar {
  position: fixed;
  bottom: 0;
  height: 8px;
}
*/

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

$card-margin: 25px;

// item

mat-card.bot {
  margin: 0 $card-margin $card-margin 0;
  padding: 24px 16px 12px;

  // default: 3 columns
  flex: calc((100% / 3) - 51px);
  max-width: calc((100% / 3) - 51px);
  &:nth-of-type(3n) {
    margin-right: 0;
    @include break-from(1650px) {
      margin-right: $card-margin;
    }
  }

  // larger: 5 columns
  @include break-from(1650px) {
    flex: calc((100% / 5) - 53px);
    max-width: calc((100% / 5) - 53px);
    &:nth-of-type(5n) {
      margin-right: 0;
      @include break-from(2300px) {
        margin-right: $card-margin;
      }
    }
  }

  // largest: 7 columns
  @include break-from(2300px) {
    flex: calc((100% / 7) - 55px);
    max-width: calc((100% / 7) - 55px);
    &:nth-of-type(7n) {
      margin-right: 0;
    }
  }

}
