<div>
  <div mat-dialog-title class="title">Terms &amp; Conditions</div>
  <mat-dialog-content class="modal-content" fxLayout>
    <div [innerHTML]="text"></div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="space-between center">
    <div class="left">
      <button mat-button color="warn" matTooltip="Particl Desktop will be closed" (click)="decline()">
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-cross"></mat-icon>
        Decline &amp; Close
      </button>
    </div>
    <div class="right">
      <mat-checkbox name="accept" [(ngModel)]="isAccepted" class="confirmation-checkbox">
        <strong>I have read and accept</strong> these Terms &amp; Conditions
      </mat-checkbox>
      <button mat-raised-button color="primary" [disabled]="!isAccepted" (click)="acceptTerms()">
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-check"></mat-icon>
        Continue
      </button>
    </div>
  </mat-dialog-actions>
</div>
