<div>
  <div mat-dialog-title class="title">Terms &amp; Conditions</div>
  <mat-dialog-content class="modal-content" fxLayout>
    <div [innerHTML]="text"></div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="space-between center">
    <!-- TODO: implement shut-down of the app if declined -->
    <button mat-button color="warn" matTooltip="Particl Desktop will be closed" (click)="decline()">
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-cross"></mat-icon>
      Decline &amp; Close
    </button>
    <mat-checkbox name="accept" matTooltip="Accept Terms" [(ngModel)]="isAccepted">
      Accept Terms
    </mat-checkbox>
    <button mat-raised-button color="primary" [disabled]="!isAccepted" (click)="acceptTerms()">
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-check"></mat-icon>
      Continue
    </button>
  </mat-dialog-actions>
</div>
