<div mat-dialog-title>Remove Address</div>

<button class="small-close-button" (click)="dialogClose()">
  <mat-icon fontIcon="part-circle-remove"></mat-icon>
</button>


<div mat-dialog-content class="dialog-content">

  <p class="lead">
    Are you certain you want to delete this address from your Address book?
  </p>

  <div class="address-info">
    <div class="label">{{ data.address.label || '(no label)' }}</div>
    <div class="string">{{ data.address.address }}</div>
  </div>

</div>


<mat-dialog-actions fxLayoutAlign="space-between center">

  <button mat-button mat-dialog-close (click)="dialogClose()">
    <mat-icon fontIcon="part-cross"></mat-icon>
    Cancel
  </button>

  <button mat-raised-button color="warn" [disabled]="isProcessing" appDebounceClick (click)="onConfirmDelete()">
    <mat-icon fontIcon="part-circle-remove"></mat-icon>
    Yes, remove
  </button>

</mat-dialog-actions>
