@import './src/assets/config'; // import shared colors etc.

.modal-content {
  width: 35rem;
  p.lead {
    margin-top: 0;
  }
}

.address-info {
  @extend %enable-select;
  text-align: center;
  border: 2px dashed hsla(var(--color-alert-hsl), 0.15);
  border-radius: 4px;
  padding: 48px 24px;
  margin: 24px 0 16px;
  .label {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
    word-break: break-all;
    line-height: 1.3;
  }
  .string {
    font-family: var(--font-mono);
    color: var(--color-alert);
    font-weight: 500;
    line-height: 1.5;
    word-break: break-all;
    background: hsla(var(--color-alert-hsl), 0.1);
    border-radius: 4px;
    display: inline-block;
    padding: 5px 12px;
  }
}
