<mat-card class="balance-overview not-rounded">
  <div class="balance-item" *ngFor="let balance of verticalBalances; trackBy: trackByFn">
    <div class="balance">
      <span class="number big">{{ balance.amountWhole }}</span><!--
    --><span class="point small" >{{ balance.amountSep }}</span><!--
    --><span class="number small">{{ balance.amountFraction }}</span>
      <div class="description">{{ balance.label }}</div>
    </div>
  </div>

  <table class="balances by-status" *ngIf="horizontalBalances.length > 0" cellspacing="0">
    <tr *ngFor="let balance of horizontalBalances; trackBy: trackByFn">
      <th [matTooltip]="balance.description" matTooltipPosition="before">{{ balance.label }}</th>
      <td>
        <span class="balance horizontal">
          {{ balance.amountWhole }}<small>{{ balance.amountSep }}{{ balance.amountFraction }}</small>
        </span>
      </td>
    </tr>
  </table>
</mat-card>
