<mat-card class="proposal">

  <div class="header">
    <div class="meta">
      <div class="id">#{{proposal?.id}}</div>
      <div class="title">
        {{proposal?.title}}
        <!-- TODO: show only on Proposals created by team (how to implement this?) -->
        <!-- may depadsn on the proposal type. *ngIf="proposal?.type !== 'PUBLIC_VOTE'" -->
        <!-- <span class="tag to-do" matTooltip="This proposal has been submitted by Particl team" matTooltipPosition="after">Official</span> -->
      </div>
    </div>
    <!-- TODO: only show "blocks-left" on ACTIVE proposals -->
    <div class="blocks-left" *ngIf="selectedTab == 'active'">
      <mat-progress-bar mode="determinate" value="{{proposal?.votingProgressPercentage()}}" matTooltip="Time left for voting" matTooltipPosition="before"></mat-progress-bar>
      <div *ngIf="proposal?.isExpiredAtValid" class="text">{{proposal?.expiryTimeStamp}} left</div>
      <div *ngIf="!proposal?.isExpiredAtValid" class="text">Processing...</div>
    </div>
    <!-- TODO: only show "blocks-left" on PLANNED/future proposals -->
    <div class="blocks-left" *ngIf="selectedTab == 'planned'">
      <mat-progress-bar mode="determinate" value="0" matTooltip="Blocks left until voting starts" matTooltipPosition="before"></mat-progress-bar>
      <div *ngIf="proposal?.isExpiredAtValid" class="text">{{proposal?.expiryTimeStamp}} left until voting starts</div>
      <div *ngIf="!proposal?.isExpiredAtValid" class="text">Processing...</div>
    </div>
    <!-- TODO: only show "blocks-left.results" on PAST proposals -->
    <div class="blocks-left results" *ngIf="selectedTab == 'past'">
      <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
      <div class="text">voting finished {{proposal?.expiryTimeStamp}} ago</div>
    </div>
  </div>

  <div class="body">

    <div class="content">
      <div class="description">
        <div class="subtitle">Proposal description</div>
          <p [innerHtml]="proposal?.description">
        </p>
      </div>

      <!-- <table class="authors to-do">
        <tr>
          <th>Author</th>
          <th>Contributors</th>
        </tr>
        <tr>
          <td>
            <span class="name" matTooltip="@author-contact-info" matTooltipPosition="before">author1-name-whatever</span>
          </td>
          <td>
            <span class="name" matTooltip="Github: contributor-contact-info" matTooltipPosition="after">contributor1-name</span><br>
            <span class="name" matTooltip="@contributor-contact-info" matTooltipPosition="after">contributor2-long-name</span><br>
            <span class="name" matTooltip="contributor-contact-info" matTooltipPosition="after">contributor3-name</span>
          </td>
        </tr>
      </table> -->

      <!-- <div class="more-links to-do">
        <!- TODO: link to proposal's Github PIP page (@kewde: if we can connect it) ->
        <a href="https://github.com" target="_blank" mat-button class="small" color="basic">
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-globe"></mat-icon>
          Link to discussion
        </a>
        <!- TODO: ability to trigger reporting/governance for each proposal ->
        <a href="https://github.com" mat-button class="small" color="basic"
            *ngIf="selectedTab == 'active'">
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-flag"></mat-icon>
          Report
        </a>
      </div> -->
    </div>

    <div class="sidebar" *ngIf="selectedTab !== 'planned'">
      <div class="voting-progress">
        <div class="subtitle">Voting {{selectedTab !== 'planned' ? 'progress' : 'finished'}}</div>

        <!-- if someone already voted, show graph: -->
        <div class="graph" *ngIf="proposalResult?.totalWeight">
          <nvd3 #chart
            *ngIf="proposalResult?.graphData && proposalResult?.graphData.length"
            [options]="graphOptions"
            [data]="proposalResult?.graphData">
          </nvd3>
        </div>

        <!-- if no votes yet, show placeholder: -->
        <div *ngIf="!proposalResult?.totalWeight" class="graph-placeholder">
          <div class="title">No<br>votes<br>{{selectedTab === 'active' ? "yet" : "received"}}</div>
        </div>

        <div class="percentage-voted">
          <!-- @TODO may be total vote count replaced with  % of coins voted ? -->
          <span class="number big">{{proposalResult?.totalCoins.getIntegerPart()}}</span><!--
        --><span class="point big">{{proposalResult?.totalCoins.dot()}}</span><!--
        --><small class="number small">{{proposalResult?.totalCoins.getFractionalPart() || ''}}</small>&ensp;
          {{proposalResult?.totalPercentageText}}
        </div>
        <!-- <div class="percentage-voted">
          <!- TODO: implement % of coins voted in total for this proposal ->
          <span class="value to-do">24.65&thinsp;%</span>
          coins voted
        </div> -->
      </div>
    </div>

  </div>

  <!-- TODO: only show "action bar" on ACTIVE proposals -->
  <div class="action-bar" *ngIf="selectedTab == 'active' && !aleradyVoted">
    <div class="text item">Select your vote for this Proposal:</div>

    <div class="options item">
      <mat-form-field class="voting-options" floatPlaceholder="never">
        <mat-select placeholder="Select to vote" [(ngModel)]="selectedOption">
          <mat-option *ngFor="let option of proposal?.options" [value]="option">
            {{ option.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" [disabled]="!selectedOption || btnValidate" class="vote-button item" (click)="vote()">
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-check"></mat-icon>
      Vote
    </button>
  </div>

  <div class="action-bar" *ngIf="selectedTab == 'active' && aleradyVoted">
    <div class="text item">Your vote for this Proposal:</div>

    <div class="options item">
      {{voteDetails?.ProposalOption?.description}}
    </div>

    <button mat-raised-button color="primary" class="vote-button item" (click)="aleradyVoted = !aleradyVoted">
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-refresh"></mat-icon>
      Change vote
    </button>
  </div>
</mat-card>
