@import './src/assets/_config'; // import shared colors etc.
@import './src/app/wallet/shared/_filter-sorting'; // filtering & sorting

// ------ SPECIFIC ------ //

.proposal {
  padding: 0;
  margin-bottom: 30px;

  // Proposal's header bar (top)
  .header {
    padding: 20px 24px;
    border-bottom: 1px solid $bg-shadow;
    .meta {
      display: flex;
      font-size: 18px;
      .id {
        flex: 0 0 50px;
        color: $text-muted;
        text-align: center;
        @include break(l) {
          flex: 0 0 70px;
        }
      }
      .title {
        flex: 1 1 100%;
        margin-left: 16px;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        .tag {
          color: darken($color, 5%);
          font-size: 11px;
          font-weight: 400;
          text-transform: uppercase;
          margin: 0 0 0 7px;
          padding: 0 4px;
          position: relative;
          top: -1px;
          border: 1px solid $color;
          border-radius: 2px;
        }
      }
    }
    .blocks-left {
      display: flex;
      margin-top: 4px;
      .mat-progress-bar {
        flex: 0 0 50px;
        height: 4px;
        margin-top: 5px;
        @include break(l) {
          flex: 0 0 70px;
        }
      }
      .text {
        flex: 1 1 100%;
        margin-left: 16px;
        color: $text-muted;
      }
    }
  }

  // Proposal's body (middle)
  .body {
    padding: 24px;
    display: flex;
    line-height: 1.5;
    
    // Proposal's description
    & > .content {
      flex: 1 1 65%;
      margin: 0;
      p {
        @extend %enable-select;
        color: $text-muted;
        white-space: pre-line;
        word-break: break-word;
      }
      /*
      .authors {
        text-align: left;
        color: mix($text-muted, $text);
        th {
          color: $text;
          font-weight: 500;
        }
        td {
          vertical-align: top;
          &:first-child {
            padding-right: 16px;
          }
        }
      }
      .more-links {
        margin-top: 24px;
        .mat-icon {
          top: -2px;
        }
      }
      */
    }

    // Voting progress & graph
    & > .sidebar {
      flex: 1 1 35%;
      margin-left: 35px;
      text-align: center;
      .percentage-voted {
        display: inline-block;
        border: 1px solid $bg-shadow;
        border-radius: 50px;
        padding: 3px 16px;
        .big {
          font-weight: bold;
        }
        .point,
        .small {
          color: $text-muted;
        }
        /*
        color: $text-muted;
        .value {
          color: $text;
          font-weight: 500;
        }
        */
      }
      .graph-placeholder {
        display: flex;
        width: 72px;
        height: 72px;
        margin: 24px auto;
        border: 26px solid $bg;
        border-radius: 50%;
        .title {
          margin: auto;
          color: $text-muted;
          line-height: 1.2;
        }
      }
    }

    .subtitle {
      margin-bottom: 16px;
      color: $text;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  // Proposal's action bar (bottom)
  .action-bar {
    padding: 12px 24px;
    border-top: 1px solid $bg-shadow;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .options {
      margin-left: 10px;
    }
    .vote-button {
      margin-left: 30px;
    }
  }

}
