<div mat-dialog-title class="title">Unlock your wallet</div>

<mat-dialog-content class="modal-content">
  <p class="lead">
    Please enter your password to unlock the wallet:
  </p>

  <div class="enter-password">

    <mat-form-field>
      <input matInput name="password"
              id="password"
              [type]="showPass ? 'text' : 'password'"
              [appFocusTimeout]="true"
              [(ngModel)]="password"
              placeholder="Enter your password" />
    </mat-form-field>

    <span class="show-password">
      <mat-checkbox type="checkbox" name="showpass" value="password" [(ngModel)]="showPass" tabindex="-1">Show password</mat-checkbox>
    </span>

    <mat-expansion-panel class="additional-options">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Additional unlock options
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="unlock-timeout">
        <strong>Unlock for</strong>
        <input  name="customTimeout"
                class="duration-input"
                [disabled]="!timeoutIsEditable || unlockForStaking"
                type="number"
                min="0"
                step="100"
                max="99999990"
                [(ngModel)]="timeout">
        seconds
      </div>

      <span *ngIf="showStakingUnlock" class="stake-only">
        <mat-checkbox type="checkbox" name="stakeonly" value="stakeonly" [(ngModel)]="unlockForStaking">
          <strong>Unlock for Staking only</strong>
        </mat-checkbox>
        <p class="widget-help">
          Unlock indefinitely for staking only &ndash; for spending your coins, you would need to do a full unlock
        </p>
      </span>  
      
    </mat-expansion-panel><!-- .additional-options -->

  </div><!-- .enter-password -->
</mat-dialog-content>


<mat-dialog-actions fxLayoutAlign="space-between center">

  <button type="button" mat-button mat-dialog-close>
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    Cancel
  </button>

  <button color="warn" mat-raised-button appDebounceClick (debounceClick)="unlock()" [disabled]="(password.length === 0) || isProcessing">
    <mat-icon fontSet="partIcon" fontIcon="part-lock-open"></mat-icon>
    Unlock wallet
  </button>

</mat-dialog-actions>
