@import './src/assets/_config'; // import shared colors etc.

// ------ LAYOUT ------ //

.mat-dialog-title {
  margin: 0 !important;
}


// ------ UI ------ //

.subtitle {
  @extend %subtitle;
  margin-top: 0;
}

strong {
  font-weight: 500;
}


// ------ LAYOUT ------ //

.show-password { // checkbox next to input
  margin-left: 20px;
}

.additional-options {
  margin: 16px -24px 24px;
  padding: 24px;
  border-top: 1px dashed $bg-shadow;
  border-bottom: 1px dashed $bg-shadow;
  background: $bg;

  // customize unlock duration
  .unlock-timeout {
    margin-bottom: 16px;
    .duration-input {
      width: 50px;
      padding: 0 0 0 8px;
      margin: 0 8px;
      border-radius: $radius;
      border: 1px solid $bg-shadow;
      line-height: 2.2;
    }
  }

  // unlock for staking only
  .stake-only {
    .widget-help {
      margin: 4px 0 0;
    }
  }

}

.actions { // area with button(s)
  margin: 10px 0 0;
  button {
    margin: 0;
  }
}
