<form>
  <mat-form-field class="full-width">
    <input
      type="text"
      (focus)="_selectAllContent($event)"
      (blur)="onBlur($event)"
      placeholder="{{placeHolder}}"
      aria-label="placeHolder"
      matInput
      #textInput
      [formControl]="formControl"
      [matAutocomplete]="auto"
      [required]="isRequired">

    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onSelectionChanged($event)"
      [displayWith]="displayFn.bind(this)">
      <mat-option *ngIf="defaultOption">{{defaultOption}}</mat-option>
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option" matTooltip="{{showValueOf ? option[showValueOf] : option}}">
        {{showValueOf ? option[showValueOf] : option}}
      </mat-option>
      <mat-option *ngIf="!((filteredOptions | async).length || defaultOption)" disabled>Not found</mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
