.accordion-content {
    max-height: 400px;
    overflow: hidden;
    transition: max-height .3s;
}

.accordion-content.collapsed {
    max-height: 1px;
    overflow: hidden;
    transition: max-height .3s;
}
