<div mat-dialog-title>
  Coin selection

  <div class="selection-overview">
    <div class="item type">
      <div class="key">UTXO type</div>
      <div class="value">Blind</div>
    </div>
    <div class="item selected">
      <div class="key">Selected</div>
      <div class="value">2 UTXOs</div>
    </div>
    <div class="item amount">
      <div class="key">Selected Amount</div>
      <div class="value">1534.51351151 PART</div>
    </div>
    <div class="item fee">
      <div class="key">TX Fee</div>
      <div class="value">&asymp; 0.00015861 PART</div>
    </div>
    <div class="item after-fee">
      <div class="key">For spending (after Fee)</div>
      <div class="value">1533.5131438 PART</div>
    </div>
  </div><!-- .selection-overview -->

</div><!-- mat-dialog-title -->

<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content class="dialog-content">

  <table class="available-utxos" matSort (matSortChange)="sortData($event)" cellspacing="0">
    <tr>
      <th class="checkbox"></th>
      <th mat-sort-header="amount" class="amount">Amount</th>
      <th mat-sort-header="label" class="label">Label</th>
      <th mat-sort-header="address" class="address">Address</th>
      <th mat-sort-header="date" class="date">Date</th>
    </tr>
  
    <tr *ngFor="let utxo of sortedData">
      <td class="checkbox"><mat-checkbox></mat-checkbox></td>
      <td class="amount">{{utxo.amount}}</td>
      <td class="label">{{utxo.label}}</td>
      <td class="address"><a href="https://explorer.particl.io/address/{{utxo.address}}" matTooltip="Show on Block Explorer" matTooltipPosition="before" target="_blank">{{utxo.address}}</a></td>
      <td class="date">{{utxo.date}}</td>
    </tr>
  </table>

</mat-dialog-content>


<mat-dialog-actions fxLayoutAlign="space-between center">
  <button mat-button mat-dialog-close>
    <mat-icon fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <div class="right">
    <button mat-button class="small">
      <mat-icon fontIcon="part-select"></mat-icon>
      (De)select all
    </button>
    <button mat-raised-button color="primary" mat-dialog-close>
      <mat-icon fontIcon="part-check"></mat-icon>
      Spend selected coins
    </button>
  </div>
</mat-dialog-actions>
