<app-page-intro childPageAlias="Sell Orders">
  <ng-container page-title>Sell Orders</ng-container>
  <ng-container page-content>
    Manage your orders which you're selling to Buyers.
  </ng-container>
  <ng-container page-info *ngIf="identityIsEncrypted">
    As this is an encrypted wallet, your wallet will need to be unlocked in order to process bid update messages!
  </ng-container>
  <ng-container page-help>
    Each step of the selling process needs to be confirmed in this page (i.e. marking an order as "Shipped").
  </ng-container>
</app-page-intro>


<!-- Orders > Filter -->
<div class="filter">

  <h2 class="section-title">
    Search
  </h2>

  <mat-form-field class="--boxed" appearance="fill">
    <input matInput type="text" [formControl]="querySearch"
          placeholder="Search Orders" (keyup.escape)="querySearch.setValue('')">
    <button *ngIf="querySearch.value.length > 0" matSuffix mat-button class="small" (click)="querySearch.setValue('')" matTooltip="Clear" matTooltipPosition="after">
      <mat-icon fontIcon="part-clear-all"></mat-icon>
    </button>
    <mat-icon *ngIf="querySearch.value.length === 0" matSuffix fontIcon="part-search"></mat-icon>
  </mat-form-field>

  <h2 class="section-title">
    Filter
  </h2>

  <mat-card class="filter-card">
    <div class="checkbox highlight">
      <mat-checkbox color="primary" [formControl]="queryFilterAttention">Orders requiring action</mat-checkbox>
    </div>
    <div class="checkbox">
      <!-- TODO: change here - instead of "hide completed", we'll do this: hide Completed and Rejected by default, show them when this is checked: -->
      <mat-checkbox color="primary" [formControl]="queryFilterComplete">Show inactive &amp; archived</mat-checkbox>
    </div>

    <mat-divider></mat-divider>

    <mat-form-field class="--plain" appearance="fill">
      <mat-select placeholder="Filter by Market" [formControl]="queryFilterMarket">
        <mat-option value="">All Markets</mat-option>
        <mat-option *ngFor="let market of filterOptionsMarkets | keyvalue" [value]="market.key">
          {{ market.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-radio-group class="radio-group block-radio" [formControl]="queryFilterStatus">
      <mat-radio-button class="filter-option" *ngFor="let statusFilter of filterOptionsStatus" [value]="statusFilter.value" color="accent" [class.empty]="statusFilter.count === 0">
        {{ statusFilter.title }}
        <span class="amount">{{ statusFilter.count }}</span>
      </mat-radio-button>
    </mat-radio-group>
  </mat-card>

  <button mat-button color="basic" class="clear-filters" (click)="clearAllFilters()">
    <mat-icon fontSet="partIcon" fontIcon="part-clear-all"></mat-icon>
    Clear all filters
  </button>

</div><!-- .filter -->


<!-- Orders > list -->
<div class="orders section with-filter">

  <ng-container *ngIf="filteredOrderIdxs.length > 0; else noOrdersVisible">
    <ng-container *ngFor="let orderIdx of filteredOrderIdxs; trackBy: trackByOrderIdxFn">

      <mat-expansion-panel class="order list-item no-padding" *appVar="ordersList[orderIdx] as orderItem">
        <mat-expansion-panel-header class="header">
          <div class="header-wrapper">
            <div class="photo">
              <img [src]="orderItem.listing.image">
            </div>
            <div class="meta" fxFlex="1 1 100%">
              <div class="name">
                {{orderItem.listing.title}}
                <!-- TODO: replace with buy quantity when implemented -->
                <span class="qty">&times;1</span>
              </div>
              <div class="hash id">{{orderItem.orderId}}</div>
              <div class="hash" [style.backgroundColor]="'#' + orderItem.listing.hashPrefix">{{orderItem.listing.hashPrefix}}</div>
              <div class="origin-market">
                {{ filterOptionsMarkets[orderItem.marketKey] || '' }}
              </div>
            </div>
            <div class="status-wrap" fxFlex="0 0 140px">
              <div class="status bidding"><!-- TODO: remove "bidding" class, add: {{ order?.step }} {{ order?.type }} -->
                <span class="dot"></span> bidding<!-- TODO: {{ order?.step }} -->
              </div>
            </div>
          </div>
        </mat-expansion-panel-header>

        <div class="status-info">
          <div class="text">
            <h2 class="item-title">Order #{{orderItem.orderId}}</h2>
            <p>Order has been paid for and it's waiting for Seller to package and ship it to you<!--TODO: {{ orderActivity?.status_info }}--></p>
          </div>
          <p class="item-info">
            ID: {{orderItem.orderHash}}<br>
            Updated: {{ orderItem.updated | date:'medium' }}<br>
            Created: {{ orderItem.created | date:'medium' }}
          </p>
        </div><!-- .status-info -->

        <div class="progress-graph" fxLayout>
          <!-- TODO: finished steps as `.done` -->
          <div class="bidding step done" fxFlex>
            <div class="value">Bidding</div>
            <div class="dot"></div>
          </div>
          <div class="payment step done" fxFlex>
            <div class="value">Payment</div>
            <div class="dot"></div>
          </div>
          <!-- TODO: active steps as `.active` -->
          <div class="escrow step active" fxFlex>
            <div class="value">Escrow Lock</div>
            <div class="dot"></div>
          </div>
          <!-- TODO: future steps as `.upcoming` -->
          <div class="packaging step upcoming" fxFlex>
            <div class="value">Packaging</div>
            <div class="dot"></div>
          </div>
          <div class="shipping step upcoming" fxFlex>
            <div class="value">Shipping</div>
            <div class="dot"></div>
          </div>
          <!-- TODO: when order is completed, keep this Completed step as `.active` -->
          <div class="completed step upcoming" fxFlex>
            <div class="value">Completed</div>
            <div class="dot"></div>
          </div>
        </div>

        <!-- TODO: when rejected, mark Bidding as `.rejected` (obviously show only Bidding & Rejected steps) -->
        <!--div class="progress-graph" fxLayout>
          <div class="bidding step rejected" fxFlex>
            <div class="value">Bidding</div>
            <div class="dot"></div>
          </div>
          <div class="rejected step" fxFlex>
            <div class="value">Rejected</div>
            <div class="dot"></div>
          </div>
        </div-->

        <div class="detail">

          <div class="highlights"><!-- TODO: show only if anything below is active: -->
            <table>
              <tr>
                <th>Shipping details</th>
                <!--td>{{ memo }}</td--><!-- *ngIf="(memo.length > 0)" -->
                <td><em>Seller didn't provide any additional info</em></td><!-- *ngIf="!(memo.length > 0)" -->
              </tr>
              <tr><!-- *ngIf="additionalInfo.transactionID.length > 0" -->
                <th>Escrow TXID</th>
                <td>
                  <div class="txid">
                    <a href="https://explorer.particl.io/tx/45baea1e0362b8eaf2d06e680c1b75ec43101a1573b558725abaa21c754d4068" target="_blank" title="Open in Block Explorer"><!--{{ additionalInfo.transactionID }}-->45baea1e0362b8eaf2d06e680c1b75ec43101a1573b558725abaa21c754d4068</a>
                  </div>
                </td>
              </tr>
              <tr><!-- *ngIf="additionalInfo.rejectMessage.length > 0" -->
                <th>Rejected for</th>
                <td><!--{{ additionalInfo.rejectMessage }}-->Not in stock</td>
              </tr>
            </table>
          </div><!-- .highlights -->

          <div class="item-details" fxLayout fxLayoutGap="30px">

            <div class="buyer-info" fxFlex="auto">
              <h3 class="item-subtitle">Shipping details</h3>
              <!--app-shipping-address [shippingAddress]="order?.ShippingAddress"></app-shipping-address-->
              <p class="shipping-info">
                {{orderItem.shippingDetails.name}}<small>&ndash; Name</small><br>
                {{orderItem.shippingDetails.addressLine1}}<small>&ndash; Street</small><br>
                <ng-container *ngIf="orderItem.shippingDetails.addressLine2.length > 0">{{orderItem.shippingDetails.addressLine2}}<small>&ndash; Street</small><br></ng-container>
                {{orderItem.shippingDetails.city}}<small>&ndash; City</small><br>
                {{orderItem.shippingDetails.state}}<small>&ndash; State</small><br>
                {{orderItem.shippingDetails.code}}<small>&ndash; ZIP</small><br>
                {{orderItem.shippingDetails.country}}<small>&ndash; Country</small>
              </p>
              <!-- TODO: contact details implementation -->
              <p class="contact-info"><!-- *ngIf="(contactDetails.email.length > 0) || (contactDetails.phone.length > 0)" -->
                <span><!-- *ngIf="(contactDetails.email.length > 0)" -->
                  <a href="mailto:my.name@buyer-central.com">my.name@buyer-central.com</a><!--{{contactDetails.email}}-->
                </span>
                <br>
                <span><!-- *ngIf="(contactDetails.phone.length > 0)" -->
                  +548 1843 1548 3511<!--{{contactDetails.phone}}-->
                </span>
              </p>
            </div><!-- .buyer-info -->

            <div class="pricing-info" fxFlex="auto">
              <h3 class="item-subtitle">Pricing</h3>
              <table class="prices">
                <tfoot>
                  <tr>
                    <th></th>
                    <th><span matTooltip="Particl" matTooltipPosition="below">PART</span></th>
                    <!--th><span matTooltip="US Dollar" matTooltipPosition="below">USD</span> // TODO: replace with user selected fiat countervalue currency (when implemented) </th-->
                  </tr>
                </tfoot>
                <tbody>
                  <!-- TODO: all amounts will be rounded and forced to 4 decimals again (the former split to whole numbers and decimals is not needed) -->
                  <tr>
                    <th>Price (&times;1 item)<!-- TODO: when implemented, replace with buy quantity --></th>
                    <td class="amount part">{{orderItem.pricing.basePrice.whole}}<small>{{orderItem.pricing.basePrice.sep}}{{orderItem.pricing.basePrice.fraction}}</small></td>
                    <!--td class="amount fiat">3<small>.4100</small></td-->
                  </tr>
                  <tr>
                    <th>Shipping</th>
                    <td class="amount part">{{orderItem.pricing.shippingPrice.whole}}<small>{{orderItem.pricing.shippingPrice.sep}}{{orderItem.pricing.shippingPrice.fraction}}</small></td>
                    <!--td class="amount fiat">0<small>.8400</small></td-->
                  </tr>
                  <tr class="total">
                    <th>Total price</th>
                    <td class="total amount part">{{orderItem.pricing.subTotal.whole}}<small>{{orderItem.pricing.subTotal.sep}}{{orderItem.pricing.subTotal.fraction}}</small></td>
                    <!--td class="total amount fiat">8<small>.5000</small></td-->
                  </tr>
                  <tr class="escrow">
                    <th>Escrow payment</th>
                    <td class="escrow amount part">{{orderItem.pricing.totalRequired.whole}}<small>{{orderItem.pricing.totalRequired.sep}}{{orderItem.pricing.totalRequired.fraction}}</small></td>
                    <!--td class="escrow amount fiat">4<small>.2500</small></td-->
                  </tr>
                </tbody>
              </table>
              <p>
                Escrow payment will be automatically returned after sucessfull delivery of the Order.
              </p>
            </div><!-- .info -->

          </div><!-- .item-details -->
        </div><!-- .detail -->

        <!-- TODO: actionable buttons implementation -->
        <mat-action-row class="action-buttons" fxLayout fxLayoutAlign="space-between stretch">
          <div class="left">
            <button *ngFor="let actionable of secondaryActions"
                    mat-button color="{{actionable.colour}}"
                    [disabled]="actionable.disabled || actionable.locked"
                    appDebounceClick
                    (debounceClick)="executeAction(actionable)"
                    class="small">
              <mat-icon fontSet="partIcon" fontIcon="{{actionable.icon}}"></mat-icon>
              {{ actionable.text }}
            </button>
            <button mat-button matTooltip="Preview listing" class="small" appDebounceClick (debounceClick)="openListingDetailModal(orderItem.listing.id)">
              <mat-icon fontIcon="part-zoom-in"></mat-icon>
              Open
            </button>
          </div>
          <div class="right">
            <button *ngFor="let actionable of primaryActions"
                    mat-raised-button color="{{actionable.colour}}" matTooltip="{{ actionable.tooltip }}"
                    [disabled]="actionable.disabled || actionable.locked"
                    appDebounceClick
                    (debounceClick)="executeAction(actionable)">
              <mat-icon fontSet="partIcon" fontIcon="{{ actionable.icon }}"></mat-icon>
              {{ actionable.text }}
            </button>

            <!-- @TODO: remove these; purely for testing >> -->
            <button mat-button (click)="openAcceptBidModal()">Accept</button>
            <button mat-button (click)="openRejectBidModal()">Reject</button>
            <button mat-button (click)="openEscrowPaymentModal()">Pay</button>
            <button mat-button (click)="openOrderShippedModal()">Shipped</button>
            <!-- @TODO: << remove these; purely for testing -->

          </div>
        </mat-action-row>
      </mat-expansion-panel>

    </ng-container>
  </ng-container>

  <ng-template #noOrdersVisible>
    <div class="no-results" *ngIf="ordersList.length === 0">
      <img class="illustration" src="./assets/app-market/illustrations/no-orders.svg" alt="No Orders Available">
      <p>
        You don't have any market orders yet
      </p>
      <p class="help-text">
        Visit the Marketplace and start buying or selling today!
      </p>
    </div>

    <!-- when searching/filtering: -->
    <div class="no-results" *ngIf="ordersList.length > 0">
      <img class="illustration" src="./assets/app-market/illustrations/no-orders.svg" alt="No Orders found">
      <p>
        No Orders found
      </p>
      <p class="help-text">
        You don't have any Orders matching your search/filter
      </p>
    </div>
  </ng-template>
</div><!-- .orders.list -->

<div class="loading-bar" *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div><!-- .loading-bar -->
