<div class="container-block">

  <app-page-intro [childPageAlias]="'JoinedMarkets'">
    <ng-container page-title>Your Markets</ng-container>
    <ng-container page-content>
      Manage and browse all the Markets you have joined and created.
    </ng-container>
    <ng-container page-help>
      You can also create new Markets and/or share Storefront admin priviledges with others.
    </ng-container>
  </app-page-intro>


  <div class="filter">

    <div class="buttons">
      <button mat-raised-button color="primary" class="full-width" routerLink="create">
        <mat-icon fontIcon="part-circle-plus"></mat-icon>
        Create new Market
      </button>
    </div><!-- .buttons -->


    <h2 class="section-title">
      Search
    </h2>

    <mat-form-field class="--boxed" appearance="fill">
      <input matInput type="text" class="header-input" placeholder="Search Markets" [formControl]="searchControl" (keyup.escape)="searchControl.setValue('')">
      <button *ngIf="searchControl.value.length > 0" matSuffix mat-button class="small" (click)="searchControl.setValue('')" matTooltip="Clear" matTooltipPosition="after">
        <mat-icon fontIcon="part-clear-all"></mat-icon>
      </button>
      <mat-icon *ngIf="searchControl.value.length === 0" matSuffix fontIcon="part-search"></mat-icon>
    </mat-form-field>

    <h2 class="section-title">
      Filter
    </h2>

    <mat-card class="filter-card">
      <mat-form-field class="--plain" appearance="fill">
        <mat-select [formControl]="filterRegionControl">
          <mat-option *ngFor="let option of optionsFilterMarketRegion" [value]="option.value">
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-radio-group class="radio-group block-radio" [formControl]="filterTypeControl">
        <mat-radio-button class="filter-option" *ngFor="let option of optionsFilterMarketType" [value]="option.value" color="primary">
          {{ option.label }}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card>

    <button mat-button color="basic" class="clear-filters" (click)="clearFilters()">
      <mat-icon fontIcon="part-clear-all"></mat-icon>
      Clear all filters
    </button>

  </div><!-- .filter (sidebar) -->


  <!-- Management > Market list -->
  <div class="markets section with-filter">

    <ng-container *ngIf="displayedMarkets.length > 0; else noMarketsVisible">
      <mat-accordion>
        <ng-container *ngFor="let marketIdx of displayedMarkets; trackBy: trackByMarketIdxFn">

          <!-- Example: Joined market -->
          <mat-expansion-panel class="market list-item no-padding" *appVar="marketsList[marketIdx] as marketItem">
            <mat-expansion-panel-header class="header">
              <div class="header-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="photo">
                  <img [src]="marketItem.image">
                </div>
                <div class="info" fxFlex="1 1 100%">
                  <h3 class="box-title --larger">
                    <span class="name">{{ marketItem.name }}</span>
                    <!-- Note: "Promoted" Markets stick to top of the list | "3 days" marks remaining time of promotion -->
                    <!-- <mat-icon fontIcon="part-notification-speaker" class="promoted"
                              matTooltip="Promoted Market (3 days)" matTooltipPosition="after"></mat-icon> -->
                  </h3>
                  <div class="desc">
                    <span *ngIf="marketItem.marketType === marketTypeOptions.STOREFRONT_ADMIN" class="admin tag --tertiary">
                      <mat-icon fontIcon="part-verified"></mat-icon>
                      Admin
                    </span>
                    <span class="market-type tag">
                      <ng-container *ngIf="marketItem.marketType === marketTypeOptions.MARKETPLACE; else marketTypeStorefront">Community Market</ng-container>
                      <ng-template #marketTypeStorefront>Storefront</ng-template>
                    </span>
                    <span class="market-region">
                      <mat-icon fontIcon="part-globe"></mat-icon>
                      {{ marketItem.region.label }}
                    </span>
                  </div>
                </div><!-- .meta -->
              </div>
            </mat-expansion-panel-header>
            <div class="details">
              <h3 class="item-subtitle">
                <ng-container *ngIf="marketItem.marketType === marketTypeOptions.MARKETPLACE; else marketTypeStorefrontSummary">Market Summary</ng-container>
                <ng-template #marketTypeStorefrontSummary>Storefront Summary</ng-template>
              </h3>
              <p class="desc">
                {{ marketItem.summary }}
              </p>
              <div class="keys" fxLayout fxLayoutGap="30px">
                <div class="public" fxFlex="50%">
                  <h3 class="box-title">
                    Market ID
                    <button mat-button color="accent" class="small" matTooltip="Copy Market ID" ngxClipboard [cbContent]="marketItem.receiveKey || ''" (click)="actionCopiedToClipBoard()">
                      <mat-icon fontIcon="part-copy"></mat-icon>
                      Copy
                    </button>
                  </h3>
                  <p class="help-text">
                    Key required to join this Market. You can and should share it publicly with others. Whoever joins this Market can further share its Market ID with others.
                  </p>
                </div>
                <div class="private" fxFlex="50%">
                  <ng-container *ngIf="marketTypeOptions.MARKETPLACE !== marketItem.marketType">
                    <h3 class="box-title">
                      Market Access Key
                      <button mat-button color="warn" class="small" matTooltip="Copy Access key" appDebounceClick (debounceClick)="copyPublishKeyToClipboard('PUBLIC', marketItem.publishKey)">
                        <mat-icon fontIcon="part-copy"></mat-icon>
                        Copy
                      </button>
                    </h3>
                    <p class="help-text">
                      This access key allows for someone to join this market and only make purchases (ie: cannot create new product listings).
                    </p>
                  </ng-container>
                  <ng-container *ngIf="marketTypeOptions.STOREFRONT !== marketItem.marketType">
                    <h3 class="box-title">
                      Market Publish Key
                      <button mat-button color="warn" class="small" matTooltip="Copy Publish key" appDebounceClick (debounceClick)="copyPublishKeyToClipboard('PRIVATE', marketItem.publishKey)">
                        <mat-icon fontIcon="part-copy"></mat-icon>
                        Copy
                      </button>
                    </h3>
                    <p class="help-text">
                      Whoever has this Publish key will have access to selling on your Market. Share it with trusted people only (e.g. colleagues from your Store)
                    </p>
                  </ng-container>
                </div>
              </div><!-- .keys -->
            </div>
            <mat-action-row class="action-buttons" fxLayout fxLayoutAlign="space-between stretch">
              <div class="left">
                <button mat-button color="warn" class="small" matTooltip="Disconnect from this Market" appDebounceClick (debounceClick)="actionLeaveMarket(marketIdx)">
                  <mat-icon fontIcon="part-cross"></mat-icon>
                  Leave
                </button>
                <button mat-button [color]="marketItem.isFlagged ? 'warn' : 'basic'" class="small icon-only" [matTooltip]="marketItem.isFlagged ? 'Cast a vote to keep or remove this market' : 'Report inappropriate market'" appDebounceClick (debounceClick)="actionOpenGovernanceModal(marketItem.id)">
                  <mat-icon fontIcon="part-flag"></mat-icon>
                </button>
                <button mat-button color="basic" class="small icon-only" matTooltip="Promote in Market browser" appDebounceClick (debounceClick)="actionOpenPromoteMarketModal(marketIdx)">
                  <mat-icon fontIcon="part-notification-speaker"></mat-icon>
                </button>
              </div>
              <div class="right">
                <button mat-button *ngIf="marketItem.marketType === marketTypeOptions.STOREFRONT_ADMIN" color="basic" class="small" matTooltip="Edit Market categories" appDebounceClick (debounceClick)="actionOpenCategoryEditorModal(marketIdx)">
                  <mat-icon fontIcon="part-pen-1"></mat-icon>
                  Edit Categories
                </button>
                <button mat-raised-button color="primary" [routerLink]="listingsPagePath" [queryParams]="{SelectedMarketId: marketItem.id}">
                  <mat-icon fontIcon="part-bag"></mat-icon>
                  Browse Market
                </button>
              </div>
            </mat-action-row>
          </mat-expansion-panel><!-- .market -->

        </ng-container>

      </mat-accordion>
    </ng-container>

    <ng-template #noMarketsVisible>
      <div class="no-results" *ngIf="marketsList.length === 0">
        <img class="illustration" src="./assets/app-market/illustrations/no-markets.svg" alt="No markets available">
        <p>
          No markets promoted
        </p>
        <p class="help-text">
          If you're looking for a specific Market, ask any of its members for the Market ID and join it manually
        </p>
      </div>

      <!-- when searching/filtering: -->
      <div class="no-results" *ngIf="marketsList.length > 0">
        <img class="illustration" src="./assets/app-market/illustrations/no-markets.svg" alt="No markets matching filter criteria">
        <p>
          No Markets found
        </p>
        <p class="help-text">
          If you're looking for a specific Market, ask any of its members for the Market ID and join it manually
        </p>
      </div>
    </ng-template>

  </div><!-- .markets (content) -->
</div><!-- .container-block -->


<div class="loading-bar" *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div><!-- .loading-bar -->
