<div mat-dialog-title class="title">Manage overview widgets</div>
<mat-dialog-content class="modal-content">
   widget manager
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end center">
   <button type="button" mat-button mat-dialog-close>
      <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
      Cancel
   </button>
   <button mat-raised-button color="primary">
      <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
      Save widgets
   </button>
</mat-dialog-actions>