@import "./src/assets/_config"; // import shared colors etc.

@import "../shared/_modal-layout"; // shared layout for modals (dialog titles etc.)


.actions {
  margin-bottom: 80px;
}

/* ------------------------------- *\
    Step 0: Choose action
\* ------------------------------- */

.encrypt-first {
  background: mix($bg-shadow, $bg, 20%);
  margin: 24px -24px 12px;
  padding: 10px 24px;
}


/* ------------------------------- *\
    Step 1: Create/Restore
\* ------------------------------- */


/* ------------------------------- *\
    Step 2: Recovery Phrase
\* ------------------------------- */


/deep/ app-password > div {
  margin-top: 20px;
}

/deep/ input.recovery-word {
  max-width: 100%;
}

