<div [@flyInOut]="animationState" class="col-xs-12">
  <ng-template [ngIf]="step === 0">
    <div class="container" fxFlex="100%">
      <div class="align-center">
        <b>Welcome</b>, please select one of the options below.
      </div>
      <div class="gap50"></div>
      <div class="button-row align-center">
        <button md-raised-button color="primary" class="create-wallet-action-button" (click)="nextStep();create();">
          Create new wallet
        </button>
        <button md-raised-button color="primary" class="create-wallet-action-button" (click)="nextStep();restore();">
          Restore wallet
        </button>
      </div>
    </div>
  </ng-template><!-- Step 0 -->


  <ng-template [ngIf]="step === 1">
    <div class="container" fxFlex="100%" fxLayout="column" fxLayoutWrap>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutWrap>
        <b>Lets create a new wallet</b><!-- TODO: Dynamic text create / restore -->
      </div>

      <!--<div class="gap50"></div>-->

      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap>
        <form #nameForm="ngForm" fxLayout="column" fxLayoutAlign="center center" fxFlex="100%" (ngSubmit)="nextStep()">

          <div class="container form_block" fxFlex="70%">
            <div fxFlex="30%">
              <label class="wallet-name-label">YOUR WALLET NAME</label>
            </div>

            <div fxFlex="70%">
              <div class="col-md-12">
                <md-form-field>
                  <input mdInput #nameField #validation="ngModel" class="form-control width-100" [(ngModel)]="name"
                         name="name" placeholder="Default Account..." required maxlength="32"
                         [class.verify-error]="validation.errors && (validation.dirty || validation.touched)"/>
                </md-form-field>

                <div *ngIf="validation.errors && (validation.dirty || validation.touched)"
                     [@slideDown] class="error">
                  <div [hidden]="!validation.errors.required">
                    Wallet Name is required
                  </div>
                  <div [hidden]="!validation.errors.maxlength">
                    Wallet Name cannot be more than 32 characters long.
                  </div>
                </div>
              </div>
              <div class="button-row capitalize">
                <button md-raised-button class="create-wallet-action-button" (click)="prevStep()">
                  back
                </button>
                <button md-raised-button  class="create-wallet-action-button" color="primary" type="submit" [disabled]="!nameForm.form.valid">
                  next step
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-template><!-- Step 1 -->

  <ng-template [ngIf]="[2,3,4].indexOf(step) != -1 && !isRestore">
    <div class="container" fxFlex="100%" fxLayout="column" fxLayoutWrap>
      <!-- header text -->
      <div class="header-text" fxLayout="column" fxLayoutAlign="center center" fxLayoutWrap>
      <span *ngIf="step === 2" fxLayout="column" fxLayoutAlign="center center">
        <b>Generate your wallet recovery phrase</b>
      </span>
        <span *ngIf="step === 3" fxLayout="column" fxLayoutAlign="center center">
        <b>Write down your wallet recovery phrase</b><br/>
        <div class="">
          It is very important to write down your recovery phrase and to remember your password.
          You will not be able to restore your wallet without them.
        </div>
      </span>
        <span *ngIf="step === 4" fxLayout="column" fxLayoutAlign="center center">
        <b>Enter your wallet recovery phrase</b><br/>
      </span>

        <hr class="margin-top-100px">
      </div>
      <div fxLayout="column" fxLayoutWrap fxLayoutAlign="center center">
        <div class="container form_block" fxFlex="70%">
          <div fxFlex="30%">
            <label class="wallet-name-label">YOUR WALLET NAME</label>
          </div>

          <div fxFlex="70%">
            <div class="col-md-12">
              <md-form-field>
                <input mdInput class="form-control width-100" [(ngModel)]="name" placeholder="Default Account..."
                       readonly/>
              </md-form-field>
            </div>
          </div>
        </div>
      </div>
      <app-password
        #passwordComponent
        label="RECOVERYPHRASE PASSWORD (OPTIONAL)"
        [emitPassword]="true"
        [isDisabled]="[3,4].indexOf(step) != -1"
        (passwordEmitter)="passwordFromEmitter($event)"
        [showStakeOnly]="false">
      </app-password>

      <ng-template [ngIf]="[3,4].indexOf(step) != -1">
        <app-passphrase
          #passphraseComponent
          [readOnly]="step === 3"
          [words]="words"
          [partialDisable]="step === 4"
          (wordsEmitter)="wordsFromEmitter($event)">
        </app-passphrase>
      </ng-template>
      <div class="button-row capitalize" fxLayout="column" fxLayoutWrap fxLayoutAlign="center center">
        <div fxFlex="70%" fxFlexOffset="0px">
          <button md-raised-button class="create-wallet-action-button" color="primary" (click)="prevStep()">
            BACK
          </button>
          <button md-raised-button class="create-wallet-action-button" color="primary"
                  (click)="step === 2 && passwordComponent.sendPassword();
             nextStep()"> <!-- TODO: Move sendPassword to .ts -->
            NEXR STEP
          </button>
        </div>
      </div>
    </div>
  </ng-template><!-- Step 2,3 & 4 -->

  <ng-template [ngIf]="step === 4 && isRestore">
    <div class="container" fxFlex="100%" fxLayout="column" fxLayoutWrap>
    <div fxLayout="column" fxLayoutWrap  fxLayoutAlign="center center">
      <span *ngIf="step === 4">
        Please enter your <b>24 word recovery phrase</b> and optional recovery passphrase below.
      </span>

      <!--<hr class="margin-top-100px">-->
    </div>
    <div fxLayout="column" fxLayoutWrap fxLayoutAlign="center center"  fxFlexOffset="40px">
    <div  class="container form_block" fxFlex="70%">
      <div fxFlex="30%">
        <label>YOUR WALLET NAME</label>
      </div>

      <div fxFlex="70%">
        <div>
          <md-form-field>
            <input mdInput [(ngModel)]="name" placeholder="Default Account..." readonly/>
          </md-form-field>
        </div>
      </div>
    </div>
    </div>
    <!--<hr>-->

    <app-passphrase
      #passphraseComponent
      [words]="words"
      (wordsEmitter)="wordsFromEmitter($event)">
    </app-passphrase>

    <div *ngIf="!!errorString"
         [@slideDown] class="container alert alert-danger margin-top-5px">
      {{ errorString }}
    </div>

    <app-password
      label="RECOVERY PASSPHRASE"
      buttonText="RESTORE WALLET"
      [showStakeOnly]="false"
      [emitPassword]="true"
      (passwordEmitter)="passwordFromEmitter($event);nextStep()">
    </app-password>

    <div class="buttons margin-top-30px">
      <div class="row wallet-buttons-container">
        <div class="capitalize" fxLayout="column" fxLayoutWrap fxLayoutAlign="center center">
          <div fxFlex="70%" fxFlexOffset="0px">
          <button md-raised-button (click)="prevStep();restore()">
            Back
          </button>
          </div>
        </div>

      </div>
    </div>
    </div>
  </ng-template><!-- Step 2,3 & 4 -->

  <ng-template [ngIf]="step === 5">
    <div class="container"  fxFlex="100%" fxLayout="column" fxLayoutWra>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutWrap>
          <h4>Congratulations with your new wallet</h4>
          <div  fxFlexOffset="20px">
            <!-- TODO: Final text?!?! -->
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </div>
      </div>
    </div>

    <hr class="margin-top-60px">

    <div class="buttons text-center"  fxLayout="column" fxLayoutWrap fxLayoutAlign="center center">
      <div fxFlex="70%" fxFlexOffset="0px">
      <button md-raised-button  class="create-wallet-action-button" (click)="close()">close</button>
      </div>
    </div>
  </ng-template>
</div>
