<mat-dialog-title>
  Change Wallet Encryption Password
  <small class="wallet-name --smaller">
    <mat-icon fontIcon="part-cards"></mat-icon>
    {{ (walletName | async) }}
  </small>
</mat-dialog-title>

<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content>

  <div class="modal-highlight" [formGroup]="passwordForm">
    <p class="alert --warning --boxed">
      <span>
        A new backup of the wallet file for <code>{{ (walletName | async) }}</code> will need to be taken once this change has been completed!
      </span>
    </p>

    <p class="desc">Current password:</p>
    <mat-form-field class="password-field --boxed" appearance="fill">
      <mat-icon matPrefix fontIcon="part-lock"></mat-icon>
      <input matInput
              formControlName="current"
              [type]="showCurrent ? 'text' : 'password'"
              [appFocusTimeout]="true"
              placeholder="Enter your current password" />
      <button mat-button matSuffix class="small"
              (click)="showCurrent = !showCurrent"
              [attr.aria-label]="'Show password'" [attr.aria-pressed]="showCurrent"
              [matTooltip]="showCurrent ? 'Hide password' : 'Show password'" matTooltipPosition="after">
        <mat-icon [fontIcon]="showCurrent ? 'part-anon' : 'part-public'"></mat-icon>
      </button>
    </mat-form-field>

    <ng-container formGroupName="newPasswords">
      <p class="desc new-password">New Password:</p>
      <mat-form-field class="password-field --boxed" appearance="fill">
        <mat-icon matPrefix fontIcon="part-lock"></mat-icon>
        <input matInput
                formControlName="value"
                [type]="showNew ? 'text' : 'password'"
                placeholder="Enter new password" />
        <button mat-button matSuffix class="small"
                (click)="showNew = !showNew"
                [attr.aria-label]="'Show password'" [attr.aria-pressed]="showNew"
                [matTooltip]="showNew ? 'Hide password' : 'Show password'" matTooltipPosition="after">
          <mat-icon [fontIcon]="showNew ? 'part-anon' : 'part-public'"></mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="password-field --boxed" [class.ng-invalid]="newPasswordsForm.errors?.matchingField" appearance="fill">
        <mat-icon matPrefix fontIcon="part-lock"></mat-icon>
        <input matInput
                formControlName="confirm"
                [type]="showNew ? 'text' : 'password'"
                placeholder="Confirm your new password"/>
        <button mat-button matSuffix class="small"
                (click)="showNew = !showNew"
                [attr.aria-label]="'Show password'" [attr.aria-pressed]="showNew"
                [matTooltip]="showNew ? 'Hide password' : 'Show password'" matTooltipPosition="after">
          <mat-icon [fontIcon]="showNew ? 'part-anon' : 'part-public'"></mat-icon>
        </button>
      </mat-form-field>

      <div class="row">
        <p class="message --warning" *ngIf="passwordForm.errors?.unchanged && (passwordForm.touched || passwordForm.dirty); else confirmationError">New password should not be the same as the existing password</p>
        <ng-template #confirmationError><p class="message --warning" *ngIf="newPasswordsForm.errors?.matchingField && (newPasswordsForm.touched || newPasswordsForm.dirty)">Confirmation does not match</p></ng-template>
      </div>

    </ng-container>
  </div>

</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    <mat-icon fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="primary" [disabled]="passwordForm.invalid || passwordForm.disabled" appDebounceClick (debounceClick)="doAction()">
    <mat-icon fontIcon="part-archive"></mat-icon>
    Change Password
  </button>
</mat-dialog-actions>
