@import './src/assets/config'; // import shared colors etc.

mat-dialog-title {
  margin: 0 !important;
  .wallet-name {
    display: block;
    margin-top: 8px;
    color: var(--text-muted);
    font-weight: 400;
    .mat-icon {
      font-size: 14px;
      position: relative;
      top: 1px;
      margin-right: 3px;
    }
  }
}

.mat-dialog-content {
  width: 34rem;
  .alert {
    margin-top: 0;
    margin-bottom: 12px;
  }
  .modal-highlight {
    padding: 12px 24px 0;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .new-password {
    margin-top: 36px;
  }

  .row {
    margin-top: 12px;
    min-height: 2em;
  }
}
