<div [@flyInOut]="animationState" class="col-xs-12">

  <ng-template [ngIf]="step === 0">
    <div class="container" fxFlex="100%">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutWrap>
        <p><b>Welcome</b>, read the instructions very carefully!</p>
        <p>
          <b>Hot wallet:</b>
          Selecting this option will turn this computer into a staking node.
          It will be <b>unable to spend the coins</b> but is <b>allowed to stake them</b>. <br/>
        </p>
        <p>
          <b>Cold wallet:</b>
          Selecting this option will turn this computer into a cold storage node.
          It is <b>able to spend</b> the coins but is <b>not allowed to stake them</b>.<br/>
          Note: this will create a special transaction with a dust output of 0.00001 and a transaction fee.
        </p>
      </div>

      <hr class="hr-light">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap>
        <div class="button-row align-center">
          <button md-raised-button class="create-wallet-action-button" color="warn" (click)="create('hot');">
            Create hot wallet
          </button>
          <button md-raised-button class="create-wallet-action-button" color="primary" (click)="create('cold');">
            Create cold wallet
          </button>
        </div>
      </div>
    </div>
  </ng-template><!-- Step 0 -->

  <!-- BOTH WALLETS -->
  <ng-template [ngIf]="[1,3].includes(step)">
    <div class="container" fxFlex="100%">
      <app-unlockwallet
        (unlockEmitter)="unlockWallet($event)" [autoClose]="false">
      </app-unlockwallet>

      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap>
        <div class="button-row align-center">
          <button md-raised-button class="control" (click)="prevStep();">
            Back
          </button>
        </div>
      </div>
    </div>
  </ng-template><!-- Step 1,3 HOT (,and COLD) -->

  <ng-template [ngIf]="step === 2 && type === 'hot'">
    <div class="container" fxFlex="100%">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutWrap>
      <p>
        <b>Hot wallet:</b>
        Copy this and enter this into the cold wallet.
      </p>
    </div>

    <hr class="hr-light">

    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap>
        <div class="input-gap">
          <md-form-field>
          <input mdInput value="{{hotStakeAddress}}" disabled readonly/>
          </md-form-field>
        </div>
        <div class="input-gap">
          <span class="icon nc-icon nc-copy-2 cursor-pointer"
                tooltip="Copy address to clipboard"
                placement="top"
                container="body"
                ngxClipboard [cbContent]="hotStakeAddress">
          </span>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap>
        <div class="button-row align-center">
          <button md-raised-button color="primary" class="create-wallet-action-button" (click)="prevStep();">
            Back
          </button>
          <button md-raised-button color="warn" class="create-wallet-action-button" (click)="close()">
            Close
          </button>
        </div>
      </div>
    </div>
    </div>
  </ng-template><!-- /Step 2 HOT -->

  <ng-template [ngIf]="step === 2 && type === 'cold'">
    <div class="container" fxFlex="100%">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutWrap>
      <p>
        <b>Please enter the address generated by the hot wallet.</b>
      </p>
    </div>

    <hr class="hr-light">

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap>
      <div class="row wallet-buttons-container">
        <div class="center text-center">
          <md-form-field>
          <input mdInput class="form-control width-100" [(ngModel)]="coldStakeAddress"
                 placeholder="Enter the hot wallet address..."/>
          </md-form-field>
        </div>
      </div>
      <br/>

      <div class="button-row align-center">
        <button md-raised-button class="create-wallet-action-button"  color="primary" (click)="nextStep();">
          Enable cold staking
        </button>
      </div>
    </div>
    </div>
  </ng-template><!-- /Step 2 COLD -->

  <ng-template [ngIf]="step === 4 && type === 'cold'">
    <div  class="container" fxFlex="100%">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap>
        <b>{{finalMessage}}</b>
      </div>
    </div>
  </ng-template><!-- Step 4 COLD -->

</div>
