

  <!-- Step 0 & 2 -->
  <ng-template [ngIf]="[0,2].includes(step)">

    <app-unlockwallet (unlockEmitter)="unlockWallet($event)" [autoClose]="false">
    </app-unlockwallet>

    <!--div class="actions">
      <button mat-raised-button class="control" (click)="prevStep();">Back</button>
    </div-->

  </ng-template><!-- Step 0,2 -->


  <!-- Step 1 -->
  <ng-template [ngIf]="step === 1">
    <div mat-dialog-title class="title">Cold staking setup</div>

    <mat-dialog-content class="modal-content">
      <p>
        To activate, generate cold staking public key on your staking node and enter it below
      </p>
      <p class="info">
        Read more about <a href="https://particl.wiki/faq_part_coin_staking" target="_blank" matTooltip="Particl.wiki > Staking" tabindex="-1">(Cold) Staking</a> and check <a href="https://particl.wiki/tutorials#staking" target="_blank" matTooltip="Particl.wiki > Staking Tutorials" tabindex="-1">Cold staking tutorials</a> on Particl Wiki
      </p>

      <mat-form-field class="cold-stake-address">
        <input matInput [(ngModel)]="coldStakeAddress" placeholder="Enter the public key" #validation="ngModel" required />
      </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions fxLayoutAlign="space-between center">
      <button type="button" mat-button mat-dialog-close>
        <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
        Cancel
      </button>
      <!--button mat-raised-button color="warn" (click)="resetColdStakingAddress()"
              [disabled]="validation.errors && validation.errors.required">
        <mat-icon fontSet="partIcon" fontIcon="part-circle-minus"></mat-icon>
        Disable cold staking
      </button-->
      <button mat-raised-button color="primary" (click)="nextStep();"
              [disabled]="validation.errors && validation.errors.required">
        <mat-icon fontSet="partIcon" fontIcon="part-snowflake"></mat-icon>
        Enable cold staking
      </button>
    </mat-dialog-actions>

  </ng-template><!-- /Step 1 -->


  <!-- Step 3 -->
  <ng-template [ngIf]="step === 3">
    <div class="container">
      <div class="content">
        <div class="title">
          {{ finalMessage }}
        </div>
      </div><!-- .content -->
    </div><!-- .container -->
  </ng-template><!-- Step 3 -->
