<div [@flyInOut]="animationState">

  <!-- STEP 0: Choose hot/cold wallet -->
  <ng-template [ngIf]="step === 0">
    <div class="container">
      <div class="content">

        <div class="title">Cold Staking setup</div>
        <p class="warning">
            <md-icon fontSet="faIcon" fontIcon="fa-exclamation-triangle"></md-icon>
            Please, read these instructions very carefully!
        </p>
        <hr class="hr-light">

        <div fxLayout="row">

          <!-- Hot wallet -->
          <div class="hot-wallet" fxFlex="50">
            <h2 class="subtitle">Hot wallet</h2>
            <p>
              Selecting this option will turn this computer into a staking node.
            </p>
            <ul>
              <li>Hot wallet <b>can stake</b> coins</li>
              <li>Hot wallet <b>cannot spend</b> coins</li>
            </ul>
          </div><!-- .hot-wallet -->

          <!-- Cold wallet -->
          <div class="cold-wallet" fxFlex="50">
            <h2 class="subtitle">Cold wallet</h2>
            <p>
              Selecting this option will turn this computer into a cold storage node.
            </p>
            <ul>
              <li>Cold wallet <b>cannot stake</b> coins</li>
              <li>Cold wallet <b>can spend</b> coins</li>
            </ul>
            <small>
              <strong>Note:</strong> this will create a special transaction with a dust output of 0.00001 and a transaction fee.
            </small>
          </div><!-- .cold-wallet -->

        </div><!-- row -->
        <div fxLayout="row">

          <div class="hot-wallet" fxFlex="50">
            <div class="actions">
              <button md-raised-button color="warn" (click)="create('hot');">
                <md-icon fontSet="faIcon" fontIcon="fa-fire"></md-icon>
                Create hot wallet
              </button>
            </div><!-- .actions -->
          </div><!-- .hot-wallet -->

          <div class="cold-wallet" fxFlex="50">
            <div class="actions">
              <button md-raised-button color="primary" (click)="create('cold');">
                <md-icon fontSet="faIcon" fontIcon="fa-snowflake-o"></md-icon>
                Create cold wallet
              </button>
            </div><!-- .actions -->
          </div><!-- .cold-wallet -->
          
        </div><!-- row -->
      </div><!-- .content -->
    </div><!-- .container -->
  </ng-template>



  <!-- BOTH WALLETS -->
  <ng-template [ngIf]="[1,3].includes(step)">
    <div class="container">
      <div class="content">

        <app-unlockwallet (unlockEmitter)="unlockWallet($event)" [autoClose]="false">
        </app-unlockwallet>

        <!--div class="actions">
          <button md-raised-button class="control" (click)="prevStep();">Back</button>
        </div-->

      </div><!-- .content -->
    </div><!-- .container -->
  </ng-template><!-- Step 1,3 HOT (and COLD) -->


  
  <!-- Step 2 (HOT) -->
  <ng-template [ngIf]="step === 2 && type === 'hot'">
    <div class="container">
      <div class="content">
        <h2 class="title">Hot wallet setup</h2>
        <p>
          Copy this address and enter it into your cold wallet.
        </p>
        <p class="TODO">
          When you're finished, you can close this dialog safely.
        </p>
        
        <md-form-field class="hot-stake-address">
          <input mdInput value="{{hotStakeAddress}}" disabled readonly />
        </md-form-field>

        <div class="actions text-left">
          <button md-raised-button color="primary" ngxClipboard [cbContent]="hotStakeAddress">
            <md-icon fontSet="faIcon" fontIcon="fa-clipboard"></md-icon>
            <!--span class="icon nc-icon nc-copy-2 cursor-pointer" placement="top" container="body"></span-->
            Copy to clipboard
          </button>
        </div>

        <!--div class="actions">
          <button md-button (click)="prevStep();">Back</button>
          <button md-raised-button color="warn" (click)="close()">Close</button>
        </div-->
      </div><!-- .content -->
    </div><!-- .container -->
  </ng-template><!-- /Step 2 HOT -->


  <!-- Step 2 (COLD) -->
  <ng-template [ngIf]="step === 2 && type === 'cold'">
    <div class="container">
      <div class="content">
        <h2 class="title">Cold wallet setup</h2>
        <p>
          Please enter the address generated by the hot wallet.
        </p>

        <md-form-field class="cold-stake-address">
          <input mdInput [(ngModel)]="coldStakeAddress" placeholder="Enter the hot wallet address"/>
        </md-form-field>

        <div class="actions text-left">
          <button md-raised-button color="primary" (click)="nextStep();">Enable cold staking</button>
        </div>
          
      </div><!-- .content -->
    </div><!-- .container -->
  </ng-template><!-- /Step 2 COLD -->


  <!-- Step 4 (COLD) -->
  <ng-template [ngIf]="step === 4 && type === 'cold'">
    <div class="container">
      <div class="content">
        <div class="title">
          {{ finalMessage }}
        </div>
      </div><!-- .content -->
    </div><!-- .container -->
  </ng-template><!-- Step 4 COLD -->

</div>
