@import './src/assets/_config'; // import shared colors etc.

body {
  margin: 0 !important;
}

.logo {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background: var(--bg-black);
  img {
    width: 7vw;
    display: block;
    margin: 1.5vw 1.8vw;
  }
}

.container {
  @extend %tfx;
  --container-paddingV: 4rem;
  background: var(--bg);
  font-family: var(--font);
  height: calc(100vh - 2 * var(--container-paddingV));
  padding: var(--container-paddingV) 8vw;
  display: flex;
  flex-direction: column;
  .content {
    @extend %tfx;
    margin: auto 0;
    flex: 0 0 550px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
  }
}

.illustration {
  position: fixed;
  bottom: -100px;
  right: -133px;
  width: 47vw;
  img {
    width: 100%;
    max-width: 100%;
    pointer-events: none;
  }
}

.header-text {
  flex: 0 1 50px;
  // slide-from-top animation (from 0 opacity)
  animation: slide-from-top 0.6s 1;
  animation-delay: 0.4s;
  animation-fill-mode: forwards; // stay on the last "frame"
  opacity: 0;
  h1 {
    margin: 0 0 8px;
    font-weight: 600;
    font-size: 1.9rem;;
  }
  p {
    margin: 0;
    color: var(--text-muted);
    font-size: 1.05rem;
  }
}

section {
  &.starting {
    flex: 1 1 100%;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .mat-card {
      padding: 26px 32px;
    }
    .mat-spinner {
      float: left;
    }
    .text {
      display: inline-block;
      padding: 0 1.2rem;
      margin-top: -0.05rem;
      .title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 2px;
      }
      .desc {
        color: var(--text-muted);
      }
    }
  } // .loading
  &.apps {
    --app-margin: 16px;
    display: flex;
    flex: 1 1 100%;
    margin: 0 calc(-1 * var(--app-margin));
    // slide-from-bottom animation (from 0 opacity)
    animation: slide-from-bottom 0.6s 1;
    animation-delay: 0.4s;
    animation-fill-mode: forwards; // stay on the last "frame"
    opacity: 0;
    .app {
      @extend %tfx;
      @extend %mat-card;
      flex: 20%;
      max-width: 220px;
      margin: auto var(--app-margin);
      padding: 26px;
      text-align: left;
      color: var(--text);
      text-decoration: none;
      &:hover,
      &:focus {
        box-shadow: 0 1px 0 var(--bg-muted), 0 3px 16px -4px hsla(var(--text-hsl), 0.3) !important;
      }
      .mat-icon {
        font-size: 22px;
        &.part-stake {
          color: var(--color-primary);
        }
        &.part-bag {
          color: var(--color-secondary);
        }
        &.part-swap {
          color: var(--color-tertiary);
        }
      }
      .name {
        margin: 14px 0 8px;
      }
      .desc {
        margin: 0;
        color: var(--text-muted);
      }
    }
  } // .apps
}


.version {
  flex: 0 1 24px;
  margin: 0;
  color: hsla(var(--text-muted-hsl), 0.6);
}

@keyframes slide-from-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
  }
}





// ################ REMOVE ##################

.container {
  .content {
    flex: 0 0 300px;
  }
  section.apps { display: none; }
  section.starting { display: flex; }
  &.loaded {
    .content { flex: 0 0 550px; }
    section.starting { display: none; }
    section.apps { display: flex; }
  }
}
