<div class="splash-logo">
  <img src="./assets/particl-logo.svg" alt="Particl Project">
</div>

<div class="splash-container">
  <div class="content">

    <div class="header-text">
      <h1>Welcome to Particl</h1>
      <p>Embrace your digital sovereignty and thrive on a fair level playing field.</p>
    </div>

    <section>

      <div class="apps">

        <a class="app item" routerLink="/main/wallet">
          <mat-icon fontIcon="part-stake" class="icon"></mat-icon>
          <h2 class="name">Wallet</h2>
          <p class="desc">Send, receive and manage PART coins</p>
        </a>

        <a class="app item" routerLink="/main/market">
          <mat-icon fontIcon="part-bag" class="icon"></mat-icon>
          <h2 class="name">Marketplace</h2>
          <p class="desc">Buy and sell on the most private marketplace</p>
        </a>

        <!--a class="app item" routerLink="/main/exchange">
          <mat-icon fontIcon="part-swap" class="icon"></mat-icon>
          <h2 class="name">Swap</h2>
          <p class="desc">Swap your crypto to and from PART effortlessly</p>
        </a-->

        <a class="app item" routerLink="/main/governance">
          <mat-icon fontIcon="part-vote" class="icon"></mat-icon>
          <h2 class="name">Governance</h2>
          <p class="desc">On-chain community governance proposals and voting results</p>
        </a>

      </div><!-- .apps -->

      <div class="starting">
        <mat-card>
          <mat-spinner color="accent" class="small"></mat-spinner>
          <div class="text">
            <div class="title">Starting</div>
            <div class="desc">Application ready&hellip;</div>
          </div>
        </mat-card>
      </div><!-- .starting -->

    </section>

    <div class="messages">
      <div fxFlex="65" *ngIf="(motd.text.length > 0)">
        <p>{{ motd.text }}</p>
        <footer *ngIf="(motd.author.length > 0)" class="author">&mdash; {{ motd.author }}</footer>
      </div>
    </div>

    <p class="version">
      Particl Desktop {{ clientVersion }}
    </p>

  </div>
</div><!-- .container -->

<div class="splash-illustration">
  <img src="./assets/images/illustrations/particl-market_animated.svg" alt="">
</div>
