<div class="splash-logo">
  <img src="./assets/particl-logo.svg" alt="Particl Project">
</div>

<div class="splash-container">
  <div class="content">

    <div class="header-text">
      <h1>Welcome to Particl</h1>
      <p>Embrace your digital sovereignty and thrive on a fair level playing field.</p>
    </div>

    <section>

      <div class="apps">

        <ng-container *ngFor="let app of appmodules">
          <a  *appVar="(app.activatorObs | async) as linkIsActive"
            class="app item"
            [ngClass]="linkIsActive ? 'active' : 'disabled'"
            [routerLink]="linkIsActive ? app.route : null"
          >
            <mat-icon [fontIcon]="app.icon" class="icon"></mat-icon>
            <h2 class="name">{{ app.title }}</h2>
              <p class="desc">{{ app.desc }}</p>
          </a>
        </ng-container>

      </div><!-- .apps -->
    </section>

    <div class="status" fxLayout fxLayoutAlign="start center" *appVar="(particlCoreStartedIndicator | async) as particlStartedStatus">
      <p *appVar="(particlCoreStatus | async) as statusMsg">
        <small>
          <mat-icon
            [fontIcon]="particlStartedStatus === RunningStatuses.STARTED ? 'part-globe' : (particlStartedStatus === RunningStatuses.STOPPED ? 'part-alert' : 'part-circle-info')"
            [color]="particlStartedStatus === RunningStatuses.STARTED ? 'primary' : 'accent' "
          ></mat-icon>
        </small> &nbsp; {{ statusMsg || 'Particl Core not running' }}</p>
    </div>

    <p class="version">
      Particl Desktop {{ clientVersion$ | async }}
    </p>

    <div class="messages">
      <div fxFlex="65" *ngIf="(motd.text.length > 0)">
        <p>{{ motd.text }}</p>
        <footer *ngIf="(motd.author.length > 0)" class="author">&mdash; {{ motd.author }}</footer>
      </div>
    </div>

  </div>
</div><!-- .container -->

<div class="splash-illustration">
  <img src="./assets/images/illustrations/particl-market_animated.svg" alt="">
</div>
