<mat-dialog-title>Remove Label</mat-dialog-title>

<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content>

  <p class="lead">
    Are you certain you want to remove the label for this address?
  </p>

  <div class="address-info">
    <div class="label">{{ data.label }}</div>
    <div class="string">{{ data.address }}</div>
  </div>

</mat-dialog-content>


<mat-dialog-actions>

  <button mat-button mat-dialog-close>
    <mat-icon fontIcon="part-cross"></mat-icon>
    Cancel
  </button>

  <button mat-raised-button color="warn" appDebounceClick (click)="confirmAction()">
    <mat-icon fontIcon="part-circle-remove"></mat-icon>
    Yes, remove
  </button>

</mat-dialog-actions>
