@import "./src/assets/_config"; // import shared colors etc.

.row {
  margin-bottom: var(--paddingV);
}

// ------ GALLERY ------ //

.photos {
  --photo-margin: 0.5%;
  .drag-n-drop {
    border: 2px dashed var(--bg-muted);
    border-radius: 4px;
    background: var(--bg);
    margin-bottom: 16px;
    padding: 30px 24px;
    text-align: center;
    .file-input {
      @extend %hide;
    }
    p {
      color: var(--text-muted);
      margin: 6px 0 0;
    }
  }
  .gallery {
    margin: 0 calc(-1 * var(--photo-margin));
    display: flex;
    flex-wrap: wrap;
  }
  .photo-wrapper {
    --photos-per-row: 3;
    @include break(l) {
      --photos-per-row: 4;
    }
    @include break(xl) {
      --photos-per-row: 5;
    }
    --margins-per-row: var(--photos-per-row) * var(--photo-margin) * 2;
    --photo-width: calc(
      (100% - var(--margins-per-row)) / var(--photos-per-row)
    );
    width: var(--photo-width);
    position: relative;
    margin: var(--photo-margin);
    background: var(--bg);
    height: 0;
    padding-top: var(--photo-width); // lock aspect ratio to 1:1
    overflow: hidden;
    &:hover .icons {
      opacity: 1;
    }
    &.featured {
      box-shadow: 0 0 0 2px var(--color-primary);
    }
    img {
      @extend %image-center-cover;
      position: absolute;
      top: 0;
    }
    .icons {
      @extend %tfx;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      .mat-icon {
        @extend %tfx;
        background: var(--color-white);
        border-radius: 50%;
        box-shadow: 0 0 6px hsla(var(--bg-black-hsl, 0.25));
        padding: 6px;
        cursor: pointer;
        &:hover {
          &.delete {
            color: var(--color-alert);
          }
          &.featured {
            color: var(--color-primary);
          }
        }
      }
    }
  }
} // << .photos

.publish-to {
  .scrollable {
    margin: 18px -24px;
    max-height: 160px;
    overflow-y: scroll;
    border-top: 1px dashed var(--bg-muted);
    border-bottom: 1px dashed var(--bg-muted);
    background: hsla(var(--bg-hsl), 0.5);
    padding: 10px 0;
    .mat-checkbox {
      &.mat-checkbox-checked {
        font-weight: 500;
      }
      .mat-checkbox-layout {
        padding: 3px 24px;
      }
    }
  }
  strong {
    color: var(--text);
    font-weight: 500;
  }
}

// ------ PRICING ------ //

// "≈" in pricing (PART ≈ fiat)
.asymp {
  border-bottom: 1px solid var(--bg-muted);
  padding: 0 0 1.35em;
  font-size: 16px;
  color: var(--text-muted);
}

.shipping {
  margin-bottom: 0.5em;
  &.#{--with-error} {
    border-bottom: 2px solid var(--color-alert);
  }
}

// ------ PUBLISH OPTIONS ------ //

.publishing-settings {
  margin-bottom: 35px;
  .header {
    min-height: 80px;
    max-height: 80px;
    .title {
      margin-left: 12px;
      h3 {
        font-weight: 500;
        margin: 0 0 3px;
      }
      .help-text {
        margin: 0;
      }
    }
  }
  .publish-options {
    // expanded content
    background: hsla(var(--bg-hsl), 0.5);
    border-top: 1px dashed var(--bg-muted);
    .estimate-fee {
      padding: 0 0 16px;
    }
    .estimated-fee {
      font-size: 13px;
      font-weight: 400;
      line-height: 1.4;
      color: var(--text-muted);
      margin: 0 0 0 12px;
      .fee {
        font-weight: 500;
        color: var(--text);
      }
    }
  }
}

.mat-option {
  img.image {
    // photos in Market switcher
    --size: 24px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: relative;
    top: 7px;
    margin-right: 4px;
  }
}
