@import './src/assets/_config'; // import shared colors etc.

// ------ LAYOUT ------ //

.image {
  padding: 13px 0 0 13px;
}

// ALPHA WARNING
p.alpha {
  max-width: 460px;
  margin: 0 -24px 12px !important;
}
