<div class="left">

  <button mat-icon-button type="button" class="mat-paginator-navigation-previous"
    (click)="firstPage()"
    [disabled]="!hasPreviousPage()">
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-previous-double"></mat-icon>
  </button>

  <button mat-icon-button type="button" class="mat-paginator-navigation-previous"
    (click)="previousPage()"
    [disabled]="!hasPreviousPage()">
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-previous-single"></mat-icon>
  </button>

</div><!-- .left -->


<div class="mat-paginator-range-label">
  {{getRangeLabel(pageIndex, pageSize, length)}}
</div>

<div class="mat-paginator-page-size">
  <div class="mat-paginator-page-size-label">
    {{intl.itemsPerpageLabel}}
  </div>
  <mat-form-field *ngIf="pageSizeOptions.length> 1"
    class="mat-paginator-page-size-select">
    <mat-select [value]="pageSize" [aria-label]="intl.itemsPerPageLabel"
      (selectionChange)="_changePageSize($event.value)">
      <mat-option *ngFor="let pageSizeOption of pageSizeOptions" [value]="pageSizeOption">
        {{pageSizeOption}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  &ensp;per page
  <div *ngIf="pageSizeOptions.length <= 1">{{pageSize}}</div>
</div>


<div class="right">

  <button mat-icon-button type="button" class="mat-paginator-navigation-next"
    (click)="nextPage()"
    [disabled]="!hasNextPage()">
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-next-single"></mat-icon>
  </button>

  <button mat-icon-button type="button" class="mat-paginator-navigation-next"
    (click)="lastPage()"
    [disabled]="!hasNextPage()">
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-next-double"></mat-icon>
  </button>

</div><!-- .right -->






