<div mat-dialog-title class="title">Reject Bid</div>


<mat-dialog-content class="modal-content" fxLayout>

  <div class="image" fxFlex="0 0 120px">
    <img src="./assets/images/market/reject-bid.svg">
  </div>

  <div class="text" fxFlex="1 1 350px">
    <p class="lead">
      Please confirm that this bid should be rejected
    </p>

    <mat-form-field class="full-width">
      <mat-select [(ngModel)]="selectedMessage" value="{{messages[selectedMessage]}}" placeholder="Reason for rejection">
        <mat-option *ngFor="let message of messages" [value]="message.key">
          {{message.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <p class="widget-help">
      By rejecting this bid, the Buyer will not be able to purchase your item.
    </p>
  </div>

</mat-dialog-content>


<mat-dialog-actions fxLayoutAlign="space-between center">
  <button mat-button mat-dialog-close>
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="warn" appDebounceClick (debounceClick)="confirm()" [disabled]="processing">
    <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
    Reject Bid
  </button>
</mat-dialog-actions>
