<div mat-dialog-title>Reject bid</div>
<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content class="dialog-content">
  <div class="row">

    <div class="image">
      <img class="illustration" src="./assets/app-market/illustrations/reject-cancel-bid.svg" alt="Reject bid">
    </div>

    <div class="text">
      <p class="lead">
        Are you sure you want to reject this bid?
      </p>
      <p class="help-text">
        By rejecting this bid, the Buyer will not be able to purchase your item.
      </p>
    </div>

  </div>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    <mat-icon fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="warn">
    <mat-icon fontIcon="part-circle-remove"></mat-icon>
    Yes, reject bid
  </button>
</mat-dialog-actions>
