<mat-dialog-title>Reject bid</mat-dialog-title>
<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content>
  <div class="row">

    <div class="image">
      <img class="illustration" src="./assets/app-market/illustrations/reject-cancel-bid.svg" alt="Reject bid">
    </div>

    <div class="text">
      <p class="lead">
        Are you sure you want to reject this bid?
      </p>
      <mat-form-field appearance="fill">
        <mat-select placeholder="Rejection reason (optional)" [formControl]="inputReason">
          <mat-option *ngFor="let reason of reasonOptions" [value]="reason.key">
            {{ reason.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p class="help-text">
        By rejecting this bid, the Buyer will not be able to purchase your item.
      </p>
    </div>

  </div>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    <mat-icon fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="warn" appDebounceClick (debounceClick)="doAction()">
    <mat-icon fontIcon="part-circle-remove"></mat-icon>
    Yes, reject bid
  </button>
</mat-dialog-actions>
