
<app-passphrase 
  #passphraseComponent
  
  [password]="password"
  [readOnly]="true"
  (seedImportedSuccesfulEmitter)="next()">
  </app-passphrase>
<hr>

<div class="buttons">
  <div class="row col-xs-4 col-xs-offset-4">
    <div class="col-xs-6">
      <button class="control" style="width: 100%" (click)="back()">back</button>
    </div>
    <div class="col-xs-6">
      <button class="control" style="width: 100%" (click)="passphraseComponent.verifySeed()">next step</button>
    </div>
  </div>
</div>
