<app-header>
  <div class="tab-bar" fxLayout fxLayoutAlign="space-between stretch">
    <mat-tab-group
      animationDuration="0ms"
      [selectedIndex]="selectedTab.value"
      (selectedIndexChange)="selectedTab.setValue($event)">
      <mat-tab *ngFor="let tab of tabs">
        <ng-template mat-tab-label>
          <mat-icon fontSet="partIcon" [fontIcon]="tab.icon"></mat-icon>
          {{ tab.title }}
        </ng-template>
      </mat-tab>
    </mat-tab-group>

    <div class="buttons">
      <button mat-button (click)="showAdvanced = !showAdvanced" class="small advanced-options" [disabled]="sourceType.value !== 'anon'">
        <mat-icon fontSet="partIcon" fontIcon="{{ (showAdvanced) ? 'part-circle-minus': 'part-circle-plus' }}"></mat-icon>
        <span>Advanced options</span>
      </button>
    </div>

  </div><!-- .tab-bar -->
</app-header>

<div class="container-block with-tab-bar">
  <ng-container *ngTemplateOutlet="currentTabType === 'send' ? sendHeader : transferHeader"></ng-container>

  <div fxLayout="row" fxLayoutGap="35px">

    <div class="from-box" fxFlex="0 0 320px">
      <div class="sticky">
        <h2 class="section-title">Pay from</h2>
        <mat-card>

          <mat-radio-group class="from-balance-type block-radio" name="sourceType" [formControl]="sourceType"
                            fxLayout="column" fxLayoutGap="10px">
            <mat-radio-button class="balance" *ngFor="let option of selectorOptions" [value]="option.value" color="primary" fxFlex >
              <div class="name">{{ option.name }}</div>
              <div class="desc">Available balance:<span class="amount">{{ option.displayedBalance }}</span>
                <mat-icon *ngIf="option.help.length > 0" fontSet="partIcon" fontIcon="part-circle-question" class="help-icon"
                          [matTooltip]="option.help"></mat-icon>
              </div>
            </mat-radio-button>
          </mat-radio-group>

          <p class="widget-help">
            <ng-container *ngIf="sourceType.value === 'part'">
              In public transactions, everything is visible on the blockchain &ndash; transaction amount, sender and receiver addresses.
            </ng-container>
            <ng-container *ngIf="sourceType.value === 'blind'">
              Blinded transactions hide transaction amounts, but the sender and receiver addresses are still visible.
            </ng-container>
            <ng-container *ngIf="sourceType.value === 'anon'">
              Anon transaction offer the highest privacy &ndash; transaction amounts and not even sender and receiver
              addresses are publicly visible. The higher privacy level is, the larger fee needs to be paid. Advanced users can further adjust the number of ring signatures.
            </ng-container>
          </p>

          <div *ngIf="sourceType.value === 'anon' && showAdvanced" class="advanced">
            <div class="subtitle">Privacy level <small>(no. of ring sigs)</small></div>
            <div class="privacy-level">
              <div class="privacy-labels" fxLayout="row" fxLayoutAlign="space-between center">
                <span
                  fxFlex="0 0 50px"
                  class="privacy-label low"
                  (click)="ringSize.setValue(4)"
                  matTooltip="Set low privacy"
                  matTooltipPosition="below">Low
                </span>
                <span
                  fxFlex="0 0 50px"
                  class="privacy-label high"
                  (click)="ringSize.setValue(16)"
                  matTooltip="Set high privacy"
                  matTooltipPosition="below">High
                </span>
                <span
                  fxFlex="0 0 50px"
                  class="privacy-label highest"
                  (click)="ringSize.setValue(32)"
                  matTooltip="Set highest privacy"
                  matTooltipPosition="below">Highest
                </span>
              </div>

              <mat-slider
                thumbLabel
                color="primary"
                [min]="minRingSize"
                (change)="ringSize.setValue($event.value)"
                [max]="maxRingSize"
                [value]="ringSize.value">
              </mat-slider>

              <button
                (click)="ringSize.setValue(8)"
                mat-button
                class="small"
                matTooltip="Set default, recommended privacy level">
                <mat-icon fontSet="partIcon" fontIcon="part-anon"></mat-icon>
                Auto privacy
              </button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>


    <div class="to-box" fxFlex="1 1 100%">
      <form name="walletSendForm" [formGroup]="targetForm">

        <ng-container *ngIf="currentTabType === 'transfer'">
          <h2 class="section-title">
            Convert to
          </h2>

          <mat-card class="section to-balance-type">
            <mat-radio-group class="to-balance-type block-radio" name="targetType" formControlName="targetType"
                fxLayout="column" fxLayoutGap="10px">
              <mat-radio-button class="balance" color="primary" *ngFor="let option of selectorOptions" [value]="option.value" [disabled]="option.value === sourceType.value">
                <div class="name">{{ option.name }}</div>
                <div class="desc">Available balance:<span class="amount">{{ option.displayedBalance }}</span>
                  <mat-icon *ngIf="option.help.length > 0" fontSet="partIcon" fontIcon="part-circle-question" class="help-icon"
                            [matTooltip]="option.help"></mat-icon>
                </div>
              </mat-radio-button>
            </mat-radio-group>
            <p class="widget-help">
              Balance transfer helps you convert your PART between Public and Private balances.
            </p>
          </mat-card>
        </ng-container>


        <ng-container *ngIf="currentTabType === 'send'">

          <h2 class="section-title">
            Pay to
          </h2>
          <mat-card class="pay-to">
            <!-- Receiver's address/label -->
            <div class="section receiver-address">
              <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
                <mat-form-field fxFlex="1 1 100%" class="full-width larger">
                  <input matInput type="text" formControlName="address"
                        [class.verify-success]="address.valid"
                        [class.verify-error]="!address.valid"
                        placeholder="Receiver's address"/>
                </mat-form-field>
                <span fxFlex="0 0 16px">
                  <mat-icon class="cursor-pointer" matTooltip="Pick from Address Book" (click)="openAddressLookup()"
                            fontSet="partIcon" fontIcon="part-people"></mat-icon>
                </span>
                <span fxFlex="0 0 16px">
                  <mat-icon class="cursor-pointer" matTooltip="Clear all" (click)="clearSendInputs()"
                            color="warn" fontSet="partIcon" fontIcon="part-clear-all"></mat-icon>
                </span>
              </div>
              <mat-form-field class="full-width larger no-top-padding" floatLabel="never">
                <input matInput type="text" formControlName="addressLabel" placeholder="Receiver's name (optional)">
              </mat-form-field>
              <p class="widget-help">
                You can save Receiver's address to your Address book by labeling it here.
              </p>
            </div><!-- .receiver-address.section -->

            <!-- Narrations -->
            <div class="section narration advanced" *ngIf="showAdvanced && sourceType.value === 'anon'">
              <mat-form-field class="full-width larger" floatLabel="never">
                <input matInput type="text" formControlName="narration" placeholder="Narration (optional)" maxlength="24">
                <mat-hint align="end">{{narration.value.length}} / 24</mat-hint>
              </mat-form-field>
              <p class="widget-help">
                Send a short note with your payment. Keep in mind that when sending to Public addresses, the narrations will be recorded and publicly visible on the blockchain. Blind & Anon transactions make narrations visible only for Sender and Receiver.
              </p>
            </div><!-- .narration.section -->
          </mat-card>

        </ng-container>


        <!-- Send amount & buttons -->
        <h2 class="section-title">Amount & confirmation</h2>
        <mat-card class="send-amount" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
          <mat-form-field fxFlex="0 0 150px">
            <!-- Send amount -->
            <input matInput type="text" formControlName="amount" placeholder="Amount to send"
                  [class.verify-sucess]="amount.valid"
                  [class.verify-error]="amount.invalid">
          </mat-form-field>
          <mat-checkbox #sendall formControlName="isSendAll" class="send-all" color="warn">
            Send All
          </mat-checkbox>

          <!-- Send buttons -->
          <div class="actions" fxFlex="1 1 100%">
            <button mat-raised-button color="primary" class="validate" appDebounceClick (debounceClick)="onSubmit()" [disabled]="targetForm.invalid || isProcessing">
              <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
              Make payment
            </button>
          </div><!-- .actions -->
        </mat-card><!-- .send-amount -->


      </form><!-- walletSendForm -->
    </div><!-- .to-box -->

  </div>
</div>


<ng-template #sendHeader>
  <app-page-intro [childPageAlias]="'send-send'">
    <ng-container page-title>Send payment</ng-container>
    <ng-container page-content>
      Send payments to anyone.<br>
      You can adjust the level of privacy of your transactions by selecting balances listed in "Pay from".
    </ng-container>
    <ng-container page-help>
      What are the differences between Blind and Anon balances? How do they affect my privacy? Learn more on Particl Wiki:
      <a mat-button  target = "_blank" href="https://particl.wiki/learn/transaction-types" class="small">
        <mat-icon fontSet="partIcon" fontIcon="part-wikipedia"></mat-icon>
        Currency &amp; transaction types
      </a>
    </ng-container>
  </app-page-intro>
</ng-template>


<ng-template #transferHeader>
  <app-page-intro [childPageAlias]="'send-transfer'">
    <ng-container page-title>Convert balances</ng-container>
    <ng-container page-content>
      Convert your coins between public and private balances.<br>
      To increase your level of privacy, it's recommended to always keep some of your coins in private balances (Blind &amp; Anon).
    </ng-container>
    <ng-container page-help>
      What are the differences between Blind and Anon balances? How do they affect my privacy? Learn more on Particl Wiki:
      <a mat-button  target = "_blank" href="https://particl.wiki/learn/transaction-types" class="small">
        <mat-icon fontSet="partIcon" fontIcon="part-wikipedia"></mat-icon>
        Currency &amp; transaction types
      </a>
    </ng-container>
  </app-page-intro>
</ng-template>
