<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h4>Please enter <b>your password</b> to unlock your wallet.</h4>
    </div>
  </div>
</div>

<hr style="margin-top: 100px;">

<div class="container">
  <div class="col-md-3 text-right">
    <label>YOUR WALLET PASSWORD</label>
  </div>
  <div class="col-md-7">
    <div class="col-md-12">
      <input type="password" name="password" class="form-control" style="width: 100%;"/>
      <br>
      <input type="checkbox" name="showpass" value="password" id="wallet-password"/>
      <label for="wallet-password">SHOW PASSWORD</label>
    </div>
  </div>
  <div class="col-md-2">
    <button type="button" class="control">UNLOCK WALLET</button>
  </div>
</div>
<hr>
