<main-layout-default>
  <ng-container ngProjectAs="menu">

    <mat-expansion-panel
      class="instance-switcher no-padding arrow-colored"
      (afterExpand)="openedWalletSelector()"
      (afterCollapse)="closedWalletSelector()"
    >
      <mat-expansion-panel-header class="switcher-toggle">
        <div class="item">
          <div class="icon">{{ currentWallet.initial }}</div>
          <div class="text">
            <div class="name">{{ currentWallet.displayName }}</div>
          </div>
        </div>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="options">
          <a class="item" *ngFor="let wallet of otherWallets" (click)="navigateToWallet(wallet)" (keyup.enter)="navigateToWallet(wallet)" tabindex="0">
            <div class="icon">{{ wallet.initial }}</div>
            <div class="text">
              <div class="name">{{ wallet.displayName }}</div>
              <div class="value">Switch wallet</div>
            </div>
          </a>
        </div>
      </ng-template>

    </mat-expansion-panel><!-- .instance-switcher -->

    <div id="wallet-menu-portal-container" class="menu-items">
      <wallet-menu-actions>
        <ng-container *ngFor="let menuItem of menu">
          <a class="menu-item" routerLinkActive="active" [routerLink]="menuItem.path">
            <ng-container *ngIf="menuItem.icon.length > 0">
              <mat-icon [fontIcon]="menuItem.icon"></mat-icon>
            </ng-container>
            <span class="text">{{menuItem.text}}</span>
          </a>
        </ng-container>
      </wallet-menu-actions>
    </div>

  </ng-container>

  <main-topbar></main-topbar>

  <router-outlet></router-outlet>
</main-layout-default>
