<app-grid>
  <div class="grid-row grid-header" *ngIf="display.header">
    <div class="cell-date" *ngIf="display.date">date</div>
    <div class="cell-category" *ngIf="display.category">category</div>
    <div class="cell-senderAddress" *ngIf="display.senderAddress">address</div>
    <div class="cell-txid" *ngIf="display.txid">txid</div>
    <div class="cell-blockIndex" *ngIf="display.blockIndex">blockindex</div>
    <div class="cell-confirmations" *ngIf="display.confirmations">confirmations</div>
    <div class="cell-amount" *ngIf="display.amount">amount</div>
  </div>
  <ng-container *ngFor="let tx of txService.txs">
    <div class="grid-row">
      <div class="grid-cell cell-date" *ngIf="display.date">
        <!--<span class="inline-header"><span class="icon nc-icon nc-time-3"></span></span>-->
        <span>{{ tx.getDate() }}</span>
      </div>
      <div class="grid-cell cell-category" *ngIf="display.category" [ngSwitch]="tx.category">
        <span *ngSwitchCase="'stake'" class="inline-tag text-uppercase">
          Stake
          <span class="icon fa fa-plus color-green"></span>
        </span>
        <span *ngSwitchCase="'orphaned_stake'" class="inline-tag text-uppercase">
          Orphan
          <span class="icon fa fa-remove color-red"></span>
        </span>
        <span *ngSwitchCase="'send'" class="inline-tag text-uppercase">
          Send
          <span class="icon fa fa-arrow-right color-red"></span>
        </span>
        <span *ngSwitchCase="'receive'" class="inline-tag text-uppercase">
          Received
          <span class="icon fa fa-arrow-left"></span>
        </span>
      </div>
      <div class="grid-cell cell-senderAddress" *ngIf="display.senderAddress">
        <span>{{ tx.getAddress() }}</span>
      </div>
      <div class="grid-cell cell-txid" *ngIf="display.txid">
        <span class="inline-header">TxId</span>
        <span>{{ tx.txid }}</span>
      </div>
      <div class="grid-cell cell-blockIndex" *ngIf="display.blockIndex">
        <span class="inline-header">Blockindex</span>
        <span>{{ tx.blockindex }}</span>
      </div>
      <div class="grid-cell cell-confirmations" *ngIf="display.confirmations">
        <span class="inline-header">Confirmations</span>
        <span>{{ tx.confirmations }}</span>
      </div>
      <div class="grid-cell cell-amount" *ngIf="display.amount">
        <span class="inline-header">Amount</span>
        <span>{{ tx.getAmount() }} PART</span>
      </div>
      <div class="grid-cell cell-expand" *ngIf="display.expand">
        <span class="icon nc-icon nc-simple-add" (click)="showExpandedTransactionDetail(tx.txid + tx.getAmount() + tx.category)"></span>
      </div>
    </div>

    <div class="cell-expanded-row" *ngIf="getExpandedTransactionID() === (tx.txid + tx.getAmount() + tx.category)" class="background-hack">
      <div [attr.colspan]="getColumnCount()" class="padding-reset-hack border-reset-hack">
        <table class="details-table">

          <tr>
            <td>
              <b>Status:</b>
            </td>
            <td>
              {{tx.confirmations}} confirmations
            </td>
            <td>
              <b>Transaction ID:</b>
            </td>
            <td>
              {{tx.txid}}
            </td>
          </tr>

          <tr>
            <td>
              <b>Date:</b>
            </td>
            <td>
              {{tx.getDate()}}
            </td>
            <td>
              <b>Transaction fee:</b>
            </td>
            <td>
              {{tx.fee ? tx.fee : 0}} PART
            </td>
          </tr>

          <tr>
            <td>
              <b>To:</b>
            </td>
            <td>
              {{tx.getAddress()}}
            </td>
            <td>
              <b>Net amount:</b>
            </td>
            <td>
              {{tx.fee ? tx.getAmount() - tx.fee : 0}} PART
            </td>
          </tr>
          <tr>
            <td *ngIf="tx.category === 'stake' || tx.category === 'receive' || tx.category === 'coinbase' || tx.category === 'orphaned_stake'">
              <b>Credit:</b>
            </td>
            <td *ngIf="tx.category === 'send'">
              <b>Debit:</b>
            </td>
            <td>
              {{tx.getAmount()}} PART
            </td>
          </tr>
        </table>
      </div>
    </div>

  </ng-container>
</app-grid>

<pagination *ngIf="display.pagination"
  [boundaryLinks]="true"
  (pageChanged)="pageChanged($event)"
  [totalItems]="txService.txCount"
  [maxSize]="5" [rotate]="false"
  [(ngModel)]="txService.currentPage"
  class="pagination-sm center"
  previousText="&lsaquo;" nextText="&rsaquo;"
  firstText="&laquo;" lastText="&raquo;"
  [itemsPerPage]="txService.MAX_TXS_PER_PAGE" >
</pagination>
