.btn-round-lg{
	border-radius: 22.5px;
}
.btn-round{
	border-radius: 17px;
}
.btn-round-sm{
	border-radius: 15px;
}
.btn-round-xs{
	border-radius: 11px;
	padding-left: 10px;
	padding-right: 10px;
}

.category-button {
	padding: 10px;
}

.category-button > .icon-sign {
	margin-left: 5px;
}

app-table {
	
}
