<app-table>
  <tr *ngIf="displayHeader">
    <th *ngIf="displayCategory">category</th>
    <th *ngIf="displayDate">date</th>
    <th *ngIf="displaySenderAddress">address</th>
    <th *ngIf="displayTxId">txid</th>
    <th *ngIf="displayAmount">amount</th>
    <th *ngIf="displayBlockIndex">blockindex</th>
    <th *ngIf="displayConfirmations">confirmations</th>
  </tr> 
  <tr *ngFor="let tx of txService.txs">
     <td *ngIf="displayDate">
      <span class="inline-header"><span class="icon fa fa-clock-o"></span></span>
      <span>{{ tx.getDate() }}</span>
    </td>
    <td *ngIf="displayCategory" [ngSwitch]="tx.category">
      <span *ngSwitchCase="'stake'" class="inline-tag text-uppercase">
        Stake
        <span class="icon fa fa-plus color-green"></span>
      </span>
      <span *ngSwitchCase="'orphaned_stake'" class="inline-tag text-uppercase">
        Orphan
        <span class="icon fa fa-remove color-red"></span>
      </span>
      <span *ngSwitchCase="'send'" class="inline-tag text-uppercase">
        Send
        <span class="icon fa fa-arrow-right color-red"></span>
      </span>
      <span *ngSwitchCase="'received'" class="inline-tag text-uppercase">
        Received
        <span class="icon fa fa-arrow-left"></span>
      </span>
    </td>
    <td *ngIf="displaySenderAddress">
      <span><b>{{ tx.address }}</b></span>
    </td>
    <td *ngIf="displayTxId">
      <span class="inline-header">TxId</span>
      <span>{{ tx.txid }}</span>
    </td>
    <td *ngIf="displayBlockIndex">
      <span class="inline-header">Blockindex</span>
      <span>{{ tx.blockindex }}</span>
    </td>
    <td *ngIf="displayConfirmations">
      <span class="inline-header">Confirmations</span>
      <span>{{ tx.confirmations }}</span>
    </td>
    <td *ngIf="displayAmount">
      <span>{{ tx.amount }} PART</span>
    </td>	
	 <td>
        <span class="icon fa fa-plus"></span>
    </td>
	
  </tr>
</app-table>

<pagination *ngIf="displayPagination" [boundaryLinks]="true" (pageChanged)="pageChanged($event)" [totalItems]="txService.txCount" [maxSize]="5" [rotate]="false" [(ngModel)]="txService.currentPage" class="pagination-sm center"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [itemsPerPage]="txService.MAX_TXS_PER_PAGE" ></pagination>
