<app-grid>
  <div class="grid-row grid-header" *ngIf="display.header">
    <div class="cell-date" *ngIf="display.date">date</div>
    <div class="cell-category" *ngIf="display.category">category</div>
    <div class="cell-senderAddress" *ngIf="display.senderAddress">address</div>
    <div class="cell-txid" *ngIf="display.txid">txid</div>
    <div class="cell-blockIndex" *ngIf="display.blockIndex">blockindex</div>
    <div class="cell-confirmations" *ngIf="display.confirmations">confirmations</div>
    <div class="cell-amount" *ngIf="display.amount">amount</div>
  </div>
  <ng-container *ngFor="let tx of txService.txs let i=index">
    <md-expansion-panel class="history-list" *ngIf="i < display.txDisplayAmount"
                        (click)="showExpandedTransactionDetail(tx)">
      <md-expansion-panel-header fxLayout.lt-md="column" fxLayout.md="column" fxLayout.lg="row" fxlayout.lt-sm="column"
                                 fxLayout.sm="column" fxlayout.lt-xs="column" fxLayout.xs="column" fxLayoutGap="10px"
                                 layout-padding>
        <md-panel-title fxFlex.lg="10%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%" *ngIf="display.date"
                        class="history_date">
          {{ tx.getDate() }}
        </md-panel-title>
        <md-panel-title fxFlex.lg="5%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%" *ngIf="display.category"
                        class="history_cat_icon" [ngSwitch]="tx.category">
          <span *ngSwitchCase="'stake'"><md-icon color="primary">add</md-icon></span>
          <span *ngSwitchCase="'orphaned_stake'"><md-icon color="warn">cacel</md-icon></span>
          <span *ngSwitchCase="'send'"><md-icon color="warn">arrow_forward</md-icon></span>
          <span *ngSwitchCase="'receive'"><md-icon>arrow_back</md-icon></span>
        </md-panel-title>
        <md-panel-title fxFlex.lg="45%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%" *ngIf="display.senderAddress"
                        class="history_longAddress">
          {{ tx.getAddress() }}
        </md-panel-title>
        <md-panel-title fxFlex.lg="20%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%" *ngIf="display.txid"
                        class="history_txt">
          <span md-line fxLayout.md="row" fxFlex="100%" fxLayout.lg="row">
            <span fxFlex="10%">
            <b>TxId</b>
            </span>
            <span fxFlex="80%">{{ tx.txid }} </span>
          </span>
        </md-panel-title>
        <md-panel-title fxFlex.lg="20%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%" *ngIf="display.blockIndex"
                        class="history_blockIndex">
          <span md-line>Blockindex {{ tx.blockindex }}</span>
        </md-panel-title>

        <md-panel-title fxFlex.lg="20%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%" *ngIf="display.confirmations"
                        class="history_confirmation">
          <span md-line><b>Confirmations</b> {{ tx.confirmations }}</span>
        </md-panel-title>
        <md-panel-title fxFlex.lg="20%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%" *ngIf="display.amount"
                        class="history_amount">
          <span md-line><b>Amount</b> {{ tx.getAmount() }} PART</span>
        </md-panel-title>
      </md-expansion-panel-header>

      <div class="container history_container" fxLayout.lt-md="column" fxLayout.md="column" fxLayout.lg="column"
           fxlayout.lt-sm="column"
           fxLayout.sm="column" fxlayout.lt-xs="column" fxLayout.xs="column" fxLayoutGap="10px"
           layout-padding>
        <div fxLayout.lt-md="column" fxLayout.md="column" fxLayout.lg="row" fxlayout.lt-sm="column"
             fxLayout.sm="column" fxlayout.lt-xs="column" fxLayout.xs="column">
          <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <b fxFlex.lg="30%" fxFlex.md="40%" fxFlex.sm="100%" fxFlex.xs="100%">Status:</b>
            <span class="md-right" fxFlex.lg="70%" fxFlex.md="60%" fxFlex.sm="100%" fxFlex.xs="100%">{{tx.confirmations}} confirmations</span>
          </div>
          <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <b fxFlex.lg="30%" fxFlex.md="40%" fxFlex.sm="100%" fxFlex.xs="100%">Transaction ID:</b>
            <a class="md-right highlight" fxFlex.lg="70%" fxFlex.md="60%" fxFlex.sm="100%" fxFlex.xs="100%"
               href="https://explorer-testnet.particl.io/tx/{{tx.txid}}"
               target="_blank">{{tx.txid}}</a>
          </div>
        </div>

        <div fxLayout.lt-md="column" fxLayout.md="column" fxLayout.lg="row" fxlayout.lt-sm="column"
             fxLayout.sm="column" fxlayout.lt-xs="column" fxLayout.xs="column" fxFlex>
          <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <b fxFlex.lg="30%" fxFlex.md="40%" fxFlex.sm="100%" fxFlex.xs="100%">Date:</b>
            <span class="md-right" fxFlex.lg="70%" fxFlex.md="60%" fxFlex.sm="100%"
                  fxFlex.xs="100%">{{tx.getDate()}}</span>
          </div>
          <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <b fxFlex.lg="40%" fxFlex.md="40%" fxFlex.sm="100%" fxFlex.xs="100%">Transaction fee:</b>
            <span class="md-right" fxFlex.lg="60%" fxFlex.md="60%" fxFlex.sm="100%" fxFlex.xs="100%">{{tx.fee ? tx.fee : 0}} PART</span>
          </div>
        </div>

        <div fxLayout.lt-md="column" fxLayout.md="column" fxLayout.lg="row" fxlayout.lt-sm="column"
             fxLayout.sm="column" fxlayout.lt-xs="column" fxLayout.xs="column" fxFlex>
          <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <b fxFlex.lg="30%" fxFlex.md="40%" fxFlex.sm="100%" fxFlex.xs="100%">To:</b>
            <span class="md-right" fxFlex.lg="70%" fxFlex.md="60%" fxFlex.sm="100%"
                  fxFlex.xs="100%">{{tx.getAddress()}}</span>
          </div>
          <div fxFlex="50%">
            <b fxFlex.lg="30%" fxFlex.md="40%" fxFlex.sm="100%" fxFlex.xs="100%">Net amount:</b>
            <span class="md-right" fxFlex.lg="70%" fxFlex.md="60%" fxFlex.sm="100%" fxFlex.xs="100%">{{tx.fee ? tx.getAmount() - tx.fee : 0}} PART</span>
          </div>
        </div>
      </div>
    </md-expansion-panel>
  </ng-container>

  <pagination *ngIf="display.pagination"
              [boundaryLinks]="true"
              (pageChanged)="pageChanged($event)"
              [totalItems]="txService.txCount"
              [maxSize]="5" [rotate]="false"
              [(ngModel)]="txService.currentPage"
              class="pagination-sm center"
              previousText="&lsaquo;" nextText="&rsaquo;"
              firstText="&laquo;" lastText="&raquo;"
              [itemsPerPage]="txService.MAX_TXS_PER_PAGE">
  </pagination>
</app-grid>
