.btn-round-lg{
  border-radius: 22.5px;
}
.btn-round{
  border-radius: 17px;
}
.btn-round-sm{
  border-radius: 15px;
}
.btn-round-xs{
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
}

.category-button {
  padding: 10px;
}

.category-button > .icon-sign {
  margin-left: 5px;
}

.background-hack {
  background-color: #FBFBFB !important;
}

.border-reset-hack {
  border-bottom: 0px solid !important;
}

.padding-reset-hack {
  padding: 0 0 0 0 !important;
}

.cell-date {
    flex-basis: 12em;
}

.cell-senderAddress {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 33vw;
}

.cell-confirmations {
    flex-basis: 26em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cell-amount {
    flex-grow: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-basis: 20em;
}

.cell-expand {
    width: 42px;
    padding-left: 0 !important;
    padding-right: 30px !important;
}


.cell-expanded-row {
    padding-bottom: 22px;
}

.transaction-details {
    display: flex;
    flex-flow: column nowrap;
    & > section {
        flex-basis: 2em;
    }
}

.transaction-details-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    & > div {
        word-break: break-all;
        flex-basis: 40%;
        padding-right: 1em;
        text-align: right;
    }
    & > div:first-child {
        padding-left: 1em;
        padding-right: 0;
    }
    & > .transaction-details-label {
        flex-basis: 6em;
        text-align: left;
        word-break: normal;
    }
    & > .label-duble-size {
        flex-basis: 12em;
    }
}

@media (max-width: 767px) {
    .transaction-details-row {
        flex-flow: column wrap;
        & > div, & > .transaction-details-label {
            flex-basis: 100% !important;
            padding: 0 !important;
        }
    }
}
