<!-- Replace with the new changes that allien made on different branch -->
<!-- <mat-card class="notification info" *ngIf="latestClientVersion && isNewUpdateAvailable()">
  <mat-card-title class="title">
    New update available <span class="tag">v{{ latestClientVersion }}</span> &ndash; please upgrade:
    <a href="{{releaseUrl}}" target="_blank" class="button" mat-button color="primary">
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-lightning"></mat-icon>
      Upgrade now
    </a>
  </mat-card-title>
</mat-card> --><!-- .notification -->


<!-- Alpha mainnet warning -->
<mat-card class="notification alert" *ngIf="isAlpha()"><!-- *ngIf="" -->
  <mat-card-title class="title">
    The Particl Marketplace alpha is still in development and not 100% private yet &ndash; use it at your own risk!
    <p *ngIf="latestClientVersion === currentClientVersion">You are on the latest version</p>

    <p *ngIf="isNewUpdateAvailable()">You are on an outdated version, please click to update</p>
    <button class="button" mat-button color="warn" (click)="readFullWarning()">
      <mat-icon fontSet="partIcon" fontIcon="part-alert"></mat-icon>
      Click here to read all the details first!
    </button>
  </mat-card-title>
</mat-card><!-- .notification -->
