<div mat-dialog-title class="title">Remove market listing/order</div>
<mat-dialog-content class="modal-content">
  <p>
    Are you sure you want to remove your listing/order?
  </p>
  <table class="info">
    <tr><th>Listing name</th><td><strong>{{templateToRemove?.title}}</strong></td></tr>
    <tr><th>Category</th><td>{{templateToRemove?.category?.name}}</td></tr>
    <tr><th>Price</th><td>{{templateToRemove?.basePrice?.getAmount()}}</td></tr>
  </table>
  <p class="widget-help">
    This will completely remove the listing, including all associated data (like photos, descriptions etc.) and nobody will be able to purchase it.
  </p>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end center">
  <button type="button" mat-button mat-dialog-close>
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="warn" (click)="remove()">
    <mat-icon fontSet="partIcon" fontIcon="part-circle-minus"></mat-icon>
    Yes, remove listing
  </button>
</mat-dialog-actions>