<mat-dialog-title>Particl Open Marketplace disclaimer</mat-dialog-title>

<mat-dialog-content class="--muted">
  <p class="alert --boxed --warning">
    <span>
      <strong>Warning!</strong> This Pre-release version of the Open Marketplace runs on mainnet, meaning that it uses real PART coins, not testnet coins, to execute transactions.
    </span>
  </p>
  <p>
    It currently may not contain all the security, privacy, and utility features intended for its official release, and unforeseen bugs or stability issues may still arise and result in a permanent loss of personal funds.
  </p>
  <p>
    For these reasons, the Open Marketplace should only be used for testing purposes, <strong>at your own risks</strong>, and with full knowledge of its current limitations. Neither the Particl Foundation nor the developers working on the Particl Project will be held accountable for any financial loss or any form of privacy and security breach.
  </p>
  <p class="lead">Keep in mind</p>
  <ul>
    <li>To reduce these risks, consider creating a new wallet with a small amount of PART for testing the Marketplace</li>
    <li>All marketplace transactions are executed over mainnet and are real &ndash; Buyers are paying with real money, Sellers should send out the goods!</li>
    <li>Bugs may occur</li>
    <li>Some of your coins might get lost</li>
  </ul>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="left"></div>
  <div class="right">
    <button type="button" mat-raised-button mat-dialog-close color="warn">
      <mat-icon fontIcon="part-check"></mat-icon>
      I understand
    </button>
  </div>
</mat-dialog-actions>
