        <div class="cold-staking">
          <app-header>
            <ul class="header-nav">
              <li class="section-title">Cold Staking</li>
            </ul>
          </app-header>

          <md-card class="multiple staking-node">
            <div class="title">
              <md-icon fontSet="faIcon" class="cs-icon" fontIcon="fa-snowflake-o"></md-icon>
              Cold Staking <span class="not-enabled">not enabled</span>
            </div>
            <button class="mat-raised-button mat-primary pull-right">
              <md-icon fontSet="faIcon" fontIcon="fa-plus"></md-icon>
              <strong>Add</strong> node key
            </button>
          </md-card>

          <md-card class="multiple staking-node">
            <div class="title">
              <md-icon fontSet="faIcon" class="cs-icon" fontIcon="fa-snowflake-o"></md-icon>
              Cold Staking <span class="enabled">enabled</span>
            </div>
            <button class="mat-button pull-right">
              <md-icon fontSet="faIcon" fontIcon="fa-pencil"></md-icon>
              <strong>Edit</strong> node key
            </button>
          </md-card>

        </div><!-- .cold-staking -->