<div class="cold-staking">
  <app-header>
    <ul class="header-nav">
      <li class="section-title">Cold Staking</li>
    </ul>
  </app-header>

  <md-card *ngIf="isColdStakingEnabled() === undefined" (click)="openUnlockWalletModal()" class="multiple staking-node" >
    <div class="title">
      <!--md-icon fontSet="faIcon" class="cs-icon" fontIcon="fa-snowflake-o"></md-icon-->
      Cold Staking Node <span class="status inactive">Unlock to check state</span>
    </div>
    <button class="mat-raised-button mat-primary pull-left" mdTooltip="Unlock wallet to enable cold staking">
      <md-icon fontSet="faIcon" fontIcon="fa-lock"></md-icon>
    </button>
  </md-card>

  <md-card *ngIf="isColdStakingEnabled() === false" (click)="openColdStakeModal()" class="multiple staking-node" >
    <div class="title">
      <!--md-icon fontSet="faIcon" class="cs-icon" fontIcon="fa-snowflake-o"></md-icon-->
      Cold Staking Node <span class="status inactive">inactive</span>
    </div>
    <button class="mat-raised-button mat-primary pull-left" mdTooltip="Add Cold Staking node key">
      <md-icon fontSet="faIcon" fontIcon="fa-plus"></md-icon>
    </button>
  </md-card>

  <md-card *ngIf="isColdStakingEnabled()"  (click)="openColdStakeModal()" class="multiple staking-node">
    <div class="title">
      <!--md-icon fontSet="faIcon" class="cs-icon" fontIcon="fa-snowflake-o"></md-icon-->
      Cold Staking Node <span class="status active">active</span>
    </div>
    <button class="mat-button secondary pull-left" mdTooltip="Edit Cold Staking node key">
      <md-icon fontSet="faIcon" fontIcon="fa-pencil"></md-icon>
    </button>
  </md-card>

  <p class="widget-help">
    @FIXME: Cold Staking lets you spend from one machine and stake from another. This greatly increases safety of your coins.
  </p>
</div><!-- .cold-staking -->