@import './src/assets/_config'; // import shared colors etc.

// ------ LAYOUT ------ //

// show old addresses
.show-old {
  text-align: center;
  font-weight: 500;
  color: hsla(var(--text-hsl), 0.7);
  .mat-icon {
    position: relative;
    top: 0;
    font-size: 13px;
    margin-right: 3px;
  }
}

.subtitle {
  @extend %subtitle;
}

.filter {
  position: sticky;
  top: var(--header-main-height);
  .filter-card {
    padding: 10px 20px;
    margin-bottom: 20px;
  }
}

.address-list {  
  mat-card.address-info { // address 'card'
    margin-bottom: var(--card-spacing);
    padding: 0;
    border-radius: 0;
    display: flex;
    .address-name { // label + string
      @extend %tfx;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 50px;
      padding: 0 24px;
      display: flex;
      align-items: center;
      width: 100%;
      &:hover {
        box-shadow: 4px 0 var(--color-primary) inset;
      }
      .address-id {
        color: hsla(var(--text-muted-hsl), 0.5);
        flex: 0 0 55px;
      }
      .address-label {
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: -1px 12px 0 0;
        &.no-label { // unlabeled address
          font-style: italic;
          font-weight: 500;
          opacity: 0.75;
        }
      }
      .address { // address string
        @extend %tfx;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: var(--font-mono);
        color: var(--text-muted);
        max-width: 350px;
        margin: 1px 0 0;
        @include break(l) {
          max-width: 450px;
        }
      }
    }
    .address-actions {
      margin: 0 8px 0 24px;
    }
  }
}
