<!-- Fav button in Listing's card in Listings -->
<mat-icon *ngIf="!listing?.isMine && detail === false" class="fav icon" fontSet="partIcon"
          [fontIcon]="(isFavorited)? 'part-heart' : 'part-heart-outline'"
          [ngClass]="{ 'active': isFavorited }"
          [matTooltip]="(isFavorited)? 'Remove from Favorites' : 'Add to Favorites'"
          matTooltipPosition="above" (click)="toggle()"></mat-icon>

<!-- Fav button on Listing's detail modal -->
<button *ngIf="!listing?.isMine && detail === true" class="favorite" mat-button 
        [color]="(isFavorited)? 'warn' : 'basic'" (click)="toggle()"
        [matTooltip]="(isFavorited)? 'Remove from Favorites' : 'Add to Favorites'" matTooltipPosition="above"> 
  <mat-icon class="fav icon" fontSet="partIcon" 
        [fontIcon]="(isFavorited)? 'part-heart' : 'part-heart-outline'" 
        [ngClass]="{ 'active': isFavorited }"></mat-icon>
  {{ (isFavorited)? 'Saved' : 'Save' }}
</button>
