<mat-dialog-title *ngIf="address?.owned === 'false'">Saved address details</mat-dialog-title>
<mat-dialog-title *ngIf="address?.owned === 'true'">Your used address details</mat-dialog-title>

<button mat-button color="warn" class="modal-close" mat-dialog-close>
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content>
  <detail-address [address]="address"></detail-address>
</mat-dialog-content>


<mat-dialog-actions>

  <div class="left">
    <a mat-button matTooltip="Display address' public information" href="https://explorer{{(isTestnet | async) ? '-testnet' : ''}}.particl.io/address/{{address?.address || ''}}" target="_blank">
      <mat-icon fontIcon="part-zoom-in"></mat-icon>
      Show on Explorer
    </a>
  </div>

  <div class="right">
    <button mat-raised-button color="primary" ngxClipboard [cbContent]="address?.address || ''" (click)="copyToClipBoard()">
      <mat-icon fontIcon="part-copy"></mat-icon>
      Copy address
    </button>
  </div>

</mat-dialog-actions>
