<div class="cold-staking">
  <app-header>
    <ul class="header-nav">
      <li class="section-title">Cold Staking</li>
    </ul>
  </app-header>

  <mat-card *ngIf="coldStakingEnabled === undefined" class="staking-node inactive">
    <div class="title">Cold Staking Node</div>
    <div class="subtitle">Unlock to check</div>
    <button class="mat-raised-button mat-primary pull-left" (click)="openUnlockWalletModal()" matTooltip="Unlock wallet to enable cold staking">
      <mat-icon fontSet="partIcon" fontIcon="part-lock"></mat-icon>
    </button>
  </mat-card>

  <mat-card *ngIf="coldStakingEnabled === false" class="staking-node inactive">
    <div class="title">Cold Staking Node</div>
    <div class="subtitle">Inactive</div>
    <button class="mat-raised-button mat-primary pull-left" (click)="openColdStakeModal()" matTooltip="Add Cold Staking node key">
      <mat-icon fontSet="partIcon" fontIcon="part-plus"></mat-icon>
    </button>
  </mat-card>

  <p class="widget-help" *ngIf="!coldStakingEnabled">
    Cold staking allows you to spend from one machine and stake from another, this greatly increases the safety of your coins.
  </p>

  <!-- Edit cold stake key, might be useful for later.
  <mat-card *ngIf="false" class="staking-node">
    <div class="title">
      Cold Staking Node <span class="status active">active</span>
    </div>
    <button class="mat-button secondary pull-left" (click)="openColdStakeModal()" matTooltip="Edit Cold Staking node key">
      <mat-icon fontSet="partIcon" fontIcon="part-pen-1"></mat-icon>
    </button>
  </mat-card> -->


  <!-- if cold staking is under 100% progress -->
  <mat-card *ngIf="coldStakingEnabled && stakingTowardsCold" class="staking-node active">
    <div class="title">Cold Staking Node</div>
    <div class="subtitle in-progress">
      Activation in progress
      <span class="progress">{{coldstakeProgress}}%</span>
    </div>
    <mat-progress-bar
      class="progress-bar"
      [color]="'primary'"
      [bufferValue]="coldstakeProgress"
      [mode]="'determinate'"
      [value]="coldstakeProgress">
    </mat-progress-bar>
    <p class="widget-help" *ngIf="coldStakingEnabled">
      {{coldstakeProgress}}% of your balance is now safely staking on your staking node.
      Please keep this wallet online until the cold staking activation process is complete.
    </p>
  </mat-card>

  <!-- if cold staking is under 100% progress -->
  <mat-card *ngIf="coldStakingEnabled && !stakingTowardsCold" class="staking-node warning">
    <div class="title">Cold Staking Node</div>
    <div class="subtitle in-progress">
      <strong>Paused</strong> &ndash; Wallet locked
      <span class="progress">{{coldstakeProgress}}%</span>
    </div>
    <mat-progress-bar
      class="progress-bar"
      [color]="'warn'"
      [bufferValue]="coldstakeProgress"
      [mode]="'determinate'"
      [value]="coldstakeProgress">
    </mat-progress-bar>
    <p class="widget-help">
      The cold staking activation is paused. Unlock wallet for staking to continue the process.
      Whilst paused, {{coldstakeProgress}}% of your balance that has already converted
      will continue to stake on your staking node.
    </p>
  </mat-card>


  <!-- if Cold staking is at 100% show Disable button etc.
  <mat-card *ngIf="????" class="staking-node">
    <div class="title">
      Cold Staking Node <span class="status inactive">active</span>
    </div>
    <button class="mat-raised-button mat-primary pull-left" (click)="??????" matTooltip="Disable Cold Staking">
      <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
    </button>
  </mat-card>
  <p class="widget-help">
    You can now turn of this wallet as cold staking is fully activated.
  </p-->


</div><!-- .cold-staking -->