@import "./src/assets/_config"; // import shared colors etc.
@import '../shared/shared.scss';

.cold-staking {
  @extend .disable-select;
  .staking-node {
    padding: 24px 24px 30px;
    margin-bottom: 20px;
    .title {
      display: inline-block;
      text-transform: uppercase;
      font-weight: bold;
      & > .active {
        color: $color;
      }
      & > .inactive {
        color: $text-muted;
      }
    }
    .status {
      display: block;
    }
    button {
      font-size: 12px;
      text-transform: uppercase;
      min-width: 0;
      padding: 0 10px;
      margin-right: 20px;
      border: 1px solid transparent;
      top: -1px;
      &.secondary {
        border-color: $bg-shadow;
      }
      .mat-icon {
        width: 24px;
        height: 24px;
        margin-right: 0;
        top: 1px;
      }
    }
  }
}