<mat-dialog-title>
  Set Vote For Proposal
  <small class="proposal-name">
    <mat-icon fontIcon="part-shop"></mat-icon>
    ({{ proposalId }}) {{ proposalName }}
  </small>
</mat-dialog-title>
<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content class="--muted">
  <div class="row">

    <form class="proposal-form" [formGroup]="proposalForm">

      <h2 class="section-title">
        Vote details
      </h2>

      <div>
        <div class="details">
          <p class="desc">You’re about to vote on a proposal. If your wallet stakes a block during the proposal's voting duration, then your vote will be reflected for that block, and contribute to the total votes.</p>
        </div>
      </div>

      <h2 class="section-title">
        Your Vote
      </h2>

      <mat-form-field class="--boxed --larger" appearance="fill">
        <mat-icon matPrefix fontIcon="part-vote"></mat-icon>
        <mat-select placeholder="Select a vote option" formControlName="voteToCast">
          <mat-option *ngFor="let option of voteOptions" [value]="option.value">
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </form>

  </div>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    <mat-icon fontIcon="part-cross"></mat-icon>
    Cancel &amp; Close
  </button>
  <button mat-raised-button color="primary" [disabled]="proposalForm.invalid || proposalForm.disabled || (formControlVoteToCast.value === initVoteValue)" appDebounceClick (debounceClick)="doAction()">
    <mat-icon fontIcon="part-vote"></mat-icon>
    Cast Vote
  </button>
</mat-dialog-actions>
