
/* ------------------------------- *\
    Variables
\* ------------------------------- */

$font: "Open Sans", sans-serif;

// main colors
$color: #02E8B0; // primary green-ish color
$color-success: #4f8a10;
$color-alert: #ec4b50;
$color-warning: #f1cc00; // yellow-ish
$color-info: #108cda; // blue-ish (e.g. status cold staking icon)

// text colors
$text: #232728; // default text color
$text-muted: #7E8790; // grey (for section titles, descriptions etc.)

// bg/element colors
$bg: #e9e9e9; // light grey bg color
$bg-black: #222828; // sidebar
$bg-shadow: #dcdcdc; // lines, box shadows etc.

// UI
$radius: 4px; // default border-radius


/* ------------------------------- *\
    Mixins
\* ------------------------------- */


/* ------------------------------- *\
    Helper classes
\* ------------------------------- */

// enable/disable text selection
.disable-select {
  user-select: none;
  cursor: default;
}
.enable-select {
  user-select: auto;
  cursor: text;
}