/*

    ____ ____ _  _ ____ _ ____
    |    |  | |\ | |___ | | __
___ |___ |__| | \| |    | |__]

Global SCSS config file defining app-wide settings (included in every page)

  TOC:
    1. Variables
    2. Global imports
    3. Templates

*/


/* ------------------------------- *\
    1. Variables
\* ------------------------------- */

$font: 'Inter_UI', sans-serif;

// main colors
$color: #02e8b0; // primary green-ish color
$color-secondary: #1597dd; // new blue
$color-success: #4f8a10;
$color-alert: #ec4b50;
$color-warning: #f1a500; // yellow-ish
$color-info: #108cda; // blue-ish (e.g. status cold staking icon)
$color-white: #fff;
$color-ugly: #ff69b4;

// text colors
$text: #232728; // default text color
$text-muted: #7e8790; // grey (for section titles, descriptions etc.)

// bg/element colors
$bg: #fafafa; // light grey bg color
$bg-hover: darken($bg, 2%);
$bg-black: #222828; // sidebar
$bg-shadow: #dcdcdc; // lines, box shadows etc.

// UI
$radius: 4px; // default border-radius

// layouts
$header-main-height: 64px;
$tab-bar-height: 48px;
$sidebar-width: 250px; // main navigation
$filter-width: 230px; // sidebar in content area (filter/sort, search)
$scrollbar-width: 6px;
$padding: 35px; // spacing between elements
$padding-l: 50px; // ..for large screens

// Breakpoints (see _mixins.scss for details)
$break-l: 1500px;
$break-xl: 1700px;
$break-hd: 1920px;
$break-xhd: 2200px;


/* ------------------------------- *\
    2. Global imports
\* ------------------------------- */

@import 'scss/mixins';


/* ------------------------------- *\
    3. Templates
    http://thesassway.com/intermediate/understanding-placeholder-selectors
\* ------------------------------- */

// ------ 3.1. TYPOGRAPHY ------ //

%lighter { // "grey" text, formerly "help descriptions"
  opacity: 0.55;
}

%lightest { // light "grey" text
  opacity: 0.36;
}

%reset {
  opacity: 1;
}

%subtitle { // section titles / H2's
  font-size: 14px;
  font-family: $font;
  font-weight: normal;
  text-transform: uppercase;
  color: $text-muted;
  margin: 30px 0 16px;
}

%box-title { // box's main title (bold, all-caps)
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
}


// ------ 3.2. UI ELEMENTS ------ //

%tag { // notification tags - e.g. in tabs: Orders [3]
  @extend %tfx;
  font-size: 80%;
  color: $color-white;
  font-weight: 600;
  line-height: 1.6;
  background-color: $color;
  border-radius: 4px;
  display: inline-block;
  margin-left: 8px;
  padding: 0 11px;
}

%mat-card {
  box-shadow: 0 1px 0 $bg-shadow, 0 1px 10px -4px rgba($text, 0.3) !important;
  background: $color-white;
}

%menu-divider { // diviers in sidebar menu
  border-top: 1px solid #15191a;
  box-shadow: 0 1px 0 #333 inset;
}


// ------ 3.3. HELPER & MISC ------ //

// enable/disable text selection
%disable-select {
  user-select: none;
  cursor: default;
}

%enable-select,
.enable-select {
  user-select: auto;
  cursor: text;
}

%clearfix {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

// Transition effects
%tfx {
  transition: all 0.17s;
}
