/*

    ____ ____ _  _ ____ _ ____ 
    |    |  | |\ | |___ | | __ 
___ |___ |__| | \| |    | |__] 
                               
Global SCSS config file defining app-wide settings (included in every page)

  TOC:
    1. Variables
    2. Global imports
    3. Templates

*/


/* ------------------------------- *\
    1. Variables
\* ------------------------------- */

$font: "Inter_UI", sans-serif;

// main colors
$color: #45d492; // primary green-ish color
$color-success: #4f8a10;
$color-alert: #ec4b50;
$color-warning: #f1cc00; // yellow-ish
$color-info: #108cda; // blue-ish (e.g. status cold staking icon)
$color-white: #fff;

// text colors
$text: #232728; // default text color
$text-muted: #7E8790; // grey (for section titles, descriptions etc.)

// bg/element colors
$bg: #fafafa; // light grey bg color
$bg-hover: darken($bg, 2%);
$bg-black: #222828; // sidebar
$bg-shadow: #dcdcdc; // lines, box shadows etc.

// UI
$radius: 4px; // default border-radius

// layouts
$header-main-height: 64px;
$tab-bar-height: 48px;
$sidebar-width: 250px;
$scrollbar-width: 6px;

// Breakpoints (see _mixins.scss for details)
$break-l: 1500px;
$break-xl: 1700px;
$break-hd: 1920px;
$break-xhd: 2200px;


/* ------------------------------- *\
    2. Global imports
\* ------------------------------- */

@import "scss/mixins";


/* ------------------------------- *\
    3. Templates
    http://thesassway.com/intermediate/understanding-placeholder-selectors
\* ------------------------------- */

%subtitle { // section titles / H2's
  @extend %disable-select;
  font-size: 15px;
  font-family: $font;
  font-weight: normal;
  text-transform: uppercase;
  color: $text-muted;
  border-bottom: 1px solid $bg-shadow;
  padding: 0 0 8px;
  margin: 30px 0 25px;
}

%tag { // notification tags - e.g. in tabs: Orders [3]
  @extend %tfx;
  font-size: 80%;
  color: white;
  font-weight: 600;
  line-height: 1.6;
  background-color: $color;
  border-radius: 4px;
  display: inline-block;
  margin-left: 8px;
  padding: 0 11px;
}

// enable/disable text selection
%disable-select,
.disable-select {
  user-select: none;
  cursor: default;
}
%enable-select,
.enable-select {
  user-select: auto;
  cursor: text;
}


// Transition effects
%tfx {
  transition: all 0.17s;
}