
/* ------------------------------- *\
    Variables
\* ------------------------------- */

$font: "Open Sans", sans-serif;

// main colors
$color: #02E8B0; // primary green-ish color
$color-success: #4f8a10;
$color-alert: #ec4b50;
$color-warning: #f1cc00; // yellow-ish
$color-info: #108cda; // blue-ish (e.g. status cold staking icon)

// text colors
$text: #232728; // default text color
$text-muted: #7E8790; // grey (for section titles, descriptions etc.)

// bg/element colors
$bg: #e9e9e9; // light grey bg color
$bg-black: #222828; // sidebar
$bg-shadow: #dcdcdc; // lines, box shadows etc.

// UI
$radius: 4px; // default border-radius


/* ------------------------------- *\
    Mixins
\* ------------------------------- */


/* ------------------------------- *\
    Placeholder selectors
    http://thesassway.com/intermediate/understanding-placeholder-selectors
\* ------------------------------- */

%subtitle { // section titles / H2's
  @extend %disable-select;
  font-size: 15px;
  font-family: $font;
  font-weight: normal;
  text-transform: uppercase;
  color: $text-muted;
  border-bottom: 1px solid $bg-shadow;
  padding: 0 0 8px;
  margin: 30px 0 25px;
}


// enable/disable text selection
.disable-select,
%disable-select {
  user-select: none;
  cursor: default;
}
.enable-select,
%enable-select {
  user-select: auto;
  cursor: text;
}


// Transition effects
%tfx {
  transition: all 0.17s;
}