/*

        __       ___    ___       ___        ___
|    | / _` |__|  |      |  |__| |__   |\/| |__
|___ | \__> |  |  |      |  |  | |___  |  | |___

Default Particl light theme

- Angular Material theming: https://material.angular.io/guide/theming
- Theming (& dark themes): https://coursetro.com/posts/code/116/Create-your-own-Angular-5-Material-Theme

*/


// Define custom background colors
$theme-background: (
  status-bar:               var(--color-white),
  app-bar:                  var(--color-white),
  background:               var(--bg),
  hover:                    hsla(var(--bg-muted-hsl), 0.25),
  card:                     var(--color-white),
  dialog:                   var(--color-white),
  disabled-button:          hsla(var(--text-muted-hsl), 0.2),
  raised-button:            var(--color-primary),
  focused-button:           var(--color-white),
  selected-button:          var(--color-alert),
  selected-disabled-button: var(--color-warning),
  disabled-button-toggle:   var(--text),
  unselected-chip:          var(--color-info),
  disabled-list-option:     var(--bg-muted),
);

// Define custom foreground colors
$theme-foreground: (
  base:              var(--text),
  divider:           var(--bg-muted),
  dividers:          var(--bg-muted),
  disabled:          var(--bg-muted), // disabled radio buttons
  disabled-button:   hsla(var(--text-muted-hsl), 0.55),
  disabled-text:     var(--text-muted), // inactive steps in stepper
  hint-text:         var(--text-muted),
  secondary-text:    var(--text-muted),
  icon:              var(--text),
  icons:             var(--text),
  text:              var(--text),
  slider-min:        var(--color-alert),
  slider-off:        var(--bg-muted),
  slider-off-active: hsla(var(--color-primary-hsl), 0.35),
);

// instead of creating a theme with mat-light-theme like a sane person, we will create our own theme-creating function that lets us apply our own foreground and background palettes.
@function create-part-theme($primary, $accent, $warn) {
  @return (
  primary: $primary,
  accent: $accent,
  warn: $warn,
  is-dark: false,
  foreground: $theme-foreground,
  background: $theme-background,
  );
}

// The rest of this is like a normal theme.scss file. The only difference being that we use create-part-dark-theme instead of mat-light-theme
$theme-primary: mat-palette($part-green, 500, 100, 900);
$theme-accent: mat-palette($part-blue, 500, 100, 900);
$theme-warn: mat-palette($part-red);

$light-theme: create-part-theme($theme-primary, $theme-accent, $theme-warn);


// Include theme styles for core and each component used in app
@include angular-material-theme($light-theme);
