@import "theme/partgui-theme";
@import "./src/assets/_config"; // import shared colors etc.


/* ------------------------------- *\
    UI Elements
\* ------------------------------- */

// ------ ADDRESSES ------ //

.address, .address-label {
  overflow: hidden;
  text-overflow: ellipsis;
  background: transparent;
  transition: background .3s;
  white-space: nowrap;
}

// ------ BUTTONS ------ //

button,
.mat-button,
.mat-raised-button {
  font-family: $font;
  font-weight: 600;
  .mat-icon {
    margin-right: 5px;
    position: relative;
    top: -1px;
  }
  &.small { // smaller buttons
    min-width: auto;
    line-height: 29px;
    padding: 0 12px;
    font-size: 12px;
    font-weight: 500;
  }
  &.full-width {
    width: 100%;
  }
}

.actions {
  button {
    margin: 0 10px;
  }
}

// ------ ICONS ------ //

.mat-icon {
  width: auto !important;
  height: auto !important;
  font-size: 16px;
}

// ------ SELECT BOX FIX ------ //

.mat-select {
  font-family: $font;
  .mat-option {
    font-family: $font;
  }
}

.mat-select-panel {
  background: white;
}

.underliningSelect {
  border-bottom: .2px solid rgba(0, 0, 0, 0.507);
  line-height: 1.6em;
}


// ------ PROGRESS BARS ------ //

.mat-progress-bar {
  // sidebar/sync: dark buffer background for progress bar
  &.dark-buffer {
    .mat-progress-bar-buffer {
      background: lighten($bg-black, 15%);
    }
  }
}


// ------ LOADING INFO ------ //

.loading-container {
  text-align: center;
  position: fixed;
  z-index: 10;
  top: $header-main-height;
  left: $sidebar-width;
  right: 0;
  bottom: 8px;
  display: flex;
  background: rgba($bg, 0.9);
  pointer-events: none;
  .loading-info { // text info for loading screens (e.g. Listings)
    margin: auto;
    .loading-image {
      width: 50px;
      height: 50px;
      padding: 14px;
      margin: 0 auto 24px;
      border-radius: 50%;
      background: white;
      box-shadow: 0 0 20px rgba(black, 0.07);
      & > img {
        animation: rotate 4s infinite;
        display: inline-block;
        position: relative;
        top: 2px;
      }
    }
    .title {
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 600;
    }
    p {
      margin: 12px;
    }
  }
}

// ------ CARDS ------ //

mat-card.mat-card { // FIXME: remove the !important and solve overwriting
  font-family: $font;
  box-shadow: 0 1px 0 $bg-shadow, 0 1px 10px -4px rgba($text, 0.3) !important;
}


// ------ TABS ------ //

.mat-tab-group {
  .mat-tab-label {
    font-family: $font;
    font-weight: 500;
    &.mat-tab-label-active { // keep active tabs black (not grey)
      opacity: 1;
      .mat-icon {
        opacity: 0.9;
      }
      .tag {
        background-color: $color;
      }
    }
    .mat-icon {
      @extend %tfx;
      font-size: 14px;
      margin-right: 6px;
      position: relative;
      top: 2px;
      opacity: 0.5;
    }
  }
  .tag { // notification tags in tabs - e.g. Orders [3]
    @extend %tag;
    background-color: darken($bg-shadow, 15%);
  }
}


// ------ EXPANSION PANELS ------ //

.mat-expansion-panel {
  @extend %disable-select;
  @extend mat-card.mat-card;
  margin-bottom: 9px !important;
  overflow: hidden;
  .mat-expansion-panel-header {
    font-family: $font;
    font-size: 13px;
    &:hover {
      background: inherit !important; // disable darker bg on hover by default
    }
    .mat-expansion-panel-header-title {
      text-transform: uppercase;
      font-family: $font;
    }
  }
  .mat-expansion-indicator {
    position: relative;
    top: -4px;
    transform: none !important;
    &::after {
      transition: none !important;
    }
  }
  &.mat-expanded { // while expanded..
    .mat-expansion-indicator {
      top: 0;
      &::after {
        position: relative;
        transform: rotate(-135deg);
      }
    }
  }
  // sidebar/menu: no padding for panel's content (used in the sidebar)
  &.no-padding {
    .mat-expansion-panel-body {
      padding: 0;
    }
  }
  // sidebar/menu: color panel's arrow
  &.arrow-colored {
    .mat-expansion-indicator::after {
      @extend %tfx;
      color: $text-muted;
    }
    // when expanded..
    &.mat-expanded {
      //background: darken($bg-black, 2%); // darken "submenu" background to more visually separate from the rest
      .mat-expansion-indicator::after {
        color: $color;
      }
    }
  }
}


// ------ STEPPER ------ //

.mat-stepper-horizontal {
  font-family: $font;
  .mat-step-label-selected {
    font-weight: 700;
  }
  // buy/cart-shipping: remove white background
  &.no-bg {
    background: none;
  }
}


// ------ NO RESULTS (no TXs, no addresses, ..) ------ //

.no-results {
  @extend %disable-select;
  font-size: 18px;
  color: darken($bg-shadow, 15%);
  text-transform: uppercase;
  text-align: center;
  padding: 170px 0;
  border: 2px dashed $bg-shadow;
  background: rgba(white, 0.5);
  button {
    margin-top: 12px;
  }
  .widget-help {
    margin: 0;
    text-transform: none;
    font-size: 12px;
    color: darken($bg-shadow, 17%);
    .mat-icon {
      font-size: 13px;
      margin: 0 4px;
      position: relative;
      top: 2px;
    }
  }
}


/* ------------------------------- *\
    Typography
\* ------------------------------- */

// ------ PARAGRAPH STYLES ------ //

// Highlighted "lead" paragraphs
.lead {
  font-size: 15px;
}

// Help descriptions
.widget-help {
  @extend %disable-select;
  color: $text-muted;
  font-size: 11px;
  margin-bottom: 25px;
  cursor: help;
}

// ------ Basic styling ------ //

code {
  color: darken($color, 7%);
  background: rgba($color, 0.1);
  padding: 1px 6px;
  border-radius: $radius;
}

kbd {
  font-size: 95%;
  line-height: 1.3;
  font-family: inherit;
  border: 1px solid silver;
  border-radius: 2px;
  background: #fafafa;
  display: inline-block;
  padding: 2px 5px;
  margin: 0 2px;
}

// ------ Page subtitles ------ //

.mat-list.list-data .mat-subheader { // "H2" subtitles in pages (e.g. "(un)used addresses" in Receive
  @extend %subtitle;
  height: auto;
  margin: 10px 0 25px !important;
  &.first {
    margin-top: -10px !important;
  }
}


/* ------------------------------- *\
    Lists
\* ------------------------------- */

.mat-list {
  // sidebar/menu: smaller vertical padding of child lists
  &.sidebar-item-group {
    .mat-list-item {
      height: 42px;
      .mat-list-item-content {
        padding: 0 10px;
      }
    }
  }
}

.mat-nav-list {
  // MP Listings: category filter
  &.category-items {
    .mat-list-item {
      .mat-list-item-content {
        padding: 6px 26px 6px 36px !important;
        font-size: 13px;
        color: $text-muted;
      }
    }
  }
}

.icon-input { // input with icon (eg. Search in Address Book)
  input.mat-input-element {
    height: 20px;
  }
  .mat-icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 21px;
    cursor: pointer;
  }
  .mat-form-field-underline {
    background-color: $bg-shadow;
  }
}

.list-data {
  .mat-list-item {
    font-size: 14px;
    word-wrap: break-word;
    line-height: 22px;
  }
  .mat-subheader {
    padding-left: 0;
    padding-right: 0;
  }
  .mat-divider {
    margin: 15px 0;
  }
}


/* ------------------------------- *\
    Forms
\* ------------------------------- */

// ------ INPUTS ------ //

.mat-form-field {
  font-family: $font;
  line-height: normal;
  &.larger { // larger inputs
    font-size: 14px;
  }
  &.auto-width {
    .mat-form-field-infix {
      width: auto;
    }
  }
  &.full-width {
    width: 100%;
    .mat-form-field-infix {
      width: 100%;
    }
  }
  &.no-top-padding { // remove top space reserved for floating placeholders (if disabled)
    .mat-input-infix {
      border-top: none;
    }
  }
}

input {
  &[type="text"] {
    border: none;
  }
  // visual verification
  &.verify-sucess {
    color: darken($color, 7%) !important;
  }
  &.verify-error {
    color: darken($color-alert, 5%);
  }
}

// ------ RADIOS ------ //

.mat-radio-button {
  font-family: $font;
  &.mat-radio-checked {
    font-weight: 500;
  }
}

.mat-list-radio {
  .mat-radio-button {
    margin-bottom: 12px;
  }
  h5 {
    margin-top: 0;
  }
}

.mat-radio-group {
  font-family: $font;
  // send: full-width clickable radios
  &.block-radio {
    .mat-radio-button .mat-radio-label,
    .mat-radio-button .mat-radio-label-content {
      width: 100%;
    }
  }
}


/* ------------------------------- *\
    Scrollbars
\* ------------------------------- */


/* pseudo elements
::-webkit-scrollbar              {}
::-webkit-scrollbar-button       {}
::-webkit-scrollbar-track        {}
::-webkit-scrollbar-track-piece  {}
::-webkit-scrollbar-thumb        {}
::-webkit-scrollbar-corner       {}
::-webkit-resizer                {}
*/

::-webkit-scrollbar-track {
  //border-radius: $radius;
  background: lighten($bg-shadow, 3%);
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  width: $scrollbar-width;
  height: $scrollbar-width;
}

::-webkit-scrollbar-thumb {
  @extend %tfx;
  background: darken($bg-shadow, 15%);
  border-radius: $radius;
  &:hover {
    background: darken($bg-shadow, 20%);
  }
}
.mat-drawer-container {
  background: $bg;
}
// scroll on by default, so the content doesn't jump on larger pages
.mat-drawer-content {
  overflow-y: scroll !important;
}


/* ------------------------------- *\
    Dialogs
\* ------------------------------- */

.cdk-overlay-backdrop-showing + .cdk-global-overlay-wrapper .cdk-overlay-pane {
  position: absolute !important;
  max-width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: auto;
}

.cdk-overlay-container .cdk-overlay-backdrop-showing + .cdk-global-overlay-wrapper .mat-dialog-container {
  position: fixed !important;
}

.cdk-overlay-container .cdk-overlay-backdrop-showing +
.cdk-global-overlay-wrapper .cdk-overlay-pane:not(.cdk-modal-full) .mat-dialog-container {
  height: auto;
  width: auto;
}

.cdk-overlay-container {
  .mat-dialog-container {
    position: relative;
    max-width: 800px;
    height: calc(100% - 24px);
    //margin: 24px auto auto auto;

    // Dialogs (small)
    .dialog-content {
      margin: 15px -24px;
    }
    [mat-dialog-title] { // dialog title
      font-family: $font;
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 15px;
      padding-right: 50px;
      &.text-center {
        padding: 0;
      }
    }

    .small-close_button {
      position: absolute;
      right: 10px; // align with modal's content padding
      top: 22px;
      z-index: 10;
      background: transparent;
      color: $text-muted;
      min-width: 50px;
      padding: 0;
      border: none;
      outline: none;
      cursor: pointer;
      .mat-icon {
        color: rgba($color-alert, 0.5);
        border-radius: 50%;
        font-size: 22px;
        line-height: 1.4;
        margin: 0;
      }
      &:hover {
        .mat-icon {
          color: $color-alert;
        }
      }
    }
    .close_button {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
      padding: 25px 38px;
      background: transparent;
      color: $text-muted;
      min-width: 50px;
      outline: none;
      cursor: pointer;
      .mat-icon {
        color: rgba($color-alert, 0.5);
        border-radius: 50%;
        font-size: 24px;
        line-height: 1.4;
        margin: 0;
      }
      &:hover {
        .mat-icon {
          color: $color-alert;
        }
      }
    }
    .mat-wallet-content {
      /*
      max-height: 100% !important;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      */
      .mat-progress-spinner { // loading spinners
        width: 100px;
        height: 100px;
        padding: 0 !important;
        position: absolute;
        left: calc((100% - 100px) / 2);
        top: calc((100% - 100px) / 2);
        z-index: 10;
        background: rgba(white, 0.9);
        box-shadow: 0 0 70px silver;
        border-radius: 50%;
        svg {
          width: 70px !important;
          height: 70px !important;
          transform-origin: 50px 35px;
        }
      }
    }
  }
}



/* ------------------------------- *\
    Pagination
\* ------------------------------- */

.mat-paginator {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 56px;
  padding: 0 8px;
  border-bottom: 1px solid $bg-shadow;
  font-family: $font;
  .mat-icon-button {
    @extend %tfx;
    &:hover {
      background-color: $color;
      border-radius: 50%;
      .mat-paginator-increment,
      .mat-paginator-decrement {
        border-color: white;
      }
    }
    &[disabled] {
      .mat-paginator-increment,
      .mat-paginator-decrement {
        border-color: $bg-shadow;
      }
      &:hover {
        background-color: transparent;
      }
    }
  }
}


/* ------------------------------- *\
    Helper classes
\* ------------------------------- */

.TO_DO {
  box-shadow: 0 0 3px 1px hotpink !important;
}


// ------ LAYOUT ------ //

.containerX {
  width: 100%;
}

.container-block { // main container for content
  padding: 35px;
  @include break(l) {
    padding: 45px 50px;
  }
}


// ------ TEXT/FONTS ------ //

.text-center {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}


// ------ QR-CODE ------ //

.qr-code {
  img {
    display: inline !important;
  }
}


// ------ ANIMATIONS ------ //

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@keyframes pulse-fade {
  0% {
    transform: scale(0.3);
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: scale(1.7);
  }
}