@import "theme/partgui-theme";
@import "./src/assets/_config"; // import shared colors etc.


/* ------------------------------- *\
    UI Elements
\* ------------------------------- */

// ------ HELP DESCRIPTION ------ //

.widget-help {
  @extend %disable-select;
  color: $text-muted;
  font-size: 11px;
  margin-bottom: 25px;
  cursor: help;
}


// ------ ADDRESSES ------ //

.address, .address-label {
  overflow: hidden;
  text-overflow: ellipsis;
  background: transparent;
  transition: background .3s;
  white-space: nowrap;
}

// ------ BUTTONS ------ //

button,
.mat-button,
.mat-raised-button {
  .mat-icon {
    width: auto;
    height: auto;
    margin-right: 5px;
    position: relative;
    top: -1px;
  }
  &.small { // smaller buttons
    min-width: auto;
    line-height: 29px;
    padding: 0 12px;
    font-size: 12px;
  }
}

.actions {
  button {
    margin: 0 10px;
  }
}


// ------ SELECT BOX FIX ------ //

.mat-select-panel {
  background: white;
}

.underliningSelect {
  border-bottom: .2px solid rgba(0, 0, 0, 0.507);
  line-height: 1.6em;
}


// ------ PROGRESS BARS ------ //

.mat-progress-bar {
  // sidebar/sync: dark buffer background for progress bar
  &.dark-buffer {
    .mat-progress-bar-buffer {
      background: lighten($bg-black, 15%);
    }
  }
}


// ------ CARDS ------ //

mat-card.mat-card { // FIXME: remove the !important and solve overwriting
  font-family: $font;
  box-shadow: 0 1px 0 $bg-shadow !important;
}


// ------ TABS ------ //

.mat-tab-group {
  .mat-tab-label {
    &.mat-tab-label-active { // keep active tabs black (not grey)
      opacity: 1;
      .mat-icon { opacity: 0.9; }
    }
    .mat-icon {
      @extend %tfx;
      font-size: 14px;
      margin-right: 8px;
      position: relative;
      top: 0.02em;
      opacity: 0.5;
    }
  }
}


// ------ EXPANSION PANELS ------ //

.mat-expansion-panel {
  .mat-expansion-panel-header {
    &:hover {
      background: inherit !important; // disable darker bg on hover by default
    }
  }
  // sidebar/menu: no padding for panel's content (used in the sidebar)
  &.no-padding {
    .mat-expansion-panel-body {
      padding: 0;
    }
  }
  // sidebar/menu: color panel's arrow
  &.arrow-colored {
    .mat-expansion-indicator::after {
      @extend %tfx;
      color: $text-muted;
    }
    // when expanded..
    &.mat-expanded {
      //background: darken($bg-black, 2%); // darken "submenu" background to more visually separate from the rest
      .mat-expansion-indicator::after {
        color: $color;
      }
    }
  }
}


// ------ NO RESULTS (no TXs, no addresses, ..) ------ //

.no-results {
  @extend %disable-select;
  font-size: 18px;
  color: darken($bg-shadow, 15%);
  text-transform: uppercase;
  text-align: center;
  padding: 170px 0;
  border: 2px dashed $bg-shadow;
  background: rgba(white, 0.5);
}


/* ------------------------------- *\
    Typography
\* ------------------------------- */

// ------ Page subtitles ------ //

.mat-list.list-data .mat-subheader { // "H2" subtitles in pages (e.g. "(un)used addresses" in Receive
  @extend %subtitle;
  height: auto;
  margin: 10px 0 25px !important;
  &.first {
    margin-top: -10px !important;
  }
}


/* ------------------------------- *\
    Lists
\* ------------------------------- */

.mat-list {
  // sidebar/menu: smaller vertical padding of child lists
  &.sidebar-item-group {
    .mat-list-item {
      height: 42px;
      .mat-list-item-content {
        padding: 0 10px;
      }
    }
  }
}

.icon-input { // input with icon (eg. Search in Address Book)
  input.mat-input-element {
    height: 20px;
  }
  .mat-icon {
    position: absolute;
    right: 0;
    top: 2px;
    width: auto;
    height: auto;
    font-size: 21px;
    cursor: pointer;
  }
  .mat-form-field-underline {
    background-color: $bg-shadow;
  }
}

.list-data {
  .mat-list-item {
    font-size: 14px;
    word-wrap: break-word;
    line-height: 22px;
  }
  .mat-subheader {
    padding-left: 0;
    padding-right: 0;
  }
  .mat-divider {
    margin: 15px 0;
  }
}


/* ------------------------------- *\
    Forms
\* ------------------------------- */

// ------ INPUTS ------ //

.mat-form-field {
  font-family: $font;
  &.larger { // larger inputs
    font-size: 14px;
  }
  &.no-top-padding { // remove top space reserved for floating placeholders (if disabled)
    .mat-input-infix {
      border-top: none;
    }
  }
}

input {
  &[type="text"] {
    border: none;
  }
  // visual verification
  &.verify-sucess {
    color: darken($color, 7%) !important;
  }
  &.verify-error {
    color: darken($color-alert, 5%);
  }
}

// ------ RADIOS ------ //

.mat-list-radio {
  .mat-radio-button {
    margin-bottom: 12px;
  }
  h5 {
    margin-top: 0;
  }
}

.mat-radio-group {
  // send: full-width clickable radios
  &.block-radio {
    .mat-radio-button .mat-radio-label {
      width: 100%;
    }
  }
}


/* ------------------------------- *\
    Scrollbars
\* ------------------------------- */


/* pseudo elements
::-webkit-scrollbar              {}
::-webkit-scrollbar-button       {}
::-webkit-scrollbar-track        {}
::-webkit-scrollbar-track-piece  {}
::-webkit-scrollbar-thumb        {}
::-webkit-scrollbar-corner       {}
::-webkit-resizer                {}
*/

::-webkit-scrollbar-track {
  border-radius: 15px;
  background-color: $bg-shadow;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  width: 6px;
  //border-radius: 15px;
  background-color: darken($bg-shadow, 20%);
}
.mat-drawer-container {
  background: $bg;
}
// scroll on by default, so the content doesn't jump on larger pages
.mat-drawer-content {
  overflow-y: scroll !important;
}


/* ------------------------------- *\
    Dialogs
\* ------------------------------- */

.cdk-overlay-container {
  .mat-dialog-container {
    position: relative;
    max-width: 800px;
    height: calc(100% - 24px);
    margin: 24px auto auto auto;

    // Dialogs (small)
    .dialog-content {
      margin: 15px -24px;
    }
    [mat-dialog-title] { // dialog title
      font-family: $font;
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 15px;
      padding-right: 50px;
      &.text-center {
        padding: 0;
      }
    }

    .small-close_button {
      position: absolute;
      right: 10px; // align with modal's content padding
      top: 22px;
      z-index: 10;
      background: transparent;
      color: $text-muted;
      min-width: 50px;
      padding: 0;
      border: none;
      outline: none;
      cursor: pointer;
      .mat-icon {
        color: rgba($color-alert, 0.5);
        border-radius: 50%;
        font-size: 22px;
        line-height: 1.4;
        margin: 0;
      }
      &:hover {
        .mat-icon {
          color: $color-alert;
        }
      }
    }
    .close_button {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
      padding: 25px 38px;
      background: transparent;
      color: $text-muted;
      min-width: 50px;
      outline: none;
      cursor: pointer;
      .mat-icon {
        color: rgba($color-alert, 0.5);
        border-radius: 50%;
        font-size: 24px;
        line-height: 1.4;
        margin: 0;
      }
      &:hover {
        .mat-icon {
          color: $color-alert;
        }
      }
    }
    .mat-wallet-content {
      max-height: 100% !important;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      .mat-progress-spinner { // loading spinners
        width: 100px;
        height: 100px;
        padding: 0 !important;
        position: absolute;
        left: calc((100% - 100px) / 2);
        top: calc((100% - 100px) / 2);
        z-index: 10;
        background: rgba(white, 0.9);
        box-shadow: 0 0 70px silver;
        border-radius: 50%;
        svg {
          width: 70px !important;
          height: 70px !important;
          transform-origin: 50px 35px;
        }
      }
    }
  }
}



/* ------------------------------- *\
    Pagination
\* ------------------------------- */

.mat-paginator {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 56px;
  padding: 0 8px;
  border-bottom: 1px solid $bg-shadow;
  font-family: $font;
  .mat-icon-button {
    &:hover {
      background-color: $color;
      border-radius: $radius;
      .mat-paginator-increment,
      .mat-paginator-decrement {
        border-color: white;
      }
    }
    &[disabled] {
      .mat-paginator-increment,
      .mat-paginator-decrement {
        border-color: $bg-shadow;
      }
      &:hover {
        background-color: transparent;
      }
    }
  }
}


/* ------------------------------- *\
    Helper classes
\* ------------------------------- */

.TO_DO {
  box-shadow: 0 0 3px 1px hotpink;
}


// ------ LAYOUT ------ //

.containerX {
  width: 100%;
}

.container-block { // main container for content
  padding: 35px;
}


// ------ TEXT/FONTS ------ //

.text-center {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}