@import "theme/partgui-theme";
@import "./src/assets/_config"; // import shared colors etc.


.TODO {
  box-shadow: 0 0 3px 1px hotpink;
}

.widget-help { // help description
  @extend .disable-select;
  color: $text-muted;
  font-size: 11px;
  margin-bottom: 25px;
  cursor: help;
}


.qrcode {
  text-align: center;
}

.mat-select-panel { // select box fix
  background: white;
}

.no-results { // search: no results
  @extend .disable-select;
  font-size: 18px;
  color: darken($bg-shadow, 15%);
  text-transform: uppercase;
  text-align: center;
  padding: 170px 0;
  border: 2px dashed $bg-shadow;
  background: rgba(white, 0.5);
}

button {
  .mat-icon {
    width: auto;
    height: auto;
    margin-right: 5px;
    position: relative;
    top: -1px;
  }
}

.actions {
  button {
    margin: 0 10px;
  }
}

/**
 * Side bar Menu.
 */

 .mat-sidenav {
   user-select: none;
  .logo-area {
    .mat-toolbar-row {
      justify-content: center;
      height: 110px;
    }
  }
  .mat-list {
    .mat-list-item { // menu item (text w/ icon)
      &:hover {
        background: darken(#222828, 1.5%);
        .mat-icon {
          color: lighten(#4B4A4F, 10%);
        }
      }
      .mat-list-item-content {
        height: auto !important;
      }

    }
    &.sidesubmenu {
      a {
        text-decoration: none;
        outline: none;
      }
      .mat-list-item-content {
        text-transform: uppercase;
        min-height: 40px;
      }
      &.error { // daemon/wallet error messages
        .mat-list-item:hover {
          background: none;
          .mat-icon {
            color: $color-alert;
          }
        }
        .mat-list-item-content {
          color: white;
          font-size: 11px;
          padding: 24px 16px;
        }
        .mat-icon {
          color: $color-alert;
          margin: 0 14px 0 0;
        }
      }
    }
  }
  .mat-expansion-panel-body { // accordion menu
    padding: 0;
  }
}

.active > md-list-item > div > md-icon {
  color: $color !important;
}

.header-main { // top header (page title with status icons)
  @extend .disable-select;
  border-bottom: 1px solid $bg-shadow;
  background: #fff;
  padding-left: 35px !important;
  padding-right: 26px !important;
}

.containerX {
  width: 100%;
}

.header-icons .material-icons {
  margin: 0 5px;
}

.md-expansion-menu > md-expansion-panel {
  color: #ffffff;
  background-color: #222828;
}

.mat-expansion-indicator.ng-tns-c7-2.ng-trigger.ng-trigger-indicatorRotate::after {
  color: #41ECC2
}

.md-expansion-menu span {
  color: #938f8f;
}

.capitalize {
  text-transform: capitalize;
}

.details-address {
  flex-wrap: wrap;
}

/**
 * Cards
 */
 md-card.mat-card { // FIXME: remove the !important and solve overwriting
  font-family: $font;
  box-shadow: 0 1px 0 $bg-shadow !important;
}


/**
 * list
 */
.icon-input { // input with icon (eg. Search in Address Book)
  input.mat-input-element {
    height: 20px;
  }
  .mat-icon {
    position: absolute;
    right: 0;
    top: 2px;
    width: auto;
    height: auto;
    font-size: 21px;
    cursor: pointer;
  }
  .mat-form-field-underline {
    background-color: $bg-shadow;
  }
}

.list-data {
  .mat-list-item {
    font-size: 14px;
    word-wrap: break-word;
    line-height: 22px;
  }
  .mat-subheader {
    padding-left: 0;
    padding-right: 0;
  }
  .mat-divider {
    margin: 15px 0;
  }
}

/**
 * Form Design
 */
input[type="text"] {
  border: none;
}

.md-list-radio {
  .mat-radio-button {
    margin-bottom: 12px;
  }
  h5 {
    margin-top: 0;
  }
}

.md-reduce-button {
  margin-bottom: 0 !important;
  padding-left: 8px !important;
}

.address, .address-label {
  overflow: hidden;
  text-overflow: ellipsis;
  background: transparent;
  transition: background .3s;
  white-space: nowrap;
}

.md-left-border {
  border-left: 1px solid #ddd;
}

.container-block { // main container for content
  padding: 35px;
}

/**
 * Scrollbars
 */
 
/* pseudo elements
::-webkit-scrollbar              {}
::-webkit-scrollbar-button       {}
::-webkit-scrollbar-track        {}
::-webkit-scrollbar-track-piece  {}
::-webkit-scrollbar-thumb        {}
::-webkit-scrollbar-corner       {}
::-webkit-resizer                {}
*/
 
::-webkit-scrollbar-track {
  border-radius: 15px;
  background-color: #e9e9e9;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  width: 6px;
  border-radius: 15px;
  background-color: $color;
}

/**
 * History List
 */
/*
.history_longAddress {
  overflow: hidden;
  flex-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block !important;
}

.history_txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.history-list .mat-content {
  max-width: 100%;
  width: 100%;
  margin-bottom: 0;
  align-items: center;
}

*/
.md-right {
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 18px;
}

/* ------------------------------- *\
    Dialogs
\* ------------------------------- */

.cdk-overlay-container {
  .mat-dialog-container {
    position: relative;
    max-width: 800px;
    height: calc(100% - 24px);
    margin: 24px auto auto auto;
    .close_button {
      position: absolute;
      right: 0;
      top: 0;
      padding: 25px 38px;
      background: transparent;
      color: $text-muted;
      min-width: 50px;
      .mat-icon {
        color: rgba($color-alert, 0.5);
        border-radius: 50%;
        font-size: 24px;
        line-height: 1.4;
        margin: 0;
      }
      &:hover {
        .mat-icon {
          color: $color-alert;
        }
      }
    }
    .md-wallet-content {
      max-height: 100% !important;
    }
  }
}



.form_block {
  width: 60%;
  .mat-form-field {
    width: 100%;
    display: block;
  }
  .row_input_gap {
    width: 80% !important;
  }
  .button-row {
    text-align: center;
    margin-top: 30px;
  }
  .wallet-name-label {
    padding-top: 14px;
    display: inline-block;
    font-weight: 700;
  }
  button {
    margin: 0 10px;
    text-transform: uppercase;
  }
}

.error {
  color: $color-alert;
}

.hr-light {
  border: none;
  border-bottom: 1px solid $bg-shadow;
  margin: 20px 0;
}

input[type="text"].md-bg-transparent {
  background-color: transparent !important;
}

.md-send-list {
  .mat-select-trigger{
    height: 23px;
  }
}

panel-header-title {
  display: block;
}

.percentage-bar-bottom {
  .progress-bar-bottom {
    height: 20px !important;
  }
  .percentage-bar-text {
    position: absolute;
    z-index: 99999;
  }
}


/* ------------------------------- *\
    Pagination
\* ------------------------------- */ 

.mat-paginator {
  margin-top: 40px;
  border-bottom: 1px solid $bg-shadow;
  font-family: $font;
  .mat-icon-button {
    &:hover {
      background-color: $color;
      border-radius: $radius;
      .mat-paginator-increment,
      .mat-paginator-decrement {
        border-color: white;
      }
    }
    &[disabled] {
      .mat-paginator-increment,
      .mat-paginator-decrement {
        border-color: $bg-shadow;
      }
      &:hover {
        background-color: transparent;
      }
    }
  }
}



.syncing_header_text{
  width: 65%;
  text-align: center;
}

.text-center {
  text-align: center;
}

@media (max-width: 1280px) {
  .md-left-border {
    border-left: none;
    justify-content: flex-start !important;
  }
}

@media (max-width: 960px) {
  .mat-form-field {
    width: 100%;
  }
  .history-list {
    .history_container {
      > div {
        min-height: 50px;
        div {
          min-height: 25px;
          align-items: center;
          .highlight, .md-right {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }
  }
  .md-send-list {
    .mat-form-field {
      width: 100%;
    }
    .mat-list {
      .mat-divider {
        margin: 4px 0;
      }
    }
  }
}



@media (max-width: 768px) {
  .form_block {
    flex-direction: column !important;
    width: 100%;
  }
}

@media (max-width: 640px) {
}
