/*

___ _  _ ____ _  _ ____ 
 |  |__| |___ |\/| |___ 
 |  |  | |___ |  | |___ 

Angular Material's custom theme styles
Global styles have been moved to `/srv/http/particl-desktop/src/styles.scss`

- Material color system: https://material.io/design/color/#tools-for-picking-colors
- Angular Material theming: https://material.angular.io/guide/theming
- Theming (& dark themes): https://coursetro.com/posts/code/116/Create-your-own-Angular-5-Material-Theme

*/

@import '~@angular/material/theming';
@include mat-core();


// PART green
$default-color: (
  50: #e8fdf8,
  100: #d1fbf1,
  200: #a3f6e2,
  300: #75f2d4,
  400: #47edc5,
  500: #03e8b0,
  600: #03be91,
  700: #029470,
  800: #029471,
  900: #006064,
  A100: #8cf4db,
  A200: #18ffff,
  A400: #1aeab8,
  A700: #03a981,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);

// Material's Blue
$default-accent: (
  50: #e3f2fd,
  100: #bbdefb,
  200: #90caf9,
  300: #64b5f6,
  400: #42a5f5,
  500: #2196f3,
  600: #1e88e5,
  700: #1976d2,
  800: #1565c0,
  900: #0d47a1,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: #fff,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: #fff,
    A400: #fff,
    A700: #fff,
  )
);

// red
$default-warn: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: #fff,
    600: #fff,
    700: #fff,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: #fff,
    A400: #fff,
    A700: #fff,
  )
);


// ------ Default, light theme ------ //

$part-default-color: mat-palette($default-color);
$part-default-accent: mat-palette($default-accent, 600);
$part-default-warn: mat-palette($default-warn);

$part-default-theme: mat-light-theme($part-default-color, $part-default-accent, $part-default-warn);
@include angular-material-theme($part-default-theme);


// ------ Dark theme ------ //

$part-dark-color: mat-palette($mat-cyan, 300); // TODO: switch to new $dark-color
$part-dark-accent: mat-palette($default-accent, 600); // TODO: switch to new $dark-accent

$part-dark-theme: mat-dark-theme($part-dark-color, $part-dark-accent);

.dark-theme {
  @include angular-material-theme($part-dark-theme);
}
