@import "theme/partgui-theme";
@import "./src/assets/_config"; // import shared colors etc.


/* ------------------------------- *\
    UI Elements
\* ------------------------------- */

// ------ HELP DESCRIPTION ------ //

.widget-help {
  @extend %disable-select;
  color: $text-muted;
  font-size: 11px;
  margin-bottom: 25px;
  cursor: help;
}


// ------ BUTTONS ------ //

.actions {
  button {
    margin: 0 10px;
  }
}

button {
  .mat-icon {
    width: auto;
    height: auto;
    margin-right: 5px;
    position: relative;
    top: -1px;
  }
}


// ------ SELECT BOX FIX ------ //

.mat-select-panel {
  background: white;
}


// ------ CARDS ------ //

mat-card.mat-card { // FIXME: remove the !important and solve overwriting
  font-family: $font;
  box-shadow: 0 1px 0 $bg-shadow !important;
}


// ------ TABS ------ //
/*
.mat-tab-group {
  .mat-tab-header {
    background: white; // needs to fix the search bg first
  }
}
*/

// ------ NO RESULTS (no TXs, no addresses, ..) ------ //

.no-results {
  @extend %disable-select;
  font-size: 18px;
  color: darken($bg-shadow, 15%);
  text-transform: uppercase;
  text-align: center;
  padding: 170px 0;
  border: 2px dashed $bg-shadow;
  background: rgba(white, 0.5);
}


// ------ INPUT VISUAL VALIDATION ------ //

input {
  &.verify-sucess {
    color: darken($color, 7%) !important; // #57a800
    background-color: rgba($color, 0.07) !important; // #edfad7
  }
  &.verify-error {
    color: darken($color-alert, 5%);
    background: rgba($color-alert, 0.1) !important;
  }
}


/* ------------------------------- *\
    Page subtitles (H2)
\* ------------------------------- */

.mat-list.list-data .mat-subheader { // "H2" subtitles in pages (e.g. "(un)used addresses" in Receive
  @extend %subtitle;
  height: auto;
  margin: 10px 0 25px !important;
  &.first {
    margin-top: -10px !important;
  }
}


/* ------------------------------- *\
    Lists
\* ------------------------------- */

.icon-input { // input with icon (eg. Search in Address Book)
  input.mat-input-element {
    height: 20px;
  }
  .mat-icon {
    position: absolute;
    right: 0;
    top: 2px;
    width: auto;
    height: auto;
    font-size: 21px;
    cursor: pointer;
  }
  .mat-form-field-underline {
    background-color: $bg-shadow;
  }
}

.list-data {
  .mat-list-item {
    font-size: 14px;
    word-wrap: break-word;
    line-height: 22px;
  }
  .mat-subheader {
    padding-left: 0;
    padding-right: 0;
  }
  .mat-divider {
    margin: 15px 0;
  }
}


/* ------------------------------- *\
    Forms
\* ------------------------------- */

input[type="text"] {
  border: none;
}

.mat-list-radio {
  .mat-radio-button {
    margin-bottom: 12px;
  }
  h5 {
    margin-top: 0;
  }
}

.mat-reduce-button {
  margin-bottom: 0 !important;
  padding-left: 8px !important;
}

.address, .address-label {
  overflow: hidden;
  text-overflow: ellipsis;
  background: transparent;
  transition: background .3s;
  white-space: nowrap;
}

.mat-left-border {
  border-left: 1px solid #ddd;
}


/* ------------------------------- *\
    Scrollbars
\* ------------------------------- */


/* pseudo elements
::-webkit-scrollbar              {}
::-webkit-scrollbar-button       {}
::-webkit-scrollbar-track        {}
::-webkit-scrollbar-track-piece  {}
::-webkit-scrollbar-thumb        {}
::-webkit-scrollbar-corner       {}
::-webkit-resizer                {}
*/

::-webkit-scrollbar-track {
  border-radius: 15px;
  background-color: $bg-shadow;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  width: 6px;
  //border-radius: 15px;
  background-color: darken($bg-shadow, 20%);
}
.mat-drawer-container {
  background: $bg;
}
// scroll on by default, so the content doesn't jump on larger pages
.mat-drawer-content {
  overflow-y: scroll !important;
}


/* ------------------------------- *\
    Dialogs
\* ------------------------------- */

.cdk-overlay-container {
  .mat-dialog-container {
    position: relative;
    max-width: 800px;
    height: calc(100% - 24px);
    margin: 24px auto auto auto;
    .close_button {
      position: absolute;
      right: 0;
      top: 0;
      padding: 25px 38px;
      background: transparent;
      color: $text-muted;
      min-width: 50px;
      .mat-icon {
        color: rgba($color-alert, 0.5);
        border-radius: 50%;
        font-size: 24px;
        line-height: 1.4;
        margin: 0;
      }
      &:hover {
        .mat-icon {
          color: $color-alert;
        }
      }
    }
    .mat-wallet-content {
      max-height: 100% !important;
    }
  }
}



/* ------------------------------- *\
    Pagination
\* ------------------------------- */ 

.mat-paginator {
  margin-top: 40px;
  border-bottom: 1px solid $bg-shadow;
  font-family: $font;
  .mat-icon-button {
    &:hover {
      background-color: $color;
      border-radius: $radius;
      .mat-paginator-increment,
      .mat-paginator-decrement {
        border-color: white;
      }
    }
    &[disabled] {
      .mat-paginator-increment,
      .mat-paginator-decrement {
        border-color: $bg-shadow;
      }
      &:hover {
        background-color: transparent;
      }
    }
  }
}


/* ------------------------------- *\
    Helper classes
\* ------------------------------- */

.TO_DO {
  box-shadow: 0 0 3px 1px hotpink;
}


// ------ LAYOUT ------ //

.containerX {
  width: 100%;
}

.container-block { // main container for content
  padding: 35px;
}


// ------ TEXT/FONTS ------ //

.text-center {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}


// ------ MODIFIERS (Tweaks/hacks to material stuff) ------ //

.mat-expansion-panel {
  // sidebar/menu: no padding for panel's content (used in the sidebar)
  &.no-padding {
    .mat-expansion-panel-body {
      padding: 0;
    }
  }
  // sidebar/menu: color panel's arrow
  &.arrow-colored {
    .mat-expansion-indicator::after {
      @extend %tfx;
      color: $text-muted;
    }
    // when expanded..
    &.mat-expanded {
      //background: darken($bg-black, 2%); // darken "submenu" background to more visually separate from the rest
      .mat-expansion-indicator::after {
        color: $color;
      }
    }
  }
}

.mat-list-item,
.mat-list-option {
  font-family: $font; // overwrite material's font by ours
}

.mat-list {
  // sidebar/menu: smaller vertical padding of child lists
  &.sidebar-item-group {
    .mat-list-item .mat-list-item-content {
      height: 42px;
      padding: 0 10px;
    }
  }
}

.mat-selection-list {
  // history/filter: remove padding from options with checkbox
  &.no-padding {
    .mat-list-item .mat-list-item-content .mat-list-text {
      padding-left: 0;
    }
  }
}

.mat-progress-bar {
  // sidebar/sync: dark buffer background for progress bar
  &.dark-buffer {
    .mat-progress-bar-buffer {
      background: lighten($bg-black, 15%);
    }
  }
}











/* ------------------------------- *\
    Probably not needed styles:
\* ------------------------------- */

.mat-right { // still needed for TX details
  text-align: right; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden; 
  height: 18px; 
} 


.details-address {
  flex-wrap: wrap;
}


.form_block {
  width: 60%;
  .mat-form-field {
    width: 100%;
    display: block;
  }
  .row_input_gap {
    width: 80% !important;
  }
  .button-row {
    text-align: center;
    margin-top: 30px;
  }
  .wallet-name-label {
    padding-top: 14px;
    display: inline-block;
    font-weight: 700;
  }
  button {
    margin: 0 10px;
    text-transform: uppercase;
  }
}

.error {
  color: $color-alert;
}

.hr-light {
  border: none;
  border-bottom: 1px solid $bg-shadow;
  margin: 20px 0;
}

input[type="text"].mat-bg-transparent {
  background-color: transparent !important;
}

.mat-send-list {
  .mat-select-trigger{
    height: 23px;
  }
}

panel-header-title {
  display: block;
}

.percentage-bar-bottom {
  .progress-bar-bottom {
    height: 20px !important;
  }
  .percentage-bar-text {
    position: absolute;
    z-index: 99999;
  }
}

.syncing_header_text{
  width: 65%;
  text-align: center;
}

@media (max-width: 1280px) {
  .mat-left-border {
    border-left: none;
    justify-content: flex-start !important;
  }
}

@media (max-width: 960px) {
  .mat-form-field {
    width: 100%;
  }
  .history-list {
    .history_container {
      > div {
        min-height: 50px;
        div {
          min-height: 25px;
          align-items: center;
          .highlight, .mat-right {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }
  }
  .mat-send-list {
    .mat-form-field {
      width: 100%;
    }
    .mat-list {
      .mat-divider {
        margin: 4px 0;
      }
    }
  }
}



@media (max-width: 768px) {
  .form_block {
    flex-direction: column !important;
    width: 100%;
  }
}

@media (max-width: 640px) {
}
