<div class="container-block">

  <app-page-intro [childPageAlias]="'favourites'">
    <ng-container page-title>Your Favourites</ng-container>
    <ng-container page-content>
      Save your favourite Listings to easily access them later on.
    </ng-container>
    <ng-container page-help>
      Note that marketplace Listings have a limited lifetime (they expire after some time), so make sure to check back here often as they might not be available on the marketplace anymore.
    </ng-container>
  </app-page-intro>

  <div class="content" *appVar="(availableCarts$ | async)[0] as selectedCart">

    <div class="no-results" *ngIf="favouriteList.length === 0">
      <img class="illustration" src="./assets/app-market/illustrations/no-favorites.svg" alt="No favorites yet">
      <p>
        You don't have any favourites yet
      </p>
      <p class="help-text">
        To add an item to favourites, click on a listings's <mat-icon fontIcon="part-heart-outline-add"></mat-icon> icon
      </p>
    </div><!-- .no-results -->

    <div *ngIf="favouriteList.length > 0" class="grid-container">
      <ng-container *ngFor="let favIdx of favDisplayIdxs; trackBy: trackByFavFn">
        <mat-card class="listing" *appVar="favouriteList[favIdx] as favorite">
          <div mat-card-image (click)="openListingDetailModal(favorite.listingId)">
            <img class="img" [src]="favorite.image" [alt]="favorite.title">
          </div>
          <mat-card-header (click)="openListingDetailModal(favorite.listingId)">
            <mat-card-title>
              {{ favorite.title }}
            </mat-card-title>
            <mat-card-subtitle>
              {{ favorite.summary }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions fxLayoutAlign="space-between center">
            <button mat-button class="add-to-cart small" color="primary" matTooltip="Add to Cart" [disabled]="!favorite.canAddToCart" (click)="addItemToCart(favIdx, selectedCart.id)">
              <mat-icon fontIcon="part-cart"></mat-icon>
              <mat-icon fontIcon="part-cart-plus"></mat-icon>
              {{ favorite.price.whole }}{{ favorite.price.sep }}<small>{{ favorite.price.decimal }}</small>
              <mat-icon fontIcon="part-cryptocurrency-particl"></mat-icon>
            </button>
            <button mat-button class="more-options tiny icon-only" [matMenuTriggerFor]="menu" aria-label="Secondary Listing actions">
              <mat-icon fontIcon="part-more-horizontal"></mat-icon>
            </button>
          </mat-card-actions>
          <mat-menu #menu="matMenu" class="--smaller">
            <button mat-menu-item (click)="removeFromFav(favIdx)">
              <mat-icon fontIcon="part-heart"></mat-icon>
              <span>Remove from Favourites</span>
            </button>
          </mat-menu>
        </mat-card>
      </ng-container>
    </div>

  </div>

  <div class="loading-bar">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoadingItems" color="accent"></mat-progress-bar>
  </div><!-- .loading-bar -->

</div><!-- .container-block -->
