<mat-expansion-panel class="question-answer list-item no-padding">
  <mat-expansion-panel-header class="header">
    <div class="header-wrapper">
      <div class="question" fxFlex="1 1 100%">
        <div class="text">
          Root Question content goes here, if it's too long, we can crop it no problem. It's just for the users to see a short preview of the question..
        </div>
        <div class="meta">
          <span class="user">
            <mat-icon fontIcon="part-person"></mat-icon>
            <span class="id-short">Pf7D</span>
            <span class="id-full">Pf7D14fgd5sfd1gd5fg1sd31eP</span>
          </span>
          <span class="time-date">2020-04-17 15:10:14</span>
        </div>
      </div>
      <div class="status-wrap" fxFlex="0 0 100px">
        <div class="status" matTooltip="Messages in thread" matTooltipPosition="before">
          <!-- TODO: if Seller hasn't yet replied: -->
          <mat-icon fontIcon="part-chat"></mat-icon>
          <!-- TODO: else if Seller has replied: -->
          <mat-icon fontIcon="part-check"></mat-icon>
          2
        </div>
      </div>
    </div>
  </mat-expansion-panel-header>
  <div class="detail">

    <div class="answer seller">
      <p>
        Yes, I think we can safely agreed on this.
      </p>
      <div class="meta">
        <!-- TODO: seller's reply has a "Seller" next to the ID + different icon -->
        <span class="user">
          <mat-icon fontIcon="part-circle-user"></mat-icon>
          <span class="id-short">Seller</span>
          <span class="id-full">Seller</span>
        </span>
        <span class="time-date">2020-04-17 16:17:14</span>
      </div>
    </div><!-- .answer -->

    <div class="answer">
      <p>
        Indeed! You have my vote as well! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae veniam molestias aliquam unde enim quia optio ea et alias, ducimus impedit atque perferendis architecto. Tempore illo optio ipsa quis adipisci. Whoa, sorry for the wall of text :O
      </p>
      <div class="meta">
        <span class="user">
          <mat-icon fontIcon="part-person"></mat-icon>
          <span class="id-short">Pf7D</span>
          <span class="id-full">Pf7D14fgd5sfd1gd5fg1sd31eP</span>
        </span>
        <span class="time-date">2020-04-18 02:27:31</span>
      </div>
    </div><!-- .answer -->

    <!-- TODO: last item is always the reply form -->
    <label class="reply-form">
      <!-- coloring based on user's side (primary for buyers, accent for sellers) - if you don't want the condition here, we can keep "accent" -->
      <mat-form-field appearance="fill" class="post-reply --plain --larger" [color]="type === 'question' ? 'accent' : 'primary'">
        <mat-icon matPrefix fontIcon="part-language"></mat-icon>
        <input matInput type="text" placeholder="Reply to this thread…">
        <button matSuffix mat-button class="small" matTooltip="Reply" [color]="type === 'question' ? 'accent' : 'primary'" matTooltipPosition="before">
          <mat-icon fontIcon="part-arrow-right"></mat-icon>
        </button>
      </mat-form-field>
    </label>

  </div><!-- .detail -->
</mat-expansion-panel><!-- .question-answer -->
