@import './src/assets/_config'; // import shared colors etc.
@import './src/app/main-market/shared/list-item-details'; // shared styling for list items

.question-answer {
  --list-item-size: min-content; // scale dynamicly based on content's size
  .question {
    padding: 16px 0 16px 24px;
    .text {
      font-size: 13px;
      color: var(--text);
      line-height: 1.4;
      margin: 0 !important;
    }
  }
  .status { // number of replies in thread
    padding-top: 4px;
    padding-bottom: 4px;
    .mat-icon {
      font-size: 12px;
      position: relative;
      top: 1px;
      margin-right: 3px;
      color: var(--text-muted);
      &.part-check {
        color: var(--color-primary);
      }
    }
  }
  .detail {
    padding: 24px;
  }
}

.meta {
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
  .user {
    font-weight: 500;
    color: var(--color-primary);
    background: hsla(var(--color-primary-hsl), 0.1);
    padding: 3px 6px;
    border-radius: var(--radius);
    font-family: var(--font-mono);
    .mat-icon {
      font-size: 11px;
      margin-right: 6px;
      position: relative;
      top: 1px;
    }
    .id-full {
      display: none;
    }
    &:hover {
      .id-full {
        display: inline-block;
      }
      .id-short {
        display: none;
      }
    }
  }
  .time-date {
    font-size: 11.5px;
    margin-left: 12px;
  }
}


.thread {
  .item {
    
    // replies to original question
    &.child {
      margin: 0 0 24px 24px;
    }
    
    // reply form
    &.reply-form {
      display: block;
      color: var(--text);
      margin: 0 -24px -24px;
      border-top: 1px dashed var(--bg-muted);
    }
    
    // seller's replies
    &.seller {
      p {
        font-weight: 500;
        color: var(--text);
      }
      .meta {
        .user {
          color: var(--color-secondary);
          background: hsla(var(--color-secondary-hsl), 0.1);
        }
      }
    }
    
    // shared stuff
    p {
      margin: 0;
    }
  } // << .item
}
  
  