<div class="status-icons" fxLayout="row" fxLayoutGap="12px">

  <span class="status icon" matTooltip="Peers: {{ peerListCount }}">
    <img src="assets/icons/status/peers-{{ peerIcon }}.svg"/>
  </span>

  <span
    class="encryption icon"
    [matTooltip]="(walletStatus | async)"
    container="body"
    (click)="toggleWalletStatus()">
      <img src="assets/icons/status/encryption{{ walletStatusIcon }}.svg"/>
  </span>

  <!-- FIXME/TODO: remove this button when Console button in Multiwallet sidebar is implemented -->
  <span
    class="console icon"
    matTooltip="Debug Console"
    container="body"
    (click)="openConsoleWindow()">
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-console-window"></mat-icon>
  </span>

  <span
    class="zmq icon"
    [ngClass]="zmqStatus"
    [matTooltip]="zmqStatusMessage">
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-nodes"></mat-icon>
  </span>

  <span class="warning icon" *ngIf="timeOffset !== 0" matTooltip="Time offset: {{ timeOffset }}s">
    <mat-icon fontSet="partIcon" fontIcon="part-alert"></mat-icon>
  </span>

  </div><!-- .status-icons -->
