@import './src/assets/_config'; // import shared colors etc.

.status-icons {
  display: inline-block;
  border-left: 1px solid var(--bg-muted);
  padding-left: calc(var(--paddingH) / 1.25);
  height: var(--header-main-height);
  line-height: var(--header-main-height);
}

.icon {

  // Encryption
  &.encryption {
    cursor: pointer;
  }

  // ZMQ warnings
  &.zmq {
    &.zmq-alert {
      color: var(--color-alert);
    }
    &.zmq-warning {
      color: var(--color-warning);
    }
    &.zmq-info {
      color: var(--color-info);
    }
    &.zmq-connected {
      color: var(--text);
    }
  }

  // Time offset warning
  &.warning {
    color: var(--color-alert);
    position: relative;
    top: 1px;
    .mat-icon {
      font-size: 18px;
    }
  }
}

