<div mat-dialog-title>Restart now?</div>
<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<div mat-dialog-content class="dialog-content">
  <p class="lead">
    Particl Desktop needs to be restarted in order to apply relevant changes.
  </p>
  <p class="widget-help">
    Would you like to restart now?<br>
    Particl Desktop will relaunch automatically.
  </p>
</div>


<mat-dialog-actions fxLayoutAlign="space-between center">
  <button mat-button mat-dialog-close (click)="dialogClose()">
    <mat-icon fontIcon="part-cross"></mat-icon>
    No, I will restart manually later
  </button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="doRestart()">
    <mat-icon fontIcon="part-refresh"></mat-icon>
    Yes, restart now
  </button>
</mat-dialog-actions>
