@import "./src/assets/_config"; // import shared colors etc.

.console-modal {
	width: auto;
	margin: -24px;
	padding: 24px 0 0;

	// command input & button
	.command-actions {
		padding: 12px 24px;
		border-top: 1px solid $bg-shadow;
	}
}

.warn-text {
	color: $color-alert;
}

.console-modal-form {
	height: 450px;
	font-family: $font;
	overflow-y: scroll;
	background: $bg;
}

.content-modal {
	max-height: none !important;
	margin: 0 24px 24px;
	padding: 10px 16px;
	background: white;
	border-bottom: 1px solid $bg-shadow;

	// user input commands
	&.input {
		margin-bottom: 0;
		border-bottom: 1px dashed $bg-shadow;
		.time {
			color: $text-muted;
			font-size: 10px;
			text-align: right;
		}
		.command {
			font-weight: bold;
		}
	}
}

.text-format {
	line-height: 1.3;
	white-space: pre-wrap; // wrap long output lines
	margin: 0;
}

.intro-text { // console welcome/warning text
	background: $bg;
	//margin-right: 15px;
	padding: 10px 25px;
}
