<div class="container-block">

  <div class="row" fxLayout="row" fxLayoutGap="30px">

    <div class="left" fxFlex="50">

      <mat-card class="photos">
        <div class="title">Upload photos</div>
        <div id="drag-n-drop" class="drag-n-drop">
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-select"></mat-icon>

          <!--hide input -->
          <input class="hide-file" type="file"
                accept="image/*" multiple="true" id="fileInput">

          <button mat-button color="primary" (click)="uploadPicture()">
            Upload a photo
          </button>
          <p>or drag'n'drop it here</p>
        </div>
        <p class="widget-help">
          Upload photos of your listing item, then choose one of them as featured (this will be the main photo shown on market). Be sure to upload high quality &amp; focused images in good lighting where possible. Max file size per image is 2MB.
        </p>
        <div class="gallery" fxLayout="row wrap">

          <div *ngFor="let image of images"
              class="photo-wrapper" fxFlex="0 0 123px" fxLayoutAlign="center center">
            <div class="photo" fxFLex>
              <img src="{{image.thumbnail}}">
              <div class="icons">
                <mat-icon class="delete" fontSet="partIcon" fontIcon="part-cross"
                          matTooltip="Remove image" (click)="removeExistingImage(image)">
                </mat-icon>
                <!--mat-icon class="featured" fontSet="partIcon" fontIcon="part-check"
                          matTooltip="Set as featured" (click)="featurePicture(i)">
                </mat-icon-->
              </div>
            </div>
          </div>

          <div *ngFor="let picture of picturesToUpload ; index as i"
              class="photo-wrapper" fxFlex="0 0 123px"
              fxLayoutAlign="center center">
            <!-- TODO: maybe not gif, but removing is 'unsafe' -->
            <div class="photo" fxFLex>
              <img src="{{picture}}">
              <div class="icons">
                <mat-icon class="delete" fontSet="partIcon" fontIcon="part-cross"
                          matTooltip="Remove image" (click)="removePicture(i)">
                </mat-icon>
                <!-- TODO: Fix set as featured img -->
                <!-- <mat-icon class="featured" fontSet="partIcon" fontIcon="part-check"
                          matTooltip="Set as featured" (click)="featurePicture(i)">
                </mat-icon> -->
              </div>
            </div>
          </div>

        </div><!-- .gallery -->
      </mat-card><!-- .photos -->

    </div><!-- .left -->


    <mat-card class="details" fxFlex="50" [formGroup]="itemFormGroup">
      <div class="title">Listing details *</div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Listing title (product name) *" #title formControlName="title">
        <mat-hint align="end">{{ title.value?.length || 0 }}/50</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea matInput #summary rows="3" placeholder="Summary (short description) *"
                  formControlName="shortDescription"></textarea>
        <mat-hint align="end">{{ summary.value?.length || 0 }}/200</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea matInput #description rows="12" placeholder="Description *"
                  formControlName="longDescription"></textarea>
        <mat-hint align="end">{{ description.value?.length || 0 }}/1000</mat-hint>
      </mat-form-field>

      <mat-otpgroup-select-search
        [options]="_rootCategoryList?.subCategoryList"
        [placeHolder]="'Select category'"
        [isRequired]="'true'"
        [defaultSelectedValue]="selectedCategory"
        (change)="onCategoryChange($event)">
      </mat-otpgroup-select-search>

      <mat-select-search
        class="full-width"
        [options]="countryList.getList()"
        [showValueOf]="'name'"
        [placeHolder]="'Shipping from (your country)'"
        [isRequired]="'true'"
        [defaultSelectedValue]="selectedCountry"
        [isLexigraphicalOrder]="true"
        (onChange)="onCountryChange($event)">
      </mat-select-search>

      <!-- TODO: add another input for fiat value and inter-connect the two: -->
      <mat-form-field class="full-width">
        <mat-icon matPrefix class="icon" fontSet="partIcon" fontIcon="part-cryptocurrency-particl"></mat-icon>
        <input matInput min="0" (paste)="numericValidator($event)" (keypress)="numericValidator($event)" placeholder="Price per item *" formControlName="basePrice" type="text">
        <span matSuffix>PART</span>
      </mat-form-field>

      <div class="row" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="25px">
        <!--mat-form-field fxFlex="0 0 70px" class="auto-width">
          <input matInput placeholder="Quantity">
        </mat-form-field-->
        <mat-form-field fxFlex="50%" class="auto-width">
          <input matInput min="0" (paste)="numericValidator($event)" (keypress)="numericValidator($event)" placeholder="Domestic shipping price *" formControlName="domesticShippingPrice" type="text">
          <span matSuffix>PART</span>
        </mat-form-field>
        <mat-form-field fxFlex="50%" class="auto-width">
          <input matInput min="0" (paste)="numericValidator($event)" (keypress)="numericValidator($event)" placeholder="International shipping price *" formControlName="internationalShippingPrice"
                 type="text">
          <span matSuffix>PART</span>
        </mat-form-field>
      </div>
      <p class="widget-help">
        Don't forget to include quantity units (e.g. 1 piece, 1 pair, 1 kg or 100 ml).<br>
        Prices are in PART.
      </p>
    </mat-card>
  </div>

  <p class="warning" *ngIf="!canPublish">
    <strong>Error:</strong> maximum Listing size exceeded &ndash; try to reduce image or text sizes
  </p>

  <div class="action-buttons" fxLayout fxLayoutAlign="space-between center">
    <div class="left">
      <button mat-button (click)="backToSell()" color="warn">
        <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
        Back to Listings
      </button>
    </div>
    <div class="right">
      <button [disabled]="!itemFormGroup?.valid" mat-button matTooltip="Save template changes" (click)="saveTemplate()">
        <mat-icon fontSet="partIcon" fontIcon="part-date"></mat-icon>
        {{ isExistingTemplate() ? 'Update' : 'Save'}}
      </button>

      <button [disabled]="!itemFormGroup?.valid"
              mat-raised-button color="primary"
              (click)="saveAndPublish()"
              *ngIf="!['awaiting', 'published'].includes(preloadedTemplate?.status)">
        <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
        {{ isExistingTemplate() ? 'Update & Publish' : 'Save & Publish'}}
      </button>
    </div>
  </div>
</div>
