@import './src/assets/_config'; // import shared colors etc.

// ------ GENERAL ------ //


// ------ LAYOUT ------ //

.container-block {
  margin-top: $header-main-height;
}

.mat-card {
  & > .title {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 24px;
  }
}


// ------ GALLERY ------ //

.drag-n-drop {
  border: 1px dashed $bg-shadow;
  border-radius: 4px;
  background: $bg;
  margin-bottom: 16px;
  padding: 50px 24px 45px;
  text-align: center;
  .mat-icon {
    display: block;
    margin-bottom: 16px;
    font-size: 42px;
    color: $bg-shadow;
  }
  p {
    margin: 6px 0 0;
    color: $text-muted;
  }
}

.gallery {
  margin: 0 -10px;
}

.photo-wrapper {
  position: relative;
  margin: 10px;
  background: repeating-linear-gradient(45deg, $bg, $bg 5px, mix($bg-shadow, $bg) 5px, mix($bg-shadow, $bg) 7px);
  height: 123px;
  overflow: hidden;
  &:hover .icons {
    opacity: 1;
  }
  &.featured {
    box-shadow: 0 0 0 2px $color;
  }
  img {
    width: 100%;
    display: block;
  }
  .icons {
    @extend %tfx;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    .mat-icon {
      @extend %tfx;
      background: $color-white;
      border-radius: 50%;
      box-shadow: 0 0 6px rgba($bg-black, 0.25);
      padding: 6px;
      cursor: pointer;
      &:hover {
        &.delete {
          color: $color-alert;
        }
        &.featured {
          color: $color;
        }
      }
    }
  }
}


// ------ DETAILS ------ //

.mat-form-field {
  .icon {
    font-size: 14px;
    position: relative;
    top: 2px;
    margin-right: 10px;
  }
}



// ------ BUTTONS ------ //

p.warning {
  background: rgba($color-alert, 0.1);
  margin: 24px -35px;
  padding-left: 65px;
  &::before {
    left: 35px;
  }
}

.action-buttons {
  margin-top: 24px;
  .left {
    button {
      margin-right: 8px;
    }
  }
  .right {
    button {
      margin-left: 8px;
    }
  }
}

.hide-file {
  display: none;
}
