<div class="container-block disable-select">
  
  <div class="row" fxLayout="row" fxLayoutGap="30px">

    <mat-card class="photos" fxFlex="50">
      <div class="title">Upload photos</div>
      <div class="drag-n-drop">
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-select"></mat-icon>
        <button mat-button color="primary">
          Upload a photo
        </button>
        <p>or drag'n'drop it here</p>
      </div>
      <p class="widget-help">
        Upload photos of your listing item, then choose one of them as featured (this will be the main photo shown on market). Be sure to upload high quality & focused images in good lighting where possible.
      </p>
      <div class="gallery" fxLayoutWrap>
        <div class="photo" fxFlex="25">
          <img src="./assets/images/placeholder_1-1.jpg">
          <div class="icons">
            <mat-icon class="delete" fontSet="partIcon" fontIcon="part-cross" matTooltip="Remove image"></mat-icon>
            <mat-icon class="featured" fontSet="partIcon" fontIcon="part-check" matTooltip="Set as featured"></mat-icon>
          </div>
        </div>
        <div class="photo featured" fxFlex="25">
          <img src="./assets/images/placeholder_1-1.jpg">
          <div class="icons">
            <mat-icon class="delete" fontSet="partIcon" fontIcon="part-cross" matTooltip="Remove image"></mat-icon>
            <mat-icon class="featured" fontSet="partIcon" fontIcon="part-check" matTooltip="Set as featured"></mat-icon>
          </div>
        </div>
        <div class="photo" fxFlex="25">
          <img src="./assets/images/placeholder_1-1.jpg">
          <div class="icons">
            <mat-icon class="delete" fontSet="partIcon" fontIcon="part-cross" matTooltip="Remove image"></mat-icon>
            <mat-icon class="featured" fontSet="partIcon" fontIcon="part-check" matTooltip="Set as featured"></mat-icon>
          </div>
        </div>
        <div class="photo" fxFlex="25">
          <img src="./assets/images/placeholder_1-1.jpg">
          <div class="icons">
            <mat-icon class="delete" fontSet="partIcon" fontIcon="part-cross" matTooltip="Remove image"></mat-icon>
            <mat-icon class="featured" fontSet="partIcon" fontIcon="part-check" matTooltip="Set as featured"></mat-icon>
          </div>
        </div>
        <div class="photo" fxFlex="25">
          <img src="./assets/images/placeholder_1-1.jpg">
          <div class="icons">
            <mat-icon class="delete" fontSet="partIcon" fontIcon="part-cross" matTooltip="Remove image"></mat-icon>
            <mat-icon class="featured" fontSet="partIcon" fontIcon="part-check" matTooltip="Set as featured"></mat-icon>
          </div>
        </div>
        <div class="photo" fxFlex="25">
          <img src="./assets/images/placeholder_1-1.jpg">
          <div class="icons">
            <mat-icon class="delete" fontSet="partIcon" fontIcon="part-cross" matTooltip="Remove image"></mat-icon>
            <mat-icon class="featured" fontSet="partIcon" fontIcon="part-check" matTooltip="Set as featured"></mat-icon>
          </div>
        </div>
      </div><!-- .gallery -->
    </mat-card><!-- .photos -->
  
    <mat-card class="details" fxFlex="50">
      <div class="title">Listing details</div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Listing title (product name)">
      </mat-form-field>
    
      <mat-form-field class="full-width">
        <textarea matInput #description rows="12" placeholder="Description"></textarea>
        <mat-hint align="end">{{description.value?.length || 0}}/300</mat-hint>
      </mat-form-field>
    
      <mat-form-field class="full-width">
        <mat-select placeholder="Select categories" [formControl]="categories" multiple>
          <mat-optgroup *ngFor="let group of categories" [label]="group.name">
            <mat-option *ngFor="let subcategory of group.subcategory" [value]="subcategory.value">
              {{ subcategory.viewValue }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="Country">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="row" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="25px">
        <mat-form-field fxFlex="0 0 70px" class="auto-width">
          <input matInput placeholder="Quantity">
        </mat-form-field>
        <!-- TODO: add another input for fiat value and inter-connect the two: -->
        <mat-form-field fxFlex="50%" class="auto-width" hintLabel="(in PART)">
          <input matInput placeholder="Price per item">
        </mat-form-field>
        <!-- TODO: ability to add more shipping options via select & some admin/modal? -->
        <mat-form-field fxFlex="50%" class="auto-width" hintLabel="(in PART)">
          <input matInput placeholder="Shipping price">
        </mat-form-field>
      </div>
      <p class="widget-help">
        Don't forget to include quantity units (e.g. 1 piece, 1 pair, 1 kg or 100 ml).<br>
        Prices are in PART.
      </p>
    </mat-card>

  </div>
    
  <div class="action-buttons" fxLayout fxLayoutAlign="space-between center">
    <div class="left">
      <button mat-button (click)="backToSell()" color="warn">
        <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
        Cancel & Discard
      </button>
    </div>
    <div class="right">
      <button mat-button matTooltip="Save as unpublished template">
        <mat-icon fontSet="partIcon" fontIcon="part-date"></mat-icon>
        Save for later
      </button>
      <button mat-raised-button color="primary" matTooltip="Save and put up for sale">
        <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
        Save & Publish
      </button>
    </div>
  </div>

</div>
