input[type=checkbox] {
  margin: 15px auto;
}

input[type=checkbox] + label {
    margin-left: 12px;
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
}

input[name=password] {
    width: 100%;
}

input[name=stakeonly] {
    margin-left: 5%;
}