<div class="enter-password">

  <mat-form-field>
    <input matInput name="password"
            id="password"
            type="{{ getInputType() }}"
            [disabled]="isDisabled"
            [appFocusTimeout]="!isDisabled && !!buttonText && emitUnlock"
            [(ngModel)]="password"
            placeholder="{{ label }}" />
  </mat-form-field>

  <span *ngIf="!isDisabled && !showPassword || isDisabled && !!password" class="show-password">
    <mat-checkbox type="checkbox" name="showpass" value="password" [(ngModel)]="showPass" tabindex="-1" (change)="toggle()">Show password</mat-checkbox>
  </span>


  <div class="additional-options" *ngIf="showEditableTimeout || showStakeOnly">
    <div class="subtitle">Additional options</div>
    
    <div *ngIf="showEditableTimeout" class="unlock-timeout">
      <strong>Unlock for</strong>
      <input  name="customTimeout"
              class="duration-input"
              [disabled]="isDisabled || stakeOnly"
              type="number"
              min="10"
              step="10"
              max="99999990"
              [(ngModel)]="unlockTimeout">
      seconds
      <span class="widget-help">(default: 300 seconds)</span>
      <!--p class="widget-help">
        Wallet unlocks for 5 mins by default &ndash; you can customize this duration here.
      </p-->
    </div>
  
    <span *ngIf="showStakeOnly" class="stake-only">
      <mat-checkbox type="checkbox" name="stakeonly" value="stakeonly" [disabled]="isDisabled" [(ngModel)]="stakeOnly">
        <strong>Unlock for Staking only</strong>
        <!--small>Unlock indefinitely for staking only &ndash; for spending your coins, you would need to do a full unlock</small-->
      </mat-checkbox>
      <p class="widget-help">
        Unlock indefinitely for staking only &ndash; for spending your coins, you would need to do a full unlock
      </p>
    </span>

  </div><!-- .additional-options -->


  <div class="actions">
    <button *ngIf="!!buttonText" color="warn" mat-raised-button (click)="unlock()" [disabled]="!password || isButtonDisable || isProcessing">
      <mat-icon fontSet="partIcon" fontIcon="part-lock-open"></mat-icon>
      {{ buttonText }}
    </button>
  </div><!-- .actions -->


</div><!-- .enter-password -->
