@import "./src/assets/_config"; // import shared colors etc.

input[type=checkbox] + label {
  margin-left: 12px;
  font-size: 12px;
  font-weight: 600;
  padding: 5px;
}

.show-password { // checkbox next to input
  margin-left: 20px;
}

.stake-only { // "unlock for staking only" button
  margin-left: 20px;
}

.actions { // area with button(s)
  margin: 10px 0 20px;
  button {
    margin: 0;
  }
}