<div fxLayout="column" fxLayoutWrap  fxLayoutAlign="center center">
  <div class="container form_block" fxFlex="70%">
  <div fxFlex="30%">
    <label class="wallet-name-label">{{ label }}</label>
  </div>
  <div fxFlex="70%">
    <div class="col-md-12">
      <md-form-field>
        <input mdInput name="password"
               type="{{ getInputType() }}"
               [disabled]="isDisabled"
               [appFocusTimeout]="!isDisabled && !!buttonText && emitUnlock"
               [(ngModel)]="password"/>
      </md-form-field>
      <br>

      <span *ngIf="!isDisabled || isDisabled && !!password">
        <md-checkbox  type="checkbox" name="showpass" value="password"
                      [(ngModel)]="showPass">SHOW PASSWORD</md-checkbox>
      </span>

      <span *ngIf="showStakeOnly">
        <md-checkbox type="checkbox" name="stakeonly" value="stakeonly"
                     [disabled]="isDisabled"
                     [(ngModel)]="stakeOnly">STAKE ONLY</md-checkbox>
      </span>

    </div>
  </div>
  <div class="col-md-3">
    <button *ngIf="!!buttonText" md-raised-button (click)="unlock()">
      {{ buttonText }}
    </button>
  </div>
</div>
</div>
<hr class="hr-light">
