<div fxLayout="column" fxLayoutWrap fxLayoutAlign="center center">
  <div class="container form_block" fxFlex="70%">
    <div fxFlex="30%" fxFlex.sm="100%" fxFlex.xs="100%">
      <label class="wallet-name-label">{{ label }}</label>
    </div>
    <div fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%">
      <div class="col-md-12">
        <md-form-field>
          <input mdInput name="password"
                 type="{{ getInputType() }}"
                 [disabled]="isDisabled"
                 [appFocusTimeout]="!isDisabled && !!buttonText && emitUnlock"
                 [(ngModel)]="password"
                 placeholder="Password"/>
        </md-form-field>
        <br>

        <span *ngIf="!isDisabled || isDisabled && !!password">
        <md-checkbox type="checkbox" name="showpass" value="password"
                     [(ngModel)]="showPass">SHOW PASSWORD</md-checkbox>
      </span>

        <span *ngIf="showStakeOnly">
        <md-checkbox type="checkbox" name="stakeonly" value="stakeonly"
                     [disabled]="isDisabled"
                     [(ngModel)]="stakeOnly">STAKE ONLY</md-checkbox>
      </span>

      </div>
    </div>

    <div fxFlex.sm="100%" fxFlex.xs="100%">
      <button *ngIf="!!buttonText" color="primary" md-raised-button (click)="unlock()" [disabled]="!password">
        {{ buttonText }}
      </button>
    </div>
  </div>
</div>
<hr class="hr-light">
