@import './src/assets/_config'; // import shared colors etc.

/* --- ↓↓↓ --- following code to become listing-item --- ↓↓↓ --- */

@import './src/app/main-market/shared/list-item-details'; // shared styling for list items

// ------ LISTING ITEM ------ //

.listing {
  .header {
    .meta {
      .name {
        margin-bottom: 6px;
      }
      .published-markets {
        margin-right: 10px;
        border: 1px solid hsla(var(--text-muted-hsl), 0.6);
        padding: 1px 6px;
        border-radius: var(--radius);
        font-size: 13px;
      }
    }
  }
  .status-info {
    .item-info { // ID, order created/updated
      flex: 0 0 250px;
    }
  }
  .detail {
    .item-subtitle {
      margin-top: 0;
    }
    ul.listing-info {
      padding-left: 24px;
    }
  }
}

/* --- ↑↑↑ --- following code to become listing-item --- ↑↑↑ --- */
