<!-- Do not remove the below class it is using for test case -->
<app-header>
  <div class="tab-bar">
    <mat-tab-group (selectedTabChange)="changeTab($event.index)" [selectedIndex]="selectedTab">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon fontIcon="part-recipe"></mat-icon>
          Orders
          <span class="tag" *ngIf="orderCount > 0">{{ orderCount }}</span>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon fontIcon="part-stock"></mat-icon>
          Listings
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-header>


<!-- =========== LISTINGS =========== -->

<div class="container-block with-tab-bar" *ngIf="tabLabels[selectedTab] == 'listings'">
  <app-page-intro [childPageAlias]="tabLabels[selectedTab]">
    <ng-container page-title>Your Listings</ng-container>
    <ng-container page-content>
      This is your dashboard for selling your products on the marketplace and manage their listings.<br>
      Create new listings and manage them here. Use the Orders tab to track and process orders from your customers.
    </ng-container>
    <ng-container page-help>
      All listings created here will be publicly available on the Marketplace.
    </ng-container>
  </app-page-intro>

  <!-- Listings > Filter -->
  <div class="filter">

    <div class="buttons">
      <button mat-raised-button color="primary" routerLink="new-listing" class="full-width">
        <mat-icon fontIcon="part-circle-plus"></mat-icon>
        Add new Listing
      </button>
      <button mat-raised-button color="accent" routerLink="import-listings" class="full-width"><!-- (click)="importListings()" -->
        <mat-icon fontIcon="part-image-upload"></mat-icon>
        Import Listings
      </button>
    </div><!-- .buttons -->

    <h2 class="section-title">
      Search &amp; sort
    </h2>

    <mat-card class="filter-card">

      <mat-form-field class="--plain" appearance="fill">
        <input matInput type="text" placeholder="Search listings" [(ngModel)]="filters.search"
                (keyup)="clearAndLoadPage()" (keyup.enter)="clearAndLoadPage()" (keyup.escape)="filters.search = ''; clearAndLoadPage()">
        <button *ngIf="filters.search" matSuffix mat-button class="small" (click)="filters.search=''; clearAndLoadPage()" matTooltip="Clear" matTooltipPosition="after">
          <mat-icon fontIcon="part-clear-all"></mat-icon>
        </button>
        <mat-icon *ngIf="!filters.search" matSuffix fontIcon="part-search"></mat-icon>
      </mat-form-field>

      <mat-form-field class="--plain" appearance="fill">
        <mat-select placeholder="Sort listings" [(ngModel)]="filters.sort" (selectionChange)="clearAndLoadPage()">
          <mat-option *ngFor="let sorting of listing_sortings" [value]="sorting.value">
            {{ sorting.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-card><!-- .filter-card -->

    <h2 class="section-title">
      Filter
    </h2>

    <mat-card class="filter-card">
      <mat-radio-group class="radio-group block-radio" [(ngModel)]="filters.hashItems" (change)="clearAndLoadPage()">
        <mat-radio-button class="filter-option" *ngFor="let status of listing_filtering_status" value="{{ status.value }}" color="accent">
          {{ status.title }}
          <!-- <span class="amount">{{ status.amount }}</span>  -->
        </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>
      <!-- TODO: this one is new - if it can't be implemented, we can get rid of it: -->
      <mat-form-field class="--plain" appearance="fill">
        <mat-select placeholder="All Markets" [(ngModel)]="filters.sort" (selectionChange)="clearAndLoadPage()">
          <mat-option *ngFor="let filtering_market of listing_filtering_market" [value]="filtering_market.value">
            {{ filtering_market.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card><!-- .filter-card -->

    <button mat-button color="basic" class="clear-filters" (click)="clear()">
      <mat-icon fontIcon="part-clear-all"></mat-icon>
      Clear all filters
    </button>

  </div><!-- .filter -->

  <!-- .loading-container -->
  <div class="loading-container" *ngIf="isPageLoading">
    <div class="loading-info">
      <div class="loading-image">
        <img src="./assets/particl-logo-symbol.svg">
      </div>
      <p class="title">
        Hang on, we're loading your listings
      </p>
      <p class="help-text">
        This might take a while
      </p>
    </div>
  </div><!-- .loading-container -->

  <!-- Listings > list -->
  <div class="listings section with-filter">
    <!-- infiniteScroll
    [infiniteScrollContainer]="pagination.infinityScrollSelector"
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    [fromRoot]="true"
    (scrolled)="loadNextPage()" -->

    <mat-accordion><!-- *ngFor="let page of pages;let pageIndex = index;" -->
      <!--app-seller-listing *ngFor="let listing of page.listings; let listingIndex = index" [listing]="listing" (onDelete)="deleteListing(pageIndex, listingIndex)"></app-seller-listing-->



      <!-- ------ ↓↓↓ ------ following code to become listing-item ------ ↓↓↓ ------ -->

      <mat-expansion-panel class="listing list-item no-padding">
        <mat-expansion-panel-header class="header">
          <div class="header-wrapper">
            <div class="photo">
              <img src="./assets/images/placeholder_4-3.jpg"><!--img src="{{ listing?.imageCollection?.featuredImage?.medium}}"-->
            </div>
            <div class="meta" fxFlex="1 1 100%">
              <div class="name">Listing title<!--{{ listing?.title }}--></div>
              <!-- TODO: if published on 1 market, display it's name; if on multiple display "X Markets" (as shown below) -->
              <span class="published-markets">2 Markets</span>
              <span class="category">Some Category<!--{{ listing?.category.name }}--></span>
            </div>
            <div class="status-wrap" fxFlex="0 0 140px"><!-- *ngFor="let status of getStatus(listing?.status)" -->
              <div class="status expired"><!-- remove "expired" class, add: {{ status?.class }} -->
                <span class="dot"></span>Expired<!--{{ status?.status }}-->
              </div>
            </div>
          </div>
        </mat-expansion-panel-header>

        <div class="status-info">
          <div class="text">
            <h2 class="item-title">Expired<!--{{ status?.status }}--> Listing</h2>
            <p>Listing is expired or something, relist it to publish it on the Market once again<!--{{ listing?.shortDescription }}--></p>
          </div>
          <p class="item-info">
            Category: Some Category<!--{{ listing?.category.name }}--><br>
            Created: 2020-05-01 15:84<!--{{ listing?.createdAt }}--><br>
            Expires: 2020-05-11 15:86<!--{{ listing?.expiredAt }}-->
          </p>
        </div>

        <div class="detail" fxLayout="row" fxLayoutGap="30px">
          <div class="description" fxFlex="55%">
            <h3 class="item-subtitle">Published on</h3>
            <ul class="listing-info">
              <li>Particl Open Marketplace</li>
              <li>Sneaky Market</li>
            </ul>
          </div><!-- .description -->
          <div class="pricing-info" fxFlex="45%">
            <h3 class="item-subtitle">Pricing</h3>
            <table class="prices">
              <tfoot>
                <th></th>
                <th><span matTooltip="Particl" matTooltipPosition="below">PART</span></th>
                <!--th><span matTooltip="US Dollar" matTooltipPosition="below">USD</span></th-->
              </tfoot>
              <tbody>
                <tr>
                  <th>Price per item</th>
                  <td class="amount part">15.2154<!--{{ listing?.basePrice.particlsString() }}--></td>
                  <!--td class="amount fiat">3.5165</td-->
                </tr>
                <tr>
                  <th>Local shipping (CZ)<!--{{ listing?.country }}--></th>
                  <td class="amount part">2.5410<!--{{ listing?.domesticShippingPrice.particlsString() }}--></td>
                  <!--td class="amount fiat">0.6518</td-->
                </tr>
                <tr>
                  <th>Worldwide shipping</th>
                  <td class="amount part">5.4115<!--{{ listing?.internationalShippingPrice.particlsString() }}--></td>
                  <!--td class="amount fiat">0.9410</td-->
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <mat-action-row fxLayout fxLayoutAlign="space-between stretch">
          <div class="left">
            <button mat-button color="warn" matTooltip="Delete listing" (click)="confirmDeleteListing(listing)" class="small"><!-- *ngIf="listing?.isUnpublished" -->
              <mat-icon fontIcon="part-cross"></mat-icon>
            </button>
            <button mat-button matTooltip="Clone listing" (click)="addItem(listing?.id, true)" class="small">
              <mat-icon fontIcon="part-copy"></mat-icon>
            </button>
            <button mat-button matTooltip="Edit listing details" (click)="addItem(listing?.id)" class="small"><!-- *ngIf="listing?.isUnpublished" -->
              <mat-icon fontIcon="part-pen-1"></mat-icon>
              Edit
            </button>
            <!-- TODO: new one - open proper "listing detail" modal (as if someone clicked on it from the Marketplace) -->
            <button mat-button matTooltip="Open this listing" class="small">
              <mat-icon fontIcon="part-zoom-in"></mat-icon>
              Open
            </button>
          </div>
          <!--div class="right" *ngFor="let status of getStatus(listing?.status)">
            <button mat-raised-button color="{{ status?.action_color }}" matTooltip="{{ status?.action_tooltip }}" (click)="action(listing)" [disabled]="status?.action_disabled">
              <mat-icon fontIcon="{{ status?.action_icon }}"></mat-icon>
              {{ status?.action_button }}
            </button>
          </div-->
        </mat-action-row>
      </mat-expansion-panel><!-- .listing -->

      <!-- ------ ↑↑↑ ------ following code to become listing-item ------ ↑↑↑ ------ -->

    </mat-accordion>

    <!-- no listings at all -->
    <!-- [hidden]="(pages.length !== 0) && (pages[0]?.listings.length !== 0)" -->
    <div class="no-results">
      <img class="illustration" src="./assets/images/illustrations/no-listings.svg" alt="No Listings">
      <p>
        You don't have any Listings yet
      </p>
      <p class="help-text">
        Start selling by clicking on either "Add new Listing" or "Import Listings" button
      </p>
    </div><!-- .no-results -->

    <!-- no listings matching search -->
    <div class="no-results" *ngIf="filters.search">
      <img class="illustration" src="./assets/images/illustrations/search.svg" alt="No Listings found">
      <p>
        No matching Listings found
      </p>
      <p class="help-text">
        You don't have any Listings matching your search
      </p>
    </div><!-- .no-results -->

  </div><!-- .listings-list -->
</div><!-- .container-block -->


<div class="loading-bar">
  <mat-progress-bar mode="indeterminate" color="accent" *ngIf="isLoading"></mat-progress-bar>
  <!-- FIXME: implement and uncomment:
  <mat-progress-bar mode="indeterminate" color="accent" *ngIf="pages[0] && pages[0].listings && pages[0].listings.length === 10 && isLoading"></mat-progress-bar-->
</div><!-- .loading-bar -->


<!-- =========== ORDERS =========== -->

<!-- Do not remove the below class it is using for test case -->
<div class="container-block with-tab-bar test-case-container" *ngIf="tabLabels[selectedTab] == 'orders'">
  <app-page-intro [childPageAlias]="tabLabels[selectedTab]">
    <ng-container page-title>Sell Orders</ng-container>
    <ng-container page-content>
      Manage your orders which you're selling to Buyers.
    </ng-container>
    <ng-container page-info *ngIf="hasEncryptedWallet">
      As this is an encrypted wallet, your wallet will need to be unlocked in order to process bid update messages!
    </ng-container>
    <ng-container page-help>
      Each step of the selling process needs to be confirmed in this page (i.e. marking an order as "Shipped").
    </ng-container>
  </app-page-intro>

  <app-orders type="sell"></app-orders>
</div><!-- "Orders" tab -->
