
<div class="tab-bar">
  <mat-tab-group (selectedTabChange)="changeTab($event.index)" [selectedIndex]="selectedTab">
    <mat-tab *ngFor="let tab of tabs">
      <ng-template mat-tab-label>
        <mat-icon [fontIcon]="tab.icon"></mat-icon>
        {{ tab.title }}
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-container [ngSwitch]="selectedTempl">

  <div *ngSwitchCase="'orders'" class="container-block with-tab-bar" >
    <market-sell-orders></market-sell-orders>
  </div>

  <div *ngSwitchCase="'listings'" class="container-block with-tab-bar" >
    <market-sell-listings></market-sell-listings>
  </div>

  <div *ngSwitchCase="'templates'" class="container-block with-tab-bar" >
    <market-sell-templates></market-sell-templates>
  </div>

  <div *ngSwitchCase="'questions'" class="questions container-block">
    <market-sell-questions></market-sell-questions>
  </div>

</ng-container>
