<form [formGroup]="stateForm">
  <mat-form-field>
    <input type="text" (focus)="selectAllContent($event)" matInput placeholder="{{placeHolder}}" formControlName="stateGroup" [matAutocomplete]="autoGroup">
    <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="displayFn.bind(this)">
      <mat-option>{{defaultOption}}</mat-option>
      <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.name">
        <mat-option *ngFor="let subcategory of group.subCategoryList" [value]="subcategory">
          {{subcategory.name}}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
</form>