<div class="splash-logo">
  <img src="./assets/particl-logo.svg" alt="Particl Project">
</div>

<div class="splash-container">
  <div class="content">

    <div class="header-text">
      <h1>Welcome to Particl</h1>
      <p>Embrace your digital sovereignty and thrive &ndash; the power is in your hands</p>
    </div>
  
    <section>

      <div class="starting">
        <mat-card>
          <mat-spinner color="accent" class="small"></mat-spinner>
          <div class="text">
            <div class="title">Starting</div>
            <div class="desc" *ngIf="loadingMessage">{{loadingMessage | async}}</div>
          </div>
        </mat-card>
      </div><!-- .starting -->

    </section>
  
    <!-- @TODO: implement version current version info (only for PD) -->
    <p class="version">
      Particl Desktop 3.0
    </p>

  </div>
</div><!-- .container -->

<div class="splash-illustration">
  <img src="./assets/images/illustrations/particl-market_animated.svg" alt="">
</div>
