<div class="splash-logo">
  <img src="./assets/particl-logo.svg" alt="Particl Project">
</div>

<div class="splash-container">
  <div class="content">

    <div class="header-text">
      <h1>Welcome to Particl</h1>
      <p>Embrace your digital sovereignty and thrive on a fair level playing field.</p>
    </div>

    <p class="warning" *ngIf="hasError">
      Please review the logs for more information on why this error may be occurring. Alternatively, the <a mat-button class="tiny" href="https://academy.particl.io/" target="_blank" color="accent"> Particl Academy</a> can be used to obtain more information on resolving this error.
    </p>

    <section>

      <div class="starting">
        <mat-card>
          <mat-spinner color="accent" class="small"></mat-spinner>
          <div class="text">
            <div class="title">Starting</div>
            <div class="desc" *ngIf="loadingMessage.length > 0">{{loadingMessage}}</div>
          </div>
        </mat-card>
      </div><!-- .starting -->
    </section>

    <p class="version">
      Particl Desktop {{ clientVersion }}
    </p>

  </div>
</div><!-- .container -->

<div class="splash-illustration">
  <img src="./assets/images/illustrations/particl-market_animated.svg" alt="">
</div>
