@import './src/assets/_config'; // import shared colors etc.

body {
  margin: 0 !important;
}

// Note: root styles here need the `splash-` prefix, since they're "spilling over" to other elements with the same name in components launched after them

.splash-logo {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background: var(--bg-black);
  img {
    width: 7vw;
    display: block;
    margin: 1.5vw 1.8vw;
  }
}

.splash-container {
  --container-paddingV: 4rem;
  background: var(--bg);
  font-family: var(--font);
  height: calc(100vh - 2 * var(--container-paddingV));
  padding: var(--container-paddingV) calc(8vw + var(--appbar-width));
  display: flex;
  flex-direction: column;
  .content {
    @extend %tfx;
    margin: auto 0;
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
  }

  .header-text {
    flex: 0 1 50px;
    h1 {
      margin: 0 0 8px;
      font-weight: 600;
      font-size: 1.9rem;
      @include break(xl) {
        font-size: 2.3rem;
      }
    }
    p {
      margin: 0;
      color: var(--text-muted);
      font-size: 1.05rem;
      @include break(xl) {
        font-size: 1.15rem;
      }
    }
  }

  .warning {
    width: 50vw;
  }

  section {
    flex: 1 1 100%;
    display: flex;
    // position: relative;
    .starting {
      width: 25rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // position: absolute;
      // top: 50%;
      // left: 0;
      // transform: translateY(-50%);
      .mat-card {
        padding: 26px 32px;
      }
      .mat-spinner {
        float: left;
      }
      .text {
        display: inline-block;
        padding: 0 1.2rem;
        margin-top: -0.05rem;
      }
      .title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 2px;
      }
      .desc {
        color: var(--text-muted);
      }
    } // .loading
  }
} // .splash-container

.splash-illustration {
  position: fixed;
  bottom: -100px;
  right: -133px;
  width: 47vw;
  img {
    width: 100%;
    max-width: 100%;
    pointer-events: none;
  }
}
