@import "./src/assets/_config"; // import shared colors etc.

mat-card.address-entry {
  margin-bottom: 12px;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
}

.address {
  cursor: pointer;
  .title {
    color: $text-muted;
    font-weight: normal;
    @media (max-width: 960px) {
      display: none;
    }
  }
  .address-string {
    font-family: monospace;
  }
}

.address-actions { // copy, verify, delete & QR
  @media (max-width: 960px) {
    margin-top: 7px;
  }
  .mat-icon {
    width: auto;
    height: auto;
    font-size: 16px;
    @media (max-width: 960px) {
      font-size: 16px;
    }
  }
  .qrcode-menu {
    margin-left: 20px;
    @media (max-width: 960px) {
      margin: 0;
    }
    .fa-qrcode {
      font-size: 37px;
      margin: -10px 0;
      @media (max-width: 960px) {
        font-size: 23px;
        margin: 0;
      }
    }
  }
}
