@import "./src/assets/_config"; // import shared colors etc.

.mat-list {
  padding-top: 0;
}

mat-card.address-entry {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  padding-left: 0;
  & > div {
    margin: 0 20px 0 0;
  }
  .address-name {
    flex: 1 0 calc(100% - 180px);
    padding-left: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    .label {
      font-size: 14px;
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 0 4px 0;
      display: block;
    }
    .address-string {
      font-family: monospace;
      color: $text-muted;
    }
  }
  
  .address-actions { // copy, verify, delete & QR
    margin: 0;
    flex: 0 0 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

