@import "./src/assets/config"; // import shared colors etc.
@import "./src/assets/scss/fonts"; // fonts and iconfonts
@import "./src/assets/scss/material-components"; // tweaks to Material components
@import "./src/assets/scss/helper"; // helper & misc classes

/*

___  ____ ____ ___     ___  ____ ____ _  _ ___ ____ ___  
|__] |__| |__/  |      |  \ |___ [__  |_/   |  |  | |__] 
|    |  | |  \  |  .   |__/ |___ ___] | \_  |  |__| |    
                                                         
Main stylesheet for Particl Desktop app
What you can't find here will be probably in `/src/assets/scss/material-components.scss`

  TOC:
    1. General styles
    2. Layout
    3. UI elements
      3.1. Buttons
      3.2. Addresses
      3.3. Loading info
      3.4. No results
      3.5. Input with icon
      3.6. QR codes
    4. Typography
      4.1. Page subtitles
      4.2. Paragraph styles

*/


/* ------------------------------- *\
    1. GENERAL STYLES
\* ------------------------------- */

body {
  font-family: $font;
  background-color: $bg;
  font-size: 12px;
}

/* ------------------------------- *\
    2. LAYOUT
\* ------------------------------- */

.container-block { // main container for content
  padding: 35px;
  @include break(l) {
    padding: 45px 50px;
  }
}


/* ------------------------------- *\
    3. UI ELEMENTS
\* ------------------------------- */

// ------ 3.1. BUTTONS ------ //

.actions {
  button {
    margin: 0 10px;
  }
}


// ------ 3.2. ADDRESSES ------ //

.address, .address-label {
  overflow: hidden;
  text-overflow: ellipsis;
  background: transparent;
  transition: background .3s;
  white-space: nowrap;
}


// ------ 3.3. LOADING INFO ------ //

.loading-container {
  text-align: center;
  position: fixed;
  z-index: 10;
  top: $header-main-height;
  left: $sidebar-width;
  right: 0;
  bottom: 8px;
  display: flex;
  background: rgba($bg, 0.9);
  pointer-events: none;
  .loading-info { // text info for loading screens (e.g. Listings)
    margin: auto;
    .loading-image {
      width: 50px;
      height: 50px;
      padding: 14px;
      margin: 0 auto 24px;
      border-radius: 50%;
      background: white;
      box-shadow: 0 0 20px rgba(black, 0.07);
      & > img {
        animation: rotate 4s infinite;
        display: inline-block;
        position: relative;
        top: 2px;
      }
    }
    .title {
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 600;
    }
    p {
      margin: 12px;
    }
  }
}


// ------ 3.4. NO RESULTS (no TXs, no addresses, ..) ------ //

.no-results {
  @extend %disable-select;
  font-size: 18px;
  color: darken($bg-shadow, 15%);
  text-transform: uppercase;
  text-align: center;
  padding: 170px 0;
  border: 2px dashed $bg-shadow;
  background: rgba(white, 0.5);
  button {
    margin-top: 12px;
  }
  .widget-help {
    margin: 0;
    text-transform: none;
    font-size: 12px;
    color: darken($bg-shadow, 17%);
    .mat-icon {
      font-size: 13px;
      margin: 0 4px;
      position: relative;
      top: 2px;
    }
  }
}


// ------ 3.5. INPUT WITH ICON (eg. Search) ------ //

.icon-input {
  input.mat-input-element {
    height: 20px;
  }
  .mat-icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 21px;
    cursor: pointer;
  }
  .mat-form-field-underline {
    background-color: $bg-shadow;
  }
}


// ------ 3.6. QR-CODE ------ //

.qr-code {
  canvas {
    display: inline !important;
  }
}


/* ------------------------------- *\
    4. TYPOGRAPHY
\* ------------------------------- */

// ------ 4.1. PAGE SUBTITLES ------ //

.mat-list.list-data .mat-subheader { // "H2" subtitles in pages (e.g. "(un)used addresses" in Receive
  @extend %subtitle;
  height: auto;
  margin: 10px 0 25px !important;
  &.first {
    margin-top: -10px !important;
  }
}


// ------ 4.2. PARAGRAPH STYLES ------ //

// Highlighted "lead" paragraphs
.lead {
  font-size: 15px;
}

// Help descriptions
.widget-help {
  @extend %disable-select;
  color: $text-muted;
  font-size: 11px;
  margin-bottom: 25px;
  cursor: help;
}

// Warning & Info messages
p.warning,
p.info {
  font-weight: 500;
  font-size: 13px;
  background: $bg;
  padding: 16px 24px 16px 52px;
  position: relative;
  mat-dialog-content & {
    margin: 24px -24px;
  }
  &::before {
    font-family: "part";
    font-size: 1.4em;
    line-height: 0;
    position: absolute;
    top: 25px;
    left: 24px;
    margin-right: 8px;
  }
}
p.warning {
  &::before {
    content: "\ea03"; // part-alert icon
    color: $color-alert;
  }
  a {
    @extend %tfx;
    color: $color-alert;
    &:hover {
      color: darken($color-alert, 7%);
    }
  }
}
p.info {
  &::before {
    content: "\ea32"; // part-info icon
    color: $color-info;
  }
  a {
    @extend %tfx;
    color: $color-info;
    &:hover {
      color: darken($color-info, 7%);
    }
  }
}


// kbd
kbd {
  font-size: 95%;
  line-height: 1.3;
  font-family: inherit;
  border: 1px solid silver;
  border-radius: 2px;
  background: #fafafa;
  display: inline-block;
  padding: 2px 5px;
  margin: 0 2px;
}
