@import './src/assets/config'; // import shared colors etc.
@import './src/assets/scss/fonts'; // fonts and iconfonts
@import './src/assets/scss/material-components'; // tweaks to Material components
@import './src/assets/scss/helper'; // helper & misc classes

/*

___  ____ ____ ___     ___  ____ ____ _  _ ___ ____ ___
|__] |__| |__/  |      |  \ |___ [__  |_/   |  |  | |__]
|    |  | |  \  |  .   |__/ |___ ___] | \_  |  |__| |

Main stylesheet for Particl Desktop app
What you can't find here will be probably in `/src/assets/scss/material-components.scss`

  TOC:
    1. General styles
    2. Layout
      2.1. Containers
      2.2. Modifiers
      2.3. Tab/control bars
      2.4. Filters (sidebars)
      2.5. Radio switchers (sidebar submenu)
      2.6. Instance switcher (wallet selection)
      2.7. App sidebar menu
    3. UI elements
      3.1. Buttons
      3.2. Addresses
      3.3. Loading info
      3.4. No results
      3.5. Input with icon
      3.6. QR codes
      3.7. Tree browser
      3.8. Tables
    4. Typography
      4.1. (Sub)titles (h2, h3..)
      4.2. Paragraph styles
    5. Plug-ins
      5.1. Charts
    6. Misc.
      6.1. Info/warning messages (releases etc.)

*/

@include mat-core();

/* ------------------------------- *\
    1. GENERAL STYLES
\* ------------------------------- */

body {
  @extend %disable-select;
  font-family: var(--font);
  background-color: var(--bg);
  font-size: 13px;
  margin: 0;
}


/* ------------------------------- *\
    2. LAYOUT
\* ------------------------------- */

// ------ 2.1. CONTAINERS ------ //

// main container for content
.container-block {
  @extend %clearfix;
  padding: var(--paddingV) var(--paddingH);
}

.container-flex {
  display: flex;
}


// ------ 2.2. MODIFIERS ------ //

// content offset from left, when sticky sidebar is present
.with-filter {
  margin-left: calc(var(--filter-width) + var(--paddingH));
}


// ------ 2.3. TAB/CONTROL BARS ------ //

// sticky tabs under status bar
.tab-bar {
  position: sticky;
  top: var(--header-main-height);
  z-index: 100;
  height: calc(var(--tab-bar-height) + 1px);
  background: hsla(var(--bg-hsl), 0.87);
  .buttons {
    flex: 1 0 100px;
    padding: 0 20px; // offset side padding
    border-bottom: 1px solid var(--bg-muted);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

// sticky control bars (eg. on Listings page)
.control-bar {
  @extend .tab-bar;
  padding: 0 28px 0 var(--paddingH);
  border-bottom: 1px solid var(--bg-muted);
}


// ------ 2.4. FILTERS ------ //

.filter { // sticky sidebars in content area
  position: sticky;
  top: calc(var(--header-main-height) + var(--tab-bar-height) + var(--paddingV) + 1px); // 1px for border
  width: var(--filter-width);
  float: left;
  .without-tab-bar & {
    top: calc(var(--header-main-height) + var(--paddingV) + 1px);
  }
  button.full-width {
    margin-top: 10px;
    &:first-of-type {
      margin-top: 0;
    }
  }
}


// ------ 2.5. RADIO SWITCHERS ------ //

.radio-switcher { // ~ vertical tabs
  @extend %mat-card;
  border-radius: var(--radius);
  overflow: hidden;
  label {
    input[type="radio"] { // radio button for functionality, hidden
      position: absolute;
      left: -999%;
      margin: 0;
      // active state
      &:checked + .switcher-option {
        font-weight: 600;
        .mat-icon {
          @extend %reset;
          color: var(--color-secondary);
          &.part-alert {
            color: var(--color-alert);
          }
        }
      }
      // keyboard/mouse focus
      &:focus + .switcher-option {
        .mat-icon {
          background: hsla(var(--color-secondary-hsl), 0.05);
          padding: 8px;
          margin: 0 4px 0 0;
          &.part-alert {
            background: hsla(var(--color-alert-hsl), 0.05);
          }
        }
      }
    }
    .switcher-option { // container for all option's content
      cursor: pointer;
      background: var(--color-white);
      border-top: 1px solid var(--bg-muted);
      padding: 3px 8px;
      font-size: 14px;
      line-height: 40px;
      font-weight: 500;
      .mat-icon {
        @extend %lightest;
        @extend %tfx;
        position: relative;
        top: 3px;
        padding: 0;
        margin: 8px 12px 8px 8px;
        border-radius: 50%;
      }
      &:hover {
        .mat-icon {
          @extend %lighter;
        }
      }
    }
    &:first-of-type {
      .switcher-option {
        border: none;
      }
    }
  }
}


// ------ 2.6. INSTANCE SWITCHER (wallet selection) ------ //

.instance-switcher {
  box-shadow: none !important;
  border-radius: 0;
  background: var(--bg-black) !important;
  margin: 0 !important;

  // active instance + toggle
  .switcher-toggle {
    @extend %tfx;
    font-family: var(--font);
    color: hsla(var(--text-muted-hsl), 0.9);
    min-height: min-content;
    max-height: min-content;
    padding: 0;
    &:hover,
    &:focus,
    &.cdk-keyboard-focused {
      background: hsla(var(--bg-sidebar-darker-hsl), 0.5) !important;
      .item {
        background: transparent;
        color: hsla(var(--bg-muted-hsl), 0.7);
      }
      &.mat-expanded {
        background: hsla(var(--bg-sidebar-darker-hsl), 0.8) !important;
        .item {
          background: transparent;
        }
      }
    }
    .item {
      .icon {
        background: var(--color-primary);
        color: var(--color-white);
        font-weight: 500;
      }
    }
  }

  // shared style for 1 instance item
  .item {
    @extend %tfx;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 22px 10px 13px;
    font-size: 13px;
    &:hover,
    &:focus {
      background: hsla(var(--bg-sidebar-darker-hsl), 0.8) !important;
      color: hsla(var(--bg-muted-hsl), 0.7);
      outline: none;
    }
    .icon {
      background: lighten($bg-black, 10%);
      width: 28px;
      height: 28px;
      line-height: 30px;
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
      border-radius: 50%;
      float: left;
      margin-right: 11px;
      position: relative;
      top: 2px;
    }
    .name {
      font-weight: 500;
      color: var(--color-white);
    }
  }

  // other switchable options (inactive instances)
  .options {
    color: var(--text-muted);
    line-height: 1.3;
  }

}


// ------ 2.7. APP SIDEBAR MENU ------ //

.menu-items {
  @extend %menu-divider;
  padding-top: 1px; // offset divider box-shadow above
  // single menu item
  .menu-item {
    @extend %tfx;
    padding: 13px 20px;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    &.active {
      .icon { // highlight active menu item
        color: var(--color-primary) !important;
      }
    }
    &.disabled { // disabled items (eg. when Market is loading)
      opacity: 0.4;
      pointer-events: none;
    }
    .icon {
      @extend %tfx;
      margin: 0 16px 0 0;
      color: hsla(var(--bg-hsl), 0.2);
    }
    .text {
      font-size: 11.5px;
      font-weight: 500;
      color: var(--color-white);
    }
    .tag { // order notifications
      @extend %tfx;
      position: absolute;
      right: 20px;
      top: 10px;
      opacity: 0.6;
    }
    &:hover,
    &:focus {
      background: hsla(var(--bg-sidebar-darker-hsl), 0.5);
      .icon {
        color: hsla(var(--bg-hsl), 0.35);
      }
    }
  }
}



/* ------------------------------- *\
    3. UI ELEMENTS
\* ------------------------------- */

// ------ 3.1. BUTTONS ------ //

.actions {
  button {
    margin: 0 10px;
  }
}


// ------ 3.2. ADDRESSES ------ //

.address,
.address-label {
  overflow: hidden;
  text-overflow: ellipsis;
  background: transparent;
  transition: background 0.3s;
  white-space: nowrap;
}


// ------ 3.3. LOADING INFO ------ //

.loading-container {
  text-align: center;
  position: fixed;
  z-index: 10;
  top: var(--header-main-height);
  left: var(--sidebar-width);
  right: 0;
  bottom: 8px;
  display: flex;
  background: hsla(var(--bg-hsl), 0.9);
  pointer-events: none;
  .loading-info { // text info for loading screens (e.g. Listings)
    margin: auto;
    .loading-image {
      width: 50px;
      height: 50px;
      padding: 14px;
      margin: 0 auto 24px;
      border-radius: 50%;
      background: var(--color-white);
      box-shadow: 0 0 20px hsla(var(--bg-black-hsl), 0.07);
      & > img {
        animation: rotate 4s infinite;
        display: inline-block;
        position: relative;
        top: 2px;
      }
    }
    .title {
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 600;
    }
    p {
      margin: 12px;
    }
  }
}


// ------ 3.4. NO RESULTS (no TXs, no addresses, ..) ------ //

.no-results {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  padding: 170px 0;
  border: 2px dashed var(--bg-muted);
  background: hsla(var(--color-white-hsl), 0.5);
  p {
    color: hsla(var(--text-muted-hsl), 0.7) !important;
  }
  button {
    margin-top: 12px;
  }
  .help-text {
    margin: 0;
    text-transform: none;
    .mat-icon {
      margin: 0 4px;
      line-height: 0;
      position: relative;
      top: 4px;
    }
    .mat-button {
      .mat-icon {
        top: -2px;
        margin: 0 5px 0 0;
      }
    }
  }
}


// ------ 3.5. INPUT WITH ICON (eg. Search) ------ //

.icon-input {
  .mat-icon {
    position: absolute;
    right: 0;
    top: calc(50% - 9px);
    font-size: 16px;
    line-height: 2.9em;
    cursor: pointer;
  }
  .mat-form-field-underline {
    background-color: var(--bg-muted);
  }
}


// ------ 3.6. QR-CODE ------ //

.qr-code {
  img {
    display: inline !important;
  }
}


// ------ 3.7. TREE BORWSER ------ //

.mat-tree {
  .category { // 1st level
    min-height: 0;
    .mat-button {
      font-size: 13px;
      .mat-icon {
        color: var(--bg-muted);
      }
    }
    &[aria-expanded='true'] { // toggled category
      .mat-icon {
        color: var(--color-secondary);
      }
    }
  }
  .subcategory { // 2nd level
    min-height: 0;
    padding: 4px 40px;
    .mat-checkbox {
      font-size: 13px;
    }
  }
}


// ------ 3.8. TABLES ------ //

table {
  &.full-width {
    width: 100%;
  }
}


// ------ 3.9. MODALS ------ //

.modal-content {
  // darker bg for highlighting inputs (e.g. encrypt, unlock wallet, coldstaking setup..)
  .modal-highlight {
    background: var(--bg);
    padding: 24px;
    margin: 24px -24px 8px;
    border-top: 1px dashed var(--bg-muted);
    border-bottom: 1px dashed var(--bg-muted);
    p.message { // warning/info messages above the input
      margin: 0;
      padding: 0 0 10px 28px;
      &::before {
        top: 10px;
        left: 0;
      }
    }
    .mat-form-field {
      margin-bottom: 16px;
      &:last-of-type {
        margin: 0;
      }
      & + p.message {
        margin-top: 24px;
      }
    }
  }

}


/* ------------------------------- *\
    4. TYPOGRAPHY
\* ------------------------------- */

h1 {
  font-weight: 500;
}


// ------ 4.1. (SUB)TITLES ------ //

// Grey-ish all-caps "H2" headers, usually above boxes/cards
.section-title {
  font-size: 14px;
  font-family: var(--font);
  font-weight: normal;
  color: var(--text-muted);
  text-transform: uppercase;
  margin: 32px 0 16px;
  &:first-of-type {
    margin-top: 0;
  }
  @include break(l) {
    font-size: 16px;
    margin: 46px 0 18px;
  }
}

// Bolder, all-caps "H3" headers, usually inside boxes/cards
.box-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  margin-top: 0;
  &.--larger {
    font-size: 15px;
  }
}


// ------ 4.2. PARAGRAPH STYLES ------ //

p {
  line-height: 1.5;
  // Highlighted 'lead' paragraphs
  &.lead {
    font-size: 15px;
  }
}


// Help descriptions
.widget-help {
  @extend %lighter;
  font-size: 93%;
  margin-bottom: 25px;
}

// NEW warning & info messages
p.message {
  font-weight: 500;
  background: var(--bg);
  padding: 16px 24px 16px 52px;
  position: relative;
  .mat-dialog-content & {
    margin: 24px -24px;
  }
  &::before {
    font-family: 'part';
    font-size: 1.4em;
    line-height: 0;
    position: absolute;
    top: 25px;
    left: 24px;
    margin-right: 8px;
  }
  // Info messages
  &.--info {
    &::before {
      content: '\ea19'; // part-info icon
      color: var(--color-info);
    }
    a {
      color: var(--color-info);
    }
  }
  // Warning messages
  &.--warning {
    &::before {
      content: '\ea02'; // part-alert icon
      color: var(--color-alert);
    }
    a {
      color: var(--color-alert);
    }
  }
}

// TODO @Allien: replace and remove:
// Warning & Info messages
p.warning,
p.info {
  font-weight: 500;
  font-size: 13px;
  background: var(--bg);
  padding: 16px 24px 16px 52px;
  position: relative;
  .mat-dialog-content & {
    margin: 24px -24px;
    text-align: left;
  }
  &::before {
    font-family: 'part';
    font-size: 1.4em;
    line-height: 0;
    position: absolute;
    top: 25px;
    left: 24px;
    margin-right: 8px;
  }
  a {
    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}

p.warning {
  &::before {
    content: '\ea02'; // part-alert icon
    color: var(--color-alert);
  }
  a {
    color: var(--color-alert);
  }
}

p.info {
  &::before {
    content: '\ea19'; // part-info icon
    color: var(--color-info);
  }
  a {
    color: var(--color-info);
  }
}

pre {
  font-family: var(--font-mono);
}

code {
  font-family: var(--font-mono);
  font-weight: 500;
  color: var(--color-secondary);
  background: hsla(var(--color-secondary-hsl), 0.15);
  padding: 2px 6px;
  border-radius: $radius;
}

kbd {
  font-family: var(--font-mono);
  font-size: 95%;
  line-height: 1.3;
  border: 1px solid var(--bg-muted);
  border-bottom-width: 2px;
  border-radius: 2px;
  background: var(--bg);
  display: inline-block;
  padding: 2px 5px;
  margin: 0 2px -3px;
}


/* ------------------------------- *\
    5. PLUG-INS
\* ------------------------------- */

// ------ 5.1. Charts ------ //

.nvd3-svg {
  // Pie/donut chart
  .nv-slice {
    stroke: var(--color-white);
    stroke-width: 2px;
  }
  .nv-legend-text {
    fill: $text;
  }
}

.nvtooltip { // tooltips
  z-index: 1000;
  font-family: var(--font);
  font-size: 12px;
  color: var(--color-white);
  background: hsla(var(--bg-black-hsl), 0.85);
  border-radius: var(--radius);
  padding: 1px 4px;
  .legend-color-guide > div {
    height: 6px;
    width: 6px;
    margin-right: 2px;
    display: inline-block;
    border-radius: var(--radius);
    position: relative;
    top: -1px;
  }
  .key {
    font-weight: 500;
    margin: 0 3px;
  }
  .value {
    font-size: 10px;
    color: hsla(var(--bg-black-hsl), 0.5);
    position: relative;
    top: 1px;
  }
}


/* ------------------------------- *\
    6. MISC
\* ------------------------------- */

// ------ 6.1. Info/warning messages (releases etc.) ------ //

.mat-sidenav-container {
  // when top notification present (new release/announcement), push status bar etc. below
  &.with-top-notification {
    .header-main { // status bar
      top: 61px;
    }
    /*
    .balance-overview { // Overview
      margin-top: 125px;
    }
    */
    .tab-bar,
    .control-bar {
      top: 125px;
    }
    .with-tab-bar { // content containers
      //margin-top: 175px;
      .filter {
        top: 210px;
      }
    }
    .without-tab-bar { // content containers w/o tabs
      //margin-top: 125px;
      .filter {
        top: 160px;
      }
    }
    /*
    app-listing {
      .container-block.with-control-bar {
        margin-top: 180px;
      }
    }
    */
    app-send {
      .from-box {
        .sticky {
          top: 205px;
        }
      }
    }
    app-receive {
      .container-flex {
        &.with-tab-bar {
          height: calc(100vh - 290px);
          @include break(l) {
            height: calc(100vh - 310px);
          }
        }
      }
    }
    /*
    app-add-item,
    app-help {
      .container-block {
        margin-top: 125px;
      }
    }
    */
  }
}
