<div class="comments" fxLayoutGap="35px">
  <div class="write-comment" fxFlex="1 1 250px">
    <h2 class="subtitle">Ask a question</h2>
    <mat-card>
      <mat-form-field class="full-width no-top-padding">
        <textarea matInput placeholder="Post a new question" rows="4" #question></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="postQuestion(question)" [disabled]="question.value.trim() === ''">
        <mat-icon fontSet="partIcon" fontIcon="part-chat"></mat-icon>
        Send question
      </button>
    </mat-card>
    <p class="widget-help">
      Are you missing some details from this product's description? Or maybe you have some questions for the seller? Questions let you contact the seller directly before making your order.
    </p>
  </div><!-- .write-comment -->

  <div class="comments-list" fxFlex="0 1 100%"
      infiniteScroll
      [infiniteScrollContainer]="pagination.infinityScrollSelector"
      [fromRoot]="true"
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="loadNextPage()">
    <h2 class="subtitle">All questions &amp; answers <span class="tag">{{ commentCount }}</span></h2>

    <!-- .loading-container -->
    <div class="loading-container" *ngIf="isLoading">
      <div class="loading-info">
        <div class="loading-image">
          <img src="./assets/particl-logo-symbol.svg">
        </div>
        <p class="title">
          Hang on, we're loading the questions
        </p>
        <p class="widget-help">
          This might take a while
        </p>
      </div>
    </div><!-- .loading-container -->

    <div class="no-results" *ngIf="pages[0]?.comments.length === 0">
      No questions asked about this product yet
    </div>

    <ng-container *ngFor="let page of pages; let pageIndex = index;">
      <app-comment *ngFor="let comment of page.comments; let commentIndex = index; trackBy: trackByFn"
        [comment]="comment"
        [commentIndex]="commentIndex + 1 + (pageIndex * 10)"
        [sellerAddress]="sellerAddress"
        [targetComments]="targetComments"
        (refresh)="doRefresh($event)">
      </app-comment>
    </ng-container>
  </div><!-- .comments-list -->
</div>
