<mat-expansion-panel class="listing list-item no-padding" (closed)="editItem(listing, false)">
  <mat-expansion-panel-header class="header">
    <div class="header-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="photo" fxFlex="0 0 75px">
        <img src="{{ listing?.images[0] ? listing?.images[0] : './assets/images/placeholder_1-1.jpg' }}">
      </div>
      <div class="meta" fxFlex="1 1 100%">
        <div class="name">{{ listing?.title }}</div>
        <div class="category">{{ listing?.category?.name }}</div>
        <span class="error">{{ listing?.validationError || '' }}</span>
      </div>
      <div class="publish" fxFlex="2 2 80px">
        <mat-checkbox [(ngModel)]="listing.publish" (click)="$event.stopPropagation()" (change)="publishChanged($event)">Publish</mat-checkbox>
      </div>
    </div>
  </mat-expansion-panel-header>

  <div *ngIf="!listing?.editing" class="detail" fxLayout="row" fxLayoutGap="30px">
    <div class="description" fxFlex="65%">
      <div class="title">Listing description</div>
      <p class="lead">{{ listing?.shortDescription }}</p>
      <p>
        {{ listing?.longDescription }}
      </p>
    </div><!-- .description -->
    <div class="info" fxFlex="35%">
      <div class="title">Price Information</div>
      <table class="prices">
        <tr>
          <th>Price per item</th>
          <td>
            {{ listing?.basePrice }}
            PART
          </td>
        </tr>
        <tr>
          <th>Domestic shipping</th>
          <td>
            {{ listing?.domesticShippingPrice }}
            PART
          </td>
        </tr>
        <tr>
          <th>International shipping</th>
          <td>
            {{ listing?.internationalShippingPrice }}
            PART
          </td>
        </tr>
      </table>
      <div class="title">Listing photos</div>
      <div class="gallery" fxLayout="row wrap">
        <div *ngFor="let image of listing.images; let i = index"
             class="photo-wrapper" fxFlex="0 0 85px" fxLayoutAlign="center center">
          <div class="photo" fxFLex>
            <img src="{{image}}">
          </div>
        </div>
      </div><!-- .gallery -->
    </div>
  </div><!-- .detail -->

  <div *ngIf="listing?.editing" class="detail editing" fxLayout="row" fxLayoutGap="30px">
    <div class="left" fxFlex="50">
      <div class="title">Upload photos</div>
      <div id="drag-n-drop" class="drag-n-drop">
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-select"></mat-icon>

        <!--hide input -->
        <input class="hide-file" type="file"
              accept="image/*" multiple="true" id="fileInput">

        <button mat-button color="primary" (click)="uploadPicture()">
          Upload a photo
        </button>
        <p>or drag'n'drop it here</p>
      </div>
      <p class="widget-help">
        Upload photos of your listing item, then choose one of them as featured (this will be the main photo shown on market). Be sure to upload high quality &amp; focused images in good lighting where possible. Max file size per image is 2MB.
      </p>
      <div class="gallery" fxLayout="row wrap">
        <div *ngFor="let image of listing.images; let i = index"
            class="photo-wrapper" fxFlex="0 0 123px" fxLayoutAlign="center center">
          <div class="photo" fxFLex>
            <img src="{{image}}">
            <div class="icons">
              <mat-icon class="delete" fontSet="partIcon" fontIcon="part-cross"
                        matTooltip="Remove image" (click)="removeImage(i)">
              </mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div fxFlex="50">
      <mat-form-field class="full-width">
        <input matInput placeholder="Listing title (product name) *" [(ngModel)]="listing.title">
        <mat-hint align="end">{{ listing.title?.length || 0 }}/50</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea matInput #summary rows="3" placeholder="Summary (short description) *"
                  [(ngModel)]="listing.shortDescription"></textarea>
        <mat-hint align="end">{{ listing.shortDescription?.length || 0 }}/200</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea matInput #description rows="12" placeholder="Description *"
                  [(ngModel)]="listing.longDescription"></textarea>
        <mat-hint align="end">{{ listing.longDescription?.length || 0 }}/1000</mat-hint>
      </mat-form-field>

      <mat-otpgroup-select-search
        [options]="_rootCategoryList?.subCategoryList"
        [placeHolder]="'Select category'"
        [isRequired]="'true'"
        [defaultSelectedValue]="listing.category"
        (change)="onCategoryChange($event)">
      </mat-otpgroup-select-search>

      <mat-form-field class="full-width">
        <mat-icon matPrefix class="icon" fontSet="partIcon" fontIcon="part-cryptocurrency-particl"></mat-icon>
        <input matInput min="0" (paste)="numericValidator($event)" (keypress)="numericValidator($event)" placeholder="Price per item *" type="text" [(ngModel)]="listing.basePrice">
        <span matSuffix>PART</span>
      </mat-form-field>

      <div class="row" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="25px">
        <mat-form-field fxFlex="50%" class="auto-width">
          <input matInput min="0" (paste)="numericValidator($event)" (keypress)="numericValidator($event)" placeholder="Domestic shipping price *"  [(ngModel)]="listing.domesticShippingPrice" type="text">
          <span matSuffix>PART</span>
        </mat-form-field>
        <mat-form-field fxFlex="50%" class="auto-width">
          <input matInput min="0" (paste)="numericValidator($event)" (keypress)="numericValidator($event)" placeholder="International shipping price *"  [(ngModel)]="listing.internationalShippingPrice"
                  type="text">
          <span matSuffix>PART</span>
        </mat-form-field>
      </div>
      <p class="widget-help">
        Don't forget to include quantity units (e.g. 1 piece, 1 pair, 1 kg or 100 ml).<br>
        Prices are in PART.
      </p>
    </div>
  </div>

  <mat-action-row fxLayout fxLayoutAlign="space-between stretch">
    <div class="left">
      <button mat-button matTooltip="Edit listing details" *ngIf="!listing?.editing" (click)="editItem(listing, true)" class="small">
        <mat-icon fontSet="partIcon" fontIcon="part-pen-1"></mat-icon>
        Edit listing
      </button>
      <button mat-button matTooltip="Edit listing details" *ngIf="listing?.editing" (click)="editItem(listing, false)" class="small">
        <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
        Done
      </button>
    </div>
  </mat-action-row>

</mat-expansion-panel><!-- .listing -->
