<mat-expansion-panel class="order list-item no-padding">
  <mat-expansion-panel-header class="header">
    <div class="header-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="photo" fxFlex="0 0 80px">
        <img src="{{order?.listing?.imageCollection?.featuredImage?.thumbnail}}">
      </div>
      <div class="meta" fxFlex="1 1 100%">
        <div class="name">{{ order?.listing?.title }}</div>
        <div class="hash" matTooltip="Order ID: {{ order?.hashDetail }}" matTooltipPosition="right" [ngStyle]="{'background-color': '#' + order?.hashDetail}">{{ order?.hash }}</div>
        <div class="date">
          Added {{order?.added}} &bull; Updated {{order?.updated}}
        </div>
      </div>
      <div class="status {{ order?.status }} {{ order?.type }}" fxFlex="0 0 120px"><span class="dot"></span>{{ order?.status }}</div>
    </div>
  </mat-expansion-panel-header>

  <div class="status-info">
    <p>{{ order?.messages.status_info }}</p>
    <div *ngIf="order?.type === 'buy' && order?.status === 'shipping'" class="additional-shipping-info">
      <p *ngIf="order?.listing?.memo">
        <span class="title">Shipping info from Seller</span>
        <code class="more-info">{{ order?.listing?.memo}}</code>
      </p>
      <p *ngIf="!order?.listing?.memo">
        <span class="title">Shipping info from Seller</span>
        <em>No information provided</em>
      </p>
    </div>
  </div>

  <div class="detail" fxLayout="row" fxLayoutGap="30px">

    <div class="buyer-info" fxFlex="65%">
      <div class="title">Shipping address</div>
      <app-shipping-address [shippingAddress]="order?.ShippingAddress"></app-shipping-address>
    </div><!-- .buyer-info -->

    <div class="info" fxFlex="35%">
      <div class="title">Price<!-- & Qty--></div>
      <table class="prices">
        <!--tr>
          <th>Quantity</th>
          <td>2</td>
        </tr-->
        <tr>
          <th>Listing price</th>
          <td>{{order?.listing?.basePrice?.getIntegerPart()}}{{order?.listing?.basePrice?.dot()}}<small>{{order?.listing?.basePrice?.getFractionalPart()}}</small> PART
          </td>
        </tr>
        <tr>
          <th>Shipping</th>
          <td >{{order?.listing?.shippingAmount(country).getIntegerPart()}}{{order?.listing?.shippingAmount(country).dot()}}<small>{{order?.listing?.shippingAmount(country).getFractionalPart()}}</small> PART
          </td>
        </tr>
        <tr>
          <th>Escrow</th>
          <td>{{order?.listing?.escrowAmount(country).getIntegerPart()}}{{order?.listing?.escrowAmount(country).dot()}}<small>{{order?.listing?.escrowAmount(country).getFractionalPart()}}</small> PART
          </td>
        </tr>
        <tr>
          <th>Total price</th>
          <td>
            {{order?.listing?.totalAmount(country).getIntegerPart()}}{{order?.listing?.totalAmount(country).dot()}}<small>{{order?.listing?.totalAmount(country).getFractionalPart()}}</small> PART
          </td>
        </tr>
      </table>
    </div><!-- .info -->

  </div><!-- .detail -->

  <mat-action-row class="action-buttons" fxLayout fxLayoutAlign="space-between stretch">
    <div class="left">
      <button mat-button color="warn"
              (click)="callBid('reject')"
              *ngIf="order?.messages?.allow_reject_order"
              class="small">
        <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
        Reject bid &amp; cancel order
      </button>
      <!--button mat-button matTooltip="Edit order" class="small">
        <mat-icon fontSet="partIcon" fontIcon="part-pen-1"></mat-icon>
        Edit
      </button-->
      <!-- TODO: link to TX ID on block explorer (if payment was made already) -->
      <!-- <button mat-button matTooltip="Escrow TX details"
              *ngIf="order?.show_escrow_txdetails" class="small">
        <mat-icon fontSet="partIcon" fontIcon="part-document"></mat-icon>
        View payment
      </button>
      -->
      <!-- TODO: shortcut to e2e message to buyer -->
      <!--button mat-button class="small">
        <mat-icon fontSet="partIcon" fontIcon="part-person-edit"></mat-icon>
        Contact buyer
      </button-->
    </div>
    <div class="right">
      <button mat-raised-button color="primary" matTooltip="{{ order?.messages?.tooltip }}"
              [disabled]="order?.messages?.action_disabled"
              (click)="order_action()">
        <mat-icon fontSet="partIcon" fontIcon="{{ order?.messages?.action_icon }}"></mat-icon>
        {{ order?.messages?.action_button }}
      </button>
    </div>
  </mat-action-row>
</mat-expansion-panel>
