<mat-expansion-panel class="order list-item no-padding">
  <mat-expansion-panel-header class="header">
    <div class="header-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="photo" fxFlex="0 0 80px">
        <img src="{{ listingImage }}">
      </div>
      <div class="meta" fxFlex="1 1 100%">
        <div class="name">{{ title }}</div>
        <div class="hash" matTooltip="Order ID: {{ order?.hashDetail }}" matTooltipPosition="right" [ngStyle]="{'background-color': '#' + order?.hashDetail}">{{ order?.hash }}</div>
        <div class="date">
          Added {{order?.added}} &bull; Updated {{order?.updated}}
        </div>
      </div>
      <div class="status {{ order?.step }} {{ order?.type }}" fxFlex="0 0 140px"><span class="dot"></span>{{ order?.step }}</div>
    </div>
  </mat-expansion-panel-header>

  <div class="status-info">
    <p>{{ orderActivity?.status_info }}</p>
    <div *ngIf="showShippingInfo" class="additional-info">
      <p *ngIf="(memo.length > 0)">
        <span class="title">Shipping info from Seller</span>
        <code class="more-info">{{ memo }}</code>
      </p>
      <p *ngIf="!(memo.length > 0)">
        <span class="title">Shipping info from Seller</span>
        <em>&nbsp; No information provided</em>
      </p>
    </div>
    <div *ngIf="additionalInfo.transactionID.length > 0" class="additional-info">
      <p>
        <span class="title">Escrow tx ID:</span>
      </p>
      <p>
        <code class="additional-extra-info">{{ additionalInfo.transactionID }}</code>
      </p>
    </div>
    <div *ngIf="additionalInfo.rejectMessage.length > 0" class="additional-info">
      <p>
        <span class="title">Reason for rejection</span>
        <code class="more-info">{{ additionalInfo.rejectMessage }}</code>
      </p>
    </div>
  </div>

  <div class="detail" fxLayout="row" fxLayoutGap="30px">

    <div class="buyer-info" fxFlex="65%">
      <div class="title">Shipping address</div>
      <app-shipping-address [shippingAddress]="order?.ShippingAddress"></app-shipping-address>
      <ng-container *ngIf="(contactDetails.email.length > 0) || (contactDetails.phone.length > 0)">
        <div class="title">Contact information</div>
        <table class="contact-info">
          <tr *ngIf="(contactDetails.email.length > 0)">
            <th>E-mail address</th>
            <td>{{contactDetails.email}}</td>
          </tr>
          <tr *ngIf="(contactDetails.phone.length > 0)">
            <th>Telephone number</th>
            <td>{{contactDetails.phone}}</td>
          </tr>
        </table>
      </ng-container>
    </div><!-- .buyer-info -->

    <div class="info" fxFlex="35%">
      <div class="title">Price<!-- & Qty--></div>
      <table class="prices">
        <!--tr>
          <th>Quantity</th>
          <td>2</td>
        </tr-->
        <tr>
          <th>Listing price</th>
          <td>{{ pricingInfo.baseInt }}{{ pricingInfo.baseSep }}<small>{{ pricingInfo.baseFraction }} </small> PART
          </td>
        </tr>
        <tr>
          <th>Shipping</th>
          <td >{{ pricingInfo.shippingInt }}{{ pricingInfo.shippingSep }}<small>{{ pricingInfo.shippingFraction }}</small> PART
          </td>
        </tr>
        <tr>
          <th>Escrow</th>
          <td>{{ pricingInfo.escrowInt }}{{ pricingInfo.escrowSep }}<small>{{ pricingInfo.escrowFraction }}</small> PART
          </td>
        </tr>
        <tr>
          <th>Total price</th>
          <td>
            {{ pricingInfo.totalInt }}{{ pricingInfo.totalSep }}<small>{{ pricingInfo.totalFraction }}</small> PART
          </td>
        </tr>
      </table>
    </div><!-- .info -->

  </div><!-- .detail -->

  <mat-action-row class="action-buttons" fxLayout fxLayoutAlign="space-between stretch">
    <div class="left">
      <button *ngFor="let actionable of secondaryActions"
              mat-button color="{{actionable.colour}}"
              [disabled]="actionable.disabled || actionable.locked"
              appDebounceClick
              (debounceClick)="executeAction(actionable)"
              class="small">
        <mat-icon fontSet="partIcon" fontIcon="{{actionable.icon}}"></mat-icon>
        {{ actionable.text }}
      </button>

    </div>
    <div class="right">
      <button *ngFor="let actionable of primaryActions"
              mat-raised-button color="{{actionable.colour}}" matTooltip="{{ actionable.tooltip }}"
              [disabled]="actionable.disabled || actionable.locked"
              appDebounceClick
              (debounceClick)="executeAction(actionable)">
        <mat-icon fontSet="partIcon" fontIcon="{{ actionable.icon }}"></mat-icon>
        {{ actionable.text }}
      </button>
    </div>
  </mat-action-row>
</mat-expansion-panel>
