// TODO vertical-center 50% logic as a class
// TODO global colors

// TODO small-modal as a component (also in wallet/address-book/newAddress)

.balance-label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
}

span {
  padding: 0;
}

input[type="text"] {
  margin-right: 20px;
}

// TODO replace with nomargin class
.row {
  margin: 0;
}

.nopadding {
  padding: 0;
}

.public-private {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

span.icon {
  margin-right: 8px;
}

span.icon:hover {
  cursor: pointer;
}

.privacy-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.privacy-label {
  text-transform: uppercase;
  font-weight: bold;
  color: #9aa2ab;
  font-size: 0.8em;
}

.privacy-label:hover {
  color: black;
  cursor: pointer;
}

/* Particl progress bar */
.progress {
  height: 10px;
}

.progress-bar {
  background-color: #00e8af;
}

/* Particl Card view */
.separator {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0px;
  height: 60%;
  border: 1px solid #efefef;
}

.separator + span {
  margin-left: 20px;
}

.input-info-label {
  font-weight: normal;
  font-size: 0.9em;
  margin: 0 10px 0 10px;
  text-transform: uppercase;
  color: #9aa2ab;
  margin-top: 5px;
}

/* Particl Header | Header option */
// TODO integrate to header component
.header {
  position: relative;
}

.header-option {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.header-option:hover {
  color: black;
  cursor: pointer;
}

.header-option-icon {
  color: #00e8af;
  background-color: transparent;
  padding: 4px;
  border-radius: 5px;
  margin: 0 8px 0 15px;
}

.header-option.selected .header-option-icon {
  color: white;
  background-color: #00e8af;
}

.header-option-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header-option.selected .header-option-text {
  color: black;
}

.header-option-container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
  width: 200px;
  border-left: 2px solid #efefef;
}

.good {
  color: #4F8A10;
  background-color: #DFF2BF !important;
}

.fault {
  color: #D8000C;
  background-color: #FFBABA !important;
}

.small-modal {
  position: absolute;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.small-modal.hide {
  width: 0!important;
  height: 0!important;
  display: none;
}

.address-modal-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 30px;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
}

.modal-content-header {
  font-size: 1.2em;
}

.small-modal .row {
  margin-bottom: 30px;
}

th {
  text-transform: uppercase;
}

tr {
  cursor: pointer;
}

.validate[disabled] {
  background-color: #a1a1a1;
  border-bottom-color: #222828;
}
