.formTableFullWidth {
  width: 100%;
}

input[type="text"] {
  border: none !important;
}

.mat-list {
  .mat-divider {
    margin: 20px 0;
    border-color: transparent;
  }

}

.mat-select-trigger {
  padding-top: 21px !important;
}
