<md-card>
  <md-card-content>
    <app-header>
      <div class="container-fluid header">
        <div fxLayout.lg="row" fxlayout.lt-sm="column" fxLayout.sm="column" fxlayout.lt-xs="column"
             fxLayout.xs="column">
          <div fxFlex="80%">
            <md-tab-group (selectChange)="sendTab($event.index)">
              <md-tab>
                <ng-template md-tab-label>
                  Send payment
                </ng-template>
              </md-tab>
              <md-tab>
                <ng-template md-tab-label>
                  Balance transfer
                </ng-template>
              </md-tab>
            </md-tab-group>
          </div>
          <div fxFlex="20%">
            <button md-button (click)="toggleAdvanced()">
              <md-icon color="primary">{{(advanced)? 'settings_applications': 'settings'}}</md-icon>
              Advanced options
            </button>
          </div>
        </div>
      </div>
    </app-header>

    <div class="container-fluid">
      <div>
        <form class="example-form" name="walletSendForm">
          <md-list class="md-list-radio">
            <md-list-item>
              <div class="md-line" fxFlex="100%" fxLayout.lg="row" fxlayout.lt-sm="column" fxLayout.sm="column"
                   fxlayout.lt-xs="column" fxLayout.xs="column">
                <md-radio-group name="sendInput" [(ngModel)]="send.input" fxFlex="100%" fxLayout.lg="row"
                                fxlayout.lt-sm="column" fxlayout.lt-xs="column" fxLayout.xs="column">
                  <h5 fxFlex="33.3%" fxFlex.md="50%" fxFlex.lt-md="50%"> From Account</h5>
                  <md-radio-button value="public" fxFlex.md="50%" fxFlex.lt-md="50%" fxFlex="33.3%">Public
                  </md-radio-button>
                  <md-radio-button value="blind" fxFlex.md="50%" fxFlex.lt-md="50%" fxFlex="33.3%">Blind
                  </md-radio-button>
                  <md-radio-button value="private" fxFlex.md="50%" fxFlex.lt-md="100%" fxFlex="33.3%">Private
                  </md-radio-button>

                  <div fxFlex="33.3%" fxFlex.gt-sm="100%">
                    <span class="balance-label">Balance: </span>
                    <span class="balance-amount">{{getBalance(send.input)}} PART</span>
                  </div>
                </md-radio-group>
              </div>
            </md-list-item>
            <md-list-item>
              <div fxFlex="row" fxLayoutGap="10px"></div>
            </md-list-item>
          </md-list>

          <md-list *ngIf="type === 'balanceTransfer'">
            <md-list-item>
              <div class="md-line" fxFlex="100%" fxLayout.lg="row" fxlayout.lt-sm="column" fxLayout.sm="column"
                   fxlayout.lt-xs="column" fxLayout.xs="column">
                <md-radio-group name="sendOutput" [(ngModel)]="send.output" fxFlex="100%" fxLayout.lg="row"
                                fxlayout.lt-sm="column" fxLayout.sm="column" fxlayout.lt-xs="column"
                                fxLayout.xs="column">
                  <h5 fxFlex="33.3%" fxFlex.md="50%" fxFlex.lt-md="50%"> TO ACCOUNT</h5>
                  <md-radio-button value="public" fxFlex.md="50%" fxFlex.lt-md="50%" fxFlex="33.3%">Public
                  </md-radio-button>
                  <md-radio-button value="blind" fxFlex.md="50%" fxFlex.lt-md="50%" fxFlex="33.3%">Blind
                  </md-radio-button>
                  <md-radio-button value="private" fxFlex.md="50%" fxFlex.lt-md="100%" fxFlex="33.3%">Private
                  </md-radio-button>

                  <div fxFlex="33.3%" fxFlex.gt-sm="100%">
                    <span class="balance-label">Balance: </span>
                    <span class="balance-amount">{{getBalance(send.output)}} PART</span>
                  </div>
                </md-radio-group>
              </div>
            </md-list-item>
            <md-list-item>
              <div fxFlex="row" fxLayoutGap="10px"></div>
            </md-list-item>
          </md-list>

          <md-list *ngIf="type === 'sendPayment' || advanced">
            <md-list-item>
              <div class="md-line" fxFlex="100%" fxLayout.lg="row" fxlayout.lt-sm="column" fxLayout.sm="column"
                   fxlayout.lt-xs="column" fxLayout.xs="column" fxLayoutGap="10px" layout-padding>
                <h5 fxFlex="10%"> Pay to:</h5>
                <md-form-field fxFlex="50%">
                  <input name="toAddress" mdInput
                         [ngClass]="{'verify-sucess': checkAddress() === true, 'verify-error': checkAddress() === false }"
                         type="text"
                         placeholder="The address to send the payment to"
                         [(ngModel)]="send.toAddress" (input)="verifyAddress()">
                </md-form-field>

                <md-form-field fxFlex="40%">
                  <input name="toLabel" mdInput type="text" placeholder="Enter a label"
                         [(ngModel)]="send.toLabel">
                </md-form-field>

                <div fxFlex fxLayoutAlign="start center" class="cursor-pointer">
                  <md-icon (click)="openLookup()">supervisor_account</md-icon>
                  <md-icon class="cursor-pointer" mdTooltip="Copy">content_copy</md-icon>
                  <md-icon (click)="clearReceiver()" color="warn">cancel</md-icon>
                </div>
              </div>
            </md-list-item>
            <md-divider></md-divider>
          </md-list>

          <md-list>
            <md-list-item>
              <div class="md-line" fxFlex="100%" fxLayout.lg="row" fxlayout.lt-sm="column" fxLayout.sm="column"
                   fxlayout.lt-xs="column" fxLayout.xs="column" fxLayoutGap="10px" layout-padding>
                <h5 fxFlex="10%"> Narration</h5>
                <md-form-field fxFlex>
                  <input type="text" mdInput name="sendNote"
                         placeholder="Enter a short note to send with a payment"
                         maxlength="24"
                         [(ngModel)]="send.note">
                </md-form-field>
              </div>
            </md-list-item>
            <md-divider></md-divider>
          </md-list>

          <md-list>
            <md-list-item>
              <div class="md-line" fxFlex="100%" fxLayout.lg="row" fxlayout.lt-sm="column" fxLayout.sm="column"
                   fxlayout.lt-xs="column" fxLayout.xs="column" fxLayoutGap="10px" layout-padding>
                <h5 fxFlex="10%"> Amount </h5>
                <md-form-field fxFlex="50%">
                  <input mdInput type="text" name="sendAmount"
                         placeholder="0.0000000000000000"
                         [(ngModel)]="send.amount" (input)="verifyAmount()"
                         [ngClass]="{'verify-sucess': checkAmount() === true, 'verify-error': checkAmount() === false }">
                </md-form-field>
                <md-select fxFlex="46%" name="currency" [(ngModel)]="send.currency" placeholder="Select currency">
                  <md-option value="part">Part</md-option>
                </md-select>
              </div>
            </md-list-item>
            <md-divider></md-divider>
          </md-list>

          <md-list *ngIf="send.input === 'private'">
            <md-list-item>
              <div class="md-line" fxFlex="100%" fxLayout.lg="row" fxlayout.lt-sm="column" fxLayout.sm="column"
                   fxlayout.lt-xs="column" fxLayout.xs="column">
                <h5 fxFlex="10%"> Privacy level </h5>

                <div  fxFlex="'column'" fxLayoutWrap>
                  <md-progress-bar
                    class="example-margin"
                    [color]="'primary'"
                    [mode]="'determinate'"
                    [value]="send.privacy">
                  </md-progress-bar>
                  <div class="privacy-labels" fxFlex="100%">
                    <span fxFlex="" fxLayoutAlign="start center" class="privacy-label cursor-pointer"
                          (click)="send.privacy = 10">Normal</span>
                    <span fxFlex="" fxLayoutAlign="center center" class="privacy-label cursor-pointer"
                          (click)="send.privacy = 50">Medium</span>
                    <span fxFlex="" fxLayoutAlign="end center" class="privacy-label cursor-pointer"
                          (click)="send.privacy = 100">High</span>
                  </div>
                </div>
              </div>
            </md-list-item>
            <md-list-item>
              <div fxFlex="row" fxLayoutGap="10px"></div>
            </md-list-item>
          </md-list>
          <div fxLayoutAlign="end center">
            <button md-raised-button (click)="clear()">Clear all</button>
            <button md-raised-button color="primary" class="validate"
                    (click)="onSubmit()"
                    [disabled]="!checkAddress() || !checkAmount()">
              Make payment
            </button>
          </div>
        </form>
      </div>
    </div>
  </md-card-content>
</md-card>
