@import './src/assets/config'; // import shared colors etc.


// ------ FILTER SIDEBAR ------ //

.filter {
  top: calc(var(--paddingV) + 1px);
}

.filter-buttons {
  display: flex;
  justify-content: space-between;
}


// ------ CONTENT ------ //

.bot-grid {
  --grid-columns: 4;
  --grid-gutter: 2%;
  @include break(l) {
    --grid-columns: 5;
  }
  @include break-from(1700px) {
    --grid-columns: 6;
    --grid-gutter: 1.75%;
  }
  @include break-from(2000px) {
    --grid-columns: 7;
  }
  @include break-from(2300px) {
    --grid-columns: 8;
    --grid-gutter: 1.5%;
  }
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin: 0 calc(-1 * var(--grid-gutter)) 0 0;
  width: calc(100% + var(--grid-gutter));
}

mat-card.bot {
  --card-padding: 16px;
  // container width / no. of columns - (grid gutter + card's side padding):
  flex: 0 0 calc((100% / var(--grid-columns) - var(--grid-gutter)) - 2 * var(--card-padding));
  padding: var(--card-padding) var(--card-padding) 0;
  margin: 0 var(--grid-gutter) var(--grid-gutter) 0;
  border-radius: 0;
  .mat-card-image {
    height: 0;
    overflow: hidden;
    padding-top: calc(100% + 32px); // locking 1:1 aspect ratio + offsetting side paddings for a perfect square
    margin: calc(-1 * var(--card-padding)) calc(-1 * var(--card-padding)) 0;
    position: relative;
    cursor: pointer;
    .img {
      @extend %image-center-cover;
      position: absolute; // fill in available space (= square container)
      top: 0;
      left: 0;
    }
  }
  .mat-card-header {
    display: block;
    height: 100px;
    padding-top: var(--card-padding);
    cursor: pointer;
    .mat-card-title,
    .mat-card-subtitle {
      line-height: 1.35;
      margin: 0 0 8px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .mat-card-title {
      font-size: 15px;
      margin: 0;
    }
    .mat-card-subtitle {
      font-size: 11.5px;
      color: var(--text-muted);
      .type-status {
        margin: 8px 0;
        .status {
          display: inline-block;
          border: 1px solid var(--bg-muted);
          border-radius: var(--radius);
          padding: 1px 5px 0 17px;
          text-transform: uppercase;
          margin-right: 8px;
          position: relative;
          &.active {
            &::before {
              background: var(--color-success);
            }
          }
          &.inactive {
            &::before {
              background: var(--bg-muted);
            }
          }
          &::before {
            --dot-size: 6px;
            content: '';
            width: var(--dot-size);
            height: var(--dot-size);
            display: block;
            border-radius: 50%;
            position: absolute;
            left: 6px;
            top: 5px;
          }
        }
        .type {
          display: inline-block;
        }
      }
    }
  }
  .mat-card-actions {
    margin: 8px -16px 0;
    text-align: center;
    .mat-button {
      padding: 4px;
    }
  }
}
