<h2 md-dialog-title>Label for new {{ type }} address</h2>
<form [formGroup]="addLableForm" (ngSubmit)="onSubmitForm()" novalidate>
  <md-form-field class="example-full-width">
    <input mdInput type="text" formControlName="label" class="form-control" [(ngModel)]="label"
           placeholder="Enter label..." required>
  </md-form-field>
  <md-dialog-actions>
    <button md-button md-dialog-close>Cancel</button>
    <button md-button [md-dialog-close]="true" [disabled]="!addLableForm.valid" md-raised-button color="primary">
      Add Label
    </button>
  </md-dialog-actions>
</form>
