@import './src/assets/_config'; // import shared colors etc.

.mat-dialog-title {
  margin-bottom: 0 !important;
}

// Top search/filter bar
.control-bar {
  background: var(--color-white);
  border: none;
  top: 0;
  height: auto;
  margin: 0 -24px;
  padding: 0;
  align-items: flex-end;
}

.modal-content {
  background: var(--bg);
  width: 49rem;
}

.list-data {
  margin: 0 -24px;
  padding: 0;

  // Single address item
  .address-entry {
    cursor: pointer;
    font-size: 13px;
    font-family: var(--font);
    padding: 0 8px !important;
    width: calc(100% - 16px) !important;
    &:hover,
    &:focus {
      outline: none;
      .address {
        font-weight: 500;
      }
      .type {
        opacity: 1;
      }
      &.public { // highlight public on hover in primary/green
        background: hsla(var(--color-primary-hsl), 0.075);
        .address {
          color: var(--color-primary);
        }
      }
      &.private { // highlight private on hover in secondary/blue
        background: hsla(var(--color-secondary-hsl), 0.075);
        .address {
          color: var(--color-secondary);
        }
      }
    }
    .label {
      @extend %box-title;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .address {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: var(--font-mono);
      color: var(--text-muted);
    }
    .type {
      opacity: 0.6;
      font-size: 11px;
      color: var(--text);
      text-transform: uppercase;
      border: 1px solid hsla(var(--text-hsl), 0.7);
      border-radius: var(--radius);
      padding: 1px 5px;
    }
  }

  mat-divider {
    margin: 0;
    &:first-of-type {
      display: none;
    }
  }
}

// Bottom bar with pagination
.modal-actions {
  min-height: auto;
  padding: 0;
  .mat-paginator {
    border-top: 1px solid var(--bg-muted);
    margin: 0 -24px;
    width: calc(100% + 48px);
    padding: 8px;
  }
}
