@import './src/assets/_config'; // import shared colors etc.

.mat-dialog-title {
  margin-bottom: 0 !important;
}

// Top search/filter bar
.control-bar {
  background: var(--color-white);
  border: 0;
  top: 0;
  height: auto;
  margin: 0 -24px;
  padding: 0;
  align-items: flex-end;
}

.mat-dialog-content {
  width: 49rem;
  border-top: 0;
}

.list-data {
  margin: 0 -24px;
  padding: 0;

  // Single address item
  .address-entry {
    cursor: pointer;
    font-size: 13px;
    font-family: var(--font);
    padding: 0 8px !important;
    width: calc(100% - 16px) !important;
    &:hover,
    &:focus {
      outline: none;
      .address {
        font-weight: 500;
      }
      .type {
        opacity: 1;
      }
      &.public { // highlight public on hover in primary/green
        background: hsla(var(--color-primary-hsl), 0.075);
        .address {
          color: var(--color-primary);
        }
      }
      &.private { // highlight private on hover in secondary/blue
        background: hsla(var(--color-secondary-hsl), 0.075);
        .address {
          color: var(--color-secondary);
        }
      }
    }
    .label {
      @extend %box-title;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .address {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: var(--font-mono);
      color: var(--text-muted);
    }
    .type {
      opacity: 0.6;
      top: 0;
      display: inline;
    }
  }

  mat-divider {
    margin: 0;
    &:first-of-type {
      display: none;
    }
  }
}

// Bottom bar with pagination
.mat-dialog-actions {
  padding: 2px 16px;
  .mat-paginator {
    width: calc(100% + 32px);
    margin: 0 -16px;
    padding: 0 12px;
  }
}
