<div mat-dialog-title class="title">Address lookup</div>
<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>

<form class="control-bar" fxLayout="row">

  <mat-form-field appearance="fill" fxFlex="1 1 100%" class="search-address icon-input --plain --larger">
    <input matInput type="text" name="query" [formControl]="queryFilter"
            placeholder="Filter by label or address...">
    <mat-icon *ngIf="queryFilter.value" (click)="queryFilter.setValue('')" matTooltip="Clear"
              fontIcon="part-clear-all"></mat-icon>
    <mat-icon *ngIf="!queryFilter.value" fontIcon="part-search" matTooltip="Search">
    </mat-icon>
  </mat-form-field>

  <mat-form-field class="sort-by address-type --plain --larger" appearance="fill" fxFlex="1 0 250px">
    <mat-select [formControl]="typeFilter">
      <mat-option class="--larger" *ngFor="let filter of typeFilters" [value]="filter.value">
        {{ filter.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</form><!-- .control-bar -->

<div mat-dialog-content class="modal-content">

  <mat-list class="list-data">
    <ng-container *ngFor="let address of displayedAddresses;trackBy:displayedAddressTrackFn">
      <mat-divider></mat-divider>
      <!-- TODO @dev: make this accessible via keyboard (on Enter and Space press) -->
      <mat-list-item class="address-entry" [ngClass]="address.type" (click)="onSelectAddress(address)" (keyup.enter)="onSelectAddress(address)" tabindex="0">
        <div fxFlex="1 1 300px" class="label">{{ address.label }}</div>
        <div fxFlex="1 1 400px" class="address">{{ address.address }}</div>
        <div fxFlex="0 0 80px" class="text-right"><span class="type">{{ address.type }}</span></div>
      </mat-list-item>
    </ng-container>
  </mat-list>

</div><!-- .modal-content -->


<mat-dialog-actions class="modal-actions">
  <app-paginator
    [length]="pageFilters.resultsTotalCount"
    [pageSize]="pageFilters.pageSize"
    (page)="paginatorChangeHandler($event)">
  </app-paginator>
</mat-dialog-actions>
