<mat-dialog-title>
  Create Derived Wallets
  <small class="wallet-name --smaller">
    <mat-icon fontIcon="part-cards"></mat-icon>
    {{ (walletName | async) }}
  </small>
</mat-dialog-title>

<button mat-button color="warn" class="modal-close" mat-dialog-close tabindex="-1" [disabled]="derivedForm.disabled">
  <mat-icon fontIcon="part-cross"></mat-icon>
</button>


<mat-dialog-content>

  <div class="row">
    <p class="alert --warning --boxed">
      <span>
        This is considered an advanced feature!
        &nbsp;
        Please ensure that you are properly informed about what this action entails.
      </span>
    </p>
  </div>

  <div class="text">
    <p class="lead">
      Create wallets that are derived from the current wallet
    </p>
    <p class="help-text">
      While the wallets all appear as individual wallets, they share the same private details as the wallet from which they are derived. This means that only the current wallet needs to be backed up.
    </p>
  </div>

  <div class="row">
    <p class="message --warning">
      If any of the derived wallets are compromised, this may have a negative impact over all of the derived wallets, as well as the wallet from which they were derived from.
    </p>
  </div>

  <div class="modal-highlight" [formGroup]="derivedForm">
    <div class="input-section">
      <p class="lead">Number of wallets previously derived</p>
      <p class="message --info --boxed">
        <span>
          This is necessary to avoid duplicate derived wallets from being created, which can potentially have a negative impact on stability of the duplicate wallets
        </span>
      </p>

      <div class="row">
        <div fxLayout="row wrap" fxLayoutGap="10%" fxLayoutAlign="start center">
          <p class="desc">Wallets previously created:</p>
          <mat-form-field class="--boxed" appearance="fill">
            <input  matInput
                    formControlName="skipCount"
                    type="number"
                    min="0"
                    step="1" />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="input-section" formArrayName="labels">
      <p class="lead">Derived wallet(s) details</p>

      <div class="row" *ngIf="showPartialSuccessWarning">
        <p class="message --warning">
          There were errors creating the wallets below. Please verify that the details provided for each are valid.
        </p>
      </div>

      <div class="row" *ngFor="let label of labelControl().controls; let i=index">
        <div fxFlex="1 0" fxLayout="row" fxLayoutGap="2%">
          <mat-form-field fxFlex="90" class="--boxed" appearance="fill">
            <input  matInput
                    [formControlName]="i"
                    placeholder="derived wallet name"/>
          </mat-form-field>

          <button mat-button color="warn" fxFlex="10" appDebounceClick (debounceClick)="removeLabel(i)">
            <mat-icon fontIcon="part-cross"></mat-icon>
          </button>
        </div>
      </div>

      <div class="row">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <button mat-button color="primary" [disabled]="derivedForm.disabled" appDebounceClick (debounceClick)="addLabel()">
            <mat-icon fontIcon="part-plus"></mat-icon>
            Add Derived Wallet
          </button>
        </div>
      </div>
    </div>
  </div>

</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button mat-dialog-close [disabled]="derivedForm.disabled">
    <mat-icon fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="primary" [disabled]="derivedForm.disabled || derivedForm.invalid" appDebounceClick (debounceClick)="doAction()">
    <mat-icon fontIcon="part-add-account"></mat-icon>
    Create Derived Wallets
  </button>
</mat-dialog-actions>
