@import './src/assets/config'; // import shared colors etc.

mat-dialog-title {
  margin: 0 !important;
  .wallet-name {
    display: block;
    margin-top: 8px;
    color: var(--text-muted);
    font-weight: 400;
    .mat-icon {
      font-size: 14px;
      position: relative;
      top: 1px;
      margin-right: 3px;
    }
  }
}

.mat-dialog-content {
  width: 45rem;
  .alert {
    margin-top: 24px;
    margin-bottom: 12px;
  }
  .modal-highlight {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0;

    .input-section {
      padding: 12px 24px;
      margin-top: 24px;
      margin-bottom: 24px;
      background-color: var(--color-white);
      border-top: 1px solid var(--bg-muted);
      border-bottom: 1px solid var(--bg-muted);
    }
  }

  .row {
    margin-top: 12px;
    min-height: 2em;
  }
}
