<div mat-dialog-title>Backup wallet {{ walletName }}</div>
<button class="small-close-button" (click)="dialogClose()">
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>


<div mat-dialog-content class="dialog-content">
  <p class="lead">
    Select a location where the backup of the wallet should be made. It is strongly recommended to not leave the backup on the same machine as the primary wallet.
    Note that this creates a file named wallet.dat in the selected folder.
  </p>
  <button mat-button class="small"
          (click)="selectBackupPath()">
          Select Folder
    <mat-icon class="icon" fontSet="partIcon" fontIcon="part-circle-info-2"></mat-icon>
  </button>
  &nbsp;&nbsp;
  <span>{{ filePath }}</span>
</div>


<mat-dialog-actions fxLayoutAlign="end center">
  <button mat-button mat-dialog-close (click)="dialogClose()">
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="doConfirmed()" [disabled]="isActionDisabled">
    <mat-icon fontSet="partIcon" fontIcon="part-circle-plus"></mat-icon>
    Perform Backup
  </button>
</mat-dialog-actions>
