@import './src/assets/_config'; // import shared colors etc.

/*

  LIST ITEM DETAILS
    Contents of list items in Material's Expansion Panels

  - Market Listings, Products & Orders
  - Overview > Q/A's
  - Exchange history
  - Bots

*/

.list-item { // Listing/Order
  --list-item-size: 80px;
  @include break(l) {
    --list-item-size: 85px;
  }
  @include break(xl) {
    --list-item-size: 90px;
  }
  padding: 0;
  margin-bottom: var(--card-spacing) !important;
  border-radius: var(--radius);
  .header {
    min-height: var(--list-item-size) !important;
    max-height: var(--list-item-size) !important;
    padding: 0 24px 0 0;
  }
  .header-wrapper {
    width: 100%;
    padding-right: 24px;
    place-content: center space-between;
    align-items: center;
    .photo {
      flex: 0 0 var(--list-item-size);
      height: var(--list-item-size);
      margin-right: 24px;
      @include break(l) {
        margin-right: 30px;
      }
      @include break(xl) {
        margin-right: 36px;
      }
      img {
        @extend %image-center-cover;
      }
    }
    .meta {
      color: var(--text-muted);
      .name {
        color: var(--text);
        font-size: 15px;
        font-weight: 500;
        line-height: 1.4;
        margin-bottom: 4px;
        @include break(l) {
          font-size: 16px;
        }
        @include break(xl) {
          font-size: 18px;
          margin-bottom: 5px;
        }
      }
    }
  }
  .status-info { // first/intro part in panel's detail
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--bg-muted);
    font-size: 13px;
    font-family: var(--font);
    color: var(--text-muted);
    padding: 30px;
    @include break(l) {
      padding: var(--padding);
    }
    .item-info { // title and status text
      @extend %enable-select;
      text-align: right;
      margin: 0 0 0 60px;
      flex: 0 0 220px;
      font-size: 11px;
      line-height: 1.6;
      word-break: break-all;
    }
    .item-title { // order no.
      font-size: 20px;
      color: var(--text);
      font-weight: 500;
      margin: 0 0 12px;
      @include break(l) {
        font-size: 22px;
      }
    }
    p {
      margin: 0;
      @include break(xl) {
        font-size: 15px;
      }
    }
  }
  .batch-select { // checkbox
    margin-left: 14px;
  }
  .detail { // "main" detail part (below .status-info)
    font-size: 13px;
    padding: 30px 30px 24px;
    border-top: 1px dashed var(--bg-muted);
    color: var(--text-muted);
    @include break(l) {
      padding: var(--padding);
    }
    @include break(xl) {
      font-size: 15px;
      line-height: 1.5;
    }
    a {
      color: var(--text-muted);
      &:hover,
      &:focus {
        color: var(--text);
      }
    }
    .description {
      p {
        white-space: pre-line;
        word-wrap: break-word;
      }
    }
    .pricing-info { // pricing breakdown
      max-width: 50%;
    }
  }
  mat-action-row {
    padding: 16px 18px;
    .left {
      margin-top: 3px;
      button {
        margin: 0 4px 0 0;
      }
    }
  }
  .status-wrap {
    text-align: right;
  }
  .status { // order/listing status in header
    background: var(--bg);
    border-radius: 4px;
    text-align: center;
    color: var(--text);
    text-transform: uppercase;
    font-weight: 500;
    padding: 7px 18px 7px 10px;
    display: inline-block;
    margin-top: 0;
    position: relative;
    &::before { // status' "arrow" shape
      content: '';
      display: block;
      width: 0;
      height: 0;
      top: 0;
      left: -27px;
      border: 14.5px solid var(--bg);
      border-color: transparent var(--bg) transparent transparent;
      position: absolute;
    }
    &.--rounded {
      border-radius: 999px;
      padding: 7px 16px;
      &::before {
        content: none;
      }
    }
    &.--plain {
      padding: 0;
      background: none;
      &::before {
        content: none;
      }
    }
    .dot { // status indicator
      display: inline-block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      position: relative;
      top: -1px;
      margin-right: 8px;
      background: var(--bg-muted);
    }
    // --- Unified status colors --- //
    // Order bidding, Listing expired
    &.color-alert,
    &.expired {
      .dot {
        background: var(--color-alert);
      }
    }
    // Order accepted
    &.color-warning-alt {
      .dot {
        background: var(--color-warning-alt);
      }
    }
    // Order escrow, Listing pending
    &.color-warning,
    &.pending {
      .dot {
        background: var(--color-warning);
      }
    }
    // Order packaging, Bot/Listing active
    &.color-primary,
    &.color-active,
    &.active {
      .dot {
        background: var(--color-primary);
      }
    }
    // Order shipping
    &.color-secondary {
      .dot {
        background: var(--color-secondary);
      }
    }
    // Order completed
    &.color-tertiary {
      .dot {
        background: var(--color-tertiary);
      }
    }
    // Order rejected/cancelled, Bot inactive, Listing unpublished/unknown status
    &.color-inactive,
    &.unknown,
    &.unpublished {
      .dot {
        background: hsla(var(--text-muted-hsl), 0.4);
      }
    }
    // Pulsing animation for active statuses
    &.order.sell.color-alert,
    &.order.buy.color-warning-alt,
    &.order.sell.color-warning,
    &.order.sell.color-primary,
    &.order.buy.color-secondary {
      .dot::after {
        content: '';
        animation: pulse-fade 1s infinite;
        width: 7px;
        height: 7px;
        display: block;
        border-radius: 50%;
        border: 2px solid var(--bg-muted);
        position: absolute;
        top: -2px;
        left: -2px;
      }
    }
    &.order.sell.color-alert .dot::after {
      border-color: var(--color-alert);
    }
    &.order.buy.color-warning-alt .dot::after {
      border-color: var(--color-warning-alt);
    }
    &.order.sell.color-warning .dot::after {
      border-color: var(--color-warning);
    }
    &.order.sell.color-primary .dot::after {
      border-color: var(--color-primary);
    }
    &.order.buy.color-secondary .dot::after {
      border-color: var(--color-secondary);
    }
  }
}


// animated placeholder before items load
.loading-placeholder {

  &.market { // shared for Orders, Listings etc.
    .item {
      --size: 80px;
      height: var(--size);
      padding: 0 20px 0 0;
      border-radius: var(--radius);
      @include break(l) {
        --size: 85px;
      }
      @include break(xl) {
        --size: 90px;
      }
      .photo {
        flex: 0 0 var(--size);
        height: var(--size);
        display: block;
        border-radius: 0;
        margin-right: 24px;
        @include break(l) {
          margin-right: 30px;
        }
        @include break(xl) {
          margin-right: 38px;
        }
      }
      .name {
        width: 96px;
        height: 14px;
        margin: 0 0 6px;
        @include break(xl) {
          height: 18px;
        }
      }
      .meta {
        width: 120px;
        display: block;
      }
      .status {
        text-align: right;
        height: 28px;
        margin-right: 20px;
        width: 130px;
      }
      .arrow {
        width: 16px;
      }
    }
  }

  &.orders { // Order-specific
    .item {
      .meta {
        width: 190px;
      }
    }
  }

  &.templates {
    .item {
      .meta {
        width: 90%;
        max-width: 650px;
        height: 30px;
        @include break(xl) {
          height: 16px;
        }
      }
      .status {
        width: 70px;
        border-radius: 900px;
      }
    }
  }

} // .loading-placeholder
