@import './src/assets/_config'; // import shared colors etc.

/*

  LIST ITEM DETAILS
    Contents of list items in Material's Expansion Panels

  - Market Listings & Orders
  - Overview > Q/A's
  - Exchange history
  - Bots

*/

.list-item { // Listing/Order
  --list-item-size: 80px;
  @include break(l) {
    --list-item-size: 85px;
  }
  @include break(xl) {
    --list-item-size: 90px;
  }
  padding: 0;
  margin-bottom: var(--card-spacing) !important;
  .header {
    min-height: var(--list-item-size) !important;
    max-height: var(--list-item-size) !important;
    padding: 0 24px 0 0;
  }
  .header-wrapper {
    width: 100%;
    padding-right: 24px;
    place-content: center space-between;
    align-items: center;
    .photo {
      flex: 0 0 var(--list-item-size);
      height: var(--list-item-size);
      margin-right: 24px;
      @include break(l) {
        margin-right: 30px;
      }
      @include break(xl) {
        margin-right: 36px;
      }
      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
      }
    }
    .meta {
      color: var(--text-muted);
      .name {
        color: var(--text);
        font-size: 15px;
        font-weight: 500;
        line-height: 1.4;
        margin-bottom: 4px;
        @include break(l) {
          font-size: 16px;
        }
        @include break(xl) {
          font-size: 18px;
          margin-bottom: 5px;
        }
      }
    }
  }
  .status-info { // first/intro part in panel's detail
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--bg-muted);
    font-size: 13px;
    font-family: var(--font);
    color: var(--text-muted);
    padding: 30px;
    @include break(l) {
      padding: var(--paddingV) var(--paddingH);
    }
    .item-info { // title and status text
      @extend %enable-select;
      text-align: right;
      margin: 0 0 0 30px;
      flex: 0 0 180px;
      font-size: 11px;
      line-height: 1.6;
    }
    .item-title { // order no.
      font-size: 20px;
      color: var(--text);
      font-weight: 500;
      margin: 0 0 12px;
      @include break(l) {
        font-size: 22px;
      }
    }
    p {
      margin: 0;
      @include break(xl) {
        font-size: 15px;
      }
    }
  }
  .batch-select { // checkbox
    margin-left: 14px;
  }
  .detail { // "main" detail part (below .status-info)
    font-size: 13px;
    padding: 30px 30px 24px;
    border-top: 1px dashed var(--bg-muted);
    color: var(--text-muted);
    @include break(l) {
      padding: var(--paddingV) var(--paddingH);
    }
    @include break(xl) {
      font-size: 15px;
      line-height: 1.5;
    }
    .item-subtitle { // subtitles for sections in detail
      font-size: 16px;
      font-weight: 500;
      margin: 28px 0 14px;
      color: var(--text);
      @include break(l) {
        font-size: 18px;
        margin-top: 36px;
      }
    }
    a {
      color: var(--text-muted);
      &:hover,
      &:focus {
        color: var(--text);
      }
    }
    .description {
      p {
        white-space: pre-line;
        word-wrap: break-word;
      }
    }
    .pricing-info { // pricing breakdown
      max-width: 50%;
    }
  }
  mat-action-row {
    padding: 16px 18px;
    .left {
      margin-top: 3px;
      button {
        margin: 0 4px 0 0;
      }
    }
  }
  .status-wrap {
    text-align: right;
  }
  .status { // order/listing status in header
    background: var(--bg);
    border-radius: 4px;
    text-align: center;
    color: var(--text);
    text-transform: uppercase;
    font-weight: 500;
    padding: 7px 18px 7px 10px;
    display: inline-block;
    margin-top: 0;
    position: relative;
    &::before { // status' "arrow" shape
      content: '';
      display: block;
      width: 0;
      height: 0;
      top: 0;
      left: -27px;
      border: 14.5px solid var(--bg);
      border-color: transparent var(--bg) transparent transparent;
      position: absolute;
    }
    .dot { // status indicator
      display: inline-block;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      position: relative;
      top: -1px;
      margin-right: 8px;
    }
    // listings
    &.unpublished .dot {
      background: var(--bg-muted);
    }
    &.pending .dot {
      background: var(--color-warning);
    }
    &.published .dot {
      background: var(--color-success);
    }
    &.expired .dot {
      background: var(--color-alert);
    }
    // orders
    &.bidding .dot {
      background: var(--color-warning);
    }
    &.payment .dot {
      background: var(--color-confirms-33-pct);
    }
    &.escrow .dot {
      background: var(--color-alert);
    }
    &.packaging .dot {
      background: var(--color-alert);
    }
    &.shipping .dot {
      background: var(--color-success);
    }
    &.complete {
      color: hsla(var(--text-hsl, 0.5));
      .dot {
        background: hsla(var(--color-info-hsl, 0.5));
      }
    }
    &.rejected,
    &.cancelled {
      color: hsla(var(--text-hsl, 0.5));
      .dot {
        background: var(--bg-muted);
      }
    }
    // animated notifications in Order statuses
    &.sell.bidding,
    &.buy.payment,
    &.sell.escrow,
    &.sell.packaging,
    &.buy.shipping {
      // + in Listing statuses..
      // @TODO we can use blink animation for own expired listing in future.
      // &.expired
      // {
      .dot::after {
        content: '';
        animation: pulse-fade 1s infinite;
        width: 7px;
        height: 7px;
        display: block;
        border-radius: 50%;
        border: 2px solid var(--bg-muted);
        position: absolute;
        top: -2px;
        left: -2px;
      }
    }
    &.sell.bidding .dot::after {
      border-color: var(--color-warning);
    }
    &.buy.payment .dot::after {
      border-color: var(--color-confirms-33-pct);
    }
    &.sell.escrow .dot::after {
      border-color: var(--color-alert);
    }
    &.sell.packaging .dot::after {
      border-color: var(--color-alert);
    }
    &.buy.shipping .dot::after {
      border-color: var(--color-success);
    }
    &.expired .dot::after {
      border-color: var(--color-alert);
    }
  }
}
