@import './src/assets/_config'; // import shared colors etc.

/*
    MARKET LIST ITEM
    Expansion panel with detail of one Market (in Management & Create new Market wizard)
*/

.market {
  --header-height: 85px;
  .mat-expansion-panel-header {
    min-height: var(--header-height);
    padding-left: 0;
    .photo {
      flex: 0 0 var(--header-height);
      height: var(--header-height);
      margin-right: 24px;
      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
      }
    }
    .info {
      .box-title {
        text-transform: none;
        margin: 0 0 4px;
      }
      .promoted {
        margin-left: 8px;
        font-size: 12px;
        color: var(--color-secondary);
      }
      .market-type {
        color: var(--text-muted);
      }
      .admin {
        margin: 2px 8px 0 0;
        .mat-icon {
          font-size: 11px;
          position: relative;
          top: 1px;
        }
      }
    }
  }
  .details {
    border-top: 1px dashed var(--bg-muted);
    padding: 0 32px 24px;
    .item-subtitle {
      @include break(l) {
        margin-top: 28px;
      }
    }
    .desc {
      line-height: 1.5;
      font-size: 13px;
      color: var(--text-muted);
      margin: 0;
    }
    .box-title {
      margin: 18px 0 6px;
    }
    .keys {
      margin-top: 8px;
      .public {
        .key {
          color: var(--color-info);
          background: hsla(var(--color-info-hsl), 0.15);
        }
      }
      .private {
        .key {
          color: var(--color-alert);
          background: hsla(var(--color-alert-hsl), 0.1);
        }
      }
      .key {
        @extend %enable-select;
        font-family: var(--font-mono);
        font-size: 90%;
        font-weight: 500;
        text-align: center;
        word-break: break-all;
        background: var(--bg);
        padding: 6px 14px;
        border-radius: 4px;
      }
    }
  }
  .action-buttons {
    border-top: 1px solid var(--bg-muted);
    padding: 12px 18px;
    .left {
      margin-top: 3px;
      button {
        margin: 0 4px 0 0;
      }
    }
  }
}
