@import './src/assets/_config'; // import shared colors etc.

/*

  SHARED STYLES FOR ORDER MODALS

  small confirmation modals for pushing orders to next stages

  - accept/reject bids
  - mark as shipped, delivered
  - etc.

*/

.mat-dialog-content {
  width: 600px;
  p.message {
    margin: 18px -42px 18px -24px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;

  .image {
    flex: 1 1 40%;
    margin-right: 46px;
    .illustration {
      display: block;
      margin: 0 auto;
      max-width: 13rem;
    }
  }

  .text {
    .lead {
      font-weight: 500;
    }
  }

}
