@import './src/assets/_config'; // import shared colors etc.

// ------ UI ------ //


.subtitle {
  @extend %subtitle;
  &:first-of-type {
    margin-top: 0;
  }
}


// ------ LAYOUT ------ //

.mat-tab-group {
  margin-top: $header-main-height;
}

.mat-card {
  // 1. step - Import file upload
  &.import-file {
  }
}

.tx-amount {
  & > .big {
    font-size: 20px;
  }
  & > .small {
    font-size: 14px;
  }
  & > .point {
    font-weight: bold;
    margin: 0 2px;
  }
  & > .currency {
    font-size: 17px;
    margin-left: 0.4rem;
  }
}
