<div class="container-block without-tab-bar">
  <app-page-intro>
    <ng-container page-title>Import Listings</ng-container>
    <ng-container page-content>
      Already selling elsewhere? Do you want to import dozens of Listings at once? We've got you covered!<br>
      Choose your preferred Product import method below, specify import settings and tweak the result.
    </ng-container>
    <ng-container page-help>
      Some of the attributes of imported products might be missing or lost during import (due to not standardized formats),<br>
      so you'll likely need to update few of them manually in 2nd step.
    </ng-container>
  </app-page-intro>
</div>

<mat-horizontal-stepper [@.disabled]="true" [linear]="true" class="no-bg" #stepper>
  <!-- Overwrite default Stepper icons: https://material.angular.io/components/stepper/overview#overriding-icons -->
  <ng-template matStepperIcon="edit">
    <custom-icon>
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-check"></mat-icon>
    </custom-icon>
  </ng-template>
  <ng-template matStepperIcon="done">
    <custom-icon>
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-pen-1"></mat-icon>
    </custom-icon>
  </ng-template>


  <!-- ======= 1. SELECT IMPORT ======= -->
  
  <mat-step [completed]="stepper.selectedIndex >= 1">
    <ng-template matStepLabel>Select Import</ng-template>
    <div class="stepper-content select-import" fxLayout fxLayoutGap="35px">

      <div class="filter" fxFlex="0 0 230px">
        <h2 class="subtitle">Select import source</h2>
        <mat-card class="filter-card">
          <mat-radio-group class="radio-group block-radio" [(ngModel)]="selectedImport">
            <mat-radio-button *ngFor="let import of filterImportsByNetwork" class="filter-option" 
                              color="primary" [value]="import"
                              (change)="radioChange($event)">{{ import.name }}</mat-radio-button>
          </mat-radio-group>
        </mat-card>
      </div><!-- .filter-->

      <div class="import-config" fxFlex="0 1 100%" *ngIf="selectedImport">
        <h2 class="subtitle">Import settings</h2>
        <mat-card [formGroup]="selectedImport.form" [ngSwitch]="selectedImport.id" class="import-file">
          <!-- Customized CSV UI -->
          <ng-container *ngSwitchCase="'csv-import'">
            <app-import-custom-ui-csv [import]="selectedImport" (clear)="clearOldValues()"></app-import-custom-ui-csv>
          </ng-container>
  
          <!-- Customized Woocommerce UI -->
          <ng-container *ngSwitchCase="'woocommerce-import'">
            <app-import-custom-ui-woocommerce [import]="selectedImport" (clear)="clearOldValues()"></app-import-custom-ui-woocommerce>
          </ng-container>
  
          <!-- Dynamic Fallback UI -->
          <ng-container *ngSwitchDefault>
            <h3 class="box-title">{{selectedImport.description}}</h3>
            <div *ngFor="let param of selectedImport.params" [ngSwitch]="param.type">
              <mat-form-field *ngSwitchCase="'text'"
                              [formGroup]="selectedImport.form">
                <input matInput [formControlName]="param.name" [placeholder]="param.message" [type]="param.type" (change)="clearOldValues()">
              </mat-form-field>
  
              <mat-form-field *ngSwitchCase="'number'"
                              [formGroup]="selectedImport.form">
                <input matInput min="0" (paste)="numericValidator($event)" (keypress)="numericValidator($event)" 
                      [formControlName]="param.name" [placeholder]="param.message" (change)="clearOldValues()"
                      type="text">
              </mat-form-field>
  
              <mat-form-field *ngSwitchCase="'file'"
                              [formGroup]="selectedImport.form">
                <ngx-mat-file-input [formControlName]="param.name" [placeholder]="param.message" [accept]="param.fileType" (change)="clearOldValues()"></ngx-mat-file-input>
              </mat-form-field>
            </div>
          </ng-container>
          <p class="warning" *ngIf="importError">{{ importError }}</p>
        </mat-card>

        <div class="action-buttons" fxLayoutAlign="end center" fxLayoutGap="8px">
          <button mat-raised-button color="primary" [disabled]="!selectedImport.form.valid" (click)="importLoad()">
            <mat-icon class="icon" fontSet="partIcon" fontIcon="part-next-single"></mat-icon>
            Load
          </button>
        </div>
      </div><!-- .import-config -->

    </div><!-- .select-import.stepper-content -->
  </mat-step>


  <!-- ======= 2. REVIEW IMPORT DATA ======= -->
  
  <mat-step [completed]="stepper.selectedIndex >= 2">
    <ng-template matStepLabel>Review Import Data</ng-template>
    <div class="stepper-content review-import-data">

      <mat-accordion *ngIf="listings.length > 0">
        <h2 class="subtitle">Products found for import</h2>
        <p class="info">
          Based on your product file, we've found these Products for import. Review and update their missing information, if any.
        </p>
        <app-import-listing *ngFor="let listing of listings" [listing]="listing" (onChange)="clearEstimate()"></app-import-listing>
      </mat-accordion> 

      <div class="action-buttons" fxLayoutAlign="space-between center" fxLayoutGap="8px">
        <button mat-button matStepperPrevious>
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-previous-single"></mat-icon>
          Back
        </button>
        <button mat-raised-button color="primary" [disabled]="!canShip" (click)="nextStep()">
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-next-single"></mat-icon>
          Continue to shipping
        </button>
      </div>

    </div><!-- .review-import-data.stepper-content -->
  </mat-step>


  <!-- ======= 3. SHIPPING & EXPIRATION ======= -->
  
  <mat-step [completed]="stepper.selectedIndex >= 3">
    <ng-template matStepLabel>Shipping & Expiration</ng-template>
    <div class="stepper-content shipping-expiration">

      <h2 class="subtitle">Shipping &amp; Listing expiration</h2>
      <mat-card>
        <h3 class="box-title">Shipping</h3>
        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="30px">
    
          <mat-select-search
            fxFlex="1 1 30%"
            class="full-width"
            [options]="countryList.getList()"
            [showValueOf]="'name'"
            [placeHolder]="'Shipping from (your country)'"
            [isRequired]="'true'"
            [isLexigraphicalOrder]="true"
            [defaultSelectedValue]="selectedCountry"
            (onChange)="onCountryChange($event)">
          </mat-select-search>
          <div class="desc" fxFlex="1 1 70%">
            <p>
              Select your country, from which you will ship your products.
            </p>
            <p class="widget-help">
              Domestic shipping rate will apply for selected country. For all other countries, international shipping rates will be applied.
            </p>
          </div><!-- .desc -->
    
        </div>
    
        <h3 class="box-title">Listing expiration &amp; fees</h3>
        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="30px">
    
          <mat-form-field class="full-width" fxFlex="1 1 30%">
            <mat-label>Select expiry time</mat-label>
            <mat-select [(value)]="selectedExpiration" (selectionChange)="clearEstimate()">
              <mat-option>None</mat-option>
              <mat-option [disabled]="expire?.isDisabled" *ngFor="let expire of expiredList" [value]="expire.value">
                {{ expire.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="desc" fxFlex="1 1 70%">
            <p>
              How long should the imported Listings be published on the Open Marketplace?
            </p>
            <p class="widget-help">
              Listing(s) publishing fee increases linearly for each published day. After this period, Listings will expire and you will need to re-publish them again.
            </p>
          </div><!-- .desc -->
    
        </div>
      </mat-card>
    
    
      <div class="action-buttons" fxLayout fxLayoutGap="30px" fxLayoutAlign="space-between center">
        <button mat-button matStepperPrevious>
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-previous-single"></mat-icon>
          Back
        </button>
        <button mat-raised-button color="primary" [disabled]="!canEstimate" (click)="estimateFee()">
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-next-single"></mat-icon>
          Continue
        </button>
      </div><!-- .action-buttons -->

    </div><!-- .shipping-expiration.stepper-content -->
  </mat-step>


  <!-- ======= 4. CONFIRM & PUBLISH ======= -->
  
  <mat-step [completed]="stepper.selectedIndex >= 4">
    <ng-template matStepLabel>Confirm & Publish</ng-template>
    <div class="stepper-content confirm-publish">

      <p class="info" *ngIf="!!currentestimateFee">
        Publishing fee for {{ filterListingsByPublished.length }} Listings / {{ selectedExpiration }} day(s):
        <strong>
          <span class="big">{{ currentestimateFee.getIntegerPart() }}</span>
          <span *ngIf="currentestimateFee.ifDotExist()">
            <span class="point">.</span>
            <span class="small">{{ currentestimateFee.getFractionalPart() }}</span>
          </span>
        </strong>
        <span class="currency">PART</span>
      </p>

      <table mat-table [dataSource]="filterListingsByPublished" class="table-full-width">
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Listing title</th>
          <td mat-cell *matCellDef="let listing"> {{listing.title}} </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="basePrice">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let listing"> {{listing.basePrice}} </td>
        </ng-container>

        <!-- Shipping Column -->
        <ng-container matColumnDef="domesticShippingPrice">
          <th mat-header-cell *matHeaderCellDef>Domestic Shipping</th>
          <td mat-cell *matCellDef="let listing"> {{listing.domesticShippingPrice}} </td>
        </ng-container>

        <!-- Intl Shipping Column -->
        <ng-container matColumnDef="internationalShippingPrice">
          <th mat-header-cell *matHeaderCellDef>International Shipping</th>
          <td mat-cell *matCellDef="let listing"> {{listing.internationalShippingPrice}} </td>
        </ng-container>

        <!-- Fee Column -->
        <ng-container matColumnDef="fee">
          <th mat-header-cell *matHeaderCellDef>Publishing fee</th>
          <td mat-cell *matCellDef="let listing"> {{listing.fee}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="['title', 'basePrice', 'domesticShippingPrice', 'internationalShippingPrice', 'fee']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['title', 'basePrice', 'domesticShippingPrice', 'internationalShippingPrice', 'fee'];"></tr>
      </table>

      <div class="action-buttons" fxLayoutAlign="space-between center" fxLayoutGap="8px">
        <button mat-button matStepperPrevious>
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-previous-single"></mat-icon>
          Back
        </button>
        <button mat-raised-button color="primary" (click)="publishListing()">
          <mat-icon class="icon" fontSet="partIcon" fontIcon="part-check"></mat-icon>
          Publish imported Listings
        </button>
      </div>

    </div><!-- .confirm-publish.stepper-content -->
  </mat-step>

</mat-horizontal-stepper>
