@import './src/assets/_config'; // import shared colors etc.
@import './src/app/wallet/shared/_filter-sorting'; // filtering & sorting

// ------ UI ------ //

.subtitle {
  @extend %subtitle;
  &:first-of-type {
    margin-top: 0;
  }
}

.box-title {
  @extend %box-title;
  margin-top: 0;
}

p.info {
  margin-bottom: 0;
  background: rgba($secondary, 0.1);
}

.error {
  color: $color-alert;
}


// ------ LAYOUT ------ //

.container-block {
  margin-top: $header-main-height;
}

.mat-stepper-horizontal {
  padding: 11px; // TODO: unify with Cart styles?
}

.stepper-content {
  margin-top: 24px; // margin between stepper "tabs" and content
}

.action-buttons {
  margin-top: 32px;
}

.table-full-width {
  width: 100%;
}
