@import "./src/assets/_config"; // import shared colors etc.
@import "./src/app/wallet/shared/_filter-sorting"; // filtering & sorting


// ------ UI ELEMENTS ------ //

.search-address {
  .mat-icon {
    top: 4px;
    right: 18px;
    font-size: 14px;
  }
}



// ------ LAYOUT ------ //

.address-book {
  margin-top: $header-main-height;
  display: flex;

  .filter {
    flex: 0 0 230px;
    margin-right: 30px;
  }

  .addresses {
    flex: 1 1 100%;
    max-width: calc(100% - 260px);
  }

}

