<div class="address-book container-block without-tab-bar">

  <!-- PR #1267 | PD-483: implement toggle-able page title description: -->
  <div class="page-intro"><!-- [ngClass]="{ 'inactive': !introDisplayed }" -->
    <!--button mat-button class="intro-toggle small"
            (click)="introDisplayed = !introDisplayed"
            matTooltip="{{ (introDisplayed) ? 'Hide intro': 'Show help' }}" matTooltipPosition="before">
      <mat-icon fontSet="partIcon" fontIcon="part-{{ (introDisplayed) ? 'cross': 'circle-question' }}"></mat-icon>
    </button-->
    <h1>Address Book</h1>
    <div class="content"><!-- *ngIf="introDisplayed" -->
      <p>
        Address Book is your personal collection of saved addresses belonging to other parties.
      </p>
      <p class="widget-help">
        Note that it is recommended that you mostly save Private addresses (if possible).<br>
        Re-using the same Public addresses increases transaction traceability, which results in loss of privacy both for you and the other party.
      </p>
    </div>
  </div><!-- .page-intro -->

  <div class="filter">

    <div class="add-address">
      <button mat-raised-button color="primary" (click)="openNewAddress()" class="full-width"
              matTooltip="Save new address to your Address book" matTooltipPosition="above">
        <mat-icon fontSet="partIcon" fontIcon="part-circle-plus"></mat-icon>
        Add new address
      </button>
    </div>

    <div class="section search-sorting">
      <div class="subtitle">Search</div>
      <mat-card class="filter-card">
        <mat-form-field class="icon-input search-address">
          <input matInput type="text" [(ngModel)]="query" [ngModelOptions]="{standalone: true}"
                placeholder="Search Addresses" (keyup.escape)="query = ''">
          <mat-icon *ngIf="query" (click)="query=''" matTooltip="Clear" fontSet="partIcon"
                    fontIcon="part-clear-all"></mat-icon>
          <mat-icon *ngIf="!query" fontSet="partIcon" fontIcon="part-search" matTooltip="Search For Address" matTooltipPosition="before"></mat-icon>
        </mat-form-field>
      </mat-card>

      <div class="subtitle">Filter by type</div>
      <mat-card class="filter-card">
        <!-- FIXME: needs connecting to pagination (so that number of results/pages gets updated on selecting some type filter) -->
        <mat-select class="type-filter" name="type" (selectionChange)="filterType($event)" value="">
          <mat-option value="">All types</mat-option>
          <mat-option value="public">Public</mat-option>
          <mat-option value="private">Private</mat-option>
        </mat-select>
      </mat-card>
    </div><!-- .search-sorting -->

  </div><!-- .filter -->


  <div class="addresses section with-filter">

    <address-table
      [query]="query"
      [filter]="filter"
      [displayHeader]="false"
      [displayInternalHeader]="true"
      [displayPagination]="true"
      [displayLabel]="true"
      [displayAddress]="true"
      [displayPurpose]="true"
      [displayToolsMenu]="true"
      [displayQrMenu]="false"
      (editLabelEmitter)="editLabel($event)">
    </address-table>

  </div><!-- addresses -->

</div>
