<mat-expansion-panel class="bot order list-item no-padding" [ngClass]="{ 'bot-disabled' : !bot.enabled }">

  <mat-expansion-panel-header class="header">
    <div class="header-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="photo" fxFlex="0 0 80px">
        <img src="{{ bot?.image }}">
      </div>
      <div class="meta" fxFlex="1 1 100%">
        <div class="title">{{ bot?.name }}</div>
        <div class="type">{{ bot?.type }}</div>
      </div>
      <div class="status-wrap" fxFlex="0 0 140px">
        <div class="status">
          <span class="dot"></span>{{ bot.enabled ? 'Active' : 'Inactive' }}
        </div>
      </div>
    </div>
  </mat-expansion-panel-header>

  <div class="detail" fxLayout="row" fxLayoutGap="30px">

    <div class="bot-info" fxFlex="50%">
      <div class="title">Bot description</div>
      <p>
        {{ bot?.description }}
      </p>
      <div class="title">Bot address</div>
      <code class="bot-address">
        {{ bot?.address }}
      </code>
    </div>

    <div class="author-info" fxFlex="50%">
      <div class="title">Author info</div>
      <table class="full-width">
        <tr>
          <th>Name/nick</th>
          <td>{{ bot?.author.name }}</td>
        </tr>
        <tr>
          <th>E-mail</th>
          <td>{{ bot?.author.email }}</td>
        </tr>
        <tr>
          <th>Chat</th>
          <td>
            <div *ngFor="let chat of bot?.author.chat_ids">{{chat.id}} ({{chat.type}})</div>
          </td>
        </tr>
      </table>
    </div>

  </div><!-- .detail -->

  <mat-action-row class="action-buttons" fxLayout fxLayoutAlign="end stretch">
    <div class="toggle-button">
      <button mat-raised-button color="accent" *ngIf="!bot.enabled" (click)="enable()" matTooltip="Click to enable" matTooltipPosition="below">
        <mat-icon fontSet="partIcon" fontIcon="part-small-plus"></mat-icon>
        Enable bot
      </button>
      <button mat-raised-button color="primary" *ngIf="bot.enabled" (click)="disable()" matTooltip="Click to disable" matTooltipPosition="below">
        <mat-icon fontSet="partIcon" fontIcon="part-flash"></mat-icon>
        Bot active
      </button>
    </div>
  </mat-action-row>

</mat-expansion-panel>
