@import "./src/assets/_config"; // import shared colors etc.

.icon {
  padding: 1px;
  .mat-icon {
    width: auto;
    height: auto;
    font-size: 16px;
  }

  // Encryption
  &.encryption {
    cursor: pointer;
  }

  // Staking icon
  &.staking {
    font-size: 0.8em;
    &.enabled {
      color: $color-info;
    }
    &.disabled {
      color: darken($bg-shadow, 15%);
    }
  }
}