<div class="address-info" fxLayout>
  <div class="sidebar" fxFlex="0 0 180px">
    <!-- QR code -->
    <div #qrCode class="qrcode">
      <qrcode size="180" [level]="'H'" qrdata="particl:{{ selected?.address }}">
      </qrcode>
    </div><!-- qrcode -->
  </div>

  <div class="address-details" fxFlex="1 1 480px">

    <!-- Address type (public/private)-->
    <div class="address-type">
      <mat-icon *ngIf="type === 'public'" fontSet="partIcon" fontIcon="part-public"></mat-icon>
      <mat-icon *ngIf="type === 'private'" fontSet="partIcon" fontIcon="part-anon"></mat-icon>
      {{ type }} address
      <!-- FIXME: show ID only when MY address: -->
      {{ selected?.owned === 'true' ? '#' + selected?.id : "" }}
    </div>

    <!-- Address label -->
    <div class="address-label">
      <mat-form-field class="icon-input label-input full-width">
        <input matInput class="label" type="text" value="{{ selected?.label }}" [ngClass]="{'no-label': selected?.label === '(No label)'}" [disabled]="isEditableMode" [(ngModel)]="label" (keyup.enter)="updateLabel(selected?.address)">
        <mat-icon matTooltip="Edit label" *ngIf="isEditableMode" fontSet="partIcon" fontIcon="part-pen-1" (click)="changeLabel()"></mat-icon>
        <mat-icon matTooltip="Save label" *ngIf="!isEditableMode" fontSet="partIcon" fontIcon="part-circle-check" (click)="updateLabel(selected?.address)"></mat-icon>
      </mat-form-field>
    </div><!-- .address-label -->

    <!-- Address string -->
    <div class="address address-string" fxLayout="row wrap" fxLayoutAlign="start center" matTooltip="Click to copy" matTooltipPosition="after" ngxClipboard [cbContent]="selected?.address" (click)="copyToClipBoard()">
      <div *ngFor="let word of selected?.readable" class="address-word" fxFlex="11.111">
        {{ word }}
      </div>
    </div>

    <!-- if PUBLIC + MY address: -->
    <p class="widget-help" *ngIf="type === 'public' && selected?.owned === 'true' ">
      This is your public address &ndash; its balance and transaction history is publicly visible on blockchain. If you would like to increase your privacy, use Private address instead.
    </p>
    <!-- if PRIVATE + MY address: -->
    <p class="widget-help" *ngIf="type === 'private' && selected?.owned === 'true' ">
      This is your private address &ndash; its balance and transaction history is hidden for public on blockchain. For auditable addresses, use Public addresses instead.
    </p>
    <!-- TODO: if PUBLIC + SAVED 3rd-PARTY (not mine) address: -->
    <p class="widget-help" *ngIf="type === 'public' && selected?.owned === 'false'">
      3rd-party's Public address (not yours) &ndash; any payments made to this address will be publicly visible on the blockchain. For increased privacy, you should ask the recipient for their Private address instead.
    </p>
    <!-- TODO: if PRIVATE + SAVED 3rd-PARTY (not mine) address: -->
    <p class="widget-help" *ngIf="type === 'private' && selected?.owned === 'false'">
      3rd-party's Private address (not yours) &ndash; any payments made to this address will be hidden for public on the blockchain.
    </p>

  </div><!-- .main -->
</div><!-- .address-info -->