<div class="address-info" fxLayout>
  <div class="sidebar" fxFlex="0 0 180px">
    <!-- QR code -->
    <div #qrCode class="qrcode">
      <qrcode size="180" [level]="'H'" qrdata="particl:{{ selected?.address }}">
      </qrcode>
    </div><!-- qrcode -->
  </div>

  <div class="main" fxFlex="1 1 480px">

    <!-- Address type (public/private)-->
    <div class="address-type">
      <mat-icon *ngIf="type === 'public'" fontSet="partIcon" fontIcon="part-public"></mat-icon>
      <mat-icon *ngIf="type === 'private'" fontSet="partIcon" fontIcon="part-anon"></mat-icon>
      {{ type }} address #{{ selected?.id }}
    </div>

    <!-- Address label -->
    <div class="address-label">
      <!--
        FIXME/TODO:
          1. default state: disabled input + "edit label" icon (pen-1)
          2. when user clicks on "edit label" icon, input gets enabled + icon switches to "save label"
          3. when user saves label, input value gets updated, input becomes disabled again + icon switches back to "edit label"
        =====
          4. remove `add-address-label` component/modal
          5. new addresses will be created with default label as "address #51" (according to their {{ address.id }})
      -->
      <mat-form-field class="icon-input label-input full-width">
        <input matInput class="label" type="text" value="{{ selected?.label }}" [ngClass]="{'no-label': selected?.label === '(No label)'}" [disabled]="isEditableMode" [(ngModel)]="label" (keyup.enter)="updateLabel(unUsedAddress?.address)">
        <mat-icon matTooltip="Edit label" *ngIf="isEditableMode" fontSet="partIcon" fontIcon="part-pen-1" (click)="changeLabel()"></mat-icon>
        <mat-icon matTooltip="Save label" *ngIf="!isEditableMode" fontSet="partIcon" fontIcon="part-circle-check" (click)="updateLabel(unUsedAddress?.address)"></mat-icon>
      </mat-form-field>
    </div><!-- .address-label -->

    <!-- Address string -->
    <div class="address address-string" fxLayoutWrap fxLayoutAlign="start center" matTooltip="Click to copy" matTooltipPosition="after" ngxClipboard [cbContent]="selected?.address" (click)="copyToClipBoard()">
      <div *ngFor="let word of selected?.readable" class="address-word" fxFlex="11.111">
        {{ word }}
      </div>
    </div>

    <p class="widget-help" *ngIf="type === 'public'">
      This is your public address &ndash; its balance and transaction history is publicly visible on blockchain. If you would like to increase your privacy, use Private address instead.
    </p>
    <p class="widget-help" *ngIf="type === 'private'">
      This is your private address &ndash; its balance and transaction history is hidden for public on blockchain. For auditable addresses, use Public addresses instead.
    </p>

  </div><!-- .main -->
</div><!-- .address-info -->