<!-- Do not remove the below class it is using for test case -->
<app-header class="test-case-container">
</app-header>

<div class="container-block without-tab-bar">
  <app-page-intro>
    <ng-container page-title>Exchange Bots</ng-container>
    <ng-container page-content>
      Exchange Bots provide connections to exchanges and swap services. Enable as many as you want to allow exchange functionality.
    </ng-container>
    <ng-container page-help>
      At least one active bot is needed for Exchange to work.
    </ng-container>
  </app-page-intro>


  <div class="filter">

    <h2 class="section-title">
      Search
    </h2>

    <mat-card class="filter-card">

      <mat-form-field class="--plain" appearance="fill">
        <input matInput type="text" placeholder="Search Bots" [(ngModel)]="filters.search">
        <button *ngIf="filters.search" matSuffix mat-button class="small" (click)="filters.search=''; clearAndLoadPage()" matTooltip="Clear" matTooltipPosition="after">
          <mat-icon fontIcon="part-clear-all"></mat-icon>
        </button>
        <mat-icon *ngIf="!filters.search" matSuffix fontIcon="part-search"></mat-icon>
      </mat-form-field>

    </mat-card><!-- .filter-card -->

    <h2 class="section-title">
      Filter
    </h2>

    <mat-card class="filter-card">
      <mat-form-field class="--plain" appearance="fill">
        <mat-select placeholder="All supported coins/tokens" [(ngModel)]="filters.sort" (selectionChange)="filter()">
          <mat-option value="all">All supported coins/tokens</mat-option>
          <mat-option class="coin-filter-option" *ngFor="let coin of supported_coins" [value]="coin.value">
            <img src="./assets/app-exchange/coins/{{ coin.value.toUpperCase() }}.svg" alt="{{ coin.title }}" class="icon">
            {{ coin.title }} <small>({{ coin.value.toUpperCase() }})</small>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-radio-group class="radio-group block-radio" [(ngModel)]="filters.hashItems" (change)="clearAndLoadPage()">
        <mat-radio-button class="filter-option" *ngFor="let bot of bot_filter" value="{{ bot.value }}" color="accent">
          {{ bot.title }}
          <span class="amount">{{ bot.amount }}</span>
        </mat-radio-button>
      </mat-radio-group>
    </mat-card><!-- .filter-card -->

    <button mat-button class="refresh-bots small" (click)="clearAndLoadPage()">
      <mat-icon fontIcon="part-refresh"></mat-icon>
      Refresh bots
    </button>

  </div><!-- .filter -->

  <!-- Do not remove the below class it is using for test case -->
  <div class="content with-filter test-case-container"
      (scrolled)="loadNextPage()"><!-- infiniteScroll
        [infiniteScrollContainer]="pagination.infinityScrollSelector"
        [fromRoot]="true" -->

    <div class="loading-container" *ngIf="isLoadingBig">
      <div class="loading-info">
        <div class="loading-image">
          <img src="./assets/particl-logo-symbol.svg">
        </div>
        <p class="title">
          Hang on, we're loading the bots
        </p>
        <p class="widget-help">
          This might take a while
        </p>
      </div>
    </div><!-- .loading-container -->

    <app-bot-item [bot]="bot"></app-bot-item>

    <div class="no-results">
      <img class="illustration" src="./assets/app-exchange/illustrations/no-bots.svg" alt="No Bots found">
      <p>
        No matching Bots found
      </p>
      <p class="help-text">
        Sorry, we don't have any bot like that &ndash; try a different search
      </p>
    </div><!-- .no-results -->

  </div><!-- .bot-list -->
</div><!-- .container-block -->
