<div class="container-block without-tab-bar">
  <app-page-intro>
    <ng-container page-title>New Exchange</ng-container>
    <ng-container page-content>
      Easily convert your BTC/altcoins and PART &ndash; select the desired coin and amount to receive and pay with any supported currency
    </ng-container>
    <ng-container page-help>
      <!-- FIXME: button should point to exchange-bots -->
      To enable exchange functionality, you will need at least one active Exchange Bot &ndash; manage them in <button mat-button class="small" routerLink="bots"><mat-icon fontIcon="part-tool"></mat-icon>Exchange Bots</button>
    </ng-container>
  </app-page-intro>


  <div class="choose-coins row" fxLayout fxLayoutAlign="space-between center">

    <mat-card class="choose-coin" fxFlex="50%">
      <header>
        <div class="icon">
          <mat-icon fontIcon="part-arrow-up"></mat-icon>
        </div>
        <h3 class="box-title --larger">Send</h3>
      </header>
      <mat-form-field class="--plain --larger" appearance="fill">
        <mat-select placeholder="Select coin/token">
          <mat-option class="coin-filter-option --larger" *ngFor="let coin of supported_coins" [value]="coin.value">
            <img src="./assets/app-exchange/coins/{{ coin.value.toUpperCase() }}.svg" alt="{{ coin.title }}" class="icon">
            {{ coin.title }} <small>({{ coin.value.toUpperCase() }})</small>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="--plain --larger" appearance="fill">
        <input matInput type="text" placeholder="Enter amount">
        <mat-icon matSuffix fontIcon="part-stake"></mat-icon>
      </mat-form-field>
    </mat-card><!-- .choose-coin -->

    <mat-icon fontIcon="part-transfer"></mat-icon>

    <mat-card class="choose-coin" fxFlex="50%">
      <header>
        <div class="icon">
          <mat-icon fontIcon="part-arrow-down"></mat-icon>
        </div>
        <h3 class="box-title --larger">Receive</h3>
      </header>
      <mat-form-field class="--plain --larger" appearance="fill">
        <mat-select placeholder="Select coin/token">
          <mat-option class="coin-filter-option --larger" *ngFor="let coin of supported_coins" [value]="coin.value">
            <img src="./assets/app-exchange/coins/{{ coin.value.toUpperCase() }}.svg" alt="{{ coin.title }}" class="icon">
            {{ coin.title }} <small>({{ coin.value.toUpperCase() }})</small>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="--plain --larger" appearance="fill">
        <input matInput type="text" placeholder="Enter amount">
        <mat-icon matSuffix fontIcon="part-stake"></mat-icon>
      </mat-form-field>
    </mat-card><!-- .choose-coin -->

  </div><!-- .choose-coins -->

  <div class="centered">
    <!-- TODO: enable button only after coins are chosen above -->
    <button mat-raised-button color="accent">
      <mat-icon fontIcon="part-hamburger-chaos-list"></mat-icon>
      Get Exchange offers
    </button>
  </div>

  
  <!-- TODO: hidden until "get offers" button clicked -->
  <div class="choose-exchange">
    <!-- TODO: when loading offers.. then hide -->
    <!--div class="no-results --smaller --horizontal">
      <img class="illustration" src="./assets/images/illustrations/loading_animated.svg" alt="Loading Exchange offers">
      <div class="text">
        <p>
          Loading Exchange offers
        </p>
        <p class="help-text">
          Please wait a while until your bots get current exchange offers for your coin swap&hellip;
        </p>
      </div>
    </div--><!-- .no-results -->
    <!-- TODO: when offers loaded (show all below) -->
    <div class="exchange-header">
      <div class="name">Exchange name</div>
      <div class="rate">Exchange rate</div>
      <div class="amount">Approx. amount</div>
    </div>
    <mat-card class="no-padding">
      <mat-radio-group class="exchanges block-radio">
        <mat-radio-button class="option" *ngFor="let option of exchanges_list" [value]="option.value" color="accent">
          <div class="exchange">
            <div class="image"><img src="{{ option.image }}" alt="{{ option.title }}"></div>
            <div class="name">{{ option.title }} <span class="tag">{{ option.tag }}</span></div>
            <div class="rate">{{ option.rate }} BTC/PART</div><!-- (input coin) / (output coin) -->
            <div class="amount">{{ option.amount }} PART</div>
          </div>
        </mat-radio-button>
      </mat-radio-group>
    </mat-card>
  </div><!-- .choose-exchange -->

  <div class="centered">
    <p class="help-text">
      Note: final amount of received coins might be slightly different due to market fluctuations and possible exchange fees
    </p>
    <!-- TODO: enable button only after coins are chosen above -->
    <button mat-raised-button color="primary" (click)="openExchangePayModal()">
      <mat-icon fontIcon="part-check"></mat-icon>
      Confirm &amp; Start exchange&hellip;
    </button>
  </div>


  

  <!--div class="action-buttons" fxLayoutAlign="space-between center" fxLayoutGap="8px">
    <button mat-button>
      <mat-icon fontIcon="part-cross"></mat-icon>
      Cancel
    </button>
    <button mat-raised-button color="primary">
      <mat-icon fontIcon="part-arrow-right"></mat-icon>
      Next
    </button>
  </div--><!-- .action-buttons -->


</div><!-- .container-block -->