<div mat-dialog-title>Delete <code>{{ walletName }}</code> wallet</div>
<button class="small-close-button" (click)="dialogClose()">
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>


<div mat-dialog-content class="dialog-content" *ngIf="!isInvalidRequest">
  <p class="lead">
    You are about to <strong>delete your wallet</strong> &ndash; make absolutely sure that you have a backup of your wallet before proceeding further!
  </p>
  <p class="warning message">
    This action cannot be undone and Particl can't restore deleted wallets.<br>
    Do this on your own risk!
  </p>
  <p>
    If you delete this wallet, Particl Desktop will need to switch to another one &ndash; please select which wallet should be activated after the deletion:
  </p>

  <div class="row" fxLayout fxLayoutAlign="center center">
    <mat-form-field class="full-width" fxFlex="50%">
      <mat-label>Select a wallet to return to:</mat-label>
      <mat-select [(value)]="returnWalletName">
        <mat-option *ngFor="let wallet of wallets" [value]="wallet.value">
          {{ wallet.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <p class="warning message">
    Are you certain you wish to delete <code>{{ walletName }}</code> wallet?
  </p>
</div>

<div mat-dialog-content class="dialog-content" *ngIf="isInvalidRequest">
  <p class="warning">
    The {{ walletName }} wallet cannot be deleted, likely because of one of the following reasons:
  </p>
  <ul class="checks">
    <li>The wallet is the default wallet</li>
    <li>The wallet is used on the marketplace (please deregister the wallet from the marketplace first)</li>
  </ul>
</div><!-- .dialog-content -->

<mat-dialog-actions fxLayoutAlign="space-between center">
  <button mat-button mat-dialog-close (click)="dialogClose()">
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="warn" [disabled]="isInvalidRequest || (returnWalletName === undefined)" mat-dialog-close (click)="doConfirmation()">
    <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
    Yes, delete {{ walletName }}
  </button>
</mat-dialog-actions>
