<h3 class="box-title">{{import.description}}</h3>

<div class="row" fxLayout fxLayoutAlign="space-between start" fxLayoutGap="30px">

  <mat-form-field [formGroup]="import.form" class="full-width" fxFlex="1 1 25%">
    <ngx-mat-file-input formControlName="file" placeholder="Woocommerce export file" accept=".csv" (change)="emitClear()"></ngx-mat-file-input>
  </mat-form-field>

  <div class="desc" fxFlex="1 1 75%">
    <p>
      Load your Woocommerce product export file
    </p>
    <p class="widget-help">
      <strong>How to get it?</strong> In your administration, go to Products > All Products, then click on <strong>Export</strong> button next to page's title. Leave pre-filled default settings and click <strong>Generate CSV</strong>.
    </p>
  </div>

</div>


<div class="row" fxLayout fxLayoutGap="30px">

  <mat-form-field [formGroup]="import.form" class="full-width" fxFlex="1 1 25%">
    <input matInput min="0" (paste)="numericValidator($event)" (keypress)="numericValidator($event)" 
          formControlName="currency_rate" placeholder="Currency rate" (change)="emitClear()" type="text">
  </mat-form-field>

  <div class="desc" fxFlex="1 1 75%">
    <p>
      Set static currency conversion rate (currency of your shop > PART)
    </p>
    <p class="widget-help">
      Until we support fiat rates, you'll need to set a conversion rate manually. If you're selling for USD on your shop and USD/PART price is $5, enter "5". Keep in mind, that the price of your products won't reflect future PART price changes.
    </p>
  </div>

</div>
