<div mat-dialog-title>Confirm proposal</div>
<button class="small-close_button pull-right" (click)="dialogClose()">
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>

<div mat-dialog-content class="dialog-content">

  <!-- Confirm proposal submission -->
  <div class="confirmation">
    <div class="tx-info">
      <div class="public">
        <mat-icon class="icon public" fontSet="partIcon" fontIcon="part-notification-speaker"></mat-icon>
        <div class="title">You're proposing</div>
        <p class="help-text">
          Your Proposal would be distributed to Particl network for others to vote on
        </p>
      </div>
    </div>

    <mat-icon class="icon arrow" fontSet="partIcon" fontIcon="part-arrow-down"></mat-icon>

    <div class="name">
      <span class="currency">Dark wallet theme</span>
    </div>

    <p class="fee-info">
      Transaction fee:<span class="amount">{{ transactionAmount.getFee() }} PART</span><span class="fiat">&asymp; 0.05 USD</span><br>
      Total amount:<span
      class="amount">{{ transactionAmount.getAmountWithFee(sendAmount.getAmount()) }} PART</span><span class="fiat">&asymp; 3.47 USD</span>
    </p>

  </div><!-- .confirmation  -->

</div><!-- .dialog-content -->

<mat-dialog-actions fxLayoutAlign="space-between center">
  <button mat-button mat-dialog-close (click)="dialogClose()">
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="confirm()">
    <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
    Confirm &amp; Propose
  </button>
</mat-dialog-actions>
