<div mat-dialog-title>Confirm Proposal submission</div>
<button class="small-close-button pull-right" (click)="dialogClose()">
  <mat-icon fontSet="partIcon" fontIcon="part-circle-remove"></mat-icon>
</button>

<div mat-dialog-content class="dialog-content">

  <!-- Confirm proposal submission -->
  <div class="confirmation">

    <div class="tx-info">
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-notification-speaker"></mat-icon>
      <div class="title">You're proposing</div>
      <p class="help-text">
        Your proposal will be broadcasted to the Particl network for other users to vote on
      </p>
    </div>

    <mat-icon class="icon arrow" fontSet="partIcon" fontIcon="part-arrow-down"></mat-icon>

    <div class="name">
      {{data?.title}}
    </div>

    <p class="fee-info">
      Transaction fee:
      <span class="amount">{{data?.proposalTransactionFee?.getAmount()}} PART</span>
      <span class="fiat">&asymp; 0.05 USD</span><br>
      Total amount:
      <span class="amount">{{data?.proposalTransactionFee?.getAmount()}} PART</span>
      <span class="fiat">&asymp; 3.47 USD</span>
    </p>

  </div><!-- .confirmation  -->

</div><!-- .dialog-content -->

<mat-dialog-actions fxLayoutAlign="space-between center">
  <button mat-button mat-dialog-close (click)="dialogClose()">
    <mat-icon fontSet="partIcon" fontIcon="part-cross"></mat-icon>
    Cancel
  </button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="confirm()">
    <mat-icon fontSet="partIcon" fontIcon="part-check"></mat-icon>
    Confirm &amp; Submit
  </button>
</mat-dialog-actions>
