@import './src/assets/_config'; // import shared colors etc.
@import './src/app/modals/_confirmations-shared'; // shared stuff for confirmation modals


// ------ LAYOUT ------ //

.tx-info { // info about public/blind/anon TX
  .icon {
    font-size: 24px;
    margin-bottom: 8px;
  }
}

.name { // what you're proposing
  font-size: 17px;
}

.icon.arrow {
  margin: 6px 0 24px;
}
