@import "./src/assets/_config"; // import shared colors etc.

.fiat {
  display: none; // hide until implemented (TODO)
}

// ------ UI ------ //

.title {
  // FIXME: swith to @extend %box-title;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}

.help-text {
  // FIXME: switch to: @extend %help-text;
  color: $text-muted;
  font-size: 11px;
  margin-bottom: 25px;
  cursor: help;
}


// ------ LAYOUT ------ //

.dialog-content {
  width: 25rem;
  padding: 20px 15px 10px;
  text-align: center;
}

.tx-info { // info about public/blind/anon TX
  .icon {
    font-size: 24px;
    color: $color;
    margin-bottom: 8px;
  }
  .help-text {
    margin: 5px auto 20px;
    max-width: 20rem;
  }
}

.name { // what you're proposing
  font-size: 17px;
}

.icon.arrow {
  font-size: 18px;
  margin: 6px 0 24px;
  color: mix($text-muted, $bg-shadow);
}

.fee-info {
  // FIXME: switch to: @extend %help-text;
  color: $text-muted;
  font-size: 11px;
  margin: 30px 0 0;
  & > .amount {
    margin: 0 0 0 10px;
  }
}
