//@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* card element */
.card {
  position: relative;
  background-color: white;
  padding: 20px;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #F1F1F1;
}

.col-xs-6 {
  padding-left: 0;
}

.col-xs-4 {
  padding-left: 0;
}

/* label of an input in a card */
.input-label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
}

/* Particl buttons */
button {
  background-color: white;
  border: none;
  padding: 8px 30px;
  margin: 0 5px 20px 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  border-bottom: 1px solid #F1F1F1;
}
button:active {
  border: 0px;
  transform: translateY(2px);
}
.warning {
  color: white;
  background-color: #ED4B4D;
  border-bottom: 2px solid #B64446;
}
.validate {
  color: white;
  background-color: #03E8B0;
  border-bottom: 1px solid #07B98D;
}

/* Particl inputs */
input[type="text"] {
  background-color: #FBFBFB;
  border: 1px solid #EDEDED;
  border-radius: 3px;
  padding: 4px;
}

.form-control {
  margin-left: 20px;
}