//@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* card element */
.card {
    background-color: white;
    border-bottom: 1px solid #f1f1f1;
    margin: 0 0 20px;
    padding: 20px;
    position: relative;
  }

.col-xs-6 {
    padding-left: 0;
}

.col-xs-4 {
    padding-left: 0;
}

/* label of an input in a card */
.input-label {
    font-size: .9em;
    font-weight: bold;
    text-transform: uppercase;
}

/* Particl buttons */
button {
    background-color: white;
    border: none;
    border-bottom: 1px solid #f1f1f1;
    font-size: .8em;
    font-weight: bold;
    margin: 0 5px 20px;
    padding: 8px 30px;
    text-transform: uppercase;
}

button
:active {
    border: .01px;
    transform: translateY(2px);
}

.warning {
    background-color: #ed4b4d;
    border-bottom: 2px solid #b64446;
    color: white;
}

.validate {
    background-color: #03e8b0;
    border-bottom: 1px solid #07b9bd;
    color: white;
}

/* Particl inputs */
input[type='text'] {
    background-color: #fbfbfb;
    border: 1px solid #ededed;
    border-radius: 3px;
    padding: 4px;
}
