<!-- Do not remove the below class it is using for test case -->
<app-header class="test-case-container">
  <div class="tab-bar">
    <mat-tab-group (selectedTabChange)="changeTab($event.index)">
      <mat-tab *ngFor="let page of settingPages">
        <ng-template mat-tab-label>
          <mat-icon *ngIf="page.icon.length" class="icon" fontSet="partIcon" fontIcon="{{page.icon}}"></mat-icon>
          {{page.header}}
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-header>


<div class="container-block with-tab-bar"  *ngIf="pageIdx !== -1">
  <app-page-intro childPageAlias="{{settingPages[pageIdx].header}}">
    <ng-container page-title>{{ currentPage.info.title }}</ng-container>
    <ng-container page-content>
        {{ currentPage.info.description }}
    </ng-container>
    <ng-container page-help>
        {{ currentPage.info.help }}
    </ng-container>
  </app-page-intro>

  <ng-container *ngTemplateOutlet="isLoading ? pageloader : content"></ng-container>

</div>


<ng-template #pageloader>
  <div class="no-results">
    <p>
      Requesting configuration values
    </p>
  </div>
</ng-template>


<ng-template #content>

  <div class="row" fxLayout fxLayoutGap="30px">
    <div class="half" fxFlex="50">

      <h2 class="subtitle">Group name</h2>
      <mat-card>
        <div class="item">
          <mat-checkbox class="checkbox align-top wrap">
            <h4 class="option">Example checkbox</h4>
            <p class="desc">With some nice explanatory description</p>
          </mat-checkbox>
        </div>
        <hr class="divider">
        <div class="item">
          <mat-checkbox class="checkbox align-top wrap">
            <h4 class="option">Example checkbox<span class="tag">Optional tag</span></h4>
            <p class="desc">With some nice explanatory description</p>
          </mat-checkbox>
        </div>
      </mat-card>

      <h2 class="subtitle">Group name</h2>
      <mat-card>
        <div class="item">
          <h4 class="option">TX fees</h4>
          <p class="desc">Some nice explanation</p>
          <mat-form-field floatLabel="never">
            <input matInput type="number" min="0.0001" step="0.0001" value="0.01">
          </mat-form-field>
          <mat-form-field>
            <mat-select>
              <mat-option value="xx">
                PART
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card>

    </div><!-- .half -->
    <div class="half" fxFlex="50">

      <h2 class="subtitle">Group name</h2>
      <mat-card>
        <div class="row" fxLayout fxLayoutGap="20px">
          <div class="half" fxFlex="50">
            <h4 class="option">Min. Ring size</h4>
            <p class="desc">Some nice explanation</p>
            <mat-form-field class="full-width">
              <input matInput placeholder="Example input">
            </mat-form-field>
          </div>
          <div class="half" fxFlex="50">
            <h4 class="option">Max. Ring size</h4>
            <p class="desc">Some nice explanation</p>
            <mat-form-field>
              <mat-select>
                <mat-option value="xx">
                  Example select
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card>

    </div><!-- .half -->
  </div><!-- .row (1st tab) -->

  <div class="row" fxLayout fxLayoutGap="30px">

    <div class="half" fxFlex="50">
      <h2 class="subtitle">2nd tab Group name</h2>
      <mat-card>
        <div class="item">
          <h4 class="option">TX fees</h4>
          <p class="desc">Some nice explanation</p>
          <mat-form-field floatLabel="never">
            <input matInput type="number" min="0.0001" step="0.0001" value="0.01">
          </mat-form-field>
          <mat-form-field>
            <mat-select>
              <mat-option value="xx">
                PART
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card>

    </div><!-- .half -->
    <div class="half" fxFlex="50">

      <h2 class="subtitle">2nd tab Group name</h2>
      <mat-card>
        <div class="row" fxLayout fxLayoutGap="20px">
          <div class="half" fxFlex="50">
            <h4 class="option">Min. Ring size</h4>
            <p class="desc">Some nice explanation</p>
            <mat-form-field class="full-width">
              <input matInput placeholder="Example input">
            </mat-form-field>
          </div>
          <div class="half" fxFlex="50">
            <h4 class="option">Max. Ring size</h4>
            <p class="desc">Some nice explanation</p>
            <mat-form-field>
              <mat-select>
                <mat-option value="xx">
                  Example select
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card>

    </div><!-- .half -->
  </div><!-- .row (2nd tab) -->

  <div class="row" fxLayout fxLayoutGap="30px">
    <div class="half" fxFlex="50">

      <h2 class="subtitle">2nd tab Group name</h2>
      <mat-card>
        <div class="item">
          <h4 class="option">TX fees</h4>
          <p class="desc">Some nice explanation</p>
          <mat-form-field floatLabel="never">
            <input matInput type="number" min="0.0001" step="0.0001" value="0.01">
          </mat-form-field>
          <mat-form-field>
            <mat-select>
              <mat-option value="xx">
                PART
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card>

    </div><!-- .half -->
    <div class="half" fxFlex="50">

      <h2 class="subtitle">2nd tab Group name</h2>
      <mat-card>
        <div class="row" fxLayout fxLayoutGap="20px">
          <div class="half" fxFlex="50">
            <h4 class="option">Min. Ring size</h4>
            <p class="desc">Some nice explanation</p>
            <mat-form-field class="full-width">
              <input matInput placeholder="Example input">
            </mat-form-field>
          </div>
          <div class="half" fxFlex="50">
            <h4 class="option">Max. Ring size</h4>
            <p class="desc">Some nice explanation</p>
            <mat-form-field>
              <mat-select>
                <mat-option value="xx">
                  Example select
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card>

    </div><!-- .half -->
  </div><!-- .row (2nd tab) -->


  <div class="actions">
    <div class="left">
      <button mat-button
        color="basic"
        [disabled]="!currentPage.isChanged"
        appDebounceClick
        (debounceClick)="clearChanges()"
      >
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-refresh"></mat-icon>
        Reset unsaved changes
      </button>
    </div>
    <div class="right">
      <button mat-raised-button color="primary" class="validate">
        <mat-icon class="icon" fontSet="partIcon" fontIcon="part-check"></mat-icon>
        Save changes
      </button>
    </div>
  </div>
</ng-template>
